@model MyStik.TimeTable.Web.Models.SemesterImportModel
@{
    ViewBag.Title = "Upload";
}





<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Import von Stundenplandaten für @Model.Organiser.ShortName und Semester @Model.Semester.Name</h4>
                <h5 class="card-title"><i class="bi-files"></i> Schritt 2 von 3: Auswahl Dateien</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Upload", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    <fieldset>
                        @Html.HiddenFor(m => m.OrganiserId)
                        @Html.HiddenFor(m => m.SemesterId)
                        @Html.HiddenFor(m => m.SegmentId)
                        
                        <div class="row">
                            <label class="col-md-4 form-label">JSON-Datei</label>
                            <div class="col-md-8">
                                <input class="form-control" type="file" name="AttachmentDays" id="Attachment1">
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-4 col-md-8">
                                <button type="submit" class="btn btn-outline-primary"><i class="bi-chevron-right"></i> Weiter</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script type="text/javascript" src="@Url.Content("~/Assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js")"></script>
}
