@model WIQuest.Web.Data.QuestionCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fragenkatalog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reihenfolge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reihenfolge)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Zurück zur Liste", "Index")
</p>
