@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Data.Course
<tr>
    @if (string.IsNullOrEmpty(Model.Name))
    {
        <td><a href="@Url.Action("Details", new {id = Model.Id})">Keine Bezeichnung</a></td>
    }
    else
    {
        <td><a href="@Url.Action("Details", new {id = Model.Id})">@Model.Name</a></td>
    }
    <td>@Model.Dates.Count</td>
    @if (Model.Dates.Count > 0)
    {
        <td>@Html.TimeSpanWithDate(Model.Dates.OrderBy(d => d.Begin).First())</td>
    }
    else
    {
        <td>keine Termine vorhanden</td>
    }
</tr>