@using System.Globalization
@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Data.Course
<table class="table table-condensed">
    <thead>
        <tr>
            <th>
                <input id="checkAll" type="checkbox" onclick="toggleDateCheckAll(this)">
            </th>
            <th>Tag</th>
            <th>Datum</th>
            <th>Zeitraum</th>
            <th>Ort(e)</th>
            <th>Raumkonflikte</th>
            <th>Dozent</th>
            <th>Titel/Beschreibung</th>
            <th>Kurzinfo</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="dateList2">
        @foreach (var date in Model.Dates.OrderBy(d => d.Begin))
        {
            var histAttr = "";
            if (date.End < DateTime.Now)
            {
                histAttr = "history";
            }
            if (date.Occurrence.IsCanceled)
            {
        <tr @histAttr>
            <td>
                @if (date.End >= DateTime.Now)
                {
                    <input id="@date.Id" type="checkbox" onclick="toggleDateCheck(this)" value="" class="chk">
                }
            </td>
            <td>@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(date.Begin.DayOfWeek)</td>
            <td><del>@date.Begin.ToString("dd.MM.yyyy", new CultureInfo("de-DE"))</del></td>
            <td><del>@Html.TimeSpan(date)</del></td>
            <td colspan="5">abgesagt</td>
            <td>
                @if (date.End >= DateTime.Now)
                {
                    if (Model.IsInternal && !ViewBag.UserRight.IsCourseAdmin)
                     {
                         <div class="btn-group pull-right" role="group">
                             @Ajax.ActionButton("fa-info-circle text-primary", "Infos ändern", "ChangeDateInformation", "Course",
                                 new {dateId = date.Id},
                                 new AjaxOptions()
                                 {
                                     HttpMethod = "Post",
                                     InsertionMode = InsertionMode.Replace,
                                     UpdateTargetId = "modalDelete",
                                     OnSuccess = "showEditDateInformation()"
                                 },
                                 new {@class = "btn btn-default btn-xs"}
                                 )
                         </div>
                     }



                    if (!Model.IsInternal || ViewBag.UserRight.IsCourseAdmin)
                    {
                        <div class="btn-group pull-right" role="group">
                            @Ajax.ActionButton("fa-refresh text-success", "reaktivieren", "ReactivateDate2", "Course",
                                new {dateId = date.Id},
                                new AjaxOptions() {HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "dateTable"},
                                new {@class = "btn btn-default btn-xs"}
                                )

                            @Ajax.ActionButton("fa-info-circle text-primary", "Infos ändern", "ChangeDateInformation", "Course",
                                new {dateId = date.Id},
                                new AjaxOptions()
                                {
                                    HttpMethod = "Post",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "modalDelete",
                                    OnSuccess = "showEditDateInformation()"
                                },
                                new {@class = "btn btn-default btn-xs"}
                                )


                            @Ajax.ActionButton("fa-trash-o", "löschen", "DeleteDateConfirm", "Course",
                                new {dateId = date.Id},
                                new AjaxOptions()
                                {
                                    HttpMethod = "Post",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "modalDelete",
                                    OnSuccess = "showConfirmDeleteDate()"
                                },
                                new {@class = "btn btn-danger btn-xs"}
                                )
                        </div>
                    }
                }
                else
                {
                    if (ViewBag.UserRight.IsCourseAdmin)
                    {
                        @Ajax.ActionButton("fa-trash-o", "löschen", "DeleteDateConfirm", "Course",
                            new { dateId = date.Id },
                            new AjaxOptions()
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "modalDelete",
                                OnSuccess = "showConfirmDeleteDate()"
                            },
                            new { @class = "btn btn-danger btn-xs" }
                            )
                    }
                }
            </td>
        </tr>
            }
            else
            {
                var allConflicts = new List<ActivityDate>();
                foreach (var room in date.Rooms)
                {
                    var roomConflicts = room.Dates.Where(d => (d.End > date.Begin && d.End < date.End ||
                                                       d.Begin > date.Begin && d.Begin < date.End ||
                                                       d.Begin < date.Begin && d.End > date.End) &&
                                                      d.Activity.Id != date.Activity.Id).ToList();

                    allConflicts.AddRange(roomConflicts);
                }



                <tr @histAttr>
                    <td>
                        @if (date.End >= DateTime.Now)
                        {
                            <input id="@date.Id" type="checkbox" onclick="toggleDateCheck(this)" value="" class="chk">
                        }
                    </td>
                    <td>@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(date.Begin.DayOfWeek)</td>
                    <td>@date.Begin.ToString("dd.MM.yyyy", new CultureInfo("de-DE"))</td>
                    <td>@Html.TimeSpan(date)</td>
                    <td>
                        @if (date.Rooms.Any())
                        {
                            @Html.RoomList(date.Rooms)<br/>
                        }
                        @if (date.VirtualRooms.Any())
                        {
                            @Html.RoomList(date.VirtualRooms)
                        }
                    </td>
                    @if (allConflicts.Any())
                    {
                        <td>
                                @foreach (var conflict in allConflicts)
                                {
                                    if (conflict.Activity is Reservation)
                                    {
                                        <div>Raumreservierung: @conflict.Activity.Name (@Html.TimeSpan(conflict))</div>
                                    }
                                    else if (conflict.Activity is Course)
                                    {
                                        <div><a href="@Url.Action("Details", new {id=conflict.Activity.Id})">@conflict.Activity.ShortName (@Html.TimeSpan(conflict))</a></div>
                                    }
                                    else
                                    {
                                        <td>@conflict.Activity.Name (@Html.TimeSpan(conflict))</td>
                                    }
                                }
                        </td>

                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@Html.LecturerList(date.Hosts)</td>
                    @if (string.IsNullOrEmpty(date.Title) && string.IsNullOrEmpty(date.Description))
                    {
                        <td>
                        </td>
                    }
                    else
                    {
                        <td><strong>@date.Title</strong>
                            <div>@date.Description</div>
                        </td>
                    }
                    @if (string.IsNullOrEmpty(date.Occurrence.Information))
                    {
                        <td></td>
                    }
                    else
                    {
                        <td><i class="fa fa-info-circle text-primary"></i></td>
                    }
                    <td>
                        @if (date.End >= DateTime.Now)
                        {
                            if (Model.IsInternal && !ViewBag.UserRight.IsCourseAdmin)
                            {
                                <div class="btn-group pull-right" role="group">
                                    @Ajax.ActionButton("fa-info-circle text-primary", "Infos ändern", "ChangeDateInformation", "Course",
                                        new {dateId = date.Id},
                                        new AjaxOptions()
                                        {
                                            HttpMethod = "Post",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "modalDelete",
                                            OnSuccess = "showEditDateInformation()"
                                        },
                                        new {@class = "btn btn-default btn-xs"}
                                        )
                                </div>
                            }


                            if (!Model.IsInternal || ViewBag.UserRight.IsCourseAdmin)
                            {
                                <div class="btn-group pull-right" role="group">
                                    @Ajax.ActionButton("fa-times text-warning", "absagen", "CancelDate2", "Course",
                                        new {dateId = date.Id},
                                        new AjaxOptions() {HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "dateTable"},
                                        new {@class = "btn btn-default btn-xs"}
                                        )

                                    @Html.ActionButton("fa-calendar", "verschieben", "MoveDate", "Course", new { id = date.Occurrence.Id }, new { @class = "btn btn-default btn-xs" })


                                    @Ajax.ActionButton("fa-info-circle text-primary", "Infos ändern", "ChangeDateInformation", "Course",
                                        new {dateId = date.Id},
                                        new AjaxOptions()
                                        {
                                            HttpMethod = "Post",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "modalEditInfo",
                                            OnSuccess = "showEditDateInformation()"
                                        },
                                        new {@class = "btn btn-default btn-xs"}
                                        )

                                    @Ajax.ActionButton("fa-trash-o", "löschen", "DeleteDateConfirm", "Course",
                                        new {dateId = date.Id},
                                        new AjaxOptions()
                                        {
                                            HttpMethod = "Post",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "modalDelete",
                                            OnSuccess = "showConfirmDeleteDate()"
                                        },
                                        new {@class = "btn btn-danger btn-xs"}
                                        )

                                </div>
                             
                            }
                        }
                        else
                        {
                            if (ViewBag.UserRight.IsCourseAdmin)
                            {
                                @Ajax.ActionButton("fa-trash-o", "löschen", "DeleteDateConfirm", "Course",
                                    new { dateId = date.Id },
                                    new AjaxOptions()
                                    {
                                        HttpMethod = "Post",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "modalDelete",
                                        OnSuccess = "showConfirmDeleteDate()"
                                    },
                                    new { @class = "btn btn-danger btn-sm" }
                                    )
                            }
                        }




                    </td>
                </tr>
            }
        }
    </tbody>
</table>


