@using System.Globalization
@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Data.Course

@{
    var db = new TimeTableDbContext();
}

<table class="table table-sm">
    <thead>
        <tr>
            <th>
                <input id="checkAll" type="checkbox" onclick="toggleDateCheckAll(this)">
            </th>
            <th>Tag</th>
            <th>Datum</th>
            <th>Zeitraum</th>
            <th>Ort(e)</th>
            <th>Raumkonflikte</th>
            <th>Kohortenkonflikte</th>
            <th>Dozent</th>
            <th>Titel/Beschreibung</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="dateList2">
        @foreach (var date in Model.Dates.OrderBy(d => d.Begin))
        {
            var histAttr = "";
            if (date.End < DateTime.Now)
            {
                histAttr = "history";
            }
            if (date.Occurrence.IsCanceled)
            {
                <tr @histAttr>
            <td>
                @if (date.End >= DateTime.Now)
                {
                    <input id="@date.Id" type="checkbox" onclick="toggleDateCheck(this)" value="" class="chk">
                }
            </td>
            <td>@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(date.Begin.DayOfWeek)</td>
            <td><del>@date.Begin.ToString("dd.MM.yyyy", new CultureInfo("de-DE"))</del></td>
            <td><del>@Html.TimeSpan(date)</del></td>
            <td colspan="5">abgesagt</td>
            <td>
                @if (date.End >= DateTime.Now)
                {
                    if (Model.IsInternal && !ViewBag.UserRight.IsCourseAdmin)
                     {
                         <div class="btn-group pull-right" role="group">
                             @Html.ActionButton("fa-info-circle", "Infos ändern", "ChangeDateInformation", "Course",
                                 new {dateId = date.Id},
                                 new {@class = "btn btn-outline-primary btn-sm" }
                                 )
                         </div>
                     }



                    if (!Model.IsInternal || ViewBag.UserRight.IsCourseAdmin || ViewBag.UserRight.IsOwner)
                    {
                        <div class="btn-group pull-right" role="group">
                            @Ajax.ActionButton("fa-recycle", "reaktivieren", "ReactivateDate2", "Course",
                                new {dateId = date.Id},
                                new AjaxOptions() {HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "dateTable"},
                                new {@class = "btn btn-outline-primary btn-sm"}
                                )


                            @Ajax.ActionButton("fa-trash", "löschen", "DeleteDateConfirm", "Course",
                                new {dateId = date.Id},
                                new AjaxOptions()
                                {
                                    HttpMethod = "Post",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "modalDelete",
                                    OnSuccess = "showConfirmDeleteDate()"
                                },
                                new {@class = "btn btn-outline-danger btn-sm"}
                                )
                        </div>
                    }
                }
                else
                {
                    if (ViewBag.UserRight.IsCourseAdmin)
                    {
                        @Ajax.ActionButton("fa-trash-o", "löschen", "DeleteDateConfirm", "Course",
                            new { dateId = date.Id },
                            new AjaxOptions()
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "modalDelete",
                                OnSuccess = "showConfirmDeleteDate()"
                            },
                            new { @class = "btn btn-danger btn-xs" }
                            )
                    }
                }
            </td>
        </tr>
            }
            else
            {
                var allConflicts = new List<ActivityDate>();
                foreach (var room in date.Rooms)
                {
                    var roomConflicts = room.Dates.Where(d => (d.End > date.Begin && d.End <= date.End ||
                                                       d.Begin >= date.Begin && d.Begin < date.End ||
                                                       d.Begin <= date.Begin && d.End >= date.End) &&
                                                      d.Activity.Id != date.Activity.Id).ToList();

                    allConflicts.AddRange(roomConflicts);
                }

                var allLabelConflicts = new Dictionary<ItemLabel, List<ActivityDate>>();
                var labels = date.Activity.LabelSet.ItemLabels.ToList();

                foreach (var label in labels)
                {
                    var labelConflicts = db.ActivityDates.Where(d => (d.End > date.Begin && d.End <= date.End ||
                                                               d.Begin >= date.Begin && d.Begin < date.End ||
                                                               d.Begin <= date.Begin && d.End >= date.End) &&
                                                              d.Activity.Id != date.Activity.Id && 
                                                              d.Activity.Semester.Id == date.Activity.Semester.Id &&
                                                              d.Activity.LabelSet != null && d.Activity.LabelSet.ItemLabels.Any(l => l.Id == label.Id)
                                                              ).ToList();

                    allLabelConflicts[label] = labelConflicts;
                }

                <tr @histAttr>
                    <td>
                        @if (date.End >= DateTime.Now)
                        {
                            <input id="@date.Id" type="checkbox" onclick="toggleDateCheck(this)" value="" class="chk">
                        }
                    </td>
                    <td>@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(date.Begin.DayOfWeek)</td>
                    <td>@date.Begin.ToString("dd.MM.yyyy", new CultureInfo("de-DE"))</td>
                    <td>@Html.TimeSpan(date)</td>
                    <td>
                        @if (date.Rooms.Any())
                        {
                            @Html.RoomList(date.Rooms)<br/>
                        }
                        @if (date.VirtualRooms != null && date.VirtualRooms.Any())
                        {
                            @Html.RoomList(date.VirtualRooms)
                        }
                    </td>
                    @if (allConflicts.Any())
                    {
                        <td>
                                @foreach (var conflict in allConflicts)
                                {
                                    if (conflict.Activity is Reservation)
                                    {
                                        <div>Raumreservierung: @conflict.Activity.Name (@Html.TimeSpan(conflict))</div>
                                    }
                                    else if (conflict.Activity is Course)
                                    {
                                        <div><a href="@Url.Action("Details", new {id=conflict.Activity.Id})">@conflict.Activity.ShortName (@Html.TimeSpan(conflict))</a></div>
                                    }
                                    else
                                    {
                                        <div>@conflict.Activity.Name (@Html.TimeSpan(conflict))</div>
                                    }
                                }
                        </td>

                    }
                    else
                    {
                        <td></td>
                    }
                    <td>
                        @foreach (var c in allLabelConflicts)
                        {
                            if (c.Value.Any())
                            {
                                <div>@c.Key.Name</div>
                                <ul>
                                    @foreach (var d in c.Value)
                                    {
                                        <li><a href="@Url.Action("Details", new { id = d.Activity.Id })">@d.Activity.ShortName (@Html.TimeSpan(d))</a></li>
                                    }
                                </ul>
                            }
                        }

                    </td>
                    <td>@Html.LecturerList(date.Hosts)</td>
                    <td>
                        @if (!string.IsNullOrEmpty(date.Title))
                        {
                            <div><strong>@date.Title</strong></div>
                        }
                        @if (!string.IsNullOrEmpty(date.Description))
                        {

                            <div>@Html.Raw(date.Description)</div>
                        }
                        @if (!string.IsNullOrEmpty(date.Occurrence.Information))
                        {
                            <div><i>@date.Occurrence.Information</i></div>
                        }
                    </td>
                    <td>
                        @if (date.End >= DateTime.Now)
                        {
                            if (Model.IsInternal && !(ViewBag.UserRight.IsCourseAdmin || ViewBag.UserRight.IsOwner))
                            {
                                <div class="btn-group pull-right" role="group">
                                    @Html.ActionButton("fa-info-circle text-primary", "Infos ändern", "ChangeDateInformation", "Course",
                                        new {dateId = date.Id},
                                        new {@class = "btn btn-outline-primary btn-sm" }
                                        )
                                </div>
                            }


                            if (!Model.IsInternal || ViewBag.UserRight.IsCourseAdmin || ViewBag.UserRight.IsOwner)
                            {
                                <div class="btn-group pull-right" role="group">
                                    @Ajax.ActionButton("fa-times", "absagen", "CancelDate2", "Course",
                                        new {dateId = date.Id},
                                        new AjaxOptions() {HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "dateTable"},
                                        new {@class = "btn btn-outline-primary btn-sm"}
                                        )

                                    @Html.ActionButton("fa-cogs", "ändern", "MoveDate", "Course", new { id = date.Occurrence.Id }, new { @class = "btn btn-outline-primary btn-sm" })


                                    @Html.ActionButton("fa-trash", "löschen", "DeleteDateConfirm", "Course",
                                        new {dateId = date.Id},
                                        new {@class = "btn btn-outline-danger btn-sm" }
                                        )

                                </div>
                             
                            }
                        }
                        else
                        {
                            if (ViewBag.UserRight.IsCourseAdmin || ViewBag.UserRight.IsOwner)
                            {
                                @Html.ActionButton("fa-trash-o", "löschen", "DeleteDateConfirm", "Course",
                                    new { dateId = date.Id },
                                    
                                    new { @class = "btn btn-danger btn-sm" }
                                    )
                            }
                        }




                    </td>
                </tr>
            }
        }
    </tbody>
</table>


