@model MyStik.TimeTable.Web.Models.CourseLabelViewModel
@{
    ViewBag.Title = "Platzkontingent";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Neues Platzkontingent anlegen</h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <a href="javascript:saveChanges()" class="btn btn-outline-primary">
                        <i class="bi bi-save"></i>  Speichern
                    </a>
                    <a href="@Url.Action("AdminNewRules", new {id=Model.Course.Id})" class="btn btn-outline-secondary">
                        <i class="bi bi-x"></i> Abbrechen
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="row">
                            <div class="col-4">Bezeichnung</div>
                            <div class="col-8">
                                <input type="text" class="form-control" id="name" placeholder="optional: Bezeichnung">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Einrichtung</div>
                            <div class="col-8">
                                <select id="selectOrg" class="form-select slot-option" onchange="onOrgChanged(this.value)">
                                    <option value="@Model.Course.Organiser.Institution.Id">@Model.Course.Organiser.Institution.Name</option>
                                    @foreach (var org in Model.Organisers)
                                    {
                                        <option value="@org.Id">@org.ShortName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Studiengang</div>
                            <div class="col-8">
                                <select id="selectCurr" class="form-select slot-option" onchange="onCurrChanged(this.value)">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Anzahl Plätze</div>
                            <div class="col-8">
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0" type="radio" id="optCapaUnrestricted" name="optCapa" value="0" aria-label="Radio button for following text input" checked>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Text input with radio button" value="unbegrenzt" disabled>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0" type="radio" id="optCapaRestricted" name="optCapa" value="1" aria-label="Radio button for following text input">
                                    </div>
                                    <input type="text" class="form-control" id="capa" aria-label="Text input with radio button">
                                    <div> Plätze</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="alert alert-info">
                            <p>Die Anzahl an Plätzen wird vergeben an Studierende</p>
                            <ul>
                                <li>Keine Angabe des Studiengangs => offen für Studierende aller Studiengänge</li>
                                <li>Angabe einer Kohorte ist Einschränkung (Eigenschaft Studierende, d.h. Zuordnung zu einer Kohorte erforderlich)</li>
                                <li>Keine Kohorte => offen für alle Studierende des Studiengangs</li>
                                <li>Mehrere Kohorten => oder Verknüpfung</li>
                                <li>Mehrere Anteile => oder Verknüpfung</li>
                            </ul>

                        </div>
                    </div>
                </div>
                @if (Request.IsLocal)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div id="DateTable">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Einrichtung</th>
                                        <th>Studiengang</th>
                                        <th>Kohorten</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <select id="selectOrg2" class="form-select slot-option" onchange="onOrgChanged2(this.value)">
                                                @foreach (var org in Model.Organisers)
                                                {
                                                    <option value="@org.Id">@org.ShortName</option>
                                                }
                                            </select>
                                        </th>
                                        <th>
                                            <select id="selectCurr2" class="form-select slot-option" onchange="onCurrChanged2(this.value)">
                                            </select>
                                        </th>
                                        <th>
                                            <select id="selectLabel2" class="form-select slot-option" multiple="multiple">
                                            </select>
                                        </th>
                                        <th>
                                            <button class="btn btn-outline-primary" onclick="addQuotaFraction()"><i class="bi bi-plus-circle"></i> Gruppe hinzufügen</button>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function() {
            $("#loading").hide();
            var org = $("#selectOrg").val();
            onOrgChanged(org);
        });

        function onOrgChanged(value) {
            var orgId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("CurriculaList2", "Curriculum")',
                    data: {
                        orgId: orgId
                    },
                    success: function(data, success, xhr) {
                        $("#selectCurr").html(data);
                        $("#loading").hide();
                    }
                });

        }


        function onCurrChanged(value) {
            var currId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("GetLabelListCurriculum", "LabelSet")',
                    data: {
                        currId: currId
                    },
                    success: function(data, success, xhr) {
                        $("#sourceLabelList").html(data);
                        $("#loading").hide();
                    }
                });

        }


        function saveChanges() {
            // Zielkatalog
            var courseId = "@Model.Course.Id.ToString()";
            var currId = $("#selectCurr").val();
            var capa = -1; // unbegrenzt
            var optCapa = $("input[type='radio'][name='optCapa']:checked").val();
            if (optCapa == 1) {
                capa = $("#capa").val();
            }

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("AddQuota")',
                    data: {
                        courseId: courseId,
                        currId: currId,
                        capa: capa
                    },
                    success: function(data, success, xhr) {
                        window.location.replace("@Url.Action("AdminNewRules", new { id = Model.Course.Id })");
                        $("#loading").hide();
                    }
                });


        }


        function onOrgChanged2(value) {
            var orgId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("CurriculaList2", "Curriculum")',
                    data: {
                        orgId: orgId
                    },
                    success: function(data, success, xhr) {
                        $("#selectCurr2").html(data);
                        $("#selectLabel2").html("");
                        $("#loading").hide();
                    }
                });
        }


        function onCurrChanged2(value) {
            var currId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("GetLabelSelectListCurriculum", "LabelSet")',
                    data: {
                        currId: currId
                    },
                    success: function(data, success, xhr) {
                        $("#selectLabel2").html(data);
                        $("#loading").hide();
                    }
                });

        }


    </script>
}
