@model MyStik.TimeTable.Web.Models.CourseLabelViewModel
@{
    ViewBag.Title = "Platzkontingent";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Weitere Zielgruppe für Platzkontingent festlegen</h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <a href="javascript:saveChanges()" class="btn btn-outline-primary">
                        <i class="bi bi-save"></i>  Speichern
                    </a>
                    <a href="@Url.Action("AdminNewRules", new {id=Model.Course.Id})" class="btn btn-outline-secondary">
                        <i class="bi bi-x"></i> Abbrechen
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <h5>Angaben zum Platzkontingent</h5>
                        </div>
                        <div class="row">
                            <div class="col-4">Kapazität</div>
                            <div class="col-8">
                                @if (Model.Quota.MaxCapacity == int.MaxValue)
                                {
                                    <div>unbegrenzt</div>
                                }
                                else
                                {
                                    <div>@Model.Quota.MaxCapacity</div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Zielgruppen</div>
                            <div class="col-8">
                                @if (Model.Quota.Curriculum != null)
                                {
                                    <div>@Model.Quota.Curriculum.ShortName</div>
                                }
                                else
                                {
                                    if (Model.Quota.Fractions.Any())
                                    {
                                        foreach (var fraction in Model.Quota.Fractions)
                                        {
                                            if (fraction != Model.Quota.Fractions.Last())
                                            {
                                                <div>@fraction.FullName <i>oder</i></div>
                                            }
                                            else
                                            {
                                                <div>@fraction.FullName</div>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <div>offen für alle Studiengänge</div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <h5>Neue Zielgruppe</h5>
                        </div>
                        <div class="row">
                            <div class="col-4">Einrichtung</div>
                            <div class="col-8">
                                <select id="selectOrg" class="form-select slot-option" onchange="onOrgChanged(this.value)">
                                    <option value="@Model.Course.Organiser.Institution.Id">@Model.Course.Organiser.Institution.Name</option>
                                    @foreach (var org in Model.Organisers)
                                    {
                                        <option value="@org.Id">@org.ShortName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Studiengang</div>
                            <div class="col-8">
                                <select id="selectCurr" class="form-select slot-option" onchange="onCurrChanged(this.value)">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div>Kohorten <i>(optional)</i></div>
                                <div class="alert alert-warning">
                                    Nur sinnvoll, wenn es eine Verwaltung der Kohorten für Studierende gibt. Das ist aktuell nur bei CIE der Fall.
                                </div>
                            </div>
                            <div class="col-8">
                                <div id="sourceLabelList"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function() {
            $("#loading").hide();
            var org = $("#selectOrg").val();
            onOrgChanged(org);
        });

        function onOrgChanged(value) {
            var orgId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("CurriculaList2", "Curriculum")',
                    data: {
                        orgId: orgId
                    },
                    success: function(data, success, xhr) {
                        $("#selectCurr").html(data);
                        $("#loading").hide();
                        onCurrSelected();
                    }
                });

        }

        function onCurrSelected() {
            var curr = $("#selectCurr").val();
            onCurrChanged(curr);
        }


        function onCurrChanged(value) {
            var orgId = $("#selectOrg").val();
            var currId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("GetLabelListCurriculum", "LabelSet")',
                    data: {
                        orgId: orgId,
                        currId: currId
                    },
                    success: function(data, success, xhr) {
                        $("#sourceLabelList").html(data);
                        $("#loading").hide();
                    }
                });

        }


        function saveChanges() {
            // Zielkatalog
            var quotaId = "@Model.Quota.Id.ToString()";
            var currId = $("#selectCurr").val();

            var list = $("#sourceLabelList > ul > li > input[type='checkbox']:checked").parent().get();
            var n = list.length;

            var moduleIdList = new Array();
            if (n > 0) {
                for (var i = 0; i < n; i++) {
                    moduleIdList[i] = list[i].id;
                }
            }

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("AddQuotaTargetFraction")',
                    data: {
                        quotaId: quotaId,
                        currId: currId,
                        labelIds: moduleIdList
                    },
                    success: function(data, success, xhr) {
                        window.location.replace("@Url.Action("AdminNewRules", new { id = Model.Course.Id })");
                        $("#loading").hide();
                    }
                });


        }


        function onOrgChanged2(value) {
            var orgId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("CurriculaList2", "Curriculum")',
                    data: {
                        orgId: orgId
                    },
                    success: function(data, success, xhr) {
                        $("#selectCurr2").html(data);
                        $("#selectLabel2").html("");
                        $("#loading").hide();
                    }
                });
        }


        function onCurrChanged2(value) {
            var currId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("GetLabelSelectListCurriculum", "LabelSet")',
                    data: {
                        currId: currId
                    },
                    success: function(data, success, xhr) {
                        $("#selectLabel2").html(data);
                        $("#loading").hide();
                    }
                });

        }


    </script>
}
