@model MyStik.TimeTable.Web.Models.CourseDetailViewModel


@{
    ViewBag.Title = "Verwaltung";
}

@Html.Partial("_CourseSummaryHeader", Model.Summary)


@if (Model.Course.IsInternal)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                <h5><i class="fa fa-lock"></i> Gesperrt - Aktuell können nur Administratoren Änderungen vornehmen.</h5>
            </div>
        </div>
    </div>

}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Termine</h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2">

                            <a href="@Url.Action("Details", new {id = Model.Course.Id})" class="btn btn-outline-secondary"><i class="fa fa-arrow-left"></i> Zurück</a>
                            <a href="@Url.Action("CreateDate2", new {courseId = Model.Course.Id})" class="btn btn-outline-secondary">
                                <i class="fa fa-plus-circle"></i> Termin anlegen
                            </a>
                        </div>
                        @if (!Model.Summary.Course.IsInternal || ViewBag.UserRight.IsCourseAdmin)
                        {
                            <div id="dropDownMenu" class="btn-group me-2" role="group">
                                <a id="cancelAll" href="#" class="btn btn-outline-danger" data-bs-toggle="tooltip" title="absagen"><i class="bi-x"></i></a>
                                <a id="refreshAll" href="#" class="btn btn-outline-secondary" data-bs-toggle="tooltip" title="reaktivieren"><i class="bi-recycle"></i> </a>
                                <a id="moveAll" href="#" class="btn btn-outline-secondary" data-bs-toggle="tooltip" title="verschieben"><i class="bi-calendar-x"></i> </a>
                                <a id="deleteAll" href="#" class="btn btn-outline-danger" data-bs-toggle="tooltip" title="löschen"><i class="bi-trash"></i></a>
                                <a id="addRoom" href="#" class="btn btn-outline-secondary" data-bs-toggle="tooltip" title="Raum hinzufügen"><i class="bi-building"></i><i class="bi-plus"></i></a>
                                <a id="removeRooms" href="#" class="btn btn-outline-secondary" data-bs-toggle="tooltip" title="Räume entfernen"><i class="bi-building"></i><i class="bi-x"></i></a>
                                <a id="addHost" href="#" class="btn btn-outline-secondary" data-bs-toggle="tooltip" title="Lehrenden hinzufügen"><i class="bi-person-plus"></i></a>
                                <a id="removeHosts" href="#" class="btn btn-outline-secondary" data-bs-toggle="tooltip" title="Lehrende entfernen"><i class="bi-person-x"></i></a>
                                <a id="addVirtualRoom" href="#" class="btn btn-outline-secondary" data-bs-toggle="tooltip" title="virtuellen Raum hinzufügen"><i class="bi-tv"></i><i class="bi-plus"></i></a>
                                <a id="removeVirtualRooms" href="#" class="btn btn-outline-secondary" data-bs-toggle="tooltip" title="virtuelle Räume entfernen"><i class="bi-tv"></i><i class="bi-x"></i></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="dateTable">
                @Html.Partial("_DateTable", Model.Course)
            </div>
        </div>
    </div>
</div>



<div id="modalDelete"></div>
<div id="modalEditInfo"></div>


<div class="modal fade" id="confirmDeleteAllDates" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Löschen bestätigen</h4>
            </div>
            <div class="modal-body">
                <p>Sollen alle markierten Termine gelöscht werden?</p>
            </div>
            <div class="modal-footer">
                <button id="deleteAllConfirmed" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-trash-o"></i> Löschen</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dlgAddRoom" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">Raum hinzufügen</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="roomNumber">Vollständige Raumnummer, z.B. R 1.087</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="roomNumber" name="roomNumber" type="text" />
                        </div>
                    </div>
                </div>
                <input id="hiddenRoomId" type="text" hidden />
            </div>
            <div class="modal-footer">
                <button id="btnAddRoom" type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="bi-folder-plus"></i> Hinzufügen</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dlgAddVirtualRoom" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel5">Virtuellen Raum hinzufügen</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="virtualRoomNumber">Bezeichnung</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="virtualRoomNumber" name="virtualRoomNumber" type="text" />
                        </div>
                    </div>
                </div>
                <input id="hiddenVirtualRoomId" type="text" hidden />
            </div>
            <div class="modal-footer">
                <button id="btnAddVirtualRoom" type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="bi-folder-plus"></i> Hinzufügen</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dlgMoveDates" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title" id="myModalLabel3">Termine verschieben</h4>
            </div>
            <div class="modal-body">
                <div class="form form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="NewBegin">Beginn</label>
                        <div class="col-sm-4">
                            <input class="form-control timepicker timepicker-24" id="NewBegin" name="NewBegin" type="text" value="18:30:00" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="NewEnd">Ende</label>
                        <div class="col-sm-4">
                            <input class="form-control timepicker timepicker-24" id="NewEnd" name="NewEnd" type="text" value="18:30:00" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnMoveDates" type="button" class="btn btn-primary" data-bs-dismiss="modal">Verschieben</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dlgAddHost" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel4">Dozent hinzufügen</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="dozId">Nachname oder Kurzname (Untis)</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="dozId" name="dozId" type="text" />
                        </div>
                    </div>
                </div>
                <input id="hiddenDozId" type="text" hidden />
            </div>
            <div class="modal-footer">
                <button id="btnAddHost" type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="bi-folder-plus"></i> Hinzufügen</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>





@section styles
{
}


@section scripts
{

    <script>
        var nChecked = 0;
//        var myModalEditInfo = null;

        $(document).ready(function () {

//            myModalEditInfo = new bootstrap.Modal(document.getElementById('modalEditInfo'), null);


            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            });

                //$("tr[history]").hide();
                $('#dropDownMenu').hide();

                $("#toggleHistoryOn").click(function() {
                    $("tr[history]").show();
                    $("#toggleHistoryOff").removeClass("active");
                });

                $("#toggleHistoryOff").click(function() {
                    $("tr[history]").hide();
                    $("#toggleHistoryOn").removeClass("active");
                });


                $("#cancelAll").click(function() {
                    var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                    var n = list.length;

                    if (n > 0) {
                        var dateList = new Array();

                        for (var i = 0; i < n; i++) {
                            dateList[i] = list[i].id;
                        }


                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("CancelDateList")',
                                data: {
                                    dateIds: dateList
                                },
                                success: function(data, success, xhr) {
                                    $("#dateTable").html(data);
                                }
                            });
                    } else {
                        alert("Es sind keine Termine zum Absagen markiert");
                    }
                });


                $("#refreshAll").click(function() {
                    var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                    var n = list.length;

                    if (n > 0) {
                        var dateList = new Array();

                        for (var i = 0; i < n; i++) {
                            dateList[i] = list[i].id;
                        }


                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("ReactivateDateList")',
                                data: {
                                    dateIds: dateList
                                },
                                success: function(data, success, xhr) {
                                    $("#dateTable").html(data);
                                }
                            });
                    } else {
                        alert("Es sind keine Termine zum Reaktivieren markiert");
                    }
                });


                $("#deleteAll").click(function() {
                    var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                    var n = list.length;

                    if (n > 0) {
                        $('#confirmDeleteAllDates').modal("show");
                    } else {
                        alert("Es sind keine Termine zum Löschen markiert");
                    }
                });


                $("#deleteAllConfirmed").click(function() {
                    var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                    var n = list.length;

                    if (n > 0) {
                        var dateList = new Array();

                        for (var i = 0; i < n; i++) {
                            dateList[i] = list[i].id;
                        }


                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("DeleteDateList")',
                                data: {
                                    dateIds: dateList
                                },
                                success: function(data, success, xhr) {
                                    $("#dateTable").html(data);
                                }
                            });


                        $('#confirmDeleteAllDates').modal("hide");
                    }
                });

                $("#removeRooms").click(function() {
                    var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                    var n = list.length;

                    if (n > 0) {
                        var dateList = new Array();

                        for (var i = 0; i < n; i++) {
                            dateList[i] = list[i].id;
                        }


                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("RemoveRooms")',
                                data: {
                                    dateIds: dateList
                                },
                                success: function(data, success, xhr) {
                                    $("#dateTable").html(data);
                                }
                            });
                    } else {
                        alert("Es sind keine Termine zum Reaktivieren markiert");
                    }
                });


                $("#removeVirtualRooms").click(function() {
                    var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                    var n = list.length;

                    if (n > 0) {
                        var dateList = new Array();

                        for (var i = 0; i < n; i++) {
                            dateList[i] = list[i].id;
                        }


                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("RemoveVirtualRooms")',
                                data: {
                                    dateIds: dateList
                                },
                                success: function(data, success, xhr) {
                                    $("#dateTable").html(data);
                                }
                            });
                    } else {
                        alert("Es sind keine Termine zum Reaktivieren markiert");
                    }
                });


                $('#roomNumber').autocomplete({
                    appendTo: "#myModalLabel2",
                    source: function(request, response) {
                        var org = '@Model.Organiser.Id';

                        $.ajax({
                            url: '@Url.Action("RoomListByOrg", "Curriculum")',
                            type: 'POST',
                            //dataType: "json",

                            data: {
                                orgId: org,
                                number: request.term
                            },

                            success: function(data, success, xhr) {
                                response($.map(data,
                                    function(item) {

                                        return {
                                            text: item.id,
                                            label: item.name,
                                            value: item.name
                                        };
                                    }));
                            },

                            error: function(data) { alert(data); },
                        });
                    },
                    select: function(event, ui) {
                        $('#hiddenRoomId').val(ui.item.text);
                    }
                });


                $('#virtualRoomNumber').autocomplete({
                    appendTo: "#myModalLabel5",
                    source: function(request, response) {
                        var org = '@Model.Organiser.Id';

                        $.ajax({
                            url: '@Url.Action("PersonalRoomList", "VirtualRoom")',
                            type: 'POST',
                            //dataType: "json",

                            data: {
                                orgId: org,
                                number: request.term
                            },

                            success: function(data, success, xhr) {
                                response($.map(data,
                                    function(item) {

                                        return {
                                            text: item.id,
                                            label: item.name,
                                            value: item.name
                                        };
                                    }));
                            },

                            error: function(data) { alert(data); },
                        });
                    },
                    select: function(event, ui) {
                        $('#hiddenVirtualRoomId').val(ui.item.text);
                    }
                });


                $("#addRoom").click(function() {
                    var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                    var n = list.length;

                    if (n > 0) {
                        $('#dlgAddRoom').modal("show");
                    } else {
                        alert("Es sind keine Termine markiert");
                    }
                });

                $("#btnAddRoom").click(function() {
                    var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                    var n = list.length;

                    if (n > 0) {
                        var dateList = new Array();

                        for (var i = 0; i < n; i++) {
                            dateList[i] = list[i].id;
                        }

                        var roomNo = $("#hiddenRoomId").val();

                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("AddRoomToDates")',
                                data: {
                                    dateIds: dateList,
                                    roomId: roomNo
                                },
                                success: function(data, success, xhr) {
                                    $("#dateTable").html(data);
                                }
                            });


                        $('#dlgAddRoom').modal("hide");
                    }
                });

                $("#removeHosts").click(function() {
                    var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                    var n = list.length;

                    if (n > 0) {
                        var dateList = new Array();

                        for (var i = 0; i < n; i++) {
                            dateList[i] = list[i].id;
                        }


                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("RemoveHosts")',
                                data: {
                                    dateIds: dateList
                                },
                                success: function(data, success, xhr) {
                                    $("#dateTable").html(data);
                                }
                            });
                    } else {
                        alert("Es sind keine Termine zum Reaktivieren markiert");
                    }
                });


                $("#addVirtualRoom").click(function() {
                    var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                    var n = list.length;

                    if (n > 0) {
                        $('#dlgAddVirtualRoom').modal("show");
                    } else {
                        alert("Es sind keine Termine markiert");
                    }
                });

                $("#btnAddVirtualRoom").click(function() {
                    var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                    var n = list.length;

                    if (n > 0) {
                        var dateList = new Array();

                        for (var i = 0; i < n; i++) {
                            dateList[i] = list[i].id;
                        }

                        var roomNo = $("#hiddenVirtualRoomId").val();

                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("AddVirtualRoomToDates")',
                                data: {
                                    dateIds: dateList,
                                    roomId: roomNo
                                },
                                success: function(data, success, xhr) {
                                    $("#dateTable").html(data);
                                }
                            });


                        $('#dlgAddVirtualRoom').modal("hide");
                    }
                });


                $('#dozId').autocomplete({
                    appendTo: "#myModalLabel4",
                    source: function(request, response) {
                        var org = '@Model.Organiser.Id';

                        $.ajax({
                            url: '@Url.Action("LecturerList", "Curriculum")',
                            type: 'POST',
                            //dataType: "json",

                            data: {
                                orgId: org,
                                name: request.term
                            },

                            success: function(data, success, xhr) {
                                response($.map(data,
                                    function(item) {

                                        return {
                                            text: item.id,
                                            label: item.name + " (" + item.shortname + ")",
                                            value: item.name + " (" + item.shortname + ")"
                                        };
                                    }));

                            },

                            error: function(data) { alert(data); }
                        });
                    },
                    select: function(event, ui) {
                        $('#hiddenDozId').val(ui.item.text);
                    }
                });


                $("#addHost").click(function() {
                    var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                    var n = list.length;

                    if (n > 0) {
                        $('#dlgAddHost').modal("show");
                    } else {
                        alert("Es sind keine Termine markiert");
                    }
                });

                $("#btnAddHost").click(function() {
                    var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                    var n = list.length;

                    if (n > 0) {
                        var dateList = new Array();

                        for (var i = 0; i < n; i++) {
                            dateList[i] = list[i].id;
                        }

                        var hostName = $("#hiddenDozId").val();

                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("AddHostToDates")',
                                data: {
                                    dateIds: dateList,
                                    hostId: hostName
                                },
                                success: function(data, success, xhr) {
                                    $("#dateTable").html(data);
                                }
                            });


                        //$('#dlgAddHost').modal("hide");
                    }
                });


                $("#moveAll").click(function() {
                    var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                    var n = list.length;

                    if (n > 0) {
                        $('#dlgMoveDates').modal("show");
                    } else {
                        alert("Es sind keine Termine markiert");
                    }
                });

                $("#btnMoveDates").click(function() {
                    var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                    var n = list.length;

                    if (n > 0) {
                        var dateList = new Array();

                        for (var i = 0; i < n; i++) {
                            dateList[i] = list[i].id;
                        }

                        var newBegin = $("#NewBegin").val();
                        var newEnd = $("#NewEnd").val();

                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("MoveDates")',
                                data: {
                                    dateIds: dateList,
                                    newBegin: newBegin,
                                    newEnd: newEnd
                                },
                                success: function(data, success, xhr) {
                                    $("#dateTable").html(data);
                                }
                            });


                        //$('#dlgAddRoom').modal("hide");
                    }
                });


            }
        );

        function toggleDateCheck(elem) {
            // das elem ist das HTML-Element
            // aus dem mache ich ein jQuery Element
            // dann erst kann ich die DOM Eigenschaft über attr ändern
            // damit sie später auch wieder über jQuery ausgewertet werden kann

            if (elem.checked) {
                nChecked++;
            } else {
                nChecked--;
            }


            $("#" + elem.id).attr("checked", elem.checked);

            if (nChecked > 0) {
                $('#dropDownMenu').show();
            } else {
                $('#dropDownMenu').hide();
            }

        }

        function toggleDateCheckAll(elem) {
            $('.chk').trigger("click");
            if ($("#" + elem.id).is(':checked')) {
                $('.chk').attr('checked', true);
                $('#dropDownMenu').show();
            } else {
                $('.chk').attr('checked', false);
                $('#dropDownMenu').hide();
            }
        }

        function showConfirmDeleteDate() {
            //var myModalEditInfo = new bootstrap.Modal(document.getElementById('modalDelete'), null);
            //myModalEditInfo.show();
        }

        function hideConfirmDeleteDate() {
            //var myModalEditInfo = new bootstrap.Modal(document.getElementById('modalDelete'), null);
            //myModalEditInfo.hide();
        }

        function showEditDateInformation() {
            //var myModalEditInfo = new bootstrap.Modal(document.getElementById('modalEditInfo'), null);

            //myModalEditInfo.show();
        }

        function hideEditDateInformation() {
            //var myModalEditInfo = new bootstrap.Modal(document.getElementById('modalEditInfo'), null);
            //myModalEditInfo.hide();
        }


    </script>
}

