@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.CourseDetailViewModel


@{
    ViewBag.Title = "Platzvergabe";

}

@if (false)
{

    <div>@Model.IsCoterie</div>

    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi-grid"></i></a></li>
                    @if (Model.Summary.Course.Organiser != null)
                    {
                        <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new { id = Model.Summary.Course.Organiser.Id })">@Model.Summary.Course.Organiser.ShortName</a></li>
                    }
                    @if (Model.Summary.Course.Semester != null)
                    {
                        <li class="breadcrumb-item"><a href="@Url.Action("Organiser", "Dictionary", new { semId = Model.Summary.Course.Semester.Id, orgId = Model.Summary.Course.Organiser.Id })">@Model.Summary.Course.Semester.Name</a></li>
                    }
                    <li class="breadcrumb-item"><a href="@Url.Action("Details", new { id = Model.Summary.Course.Id })"> @Model.Summary.Course.ShortName</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Platzvergabe</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Zugang</h5>
                                    <h6 class="card-subtitle">Wer darf sich eintragen</h6>
                                    <div class="mt-3">
                                        <form name="courseSeleect">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="allowSubscription" id="optAll" value="1">
                                                <label class="form-check-label" for="optAll">
                                                    <strong>Offene Veranstaltung</strong><br/> Studierende aller Studiengänge dürfen sich eintragen, unter Berücksichtigung der bereitgestellten Platzkontingente und der gewählten Methode der Platzvergabe.
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="allowSubscription" id="optCurr" value="2">
                                                <label class="form-check-label" for="optCurr">
                                                    <strong>Geschlossene Veranstaltung</strong><br/>Nur Studierende für deren Studiengänge Platzkontingente festgelegt worden sind dürfen sich eintragen.
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Kontingente</h5>
                                    <h6 class="card-subtitle">Wie viele Plätze stehen zur Verfügung</h6>
                                    <div class="mt-3">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    Insgesamt
                                                </div>
                                                <div class="col-md-2">
                                                    <input class="form-control" placeholder="min"/>
                                                </div>
                                                <div class="col-md-2">
                                                    <input class="form-control" placeholder="max"/>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                        <label class="form-check-label" for="flexCheckChecked">
                                                            <i class="bi-infinity"></i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    Platzkontingente für folgende Studiengänge
                                                </div>
                                            </div>
                                            <div class="row" id="capHeader">
                                                <div class="col-md-2">
                                                    <select>
                                                        <option>FK 01</option>
                                                        <option>FK 02</option>
                                                        <option>FK 03</option>
                                                    </select>
                                                </div>
                                                <div class="col-3">
                                                    <select>
                                                        <option>BABW</option>
                                                        <option>MOT</option>
                                                        <option>MBGTDE</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <input class="form-control" placeholder="min"/>
                                                </div>
                                                <div class="col-md-2">
                                                    <input class="form-control" placeholder="max"/>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked>
                                                        <label class="form-check-label" for="flexCheckChecked">
                                                            <i class="bi-infinity"></i>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <a class="btn btn-outline-primary" href=""><i class="bi-plus"></i></a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="alert alert-light">
                                        <strong>Hinweise</strong>:
                                        <ul>
                                            <li>Angabe min bei Insgesamt: Mindestteilnehmendenzahl (nachrichtlich)</li>
                                            <li>Angabe min bei Studiengängen: Plätze werden freigehaltem (reduziert verfügbares Kontingent)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Methode</h5>
                                    <h6 class="card-subtitle">Wie werden Plätze vergeben</h6>
                                    <div class="mt-3">
                                        <form>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="method" id="optOpen">
                                                <label class="form-check-label" for="optOpen">
                                                    Keine Platzvergabe, d.h. Kontingente nur nachrichtlich. Alle Eintragungen erhalten den Status "eingeschrieben"
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="method" id="optManual">
                                                <label class="form-check-label" for="optManual">
                                                    Manuelle Vergabe und/oder Wahlverfahren, d.h. alle Eintragungen erhalten den Status "Warteliste"
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="method" id="optAuto">
                                                <label class="form-check-label" for="optAuto">
                                                    Automatisch (first come, first serve)
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" checked>
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    mit Warteliste
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger">
                                <strong>Hinweise</strong>:
                                <ul>
                                    <li>Änderungen der Einstellungen haben keine Auswirkung auf bereits existierende Eintragungen.</li>
                                    <li>Gehört die Lehrveranstaltung zu einem Wahlverfahren, so gilt die dort gewählte Methode für die Platzvergabe</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts
{
    <script>
        $(document).ready(function() {
            var allowSubscription = @Json.Encode(Model.IsCoterie);

            if (allowSubscription) {
                //$("#optCurr").checked = true;
                document.courseSeleect.allowSubscription[1].checked = true;
            } else {
                console.log("all");
                //$("#optAll").checked = true;
                document.courseSeleect.allowSubscription[0].checked = true;
            }


        });


        function handleOptAll() {
            $("#capHeader").show();
            $("#selHeader").hide();
        }

        function handleOptCurr() {
            $("#capHeader").hide();
            $("#selHeader").show();
        }


    </script>
}
}
else
{
                            @Html.Partial("_CourseSummaryHeader", Model.Summary)


                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4><i class="fa fa-legal"></i> Teilnahmebeschränkungen</h4>
                                            </div>
                                            <div class="panel-body">
                                                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                                {
                                                    <fieldset>
                                                        @Html.HiddenFor(m => m.Course.Id)

                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Einordnung nach "Ampelsystem"</label>
                                                            <div class="col-md-10">
                                                                <div class="radio-list">
                                                                    <label>
                                                                        @Html.RadioButtonFor(m => m.optionsAccess, 1)
                                                                        Jeder Studierende kann sich eintragen
                                                                    </label>
                                                                    <label>
                                                                        @Html.RadioButtonFor(m => m.optionsAccess, 2)
                                                                        Studierende der angegebenen Studiengänge werden bevorzugt, d.h. alle anderen landen auf der Warteliste
                                                                    </label>
                                                                    <label>
                                                                        @Html.RadioButtonFor(m => m.optionsAccess, 3)
                                                                        Nur Studierende der angegebenen Studiengänge können sich eintragen
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr />
                                                        <div class="form-group">
                                                            <label class="col-md-2 control-label">Platzkontingent</label>
                                                            <div class="col-md-10">
                                                                <div class="radio-list">
                                                                    <label>
                                                                        @Html.RadioButtonFor(m => m.optionsLimit, 1)
                                                                        Keine Beschränkung
                                                                    </label>
                                                                    <label>
                                                                        @Html.RadioButtonFor(m => m.optionsLimit, 2)
                                                                        Beschränkung auf Ebene der Lehrveranstaltung als Ganzes
                                                                        @Html.TextBoxFor(m => m.Capacity, new { @class = "form-control" })
                                                                    </label>
                                                                    <label>
                                                                        @Html.RadioButtonFor(m => m.optionsLimit, 3)
                                                                        Beschränkung auf Ebene der einzelnen Studiengänge
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @foreach (var occGroup in Model.Course.Occurrence.Groups)
                                                        {
                                                            <div class="form-group">
                                                                <label class="col-md-offset-2 col-md-2 control-label">Anzahl Plätze für @Html.GroupList(occGroup.SemesterGroups, showLink: false)</label>
                                                                <div class="col-md-2">
                                                                    <input name="@occGroup.Id" id="@occGroup.Id" value="@occGroup.Capacity" class="form-control dtcap" />
                                                                </div>
                                                            </div>
                                                        }

                                                        <div class="form-group">
                                                            <div class="col-md-offset-2 col-md-8">
                                                                <a class="btn btn-primary" href="javascript:onSave()"><i class="fa fa-save"></i> Speichern</a>
                                                            </div>
                                                        </div>

                                                    </fieldset>

                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @section scripts
                            {
                                <script>

                                    function onSave() {
                                        var list = $(".dtcap").get();
                                        var capacity = $("#Capacity").val();
                                        var optAccess = $('input[name=optionsAccess]:checked').val();
                                        var optLimit = $('input[name=optionsLimit]:checked').val();


                                        var n = list.length;


                                        var groupIds = new Array();
                                        var groupCaps = new Array();

                                        for (var i = 0; i < n; i++) {
                                            groupIds[i] = list[i].name;
                                            groupCaps[i] = list[i].value;
                                        }


                                        $.ajax(
                                            {
                                                type: "POST",
                                                url: '@Url.Action("SaveAdminNewRules")',
                                                data: {
                                                    courseId: "@Model.Course.Id",
                                                    optAccess: optAccess,
                                                    optLimit: optLimit,
                                                    capacity: capacity,
                                                    groupIds: groupIds,
                                                    groupCaps: groupCaps

                                                },
                                                success: function (data, success, xhr) {
                                                    window.location = data.url;
                                                }
                                            });



                                    }


                                </script>


                            }
}