@using MyStik.TimeTable.Data
@using MyStik.TimeTable.DataServices.Booking
@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.CourseDetailViewModel


@{
    ViewBag.Title = "Platzkontingente";

    var db = new TimeTableDbContext();

    foreach (var quota in Model.Course.Occurrence.SeatQuotas)
    {
        if (quota.ItemLabelSet == null)
        {
            var labelSet = new ItemLabelSet();
            quota.ItemLabelSet = labelSet;
            db.ItemLabelSets.Add(labelSet);
        }
    }

    db.SaveChanges();

    var bookingService = new BookingServiceQuotas(db, Model.Course.Occurrence);
    var bookingLists = bookingService.GetBookingLists();




}


<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
            @if (Model.Course.Organiser != null)
            {
                <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new { id = Model.Course.Organiser.Id })">@Model.Course.Organiser.ShortName</a></li>
            }
            @if (Model.Course.Semester != null)
            {
                <li class="breadcrumb-item"><a href="@Url.Action("Organiser", "Dictionary", new { semId = Model.Course.Semester.Id, orgId = Model.Course.Organiser.Id })">@Model.Course.Semester.Name</a></li>
            }
            <li class="breadcrumb-item"><a href="@Url.Action("Details", "Course", new { id = Model.Course.Id })">@Model.Course.ShortName</a></li>
            <li class="breadcrumb-item active" aria-current="page">Platzkontingente</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Einfache Platzkontingente</h5>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <a class="btn btn-outline-primary" href="@Url.Action("AddQuota", new { id = Model.Course.Id })"><i class="bi bi-plus"></i> Platzkontingent hinzufügen</a>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Studiengang</th>
                        <th>Plätze</th>
                        <th>Werte < 0 => unbegrenzt</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var quota in Model.Course.Occurrence.SeatQuotas)
                    {
                        <tr>
                            @if (quota.Curriculum != null)
                            {
                                <td>@quota.Curriculum.ShortName</td>
                            }
                            else
                            {
                                <td>Offen für alle Studiengänge</td>
                            }
                            @if (quota.MaxCapacity == int.MaxValue)
                            {
                                <td>unbegrenzt</td>
                            }
                            else
                            {
                                <td>@quota.MaxCapacity</td>
                            }
                            <td>
                                @using (Html.BeginForm("SetQuota", "Course", FormMethod.Post, new { @class = "row g-3", role = "form" }))
                                {
                                    <input name="quotaId" hidden value="@quota.Id"/>
                                    <input name="courseId" hidden value="@Model.Course.Id"/>
                                    <div class="col-2">
                                        <input type="text" name="delta" id="delta" class="form-control" placeholder="">
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-outline-primary">Überschreiben</button>
                                    </div>
                                }
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-outline-danger" href="@Url.Action("DeleteQuota", new { id = quota.Id })">
                                        <i class="bi bi-trash"></i> Löschen
                                    </a>
                                </div>
                            </td>
                        </tr>

                    }
                    </tbody>
                </table>
            </div>
                </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Zusammengesetzte Platzkontingente</h5>
                </div>
                <div class="card-body">
                    <div class="alert alert-info">
                        <div>Folgende Möglichkeiten sollen hier entstehen</div>
                        <ul>
                            <li>Ein Platzkontingent steht insgesamt für Studierender mehrerer Studiengänge zur Verfügung, z.B. 20 Plätze für Studierende aus A oder B. Keine Kontrolle über die Zusammensetzung.</li>
                            <li>Angabe Kohorten. Beispiel: 15 Plätze für A (ohne Angabe Kohorte), 3 Plätze für A mit Kohorte CIE</li>
                        </ul>
                    </div>
                </div>
                @*
        <div class="list-group">
            <div class="list-group-item">
                <a class="btn btn-outline-primary" href="@Url.Action("AddQuotaComplex", new { id = Model.Course.Id })"><i class="bi bi-plus"></i> Platzkontingent hinzufügen</a>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div><strong>Basiskontingent</strong></div>
                    <span>20 Plätze</span>
                </div>
                <div class="d-flex justify-content-between">
                    <div>Studiengänge / Kohorten</div>
                    <div>
                        <span>AU</span>, <span>LM</span>, <span>WI</span>
                    </div>
                </div>
                <div class="mt-3">
                    <a href="#" class="btn btn-outline-primary">Einstellungen</a>
                    <a href="#" class="btn btn-outline-primary">Zusammensetzung</a>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div><strong>Zusatzplätze international</strong></div>
                    <span>4 Plätze</span>
                </div>
                <div class="d-flex justify-content-between">
                    <div>Studiengänge / Kohorten</div>
                    <div>
                        <span>Studiengang beliebig</span> <span class="badge bg-secondary">CIE</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div><strong>Wiederholer</strong></div>
                    <span>7 Plätze</span>
                </div>
                <div class="d-flex justify-content-between">
                    <div>Studiengänge / Kohorten</div>
                    <div>
                        <span>AU</span> <span class="badge bg-secondary">2B</span>, <span>LM</span> <span class="badge bg-secondary">3</span>, <span>WI</span> <span class="badge bg-secondary">5 INF</span>
                    </div>
                </div>
            </div>
        </div>
                *@
            </div>
        </div>
    </div>
</div>
