@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.CourseDetailViewModel


@{
    ViewBag.Title = "Verwaltung";
}

@Html.Partial("_CourseSummaryHeader", Model.Summary)

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-film"></i> Aktuelles</h4>
                </div>
                <div class="list-group">
                        @if (!Model.DatesThisWeek.Any() && !Model.DatesNextWeek.Any())
                        {
                            if (Model.NextDate != null)
                            {
                                <div class="list-group-item">
                                    <h5 class="list-group-item-heading">Nächster Termin: @Html.Date(Model.NextDate)</h5>
                                </div>
                            }
                            else
                            {
                                <div class="list-group-item">
                                    <h5 class="list-group-item-heading"><i class="fa fa-check text-success"></i> Keine zukünftigen Termine mehr</h5>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="list-group-item">
                                <h5 class="list-group-item-heading">Termine diese Woche</h5>
                                <ul>
                                    @foreach (var date in Model.DatesThisWeek)
                                    {
                                        <li>@Html.Date(date)</li>
                                    }
                                </ul>
                            </div>
                            <div class="list-group-item">
                                <h5 class="list-group-item-heading">Nächste Woche</h5>
                                <ul>
                                    @foreach (var date in Model.DatesNextWeek)
                                    {
                                        <li>@Html.Date(date)</li>
                                    }
                                </ul>
                            </div>
                        }
                    <a href="@Url.Action("Download", new {id=Model.Course.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading"><i class="fa fa-download"></i> Teilnehmerlisten</h5>
                    </a>
                    <a href="@Url.Action("CustomOccurrenceMail", "Mailing", new {id=Model.Course.Occurrence.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading"><i class="fa fa-envelope-o"></i> Mail senden</h5>
                    </a>
                    <a href="@Url.Action("Details", null, new {id=Model.Course.Id})" class="list-group-item list-group-item-info">
                        <h5 class="list-group-item-heading"><i class="fa fa-rocket"></i> Studierendensicht</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-wrench"></i> Verwaltung</h4>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("AdminNewDates", new {id = Model.Course.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading"><i class="fa fa-calendar"></i> Termine</h5>
                        <div class="list-group-item-text">
                            Absagen, Verlegen, Verschieben, Löschen, Anlegen
                        </div>
                    </a>
                    <a href="@Url.Action("AdminNewParticipients", new {id=Model.Course.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading"><i class="fa fa-pencil"></i> Eintragungen</h5>
                        <div class="list-group-item-text">
                            Teilnehmer- und Wartelisten
                        </div>
                    </a>
                    @if (Model.Course.Occurrence.IsAvailable)
                    {

                        <a href="@Url.Action("Lock", new {id = Model.Course.Occurrence.Id})" class="list-group-item list-group-item-info">
                            <h5 class="list-group-item-heading"><i class="fa fa-lock"></i> Eintragungen sperren</h5>
                            <div class="list-group-item-text">
                                Studierende können sich nicht mehr eintragen
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("UnLock", new {id = Model.Course.Occurrence.Id})" class="list-group-item list-group-item-info">
                            <h5 class="list-group-item-heading"><i class="fa fa-unlock"></i> Eintragungen freigeben</h5>
                            <div class="list-group-item-text">
                                Studierende können sich wieder eintragen
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-cogs"></i> Einstellungen</h4>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("AdminNewInfos", new {id = Model.Course.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading"><i class="fa fa-info-circle"></i> Allgemeine Informationen</h5>
                        <div class="list-group-item-text">
                            Kursbeschreibung, Angaben zu moodle Kurs, etc.
                        </div>
                    </a>
                    <a href="@Url.Action("ChangeGroups", new {id = Model.Course.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading"><i class="fa fa-group"></i> Semestergruppen</h5>
                        <div class="list-group-item-text">
                            Einordnung im Vorlesungsverzeichnis
                        </div>
                    </a>
                    <a href="@Url.Action("ChangeTopics", new {id = Model.Course.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading"><i class="fa fa-tags"></i> Themengebiet</h5>
                        <div class="list-group-item-text">
                            Einordnung im Vorlesungsverzeichnis nach Themengebieten. "Modulbereiche"
                        </div>
                    </a>
                    <a href="@Url.Action("AdminNewRules", new {id = Model.Course.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading"><i class="fa fa-legal"></i> Platzkontingente</h5>
                        <div class="list-group-item-text">
                            Platzkontingente, Regeln
                        </div>
                    </a>
                    @if (Request.IsLocal)
                    {
                        <a href="@Url.Action("AdminNewModule", new {id = Model.Course.Id})" class="list-group-item">
                            <h5 class="list-group-item-heading"><i class="fa fa-book"></i> Modulzugehörigkeit</h5>
                            <div class="list-group-item-text">
                                Verbindung zwischen dieser Lehrveranstaltung und einem Modul nach Studienplan / SPO
                            </div>
                        </a>
                    }
                    @if (ViewBag.UserRight.IsOwner || ViewBag.UserRight.IsCourseAdmin)
                    {
                        <a href="@Url.Action("Owners", new {id = Model.Course.Id})" class="list-group-item">
                            <h5 class="list-group-item-heading"><i class="fa fa-user-circle-o"></i> Besitzer</h5>
                        </a>
                        <a href="@Url.Action("DeleteCourse", new {id = Model.Course.Id})" class="list-group-item list-group-item-danger">
                            <h5 class="list-group-item-heading"><i class="fa fa-trash-o"></i> Löschen</h5>
                        </a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

