@model MyStik.TimeTable.Web.Models.CourseDetailViewModel


@{
    ViewBag.Title = "Verwaltung";
}






<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Allgemeine Angaben</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <fieldset>
                        @Html.HiddenFor(m => m.Course.Id)

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    @Html.TextBoxFor(m => m.Course.Name, new { @class = "form-control", placeholder = "Name des Kurses" })
                                    @Html.LabelFor(m => m.Course.Name, new { @class = "" })
                                </div>
                                <div class="form-floating mb-3">
                                    @Html.TextBoxFor(m => m.Course.ShortName, new { @class = "form-control", placeholder = "Kurzbezeichnung des Kurses" })
                                    @Html.LabelFor(m => m.Course.ShortName, new { @class = "" })
                                </div>
                                <div class="form-floating mb-3">
                                    @Html.TextBoxFor(m => m.Course.UrlMoodleCourse, new { @class = "form-control", placeholder = "URL des Moodle-Kurses" })
                                    @Html.LabelFor(m => m.Course.UrlMoodleCourse, new { @class = "" })
                                </div>
                                <div class="form-floating mb-3">
                                    @Html.TextBoxFor(m => m.Course.KeyMoodleCourse, new { @class = "form-control", placeholder = "Zugangsschlüssel des Moodle-Kurses" })
                                    @Html.LabelFor(m => m.Course.KeyMoodleCourse, new { @class = "" })
                                </div>
                            </div>
                            <div class="col-md-8">
                                @Html.TextAreaFor(m => m.Description2, new { @class = "form-control", placeholder = "Beschreibung des Kurses", rows = "10" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Speichern</button>
                                <a class="btn btn-outline-secondary" href="@Url.Action("Details", new {id = Model.Course.Id})"><i class="bi bi-x"></i> Abbrechen</a>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>



@section styles
{

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.css")" />

}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $("#Description2").cleditor();
        });
    </script>
}