@model MyStik.TimeTable.Web.Models.CourseDetailViewModel
@{
    ViewBag.Title = "Modul auswählen";
}

@Html.Partial("_CourseSummaryHeader", Model.Summary)


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-film"></i> Modul</h4>
                </div>
                <div class="list-group">
                    @if (Model.Module != null)
                    {
                        <div class="list-group-item">

                        </div>
                    }
                    else
                    {
                        foreach (var curr in Model.Summary.Curricula)
                        {
                            <a href="@Url.Action("CreateFromCourse", "Module", new {courseId=Model.Course.Id, currId=curr.Id})" class="list-group-item">
                                <h4>Modul anlegen in @curr.ShortName</h4>
                            </a>
                        }
                        foreach (var curr in Model.Summary.Curricula)
                         {
                             <a href="@Url.Action("SelectForCourse", "Module", new {courseId=Model.Course.Id, currId=curr.Id})" class="list-group-item">
                                 <h4>Modul auswählen aus @curr.ShortName</h4>
                             </a>
                         }
                    }
                </div>

            </div>
        </div>
    </div>
</div>


