@using System.Activities.Statements
@using MyStik.TimeTable.Data
@using MyStik.TimeTable.DataServices.Booking
@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.CourseDetailViewModel


@{
    ViewBag.Title = "Platzkontingente";

    var db = new TimeTableDbContext();

    foreach (var quota in Model.Course.Occurrence.SeatQuotas)
    {
        if (quota.ItemLabelSet == null)
        {
            var labelSet = new ItemLabelSet();
            quota.ItemLabelSet = labelSet;
            db.ItemLabelSets.Add(labelSet);
        }
    }

    db.SaveChanges();

    var bookingService = new BookingServiceQuotas(db, Model.Course.Occurrence);
    var bookingLists = bookingService.GetBookingLists();




}


<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
            @if (Model.Course.Organiser != null)
            {
                <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new { id = Model.Course.Organiser.Id })">@Model.Course.Organiser.ShortName</a></li>
            }
            @if (Model.Course.Semester != null)
            {
                <li class="breadcrumb-item"><a href="@Url.Action("Organiser", "Dictionary", new { semId = Model.Course.Semester.Id, orgId = Model.Course.Organiser.Id })">@Model.Course.Semester.Name</a></li>
            }
            <li class="breadcrumb-item"><a href="@Url.Action("Details", "Course", new { id = Model.Course.Id })">@Model.Course.ShortName</a></li>
            <li class="breadcrumb-item active" aria-current="page">Platzkontingente</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="btn-group">
                            <a class="btn btn-outline-secondary" href="@Url.Action("Details", new { id = Model.Course.Id })"><i class="bi bi-chevron-left"></i> zurück</a>
                            <a class="btn btn-outline-primary" href="@Url.Action("AddQuota", new { id = Model.Course.Id })"><i class="bi bi-plus"></i> Platzkontingent hinzufügen</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @foreach (var quota in Model.Course.Occurrence.SeatQuotas)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">Anzahl Plätze (Kapazität)</div>
                                            <div class="col-md-2">
                                                @if (quota.MaxCapacity == int.MaxValue)
                                                {
                                                    <div>unbegrenzt</div>
                                                }
                                                else
                                                {
                                                    <div>@quota.MaxCapacity</div>
                                                }
                                            </div>
                                            <div class="col-md-6">
                                                @using (Html.BeginForm("SetQuota", "Course", FormMethod.Post, new { @class = "row g-3", role = "form" }))
                                                {
                                                    <input name="quotaId" hidden value="@quota.Id" />
                                                    <input name="courseId" hidden value="@Model.Course.Id" />
                                                    <div class="input-group mb-1">
                                                        <input type="text" name="delta" id="delta" class="form-control" placeholder="Neuer Wert (für unbegrenzt Wert < 0 angeben)">
                                                        <button type="submit" class="btn btn-outline-primary"><i class="bi bi-123"></i> Wert übernehmen</button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <div class="col-md-4">Bereitgestellt für Studierende in folgenden Studiengängen (Zielgruppen)</div>
                                            <div class="col-md-8">
                                                @if (quota.Fractions.Any())
                                                {
                                                    foreach (var quotaFraction in quota.Fractions)
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                @if (quotaFraction.Curriculum != null)
                                                                {
                                                                    <div>@quotaFraction.Curriculum.ShortName</div>
                                                                }
                                                                else
                                                                {
                                                                    <div>Offen für alle Studiengänge</div>
                                                                }
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="btn-group">
                                                                    <a class="btn btn-outline-primary" href="@Url.Action("EditQuotaTargetFraction", new { id = quotaFraction.Id })">
                                                                        <i class="bi bi-gear"></i> Zielgruppe ändern
                                                                    </a>
                                                                    <a class="btn btn-outline-danger" href="@Url.Action("DeleteQuotaTargetFraction", new { id = quotaFraction.Id })">
                                                                        <i class="bi bi-trash"></i> Zielgruppe löschen
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            @if (quota.Curriculum != null)
                                                            {
                                                                <div>@quota.Curriculum.ShortName</div>
                                                            }
                                                            else
                                                            {
                                                                <div>Offen für alle Studiengänge</div>
                                                            }
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="btn-group">
                                                                @if (quota.Curriculum != null)
                                                                {
                                                                    <a class="btn btn-outline-primary" href="@Url.Action("EditQuotaTarget", new { id = quota.Id })">
                                                                        <i class="bi bi-gear"></i> Zielgruppe ändern
                                                                    </a>
                                                                    <a class="btn btn-outline-danger" href="@Url.Action("DeleteQuotaTarget", new { id = quota.Id })">
                                                                        <i class="bi bi-trash"></i> Zielgruppe löschen
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a class="btn btn-outline-primary" href="@Url.Action("EditQuotaTarget", new { id = quota.Id })">
                                                                        <i class="bi bi-gear"></i> Zielgruppe festlegen
                                                                    </a>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="btn-group">
                                                    <a class="btn btn-outline-primary" href="@Url.Action("AddQuotaTargetFraction", new { id = quota.Id })">
                                                        <i class="bi bi-plus"></i> Zielgruppe hinzufügen
                                                    </a>
                                                    <a class="btn btn-outline-danger" href="@Url.Action("DeleteQuota", new { id = quota.Id })">
                                                        <i class="bi bi-trash"></i> Platzkontingent löschen
                                                    </a>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group mb-3">
                                                            <input id="txtTest" type="text" class="form-control" placeholder="[Studiengang]:[Kohorte]" aria-label="Recipient's username" aria-describedby="button-addon2">
                                                            <a href="javascript:onTest('@quota.Id')" class="btn btn-outline-secondary" type="button" id="button-addon2">Test</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div id="testResponse">
                                                            <div class="text-secondary">
                                                                <i class="bi bi-question"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="alert alert-info">
                                                            Hier kann getestet werden, ob sich Studierende einer bestimmten Zielgruppe eintragen können. Folgende Varianten sind möglich:
                                                            <ul>
                                                                <li>Nur Studiengang, z.B. WI, BABW</li>
                                                                <li>Hochschulweite Kohorte (d.h. alle Studiengänge), z.B. HM:CIE</li>
                                                                <li>Mehrere Kohorten in einem Studiengang, z.B. MBE:ING/NW,CIE => Studierender eines Zugangstyps UND Incomer</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        function onTest(quotaId) {
            var str = $("#txtTest").val();


            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("TestQuota")',
                    data: {
                        quotaId: quotaId,
                        test: str
                    },
                    success: function(data, success, xhr) {
                        $("#testResponse").html(data);
                        $("#loading").hide();
                    }
                });
        }

    </script>
}
