@model MyStik.TimeTable.Web.Models.CourseHistoryModel

@{
    ViewBag.Title = "Zuordnung Vorlesungsverzeichnis";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Zuordnung Lehrveranstaltung im Vorlesungsverzeichnis</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {

                    @Html.HiddenFor(m => m.Course.Id)
                    <div class="row mb-3">
                        <label for="org" class="col-sm-2 col-form-label">Fakultät</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="org" value="@Model.Course.Organiser.ShortName">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="SemesterId" class="col-sm-2 col-form-label">Semester</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(m => m.SemesterId, (IEnumerable<SelectListItem>)ViewBag.Semester, new { @class = "form-select", onchange = "onSemesterChanged()" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="SegementId" class="col-sm-2 col-form-label">Semesterabschnitt</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(m => m.SegmentId, (IEnumerable<SelectListItem>)ViewBag.Segments, new { @class = "form-select" })
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Speichern</button>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        function onCurriculumChanged() {

            var semId = $('#SemesterId option:selected').val();
            var orgId = '@Model.Course.Organiser.Id';

            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("GetSegments")',
                    data: {
                        semId: semId,
                        orgId: orgId
                    },
                    success: function(data, success, xhr) {
                        $('#SegmentId').html(data);
                    }
                });
        }
    </script>
}
