@model MyStik.TimeTable.Web.Models.CourseCreateModel3
@{
    ViewBag.Title = "Zuordnung Vorlesungsverzeichnis";
}

@section styles
{
}


<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi-grid"></i></a></li>
                @if (Model.Summary.Course.Organiser != null)
                {
                    <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new { id = Model.Summary.Course.Organiser.Id })">@Model.Summary.Course.Organiser.ShortName</a></li>
                }
                @if (Model.Summary.Course.Semester != null)
                {
                    <li class="breadcrumb-item"><a href="@Url.Action("Organiser", "Dictionary", new { semId = Model.Summary.Course.Semester.Id, orgId = Model.Summary.Course.Organiser.Id })">@Model.Summary.Course.Semester.Name</a></li>
                }
                <li class="breadcrumb-item"><a href="@Url.Action("Details", new {id=Model.Summary.Course.Id})"> @Model.Summary.Course.ShortName</a></li>
                <li class="breadcrumb-item active" aria-current="page">Einordnung ins Vorlesungsverzeichnis</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <h5>Hinweis:</h5>
                    <p>Die Semestergruppen sind ein praktisches, aber letztlich künstliches Konstrukt. 
                        Sie haben als Filter zum Auffinden von Lehrveranstaltungen im Vorlesungsverzeichnis und damit zur Anzeige von "Stundenplänen", 
                        als Grundlage von Platzkontingenten, Zugangsberechtigungen und Wahlverfahren sowie letztlich als Merkmal zur Identifikation von Studierendengruppen, z.B. beim Versand von E-Mails.</p>
                    <p>Im Zuge der Weiterentwicklung hat dieses Konstrukt ausgedient und wird schrittweise ersetzt, z.B. durch Module und Studienpläne.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Organisatorische Sicht</h5>
                        <p>
                            Eine Lehrveranstaltung (Kurs) ist genau einem Abschnitt eines Lehrsemesters einer Einrichtung zugeordnet.
                            Der Kurzname einer Lehrveranstaltung sollte innerhalb eines Abschnitts eines Lehrsemesters eindeutig sein. 
                            Über Labels kann eine Lehrveranstaltung mit Zusatzinformationen versehen werden, z.B. Studiengruppe, Studienrichtung oder -schwerpunkt.
                        </p>
                        <div class="row">
                            <div class="col-md-6">Einrichtung</div>
                            <div class="col-md-6">@Model.Summary.Course.Organiser.ShortName</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Semester</div>
                            <div class="col-md-6">@Model.Summary.Course.Semester.Name</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Abschnitt</div>
                            @if (Model.Summary.Course.Segment != null)
                            {
                                <div class="col-md-6">@Model.Summary.Course.Segment.Description</div>
                            }
                            else
                            {
                                <div class="col-md-6">Nicht zugeordnet</div>
                            }
                        </div>
                        <div class="row mt-3">
                            <div class="btn-group">
                                <a class="btn btn-outline-primary" href="@Url.Action("AdminNewDictionary", "Course", new { id = Model.Summary.Course.Id })">
                                    <i class="bi-collection-play"></i> Einordnung Vorlesungsverzeichnis
                                </a>
                                <a class="btn btn-outline-primary" href="@Url.Action("AdminNewLabels", "Course", new {id = Model.Summary.Course.Id })">
                                    <i class="bi-tags"></i> Labels
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



        @*
            @Html.Partial("_CourseSummaryHeader", Model.Summary)


                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    Einordnung der Lehrveranstaltung im Vorlesungsverzeichnis nach Semestergruppen
                                </h4>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    @Html.HiddenFor(m => m.CourseId)
                                    <div class="mb-3">
                                        <div class="col-sm-9">
                                            <div id="GroupTable">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Fakultät</th>
                                                            <th>Semester</th>
                                                            <th>Studiengang</th>
                                                            <th>Gruppenname</th>
                                                            <th>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>
                                                                @Html.DropDownListFor(m => m.OrganiserId, (IEnumerable<SelectListItem>)ViewBag.Faculties, new { @class = "form-select", onchange = "onFacultyChanged()" })
                                                            </th>
                                                            <th>
                                                                @Html.DropDownListFor(m => m.SemesterId, (IEnumerable<SelectListItem>)ViewBag.Semesters, new { @class = "form-select", onchange = "onSemesterChanged()" })
                                                            </th>
                                                            <th>
                                                                @Html.DropDownListFor(m => m.CurriculumId, (IEnumerable<SelectListItem>)ViewBag.Curricula, new { @class = "form-select", onchange = "onCurriculumChanged()" })
                                                            </th>
                                                            <th>
                                                                @Html.DropDownListFor(m => m.GroupId, (IEnumerable<SelectListItem>)ViewBag.Groups, new { @class = "form-select" })
                                                            </th>
                                                            <th>
                                                                <button class="btn btn-outline-primary btn-sm" onclick="addGroup()"><i class="bi-plus"></i></button>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="groupList">
                                                        @foreach (var group in Model.Course.SemesterGroups)
                                                        {
                                                            <tr id="@group.Id">
                                                                <td>@group.CapacityGroup.CurriculumGroup.Curriculum.Organiser.ShortName</td>
                                                                <td>@group.Semester.Name</td>
                                                                <td>@group.CapacityGroup.CurriculumGroup.Curriculum.ShortName</td>
                                                                <td>@group.CapacityGroup.GroupName</td>
                                                                <td><button class="btn btn-outline-danger btn-sm" onclick="deleteRow('@group.Id');"><i class="bi-trash"></i></button></td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="col-sm-9">
                                            <button class="btn btn-outline-primary" onclick="saveCourse()"><i class="bi-save"></i> speichern</button>
                                            <a class="btn btn-outline-primary" href="@Url.Action("Details", "Course", new {id=Model.Course.Id})"><i class="bi-x"></i> abbrechen</a>
                                            <span id="loading"><i class="fa fa-spinner fa-spin text-muted"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h4>Erläuterungen</h4>
                            </div>
                            <div class="card-body">
                                <p>Die Lehrveranstaltung wird in die hier angegebenene Semestergruppen ins Vorlesungsverzeichnis eingetragen.</p>
                                <p>Die Seemstergruppen sagen nichts über die Zugehörigkeit der Lehrveranstaltung zu einem Studiengang etc. aus!</p>
                            </div>
                        </div>
                    </div>
                </div>

            @section Scripts {

                <script>
                    function onFacultyChanged() {
                        var org = $("#OrganiserId option:selected").val();

                        $.ajax(
                            {
                                type: 'POST',
                                url: '@Url.Action("SemesterList", "Curriculum")',
                                data: {
                                    orgId: org,
                                    activeOnly: false
                                },
                                success: function (data, success, xhr) {
                                    $('#SemesterId').html(data);
                                    onSemesterChanged();
                                }
                            });
                    }


                    function onSemesterChanged() {
                        var sem = $("#SemesterId option:selected").val();
                        var orgId = $("#OrganiserId option:selected").val();

                        $.ajax(
                            {
                                type: 'POST',
                                url: '@Url.Action("CurriculaList", "Curriculum")',
                                data: {
                                    semId: sem,
                                    orgId: orgId,
                                    activeOnly: false
                                },
                                success: function(data, success, xhr) {
                                    $('#CurriculumId').html(data);
                                    onCurriculumChanged();
                                }
                            });
                    }


                    function onCurriculumChanged() {

                        var prog = $('#CurriculumId option:selected').val();
                        var sem = $('#SemesterId option:selected').val();

                        $.ajax(
                            {
                                type: 'POST',
                                url: '@Url.Action("GroupList", "Curriculum")',
                                data: {
                                    currId: prog,
                                    semId: sem,
                                    activeOnly: false
                                },
                                success: function (data, success, xhr) {
                                    $('#GroupId').html(data);
                                }
                            });
                    }



                    function addGroup() {
                        var groupId = $("#GroupId option:selected").val();

                        var semText = $("#SemesterId option:selected").text();
                        var orgText = $("#OrganiserId option:selected").text();
                        var currText = $("#CurriculumId option:selected").text();
                        var groupText = $("#GroupId option:selected").text();

                        $("#groupList").append("<tr id=\""
                            + groupId + "\"><td>"
                            + orgText + "</td><td>"
                            + semText + "</td><td>"
                            + currText + "</td><td>"
                            + groupText + "</td><td><button class=\"btn btn-default btn-sm\" onclick=\"deleteRow('"
                            + groupId + "');\"><i class=\"fa fa-trash-o\"></i></button></td></tr>");
                    }



                    $(document).ready(function() {
                        $("#loading").hide();
                    });


                    function deleteRow(id) {
                        $("#" + id).remove();
                    }


                    function saveCourse() {

                        $("#loading").show();


                        var courseId = $("#CourseId").val();
                        var groupList = new Array();

                        var list = $("#GroupTable > table > tbody > tr").get();
                        var n = list.length;
                        if (n > 0) {
                            for (var i = 0; i < n; i++) {
                                groupList[i] = list[i].id;
                            }
                        }


                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("ChangeGroups")',
                                data: {
                                    CourseId: courseId,
                                    GroupIds: groupList
                                },
                                success: function(data, success, xhr) {
                                    window.location.replace("@Url.Action("Details", new {id = Model.Course.Id})");
                                }
                            });
                    }


                </script>
            }
        *@
