@model MyStik.TimeTable.Web.Models.CourseDeleteModel
@{
    ViewBag.Title = "Lehrveranstaltung löschen";
}

<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Lehrveranstaltung @Model.Course.Name löschen</h4>
            </div>
            <div class="panel-body">
                @if (Model.Course.Occurrence.Subscriptions.Any())
                {
                    <div class="alert alert-danger">
                        <strong>Hinweise:</strong>
                        <ul>
                            <li>In dieser Lehrveranstaltung gibt es ingesamt @Model.Course.Occurrence.Subscriptions.Count Eintragungen.</li>
                            <li>Lehrveranstaltungen mit Eintragungen können nicht gelöscht werden.</li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        <strong>Hinweise:</strong>
                        <ul>
                            <li>Das Löschen einer Lehrveranstaltung kann nicht rückganängig gemacht werden</li>
                            <li>Um sicherzugehen, dass Sie sich wirklich löschen möchten, müssen Sie einen Code eingeben</li>
                        </ul>
                    </div>
                    <p>Bitte geben Sie den Code <strong>@Model.Course.ShortName</strong> ein.</p>
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }
                        ))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(false)
                        @Html.HiddenFor(m => m.Course.Id)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Code, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-danger"><i class="fa fa-times"></i> Endgültig Löschen</button>
                                <a href="@Url.Action("Index", "Course", new {id = Model.Course.Id})" class="btn btn-default">Abbrechen</a>
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</div>




