@using System.Globalization
@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.CourseSelectModel
@{
    ViewBag.Title = "Lehrveranstaltung";
}

@section styles {
    <style>
        #wikitext img {
            max-width: 100%;
            height: auto;
        }
    </style>
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Lehrveranstaltung</h4>
                </div>
                <div class="list-group">
                    @if (ViewBag.UserRight.IsHost || ViewBag.UserRight.IsOwner || ViewBag.UserRight.IsCourseAdmin)
                    {
                        @Html.Partial("_CourseSummarySubscription", Model.Summary)
                        if (Model.Summary.Course.IsInternal)
                        {
                            <div class="list-group-item list-group-item-info">
                                <h5 class="list-group-item-heading"><i class="fa fa-lock"></i> Gesperrt - Aktuell können nur Administratoren Änderungen vornehmen.</h5>
                            </div>
                        }

                            <div class="list-group-item">
                                <div class="btn-group" role="group">
                                    <a href="@Url.Action("CustomOccurrenceMail", "Mailing", new {id=Model.Summary.Course.Occurrence.Id})" class="btn btn-default">
                                        <i class="fa fa-envelope-o"></i> Mail senden
                                    </a>
                                    <a href="@Url.Action("Download", new {id = Model.Summary.Course.Id})" class="btn btn-default"><i class="fa fa-download"></i> Listen</a>
                                    <a href="@Url.Action("AdminNewDates", new {id = Model.Summary.Course.Id})" class="btn btn-default"><i class="fa fa-calendar"></i> Termine</a>
                                    <a href="@Url.Action("AdminNewParticipients", new {id = Model.Summary.Course.Id})" class="btn btn-default"><i class="fa fa-group"></i> Teilnehmende</a>
                                    @if (Model.Summary.Course.IsInternal && !ViewBag.UserRight.IsCourseAdmin)
                                    {
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-cogs"></i> Einstellungen <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="@Url.Action("AdminNewInfos", new {id = Model.Summary.Course.Id})"><i class="fa fa-edit"></i> Beschreibung</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ChangeGroups", new {id = Model.Summary.Course.Id})"><i class="fa fa-book"></i> Semestergruppen</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ChangeTopics", new {id = Model.Summary.Course.Id})"><i class="fa fa-tag"></i> Themengebiet ("Modul")</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("AdminNewRules", new {id = Model.Summary.Course.Id})"><i class="fa fa-legal"></i> Zugangsbeschränkungen, Platzkontigente</a>
                                                </li>
                                            </ul>
                                        </div>
                                    }

                                    @if (!Model.Summary.Course.IsInternal || ViewBag.UserRight.IsCourseAdmin)
                                    {
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-cogs"></i> Einstellungen <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="@Url.Action("AdminNewInfos", new {id = Model.Summary.Course.Id})"><i class="fa fa-edit"></i> Beschreibung</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ChangeGroups", new {id = Model.Summary.Course.Id})"><i class="fa fa-book"></i> Semestergruppen</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ChangeTopics", new {id = Model.Summary.Course.Id})"><i class="fa fa-tag"></i> Themengebiet ("Modul")</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("AdminNewRules", new {id = Model.Summary.Course.Id})"><i class="fa fa-legal"></i> Zugangsbeschränkungen, Platzkontigente</a>
                                                </li>
                                                @if (Model.Summary.Lottery == null)
                                                {
                                                    if (Model.Summary.Course.Occurrence.IsAvailable)
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("Lock", new {id = Model.Summary.Course.Occurrence.Id})"><i class="fa fa-lock"></i> Eintragung für Studierende sperren</a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("UnLock", new {id = Model.Summary.Course.Occurrence.Id})"><i class="fa fa-unlock"></i> Eintragung für Studierende ermöglichen</a>
                                                        </li>
                                                    }
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Details", "Lottery", new {id = Model.Summary.Lottery.Id})"><i class="fa fa-random"></i> Zeitplan ist in Wahlverfahren geregelt</a>
                                                    </li>
                                                }
                                                @if (ViewBag.UserRight.IsCourseAdmin)
                                                {
                                                    if (Model.Summary.Course.IsInternal)
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("UnFreeze", new {id = Model.Summary.Course.Id})"><i class="fa fa-unlock"></i> Änderungen durch Lehrende erlauben</a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("Freeze", new {id = Model.Summary.Course.Id})"><i class="fa fa-unlock"></i> Änderungen durch Lehrende sperren</a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    }

                                    @if (ViewBag.UserRight.IsOwner || ViewBag.UserRight.IsCourseAdmin)
                                    {
                                        <a href="@Url.Action("Owners", new {id = Model.Summary.Course.Id})" class="btn btn-default">
                                            <i class="fa fa-user-circle-o"></i> Besitzer
                                        </a>
                                        <a href="@Url.Action("DeleteCourse", new {id = Model.Summary.Course.Id})" class="btn btn-danger">
                                            <i class="fa fa-trash-o"></i> Löschen
                                        </a>
                                    }


                                </div>
                            </div>
                    }

                    @Html.Partial("_CourseSummaryHead", Model.Summary)
                    @Html.Partial("_CourseSummaryDescription", Model.Summary)
                    @Html.Partial("_CourseSummaryDates", Model.Summary)
                    @Html.Partial("_CourseSummaryCapacity", Model.Summary)
                    @if (Request.IsAuthenticated && ViewBag.UserRight.User.MemberState == MemberState.Student)
                    {
                        @Html.Partial("_CourseSummaryBooking", Model)
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        function onSubscribe(e) {
            //alert('#'+e);
            $('#bookingBox').addClass('disabled');
            $('#bookingBox').html('<i class="fa fa-circle-o-notch fa-spin fa-2x"></i>');

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("Subscribe", "Dictionary")',
                    data: {
                        Id: e
                    },
                    success: function(data, success, xhr) {
                        $('#bookingBox').html(data);
                        $('#bookingBox').removeClass('disabled');
                    }
                });

        }
    </script>
}


