@using System.Globalization
@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.CourseSummaryModel
@{
    ViewBag.Title = "Details zu Lehrveranstaltung";
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h4><i class="fa fa-info-circle"></i> Allgemeine Informationen</h4></div>
                <div class="list-group">
                    @Html.Partial("_CourseSummaryListItem", Model)
                    <div class="list-group-item">
                        @if (string.IsNullOrEmpty(Model.Course.Description))
                        {
                            <h5 class="list-group-item-heading">
                                <i>keine Beschreibung vorhanden</i>
                            </h5>
                        }
                        else
                        {
                            <h5 class="list-group-item-heading">
                                Beschreibung
                            </h5>
                            <div class="list-group-item-text">
                                @Html.Raw(Model.Course.Description)
                            </div>
                        }
                    </div>
                    <div class="list-group-item">
                        @if (string.IsNullOrEmpty(Model.Course.UrlMoodleCourse) && string.IsNullOrEmpty(Model.Course.KeyMoodleCourse))
                        {
                            <h5 class="list-group-item-heading"><i>Keine Informationen zu Moodle vorhanden</i></h5>
                        }
                        else
                        {
                            <h5 class="list-group-item-heading">Moodle</h5>
                            <div class="list-group-item-text">
                                <ul class="fa-ul">
                                    @if (!string.IsNullOrEmpty(Model.Course.UrlMoodleCourse))
                                    {
                                        <li>
                                            <i class="fa fa-li fa-globe"></i>
                                            <a href="@Model.Course.UrlMoodleCourse" target="_blank">direkt zum Moodle Kurs <i class="fa fa-external-link"></i></a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(Model.Course.KeyMoodleCourse))
                                    {
                                        <li><i class="fa fa-li fa-key"></i>Zugangsschlüssel <strong>@Model.Course.KeyMoodleCourse</strong></li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h4><i class="fa fa-calendar"></i> Termine</h4></div>
                <div class="list-group">
                    @foreach (var date in Model.Course.Dates.OrderBy(x => x.Begin))
                    {
                        <div class="list-group-item">
                            <h5 class="list-group-item-heading">
                                @Html.TimeSpanWithDate(date)
                            </h5>
                            <ul class="fa-ul">
                                <li><i class="fa fa-li fa-university"></i>@Html.RoomList(date.Rooms)</li>
                                @if (date.Hosts.Any())
                                {
                                    <li><i class="fa fa-li fa-user-md"></i>@Html.LecturerList(date.Hosts)</li>
                                }
                                @if (!string.IsNullOrEmpty(date.Title))
                                {
                                    <li><i class="fa fa-li fa-info-circle"></i>@date.Title</li>
                                }
                                @if (!string.IsNullOrEmpty(date.Description))
                                {
                                    <li><i class="fa fa-li fa-info-circle"></i>@date.Description</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>

        @if (ViewBag.UserRight.IsHost || ViewBag.UserRight.IsOwner || ViewBag.UserRight.IsCourseAdmin)
        {
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4><i class="fa fa-cogs"></i> Verwaltung</h4>
                    </div>
                    <div class="list-group">
                        @if (Model.Course.IsInternal && !ViewBag.UserRight.IsCourseAdmin)
                        {
                            <a href="#" class="list-group-item list-group-item-danger disabled">
                                <div class="list-group-item-heading">
                                    <h5><i class="fa fa-lock"></i> Verwaltungsseite gesperrt</h5>
                                    <div class="list-group-item-text">
                                        Die Verwaltungsseiten sind gesperrt. Zugang haben aktuell nur LV-Administrierende.
                                    </div>
                                </div>
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Admin", new {id = Model.Course.Id})" class="list-group-item list-group-item-warning">
                                <div class="list-group-item-heading">
                                    <h5><i class="fa fa-cog"></i> Verwaltungsseite</h5>
                                    <div class="list-group-item-text">
                                        Termine, Teilnehmer, Einstellungen für Teilnahmebeschränkungen
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>



