@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.CourseSelectModel

@{
    ViewBag.Title = "DetailsNew";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">

                        <h4 class="card-title">Lehrveranstaltung @Model.Summary.Course.Name (@Model.Summary.Course.ShortName)</h4>
                    </div>
                    <div class="col-md-4">
                        @if (ViewBag.UserRight.IsCurriculumAdmin)
                        {
                        <div class="d-md-flex justify-content-md-end">
                            <a href="@Url.Action("Admin",null, new {id = Model.Summary.Course.Id})" class="btn btn-outline-primary">
                                <i class="bi bi-envelope"></i> Mail
                            </a>
                            <a href="@Url.Action("Admin",null, new {id = Model.Summary.Course.Id})" class="btn btn-outline-primary">
                                <i class="bi bi-calendar"></i> Termine
                            </a>
                            <a href="@Url.Action("Admin",null, new {id = Model.Summary.Course.Id})" class="btn btn-outline-primary">
                                <i class="bi bi-people"></i> Teilnehmende
                            </a>
                            <a href="@Url.Action("Admin",null, new {id = Model.Summary.Course.Id})" class="btn btn-outline-primary">
                                <i class="bi bi-gear"></i> Verwaltung
                            </a>
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div>Modulzugehörigkeit und Zuordnung zu Curriculum</div>
                        </div>
                        <div class="col-md-8">
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div>Zuordnung zu Stundenplänen</div>
                        </div>
                        <div class="col-md-8">
                            <div>
                                @Html.GroupList(Model.Summary.Course.SemesterGroups, false, true)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-4">
                            <div>Zeit & Ort</div>
                        </div>
                        <div class="col-8">
                            @if (Model.Summary.Dates.Count == 1)
                            {
                                <div>
                                    immer @Html.Date(Model.Summary.Dates.First()) in [@Html.RoomList(Model.Summary.Rooms, showLinks: true), @Html.RoomList(Model.Summary.VirtualRooms, showLinks: true)]
                                    <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        mehr ...
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div>
                                    insgesamt @Model.Summary.Course.Dates.Count Termine zu verschiedenen Zeiten / Tagen
                                    <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        mehr ...
                                    </a>
                                </div>
                            }
                            @if (Model.Summary.CurrentDate != null)
                            {
                                <div>
                                    Nächster Termin: @Html.TimeSpanWithDate(Model.Summary.CurrentDate) 

                                </div>
                            }
                            <div class="collapse" id="collapseExample">
                                <div class="list-group">
                                    @foreach (var date in Model.Summary.Course.Dates)
                                    {
                                        <div class="list-group-item">
                                            @Html.TimeSpanWithDate(date)
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div>Lehrende</div>
                        </div>
                        <div class="col-md-8">
                            @foreach (var lec in Model.Summary.Lecturers)
                            {
                                <div>
                                    <a href="@Url.Action("Details", "Lecturer", new {id=lec.Id})">@lec.FullName</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div>Infos</div>
                        </div>
                        <div class="col-md-8">
                            <div>
                                <a href="@Url.Action("Details", "Curriculum", new {id = Model.Summary.Course.Id})">
                                    Kursbeschreibung
                                </a>
                            </div>
                            <div>
                                <a href="@Url.Action("Details", "Curriculum", new {id = Model.Summary.Course.Id})">
                                    Moodle Kurs
                                </a>
                            </div>
                            <div>
                                <a href="@Url.Action("Details", "Curriculum", new {id = Model.Summary.Course.Id})">
                                    Zoom Session
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div>Platzbeschränkung / Eintragungen</div>
                        </div>
                        <div class="col-md-8">
                            <div>Keine</div>
                            <div>Insgesamt @Model.Summary.Course.Occurrence.Subscriptions.Count Eintragungen</div>
                            @if (Request.IsAuthenticated && ViewBag.UserRight.User.MemberState == MemberState.Student)
                            {
                                @Html.Partial("_CourseSummaryBooking", Model)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


