@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.CourseDetailViewModel
@{
    ViewBag.Title = "Teilnehmerlisten";
}

@Html.Partial("_CourseSummaryHeader", Model.Summary)


<div class="panel panel-default panel-menu">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <a href="@Url.Action("Admin", new {id=Model.Course.Id})" class="btn btn-default">
                                <i class="fa fa-arrow-left"></i> Zurück
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        Einfache Teilnehmerlisten
                    </h4>
                </div>
                <div class="list-group">
                    <div class="list-group-item list-group-item-info">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-legal"></i> Listen ohne E-Mail Adressen
                        </h5>
                        <div class="list-group-item-text">
                            Warum? Studierende müssten (im Extremfall) sogar jeder einzelnen Nutzung der E-Mail Adresse zustimmen. Wer Studierende erreichen möchte, kann dies über die Mailverteiler bewerkstelligen.
                        </div>
                    </div>
                    <a href="@Url.Action("SubscriptionList", "Occurrence", new {id = Model.Course.Occurrence.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-group"></i> Alle Eintragungen mit Status
                        </h5>
                        <p class="list-group-item-text"></p>
                    </a>
                    <a href="@Url.Action("SubscriptionList", "Occurrence", new {id = Model.Course.Occurrence.Id, IsWaiting=false })" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-group"></i> Nur Teilnehmer + Reservierungen
                        </h5>
                        <p class="list-group-item-text"></p>
                    </a>
                    <a href="@Url.Action("SubscriptionList", "Occurrence", new {id = Model.Course.Occurrence.Id, IsWaiting=true})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-group"></i> Nur Warteliste
                        </h5>
                        <p class="list-group-item-text"></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        Teilnehmerlisten mit Datum
                    </h4>
                </div>
                <div class="list-group">
                    <div class="list-group-item list-group-item-info">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-info"></i> Textdateien
                        </h5>
                        <div class="list-group-item-text">
                        </div>
                    </div>
                    <a href="@Url.Action("ParticipientTable", "Course", new {id = Model.Course.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-group"></i> Alle Eintragungen
                        </h5>
                        <p class="list-group-item-text"></p>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
