@model MyStik.TimeTable.Web.Models.CourseDetailViewModel
@{
    ViewBag.Title = "Teilnehmerlisten";
}

<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
                @if (Model.Summary.Course.Organiser != null)
                {
                    <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new { id = Model.Summary.Course.Organiser.Id })">@Model.Summary.Course.Organiser.ShortName</a></li>
                }
                @if (Model.Summary.Course.Semester != null)
                {
                    <li class="breadcrumb-item"><a href="@Url.Action("Organiser", "Dictionary", new { semId = Model.Summary.Course.Semester.Id, orgId = Model.Summary.Course.Organiser.Id })">@Model.Summary.Course.Semester.Name</a></li>
                }
                <li class="breadcrumb-item"><a href="@Url.Action("Details", "Course", new { id = Model.Summary.Course.Id })">@Model.Summary.Course.ShortName</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("AdminNewParticipients", "Course", new { id = Model.Summary.Course.Id })">Teilnehmende</a></li>
                <li class="breadcrumb-item active" aria-current="page">Listen</li>
            </ol>
        </nav>
    </div>
</div>


    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Einfache Teilnehmerlisten
                    </h4>
                </div>
                <div class="list-group">
                    <div class="list-group-item list-group-item-info">
                        <h5 class="list-group-item-heading">
                            Listen mit E-Mail Adressen
                        </h5>
                    </div>
                    <a href="@Url.Action("SubscriptionList", "Occurrence", new {id = Model.Course.Occurrence.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Alle Eintragungen mit Status
                        </h5>
                        <p class="list-group-item-text"></p>
                    </a>
                    <a href="@Url.Action("ParticipiantList", "Occurrence", new {id = Model.Course.Occurrence.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Nur Status "Teilnehmende"
                        </h5>
                        <p class="list-group-item-text"></p>
                    </a>
                    <a href="@Url.Action("WaitingList", "Occurrence", new {id = Model.Course.Occurrence.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Nur Status "Warteliste""
                        </h5>
                        <p class="list-group-item-text"></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Teilnehmerlisten mit Datum
                    </h4>
                </div>
                <div class="list-group">
                    <div class="list-group-item list-group-item-info">
                        <h5 class="list-group-item-heading">
                            Textdateien
                        </h5>
                        <div class="list-group-item-text">
                        </div>
                    </div>
                    <a href="@Url.Action("ParticipientTable", "Course", new {id = Model.Course.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Alle Eintragungen
                        </h5>
                        <p class="list-group-item-text"></p>
                    </a>
                </div>
            </div>
        </div>

    </div>
