@using System.Globalization
@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.CourseDateInformationModel

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.css")" />
}
@section Scripts {

    <script type="text/javascript" src="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.min.js")"></script>

    <script>
        $(function () {
            $("#DateDescription").cleditor();
        })

    </script>
}

<div class="row">
    <div class="card">
        <div class="modal-header">
            <h4>Information zu Termin @Model.Date.Begin.ToString("dd.MM.yyyy", new CultureInfo("de-DE")) @Html.TimeSpan(Model.Date) </h4>
        </div>
        @using (Html.BeginForm("ChangeDateInformationConfirmed", "Course", FormMethod.Post, new { @class = "", role = "form" }))
        {
            <div>
                @Html.HiddenFor(m => m.DateId)

                <div class="mb-3">
                    @Html.LabelFor(m => m.Title, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Titel des Termins" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(m => m.DateDescription, new { @class = "form-label" })
                    @Html.TextAreaFor(m => m.DateDescription, new { @class = "form-control", placeholder = "Beschreibung des Termins", rows = "9" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(m => m.ShortInfo, new { @class = "col-md-3 control-label" })
                    @Html.TextBoxFor(m => m.ShortInfo, new { @class = "form-control", placeholder = "Kurzinfo (erscheint in Kalenderansicht)" })
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i> SPEICHERN</button>
                <a class="btn btn-outline-primary" href="@Url.Action("AdminNewDates", "Course", new {id=Model.Date.Activity.Id})"><i class="bi bi-x"></i> Abbrechen</a>
            </div>
        }
    </div>
</div>


