
@{
    // Layout = "~/Views/Shared/_LayoutDashboardSidebar.cshtml";
    ViewBag.Title = "HM";
}

@if (ViewBag.UserRight != null && ViewBag.UserRight.IsInstitutionAdmin)
{
    <a href="@Url.Action("Index", "Institution")" class="card-link">Einstellungen</a>
}


<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
            <li class="breadcrumb-item active">HM</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-start">
                    <h5 class="card-title">Aktivitäten</h5>
                </div>
            </div>

            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Dictionary")">
                    <i class="bi bi-collection-play"></i> Vorlesungsverzeichnis
                </a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Lottery")">
                    <i class="bi bi-card-checklist"></i> Wahlverfahren
                </a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Events")">
                    <i class="bi bi-film"></i> Veranstaltungsverzeichnis
                </a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Assessment")">
                    <i class="bi bi-folder-check"></i> Auswahlverfahren
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-start">
                    <h5 class="card-title">Angebote</h5>
                </div>
            </div>

            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="@Url.Action("Curricula")">
                    <i class="bi bi-award"></i> Studienangebote
                </a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("Modules")">
                    <i class="bi bi-boxes"></i> Module
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header">
                @*<div class="row row-cols-lg-auto g-3 align-items-center">*@
                <div class="d-flex justify-content-between align-items-start">
                    <h5 class="card-title">Einrichtungen</h5>
                </div>
            </div>
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="@Url.Action("Faculties")">
                    <i class="bi bi-mortarboard"></i> Fakultäten
                </a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("Services")">
                    <i class="bi bi-yin-yang"></i> Zentrale Services
                </a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("Members")">
                    <i class="bi bi-people"></i> Mitglieder
                </a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("Rooms")">
                    <i class="bi bi-building"></i> Räume
                </a>
            </div>
        </div>
    </div>
</div>
@*
<div class="row">
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Personen</h5>
            </div>
            <div class="list-group">
                <div class="list-group-item disabled">
                    Dozent:innen
                </div>
                <div class="list-group-item disabled">
                    Ansprechpartner:innen
                </div>
                <div class="list-group-item disabled">
                    Gremien
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-start">
                    <h5 class="card-title">Treffpunkte</h5>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item disabled">
                    Standorte
                </div>
                <div class="list-group-item disabled">
                    Schaukästen
                </div>
                <div class="list-group-item disabled">
                    Newsletter
                </div>
            </div>
        </div>
    </div>
</div>
    *@



