
@{
    ViewBag.Title = "HM";
}

@if (ViewBag.UserRight != null && ViewBag.UserRight.IsInstitutionAdmin)
{
    <a href="@Url.Action("Index", "Institution")" class="card-link">Einstellungen</a>
}


<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "University")">Institutionen</a></li>
            <li class="breadcrumb-item active">HM</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-2">
        <nav aria-label="Seitenmenü">
            <div class="card mb-3">
                <div class="list-group">
                    <div class="list-group-item list-group-item-secondary">Angebote</div>
                    <a href="@Url.Action("Curricula")" class="list-group-item list-group-item-action" aria-label="Studienangebote"><i class="bi bi-award"></i><span class="d-none d-sm-inline"> Studienangebote</span></a>
                    <a href="@Url.Action("Modules")" class="list-group-item list-group-item-action" aria-label="Module"><i class="bi bi-boxes"></i><span class="d-none d-sm-inline"> Module</span></a>
                </div>
            </div>
            <div class="card mb-3">
                <div class="list-group">
                    <div class="list-group-item list-group-item-secondary">Institution</div>
                    <a href="@Url.Action("Faculties")" class="list-group-item list-group-item-action" aria-label="Einrichtungen"><i class="bi bi-shop"></i><span class="d-none d-sm-inline"> Einrichtungen</span></a>
                    <a href="@Url.Action("Members")" class="list-group-item list-group-item-action" aria-label="Räume"><i class="bi bi-building"></i><span class="d-none d-sm-inline"> Räume</span></a>
                    <a href="@Url.Action("Index", "Rooms")" class="list-group-item list-group-item-action" aria-label="Personen"><i class="bi bi-person-lines-fill"></i><span class="d-none d-sm-inline"> Personen</span></a>
                </div>
            </div>
        </nav>
    </div>

    <div class="col-10">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Aktuell (20.06.2026)</h5>
                    </div>
                    <div class="list-group">
                        <a href="@Url.Action("Index","Assessment")" class="list-group-item list-group-item-action" aria-label="Auswahlverfahren"><i class="bi bi-binoculars"></i><span class="d-none d-sm-inline"> Auswahlverfahren</span></a>
                        <a href="@Url.Action("Index", "Lottery")" class="list-group-item list-group-item-action" aria-label="Wahlverfahren"><i class="bi bi-signpost-2"></i><span class="d-none d-sm-inline"> Wahlverfahren</span></a>
                        <a href="@Url.Action("Index", "Events")" class="list-group-item list-group-item-action" aria-label="Veranstaltungen"><i class="bi bi-flask"></i><span class="d-none d-sm-inline"> Veranstaltungen</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dieses Semester (SoSe 2026)</h5>
                    </div>
                    <div class="list-group">
                        <a href="@Url.Action("Index", "Dictionary")" class="list-group-item list-group-item-action" aria-label="Lehrveranstaltungen"><i class="bi bi-easel2"></i><span class="d-none d-sm-inline"> Lehrveranstaltungen</span></a>
                        <a href="@Url.Action("Index", "Exam")" class="list-group-item list-group-item-action" aria-label="Prüfungen"><i class="bi bi-trophy"></i><span class="d-none d-sm-inline"> Prüfungen</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dies und das</h5>
                    </div>
                    <div class="list-group">
                        <a href="@Url.Action("Index", "BulletinBoards")" class="list-group-item list-group-item-action" aria-label="Aushänge"><i class="bi bi-shop-window"></i><span class="d-none d-sm-inline"> Aushänge</span></a>
                        <a href="@Url.Action("Index", "Infoscreens")" class="list-group-item list-group-item-action" aria-label="Infoscreens"><i class="bi bi-window"></i><span class="d-none d-sm-inline"> Infoscreens</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


