@using MyStik.TimeTable.Data
@model ICollection<MyStik.TimeTable.Data.Curriculum>
@{
    Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
    ViewBag.Title = "Studiengangebote";

}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Studienangebote nach Abschluss </h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        <a href="@Url.Action("Curricula", "University")" class="btn btn-outline-primary">
                            <i class="bi-chevron-left"></i> Zurück
                        </a>
                    </div>
                </div>
            </div>
            <div class="list-group">
                @foreach (var c in Model)
                {
                    <a href="@Url.Action("Details", "Curriculum", new{id=c.Id})" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">@c.Name (@c.ShortName)</div>
                        </div>
                        <span class="badge bg-primary rounded-pill">@c.Organiser.ShortName</span>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

