@model MyStik.TimeTable.Data.ActivityOrganiser
@{
    Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
    ViewBag.Title = "Startseite";

    var isStudent = ViewBag.UserRight.IsStudent;
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@Model.Name (@Model.ShortName)</h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        <a href="@Url.Action("Index", "University")" class="btn btn-outline-primary">
                            <i class="bi-chevron-left"></i> Zurück
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="card border-secondary">
                            <div class="card-body">
                                <h5 class="card-title text-center">
                                    <i class="bi-book"></i><br />
                                    Angebote
                                </h5>
                            </div>
                            <div class="list-group">
                                @if (!isStudent)
                                {
                                    <a href="@Url.Action("Index", "Catalogs", new {id=Model.Id})" class="list-group-item list-group-item-action">Modulkataloge</a>
                                }
                                <a href="@Url.Action("Index", "Curricula", new {id=Model.Id})" class="list-group-item list-group-item-action">Studiengänge</a>
                                <a href="@Url.Action("Index", "Dictionary")" class="list-group-item list-group-item-action">Vorlesungsverzeichnis</a>
                                @if (!isStudent)
                                {
                                    <a href="@Url.Action("Semester", "Courses")" class="list-group-item list-group-item-action">Lehrveranstaltungen</a>
                                    <a href="@Url.Action("Index", "Events")" class="list-group-item list-group-item-action">Veranstaltungen</a>
                                    <a href="@Url.Action("Index", "Newsletter")#" class="list-group-item list-group-item-action">Newsletter</a>
                                    <a href="@Url.Action("Index", "Advertisements")" class="list-group-item list-group-item-action">Aushänge / virtueller Schaukasten</a>
                                    <a href="#" class="list-group-item list-group-item-action">Infoscreens</a>
                                }
                            </div>
                        </div>
                    </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="card border-secondary">
                                <div class="card-body">
                                    <h5 class="card-title text-center">
                                        <i class="bi-building"></i><br />
                                        Räume
                                    </h5>
                                </div>
                                <div class="list-group">
                                    @if (!isStudent)
                                    {
                                        <a href="@Url.Action("Index", "Reservation")" class="list-group-item list-group-item-action">Raumreservierungen</a>
                                        <a href="@Url.Action("Index", "Rooms")" class="list-group-item list-group-item-action">Räume</a>
                                        <a href="@Url.Action("Today", "Activity")" class="list-group-item list-group-item-action">Tagesprogramm</a>
                                        <a href="@Url.Action("DailyRota", "Activity")" class="list-group-item list-group-item-action">Raumbelegungen</a>
                                        <a href="@Url.Action("Rooms", "Organiser")" class="list-group-item list-group-item-action">Raumsuche</a>
                                        <a href="@Url.Action("Statistics", "Rooms")" class="list-group-item list-group-item-action">Auswertungen</a>
                                        <a href="@Url.Action("Schedule", "Rooms")" class="list-group-item list-group-item-action">Veranstaltungsliste</a>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="card border-secondary">
                                <div class="card-body">
                                    <h5 class="card-title text-center">
                                        <i class="bi-people"></i><br />
                                        Personen
                                    </h5>
                                </div>
                                <div class="list-group">
                                    <a href="@Url.Action("Index", "Lecturer")" class="list-group-item list-group-item-action">Lehrende</a>
                                    @if (!isStudent)
                                    {
                                        <a href="@Url.Action("Index", "Students")" class="list-group-item list-group-item-action">Studierende</a>
                                        <a href="@Url.Action("Index", "Alumni")" class="list-group-item list-group-item-action">Alumni</a>
                                        <a href="@Url.Action("Admin", "Assessment")" class="list-group-item list-group-item-action">Externe Partner</a>
                                        <a href="@Url.Action("Index", "Autonomy")" class="list-group-item list-group-item-action">Gremien</a>
                                    }
                                </div>
                            </div>
                        </div>
                    @if (!isStudent)
                    {
                        <div class="col-sm-6 col-md-3">
                            <div class="card border-secondary">
                                <div class="card-body">
                                    <h5 class="card-title text-center">
                                        <i class="bi-gear"></i><br />
                                        Workflows
                                    </h5>
                                </div>
                                <div class="list-group">
                                    <a href="@Url.Action("Index", "ThesisAdmin")" class="list-group-item list-group-item-action">Abschlussarbeiten</a>
                                    <a href="@Url.Action("Index", "InternshipAdmin")" class="list-group-item list-group-item-action">Praxissemester</a>
                                    <a href="@Url.Action("Index", "Lottery")" class="list-group-item list-group-item-action">Wahlverfahren</a>
                                    <a href="@Url.Action("Admin", "Assessment")" class="list-group-item list-group-item-action">Aufnahmeverfahren</a>
                                    <a href="@Url.Action("Index", "Semester")" class="list-group-item list-group-item-action">Semesterplanung</a>
                                    <a href="@Url.Action("Index", "ScriptOrders")" class="list-group-item list-group-item-action">Skriptbestellung</a>
                                    <a href="@Url.Action("Index", "Messaging")#" class="list-group-item list-group-item-action">Mailverteiler</a>
                                    <a href="@Url.Action("Admins", "Organiser")" class="list-group-item list-group-item-action">Rechte & Rollen</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

