@model ICollection<MyStik.TimeTable.Data.ActivityOrganiser>
@{
    ViewBag.Title = "Meine Hochschule";
}

<div class="row">
    <div class="col-md-4">
        <div class="card border-secondary">
            <div class="card-header">
                <h4 class="card-title text-center">Hochschule München (HM)</h4>
            </div>
            <div class="list-group">
                @foreach (var org in Model)
                {
                    <a href="@Url.Action("Faculty", new {id = org.Id})" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">@org.Name</div>
                        </div>
                        <span class="badge bg-primary rounded-pill">@org.Curricula.Count(x => x.Areas.Any())</span>
                    </a>

                }
            </div>
            <div class="card-body">
                <a href="@Url.Action("Faculties")" class="card-link">Einrichtungen</a>
                <a href="@Url.Action("Curricula")" class="card-link">Studienangebote</a>
                <a href="@Url.Action("Persons")" class="card-link">Personen</a>
            </div>
        </div>
    </div>
</div>
