@model MyStik.TimeTable.Data.CandidatureStageMaterial

@if (Model.Storage != null)
{
    <div class="card">
        <div class="card-img">
            @if (Model.Storage.FileType.Contains("pdf"))
            {
                <div class="text-center">
                    <i class="fas fa-file-pdf fa-4x"></i>
                    <p>pdf-Datei</p>
                </div>
            }
            else
            {
                <img src="@Url.Action("GetRessource", "Storage", new {id = Model.Storage.Id})" class="card-img-top" />

            }
        </div>

            <ul class="fa-ul">
                @if (string.IsNullOrEmpty(Model.Storage.Name))
                {
                    <li><i class="fas fa-li fa-hashtag"></i><i>Kein Eintrag vorhanden</i></li>
                }
                else
                {
                    <li><i class="fas fa-li fa-hashtag"></i>@Model.Storage.Name</li>
                }
                @if (string.IsNullOrEmpty(Model.Storage.Description))
                {
                    <li><i class="fas fa-li fa-info-circle"></i><i>Kein Eintrag vorhanden</i></li>
                }
                else
                {
                    <li><i class="fas fa-li fa-info-circle"></i>@Model.Storage.Description</li>
                }
                <li><i class="fas fa-li fa-calendar-day"></i>Hochgeladen am: @Model.Storage.Created.Value</li>
            </ul>

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#dlgEditMaterial"
                        data-bs-materialid="@Model.Id"
                        data-bs-materialtitle="@Model.Storage.Name"
                        data-bs-materialdesc="@Model.Storage.Description">
                    <i class="fas fa-edit"></i> Ändern
                </button>
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#dlgDeleteMaterial" data-bs-materialid="@Model.Id">
                    <i class="fas fa-trash-alt"></i> Löschen
                </button>
            </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-img">
            <img src="" alt="Kein Bild vorhanden" class="card-img-top"/>
        </div>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary disabled">
                <i class="fas fa-edit"></i> Ändern
            </button>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#dlgDeleteMaterial" data-bs-materialid="@Model.Id">
                <i class="fas fa-trash-alt"></i> Löschen
            </button>
        </div>
    </div>
}
