@model MyStik.TimeTable.Data.Candidature
@{
    ViewBag.Title = "Auswahlverfahren";
}

@Html.Partial("_Watermark")

<div class="row" style="margin-top: 20px">
    <div class="col-12">
        <div class="card">
            <div class="card-header"><i class="fas fa-poll"></i> Meine Teilnahme an @Model.Assessment.Name</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Anschreiben</div>
                            <ul class="fa-ul">
                                @if (string.IsNullOrEmpty(Model.Characteristics))
                                {
                                    <li><i class="fas fa-li fa-pen-nib"></i>Bisher noch keine Kurzbiografie verfasst</li>
                                }
                                else
                                {
                                    <li><i class="fas fa-li fa-check text-success"></i>Kurzbiografie ist verfasst</li>

                                }
                                @if (string.IsNullOrEmpty(Model.Motivation))
                                {
                                    <li><i class="fas fa-li fa-pen-nib"></i>Bisher noch kein Motivationsschreiben verfasst</li>
                                }
                                else
                                {
                                    <li><i class="fas fa-li fa-check text-success"></i>Motivationsschreiben ist verfasst</li>
                                }
                            </ul>
                            <a href="@Url.Action("TextInput", new {Model.Id})" class="btn btn-outline-primary">Texte eingeben</a>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div class="row">
            @foreach (var stage in Model.Assessment.Stages)
            {
                var now = DateTime.Now;
                var isOn = stage.OpeningDateTime <= now && now <= stage.ClosingDateTime;
                var isFuture = now < stage.OpeningDateTime;


                var round = Model.Stages.SingleOrDefault(x => x.AssessmentStage.Id == stage.Id);



                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@stage.Name</h5>
                            <p class="card-text">@stage.Description</p>
                            <ul class="fa-ul">
                                @if (isFuture)
                                {
                                    <li><i class="fas fa-li fa-calendar-alt"></i>beginnt am @stage.OpeningDateTime</li>
                                }
                                else
                                {
                                    if (isOn)
                                    {
                                        <li><i class="fas fa-li fa-calendar-alt"></i>läuft noch bis @stage.ClosingDateTime</li>
                                        if (round != null)
                                        {
                                            <li><i class="fas fa-li fa-file-upload"></i>Bisher @round.Material.Count Dokumente hochgeladen</li>
                                        }
                                        else
                                        {
                                            <li><i class="fas fa-li fa-file-upload"></i>Bisher noch nichts hochgeladen</li>
                                        }
                                    }
                                    else
                                    {
                                        <li><i class="fas fa-li fa-calendar-alt"></i>seit @stage.ClosingDateTime abgeschlossen</li>

                                        if (round != null)
                                        {
                                            <li><i class="fas fa-li fa-file-upload"></i>Es wurden @round.Material.Count Dokumente hochgeladen</li>
                                        }
                                        else
                                        {
                                            <li><i class="fas fa-li fa-file-upload"></i>Es wurde nichts hochgeladen</li>
                                        }

                                    }
                                }
                            </ul>
                            @if (isOn)
                            {
                                <a href="@Url.Action("Stage", new {stageId = stage.Id, candId = Model.Id})" class="btn btn-outline-primary">Dateien hochladen</a>
                            }
                            @if (!isFuture)
                            {
                                <a href="@Url.Action("StageRepot", new {id=stage.Id})" class="btn btn-outline-secondary">Bericht anzeigen</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>





