@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.Data.Candidature
@{
    ViewBag.Title = "Eignungsprüfung";
    var userInfoService = new UserInfoService();
    var user = userInfoService.GetUser(Model.UserId);

}

@section styles {
    <link href="@Url.Content("~/Assets/libs/dropzone/dropzone.css")" rel="stylesheet" type="text/css" />

}

@section scripts {
    <script src="@Url.Content("~/Assets/libs/dropzone/dropzone.js")" type="text/javascript"></script>

    <script>

        Dropzone.options.formDrop = {
            acceptedFiles: '.png,.jpg,image/*',
            capture: 'camera',
            maxFiles: 1,
            parallelUploads: 1,
            dictDefaultMessage: 'Ablagebereich für das Profilbild'
        };
    </script>
}



@Html.Partial("_Watermark")


<div class="row" style="margin-top: 20px">
    <div class="col-12">
        <h4><i class="fas fa-poll"></i> Meine Teilnahme an der Eignungsprüfung "@Model.Assessment.Name"</h4>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Anschreiben verfassen
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="fa-ul">
                            @if (string.IsNullOrEmpty(Model.Characteristics))
                            {
                                <li><i class="fas fa-li fa-pen-nib"></i>Bisher noch keine Kurzbiografie verfasst</li>
                            }
                            else
                            {
                                <li><i class="fas fa-li fa-check text-success"></i>Kurzbiografie ist verfasst</li>

                            }
                            @if (string.IsNullOrEmpty(Model.Motivation))
                            {
                                <li><i class="fas fa-li fa-pen-nib"></i>Bisher noch kein Motivationsschreiben verfasst</li>
                            }
                            else
                            {
                                <li><i class="fas fa-li fa-check text-success"></i>Motivationsschreiben ist verfasst</li>
                            }
                        </ul>
                        <a href="@Url.Action("TextInput", new {Model.Id})" class="btn btn-outline-primary">Texte eingeben / ändern</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Profilbild hochladen
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        @if (user.BinaryData == null || user.BinaryData.Length == 0)
                        {
                            <p>Wir wollen uns ein Bild machen. Das Hochladen ist freiwillig. Wer das nicht möchte oder Fragen hat wendet sich bitte an ...</p>
                            <form id="formDrop" action="@Url.Action("UploadProfileImage")" class="dropzone">
                            </form>
                            <a href="@Url.Action("MyRoom", new {id = Model.Id})" class="btn btn-outline-primary"><i class="fas fa-sync"></i> Seite aktualisieren / Hochgeladenes Bild anzeigen</a>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="card">
                                        <img src="@Url.Action("GetProfileImage")" class="card-img-top"/>
                                        <h5 class="card-title">Mein Profilbild</h5>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <p>Profilbild ändern / löschen</p>
                                    <form id="formDrop" action="@Url.Action("UploadProfileImage")" class="dropzone"></form>
                                    <a href="@Url.Action("MyRoom", new {id = Model.Id})" class="btn btn-outline-primary"><i class="fas fa-sync"></i> Seite aktualisieren / Hochgeladenes Bild anzeigen</a>
                                    <a href="@Url.Action("DeleteProfileImage", new {id = Model.Id})" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i> Profilbild löschen</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @*
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Collapsible Group Item #1
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group Item #2
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            *@

            @foreach (var stage in Model.Assessment.Stages.OrderBy(x => x.OpeningDateTime.Value))
            {
                var now = DateTime.Now;
                var isOn = stage.OpeningDateTime <= now && now <= stage.ClosingDateTime;
                var isFuture = now < stage.OpeningDateTime;


                var round = Model.Stages.SingleOrDefault(x => x.AssessmentStage.Id == stage.Id);

                var headId = "h" + stage.Id.ToString();
                var bodyId = "b" + stage.Id.ToString();

                var colapseState = isFuture ? "disabled" : "";

                <div class="card">
                    <div class="card-header" id="@headId">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed @colapseState" type="button" data-toggle="collapse" data-target="#@bodyId" aria-expanded="false" aria-controls="@bodyId">
                                @stage.Name (@stage.OpeningDateTime.Value - @stage.ClosingDateTime.Value)
                            </button>
                        </h2>
                    </div>
                    <div id="@bodyId" class="collapse" aria-labelledby="@headId" data-parent="#accordionExample">
                        <div class="card-body">
                            <p class="card-text">@stage.Description</p>
                            <ul class="fa-ul">
                                @if (isFuture)
                                {
                                    <li><i class="fas fa-li fa-calendar-alt"></i>beginnt am @stage.OpeningDateTime</li>
                                }
                                else
                                {
                                    if (isOn)
                                    {
                                        <li><i class="fas fa-li fa-calendar-alt"></i>läuft noch bis @stage.ClosingDateTime</li>
                                        if (round != null)
                                        {
                                            <li><i class="fas fa-li fa-file-upload"></i>Bisher @round.Material.Count Dokumente hochgeladen</li>
                                        }
                                        else
                                        {
                                            <li><i class="fas fa-li fa-file-upload"></i>Bisher noch nichts hochgeladen</li>
                                        }
                                    }
                                    else
                                    {
                                        <li><i class="fas fa-li fa-calendar-alt"></i>seit @stage.ClosingDateTime abgeschlossen</li>

                                        if (round != null)
                                        {
                                            <li><i class="fas fa-li fa-file-upload"></i>Es wurden @round.Material.Count Dokumente hochgeladen</li>
                                        }
                                        else
                                        {
                                            <li><i class="fas fa-li fa-file-upload"></i>Es wurde nichts hochgeladen</li>
                                        }

                                    }
                                }
                            </ul>
                            @if (isOn)
                            {
                                <a href="@Url.Action("Stage", new {stageId = stage.Id, candId = Model.Id})" class="btn btn-outline-primary">Dateien hochladen</a>
                            }
                            @if (!isFuture)
                            {
                                @*
                                    <a href="@Url.Action("StageRepot", new {id = stage.Id})" class="btn btn-outline-secondary">Bericht anzeigen</a>
                                    *@
                            }
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

