@using System.Web.ModelBinding
@model MyStik.TimeTable.Data.CandidatureStage
@{
    ViewBag.Title = "Eignungsprüfung";

    var maxFiles = 35;
    var maxDropSize = 35;

    var dropSize = Math.Min(maxDropSize, Math.Max(0, maxFiles - Model.Material.Count));


}

@section styles {
    <link href="@Url.Content("~/Assets/libs/dropzone/dropzone.css")" rel="stylesheet" type="text/css" />

}

@section scripts {
    <script src="@Url.Content("~/Assets/libs/dropzone/dropzone.js")" type="text/javascript"></script>

    <script>

        Dropzone.options.formDrop = {
            acceptedFiles: '.png,.jpg,.gif,image/*',
            capture: 'camera',
            maxFiles: @dropSize,
            parallelUploads: 1,
            dictDefaultMessage: 'Ablagebereich für Dateien: max. @dropSize Dateien' 
        };


        $('#dlgDeleteMaterial').on('show.bs.modal',
            function(event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var matId = button.data('materialid') // Extract info from data-* attributes
                var modal = $(this);
                $('#hiddenDeleteMatId').val(matId);
            });


        $("#btnDeleteMaterial").click(function() {
            var matId = $("#hiddenDeleteMatId").val();
            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("DeleteMaterial")',
                    data: {
                        matId: matId
                    },
                    success: function(data, success, xhr) {
                        $("#" + matId).remove();
                    }
                });


            $('#dlgDeleteMaterial').modal("hide");
        });


        $('#dlgEditMaterial').on('show.bs.modal',
            function(event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var matId = button.data('materialid') // Extract info from data-* attributes
                var matTitle = button.data('materialtitle') // Extract info from data-* attributes
                var matDesc = button.data('materialdesc') // Extract info from data-* attributes
                var modal = $(this);
                $('#hiddenEditMatId').val(matId);
                $('#matTitle').val(matTitle);
                $('#matDesc').val(matDesc);
            });


        $("#btnEditMaterial").click(function() {
            var matId = $("#hiddenEditMatId").val();
            var matTitle = $("#matTitle").val();
            var matDesc = $("#matDesc").val();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("EditMaterial")',
                    data: {
                        matId: matId,
                        matTitle: matTitle,
                        matDesc: matDesc
                    },
                    success: function(data, success, xhr) {
                        $("#" + matId).html(data);
                    }
                });


            $('#dlgEditMaterial').modal("hide");
        });

    </script>
}


    @Html.Partial("_Watermark")

<div class="row" style="margin-top: 20px">
    <div class="col-12">
        <h4><i class="fas fa-poll"></i> Meine Teilnahme an der Eignungsprüfung "@Model.AssessmentStage.Assessment.Name"</h4>

        <div class="card">
            <h5 class="card-header">Hochladen von Material</h5>
            <ul class="nav bg-light text-dark">
                <li class="nav-item">
                    <a class="nav-link text-center" href="@Url.Action("MyRoom", new {id = Model.Candidature.Id})"><i class="fas fa-chevron-left fa-fw"></i><br/>zurück</a>
                </li>
            @*
                <li class="nav-item">
                    <a class="nav-link text-center" href="@Url.Action("SendReport", new {id = Model.Id})"><i class="fas fa-envelope fa-fw"></i><br/>Bericht senden lassen</a>
                </li>
                *@
                    
            </ul>

            <div class="card-body">
                @if (Model.Material.Count >= maxFiles)
                {
                    <div class="alert alert-warning">
                        Es können keine Dateien mehr hochgeladen werden. Die maximale Anzahl von @maxFiles Dateien wurde erreicht.
                    </div>
                }
                else
                {
                    <h5 class="card-title">Hinweise</h5>
                    <ul>
                        <li>Legen Sie die Dateien möglichst einzeln auf dem Ablagebereich ab oder klicken Sie auf den Ablagebereich.</li>
                        <li>Am Smartphone auf den Ablagebereich drücken und Bilder auswählen bze. fotografieren.</li>
                        <li>Insgesamt dürfen maximal <strong>@maxFiles Dateien</strong> hochgeladen werden.</li>
                        <li>Es dürfen nur Dateien in den Formaten .png, .jpeg und .gif hochgeladen werden.</li>
                        <li>Titel und Beschreibungstext für die einzelnen Dateien können nachträglich ergänzt oder geändert werden.</li>
                    </ul>
                    <form id="formDrop" action="@Url.Action("UploadFile")" class="dropzone">
                        @Html.HiddenFor(m => m.Id)
                    </form>
                    <a href="@Url.Action("Stage", new {stageId = Model.AssessmentStage.Id, candId = Model.Candidature.Id})" class="btn btn-outline-primary"><i class="fas fa-sync"></i> Seite aktualisieren / Hochgeladene Bilder anzeigen</a>
                }
            </div>
        </div>


        <div class="card">
            <h5 class="card-header">Bereits hochgeladenes Material</h5>

            <div class="card-body">
                <div class="row">
                    @foreach (var material in Model.Material)
                    {
                        <div id="@material.Id" class="col-md-2">
                            @Html.Partial("_MaterialBox", material)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



    <!-- Modal -->
    <div class="modal fade" id="dlgDeleteMaterial" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel1">Material löschen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Soll dieses Material wirklich gelöscht werden?</p>
                    <p>Die Aktion kann nicht rückgängig gemacht werden.</p>
                    <input id="hiddenDeleteMatId" type="text" hidden/>
                </div>
                <div class="modal-footer">
                    <button id="btnDeleteMaterial" type="button" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i> Löschen</button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Abbrechen</button>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="dlgEditMaterial" tabindex="-1" role="dialog" aria-labelledby="modalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel2">Material ändern</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="matTitle" class="col-form-label">Titel</label>
                        <input type="text" class="form-control" id="matTitle" name="matTitle" maxlength="30">
                    </div>
                    <div class="form-group">
                        <label for="matDesc" class="col-form-label">Beschreibung</label>
                        <textarea class="form-control" id="matDesc" name="matDesc" maxlength="140"></textarea>
                    </div>
                    <input id="hiddenEditMatId" type="text" hidden />
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnEditMaterial" type="button" class="btn btn-outline-primary"><i class="fas fa-save"></i> Speichern</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Abbrechen</button>
            </div>
        </div>
    </div>
</div>

