@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.Web.Models.ModuleSemesterView
@{
    ViewBag.Title = "Details";

    var subjects = Model.CurriculumModule.ModuleSubjects.ToList();
    var accrs = Model.CurriculumModule.Accreditations.ToList();

    var itsMe = false;
    var userId = ViewBag.UserRight.User.Id;

    foreach (var mv in Model.CurriculumModule.ModuleResponsibilities)
    {
        if (!string.IsNullOrEmpty(mv.Member.UserId) && mv.Member.UserId.Equals(userId))
        {
            itsMe = true;
        }
    }
    foreach (var kv in Model.CurriculumModule.Catalog.CatalogResponsibilities)
    {
        if (!string.IsNullOrEmpty(kv.Member.UserId) && kv.Member.UserId.Equals(userId))
        {
            itsMe = true;
        }
    }

    var dateOffset = DateTime.Today - Model.Semester.StartCourses;
    var isEditable = dateOffset.Days < 28;

    var userService = new UserInfoService();

}

@*
<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            <div class="list-group-item">
                <div class="btn-group">
                    <a href="@Url.Action("DownloadPdf", new {moduleId = Model.CurriculumModule.Id, semId = Model.Semester.Id} )" class="btn btn-outline-primary">
                        <i class="bi-file-pdf"></i> als pdf
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
*@

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inhalte und Qualifikationsziele</h5>
                    @if (Model.ModuleDescription != null)
                    {
                        if (Model.ModuleDescription.ChangeLog != null)
                        {
                            var user = userService.GetUser(Model.ModuleDescription.ChangeLog.UserIdAmendment);
                            var userName = "unbekannt";
                            if (user != null)
                            {
                                userName = user.FullName;
                            }
                            if (Model.ModuleDescription.ChangeLog.Approved != null)
                            {
                                <h6 class="card-subtitle">
                                    zuletzt geändert am @Model.ModuleDescription.ChangeLog.LastEdited von @userName - veröffentlicht am @Model.ModuleDescription.ChangeLog.Approved
                                </h6>
                            }
                            else
                            {
                                <h6 class="card-subtitle">
                                    zuletzt geändert am @Model.ModuleDescription.ChangeLog.LastEdited von @userName - unveröffentlicht
                                </h6>
                            }
                        }
                    }
                    else
                    {

                    }
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                                    <img src="~/Assets/img/flags/de.png" />
                                </button>
                                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                                    <img src="~/Assets/img/flags/gb.png" />
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                                @if (Model.ModuleDescription != null)
                                {

                                    if (string.IsNullOrEmpty(Model.ModuleDescription.Description))
                                    {
                                        <div></div>
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.ModuleDescription.Description.Trim())
                                    }
                                }
                                else
                                {
                                    <div>Es liegt keine <strong>veröffentlichte Fassung</strong> der Modulbeschreibung für das <strong>Semester @Model.Semester.Name</strong> vor.</div>
                                }
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                                @if (Model.ModuleDescription != null)
                                {

                                    if (string.IsNullOrEmpty(Model.ModuleDescription.DescriptionEn))
                                    {
                                        <div></div>
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.ModuleDescription.DescriptionEn.Trim())
                                    }
                                }
                                else
                                {
                                    <div>There is no <strong>published version</strong> of the module description available for <strong>semester @Model.Semester.Name</strong>.</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @if (isEditable && (ViewBag.UserRight.IsCurriculumAdmin || itsMe))
                    {
                        <a href="@Url.Action("Descriptions", null, new { moduleId = Model.CurriculumModule.Id, semId=Model.Semester.Id })" class="btn btn-outline-primary">
                            <i class="bi-keyboard"></i> Ändern
                        </a>
                    }
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lehrangebote</h5>
                </div>

                @foreach (var subject in subjects)
                {

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-4">
                                @if (subjects.Count > 1)
                                {
                                    <div>@subject.Name (@subject.TeachingFormat.Tag)</div>
                                }
                                else
                                {
                                    <div>@subject.TeachingFormat.Tag</div>
                                }
                            </div>
                            <div class="col-8">
                            </div>
                        </div>
                    </div>
                }
                @foreach (var accr in accrs)
                {
                    var opportunities = accr.TeachingDescriptions.Where(x => x.Semester.Id == Model.Semester.Id).ToList();

                    foreach (var opportunity in opportunities)
                    {
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    <div>@opportunity.Subject.TeachingFormat.Tag</div>
                                </div>
                                <div class="col-8">
                                    <div>
                                        <a href="@Url.Action("Details", "Course", new { id = opportunity.Course.Id })">
                                            @opportunity.Course.Name (@opportunity.Course.ShortName)
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="card-body">
                    @if (ViewBag.UserRight.IsCurriculumAdmin || itsMe)
                    {
                        <a href="@Url.Action("Teachings", null, new { moduleId = Model.CurriculumModule.Id, semId=Model.Semester.Id })" class="btn btn-outline-primary">
                            <i class="bi-keyboard"></i> Ändern
                        </a>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Prüfungsangebote</h5>
                </div>
                <div class="list-group">
                    @if (!Model.Exams.Any())
                    {
                        <div class="list-group-item">
                            <div>Es liegt keine <strong>veröffentlichten</strong> Prüfungsangebote für das <strong>Semester @Model.Semester.Name</strong> vor.</div>
                        </div>
                    }

                    @foreach (var examinationDescription in Model.Exams)
                    {
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    <div>Erstprüfer:in</div>
                                </div>
                                <div class="col-8">
                                    @if (examinationDescription.FirstExminer != null)
                                    {
                                        <div>@examinationDescription.FirstExminer.FullName</div>
                                    }
                                    else
                                    {
                                        <div><i>Nicht festgelegt</i></div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div>Zweitprüfer:in</div>
                                </div>
                                <div class="col-8">
                                    @if (examinationDescription.SecondExaminer != null)
                                    {
                                        <div>@examinationDescription.SecondExaminer.FullName</div>
                                    }
                                    else
                                    {
                                        <div><i>Nicht festgelegt</i></div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div>Prüfungsform</div>
                                </div>
                                <div class="col-8">
                                    <div>@examinationDescription.ExaminationOption.FullName</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div>Details zur Prüfung</div>
                                </div>
                                <div class="col-8">
                                    <div>@examinationDescription.Conditions</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div>Hilfsmittel</div>
                                </div>
                                <div class="col-8">
                                    <div>@examinationDescription.Utilities</div>
                                </div>
                            </div>
                            @if (examinationDescription.ChangeLog != null)
                            {
                                var user = userService.GetUser(examinationDescription.ChangeLog.UserIdAmendment);
                                var userName = "unbekannt";
                                if (user != null)
                                {
                                    userName = user.FullName;
                                }
                                if (examinationDescription.ChangeLog.Approved != null)
                                {
                                    <div class="row">
                                        <div class="col-12">
                                            zuletzt geändert am @examinationDescription.ChangeLog.LastEdited von @userName - veröffentlicht am @examinationDescription.ChangeLog.Approved
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-12">
                                            zuletzt geändert am @examinationDescription.ChangeLog.LastEdited von @userName - unveröffentlicht
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-12">
                                        Kein Change Log
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="card-body">
                    @if (isEditable && (ViewBag.UserRight.IsCurriculumAdmin || itsMe))
                    {
                        <a href="@Url.Action("Exams", null, new { moduleId = Model.CurriculumModule.Id, semId=Model.Semester.Id })" class="btn btn-outline-primary">
                            <i class="bi-keyboard"></i> Ändern
                        </a>
                    }
                </div>
                        </div>
                    </div>
    </div>






