@model MyStik.TimeTable.Web.Models.SubjectViewModel
@{
    ViewBag.Title = "CreateExamination";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Prüfungform ändern</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.Module.Id)
                    <div class="row">
                        <div class="col-4">Lehrform (ASPO)</div>
                        <div class="col-8">
                            @Html.DropDownListFor(model => model.TeachingTypeId, (IEnumerable<SelectListItem>)ViewBag.TeachingOptions, new { @class = "form-select" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">Tag (Fach)</div>
                        <div class="col-8">
                            @Html.TextBoxFor(m => m.Tag, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">Bezeichnung (Fach)</div>
                        <div class="col-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">SWS</div>
                        <div class="col-8">
                            @Html.TextBoxFor(m => m.SWS, new { @class = "form-control" })
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary"><i class="bi-save"></i> Änderungen speichern</button>
                    <a class="btn btn-outline-secondary" href="@Url.Action("Subjects", new { id = Model.Module.Id })"><i class="bi-x"></i> Abbrechen</a>
                }
            </div>
        </div>
    </div>
</div>

