@model MyStik.TimeTable.Data.CurriculumModule
@{
    ViewBag.Title = "Details";

    var itsMe = false;
    var userId = ViewBag.UserRight.User.Id;

    foreach (var mv in Model.ModuleResponsibilities)
    {
        if (!string.IsNullOrEmpty(mv.Member.UserId) && mv.Member.UserId.Equals(userId))
        {
            itsMe = true;
        }
    }
    foreach (var kv in Model.Catalog.CatalogResponsibilities)
    {
        if (!string.IsNullOrEmpty(kv.Member.UserId) && kv.Member.UserId.Equals(userId))
        {
            itsMe = true;
        }
    }

}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="card-title">Modul @Model.Tag: @Model.Name</h4>
                        <div class="alert alert-info">
                            <strong>Hinweis:</strong>
                            <p>Derzeit wird das Informationsangebot aufgebaut sowie die Funktionsfähigkeit der Software in diesem Bereich erprobt. 
                                Von daher haben die hier dargestellten Inhalte zum jetzigen Zeitpunkt keinerlei Relevanz. 
                                Rückfragen an <a href="mailto:hinz+nine@hm.edu">Prof. Dr.-Ing. Olav Hinz</a></p>

                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div>Zugehörigkeit zu Curriculum</div>
                            </div>
                            <div class="col-8">
                                @foreach (var acc in Model.Accreditations)
                                {
                                    if (acc.Slot.CurriculumSection != null)
                                    {
                                        <div>
                                            <a href="@Url.Action("Details", "Curriculum", new {id = acc.Slot.CurriculumSection.Curriculum.Id})">
                                                @acc.Slot.CurriculumSection.Curriculum.Name
                                            </a>
                                            |
                                            @acc.Slot.CurriculumSection.Name <span class="badge bg-secondary">@acc.Slot.ECTS ECTS</span>
                                        </div>
                                    }
                                    else if (acc.Slot.AreaOption != null)
                                    {
                                        <div>
                                            <a href="@Url.Action("Details", "Curriculum", new {id = acc.Slot.AreaOption.Area.Curriculum.Id})">
                                                @acc.Slot.AreaOption.Area.Curriculum.Name
                                            </a>
                                            | @acc.Slot.AreaOption.Area.Tag | @acc.Slot.AreaOption.Tag <span class="badge bg-secondary">@acc.Slot.ECTS ECTS</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning">Slot ohne Zuordnung</div>
                                    }

                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div>Katalog-/Modulverantwortung</div>
                                @if (ViewBag.UserRight.IsCurriculumAdmin || itsMe)
                                {
                                    <a href="@Url.Action("EditResponsibilities", "CurriculumModule", new {id = Model.Id})" class="btn btn-outline-primary">
                                        <i class="bi-keyboard"></i> Ändern
                                    </a>
                                }
                            </div>
                            <div class="col-8">
                                @foreach (var mv in Model.Catalog.CatalogResponsibilities)
                                {
                                    <div>@mv.Member.FullName</div>
                                }
                                <hr/>
                                @foreach (var mv in Model.ModuleResponsibilities)
                                {
                                    <div>@mv.Member.FullName</div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div>Prüfungsformen</div>
                            </div>
                            <div class="col-8">
                                @foreach (var option in Model.ExaminationOptions)
                                {
                                    <div>@option.FullName</div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div>Fächer</div>
                            </div>
                            <div class="col-8">
                                @foreach (var subject in Model.ModuleSubjects)
                                {
                                    if (subject.TeachingFormat != null)
                                    {
                                        <div>@subject.Name (@subject.Tag) <span class="badge bg-secondary">@subject.TeachingFormat.Tag</span> <span class="badge bg-secondary">@subject.SWS SWS</span></div>
                                    }
                                    else
                                    {
                                        <div>@subject.Name (@subject.Tag) <span class="badge bg-secondary">N.N.</span> <span class="badge bg-secondary">@subject.SWS SWS</span></div>
                                    }
                                }

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div>Stand</div>
                            </div>
                            <div class="col-8">
                                @Html.DropDownList("Semester", (IEnumerable<SelectListItem>)ViewBag.SemesterList, new { @class = "form-select", onchange = "onSemesterChanged()" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="d-md-flex justify-content-md-end">
                            @if (ViewBag.UserRight.IsCurriculumAdmin)
                            {
                                <a href="@Url.Action("Admin","CurriculumModule", new {id = Model.Id})" class="btn btn-outline-primary">
                                    <i class="bi-gear"></i> Verwalten
                                </a>
                            }
                            <div id="loading" class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="moduleDesc"></div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>

        $(document).ready(function() {
            $('#loading').hide();
            onSemesterChanged();
        });


        function onSemesterChanged() {
            var semId = $('#Semester option:selected').val();

            $('#moduleDesc').html('');
            $('#loading').show();
            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("Description")',
                    data: {
                        moduleId: '@Model.Id',
                        semId: semId
                    },
                    success: function(data, success, xhr) {
                        $('#moduleDesc').html(data);
                        $('#loading').hide();
                    },
                    error: function(data, type, ex) {
                        alert("Fehler beim laden der Daten." + ex);
                        $('#loading').hide();
                    }
                });
        }
    </script>
}


