@using System.Collections
@using MyStik.TimeTable.Data
@model MyStik.TimeTable.Data.CurriculumModule
@{
    ViewBag.Title = "Details";

    var itsMe = false;

    if (ViewBag.UserRight.User != null)
    {
        var userId = ViewBag.UserRight.User.Id;

        foreach (var mv in Model.ModuleResponsibilities)
        {
            if (!string.IsNullOrEmpty(mv.Member.UserId) && mv.Member.UserId.Equals(userId))
            {
                itsMe = true;
            }
        }
        foreach (var kv in Model.Catalog.CatalogResponsibilities)
        {
            if (!string.IsNullOrEmpty(kv.Member.UserId) && kv.Member.UserId.Equals(userId))
            {
                itsMe = true;
            }
        }
    }

    var slots = (from subject in Model.ModuleSubjects.ToList() from subjectAccreditation in subject.SubjectAccreditations.ToList() select subjectAccreditation.Slot).Distinct().ToList();

    var showMenu = ViewBag.UserRight.IsCurriculumAdmin || itsMe;

}

<div class="row">
<div class="col-12">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new {id=Model.Catalog.Organiser.Id})">@Model.Catalog.Organiser.ShortName</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Catalogs", new {id=Model.Catalog.Organiser.Id})">Modulkataloge</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Details", "Catalogs", new {id=Model.Catalog.Id})">@Model.Catalog.Tag</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Tag</li>
    </ol>
</nav>

<div class="card">
<div class="card-header">
    <div class="row">
        <div class="col-md-12">
            @if (!string.IsNullOrEmpty(Model.Name))
            {
                <h4 class="card-title">
                    <img src="~/Assets/img/flags/de.png" alt="de"/> @Model.Name
                </h4>
            }
            @if (!string.IsNullOrEmpty(Model.NameEn))
            {
                <h4 class="card-title">
                    <img src="~/Assets/img/flags/gb.png" alt="en"/> @Model.NameEn
                </h4>
            }
        </div>
    </div>
</div>
@if (ViewBag.UserRight.IsCurriculumAdmin || itsMe)
{
    <div class="list-group">
        <div class="list-group-item">
            <div class="btn-group">
                <a href="@Url.Action("EditResponsibilities", "CurriculumModule", new { id = Model.Id })" class="btn btn-outline-primary">
                    <i class="bi bi-people"></i> Modulverantwortungen
                </a>
                @if (ViewBag.UserRight.IsCurriculumAdmin)
                {
                    <a href="@Url.Action("EditGeneral", "CurriculumModule", new { id = Model.Id })" class="btn btn-outline-primary">
                        <i class="bi bi-gear"></i> Allgemeine Angaben
                    </a>
                    <a href="@Url.Action("Subjects", new { id = Model.Id })" class="btn btn-outline-primary" aria-current="true">
                        <i class="bi bi-person-video"></i> Lehr- und Lernformen
                    </a>
                    <a href="@Url.Action("ExaminationForms", new { id = Model.Id })" class="btn btn-outline-primary" aria-current="true">
                        <i class="bi bi-exclamation-diamond"></i> Prüfungsformen
                    </a>
                    <a href="@Url.Action("Delete", "CurriculumModule", new { id = Model.Id })" class="btn btn-danger" aria-current="true">
                        <i class="bi bi-trash"></i> Modul löschen
                    </a>
                }
            </div>
        </div>
    </div>
}
<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="row">
                    <div class="col-4">
                        <div>Zugehörigkeit zu Curriculum</div>
                    </div>
                    <div class="col-8">
                        @foreach (var slot in slots)
                        {
                            <div>
                                <a href="@Url.Action("Details", "Curriculum", new { id = slot.AreaOption.Area.Curriculum.Id })">
                                    @slot.AreaOption.Area.Curriculum.Name
                                </a> |
                                <a href="@Url.Action("Slot", "Curriculum", new { id = slot.Id })">
                                    @slot.Tag
                                </a> 
                                <span class="badge bg-secondary">@slot.ECTS ECTS</span>
                            </div>
                        }
                    </div>
                </div>
                @if (ViewBag.UserRight.IsCurriculumAdmin || itsMe)
                {
                    <div class="row">
                        <div class="col-4">
                            <div>Katalogverantwortung</div>
                        </div>
                        <div class="col-8">
                            @foreach (var mv in Model.Catalog.CatalogResponsibilities)
                            {
                                <div>@mv.Member.FullName</div>
                            }
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-4">
                        <div>Modulverantwortung</div>
                    </div>
                    <div class="col-8">
                        @foreach (var mv in Model.ModuleResponsibilities)
                        {
                            <div>@mv.Member.FullName</div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div>Prüfungsformen</div>
                    </div>
                    <div class="col-8">
                        @foreach (var option in Model.ExaminationOptions)
                        {
                            if (option != Model.ExaminationOptions.Last())
                            {
                                <div>@option.OptionName <i>oder</i></div>
                            }
                            else
                            {
                                <div>@option.OptionName</div>
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div>Lehr- und Lernformen</div>
                    </div>
                    <div class="col-8">
                        @foreach (var subject in Model.ModuleSubjects)
                        {
                            if (subject.TeachingFormat != null)
                            {
                                <div>@subject.Name (@subject.Tag) <span class="badge bg-secondary">@subject.TeachingFormat.Tag</span> <span class="badge bg-secondary">@subject.SWS SWS</span></div>
                            }
                            else
                            {
                                <div>@subject.Name (@subject.Tag) <span class="badge bg-secondary">N.N.</span> <span class="badge bg-secondary">@subject.SWS SWS</span></div>
                            }
                        }

                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div>Modulbeschreibungen</div>
                    </div>
                    <div class="col-8">
                        @foreach (var s in ViewBag.SemesterList)
                        {
                            var desc = Model.Descriptions
                                .Where(x =>
                                    x.Semester.Id == s.Id &&
                                    (x.ChangeLog != null))
                                .OrderByDescending(x => x.ChangeLog.Created)
                                .FirstOrDefault();


                            if (desc != null && desc.ChangeLog != null)
                            {
                                if (desc.ChangeLog.Approved != null)
                                {
                                    <div>
                                        <a href="@Url.Action("Semester", new { moduleId = Model.Id, semId = s.Id })">@desc.Semester.Name</a> <span>(verabschiedet @desc.ChangeLog.Approved.Value.ToShortDateString())</span>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <a href="@Url.Action("Semester", new { moduleId = Model.Id, semId = s.Id })">@desc.Semester.Name</a> <span class="text-danger">(vorläufig)</span>
                                    </div>
                                }
                            }
                            else
                            {
                                if (ViewBag.UserRight.IsCurriculumAdmin || itsMe)
                                {
                                    <div>
                                        <a href="@Url.Action("Semester", new { moduleId = Model.Id, semId = s.Id })">@s.Name</a> <span>(nicht verfügbar)</span>
                                    </div>
                                }
                                else
                                {
                                    <div>@s.Name (nicht verfügbar)</div>
                                }
                            }
                        }
                        <div><a href="@Url.Action("History", new { id = Model.Id })"> Komplette Historie</a></div>
                    </div>
                </div>

            </div>
        </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-4">
                        <div>Voraussetzungen für die Teilnahme</div>
                    </div>
                    <div class="col-8">
                        @Model.Prerequisites
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div>Verwendbarkeit</div>
                    </div>
                    <div class="col-8">
                        @Model.Applicableness
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


