@model MyStik.TimeTable.Web.Models.ModuleDescriptionEditModel
@{
    ViewBag.Title = "Details";
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.css")" />
}



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Modul @Model.ModuleDescription.Module.Tag: @Model.ModuleDescription.Module.Name</h4>
                <h5 class="card-subtitle">Gehört zu Modulkatalog: @Model.ModuleDescription.Module.Catalog.Name (@Model.ModuleDescription.Module.Catalog.Organiser.ShortName)</h5>
                <p>Stand: @Model.ModuleDescription.Semester.Name</p>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-4">
                            <div>Modulverantwortliche(r)</div>
                        </div>
                        <div class="col-8">
                            @foreach (var mv in Model.ModuleDescription.Module.ModuleResponsibilities)
                            {
                                <div>@mv.Member.FullName</div>
                            }
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-4">
                            <div>Fächer</div>
                        </div>
                        <div class="col-8">
                            @foreach (var subject in Model.ModuleDescription.Module.ModuleSubjects.ToList())
                            {
                                var courses = subject.Opportunities.Where(x => x.Semester.Id == Model.ModuleDescription.Semester.Id).ToList();

                                <div>@subject.Name (@subject.Tag)  <span class="badge bg-secondary">@subject.TeachingFormat.Tag</span>  <span class="badge bg-secondary">@subject.SWS SWS</span></div>

                                foreach (var course in courses)
                                {
                                    <div>@course.Course.Name (@course.Course.ShortName)</div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-4">
                            <div>Zugehörigkeit zu Curriculum</div>
                        </div>
                        <div class="col-8">
                            @foreach (var acc in Model.ModuleDescription.Module.Accreditations)
                            {
                                if (acc.Slot.CurriculumSection != null)
                                {
                                    <div>@acc.Slot.CurriculumSection.Curriculum.Name | @acc.Slot.CurriculumSection.Name <span class="badge bg-secondary">@acc.Slot.ECTS ECTS</span></div>
                                }
                                else
                                {
                                    <div>@acc.Slot.AreaOption.Area.Curriculum.Name | @acc.Slot.AreaOption.Area.Name <span class="badge bg-secondary">@acc.Slot.ECTS ECTS</span></div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    @using (Html.BeginForm(null, null, FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.ModuleDescription.Id)
                        <div class="row">
                            <div class="col-4">
                                <div>
                                    Beschreibung <img src="~/Assets/img/flags/de.png" />
                                </div>
                                <div class="alert alert-info">
                                    <ul>
                                        <li>Der Editor rechts verfügt über undo/redo Funktionen</li>
                                        <li>Übertragen von formatiertem Text kann im Detail fehleranfällig sein und wird daher nicht empfohlen</li>
                                        <li>Einfügen über rechte Maustaste "Einfügen ohne Formatierung"</li>
                                        <li>Text zuerst in einen neutralen Editor kopieren, z.B. Notepad</li>
                                        <li>Im Zweifel auf Abbrechen gehen und erneut versuchen</li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-8">
                                <div class="mb-3">
                                    @Html.TextAreaFor(m => m.DescriptionText, new { @class = "form-control", placeholder = "Beschreibung", rows = "10" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div>
                                    Beschreibung (englisch) <img src="~/Assets/img/flags/gb.png" />
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="mb-3">
                                    @Html.TextAreaFor(m => m.DescriptionTextEn, new { @class = "form-control", placeholder = "Beschreibung", rows = "10" })
                                </div>
                                <button type="submit" class="btn btn-outline-primary"><i class="bi-save"></i> Änderungen speichern</button>
                                <a class="btn btn-outline-secondary" href="@Url.Action("Descriptions", new {moduleId=Model.ModuleDescription.Module.Id, semId=Model.ModuleDescription.Semester.Id})"><i class="bi-x"></i> Abbrechen</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {

            $("#DescriptionText").cleditor();
            $("#DescriptionTextEn").cleditor();
        });

    </script>

}