@model MyStik.TimeTable.Web.Models.ModuleDescriptionsViewModel
@using MyStik.TimeTable.Web.Services
@{
    ViewBag.Title = "Descriptions";
    var i = 0;
    var userService = new UserInfoService();
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="card-title">Modul @Model.Module.Tag: @Model.Module.Name</h4>
                        <p>Liste aller Prüfungsangebote für Semester @Model.Semester.Name</p>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        <a href="@Url.Action("Semester", new {moduleId = Model.Module.Id, semId=Model.Semester.Id}  )" class="btn btn-outline-primary">
                            <i class="bi bi-chevron-compact-left"></i> Zurück
                        </a>
                        <a href="@Url.Action("CreateExamination", null, new { moduleId = Model.Module.Id, semId=Model.Semester.Id })" class="btn btn-outline-primary">
                            <i class="bi bi-plus"></i> Neues Angebot hinzufügen
                        </a>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Erstprüfer:in</th>
                        <th>Zweitprüfer:in</th>
                        <th>Prüfungsform</th>
                        <th>Angelegt</th>
                        <th>Zuletzt geändert</th>
                        <th>Bearbeitung</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var exam in Model.Exams)
                    {
                        i++;
                        var user = userService.GetUser(exam.ChangeLog.UserIdAmendment);
                        var userName = "unbekannt";
                        if (user != null)
                        {
                            userName = user.FullName;
                        }

                        <tr>
                            @if (exam.FirstExminer != null)
                            {
                                <td>@exam.FirstExminer.FullName</td>
                            }
                            else
                            {
                                <td><i>nicht festgelegt</i></td>
                            }
                            @if (exam.SecondExaminer != null)
                            {
                                <td>@exam.SecondExaminer.FullName</td>
                            }
                            else
                            {
                                <td><i>nicht festgelegt</i></td>
                            }
                            <td>@exam.ExaminationOption.FullName</td>
                            <td>@exam.ChangeLog.Created</td>
                            <td>@exam.ChangeLog.LastEdited</td>
                            <td>@userName</td>
                            <td>
                                @if (exam.ChangeLog.Approved == null)
                                {
                                    <a href="@Url.Action("EditExamination", null, new { id = exam.Id })" class="btn btn-outline-primary">
                                        <i class="bi bi-keyboard"></i> Ändern
                                    </a>
                                    if (exam.ChangeLog.IsVisible)
                                    {
                                        <a href="@Url.Action("HideExamination", new {id = exam.Id})" class="btn btn-outline-primary">
                                            <i class="bi bi-mask"></i> Verbergen
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ShowExamination", new {id = exam.Id})" class="btn btn-outline-primary">
                                            <i class="bi bi-display"></i> Anzeigen
                                        </a>
                                       
                                    }
                                    <a href="@Url.Action("DeleteExamination", null, new { id = exam.Id })" class="btn btn-outline-danger">
                                        <i class="bi bi-trash"></i> Löschen
                                    </a>
                                }
                                else
                                {
                                    if (ViewBag.UserRight.IsCurriculumAdmin)
                                    {
                                        <a href="@Url.Action("DeleteExamination", null, new { id = exam.Id })" class="btn btn-outline-danger">
                                            <i class="bi bi-trash"></i> Löschen
                                        </a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>









