@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.Web.Models.ModuleSemesterView
@{
    ViewBag.Title = "Details";


    var subjects = Model.CurriculumModule.ModuleSubjects.ToList();
    var accrs = Model.CurriculumModule.Accreditations.ToList();

    var itsMe = false;
    var userId = ViewBag.UserRight.User.Id;

    foreach (var mv in Model.CurriculumModule.ModuleResponsibilities)
    {
        if (!string.IsNullOrEmpty(mv.Member.UserId) && mv.Member.UserId.Equals(userId))
        {
            itsMe = true;
        }
    }
    foreach (var kv in Model.CurriculumModule.Catalog.CatalogResponsibilities)
    {
        if (!string.IsNullOrEmpty(kv.Member.UserId) && kv.Member.UserId.Equals(userId))
        {
            itsMe = true;
        }
    }

    var dateOffset = DateTime.Today - Model.Semester.StartCourses;
    var isEditable = dateOffset.Days < 28;

    var userService = new UserInfoService();

}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="card-title">Modul @Model.CurriculumModule.Tag - @Model.Semester.Name</h4>
                        <h4 class="card-title">
                            <img src="~/Assets/img/flags/de.png" /> @Model.CurriculumModule.Name
                        </h4>
                        <h4 class="card-title">
                            <img src="~/Assets/img/flags/gb.png" /> @Model.CurriculumModule.NameEn
                        </h4>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        <a href="@Url.Action("Details", new { id = Model.CurriculumModule.Id })" class="btn btn-outline-primary">
                            <i class="bi-chevron-left"></i> Modul
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Inhalte und Qualifikationsziele</h5>
                                @if (Model.ModuleDescription != null)
                                {
                                    if (Model.ModuleDescription.ChangeLog != null)
                                    {
                                        if (Model.ModuleDescription.ChangeLog.Approved.HasValue)
                                        {
                                            <h6 class="card-subtitle">
                                                verabschiedet am @Model.ModuleDescription.ChangeLog.Approved.Value.ToShortDateString()
                                            </h6>
                                        }
                                        else
                                        {
                                            <h6 class="card-subtitle text-danger">
                                                Status: vorläufig - kann sich jederzeit noch ändern
                                            </h6>
                                        }
                                    }
                                }
                                else
                                {

                                }
                            </div>
                            <div class="list-group">
                                <div class="list-group-item">
                                    @if (Model.ModuleDescription != null)
                                    {
                                        var hasDe = !string.IsNullOrEmpty(Model.ModuleDescription.Description);
                                        var hasEn = !string.IsNullOrEmpty(Model.ModuleDescription.DescriptionEn);

                                        if (!hasDe && !hasEn)
                                        {
                                            <div>Es liegt keine Modulbeschreibung für das <strong>Semester @Model.Semester.Name</strong> vor.</div>
                                        }
                                        else
                                        {
                                            var activeDe = hasDe ? "show active" : "";
                                            var activeEn = hasDe ? "" : "show active";

                                            <nav>
                                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                    @if (hasDe)
                                                    {
                                                        <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                                                            <img src="~/Assets/img/flags/de.png" alt="de" />
                                                        </button>
                                                    }

                                                    @if (hasEn)
                                                    {
                                                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                                                            <img src="~/Assets/img/flags/gb.png" alt="en" />
                                                        </button>
                                                    }
                                                </div>
                                            </nav>
                                            <div class="tab-content" id="nav-tabContent">
                                                @if (hasDe)
                                                {
                                                    <div class="tab-pane fade @activeDe" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                                                        @Html.Raw(Model.ModuleDescription.Description.Trim())
                                                    </div>
                                                }
                                                @if (hasEn)
                                                {
                                                    <div class="tab-pane fade @activeEn" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                                                         @Html.Raw(Model.ModuleDescription.DescriptionEn.Trim())
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div>Es liegt keine Modulbeschreibung für das <strong>Semester @Model.Semester.Name</strong> vor.</div>
                                    }

                                </div>
                            </div>
                            <div class="card-body">
                                @if (isEditable && (ViewBag.UserRight.IsCurriculumAdmin || itsMe))
                                {
                                    <a href="@Url.Action("Descriptions", null, new { moduleId = Model.CurriculumModule.Id, semId=Model.Semester.Id })" class="btn btn-outline-primary">
                                        <i class="bi-keyboard"></i> Ändern
                                    </a>
                                }
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Lehrangebote</h5>
                                    </div>
                                    <div class="list-group">
                                        @{
                                            var nTeachings = 0;
                                        }
                                        @foreach (var subject in subjects)
                                        {
                                            var opportunities = subject.Opportunities.Where(x => x.Semester.Id == Model.Semester.Id).ToList();

                                            if (opportunities.Any())
                                            {
                                                <div class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            @if (subjects.Count > 1)
                                                            {
                                                                <div>@subject.Name (@subject.TeachingFormat.Tag)</div>
                                                            }
                                                            else
                                                            {
                                                                <div>@subject.TeachingFormat.Tag</div>
                                                            }
                                                        </div>
                                                        <div class="col-10">
                                                            @foreach (var opportunity in opportunities)
                                                            {
                                                                nTeachings++;
                                                                <div>
                                                                    <a href="@Url.Action("Details", "Course", new { id = opportunity.Course.Id })">
                                                                        @opportunity.Course.Name (@opportunity.Course.ShortName)
                                                                    </a>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        @foreach (var accr in accrs)
                                        {
                                            var teachings = accr.TeachingDescriptions.Where(x => x.Semester.Id == Model.Semester.Id).ToList();

                                            var showGroups = teachings.Count > 1;
                                            foreach (var teaching in teachings)
                                            {
                                                nTeachings++;
                                                <div class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <div>@teaching.Subject.TeachingFormat.Tag</div>
                                                        </div>
                                                        <div class="col-10">
                                                            <div>
                                                                <a href="@Url.Action("Details", "Course", new { id = teaching.Course.Id })">
                                                                    @teaching.Course.Name (@teaching.Course.ShortName)
                                                                </a>
                                                                @if (@showGroups)
                                                                {
                                                                    <div>
                                                                        @Html.GroupList(teaching.Course.SemesterGroups, false, false)
                                                                    </div>

                                                                    if (teaching.Course.LabelSet != null)
                                                                    {
                                                                        foreach (var itemLabel in teaching.Course.LabelSet.ItemLabels)
                                                                        {
                                                                            <div>@itemLabel.Name</div>
                                                                        }
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        @if (nTeachings == 0)
                                        {
                                            <div class="list-group-item">
                                                <div>Es liegen keine Lehrangebote für das <strong>Semester @Model.Semester.Name</strong> vor.</div>
                                            </div>
                                        }

                                    </div>
                                    <div class="card-body">
                                        @if (ViewBag.UserRight.IsCurriculumAdmin || itsMe)
                                        {
                                            <a href="@Url.Action("Teachings", null, new { moduleId = Model.CurriculumModule.Id, semId = Model.Semester.Id })" class="btn btn-outline-primary">
                                                <i class="bi-keyboard"></i> Ändern
                                            </a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Prüfungsangebote</h5>
                                        @{
                                            var nApproved = Model.Exams.Count(x => x.ChangeLog.Approved != null);
                                            var isPrelim = nApproved != Model.Exams.Count();
                                        }
                                        @if (Model.Exams.Any() && isPrelim)
                                        {
                                            <h6 class="card-subtitle text-danger">
                                                Status: vorläufig - kann sich jederzeit noch ändern
                                            </h6>
                                        }
                                    </div>
                                    <div class="list-group">
                                        @if (!Model.Exams.Any())
                                        {
                                            <div class="list-group-item">
                                                <div>Es liegen keine Prüfungsangebote für das <strong>Semester @Model.Semester.Name</strong> vor.</div>
                                            </div>
                                        }

                                        @foreach (var examinationDescription in Model.Exams)
                                        {
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>Erstprüfer:in</div>
                                                    </div>
                                                    <div class="col-8">
                                                        @if (examinationDescription.FirstExminer != null)
                                                        {
                                                            <div>@examinationDescription.FirstExminer.FullName</div>
                                                        }
                                                        else
                                                        {
                                                            <div><i>Nicht festgelegt</i></div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>Zweitprüfer:in</div>
                                                    </div>
                                                    <div class="col-8">
                                                        @if (examinationDescription.SecondExaminer != null)
                                                        {
                                                            <div>@examinationDescription.SecondExaminer.FullName</div>
                                                        }
                                                        else
                                                        {
                                                            <div><i>Nicht festgelegt</i></div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>Prüfungsform</div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div>@examinationDescription.ExaminationOption.OptionName</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>Details zur Prüfung</div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div>@Html.Raw(examinationDescription.Conditions)</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>Hilfsmittel</div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div>@Html.Raw(examinationDescription.Utilities)</div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="card-body">
                                        @if (isEditable && (ViewBag.UserRight.IsCurriculumAdmin || itsMe))
                                        {
                                            <a href="@Url.Action("Exams", null, new { moduleId = Model.CurriculumModule.Id, semId=Model.Semester.Id })" class="btn btn-outline-primary">
                                                <i class="bi-keyboard"></i> Ändern
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

