@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.Web.Models.ModuleSemesterView
@{
    ViewBag.Title = "Modulbeschreibung";
    @*
        var subjects = Model.CurriculumModule.ModuleSubjects.ToList();
        var accrs = Model.CurriculumModule.Accreditations.ToList();

        var tt = new List<TeachingDescription>();
        foreach (var moduleAccreditation in accrs)
        {
            foreach (var teachingDescription in moduleAccreditation.TeachingDescriptions.Where(x => x.Semester.Id == Model.Semester.Id))
            {
                tt.Add(teachingDescription);
            }
        }
        var teachings = tt.Distinct();
    *@
var itsMe = false;

if (ViewBag.UserRight.User != null)
{

    var userId = ViewBag.UserRight.User.Id;

    foreach (var mv in Model.CurriculumModule.ModuleResponsibilities)
    {
        if (!string.IsNullOrEmpty(mv.Member.UserId) && mv.Member.UserId.Equals(userId))
        {
            itsMe = true;
        }
    }
    foreach (var kv in Model.CurriculumModule.Catalog.CatalogResponsibilities)
    {
        if (!string.IsNullOrEmpty(kv.Member.UserId) && kv.Member.UserId.Equals(userId))
        {
            itsMe = true;
        }
    }
}

var slots = (from subject in Model.CurriculumModule.ModuleSubjects.ToList() from subjectAccreditation in subject.SubjectAccreditations.ToList() select subjectAccreditation.Slot).Distinct().ToList();


//var dateOffset = DateTime.Today - Model.Semester.StartCourses;
//var isEditable = dateOffset.Days < 28;
var isEditable = true;


var userService = new UserInfoService();

if (Request.IsLocal)
{
    isEditable = true;
}

var showMenu = ViewBag.UserRight.IsCurriculumAdmin || itsMe;

var colDetails = "col-md-12";
if (showMenu)
{
    colDetails = "col-md-10";
}


}

@section scripts
{
    <script type="module" src="@Url.Content("~/Assets/libs/md-block/md-block.js")"></script>
}


<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new {id=Model.CurriculumModule.Catalog.Organiser.Id})">@Model.CurriculumModule.Catalog.Organiser.ShortName</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Catalogs", new {id=Model.CurriculumModule.Catalog.Organiser.Id})">Modulkataloge</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Details", "Catalogs", new {id=Model.CurriculumModule.Catalog.Id})">@Model.CurriculumModule.Catalog.Tag</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Details", "ModuleDescription", new {id=Model.CurriculumModule.Id})">@Model.CurriculumModule.Tag</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <div class="btn-group">
                        @if (ViewBag.PrevSemester != null)
                        {
                            <a  href="@Url.Action("Semester", "ModuleDescription", new { moduleId = Model.CurriculumModule.Id, semId=ViewBag.PrevSemester.Id})"><i class="bi bi-chevron-double-left"></i></a>
                        }
                        else
                        {
                            <a class="disabled" href="#"><i class="bi bi-chevron-double-left"></i></a>
                        }
                        <span class="ms-2 me-2">@Model.Semester.Name</span>
                        @if (ViewBag.NextSemester != null)
                        {
                            <a href="@Url.Action("Semester", "ModuleDescription", new { moduleId = Model.CurriculumModule.Id, semId=ViewBag.NextSemester.Id})"><i class="bi bi-chevron-double-right"></i></a>
                        }
                        else
                        {
                            <a class="disabled" href="#"><i class="bi bi-chevron-double-right"></i></a>
                        }
                    </div>
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    @if (showMenu)
    {
        var spoEnabled = ViewBag.UserRight.IsCurriculumAdmin ? "" : "disabled";

        <div class="col-md-2">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Fachverantwortung</h5>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("EditResponsibilities", "CurriculumModule", new { id = Model.CurriculumModule.Id })" class="list-group-item list-group-item-action">
                        <i class="bi bi-people"></i> Modulverantwortliche
                    </a>
                    @if (isEditable && (ViewBag.UserRight.IsCurriculumAdmin || itsMe))
                    {
                        <a href="@Url.Action("Descriptions", null, new { moduleId = Model.CurriculumModule.Id, semId = Model.Semester.Id })" class="list-group-item list-group-item-action">
                            <i class="bi bi-bullseye"></i> Inhalte und Qualifikationsziele
                        </a>
                    }
                    @if (ViewBag.UserRight.IsCurriculumAdmin || itsMe)
                    {
                        <a href="@Url.Action("Teachings", null, new { moduleId = Model.CurriculumModule.Id, semId = Model.Semester.Id })" class="list-group-item list-group-item-action">
                            <i class="bi bi-collection-play"></i> Lehrangebote
                        </a>
                    }
                    @if (isEditable && (ViewBag.UserRight.IsCurriculumAdmin || itsMe))
                    {
                        <a href="@Url.Action("Exams", null, new { moduleId = Model.CurriculumModule.Id, semId = Model.Semester.Id })" class="list-group-item list-group-item-action">
                            <i class="bi bi-stopwatch"></i> Prüfungsangebote
                        </a>
                    }


                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">SPO-Bereich<br />(Admins only)</h5>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("EditGeneral", "CurriculumModule", new { id = Model.CurriculumModule.Id })" class="list-group-item list-group-item-action @spoEnabled">
                        <i class="bi bi-gear"></i> Allgemeine Angaben
                    </a>
                    <a href="@Url.Action("Subjects", new { id = Model.CurriculumModule.Id })" class="list-group-item list-group-item-action @spoEnabled" aria-current="true">
                        <i class="bi bi-person-video"></i> Lehr- und Lernformen
                    </a>
                    <a href="@Url.Action("ExaminationForms", new { id = Model.CurriculumModule.Id })" class="list-group-item list-group-item-action @spoEnabled" aria-current="true">
                        <i class="bi bi-exclamation-diamond"></i> Prüfungsformen
                    </a>
                    <a href="@Url.Action("Delete", "CurriculumModule", new { id = Model.CurriculumModule.Id })" class="list-group-item list-group-item-danger list-group-item-action @spoEnabled" aria-current="true">
                        <i class="bi bi-trash"></i> Modul löschen
                    </a>
                </div>
            </div>
        </div>
    }
    <div class="@colDetails">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        @if (!string.IsNullOrEmpty(Model.CurriculumModule.Name))
                        {
                            <h4 class="card-title">
                                <img src="~/Assets/img/flags/de.png" alt="de" /> @Model.CurriculumModule.Name
                            </h4>
                        }
                        @if (!string.IsNullOrEmpty(Model.CurriculumModule.NameEn))
                        {
                            <h4 class="card-title">
                                <img src="~/Assets/img/flags/gb.png" alt="en" /> @Model.CurriculumModule.NameEn
                            </h4>
                        }
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">Angaben gemäß SPO</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div>Zugehörigkeit zu Curriculum</div>
                                            </div>
                                            <div class="col-8">
                                                @foreach (var slot in slots)
                                                {
                                                    <div>
                                                        <a href="@Url.Action("Details", "Curriculum", new { id = slot.AreaOption.Area.Curriculum.Id })">
                                                            @slot.AreaOption.Area.Curriculum.Name
                                                        </a> |
                                                        <a href="@Url.Action("Slot", "Curriculum", new { id = slot.Id })">
                                                            @slot.Tag
                                                        </a>
                                                        <span class="badge bg-secondary">@slot.ECTS ECTS</span>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        @if (ViewBag.UserRight.IsCurriculumAdmin || itsMe)
                                        {
                                            <div class="row">
                                                <div class="col-4">
                                                    <div>Katalogverantwortung</div>
                                                </div>
                                                <div class="col-8">
                                                    @foreach (var mv in Model.CurriculumModule.Catalog.CatalogResponsibilities)
                                                    {
                                                        <div>@mv.Member.FullName</div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="col-4">
                                                <div>Modulverantwortung</div>
                                            </div>
                                            <div class="col-8">
                                                @foreach (var mv in Model.CurriculumModule.ModuleResponsibilities)
                                                {
                                                    <div>@mv.Member.FullName</div>
                                                }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div>Prüfungsformen</div>
                                            </div>
                                            <div class="col-8">
                                                @foreach (var option in Model.CurriculumModule.ExaminationOptions)
                                                {
                                                    if (option != Model.CurriculumModule.ExaminationOptions.Last())
                                                    {
                                                        <div>@option.OptionName <i>oder</i></div>
                                                    }
                                                    else
                                                    {
                                                        <div>@option.OptionName</div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div>Lehr- und Lernformen</div>
                                            </div>
                                            <div class="col-8">
                                                @foreach (var subject in Model.CurriculumModule.ModuleSubjects)
                                                {
                                                    if (subject.TeachingFormat != null)
                                                    {
                                                        <div>@subject.Name (@subject.Tag) <span class="badge bg-secondary">@subject.TeachingFormat.Tag</span> <span class="badge bg-secondary">@subject.SWS SWS</span></div>
                                                    }
                                                    else
                                                    {
                                                        <div>@subject.Name (@subject.Tag) <span class="badge bg-secondary">N.N.</span> <span class="badge bg-secondary">@subject.SWS SWS</span></div>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Lehrangebote <strong>@Model.Semester.Name</strong></h5>
                                    </div>
                                    <div class="list-group">
                                        @foreach (var subject in Model.CurriculumModule.ModuleSubjects)
                                        {
                                            var teachings = subject.SubjectTeachings.Where(x => x.Course.Semester.Id == Model.Semester.Id).ToList();
                                            <div class="list-group-item">
                                                <div>
                                                    <strong>@subject.Name (@subject.Tag) | @subject.SWS SWS | @subject.TeachingFormat.Tag</strong>
                                                </div>
                                                @if (teachings.Any())
                                                {
                                                    <ul>
                                                        @foreach (var teaching in teachings)
                                                        {
                                                            <li>
                                                                <a href="@Url.Action("Details", "Course", new { id = teaching.Course.Id })">
                                                                    @teaching.Course.Name (@teaching.Course.ShortName)
                                                                </a>
                                                                @foreach (var item in teaching.Course.LabelSet.ItemLabels.ToList())
                                                                {
                                                                    <span class="badge bg-secondary">@item.Name</span>
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                                else
                                                {
                                                    <div><i>wird nicht angeboten</i></div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Prüfungsangebote <strong>@Model.Semester.Name</strong></h5>
                                        @{
                                            var nApproved = Model.Exams.Count(x => x.ChangeLog.Approved != null);
                                            var isPrelim = nApproved != Model.Exams.Count();
                                        }
                                        @if (Model.Exams.Any() && isPrelim)
                                        {
                                            <h6 class="card-subtitle text-danger">
                                                Status: vorläufig - kann sich jederzeit noch ändern
                                            </h6>
                                        }
                                    </div>
                                    <div class="list-group">
                                        @if (!Model.Exams.Any())
                                        {
                                            <div class="list-group-item">
                                                <div>Es liegen keine Prüfungsangebote für das <strong>Semester @Model.Semester.Name</strong> vor.</div>
                                            </div>
                                        }

                                        @foreach (var examinationDescription in Model.Exams)
                                        {
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>Erstprüfer:in</div>
                                                    </div>
                                                    <div class="col-8">
                                                        @if (examinationDescription.FirstExminer != null)
                                                        {
                                                            <div>@examinationDescription.FirstExminer.FullName</div>
                                                        }
                                                        else
                                                        {
                                                            <div><i>Nicht festgelegt</i></div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>Zweitprüfer:in</div>
                                                    </div>
                                                    <div class="col-8">
                                                        @if (examinationDescription.SecondExaminer != null)
                                                        {
                                                            <div>@examinationDescription.SecondExaminer.FullName</div>
                                                        }
                                                        else
                                                        {
                                                            <div><i>Nicht festgelegt</i></div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>Prüfungsform</div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div>@examinationDescription.ExaminationOption.OptionName</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>Details zur Prüfung</div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div>@Html.Raw(examinationDescription.Conditions)</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div>Hilfsmittel</div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div>@Html.Raw(examinationDescription.Utilities)</div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">Voraussetzungen und Verwendbarkeit</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div>Voraussetzungen für die Teilnahme</div>
                                            </div>
                                            <div class="col-8">
                                                @Model.CurriculumModule.Prerequisites
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div>Verwendbarkeit</div>
                                            </div>
                                            <div class="col-8">
                                                @Model.CurriculumModule.Applicableness
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Inhalte und Qualifikationsziele</h5>
                                        @if (Model.ModuleDescription != null)
                                        {
                                            if (Model.ModuleDescription.ChangeLog != null)
                                            {
                                                if (Model.ModuleDescription.ChangeLog.Approved.HasValue)
                                                {
                                                    <h6 class="card-subtitle">
                                                        verabschiedet am @Model.ModuleDescription.ChangeLog.Approved.Value.ToShortDateString()
                                                    </h6>
                                                }
                                                else
                                                {
                                                    <h6 class="card-subtitle text-danger">
                                                        Status: vorläufig - kann sich jederzeit noch ändern
                                                    </h6>
                                                }
                                            }
                                        }
                                        else
                                        {

                                        }
                                    </div>
                                    <div class="list-group">
                                        <div class="list-group-item">
                                            @if (Model.ModuleDescription != null)
                                            {
                                                var hasDe = !string.IsNullOrEmpty(Model.ModuleDescription.Description);
                                                var hasEn = !string.IsNullOrEmpty(Model.ModuleDescription.DescriptionEn);

                                                if (!hasDe && !hasEn)
                                                {
                                                    <div>Es liegt keine Modulbeschreibung für das <strong>Semester @Model.Semester.Name</strong> vor.</div>
                                                }
                                                else
                                                {
                                                    var activeDe = hasDe ? "show active" : "";
                                                    var activeEn = hasDe ? "" : "show active";

                                                    <nav>
                                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                            @if (hasDe)
                                                            {
                                                                <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                                                                    <img src="~/Assets/img/flags/de.png" alt="de" />
                                                                </button>
                                                            }

                                                            @if (hasEn)
                                                            {
                                                                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                                                                    <img src="~/Assets/img/flags/gb.png" alt="en" />
                                                                </button>
                                                            }
                                                        </div>
                                                    </nav>
                                                    <div class="tab-content" id="nav-tabContent">
                                                        @if (hasDe)
                                                        {
                                                            <div class="tab-pane fade @activeDe" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        @if (!string.IsNullOrEmpty(Model.ModuleDescription.Description))
                                                                        {
                                                                            @Html.Raw(Model.ModuleDescription.Description.Trim())
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (hasEn)
                                                        {
                                                            <div class="tab-pane fade @activeEn" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                                                                <div class="col-md-12">
                                                                    @if (!string.IsNullOrEmpty(Model.ModuleDescription.DescriptionEn))
                                                                    {
                                                                        @Html.Raw(Model.ModuleDescription.DescriptionEn.Trim())
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div>Es liegt keine Modulbeschreibung für das <strong>Semester @Model.Semester.Name</strong> vor.</div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




