@model MyStik.TimeTable.Web.Models.ModuleDescriptionsViewModel
@using MyStik.TimeTable.Web.Services
@using MyStik.TimeTable.Web.Helpers
@{
    ViewBag.Title = "Descriptions";

    var Db = new MyStik.TimeTable.Data.TimeTableDbContext();
    var courseService = new CourseService(Db);

}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="card-title">Modul @Model.Module.Tag: @Model.Module.Name</h4>
                        <h5 class="card-subtitle">Liste aller Lehrangebote im @Model.Semester.Name</h5>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        <a href="@Url.Action("Semester", new {moduleId = Model.Module.Id, semId=Model.Semester.Id}  )" class="btn btn-outline-primary">
                            <i class="bi bi-chevron-compact-left"></i> Zurück
                        </a>
                        <a href="@Url.Action("CreateTeaching", null, new { moduleId = Model.Module.Id, semId = Model.Semester.Id })" class="btn btn-outline-primary">
                            <i class="bi bi-link"></i> Mit vorhandener Lehrveranstaltung verknüpfen
                        </a>
                        <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Neue Lehrveranstaltung anlegen
                            </button>
                            <ul class="dropdown-menu">
                                @foreach (var subject in Model.Module.ModuleSubjects)
                                {
                                    if (subject.SubjectAccreditations.Any())
                                    {
                                        foreach (var subjectAccreditation in subject.SubjectAccreditations)
                                        {
                                            <li>
                                                <a href="@Url.Action("CreateCourseSubject", "Course", new { subjectId = subject.Id, semId = Model.Semester.Id, orgId = subjectAccreditation.Slot.AreaOption.Area.Curriculum.Organiser.Id })" class="dropdown-item">
                                                    @subject.Name (@subject.TeachingFormat.Tag): in @subjectAccreditation.Slot.AreaOption.Area.Curriculum.ShortName
                                                </a>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@Url.Action("CreateCourseSubject", "Course", new { subjectId = subject.Id, semId = Model.Semester.Id, orgId = subject.Module.Catalog.Organiser.Id })" class="dropdown-item">
                                                @subject.Name (@subject.TeachingFormat.Tag): OHNE Studiengang
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Lehrformat</th>
                        <th>Kurzname</th>
                        <th>Titel</th>
                        <th>Kohorte(n)</th>
                        <th>Raumangabe(n)</th>
                        <th>Lehrende</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var subject in Model.Module.ModuleSubjects)
                    {
                        foreach (var teaching in subject.SubjectTeachings.Where(x => x.Course.Semester.Id == Model.Semester.Id))
                        {
                            var summary = courseService.GetCourseSummary(teaching.Course);
                            var linkName = summary.Course.ShortName ?? "Kein Kurzname";

                            <tr>
                                <td>@teaching.Subject.Name (@teaching.Subject.TeachingFormat.Tag)</td>
                                <td>
                                    @Html.ActionLink(linkName, "Index", "Course", new { id = summary.Course.Id }, null)
                                </td>
                                <td>
                                    @summary.Course.Name
                                </td>
                                <td>
                                    @foreach (var label in teaching.Course.LabelSet.ItemLabels.ToList())
                                    {
                                        <span class="badge bg-secondary">@label.Name</span>
                                    }
                                </td>
                                <td>
                                    @Html.RoomList(summary.Rooms)
                                </td>
                                <td>
                                    @Html.LecturerList(summary.Lecturers)
                                </td>

                                <td>
                                    <a href="@Url.Action("DeleteTeaching", new {id = teaching.Id} )" class="btn btn-outline-danger"><i class="bi bi-trash"></i> löschen</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>









