@model MyStik.TimeTable.Web.Models.DashboardStudentViewModel

@{
    ViewBag.Title = "Meine Lehrveranstaltungen";
    ViewBag.ShowState = false;

    var particpating = Model.Courses.Where(x => !x.Subscription.OnWaitingList).ToList();
    var waiting = Model.Courses.Where(x => x.Subscription.OnWaitingList).ToList();
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <h4>Mein Stundenplan @Model.Semester.Name</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("PersonalPlan", "Activity")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-3x fa-calendar-o"></i></h4>
                    <h5>Wochenplan</h5>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Semester", "Planer")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-3x fa-list"></i></h4>
                    <h5>Liste</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Planen, Eintragen, Einschreiben</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Index", "Dictionary")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-3x fa-book"></i></h4>
                    <h5>Vorlesungsverzeichnis</h5>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Index", "Lottery", new {id=Model.Semester.Id})" class="btn btn-default btn-block">
                    <h4><i class="fa fa-3x fa-random"></i></h4>
                    <h5>Wahlverfahren</h5>
                </a>
            </div>
        </div>
    </div>
</div>












