@model MyStik.TimeTable.Web.Models.DashboardStudentViewModel

@{
    ViewBag.Title = "Meine Lehrveranstaltungen";
    ViewBag.ShowState = false;

    var particpating = Model.Courses.Where(x => !x.Subscription.OnWaitingList).ToList();
    var waiting = Model.Courses.Where(x => x.Subscription.OnWaitingList).ToList();
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-pencil"></i> Planung (<strong>@Model.Semester.Name</strong>)
                    </h4>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("Curriculum", "Dictionary", new {semId = Model.Semester.Id, currId=Model.Student.Curriculum.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Nach Studienplan
                        </h5>
                        <p class="list-group-item-text">Suche nach Lehrveranstaltungen nach Studiengang und Semestergruppen und Themengebieten.</p>
                    </a>
                    <a href="@Url.Action("Search", "Planer", new {id = Model.Semester.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Nach Zeiträumen
                        </h5>
                        <p class="list-group-item-text">Suche nach Lehrveranstaltungen zu bestimmten Zeiten.</p>
                    </a>
                    <a href="@Url.Action("Index", "Lottery", new {id = Model.Semester.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Platzverlosungen
                        </h5>
                        <p class="list-group-item-text">Suche nach Lehrveranstaltungen über die Platzverlosungen.</p>
                    </a>
                    <a href="@Url.Action("Dictionary", "Planer")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Vorlesungsverzeichnis
                        </h5>
                        <p class="list-group-item-text">Suche im gesamten Vorlesungsverzeichnis aller Studiengänge.</p>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

