@model MyStik.TimeTable.Web.Models.DashboardStudentViewModel

@{
    ViewBag.Title = "Meine Lehrveranstaltungen";
    ViewBag.ShowState = false;

    var particpating = Model.Courses.Where(x => !x.Subscription.OnWaitingList).ToList();
    var waiting = Model.Courses.Where(x => x.Subscription.OnWaitingList).ToList();
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <i class="fa fa-pencil"></i> Meine Eintragungen mit Status "Teilnehmer" (@Model.Semester.Name)
                        </h4>
                    </div>
                    <div class="list-group">
                        @foreach (var course in particpating)
                        {
                            @Html.Partial("_CourseSummaryListItem", course)
                        }
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <i class="fa fa-pencil"></i> Meine Eintragungen mit Status "Warteliste" (@Model.Semester.Name)
                        </h4>
                    </div>
                    <div class="list-group">
                        @foreach (var course in waiting)
                        {
                            @Html.Partial("_CourseSummaryListItem", course)
                        }
                    </div>
                </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-print"></i> Weitere Ansichten</h4>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("PersonalPlan", "Activity")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Kalenderansicht
                        </h5>
                        <p class="list-group-item-text">Kalenderansicht mit Tagesdatum. Zum Durchklicken.</p>
                    </a>
                    <a href="@Url.Action("PersonalPlanWeekly", "Activity", new {id = Model.Semester.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Wochenplan
                        </h5>
                        <p class="list-group-item-text">Kalenderansicht mit Wochentagen (Mo-So).</p>
                    </a>
                    <a href="@Url.Action("List", "Planer", new {id = Model.Semester.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Terminliste
                        </h5>
                        <p class="list-group-item-text">
                            Nach Tagen sortierte Liste mit alle Terminen.
                        </p>
                    </a>
                    <a href="@Url.Action("Index", "UserProfile")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Terminliste als iCal Feed
                        </h5>
                        <p class="list-group-item-text">
                            Die Termine automatsisch über Google-Calender u.ä. abrufen lassen.
                        </p>
                    </a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-pencil"></i> Planung (<strong>@Model.Semester.Name</strong>)
                    </h4>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("Index", "Planer", new {semId = Model.Semester.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Nach Studienplan
                        </h5>
                        <p class="list-group-item-text">Suche nach Lehrveranstaltungen nach Studiengang und Semestergruppen und Themengebieten.</p>
                    </a>
                    <a href="@Url.Action("Search", "Planer", new {id = Model.Semester.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Nach Zeiträumen
                        </h5>
                        <p class="list-group-item-text">Suche nach Lehrveranstaltungen zu bestimmten Zeiten.</p>
                    </a>
                    <a href="@Url.Action("Index", "Lottery", new {id = Model.Semester.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Platzverlosungen
                        </h5>
                        <p class="list-group-item-text">Suche nach Lehrveranstaltungen über die Platzverlosungen.</p>
                    </a>
                    <a href="@Url.Action("Dictionary", "Planer")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Vorlesungsverzeichnis
                        </h5>
                        <p class="list-group-item-text">Suche im gesamten Vorlesungsverzeichnis aller Studiengänge.</p>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>


@section styles
{
    <style>

        .selectable {
            cursor: pointer;
        }

        .discardable {
            cursor: pointer;
        }

        .lottery {
            cursor: pointer;
        }
    </style>
}

@section scripts
{

    <script>
        $(document).ready(function() {

            // Wählen bzw. Abwählen eines Projekte, diese bekommt dann ein Häkchen
            $('.selectable').click(function() {
                if ($(this).hasClass('disabled')) {
                } else {
                    if ($(this).hasClass('discardable')) {

                        $(this).addClass('disabled');

                        $(this).html('<i class="fa fa-circle-o-notch fa-spin fa-2x"></i>');

                        var ocId = $(this).data("occid");

                        var saveElement = $(this);

                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("DischargeActivity", "Activity")',
                                data: {
                                    Id: ocId
                                },
                                success: function(data, success, xhr) {

                                    saveElement.html(
                                        '<span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x"></i></span>');

                                    saveElement.removeClass('discardable');
                                    saveElement.removeClass('disabled');

                                }
                            });


                    } else {


                        $(this).addClass('disabled');

                        $(this).html('<i class="fa fa-circle-o-notch fa-spin fa-2x"></i>');

                        var ocId = $(this).data("occid");

                        var saveElement = $(this);

                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("SubscribeActivity", "Activity")',
                                data: {
                                    Id: ocId
                                },
                                success: function(data, success, xhr) {

                                    saveElement.html(
                                        '<span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-check fa-stack-1x fa-inverse"></i></span>');

                                    saveElement.addClass('discardable');
                                    saveElement.removeClass('disabled');

                                }
                            });
                    }
                }
            });

            $('.lottery').click(function() {

                var ocId = $(this).data("lotid");
                var url = '@Url.Action("Overview", "Lottery")';
                url += "/" + ocId;

                window.location = url;
            });


        });

    </script>

}