@model MyStik.TimeTable.Web.Models.PlanerGroupViewModel
@{
    ViewBag.Title = "Studiengänge";
}


<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="row">
            <div class="col-md-12">
                <h1>Lehrangebot @Model.Organiser.ShortName</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        Studiengänge @Model.Organiser.ShortName
                    </h4>
                </div>
                <div class="list-group">
                    @foreach (var curr in Model.Organiser.Curricula.OrderBy(x => x.Name))
                    {
                        <a href="@Url.Action("Index", "Curriculum", new {id = curr.Id})" class="list-group-item">
                            <h5 class="list-group-item-heading">@curr.Name (@curr.ShortName)</h5>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
