@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.SemesterActivityModel


@{
    ViewBag.Title = "Stundenplan";
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-pencil"></i> Meine Aktivitäten (@Model.Semester.Name)</h4>
                </div>
                <div class="list-group">
                    @foreach (var act in Model.MyCourses)
                    {
                        <div class="list-group-item">
                            <h5 class="list-group-item-heading">
                                <a href="@Url.Action("Details", "Course", new {id=act.Id})">@act.Activity.Name (@act.Activity.ShortName)</a>
                            </h5>
                            <div class="list-group-item-text">
                                <ul class="fa-ul">
                                    <li><i class="fa fa-li fa-book"></i>@Html.GroupList(act.Activity.SemesterGroups, false, false)</li>
                                    <li><i class="fa fa-li fa-group"></i>Teilnehmer: @act.Activity.Occurrence.Subscriptions.Count(x => !x.OnWaitingList)</li>
                                    <li><i class="fa fa-li fa-hourglass-half"></i>Warteliste: @act.Activity.Occurrence.Subscriptions.Count(x => x.OnWaitingList)</li>
                                    @if (act.CurrentDate != null)
                                    {
                                        <li><i class="fa fa-li fa-calendar"></i><strong>Jetzt in @Html.RoomList(act.CurrentDate.Summary.Date.Rooms), @Html.RoomList(act.CurrentDate.Summary.Date.VirtualRooms)</strong></li>
                                    }
                                    else
                                    {
                                        if (act.NextDate != null)
                                        {
                                            if (act.NextDate.Summary.Date.Occurrence.IsCanceled)
                                            {
                                                <li><i class="fa fa-li fa-calendar-times-o text-danger"></i>@Html.Date(act.NextDate.Summary.Date) - ABGESAGT</li>
                                            }
                                            else
                                            {
                                                <li><i class="fa fa-li fa-calendar"></i>@Html.Date(act.NextDate.Summary.Date) in @Html.RoomList(act.NextDate.Summary.Date.Rooms), @Html.RoomList(act.NextDate.Summary.Date.VirtualRooms) <a href="@Url.Action("CancelDate", "Course", new {id = act.NextDate.Summary.Date.Occurrence.Id})" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> absagen</a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li><i class="fa fa-li fa-calendar"></i>Keine zukünftigen Termine <i class="fa fa-check text-success"></i></li>
                                        }
                                    }
                                </ul>
                                <div class="btn-group">
                                    <a href="@Url.Action("CustomOccurrenceMail", "Mailing", new {id = act.Activity.Occurrence.Id})" class="btn btn-default"><i class="fa fa-envelope"></i> Mail senden</a>
                                    <a href="@Url.Action("Download", "Course", new {id = act.Activity.Id})" class="btn btn-default"><i class="fa fa-download"></i> Download Teilnehmerlisten</a>
                                    <a href="@Url.Action("AdminNewDates", "Course",new {id = act.Activity.Id})" class="btn btn-default"><i class="fa fa-calendar"></i> Termine</a>
                                    <a href="@Url.Action("AdminNewParticipients", "Course", new {id = act.Activity.Id})" class="btn btn-default"><i class="fa fa-group"></i> Teilnehmende</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




