@model MyStik.TimeTable.Web.Models.StudentPlanerModel
@{
    ViewBag.Title = "Studiensemester";
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-pencil"></i> Meine Studiensemester
                    </h4>
                </div>
                <div class="list-group">
                    @if (Model.LatestSemester != null)
                    {
                        <a href="@Url.Action("Index", "Dictionary")" class="list-group-item list-group-item-warning">
                            <h5 class="list-group-item-heading">@Model.LatestSemester.Name</h5>
                            <div class="list-group-item-text">
                                <ul>
                                    <li>im aktuellen Semester habe ich mich noch in keiner Lehrveranstaltung eingetragen. Hier geht es zum Vorlesungsverzeichnis.</li>
                                </ul>
                            </div>
                        </a>
                    }
                    @foreach (var semester in Model.Semester.OrderByDescending(x => x.Semester.EndCourses))
                    {
                        <a href="@Url.Action("Courses", "Planer", new {id = semester.Semester.Id})" class="list-group-item">
                            <h5 class="list-group-item-heading">@semester.Semester.Name</h5>
                            <div class="list-group-item-text">
                                <ul>
                                    <li>in @semester.Courses.Count Lehrveranstaltungen eingetragen</li>
                                </ul>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
