
@{
    Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
    ViewBag.Title = "Startseite";
}


<div class="row" style="margin-bottom: 20px">
    <div class="col-sm-6 col-md-3">
        <div class="card border-secondary">
            <div class="card-body">
                <h5 class="card-title text-center">
                    <i class="fas fa-2x fa-calendar-alt"></i><br />
                    Termine
                </h5>
            </div>
            <div class="list-group">
                <a href="@Url.Action("Index", "Reservation")" class="list-group-item list-group-item-action">Raumreservierungen</a>
                <a href="@Url.Action("Semester", "Courses")" class="list-group-item list-group-item-action">Lehrveranstaltungen</a>
                <a href="@Url.Action("Index", "Events")" class="list-group-item list-group-item-action">Veranstaltungen</a>
                <a href="@Url.Action("Today", "Activity")" class="list-group-item list-group-item-action">Tagesprogramm</a>
                <a href="@Url.Action("DailyRota", "Activity")" class="list-group-item list-group-item-action">Raumbelegungen</a>
                <a href="@Url.Action("Rooms", "Organiser")" class="list-group-item list-group-item-action">Raumsuche</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card border-secondary">
            <div class="card-body">
                <h5 class="card-title text-center">
                    <i class="fas fa-2x fa-clock"></i><br />
                    Workflows
                </h5>
            </div>
            <div class="list-group">
                <a href="@Url.Action("Index", "ThesisAdmin")" class="list-group-item list-group-item-action">Abschlussarbeiten</a>
                <a href="@Url.Action("Index", "InternshipAdmin")" class="list-group-item list-group-item-action">Praxissemester</a>
                <a href="@Url.Action("Index", "Lottery")" class="list-group-item list-group-item-action">Wahlverfahren</a>
                <a href="@Url.Action("Admin", "Assessment")" class="list-group-item list-group-item-action">Aufnahmeverfahren</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card border-secondary">
            <div class="card-body">
                <h5 class="card-title text-center">
                    <i class="fas fa-2x fa-map"></i><br />
                    Stundenpläne
                </h5>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-info">Die bisher her aufgeführten Funktionen finden sich ab sofort alle unter dem neu aufgebauten Bereich unter "Termine / Lehrveranstaltungen"</div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card border-secondary">
            <div class="card-body">
                <h5 class="card-title text-center">
                    <i class="fas fa-2x fa-map-signs"></i><br />
                    Sonstiges
                </h5>
            </div>
            <div class="list-group">
                <a href="@Url.Action("Index", "Messaging")#" class="list-group-item list-group-item-action">Mailverteiler</a>
                <a href="@Url.Action("Index", "Students")" class="list-group-item list-group-item-action">Studierende</a>
                <a href="@Url.Action("Index", "Alumni")" class="list-group-item list-group-item-action">Alumni</a>
                <a href="@Url.Action("Index", "Advertisements")" class="list-group-item list-group-item-action">Aushänge / virtueller Schaukasten</a>
                <a href="#" class="list-group-item list-group-item-action">Infoscreens</a>
                <a href="@Url.Action("Admins", "Organiser")" class="list-group-item list-group-item-action">Rechte & Rollen</a>
            </div>
        </div>
    </div>
</div>


