@model IEnumerable<MyStik.Gym.Data.QuizGame>

@{
    ViewBag.Title = "Index";
}

<h2>Quizz Games</h2>


<table id="tabQuizzes" class="table">
    <thead>
        <tr>
            <th>QuizId</th>
            <th>PlayerIds</th>
            <th># Answers</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Quiz.Id
                </td>
                <td>
                    @foreach (var s in item.Subscriptions)
                    {
                        <div>@s.Player.UserId</div>
                    }
                </td>
                <td>
                    @foreach (var q in item.Questions)
                    {
                        <div>@q.Answers.Count</div>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
