@model ICollection<MyStik.TimeTable.Data.Room>
@{
    ViewBag.Title = "Räume";
}



@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Räume</h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group" role="group">
                        <a href="@Url.Action("Create")" class="btn btn-outline-primary"><i class="bi bi-plus"></i> Hinzufügen</a>
                        <a href="@Url.Action("UnAssigned")" class="btn btn-outline-primary"><i class="bi bi-question"></i> Ohne Zuordnung</a>
                        <a href="@Url.Action("Transfer")" class="btn btn-outline-primary"><i class="bi bi-magic"></i> Zusammenführen</a>
                    </div>
                </div>
            </div>
            <table class="table" id="tabRooms">
                <thead>
                    <tr>
                        <th>Nummer</th>
                        <th>Name</th>
                        <th>Beschreibung</th>
                        <th>Kapazität</th>
                        <th>Raumzuordnungen</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var room in Model.OrderBy(x => x.Number))
                    {
                        <tr>
                            <td>@room.Number</td>
                            <td>@room.Name</td>
                            <td>@room.Description</td>
                            <td>@room.Capacity</td>
                            <td>
                                @foreach (var org in room.Assignments)
                                {
                                    if (org.IsOwner)
                                    {
                                        <div class="text-primary">@org.Organiser.ShortName <i class="bi bi-building-exclamation"></i></div>
                                    }
                                    else
                                    {
                                        <div>@org.Organiser.ShortName</div>
                                       
                                    }
                                }
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="@Url.Action("Edit", new {id = room.Id})" class="btn btn-sm btn-outline-primary"><i class="bi bi-pen"></i></a>
                                    <a href="@Url.Action("Links", new {id = room.Id})" class="btn btn-sm btn-outline-primary"><i class="bi bi-link"></i></a>
                                    @if (!room.Assignments.Any())
                                    {
                                        <a href="@Url.Action("Delete", new {id = room.Id})" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabRooms').DataTable({
                "paging": false,
                "order": [[0, 'asc']]
            });
        });
    </script>
}