@model MyStik.TimeTable.Data.Room
@{
    ViewBag.Title = "Links";
}

<h2>Zuordnung @Model.Number</h2>

<a href="@Url.Action("Index")">Zurück zur Liste</a>

@using (Html.BeginForm("AddLink", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }
    ))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        <input name="roomId" type="text" value="@Model.Id" hidden=""/>
    </div>
    <div class="form-group">
        <label for="orgName" class="col-md-4 control-label">Kurzname</label>
        <div class="col-md-8">
            <input name="orgName" id="orgName" type="text" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="submit" value="Zuordnen" class="btn btn-primary" />
        </div>
    </div>
}




<table class="table table-sm">
    <thead>
    <tr>
        <th>Einrichtung</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var link in Model.Assignments)
    {
        <tr>
            <td>
                @if (link.IsOwner)
                {
                    @link.Organiser.ShortName <i class="bi bi-building-exclamation"></i>
                }
                else
                {
                    @link.Organiser.ShortName 
                }
            </td>
            <td>
                <div class="btn-group">
                    @if (link.IsOwner)
                    {
                        <a href="@Url.Action("RemoveOwner", new { id = link.Id })" class="btn btn-outline-danger"><i class="bi bi-building-x"></i></a>
                    }
                    else
                    {
                        <a href="@Url.Action("MakeOwner", new { id = link.Id })" class="btn btn-outline-primary"><i class="bi bi-building-exclamation"></i></a>

                    }
                    <a href="@Url.Action("DeleteLink", new { id = link.Id })" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>


