@model ICollection<WIQuest.Web.Data.User>
@{
    ViewBag.Title = "Index";
}



<!DOCTYPE html>
<html lang="de">
<head>
    <title>Orientierung zur Fragenauswahl Hochschule München</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">

        <h1>Liste aller Benutzer <a href="@Url.Action("DownloadLogData")" class="btn btn-lg btn-success"><i class="fa fa-2x fa-download"></i> Download CSV-Datei</a></h1>
        

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Geschlecht</th>
                    <th>Altersgruppe</th>
                    <th>Hochschulzugang</th>
                    @{
                        var firstUser = Model.FirstOrDefault();
                    }
                    @if (firstUser != null)
                    {
                        foreach (var log in firstUser.Logs.OrderBy(l => l.Question.Category.Reihenfolge).ThenBy(l => l.Question.Reihenfolge))
                        {
                            <th>
                                @log.Question.Category.Reihenfolge.@log.Question.Reihenfolge
                            </th>

                        }
                    }

            </thead>
            <tbody>

                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Evaluation", "Home", new { id = user.Id }, null)">@user.Id</a>
                        </td>
                        <td>@user.Geschlecht</td>
                        <td>@user.Altersgruppe</td>
                        <td>@user.Hochschulzugangsberechtigung</td>

                        @foreach (var log in user.Logs.OrderBy(l => l.Question.Category.Reihenfolge).ThenBy(l => l.Question.Reihenfolge))
                        {
                            if (log.Answer != null)
                            {
                                <td>@log.Answer.IsCorrect (@log.ViewCount)</td>
                            }
                            else
                            {
                                <td>nicht beantwortet (@log.ViewCount)</td>
                            }
                        }
                    </tr>
                }

            </tbody>
        </table>
    </div>
</body>
</html>
