@model MyStik.TimeTable.Web.Models.SemesterImportModel
@{
    ViewBag.Title = "Löschen";
}


@section styles
{
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Importierte Stundenplandaten für @Model.Organiser.ShortName und Semester @Model.Semester.Name löschen</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    
                    <div class="row">
                        <label class="col-sm-3 form-label">Fortschritt</label>
                        <div class="col-sm-9">
                            <div id="pogresslabel"></div>
                            <div class="progress">
                                <div id="progressbar1" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
                                    0%
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.UserRight.IsCurriculumAdmin)
                    {

                        <div class="col-sm-3">
                            <a href="#" id="btnDelete" class="btn btn-danger"><i class="bi-trash"></i> löschen</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>






@section scripts {
    @Scripts.Render("~/bundles/signalr")

    <!--
    Obwohl diese Datei so nicht existieren, wird das hier benötigt
    Wahrscheinlich wird das erst zur Laufzeit erstellt
    -->
    <script src="~/signalr/hubs" type="text/javascript"></script>

    <script type="text/javascript">

        $(function() {

            $("btnDelete").hide();

            var connection = $.connection.gpUntisHub;

            connection.client.updateProgress = function(message, perc1) {

                $("#pogresslabel").html("<p>" + message + "</p>");
                $("#progressbar1").html(perc1 + "%");
                $("#progressbar1").css("width", perc1 + "%");
            };

            $("#btnDelete").click(function () {
                var semId = "@Model.Semester.Id.ToString()";
                var orgId = "@Model.Organiser.Id.ToString()";

                connection.server.deleteSemester(semId, orgId).done(function() {
                    //                    alert("habe fertig");
                });
            });


            $.connection.hub.start();

            $("btnDelete").show();

        });

    </script>

}
















