@using System.Globalization
@model MyStik.TimeTable.Web.Models.PersonalDateCreateModel


<table id="tabDates" class="table">
    <thead>
    <tr>
        <th>Wochentag</th>
        <th>Datum</th>
        <th>Von</th>
        <th>Bis</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.PersonalDate != null)
    {
        foreach (var date in Model.PersonalDate.Dates)
        {
            <tr id="@date.Id">
                <td>@DateTimeFormatInfo.CurrentInfo.GetAbbreviatedDayName(date.Begin.DayOfWeek)</td>
                <td>@date.Begin.Date.ToShortDateString()</td>
                <td>@date.Begin.ToShortTimeString()</td>
                <td>@date.End.ToShortTimeString()</td>
                <td>
                    <a class="btn btn-sm btn-outline-danger" href="javascript:deleteRow('@date.Id')"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
