@model ICollection<MyStik.TimeTable.Web.Models.LecturerViewModel>


<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    @Resources.ProfileListActiveLecturer (@ViewBag.Semester.Name) 
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">

                <div class="list-group">
                    @foreach (var lec in Model)
                    {
                        <a href="@Url.Action("Member", "Organiser", new {id = lec.Lecturer.Id})" class="list-group-item">
                            @lec.Lecturer.Name (@lec.Lecturer.ShortName)
                        </a>
@*
    if (lec.IsActive)
    {
        if (lec.OfficeHour != null)
        {
            if (lec.OfficeHour.ByAgreement)
            {
                var txt2 = Resources.OfficeHourByAgreement;
                if (!string.IsNullOrEmpty(lec.OfficeHour.Description))
                {
                    txt2 = lec.OfficeHour.Description;
                }
                <a href="@Url.Action("Member", "Organiser", new {id = lec.Lecturer.Id})" class="list-group-item">
                    <span class="badge">@txt2</span>
                    @lec.Lecturer.Name (@lec.Lecturer.ShortName)
                </a>
            }
            else
            {
                <a href="@Url.Action("Member", "Organiser", new {id = lec.Lecturer.Id})" class="list-group-item">
                    <span class="badge">@Resources.OfficeHourWithDates</span>
                    @lec.Lecturer.Name (@lec.Lecturer.ShortName)
                </a>
            }
        }
        else
        {
            <a href="@Url.Action("Member", "Organiser", new {id = lec.Lecturer.Id})" class="list-group-item">
                @lec.Lecturer.Name (@lec.Lecturer.ShortName)
            </a>
        }
    }
    else
    {
        if (lec.User != null)
        {
            <a href="mailto:@lec.User.Email" class="list-group-item">
                @lec.Lecturer.Name (@lec.Lecturer.ShortName) - @Resources.InactiveUseEmail
            </a>
        }
        else
        {
            <a href="#" class="list-group-item disabled">
                @lec.Lecturer.Name (@lec.Lecturer.ShortName) - @Resources.InactiveNoContactInf
            </a>
        }
    }
*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>


