@using MyStik.TimeTable.Web.Models
@model ICollection<MyStik.TimeTable.Web.Models.LecturerViewModel>


@foreach (var lec in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading"><strong>@lec.Lecturer.Name</strong></div>
        <div class="list-group">
            @if (lec.User != null)
            {
                <a href="mailto:@lec.User.Email" class="list-group-item"><i class="fa fa-envelope-o"></i> E-Mail senden</a>
            }
            else
            {
                <a href="#" class="list-group-item disabled"><i class="fa fa-envelope-o"></i> Keine E-Mail Adresse vorhanden</a>
            }
            @if (lec.OfficeHour != null)
            {
                if (lec.OfficeHour.ByAgreement)
                {
                    <a href="#" class="list-group-item disabled"><i class="fa fa-ambulance"></i> Terminvereinbarung per E-Mail</a>
                }
                else
                {
                    <a href="@Url.Action("Lecturer", "OfficeHour", new {id = lec.Lecturer.Id}, null)" 
                       class="list-group-item"><i class="fa fa-ambulance"></i> Sprechstundentermine</a>
                }
            }
            else
            {
                <a href="#" class="list-group-item disabled"><i class="fa fa-ambulance"></i> Keine Sprechstunde</a>
            }
            @if (ViewBag.UserRight.User.MemberState == MemberState.Staff && (ViewBag.UserRight.IsOrgMember || ViewBag.UserRight.IsOrgAdmin))
            {
                <a href="@Url.Action("Calendar", "Lecturer", new { id = lec.Lecturer.Id })"
                   class="list-group-item"><i class="fa fa-calendar"></i> Kalender</a>
                <a href="@Url.Action("Schedule", "Print", new { id = lec.Lecturer.Id })"
                   onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=1000,height=500,toolbar=0,resizable=1'); return false;"
                   class="list-group-item"><i class="fa fa-print"></i> Drucken</a>
            }
            @if (User.IsInRole("SysAdmin") && lec.OfficeHour != null)
            {
                <a href="@Url.Action("Delete", "OfficeHour", new {id = lec.OfficeHour.Id})"
                   class="list-group-item"><i class="fa fa-trash-o"></i> Sprechstunde löschen</a>
                <a href="@Url.Action("Inspect", "OfficeHour", new {id = lec.Lecturer.Id})"
                   class="list-group-item"><i class="fa fa-fire-extinguisher"></i> Sprechstunde prüfen</a>
            }
        </div>
    </div>
}
