@model MyStik.TimeTable.Web.Models.LecturerSummaryModel
@{
    // Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
    ViewBag.Title = "Meine Lehrveranstaltungen";
}

@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables.net/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabDates').DataTable(
                {
                    "paging": false,
                    "columnDefs": [
                        {
                            "type": "de_time",
                            "targets": [1, 2]
                        }],
                    "order": [[0, 'asc']]
                }
            );
        });

    </script>
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Meine Lehrveranstaltungen</h4>
            </div>
            <ul class="nav bg-light text-dark">
                <li class="nav-item">
                    <a class="nav-link text-center" href="@Url.Action("Create", "Course")"><i class="bi-folder-plus fa-fw"></i><br />Lehrveranstaltung anlegen</a>
                </li>
            </ul>
            
            <table id="tabDates" class="table table-sm">
                <thead>
                <tr>
                    <th>Bezeichnung</th>
                    <th>Erster Termin</th>
                    <th>Letzter Termin</th>
                    <th>Besitzer</th>
                    <th>Aktive Termine</th>
                    <th>Gesamtzahl Termine</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var date in Model.Courses)
                {
                    <tr>
                        <td><a href="@Url.Action("Details", "Course", new {id = date.Course.Id})">@date.Course.Name (@date.Course.ShortName)</a></td>
                        @if (date.FirstDate != null)
                        {
                            <td>@date.FirstDate.Begin.ToShortDateString()</td>
                            <td>@date.LastDate.Begin.ToShortDateString()</td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                        }
                        @if (date.Owner != null)
                        {
                            <td>ja</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@date.HostingDates.Count</td>
                        <td>@date.Course.Dates.Count</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>


