@model MyStik.TimeTable.Web.Models.LecturerSummaryModel
@{
    ViewBag.Title = "Sprechstunden";
}

@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables.net/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabDates').DataTable(
                {
                    "paging": false,
                    "columnDefs": [
                        {
                            "type": "de_time",
                            "targets": [1, 2]
                        }],
                    "order": [[0, 'asc']]
                }
            );
        });

    </script>
}

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
            <li class="breadcrumb-item" aria-current="page">Meine Sprechstunden</li>
            <li class="breadcrumb-item active" aria-current="page">
                <div class="btn-group">
                    @if (ViewBag.PrevSemester != null)
                    {
                        <a href="@Url.Action("OfficeHours", "Lecturer", new {id=ViewBag.PrevSemester.Id})"><i class="bi bi-chevron-double-left"></i></a>
                    }
                    else
                    {
                        <a class="disabled" href="#"><i class="bi bi-chevron-double-left"></i></a>
                    }
                    <span class="ms-2 me-2">@ViewBag.CurrentSemester.Name</span>
                    @if (ViewBag.NextSemester != null)
                    {
                        <a href="@Url.Action("OfficeHours", "Lecturer", new {id=ViewBag.NextSemester.Id})"><i class="bi bi-chevron-double-right"></i></a>
                    }
                    else
                    {
                        <a class="disabled" href="#"><i class="bi bi-chevron-double-right"></i></a>
                    }
                </div>
            </li>

        </ol>
    </nav>
</div>



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Meine Sprechstunden @ViewBag.CurrentSemester.Name</h4>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Anlegen neuer Sprechstunden</h5>
                        </div>
                        <div class="list-group">
                            @foreach (var member in Model.Memberships)
                            {
                                <a class="list-group-item list-group-item-action" href="@Url.Action("Create", "OfficeHour", new {semId=ViewBag.CurrentSemester.Id, memberId = member.Id} )">@member.Organiser.ShortName: @member.ShortName</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Übersicht alle Semester</h5>
                        </div>
                        <table id="tabDates" class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Bezeichnung</th>
                                    <th>Besitzer</th>
                                    <th>Semester</th>
                                    <th>Gesamtzahl Termine</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var date in Model.OfficeHours)
                                {
                                    <tr>
                                        <td><a href="@Url.Action("OfficeHour", "Lecturer", new {id = date.OfficeHour.Id})">@date.OfficeHour.Name</a></td>
                                        <td>
                                            @foreach (var owner in date.OfficeHour.Owners)
                                            {
                                                <div>@owner.Member.ShortName</div>
                                            }
                                        </td>
                                        <td>@date.OfficeHour.Semester.Name</td>
                                        <td>@date.OfficeHour.Dates.Count</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


