@using System.Data.Entity
@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Models
@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.Web.Models.OrganiserViewModel

@{
    ViewBag.Title = "Lehrende";

    @*
    var db = new TimeTableDbContext();
    var orgFK11 = db.Organisers.Include(activityOrganiser => activityOrganiser.Members).FirstOrDefault(x => x.ShortName == "FK 11");

    if (orgFK11 != null && Model.Organiser.ShortName.Equals("MUC.HEALTH"))
    {
        var orgMucHealth = Model.Organiser;

        foreach (var memberFK11 in orgFK11.Members.Where(x => !string.IsNullOrEmpty(x.UserId)).ToList())
        {
            // Prüfen, ob der Lehrende auch in MUC.HEALTH Mitglied ist
            var memberMucHealth = orgMucHealth.Members.FirstOrDefault(x => x.UserId.Equals(memberFK11.UserId));

            if (memberMucHealth == null)
            {
                // Lehrender ist nicht Mitglied in MUC.HEALTH, also hinzufügen
                var newMember = new OrganiserMember
                {
                    Name = memberFK11.Name,
                    FirstName = memberFK11.FirstName,
                    Title = memberFK11.Title,
                    ShortName = memberFK11.ShortName,
                    UserId = memberFK11.UserId,
                    IsAssociated = true
                };
                orgMucHealth.Members.Add(newMember);
            }
        }
    }


    db.SaveChanges();
*@



    List<OrganiserMember> memberList = null;
    if (ViewBag.UserRight.IsMemberAdmin || ViewBag.UserRight.IsOrgMember)
    {
        memberList = Model.Organiser.Members
            .OrderBy(x => x.Name)
            .ToList();
    }
    else
    {
        memberList = Model.Organiser.Members
            .Where(x => x.IsAssociated)
            .OrderBy(x => x.Name)
            .ToList();
    }
}


@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        var t = $('#tabMembers').DataTable({
            "paging": false
        });

    </script>
}



<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Campus", "University")">HM</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new {id=Model.Organiser.Id})">@Model.Organiser.ShortName</a></li>
                <li class="breadcrumb-item active" aria-current="page">Lehrende</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @if (ViewBag.UserRight.IsMemberAdmin)
                {
                    <a href="@Url.Action("CreateMember", "Organiser", new { id = Model.Organiser.Id })" class="btn btn-outline-primary">
                        <i class="bi bi-person-add"></i> Lehrenden anlegen
                    </a>
                    <a href="@Url.Action("ImportMember", "Lecturer", new { id = Model.Organiser.Id })" class="btn btn-outline-primary">
                        <i class="bi bi-upload"></i> Import
                    </a>
                }
                <table id="tabMembers" class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Vorname</th>
                            <th>Titel</th>
                            <th>Kurzbezeichnung</th>
                            <th>Account</th>
                            @if (ViewBag.UserRight.IsMemberAdmin)
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var member in memberList)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Card", "Person", new { memberId = member.Id })">
                                        @member.Name
                                    </a>
                                </td>
                                <td>@member.FirstName</td>
                                <td>@member.Title</td>
                                <td>@member.ShortName</td>
                                @if (string.IsNullOrEmpty(member.UserId))
                                {
                                    <td>Kein Account</td>
                                }
                                else
                                {
                                    <td></td>
                                }

                                @if (ViewBag.UserRight.IsMemberAdmin)
                                {
                                    <td>
                                        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("MemberAdmin", "Organiser", new { id = member.Id })">
                                            <i class="bi bi-gear"></i> Verwaltung
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

