@model MyStik.TimeTable.Web.Models.LecturerSummaryModel
@{
    ViewBag.Title = "Persönliche Termine";
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css")" />
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Meine Verfügbarkeiten im @Model.Semester.Name</h5>
                <h6 class="card-subtitle">
                    @foreach (var member in Model.Memberships)
                    {
                        <span>@member.Organiser.ShortName</span>
                    }
                </h6>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="alert alert-info">
                        <h5>Hinweise</h5>
                        <ul>
                            <li>Pro Tag können maximal 3 Zeiträume angegeben werden. Überschneidungen werden nicht geprüft.</li>
                            <li>Alle Zeitangaben mit Beginn und Ende 00:00 werden ignoriert.</li>
                            <li>Falsche Angaben bzw. unvollständige Zeitangaben werden ignoriert.</li>
                            <li>Bei Änderungen oder versehentlich gemachten Angaben wird empfohlen alle Termine zu löschen und neu anzulegen.</li>
                            <li>Die Angaben können aktuell noch jederzeit geändert werden. Während der Planungsphase ist es nicht möglich die Angaben zu ändern.</li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        @Html.DropDownListFor(m => m.SegmentId, (IEnumerable<SelectListItem>)ViewBag.Segments, new { @class = "form-select" })
                        <label for="SemesterId">Segment auswählen</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        @Html.DropDownListFor(m => m.OrganiserId, (IEnumerable<SelectListItem>)ViewBag.Organiser, new { @class = "form-select", onchange = "onOrganiserChanged()" })
                        <label for="OrganiserId">Fakultät auswählen</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-2">Mo</div>
                        <div class="col-md-2">Di</div>
                        <div class="col-md-2">Mi</div>
                        <div class="col-md-2">Do</div>
                        <div class="col-md-2">Fr</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Zeitraum 1</div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b1min"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b1max"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b1min"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b1max"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b1min"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b1max"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b1min"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b1max"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b1min"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b1max"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Zeitraum 2</div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b2min"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b2max"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b2min"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b2max"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b2min"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b2max"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b2min"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b2max"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b2min"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b2max"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Zeitraum 3</div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b3min"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b3max"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b3min"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b3max"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b3min"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b3max"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b3min"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b3max"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b3min"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="mytime" class="form-control timepicker timepicker-24 b3max"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group">
                                <a class="btn btn-outline-secondary" href="javascript:onClearDates()"><i class="bi bi-x"></i> Nicht verfügbar</a>
                                <a class="btn btn-outline-secondary" href="javascript:onDay()"><i class="bi bi-calendar-day"></i> Ganztags</a>
                                <a class="btn btn-outline-secondary" href="javascript:onAM()"><i class="bi bi-calendar-day"></i> Nur Vormittag</a>
                                <a class="btn btn-outline-secondary" href="javascript:onPM()"><i class="bi bi-calendar-day"></i> Nur Nachmittag</a>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-outline-primary" href="javascript:onCreateDates()"><i class="bi bi-save"></i> Verfügbarkeiten anlegen</a>
                                <span id="loading" class="spinner-border"></span>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-3">
                <div>
                    <a class="btn btn-outline-danger" href="javascript:deleteAllDates()"><i class="bi bi-trash"></i> Alle Termine löschen</a>
                </div>
                <div id="dateTable">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Von</th>
                            <th>Bis</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var pd in Model.Dates)
                        {
                            foreach (var date in pd.Dates)
                            {
                                <tr id="@date.Id">
                                    <td>@date.Begin.Date.ToShortDateString()</td>
                                    <td>@date.Begin.ToShortTimeString()</td>
                                    <td>@date.End.ToShortTimeString()</td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-danger" href="javascript:deleteRow('@date.Id')"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        }

                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>



@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js")"></script>

    <script>
        $(document).ready(function () {
            $('#loading').hide();

            $('.timepicker-24').timepicker({
                autoclose: true,
                minuteStep: 15,
                showSeconds: false,
                showMeridian: false
            });

            $('.timepicker').parent('.input-group').on('click',
                '.input-group-btn',
                function (e) {
                    e.preventDefault();
                    $(this).parent('.input-group').find('.timepicker').timepicker('showWidget');
                });

            onDay();

        });

        function onCreateDates() {
            $('#loading').show();

            var values = $("input[name='mytime']")
                .map(function () { return $(this).val(); }).get();
            var n = values.length;

            var orgId = $("#OrganiserId option:selected").val();
            var segmentId = $("#SegmentId option:selected").val();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("CreateDates")',
                    data: {
                        timeArray: values,
                        orgId: orgId,
                        segmentId: segmentId
                    },
                    success: function(data, success, xhr) {
                        $("#dateTable").html(data);
                        $('#loading').hide();
                    }
                });


        }

        function onClearDates() {
            $('.timepicker-24').val('00:00');
        }

        function onDay() {
            onClearDates();
            $('.b1min').val('08:00');
            $('.b1max').val('21:00');
        }

        function onAM() {
            onClearDates();
            $('.b1min').val('08:00');
            $('.b1max').val('14:00');
        }

        function onPM() {
            onClearDates();
            $('.b1min').val('14:00');
            $('.b1max').val('21:00');
        }

        function deleteRow(id){
            $('#loading').show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("DeleteSingleDate")',
                    data: {
                        dateId: id,
                    },
                    success: function(data, success, xhr) {
                        $("#" + id).remove();
                        $('#loading').hide();
                    }
                });

        }

        function deleteAllDates() {
            $('#loading').show();

            var orgId = $("#OrganiserId option:selected").val();
            var segmentId = $("#SegmentId option:selected").val();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("DeleteAllDates")',
                    data: {
                        orgId: orgId,
                        segmentId: segmentId
                    },
                    success: function(data, success, xhr) {
                        $("#dateTable").html(data);
                        $('#loading').hide();
                    }
                });
        }

    </script>
}

