@model MyStik.TimeTable.Web.Models.CourseDateCreatenModel
           
<div class="modal fade" id="confirmDeleteDate" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Neuen Termin anlegen </h4>
            </div>
            @using (Ajax.BeginForm("CreateDateConfirmed", "Event", null,
                    new AjaxOptions()
                    {
                        HttpMethod = "Post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "dateTable",
                        OnSuccess = "hideCreateDate()"
                    }, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="modal-body">
                    <fieldset>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Date, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "Titel des Termins" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Begin, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextAreaFor(m => m.Begin, new { @class = "form-control", placeholder = "Beschreibung des Termins", rows = "9" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.End, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.End, new { @class = "form-control", placeholder = "Kurzinfo (erscheint in Kalenderansicht)" })
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default"><i class="fa fa-save text-primary"></i> SPEICHERN</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                </div>
            }
        </div>
    </div>
</div>



