@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.Web.Models.EventDetailViewModel
@{
    ViewBag.Title = "Verwaltung";
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.css")" />

}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $("#Description2").cleditor();

            $("#btnAdd").click(function () {
                var group = $("#Group option:selected").val();
                var capacity = $("#Capacity").val();

                $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("AddGroup")',
                    data: {
                        courseId: "@Model.Event.Id",
                        semGroupId: group,
                        capacity: capacity
                    },
                    success: function (data, success, xhr) {
                        $("#GroupList").html(data);
                    }
                });
            });


            $("#toggleHistoryOn").click(function () {
                $("tr[history]").show();
            });

            $("#toggleHistoryOff").click(function () {
                $("tr[history]").hide();
            });

            /*
            $("#checkAll").click(function() {
                if ($(this).is(':checked'))
                    $("#dateTable input[type='checkbox']").attr('checked', true);
                else
                    $("#dateTable input[type='checkbox']").attr('checked', false);
            });
            */


            $("#cancelAll").click(function () {
                var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                var n = list.length;

                if (n > 0) {
                    var dateList = new Array();

                    for (var i = 0; i < n; i++) {
                        dateList[i] = list[i].id;
                    }


                    $.ajax(
                    {
                        type: "POST",
                        url: '@Url.Action("CancelDateList")',
                        data: {
                            dateIds: dateList
                        },
                        success: function (data, success, xhr) {
                            $("#dateTable").html(data);
                        }
                    });
                } else {
                    alert("Es sind keine Termine zum Absagen markiert");
                }
            });


            $("#refreshAll").click(function () {
                var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                var n = list.length;

                if (n > 0) {
                    var dateList = new Array();

                    for (var i = 0; i < n; i++) {
                        dateList[i] = list[i].id;
                    }


                    $.ajax(
                    {
                        type: "POST",
                        url: '@Url.Action("ReactivateDateList")',
                        data: {
                            dateIds: dateList
                        },
                        success: function (data, success, xhr) {
                            $("#dateTable").html(data);
                        }
                    });
                } else {
                    alert("Es sind keine Termine zum Reaktivieren markiert");
                }
            });


            $("#deleteAll").click(function () {
                var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                var n = list.length;

                if (n > 0) {
                    $('#confirmDeleteAllDates').modal("show");
                } else {
                    alert("Es sind keine Termine zum Löschen markiert");
                }
            });


            $("#deleteAllConfirmed").click(function () {
                var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                var n = list.length;

                if (n > 0) {
                    var dateList = new Array();

                    for (var i = 0; i < n; i++) {
                        dateList[i] = list[i].id;
                    }


                    $.ajax(
                    {
                        type: "POST",
                        url: '@Url.Action("DeleteDateList")',
                        data: {
                            dateIds: dateList
                        },
                        success: function (data, success, xhr) {
                            $("#dateTable").html(data);
                        }
                    });


                    $('#confirmDeleteAllDates').modal("hide");
                }
            });

            $("#removeRooms").click(function () {
                var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                var n = list.length;

                if (n > 0) {
                    var dateList = new Array();

                    for (var i = 0; i < n; i++) {
                        dateList[i] = list[i].id;
                    }


                    $.ajax(
                    {
                        type: "POST",
                        url: '@Url.Action("RemoveRooms")',
                        data: {
                            dateIds: dateList
                        },
                        success: function (data, success, xhr) {
                            $("#dateTable").html(data);
                        }
                    });
                } else {
                    alert("Es sind keine Termine zum Reaktivieren markiert");
                }
            });

            $("#addRoom").click(function () {
                var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                var n = list.length;

                if (n > 0) {
                    $('#dlgAddRoom').modal("show");
                } else {
                    alert("Es sind keine Termine markiert");
                }
            });

            $("#btnAddRoom").click(function () {
                var list = $("#dateTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
                var n = list.length;

                if (n > 0) {
                    var dateList = new Array();

                    for (var i = 0; i < n; i++) {
                        dateList[i] = list[i].id;
                    }

                    var roomNo = $("#roomNumber").val();

                    $.ajax(
                    {
                        type: "POST",
                        url: '@Url.Action("AddRoomToDates")',
                        data: {
                            dateIds: dateList,
                            roomNumber: roomNo
                        },
                        success: function (data, success, xhr) {
                            $("#dateTable").html(data);
                        }
                    });


                    $('#dlgAddRoom').modal("hide");
                }
            });




        });

        function toggleDateCheck(elem) {
            // das elem ist das HTML-Element
            // aus dem mache ich ein jQuery Element
            // dann erst kann ich die DOM Eigenschaft über attr ändern
            // damit sie später auch wieder über jQuery ausgewertet werden kann
            $("#" + elem.id).attr("checked", elem.checked);
        }

        function toggleAllCheck(elem) {
            $("#checkAll").attr("checked", elem.checked);

            if ($("#checkAll").is(':checked'))
                $("#dateTable input[type='checkbox']").attr('checked', true);
            else
                $("#dateTable input[type='checkbox']").attr('checked', false);

        }

        function onSaved() {
            alert("Gespeichert");
        }


        function onCurriculumChanged() {
            var prog = $("#Curriculum option:selected").val();

            $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("GroupList", "Curriculum")',
                data: {
                    currId: prog
                },
                success: function (data, success, xhr) {
                    $('#Group').html(data);
                }
            });
        }

        function showConfirmDeleteDate() {
            $('#confirmDeleteDate').modal("show");
        }

        function hideConfirmDeleteDate() {
            $('#confirmDeleteDate').modal("hide");
        }

        function showEditDateInformation() {
            $('#confirmDeleteDate').modal("show");
        }

        function hideEditDateInformation() {
            $('#confirmDeleteDate').modal("hide");
        }



    </script>
}



<div class="panel panel-default">
    <div class="panel-body bg-fillter-events">
        <div class="row">
            <div class="col-md-12">
                <h4>@Model.Event.Name.ToUpper() (@Model.Event.ShortName.ToUpper())</h4>
                <p>
                    @foreach (var lec in Model.Lecturers)
                    {
                        @Html.Raw(lec.Name.ToUpper())
                        if (lec != Model.Lecturers.Last())
                        {
                            @Html.Raw(", ")
                        }
                    }
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <ul class="nav">
                            <li>
                                <a href="@Url.Action("Index")"><i class="fa fa-left"></i> Zurück</a>
                            </li>
                            <li>
                                <a href="@Url.Action("CreateDate", new {id = Model.Event.Id})"><i class="fa fa-left"></i> Datum hinzufügen</a>
                            </li>
                            <li>
                                <a href="@Url.Action("DeleteEvent", new {id = Model.Event.Id})"><i class="fa fa-trash-o"></i> Löschen</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Gruppen</h4>
                            <ul class="nav">
                                @foreach (var group in Model.Event.SemesterGroups)
                                {
                                    <li>@group.Semester.Name @group.FullName</li>
                                }
                            </ul>
                            <a href="@Url.Action("ChangeGroups", new {id = Model.Event.Id})">ändern</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject bold uppercase"> Allgemeine Informationen</span>
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            @using (Ajax.BeginForm("ChangeGeneralSettings", null,
                            new AjaxOptions()
                            {
                                HttpMethod = "Post",
                                OnSuccess = "onSaved"
                            }, new { @class = "form-horizontal", role = "form" }))
                            {
                                <fieldset>
                                    @Html.HiddenFor(m => m.Event.Id)
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Event.Name, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Event.Name, new { @class = "form-control", placeholder = "Name des Kurses" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Event.ShortName, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Event.ShortName, new { @class = "form-control", placeholder = "Kurzbezeichnung des Kurses" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Description2, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(m => m.Description2, new { @class = "form-control", placeholder = "Beschreibung der Veranstaltung", rows = "10" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-8">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-save text-primary"></i> SPEICHERN</button>
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        </div>
                    </div>

                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject bold uppercase"> Terminliste</span>
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            @{
                                var activityService = new ActivityService();
                            }
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Datum</th>
                                        <th>Uhrzeit</th>
                                        <th>Räume</th>
                                        <th>Dozenten</th>
                                        <th>Bemerkung</th>
                                        <th>#TN</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var date in Model.Event.Dates)
                                    {
                                        var dateState = activityService.GetStatusText(date);
                                        <tr>
                                            <td>@date.Begin.ToShortDateString()</td>
                                            <td>@Html.TimeSpan(date)</td>
                                            <td>@Html.RoomList(date.Rooms)</td>
                                            <td>@Html.LecturerList(date.Hosts)</td>
                                            <td>@dateState</td>
                                            <td>@date.Occurrence.Subscriptions.Count</td>
                                            <td>
                                                @Html.ActionButton("fa-calendar", "ändern", "MoveDate", "Event", new { id = date.Occurrence.Id }, new { @class = "btn btn-default btn-xs" })
                                                @Html.ActionButton("fa-legal", "Regeln", "SubscriptionRules", "Occurrence", new { id = date.Occurrence.Id }, new { @class = "btn btn-default btn-xs" })
                                                @Html.ActionButton("fa-trash-o", "löschen", "DeleteDate", "Event", new { id = date.Occurrence.Id }, new { @class = "btn btn-default btn-xs" })
                                                @Html.ActionButton("fa-download", "Teilnehmerliste", "SubscriptionList", "Occurrence", new { id = date.Occurrence.Id }, new { @class = "btn btn-default btn-xs" })
                                                @Html.ActionButton("fa-envelope-o", "E-Mail", "CustomOccurrenceMail", "Mailing", new { id = date.Occurrence.Id }, new { @class = "btn btn-default btn-xs" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
