@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.EventCharacteristicModel

@{
    ViewBag.Title = "Veranstaltung";
}

<h4>Lehrveranstaltung @Model.Course.Name (@Model.Course.ShortName)</h4>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Allgemeine Informationen zur Lehrveranstaltung</div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>@Model.Course.Name</td>
                        </tr>
                        <tr>
                            <td>Kurzname</td>
                            <td>@Model.Course.ShortName</td>
                        </tr>
                        <tr>
                            <td>Semestergruppe(n)</td>
                            <td>
                                @foreach (var group in Model.Course.SemesterGroups)
                                {
                                    if (group.CurriculumGroup != null)
                                    {
                                        var label = group.FullName;
                                        @Html.ActionLink(label, "Group", "Semester", new { id = group.Id }, null)
                                        if (group != Model.Course.SemesterGroups.Last())
                                        {
                                            @Html.Raw(", ")
                                        }
                                    }
                                    else
                                    {
                                        var label = "Ohne Zuordnung";
                                        <div class="text-danger"><strong>@Html.ActionLink(label, "Group", "Semester", new { id = group.Id }, null)</strong></div>
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>Beschreibung</td>
                            <td>@Model.Course.Description</td>
                        </tr>
                    </tbody>
                </table>
                <div class="well well-sm">
                    @if (ViewBag.UserRight.IsHost || ViewBag.UserRight.IsOrgAdmin)
                    {
                        @Html.ActionButton("fa-gear", "Einstellungen", "EditEvent", "Event", new { id = Model.Course.Id }, new { @class = "btn btn-default" })
                        if (!Model.Course.Occurrence.Subscriptions.Any() || User.IsInRole("SysAdmin"))
                        {
                            @Html.ActionButton("fa-trash-o text-danger", "Löschen", "DeleteEvent", "Event", new { id = Model.Course.Id }, new { @class = "btn btn-default" })
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Informationen zum nächsten Termin</div>
                <div class="panel-body">
                    @if (Model.NextDate.Summary.Date != null)
                    {
                        <table class="table table-bordered">
                            <tr>
                                <td>Datum / Uhrzeit</td>
                                <td>@Model.NextDate.Summary.Date.Begin.ToShortDateString() [@Model.NextDate.Summary.Date.Begin.TimeOfDay.ToString(@"hh\:mm") - @Model.NextDate.Summary.Date.End.TimeOfDay.ToString(@"hh\:mm")]</td>
                            </tr>
                            <tr>
                                <td>Raum</td>
                                <td>
                                    @foreach (var room in Model.NextDate.Summary.Date.Rooms)
                                    {
                                        @Html.ActionLink(room.Number, "Index", "Room", new { id = room.Id }, null)
                                        if (room != Model.NextDate.Summary.Date.Rooms.Last())
                                        {
                                            @Html.Raw(", ")
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Dozent</td>
                                <td>
                                    @foreach (var lec in Model.NextDate.Summary.Date.Hosts)
                                    {
                                        @Html.ActionLink(lec.ShortName, "Member", "Organiser", new { orgId = lec.Organiser.ShortName, shortName = lec.ShortName }, null)
                                        if (lec != Model.NextDate.Summary.Date.Hosts.Last())
                                        {
                                            @Html.Raw(", ")
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Titel</td>
                                <td>@Model.NextDate.Summary.Date.Title</td>
                            </tr>
                            <tr>
                                <td>Beschreibung</td>
                                <td>@Model.NextDate.Summary.Date.Description</td>
                            </tr>
                            <tr>
                                <td>Kurzinfo</td>
                                <td>@Model.NextDate.Summary.Date.Occurrence.Information</td>
                            </tr>
                            <tr>
                                <td>Regelungen für Eintragung</td>
                                <td>@Model.OccurrenceDescription</td>
                            </tr>
                        </table>
                        <div class="well well-sm">
                            @if (ViewBag.UserRight.IsHost || ViewBag.UserRight.IsOrgAdmin)
                            {
                                if (Model.NextDate.Summary.Date.Occurrence.IsCanceled)
                                {
                                    @Html.ActionButton("fa-refresh text-success", "reaktivieren", "ReactivateDate", Model.NextDate.Summary.Controller, new { id = Model.NextDate.Summary.Date.Occurrence.Id }, new { @class = "btn btn-default" })
                                }
                                else
                                {
                                    if (Model.NextDate.State == SubscriptionState.BeforeSubscriptionPhase ||
                                        !Model.NextDate.Summary.Subscriptions.Any())
                                    {
                                        @Html.ActionButton("fa-trash-o text - danger", "löschen", "DeleteDate", Model.NextDate.Summary.Controller, new { id = Model.NextDate.Summary.Date.Occurrence.Id }, new { @class = "btn btn-default" })
                                    }
                                    else
                                    {
                                        @Html.ActionButton("fa-times text-danger", "absagen", "CancelDate", Model.NextDate.Summary.Controller, new { id = Model.NextDate.Summary.Date.Occurrence.Id }, new { @class = "btn btn-default" })
                                    }
                                    @Html.ActionButton("fa-calendar", "ändern", "MoveDate", Model.NextDate.Summary.Controller, new { id = Model.NextDate.Summary.Date.Occurrence.Id }, new { @class = "btn btn-default" })
                                    @Html.ActionButton("fa-legal", "Regeln", "SubscriptionRules", "Occurrence", new { id = Model.NextDate.Summary.Date.Occurrence.Id }, new { @class = "btn btn-default" })
                                }
                                @Html.ActionButton("fa-users", "Teilnehmer", "Subscribers", Model.NextDate.Summary.Controller, new { id = Model.NextDate.Summary.Date.Occurrence.Id }, new { @class = "btn btn-default" })

                                @Html.ActionButton("fa-info-circle text-primary", "Infos eingeben", "SetInfo", Model.NextDate.Summary.Controller, new { id = Model.NextDate.Summary.Date.Id }, new { @class = "btn btn-default" })
                                
                            }
                            @Html.Partial("_SubscriptionState", Model.State, new ViewDataDictionary { { "Style", "Large" } })
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">Veranstaltung ist beendet.</div>
                    }
                </div>
            </div>
        </div>
    }
</div>
@if (Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">aktuelle Termine</div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Zeitraum</th>
                                <th>Raum</th>
                                <th>Dozent</th>
                                <th>Titel</th>
                                <th>Beschreibung</th>
                                <th>Kurzinfo</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var date in Model.ExpiredDates)
                            {
                                <tr>
                                    @if (date.Summary.Date.Occurrence.IsCanceled)
                                    {
                                        <td><del>@date.Summary.Date.Begin.ToShortDateString()</del></td>
                                        <td><del>@date.Summary.Date.Begin.TimeOfDay.ToString(@"hh\:mm") - @date.Summary.Date.End.TimeOfDay.ToString(@"hh\:mm")</del></td>
                                        <td colspan="4">abgesagt</td>
                                    }
                                    else
                                    {
                                        <td>@date.Summary.Date.Begin.ToShortDateString()</td>
                                        <td>@date.Summary.Date.Begin.TimeOfDay.ToString(@"hh\:mm") - @date.Summary.Date.End.TimeOfDay.ToString(@"hh\:mm")</td>
                                        <td>
                                            @foreach (var room in date.Summary.Date.Rooms)
                                            {
                                                @Html.ActionLink(room.Number, "Index", "Room", new { id = room.Id }, null)
                                                if (room != date.Summary.Date.Rooms.Last())
                                                {
                                                    @Html.Raw(", ")
                                                }
                                            }
                                        </td>
                                        <td>
                                            @foreach (var host in date.Summary.Date.Hosts)
                                            {
                                                @Html.ActionLink(host.ShortName, "Member", "Organiser", new { orgId = host.Organiser.ShortName, shortName = host.ShortName }, null)
                                                if (host != date.Summary.Date.Hosts.Last())
                                                {
                                                    @Html.Raw(", ")
                                                }
                                            }
                                        </td>
                                        <td>@date.Summary.Date.Title</td>
                                        <td>@date.Summary.Date.Description</td>
                                    }
                                    <td>
                                        @date.Summary.Date.Occurrence.Information
                                    </td>
                                    <td>
                                        @if (ViewBag.UserRight.IsOrgAdmin)
                                        {
                                            @Html.ActionButton("fa-trash-o text-danger", "löschen", "DeleteDate", date.Summary.Controller, new { id = date.Summary.Date.Occurrence.Id }, new { @class = "btn btn-default btn-xs" })
                                        }
                                        @Html.ActionButton("fa-users", "Teilnehmer", "Subscribers", date.Summary.Controller, new { id = date.Summary.Date.Occurrence.Id }, new { @class = "btn btn-default btn-xs" })
                                        @Html.ActionButton("fa-info-circle text-primary", "Infos eingeben", "SetInfo", date.Summary.Controller, new { id = date.Summary.Date.Id }, new { @class = "btn btn-default btn-xs" })
                                    </td>
                                    <td></td>
                                </tr>
                            }
                            @foreach (var date in Model.CurrentDates)
                            {
                                <tr>
                                    @if (date.Summary.Date.Occurrence.IsCanceled)
                                    {
                                        <td><del>@date.Summary.Date.Begin.ToShortDateString()</del></td>
                                        <td><del>@date.Summary.Date.Begin.TimeOfDay.ToString(@"hh\:mm") - @date.Summary.Date.End.TimeOfDay.ToString(@"hh\:mm")</del></td>
                                        <td colspan="4">abgesagt</td>
                                    }
                                    else
                                    {
                                        <td>@date.Summary.Date.Begin.ToShortDateString()</td>
                                        <td>@date.Summary.Date.Begin.TimeOfDay.ToString(@"hh\:mm") - @date.Summary.Date.End.TimeOfDay.ToString(@"hh\:mm")</td>
                                        <td>
                                            @foreach (var room in date.Summary.Date.Rooms)
                                            {
                                                @Html.ActionLink(room.Number, "Index", "Room", new { id = room.Id }, null)
                                                if (room != date.Summary.Date.Rooms.Last())
                                                {
                                                    @Html.Raw(", ")
                                                }
                                            }
                                        </td>
                                        <td>
                                            @foreach (var host in date.Summary.Date.Hosts)
                                            {
                                                @Html.ActionLink(host.ShortName, "Member", "Organiser", new { orgId = host.Organiser.ShortName, shortName = host.ShortName }, null)
                                                if (host != date.Summary.Date.Hosts.Last())
                                                {
                                                    @Html.Raw(", ")
                                                }
                                            }
                                        </td>
                                        <td>@date.Summary.Date.Title</td>
                                        <td>@date.Summary.Date.Description</td>
                                    }
                                    <td>
                                        @date.Summary.Date.Occurrence.Information
                                    </td>
                                    <td>
                                        @if (ViewBag.UserRight.IsHost || ViewBag.UserRight.IsOrgAdmin)
                                        {
                                            if (date.Summary.Date.Occurrence.IsCanceled)
                                            {
                                                @Html.ActionButton("fa-refresh text-success", "reaktivieren", "ReactivateDate", date.Summary.Controller, new { id = date.Summary.Date.Occurrence.Id }, new { @class = "btn btn-default btn-xs" })
                                            }
                                            else
                                            {
                                                if (date.State == SubscriptionState.BeforeSubscriptionPhase ||
                                                    !date.Summary.Subscriptions.Any())
                                                {
                                                    @Html.ActionButton("fa-trash-o text-danger", "löschen", "DeleteDate", date.Summary.Controller, new { id = date.Summary.Date.Occurrence.Id }, new { @class = "btn btn-default btn-xs" })
                                                }
                                                else
                                                {
                                                    if (ViewBag.UserRight.IsOrgAdmin || User.IsInRole("SysAdmin"))
                                                    {
                                                        @Html.ActionButton("fa-trash-o text-danger", "löschen", "DeleteDate", date.Summary.Controller, new { id = date.Summary.Date.Occurrence.Id }, new { @class = "btn btn-default btn-xs" })
                                                    }
                                                    @Html.ActionButton("fa-times text-danger", "absagen", "CancelDate", date.Summary.Controller, new { id = date.Summary.Date.Occurrence.Id }, new { @class = "btn btn-default btn-xs" })
                                                }
                                                @Html.ActionButton("fa-calendar", "ändern", "MoveDate", date.Summary.Controller, new { id = date.Summary.Date.Occurrence.Id }, new { @class = "btn btn-default btn-xs" })
                                                @Html.ActionButton("fa-legal", "Regeln", "SubscriptionRules", "Occurrence", new { id = date.Summary.Date.Occurrence.Id }, new { @class = "btn btn-default btn-xs" })
                                            }
                                            @Html.ActionButton("fa-users", "Teilnehmer", "Subscribers", date.Summary.Controller, new { id = date.Summary.Date.Occurrence.Id }, new { @class = "btn btn-default btn-xs" })
                                            @Html.ActionButton("fa-info-circle text-primary", "Infos eingeben", "SetInfo", date.Summary.Controller, new { id = date.Summary.Date.Id }, new { @class = "btn btn-default btn-xs" })
                                        }
                                    </td>
                                    <td>
                                        @Html.Partial("_SubscriptionState", date.OccurrenceState)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (ViewBag.UserRight.IsHost || ViewBag.UserRight.IsOrgAdmin)
                    {
                        <div class="well well-sm">
                            @Html.ActionButton("fa-plus-circle text-success", "Neuer Termin", "CreateDate", "Event", new { id = Model.Course.Id }, new { @class = "btn btn-default" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
