@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.EventDetailViewModel
@{
    ViewBag.Title = "Veranstaltungsdetails";
}


<div class="container-fluid">
    <div class="row" style="margin-top: 20px">

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h4><i class="fa fa-info-circle"></i> Allgemeine Informationen</h4></div>
                <div class="list-group">
                    <div class="list-group-item">
                        <h5 class="list-group-item-heading">
                            @Model.Event.Name
                        </h5>
                    </div>

                    <div class="list-group-item">
                        @if (string.IsNullOrEmpty(Model.Event.Description))
                        {
                            <h5 class="list-group-item-heading">
                                <i>keine Beschreibung vorhanden</i>
                            </h5>
                        }
                        else
                        {
                            <h5 class="list-group-item-heading">
                                Beschreibung
                            </h5>
                            <div class="list-group-item-text">
                                @Html.Raw(Model.Event.Description)
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h4><i class="fa fa-calendar"></i> Termine</h4></div>
                <div class="list-group">
                    @foreach (var date in Model.Event.Dates.OrderBy(x => x.Begin))
                    {
                        <div class="list-group-item">
                            <h5 class="list-group-item-heading">
                                @Html.TimeSpanWithDate(date)
                            </h5>
                            <ul class="fa-ul">
                                @if (date.Rooms.Any())
                                {
                                    <li><i class="fa fa-li fa-university"></i>@Html.RoomList(date.Rooms)</li>
                                }
                                @if (date.Hosts.Any())
                                {
                                    <li><i class="fa fa-li fa-user-md"></i>@Html.LecturerList(date.Hosts)</li>
                                }
                                @if (!string.IsNullOrEmpty(date.Title))
                                {
                                    <li><i class="fa fa-li fa-info-circle"></i>@date.Title</li>
                                }
                                @if (!string.IsNullOrEmpty(date.Description))
                                {
                                    <li><i class="fa fa-li fa-info-circle"></i>@date.Description</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>



            @if (ViewBag.UserRight.IsHost || ViewBag.UserRight.IsEventAdmin)
            {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-cogs"></i> Verwaltung</h4>
                        </div>
                        <div class="list-group">
                            <a href="@Url.Action("Admin", new {id = Model.Event.Id})" class="list-group-item list-group-item-warning">
                                <div class="list-group-item-heading">
                                    <h5><i class="fa fa-cog"></i> Verwaltungsseite</h5>
                                    <div class="list-group-item-text">
                                        Termine, Teilnehmer, Einstellungen für Teilnahmebeschränkungen
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>

