@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.OrganiserViewModel
@{
    ViewBag.Title = Resources.SubMenuCurrentEvents;
}




<div class="panel panel-default">
    <div class="panel-body bg-fillter-events">
        <div class="row">
            <div class="col-md-12">
                <h1>@Resources.SubMenuCurrentEvents @Model.Organiser.ShortName</h1>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-calendar"></i> Semester
                    </h4>
                </div>
                <div class="list-group">
                    @foreach (var sem in Model.ActiveSemesters.OrderByDescending(x => x.EndCourses))
                    {
                        <a href="@Url.Action("Semester", "Events", new {id = sem.Id})" class="list-group-item">
                            <h5 class="list-group-item-heading">@sem.Name</h5>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            @if (ViewBag.UserRight.User.MemberState == MemberState.Staff)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <i class="fa fa-cogs"></i> Verwaltung
                        </h4>
                    </div>
                    <div class="list-group">
                        <a href="@Url.Action("CreateEvent", "Event")" class="list-group-item">
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-fw fa-plus"></i> Veranstaltung anlegen
                            </h5>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>






