@model ICollection<MyStik.TimeTable.Data.Curriculum>
@{
    ViewBag.Title = "Curricula";
}


<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="row">
            <div class="col-md-12">
                <h1>Studiengänge @ViewBag.Organiser.ShortName</h1>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.UserRight.IsCurriculumAdmin)
{
    <div class="panel panel-default panel-menu">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <div class="form-group">
                                <a href="@Url.Action("Create", "Curricula", new {id = ViewBag.Organiser.Id})" class="btn btn-default">
                                    <i class="fa fa-plus-circle"></i> Studiengang anlegen
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="list-group">
                @foreach (var curriculum in Model)
                {
                    <a href="@Url.Action("Structure", "Curriculum", new {id = curriculum.Id})" class="list-group-item">
                        <h4 class="list-group-item-heading">@curriculum.Name (@curriculum.ShortName)</h4>
                        <p class="list-group-item-text">
                            <ul class="fa-ul">
                                <li><i class="fa fa-users fa-li"></i>Studiengruppen: @curriculum.CurriculumGroups.Count</li>
                            </ul>
                        </p>
                    </a>
                }

            </div>
        </div>
    </div>
</div>


