@model MyStik.TimeTable.Web.Models.MemberUserViewModel
@{
    ViewBag.Title = "Person ändern";
}

@section styles
{
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Lehrender @Model.Name (@Model.ShortName)</h4>
                <h5>Angaben zur Identifizierung innerhalb von @ViewBag.Member.Organiser.ShortName</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("EditMember", "Organiser", FormMethod.Post, new { role = "form" }
                    ))
                {
                    @Html.AntiForgeryToken()
                    if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary(true)
                        </div>
                    }
                    <div>
                        @Html.HiddenFor(item => item.MemberId)
                    </div>

                    if (Model.User != null && ViewBag.Members != null && ViewBag.Members.Count > 1)
                    {
                        <div class="mb-3">
                            Daten aus Benutzerkonto: @Model.User.FullName
                            @Html.HiddenFor(item => item.Name)
                            @Html.HiddenFor(item => item.FirstName)
                            @Html.HiddenFor(item => item.Title)
                        </div>
                    }
                    else
                    {
                        <div class="row mb-3">
                            <div class="col-md-2">
                                <div class="form-floating mb-3">
                                    @Html.LabelFor(item => item.Name, new { @class = "form-label" })
                                    @Html.TextBoxFor(item => item.Name, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    @Html.LabelFor(item => item.FirstName, new { @class = "form-label" })
                                    @Html.TextBoxFor(item => item.FirstName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    @Html.LabelFor(item => item.Title, new { @class = "form-label" })
                                    @Html.TextBoxFor(item => item.Title, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    }
                    <div class="mb-3">
                        @Html.LabelFor(item => item.ShortName, new { @class = "form-label" })
                        @Html.TextBoxFor(item => item.ShortName, new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(item => item.UserName, new { @class = "form-label" })
                        @Html.TextBoxFor(item => item.UserName, new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(item => item.Role, new { @class = "form-label" })
                        @Html.TextBoxFor(item => item.Role, new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(item => item.UrlProfile, new { @class = "form-label" })
                        @Html.TextBoxFor(item => item.UrlProfile, new { @class = "form-control" })
                    </div>
                    <div class="mb-3 form-check">
                        @Html.CheckBoxFor(item => item.IsAssociated, new { @class = "form-check-input" })
                        @Html.LabelFor(item => item.IsAssociated, new { @class = "form-check-label" })
                    </div>

                    <input type="submit" value="Speichern" class="btn btn-primary" />
                }
            </div>
        </div>
    </div>
</div>






        @section scripts
{
            <script>
            $(function () {
                $('#UserName').autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("UserList")',
                            type: 'POST',
                            //dataType: "json",

                            data: {
                                token: request.term
                            },

                            success: function (data, success, xhr) {
                                response($.map(data, function (item) {

                                    return {
                                        label: item.userName + ' (' + item.firstName + ' ' + item.lastName + ')',
                                        value: item.userName
                                    };
                                }));

                            },

                            error: function (data) { alert(data); },
                        });

                    },
                    select: function (event, ui) { }
                });
            });
            </script>
        }
