@model MyStik.TimeTable.Web.Models.MemberUserViewModel
@{
    ViewBag.Title = "Person ändern";
}

@section styles
{
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/Jquery-ui/jquery-ui.min.css")" />
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Person ändern</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-university"></i> Angaben zur Person und Rollen
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div class="portlet-body">


                    @using (Html.BeginForm("EditMember", "Organiser", FormMethod.Post, new {@class = "form-horizontal", role = "form"}
                        ))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.HiddenFor(item => item.MemberId)
                        </div>
                        if (User.IsInRole("SysAdmin"))
                        {
                            <div class="form-group">
                                @Html.LabelFor(item => item.ShortName, new {@class = "col-md-4 control-label"})
                                <div class="col-md-8">
                                    @Html.TextBoxFor(item => item.ShortName, new {@class = "form-control"})
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            @Html.LabelFor(item => item.UserName, new {@class = "col-md-4 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(item => item.UserName, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(item => item.Role, new {@class = "col-md-4 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(item => item.Role, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(item => item.Name, new {@class = "col-md-4 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(item => item.Name, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(item => item.Description, new {@class = "col-md-4 control-label"})
                            <div class="col-md-8">
                                @Html.TextAreaFor(item => item.Description, new {@class = "form-control", rows = 10})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(item => item.UrlProfile, new {@class = "col-md-4 control-label"})
                            <div class="col-md-8">
                                @Html.TextBoxFor(item => item.UrlProfile, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                @Html.CheckBoxFor(item => item.IsAssociated)
                                @Html.LabelFor(item => item.IsAssociated, new {@class = "control-label"})
                            </div>
                        </div>

                    @*
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            @Html.CheckBoxFor(item => item.IsMemberAdmin)
            @Html.LabelFor(item => item.IsMemberAdmin, new {@class = "control-label"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            @Html.CheckBoxFor(item => item.IsRoomAdmin)
            @Html.LabelFor(item => item.IsRoomAdmin, new {@class = "control-label"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            @Html.CheckBoxFor(item => item.IsSemesterAdmin)
            @Html.LabelFor(item => item.IsSemesterAdmin, new {@class = "control-label"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            @Html.CheckBoxFor(item => item.IsCurriculumAdmin)
            @Html.LabelFor(item => item.IsCurriculumAdmin, new {@class = "control-label"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            @Html.CheckBoxFor(item => item.IsCourseAdmin)
            @Html.LabelFor(item => item.IsCourseAdmin, new {@class = "control-label"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            @Html.CheckBoxFor(item => item.IsStudentAdmin)
            @Html.LabelFor(item => item.IsStudentAdmin, new {@class = "control-label"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            @Html.CheckBoxFor(item => item.IsAlumniAdmin)
            @Html.LabelFor(item => item.IsAlumniAdmin, new {@class = "control-label"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            @Html.CheckBoxFor(item => item.IsEventAdmin)
            @Html.LabelFor(item => item.IsEventAdmin, new {@class = "control-label"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            @Html.CheckBoxFor(item => item.IsNewsAdmin)
            @Html.LabelFor(item => item.IsNewsAdmin, new {@class = "control-label"})
        </div>
    </div>
                    *@
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <input type="submit" value="Speichern" class="btn btn-primary"/>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts
{
        <script>
            $(function () {
                $('#UserName').autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '@Url.Action("UserList")',
                            type: 'POST',
                            //dataType: "json",

                            data: {
                                token: request.term
                            },

                            success: function (data, success, xhr) {
                                response($.map(data, function (item) {

                                    return {
                                        label: item.userName + ' (' + item.firstName + ' ' + item.lastName + ')',
                                        value: item.userName
                                    };
                                }));

                            },

                            error: function (data) { alert(data); },
                        });

                    },
                    select: function (event, ui) { }
                });
            });
        </script>
    }
