@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.LecturerCharacteristicModel
@{
    ViewBag.Title = "Index";
}

@section styles
{
    <link href="~/Assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
}


<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Lecturer.Name (@Model.Lecturer.ShortName) - @Model.Lecturer.Organiser.ShortName</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-calendar"></i>Sprechstunde (@ViewBag.Semester.Name)
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div class="portlet-body">
                    @if (Model.OfficeHour != null)
                    {
                        if (Model.OfficeHour.Dates.Any())
                        {
                            <a href="@Url.Action("Lecturer", "OfficeHour", new {id = Model.Lecturer.Id})" class="btn btn-default">Zur Terminliste</a>
                        }
                        else
                        {
                            <h2>Terminvereinbarung per E-Mail</h2>
                        }
                    }
                    else
                    {
                        <h2>Bietet keine Sprechstundentermine an</h2>
                    }
                </div>
            </div>
        </div>
    </div>


@if (ViewBag.UserRight.User.MemberState == MemberState.Staff)
{

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-calendar"></i>Aktuelle Lehrveranstaltungen (@ViewBag.Semester.Name)
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div class="portlet-body">
                        @Html.Partial("_CourseListSummary", Model.Courses)
                </div>
            </div>
        </div>
    </div>
}
else
{
    var sem = ViewBag.Semester as Semester;
    if (sem.Groups.Any(x => x.IsAvailable && x.CapacityGroup.CurriculumGroup.Curriculum.Organiser.Id == Model.Lecturer.Organiser.Id))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-calendar"></i>Aktuelle Lehrveranstaltungen (@ViewBag.Semester.Name)
                        </div>
                        <div class="actions">
                        </div>
                    </div>
                    <div class="portlet-body">
                        @Html.Partial("_CourseListSummary", Model.Courses)
                    </div>
                </div>
            </div>
        </div>
    }
}

    @if (ViewBag.UserRight.User.MemberState == MemberState.Staff)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-calendar"></i> Stundenplan
                            <span id="loading"><i class="fa fa-spinner fa-spin text-muted"></i></span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="calendar" class="has-toolbar">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

@section scripts
{
    <script src="~/Assets/global/plugins/moment.min.js"></script>
    <script src="~/Assets/global/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src='~/Assets/global/plugins/fullcalendar/lang/de.js'></script>
    <script src="~/Assets/fillter/scripts/calendar.js"></script>

    <script type="text/javascript">

            $(document).ready(function () {
                $('#loading').hide();

                initCalendar(false);

                $('#calendar').fullCalendar('removeEvents');

                $('#calendar').fullCalendar('addEventSource',
                {
                    url: '@Url.Action("CourseEventsByLecturer", "Calendar")',
                    type: 'POST',
                    data: {
                        dozId: "@Model.Lecturer.Id",
                        showPersonalDates: true
                    }
                });
            });

    </script>
}
