@using MyStik.TimeTable.Web.Services
@model ICollection<MyStik.TimeTable.Web.Models.NewsletterViewModel>

@{
    ViewBag.Title = "Newsletter";
}

<h4>Newsletter</h4>
<div class="row">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Veranstalter</th>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Abonnenten</th>
                <th></th>
                @if (ViewBag.UserRight.IsOrgMember)
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var ev in @Model)
            {
                <tr>
                    <td>@ev.Newsletter.Organiser.Name (@ev.Newsletter.Organiser.ShortName)</td>
                    <td>@ev.Newsletter.Name</td>
                    <td>@ev.Newsletter.Description</td>
                    <td>@ev.Newsletter.Occurrence.Subscriptions.Count</td>
                    <td>
                        @Html.Partial("_SubscriptionState", ev.State)
                    </td>
                    @if (ViewBag.UserRight.IsOrgMember)
                    {
                        <td>
                            @if (ev.IsMember)
                            {
                                <a href="@Url.Action("SendNews", "Newsletter", new { id = ev.Newsletter.Id})" class="btn btn-default btn-xs"><i class="fa fa-envelope-o"></i> News senden</a>
                            }
                            @if (ev.IsAdmin)
                            {
                                <a href="@Url.Action("Edit", "Newsletter", new { id = ev.Newsletter.Id})" class="btn btn-default btn-xs"><i class="fa fa-gear"></i> Einstellungen</a>
                                if (User.IsInRole("SysAdmin"))
                                {
                                    <a href="@Url.Action("Members", "Newsletter", new { id = ev.Newsletter.Id})" class="btn btn-default btn-xs"><i class="fa fa-group"></i> Teilnehmer</a>
                                    <a href="@Url.Action("Test", "Newsletter", new {id = ev.Newsletter.Id})" class="btn btn-default btn-xs"><i class="fa fa-users"></i>> Empfänger einfügen</a>
                                }
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    @if (ViewBag.UserRight.IsOrgAdmin)
    {
        var orgName = new MemberService().GetOrganisation(User.Identity.Name);
        <div class="well well-sm">
            <a href="@Url.Action("Create", "Newsletter", new { id = orgName })" class="btn btn-default"><i class="fa fa-plus fa-2x text-success"></i> Neuen Newsletter anlegen</a>
        </div>
    }


</div>