@using MyStik.TimeTable.Web.Helpers
@model ICollection<MyStik.TimeTable.Data.Room>
@{
    ViewBag.Title = "Rooms";
}


<div class="panel panel-default">
    <div class="panel-body bg-fillter-rooms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Raumverwaltung @ViewBag.Organiser.ShortName</h1>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-list"></i> Anzeigen, Übersichten
                    </h4>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("RoomList", "Organiser")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-university"></i> Raumliste
                        </h5>
                        <p class="list-group-item-text">
                            Alle verfügbaren Räume, Ausstattung, Belegungsregeln, etc.
                        </p>
                    </a>
                    <a href="@Url.Action("DailyRota", "Activity")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-clock-o"></i> Tagesplan als Liste
                        </h5>
                        <p class="list-group-item-text">
                            Liste aller Räume mit Belegungen an einem Tag
                        </p>
                    </a>
                    <a href="@Url.Action("AdminPlan", "Activity")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-calendar"></i> Tagesplan als Kalenderansicht
                        </h5>
                        <p class="list-group-item-text">
                            Anzeige aller Termine an einem Tag
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-gamepad"></i> Prozesse
                    </h4>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("LookupDate", "Room")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-clock-o"></i> Suche nach freien Räumen
                        </h5>
                        <p class="list-group-item-text">
                            Suche für einzelnen Tag, Einbeziehung von Wochentagen
                        </p>
                    </a>
                    <a href="@Url.Action("Labels", "Room")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-file-o"></i> Türschilder
                        </h5>
                        <p class="list-group-item-text">
                            Generierung von Türschildern
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            @if (ViewBag.UserRight.IsRoomAdmin)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <i class="fa fa-cogs"></i> Verwaltung
                        </h4>
                    </div>
                    <div class="list-group">
                        <a href="@Url.Action("Create", "Room")" class="list-group-item">
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-fw fa-plus"></i> Raum anlegen
                            </h5>
                            <p class="list-group-item-text">
                                Neuen Raum anlegen
                            </p>
                        </a>
                        @*
        <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">
                <i class="fa fa-fw fa-refresh"></i> Übertragen
            </h5>
            <p class="list-group-item-text">
                Verlegung von Terminen in einem Zeitraum
            </p>
        </a>
                        *@
                    </div>
                </div>
            }
        </div>

    </div>
</div>

