@using MyStik.TimeTable.Data
@using RazorEngine.Text
@model MyStik.TimeTable.Web.Models.LotteryDrawingStudentEmail

Content-Type: text/html; charset=utf-8

<!DOCTYPE html>
<html>
<head>
    <meta content="de" http-equiv="Content-Language">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title></title>
    <style type="text/css">
        .mail-warning-style {
            font-family: Arial, Helvetica, sans-serif;
            color: #0000FF;
        }

        .mail-text-style {
            font-family: Arial, Helvetica, sans-serif;
        }

        .mail-stationary-style {
            font-family: Arial, Helvetica, sans-serif;
            font-size: xx-small;
        }
    </style>
</head>
<body>
    <div class="mail-text-style">

        <p>Sehr geehrte(r) @Model.User.FullName,</p>

        <p>anbei das Ergebnis des Durchgangs im Wahlverfahren "@Model.Game.Lottery.Name" vom @Model.Drawing.Start.ToShortDateString().</p>
        <p>Ihre Einstellungen:</p>
        <ul>
            <li>Datum der letzten Änderung: @Model.Game.LastChange.ToShortDateString()</li>
            <li>Anazhl der gewünschten Lehrveranstaltungen: @Model.Game.CoursesWanted</li>
            @if (Model.Game.AcceptDefault)
            {
                <li>Zuteilung anderer Lehrveranstaltungen wird akzeptiert.</li>
            }
            else
            {
                <li>Zuteilung anderer Lehrveranstaltungen wird <strong>nicht</strong> akzeptiert.</li>
            }
        </ul>
        @if (Model.Game.Seats.Any())
        {
            <p>Bisher bereits erhaltene Plätze, z.B. durch frühere Durchgänge oder manuelles Eingreifen von Lehrenden:</p>
            <ul>
                @foreach (var lot in Model.Game.Seats)
                {
                    <li>@lot.Course.Name (@lot.Course.ShortName)</li>
                }
            </ul>

        }

        @if (Model.Game.Lots.Any())
        {
            var nReceived = Model.Game.Lots.Count(x => !x.Subscription.OnWaitingList && x.Priority > 0);

            if (nReceived > 0)
            {
                <p>Im aktuellen Durchlauf haben Sie Plätze in folgenden Lehrveranstaltungen Ihrer Wahl erhalten:</p>
                <ul>
                    @foreach (var lot in Model.Game.Lots.Where(x => !x.Subscription.OnWaitingList && x.Priority > 0).OrderBy(x => x.Priority))
                    {
                        <li>Priorität @lot.Priority: @lot.Course.Name (@lot.Course.ShortName)</li>
                    }
                </ul>
            }

            if (Model.Game.AcceptDefault)
            {
                var nExtra = Model.Game.Lots.Count(x => !x.Subscription.OnWaitingList && x.Priority == 0);
                if (nExtra > 0)
                {
                    <p>Sie haben angegeben, Plätze in anderen Lehrveranstaltungen zu akzeptieren. Folgende Plätze konnten Ihnen zugeteilt werden:</p>
                    <ul>
                        @foreach (var lot in Model.Game.Lots.Where(x => !x.Subscription.OnWaitingList && x.Priority == 0))
                        {
                            <li>@lot.Course.Name (@lot.Course.ShortName)</li>
                        }
                    </ul>
                }
            }
        }
        

        
        @{
            var nTotalReceived = Model.Game.Lots.Count(x => !x.Subscription.OnWaitingList) + Model.Game.Seats.Count;

            <h4>Sie haben in @nTotalReceived von @Model.Game.CoursesWanted Lehrveranstaltungen einen Platz erhalten.</h4>

            if (Model.Game.Lots.Count(x => !x.Subscription.OnWaitingList) + Model.Game.Seats.Count < Model.Game.CoursesWanted)
            {
                <p>Sie haben damit insgesamt weniger Plätze erhalten, als gewünscht.</p>

                if (Model.Game.AcceptDefault)
                {
                    var nExtra = Model.Game.Lots.Count(x => !x.Subscription.OnWaitingList && x.Priority == 0);
                    if (nExtra == 0)
                    {
                        if (!string.IsNullOrEmpty(Model.Game.Message))
                        {
                            <p>Bemerkung: @Model.Game.Message</p>
                        }
                    }
                }
                else
                {
                    <p>Sie haben angegeben, keine Plätze in anderen Lehrveranstaltungen zu akzeptieren.</p>
                }

            }
        }





        <h5>Hinweise:</h5>
        <ul>
            <li>Das Wahlverfahren ist keine bzw. ersetzt keine Prüfungsanmeldung.</li>
            <li>Lehrende können jederzeit in die Platzvergabe eingreifen (z.B. "Voreinschreibung"). Bei Unstimmigkeiten bitte direkt an die jeweiligen Lehrenden wenden.</li>
        </ul>

        <p>Mit freundlichen Grüßen</p>
        <p>nine Team</p>

        <hr />
    </div>
    <div class="mail-stationary-style">Dies ist eine automatisch generierte E-Mail.</div>
    <div class="mail-stationary-style">
        Missbrauch melden: Sollten Sie diese E-Mail fälschlicherweise erhalten haben, melden Sie dies bitte an den <a href="mailto:itsupport@wi.hm.edu">technischen Support</a> von nine.
    </div>
</body>
</html>
