@using MyStik.TimeTable.Data
@using RazorEngine.Text
@model MyStik.TimeTable.Web.Models.LotteryDrawingReportEmail

Content-Type: text/html; charset=utf-8

<!DOCTYPE html>
<html>
<head>
    <meta content="de" http-equiv="Content-Language">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title></title>
    <style type="text/css">
        .mail-warning-style {
            font-family: Arial, Helvetica, sans-serif;
            color: #0000FF;
        }

        .mail-text-style {
            font-family: Arial, Helvetica, sans-serif;
        }

        .mail-stationary-style {
            font-family: Arial, Helvetica, sans-serif;
            font-size: xx-small;
        }
    </style>
</head>
<body>
    <div class="mail-text-style">

        <p>Sehr geehrte(r) @Model.User.FullName,</p>
        
        <p>in der ersten Ziehung der Platzverlosung "@Model.Drawing.Lottery.Name" um @Model.Drawing.Start haben Sie folgende Plätze erhalten:</p>
        
        <ul>
        @foreach (var course in Model.Courses.OrderBy(x => x.Rank))
        {
            <li>@course.Course.Name (@course.Course.ShortName) @course.State</li>
        }
        </ul>
        
        <p>Die weiteren Verlosungstermine finden bis zum @Model.Drawing.Lottery.LastDrawing.Date.ToShortDateString() jeweils täglich um @Model.Drawing.Lottery.DrawingTime statt.</p>
        @if (Model.Drawing.Lottery.IsActive)
        {
            <p>Sie können jederzeit Eintragungen und Punktevergaben ändern. Bitte beachten Sie: sollten Sie eine zugelosten Platz zurückgeben, so geht Eintrag automatisch an das Ende der Warteliste. Dies verringert Ihre Chancen in dieser Lehrveranstaltung wieder einen Platz zu erhalten.</p>
        }
        else
        {
            <p>Sie können jederzeit Eintragungen ändern.</p>
        }


        <p>Bis zur letzten Verlosung erhalten Sie nur noch dann eine E-Mail, wenn Sie eine Reservierung erhalten haben.</p>

        <p>Mit freundlichen Grüßen</p>
        <p>nine Team</p>

        <hr />
    </div>
    <div class="mail-stationary-style">Dies ist eine automatisch generierte E-Mail.</div>
    <div class="mail-stationary-style">
        Missbrauch melden: Sollten Sie diese E-Mail fälschlicherweise erhalten haben, melden Sie dies bitte an den <a href="mailto:itsupport@wi.hm.edu">technischen Support</a> von nine.
    </div>
</body>
</html>
