@using RazorEngine.Text
@model MyStik.TimeTable.Web.Models.ThesisIssueSummaryEmail

Content-Type: text/html; charset=utf-8

<!DOCTYPE html>
<html>
<head>
    <meta content="de" http-equiv="Content-Language">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title></title>
    <style type="text/css">
        .mail-warning-style {
            font-family: Arial, Helvetica, sans-serif;
            color: #0000FF;
        }

        .mail-text-style {
            font-family: Arial, Helvetica, sans-serif;
        }

        .mail-stationary-style {
            font-family: Arial, Helvetica, sans-serif;
            font-size: xx-small;
        }
    </style>
</head>
<body>
<div class="mail-text-style">
    
    <p>Liste aller Arbeiten, deren geplanter Zeitraum begonnen hat, aber noch keine Anmeldung vorliegt.</p>
    
    <table>
        <thead>
        <tr>
            <th>SG</th>
            <th>Beginn</th>
            <th>Anmeldung</th>
            <th>Abgabe</th>
            <th>Verlängerung</th>
            <th>Betreuer</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var t in Model.Theses)
            {
                <tr>
                    <td>@t.Student.Curriculum.ShortName</td>
                    <td>@t.PlannedBegin</td>
                    <td>@t.IssueDate</td>
                    <td>@t.DeliveryDate</td>
                    <td>@t.RenewalDate</td>
                    @if (t.Supervisors.Any())
                    {
                        <td>
                            @foreach (var s in t.Supervisors)
                            {
                                <div>@s.Member.FullName</div>
                            }
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }

        </tbody>
    </table>
    
    <hr/>
</div>
<div class="mail-stationary-style">Dies ist eine systemseitig erstellte E-Mail. Bitte antworten Sie nicht auf diese Nachricht.</div>
<div class="mail-stationary-style">Missbrauch melden: Sollten Sie diese E-Mail fälschlicherweise erhalten haben, melden Sie dies bitte an den <a href="mailto:support-nine@hm.edu ">NINE Support</a>.</div>
</body>
</html>


