@using MyStik.TimeTable.Data
@model ICollection<MyStik.TimeTable.Data.ItemLabel>
@{
    ViewBag.Title = "AllLabels";

    var db = new TimeTableDbContext();

    var capGroups = db.CapacityGroups.Where(x =>
        x.CurriculumGroup.Curriculum.ShortName.Equals("DE") &&
        x.CurriculumGroup.Name.Equals("DE1") &&
        string.IsNullOrEmpty(x.Name)
        ).ToList();


}

<div class="row">
    <div class="col-12">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Campus", "University")">HM</a></li>
            </ol>
        </nav>
    </div>
</div>


<h1>ACHTUNG: reine technische Sicht ohne Funktionen - dient der Fehlersuche</h1>
<h2>Gruppen</h2>
<ul>
    @foreach (var group in capGroups)
    {
        <li>@group.Name</li>
    }
</ul>


<h2>AllLabels</h2>

<ul>
    @foreach (var label in Model)
    {
        <li>@label.Name (@label.LabelSets.Count())</li>
    }
</ul>


