@model MyStik.Gym.Data.Question

@{
    ViewBag.Title = "Details";
}


<div class="row">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Frage</h4>
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <label for="title" class="col-sm-4 col-form-label">Titel (interne Bezeichnung)</label>
                <input id="title" type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" readonly="" value="@Model.Title">
                <button class="btn btn-outline-primary" type="button" id="btn_title" data-bs-toggle="modal" data-bs-target="#titleModal"><i class="bi-pencil"></i> Ändern</button>
            </div>
        </div>
    </div>
</div>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    <ul>
        @foreach (var answer in Model.Answers)
        {
            if (answer.IsCorrect)
            {
                <li class="text-success">@answer.Solution</li>
            }
            else
            {
                <li class="text-danger">@answer.Solution</li>
            }
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
