@model MyStik.Gym.Data.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    <ul>
        @foreach (var answer in Model.Answers)
        {
            if (answer.IsCorrect)
            {
                <li class="text-success">@answer.Solution</li>
            }
            else
            {
                <li class="text-danger">@answer.Solution</li>
            }
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
