@model MyStik.TimeTable.Data.ActivityOrganiser

@{
    ViewBag.Title = Resources.JobsString;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-events">
        <div class="row">
            <div class="col-md-12">
                <h1>@Resources.JobsString</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h4>@Resources.JobsPanelHeading</h4>
                </div>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>@Resources.Description</th>
                        <th>@Resources.Description2</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a href="https://fk09-hm.jobonaut.de/" target="_blank">@Resources.HMJobonautDescription</a>
                        </td>
                        <td>
                           @Resources.HMJobonautDescription2
                        </td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("Index", "Newsletter")">@Resources.JobsNewsletterFK09Description</a></td>
                        <td>@Resources.JobsNewsletterFK09Description2</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



