@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.StudentSummaryModel
@{
    ViewBag.Title = "Mein Studium";
}

@section menue2nd
{
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #595f64;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSubMNenu" aria-controls="navbarSubMNenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSubMNenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-center" href="@Url.Action("PersonalPlan", "Activity")"><i class="fas fa-calendar-alt fa-fw"></i><br />Kalender</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="@Url.Action("PersonalPlanWeekly", "Activity", new {id=Model.Semester.Id})"><i class="fas fa-calendar-week fa-fw"></i><br />Wochenplan</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="@Url.Action("Index", "Thesis")"><i class="fas fa-graduation-cap fa-fw"></i><br />Abschlussarbeit</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="@Url.Action("Index", "Dictionary")"><i class="fas fa-pen fa-fw"></i><br />Vorlesungsverzeichnis</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="@Url.Action("Index", "Lottery", new {id=Model.Semester.Id})"><i class="fas fa-random fa-fw"></i><br />Wahlverfahren</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="@Url.Action("Subscriptions", "OfficeHour")"><i class="fas fa-user-md fa-fw"></i><br />Sprechstunden</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="@Url.Action("Curricula", "Subscription")"><i class="fas fa-book fa-fw"></i><br />Studienbuch</a>
                </li>
            </ul>
        </div>
    </nav>
}



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    @if (Model.PrevSemester != null)
                    {
                        <a href="@Url.Action("Index", new {id=Model.PrevSemester.Id})" class="btn btn-outline-secondary btn-sm"><small><< @Model.PrevSemester.Name</small></a>
                    }
                    Übersicht für @Model.Semester.Name
                    @if (Model.NextSemester != null)
                    {
                        <a href="@Url.Action("Index", new {id=Model.NextSemester.Id})" class="btn btn-outline-secondary btn-sm"><small>@Model.NextSemester.Name >></small></a>
                    }
                </h4>
            </div>
            <div class="list-group">
                <div class="list-group-item  list-group-item-secondary">Meine Eintragungen in Lehrveranstaltungen</div>
                @foreach (var course in Model.Courses)
                {
                    <div class="list-group-item d-flex justify-content-between align-items-center">
                        @course.Course.ShortName: @course.Course.Name (@Html.GroupList(course.Course.SemesterGroups, showAvailability: false, showLink: false))
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="@Url.Action("Details", "Course", new {id = course.Course.Id})" class="btn btn-outline-secondary btn-sm" title="Termine">
                                @if (course.CurrentDate != null)
                                {
                                    <i class="fas fa-calendar-day"></i>
                                    <span class="badge badge-danger">@Html.TimeSpanWithDate(course.CurrentDate)</span>
                                }
                                else
                                {
                                    <i class="fas fa-calendar-check"></i>
                                    <span class="badge badge-default"><i class="fas fa-check text-success"></i> keine weiteren Termine</span>
                                }
                            </a>
                            <a href="@Url.Action("Details", "Course", new {id = course.Course.Id})" class="btn btn-outline-secondary btn-sm" title="Teilnehmende">
                                <i class="fas fa-pen"></i>
                                    @if (course.Subscription != null)
                                    {
                                        if (course.Subscription.OnWaitingList)
                                        {
                                            <span class="badge badge-default">

                                                <i class="fas fa-user-clock text-danger"></i> Status: Warteliste
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-default">
                                                <i class="fas fa-user-check text-success"></i> Status: Teilnehmer:in
                                            </span>
                                        }
                                    }
                            </a>

                            <a href="@Url.Action("Details", "Course", new {id = course.Course.Id})" class="btn btn-outline-secondary btn-sm" title="Informationen">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </div>
                    </div>
                }
                <div class="list-group-item  list-group-item-secondary">Meine Lehrenden in diesem Semester</div>
                
                @foreach (var lecturer in Model.Lecturers)
                {
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    @lecturer.Lecturer.FullName
                    @if (lecturer.Courses.Any())
                    {
                        @Html.Raw("(");
                        foreach (var c in lecturer.Courses)
                        {
                            @Html.Raw(c.Course.ShortName);
                            if (c != lecturer.Courses.Last())
                            {
                                @Html.Raw(", ");
                            }
                        }
                        @Html.Raw(")")
                    }

                    <div class="btn-group" role="group" aria-label="Basic example">
                        @if (lecturer.OfficeHours.Any())
                        {
                            <a href="@Url.Action("Subscriptions", "OfficeHour")" class="btn btn-outline-secondary btn-sm" title="Sprechstundentermine">
                                <i class="fas fa-user-md"></i>
                            </a>
                        }
                        <a href="@Url.Action("Member", "Organiser", new {id = lecturer.Lecturer.Id})" class="btn btn-outline-secondary btn-sm" title="Informationen">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </div>
                </div>

                }
            </div>
        </div>
    </div>
</div>
