@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@model TeachingOverviewModel
@{
    ViewBag.Title = "Meine Lehre";
}


@section menue2nd
{
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #595f64;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSubMNenu" aria-controls="navbarSubMNenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSubMNenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-center" href="@Url.Action("PersonalPlan", "Activity")"><i class="fas fa-calendar-alt fa-fw"></i><br />Kalender</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="@Url.Action("PersonalPlanWeekly", "Activity", new {id=Model.CurrentSemester.Semester.Id})"><i class="fas fa-calendar-week fa-fw"></i><br />Wochenplan</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="@Url.Action("Index", "Messaging")"><i class="fas fa-envelope fa-fw"></i><br />Mailverteiler</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="@Url.Action("OfficeHour", "Lecturer")"><i class="fas fa-user-md fa-fw"></i><br />Sprechstunden</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="@Url.Action("Courses", "Lecturer")"><i class="fas fa-microphone fa-fw"></i><br />Lehrveranstaltungen</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="@Url.Action("Index", "CurriculumModule")"><i class="fas fa-cube fa-fw"></i><br />Module</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="@Url.Action("Index", "VirtualRoom")"><i class="fas fa-tv fa-fw"></i><br />virtuelle Räume</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-center" href="@Url.Action("Index", "Advertisements")"><i class="fas fa-file-upload fa-fw"></i><br />virtueller Schaukasten</a>
                </li>
            </ul>
        </div>
    </nav>
}



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    @if (Model.PrevSemester != null)
                    {
                        <a href="@Url.Action("Index", new {id=Model.PrevSemester.Id})" class="btn btn-outline-primary btn-sm"><small><< @Model.PrevSemester.Name</small></a>
                    }
                    Übersicht für @Model.CurrentSemester.Semester.Name
                    @if (Model.NextSemester != null)
                    {
                        <a href="@Url.Action("Index", new {id=Model.NextSemester.Id})" class="btn btn-outline-primary btn-sm"><small>@Model.NextSemester.Name >></small></a>
                    }
                </h4>
            </div>
            <div class="list-group">
                @foreach (var course in Model.CurrentSemester.Courses)
                {

                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">
                                <a href="@Url.Action("Details", "Course", new {id = course.Course.Id})">
                                    @course.Course.Name (@course.Course.ShortName)
                                </a>
                            </h6>
                            @if (course.CurrentDate != null)
                            {
                                <small>
                                    Nächster Termin:

                                    <a href="@Url.Action("AdminNewDates", "Course", new {id = course.Course.Id})">@Html.TimeSpanWithDate(course.CurrentDate) (@Html.RoomList(course.CurrentDate.Rooms), @Html.RoomList(course.VirtualRooms))</a>
                                    @*<span class="badge badge-danger">Konflikt</span>*@

                                </small>
                            }
                            else
                            {
                                <small>Keine weiteren Termine mehr</small>
                            }
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <ul class="fa-ul">
                                    <li>
                                        <span class="fa-li"><i class="fas fa-pen"></i></span>@Html.GroupList(course.Course.SemesterGroups)
                                    </li>
                                    @{
                                        var nWaiting = course.Course.Occurrence.Subscriptions.Count(x => x.OnWaitingList);
                                        var nCount = course.Course.Occurrence.Subscriptions.Count;
                                        var nPart = nCount - nWaiting;
                                    }

                                    @if (nWaiting > 0)
                                    {
                                        <li>
                                            <span class="fa-li"><i class="fas fa-users"></i></span>
                                            <a href="@Url.Action("AdminNewParticipients", "Course", new {id = course.Course.Id})">@nPart TeilnehmerInnen</a> (@nWaiting auf Warteliste)
                                        </li>

                                    }
                                    else
                                    {
                                        <li>
                                            <span class="fa-li"><i class="fas fa-users"></i></span><a href="@Url.Action("AdminNewParticipients", "Course", new {id = course.Course.Id})">@nPart TeilnehmerInnen</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="col-4">
                                <div class="btn-group-vertical float-right" role="group" aria-label="Basic example">
                                    <a href="@Url.Action("CustomOccurrenceMail", "Mailing", new {id = course.Course.Occurrence.Id})" class="btn btn-outline-secondary btn-sm"><i class="fas fa-envelope"></i> Mail senden</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @foreach (var oh in Model.CurrentSemester.OfficeHours)
                {
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">
                                <a href="@Url.Action("OfficeHour", "Lecturer", new {id = oh.OfficeHour.Id})">Sprechstunde: "@oh.OfficeHour.Name"</a>
                            </h6>
                            @if (oh.Date != null)
                            {
                                <small>
                                    Nächster Termin:

                                    <a href="@Url.Action("DateDetails", "Lecturer", new {id = oh.Date.Id})">@Html.TimeSpanWithDate(oh.Date)</a>
                                    @*<span class="badge badge-danger">Konflikt</span>*@

                                </small>
                            }
                            else
                            {
                                if (oh.OfficeHour.ByAgreement)
                                {
                                    <small>Termine nach Vereinbarung</small>
                                }
                                else
                                {
                                    <small>Keine weiteren Termine mehr</small>
                                }
                            }
                        </div>
                    </div>
                }

                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1">
                            <a href="@Url.Action("Index", "ThesisSupervision")">
                                Abschlussarbeiten
                            </a>
                        </h6>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <ul class="fa-ul">
                                @foreach (var thesis in Model.ActiveTheses)
                                {
                                    if (thesis.User != null)
                                    {

                                        if (thesis.Thesis.DeliveryDate != null)
                                        {
                                            <li>
                                                <span class="fa-li"><i class="fas fa-trophy"></i></span>
                                                <a href="@Url.Action("Details", "ThesisSupervision", new {id = thesis.Thesis.Id})">@thesis.User.FullName (@thesis.Student.Curriculum.ShortName)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <span class="fa-li"><i class="fas fa-cogs"></i></span>
                                                <a href="@Url.Action("Details", "ThesisSupervision", new {id = thesis.Thesis.Id})">@thesis.User.FullName (@thesis.Student.Curriculum.ShortName)</a>
                                                <span class="badge badge-secondary">@thesis.DaysToExpire</span>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        if (thesis.Thesis.DeliveryDate != null)
                                        {
                                            <li>
                                                <span class="fa-li"><i class="fas fa-trophy"></i></span>
                                                <a href="@Url.Action("Details", "ThesisSupervision", new {id = thesis.Thesis.Id})">Unbekannt (@thesis.Student.Curriculum.ShortName)</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <span class="fa-li"><i class="fas fa-cogs"></i></span>
                                                <a href="@Url.Action("Details", "ThesisSupervision", new {id = thesis.Thesis.Id})">Unbekannt (@thesis.Student.Curriculum.ShortName)</a>
                                                <span class="badge badge-secondary">@thesis.DaysToExpire</span>
                                            </li>
                                        }

                                    }
                                }
                            </ul>
                        </div>
                        <div class="col-4">
                            <div class="btn-group-vertical float-right" role="group" aria-label="Basic example">
                                <a href="@Url.Action("Cleared", "ThesisSupervision")" class="btn btn-outline-secondary btn-sm text-left"><i class="fas fa-archive"></i> Abgerechnete</a>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var module in Model.CurrentSemester.Modules)
                {

                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">
                                <a href="@Url.Action("Details", "CurriculumModule", new {id = module.Module.Id})">
                                    @module.Module.Name (@module.Module.ShortName)
                                </a>
                            </h6>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <ul class="fa-ul">
                                    <li>
                                        <i class="fa-li fa fa-users"></i>
                                        <a href="">@module.Courses.Count Lehrveranstaltungen</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <div class="btn-group-vertical float-right" role="group" aria-label="Basic example">
                                    <a href="@Url.Action("CurriculumModule", "Mailing", new {moduleId = module.Module.Id, semId = Model.CurrentSemester.Semester.Id})" class="btn btn-outline-secondary btn-sm text-left"><i class="fas fa-envelope"></i> Mail senden</a>
                                    <a href="@Url.Action("Participants", "CurriculumModule", new {moduleId = module.Module.Id, semId = Model.CurrentSemester.Semester.Id})" class="btn btn-outline-secondary btn-sm text-left"><i class="fas fa-users"></i> TeilnehmerInnen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
