@model MyStik.TimeTable.Data.TeachingBuildingBlock
@{
    ViewBag.Title = "Modul";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Modul "@Model.Name"</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-menu">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <a href="@Url.Action("Index")" class="btn btn-default">
                                <i class="fa fa-arrow-left"></i> zurück
                            </a>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("EditModule", new {id=Model.Id})" class="btn btn-default">
                                <i class="fa fa-cog"></i> Einstellungen
                            </a>
                        </div>
                        <div class="form-group dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-plus"></i> Neues Element <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("AssignTeacher", new {id = Model.Id})">
                                        <i class="fa fa-pencil"></i> Lehrenden
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("CreateTeachingUnit", new {id = Model.Id})">
                                        <i class="fa fa-microphone"></i> Lehreinheit
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("CreateExam", new {id = Model.Id})">
                                        <i class="fa fa-pencil"></i> Prüfung
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-cube"></i> Inhalt
                    </h4>
                </div>
                <div class="panel-body">
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-cube"></i> Lehrende
                    </h4>
                </div>
                <div class="list-group">
                    @foreach (var lecturer in Model.Lecturers)
                    {
                        <a href="@Url.Action("LecturersDetails", new {id=lecturer.Id})" class="list-group-item">
                            <div class="list-group-item-heading">
                                <h5>@lecturer.Member.FullName</h5>
                            </div>
                        </a>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-cube"></i> Lehreinheiten
                    </h4>
                </div>
                <div class="list-group">
                    @foreach (var module in Model.TeachingUnits)
                    {
                        <a href="@Url.Action("TeachingUnitDetails", new {id=module.Id})" class="list-group-item">
                            <div class="list-group-item-heading">
                                <h5>@module.Form.Name</h5>
                            </div>
                            <div class="list-group-item-text">
                                <ul class="fa-ul">
                                    <li><i class="fa fa-li fa-microphone"></i>@module.SWS SWS</li>
                                </ul>
                            </div>
                        </a>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-cube"></i> Prüfungen
                    </h4>
                </div>
                <div class="list-group">
                    @foreach (var module in Model.ExaminationUnits)
                    {
                        <a href="@Url.Action("ExamDetails", new {id=module.Id})" class="list-group-item">
                            <div class="list-group-item-heading">
                                <h5>@module.Form.Name</h5>
                            </div>
                            <div class="list-group-item-text">
                                <ul class="fa-ul">
                                    <li><i class="fa fa-li fa-microphone"></i>@module.Duration min</li>
                                </ul>
                            </div>
                        </a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
