@using MyStik.TimeTable.Data
@model MyStik.TimeTable.Data.Curriculum


@if (Model != null && Model.LabelSet != null)
{

    <ul id="@ViewBag.ListName" class="list-group">
        @foreach (var module in Model.LabelSet.ItemLabels)
        {
            <li id="@module.Id" class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="">
                <label class="form-check-label" for="@module.Id">@module.Name (@Model.ShortName)</label>
            </li>
        }
        @if (Model.Organiser.Institution != null && Model.Organiser.Institution.LabelSet != null)
        {
            foreach (var module in Model.Organiser.Institution.LabelSet.ItemLabels)
            {
                <li id="@module.Id" class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    <label class="form-check-label" for="@module.Id">@module.Name (@Model.Organiser.Institution.Tag)</label>
                </li>
            }
        }
    </ul>
}
else
{
    <div class="list-group-item">
        Keine Labels vorhanden
    </div>
}