@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.SemesterActiveViewModel

@{
    var sortedCourses = new List<CourseSummaryModel>();

    sortedCourses.AddRange(Model.Courses.Where(x => x.Subscription != null && !x.Subscription.OnWaitingList).OrderBy(x => x.Course.Name));
    sortedCourses.AddRange(Model.Courses.Where(x => x.Subscription != null && x.Subscription.OnWaitingList).OrderBy(x => x.Course.Name));
    sortedCourses.AddRange(Model.Courses.Where(x => x.Subscription == null).OrderBy(x => x.Course.Name));

    ViewBag.ShowLinks = true;
}


@foreach (var course in sortedCourses)
{
    var listGroupItemClass = "";

    if (course.Subscription != null)
    {
        if (course.Subscription.OnWaitingList)
        {
            listGroupItemClass = "list-group-item-warning";
        }
        else
        {
            listGroupItemClass = "list-group-item-success";
        }
    }



    if (ViewBag.ShowLinks != null && ViewBag.ShowLinks == true)
    {
        <a class="list-group-item @listGroupItemClass" href="@Url.Action("Details", "Course", new {id = course.Course.Id})">
            <h5 class="list-group-item-heading">
                @Html.FacultyLabel(course.Course.Organiser)
                @course.Course.Name (@course.Course.ShortName)
            </h5>
            <ul class="fa-ul">
                <li>
                    <i class="fa-li fa fa-user-md"></i>
                    @if (course.Lecturers.Any())
                    {
                        @Html.LecturerList(course.Lecturers, showLinks: false)
                    }
                    else
                    {
                        <i>Keine Angabe zu Lehrenden verfügbar</i>
                    }
                </li>
                <li>
                    @if (course.Dates.Count == 1)
                    {
                        <i class="fa-li fa fa-calendar"></i>
                        <span>immer @Html.Date(course.Dates.First()) in [@Html.RoomList(course.Rooms, showLinks: false)]</span>
                    }
                    else
                    {
                        <i class="fa-li fa fa-calendar"></i>
                        <span>insgesamt @course.Course.Dates.Count Termine zu verschiedenen Zeiten / Tagen</span>
                    }

                </li>
                <li>
                </li>
            </ul>
        </a>
    }
}