@using MyStik.TimeTable.Web.Models
@model  CourseSelectModel

@{
    var linkDescription = string.Format("desc{0}", Model.Summary.Course.Id);
    var linkDates = string.Format("dates{0}", Model.Summary.Course.Id);
    var linkFit = string.Format("fit{0}", Model.Summary.Course.Id);
    var linkNonFit = string.Format("nonfit{0}", Model.Summary.Course.Id);
    var linkConflicts = string.Format("conflicts{0}", Model.Summary.Course.Id);

    ViewBag.ShowLinks = true;
    ViewBag.ShowTitle = true;
}


<div class="panel panel-default">
<div class="panel-heading">
    <h4>
        Details<a href="javascript:onCloseDetails()" class="btn btn-default btn-xs pull-right"><i class="fa fa-times"></i></a>
    </h4>
</div>
<div class="list-group">
    @Html.Partial("_CourseSummaryHead", Model.Summary)
    @Html.Partial("_CourseSummaryDescription", Model.Summary)
    @Html.Partial("_CourseSummaryDates", Model.Summary)
    @Html.Partial("_CourseSummaryCapacity", Model.Summary)

    @if (Request.IsAuthenticated && (ViewBag.UserRight.User.MemberState == MemberState.Student || ViewBag.UserRight.User.MemberState == MemberState.Staff))
    {
        @Html.Partial("_CourseSummaryBooking", Model)
    }

</div>
</div>




