@model MyStik.TimeTable.Web.Models.SemesterActiveViewModel
@using MyStik.TimeTable.Web.Helpers
@{
    var containerType = "container-fluid";
    if (!Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
        containerType = "container";
    }

    ViewBag.Title = "Vorlesungsverzeichnis";
}

<div class="@containerType">

    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-book"></i>
                        <a href="@Url.Action("Index", "Dictionary")">Start</a> /
                        <a href="@Url.Action("Semester", new {semId = Model.Semester.Id})">@Model.Semester.Name</a> /
                        <a href="@Url.Action("Organiser", new {semId = Model.Semester.Id, orgId = Model.Organiser.Id})">@Model.Organiser.ShortName</a> /
                        <a href="@Url.Action("Curriculum", new {semId = Model.Semester.Id, currId = Model.Curriculum.Id})">@Model.Curriculum.ShortName</a> /
                        @Model.CapacityGroup.FullName
                    </h4>
                </div>


                @foreach (var topic in Model.Topics)
                {
                    <div class="list-group">
                        @if (topic.Topic != null)
                        {
                            <div class="list-group-item">
                                <h5 class="list-group-item-heading">@topic.Topic.TopicName</h5>
                            </div>
                        }
                        else
                        {
                            <div class="list-group-item">
                                <h5 class="list-group-item-heading">Ohne Fachzugehörigkeit</h5>
                            </div>
                        }


                        @foreach (var course in topic.Courses)
                        {
                            @Html.Partial("_CourseSummaryListItem", course)
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section styles
{
    <style>

        .selectable
        .discardable
        .lottery {
            cursor: pointer;
        }

        .unselectable {
            position: absolute;
            left: -24px;
            top: 24px;
        }
    </style>
}

@section scripts
{

    <script>
        $(document).ready(function() {

            // Wählen bzw. Abwählen eines Projekte, diese bekommt dann ein Häkchen
            $('.selectable').click(function() {
                if ($(this).hasClass('disabled')) {
                } else {
                    if ($(this).hasClass('discardable')) {

                        $(this).addClass('disabled');

                        $(this).html('<i class="fa fa-circle-o-notch fa-spin fa-2x"></i>');

                        var ocId = $(this).data("occid");

                        var saveElement = $(this);

                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("DischargeActivity", "Activity")',
                                data: {
                                    Id: ocId
                                },
                                success: function(data, success, xhr) {

                                    saveElement.html(
                                        '<span class="fa-stack fa-lg"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-pencil fa-stack-1x"></i></span>');

                                    saveElement.removeClass('discardable');
                                    saveElement.removeClass('disabled');

                                }
                            });


                    } else {


                        $(this).addClass('disabled');

                        $(this).html('<i class="fa fa-circle-o-notch fa-spin fa-2x"></i>');

                        var ocId = $(this).data("occid");

                        var saveElement = $(this);

                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("SubscribeActivity", "Activity")',
                                data: {
                                    Id: ocId
                                },
                                success: function(data, success, xhr) {

                                    saveElement.html(
                                        '<span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-check fa-stack-1x fa-inverse"></i></span>');

                                    saveElement.addClass('discardable');
                                    saveElement.removeClass('disabled');

                                }
                            });
                    }
                }
            });

            $('.lottery').click(function() {

                var ocId = $(this).data("lotid");
                var url = '@Url.Action("Overview", "Lottery")';
                url += "/" + ocId;

                window.location = url;
            });


        });

    </script>
}
