@model MyStik.TimeTable.Web.Models.SemesterActiveViewModel
@{
    ViewBag.Title = "Vorlesungsverzeichnis";
}

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dictionary")">Vorlesungsverzeichnis</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Semester", "Dictionary", new {semId=Model.Semester.Id})">@Model.Semester.Name</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Organiser", "Dictionary", new {semId=Model.Semester.Id, orgId=Model.Organiser.Id})">@Model.Organiser.ShortName</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Curriculum", "Dictionary", new {semId=Model.Semester.Id, currId=Model.Curriculum.Id})">@Model.Curriculum.ShortName</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.CapacityGroup.FullName</li>
        </ol>
    </nav>

    <div class="col-md-12">
        <div id="panelCalendar" class="col-md-12">
            <div class="card">
                <div class="list-group">
                    @if (Request.IsAuthenticated)
                    {
                        <div class="list-group-item">
                            <div class="btn-group" role="group">
                                <a class="btn btn-success active"><i class="fa fa-users"></i> Teilnehmer</a>
                                <a class="btn btn-warning active"><i class="fa fa-hourglass-half"></i> Warteliste</a>
                                <span id="loading"><i class="fa fa-spinner fa-spin text-muted"></i></span>
                            </div>
                        </div>
                    }
                    <div id="calendar"></div>
                </div>
            </div>
        </div>

        <div id="panelDetails" class="col-md-4" hidden>
            <div class="card">
                <div class="card-header">
                    <h4>Lade Details <span id="loading2"><i class="fa fa-spinner fa-spin text-muted"></i></span></h4>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>

        var myId;

        $(document).ready(function() {

            showList();

        });

        function showList() {
            $('#loading').show();
            $.ajax(
                {
                    url: '@Url.Action("CourseListForTopic")',
                    type: 'POST',
                    data: {
                        semGroupId: '@Model.SemesterGroup.Id',
                        showPersonalDates: false
                    },
                    success: function (data, success, xhr) {
                        $("#calendar").html(data);
                        $('#loading').hide();
                    },
                    error: function (data, type, ex) {
                        alert("Fehler beim laden der Daten." + ex);
                        $('#loading').hide();
                    }
                });
        }

        function onShowEventInfo(id) {
            $('#panelCalendar').removeClass('col-md-12');
            $('#panelCalendar').addClass('col-md-8');
            $("#panelDetails").html('<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>');
            $('#panelDetails').show();
            myId = id;

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("SelectCourse")',
                    data: {
                        Id: id
                    },
                    success: function(data, success, xhr) {
                        $("#panelDetails").html(data);
                    }
                });

        }

        function onCloseDetails() {
            $('#panelCalendar').removeClass('col-md-8');
            $('#panelCalendar').addClass('col-md-12');
            $('#panelDetails').html('');
            $('#panelDetails').hide();
        }

        function onSubscribe(e) {
            //alert('#'+e);
            $('#selectBox').addClass('disabled');
            $('#selectBox').html('<i class="fa fa-circle-o-notch fa-spin fa-2x"></i>');

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("Subscribe")',
                    data: {
                        Id: e
                    },
                    success: function(data, success, xhr) {
                        $('#selectBox').html(data);
                        $('#selectBox').removeClass('disabled');
                        showList();
                    }
                });

        }


    </script>
}

