@model MyStik.TimeTable.Web.Models.SemesterActiveViewModel
@using MyStik.TimeTable.Web.Helpers
@{
    var containerType = "container-fluid";
    if (!Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutPublicNew.cshtml";
        containerType = "container";
    }

    ViewBag.Title = "Vorlesungsverzeichnis";
}

<div class="@containerType">

    <div class="row" style="margin-top: 20px">
        <div id="panelCalendar" class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-book"></i>
                        <a href="@Url.Action("Index", "Dictionary")">Start</a> /
                        <a href="@Url.Action("Semester", new {semId = Model.Semester.Id})">@Model.Semester.Name</a> /
                        <a href="@Url.Action("Organiser", new {semId = Model.Semester.Id, orgId = Model.Organiser.Id})">@Model.Organiser.ShortName</a> /
                        <a href="@Url.Action("Curriculum", new {semId = Model.Semester.Id, currId = Model.Curriculum.Id})">@Model.Curriculum.ShortName</a> /
                        @Model.CapacityGroup.FullName
                        <span id="loading"><i class="fa fa-spinner fa-spin text-muted"></i></span>
                    </h4>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="btn-group" role="group">
                            <a id="btnWeek" href="javascript:showWeekCalendar()" class="btn btn-default active"><i class="fa fa-calendar-o"></i> Wochenkalender</a>
                            <a id="btnDay" href="javascript:showDayCalendar()" class="btn btn-default"><i class="fa fa-calendar"></i> Tageskalender</a>
                            <a id="btnList" href="javascript:showList()" class="btn btn-default"><i class="fa fa-list"></i> Liste</a>
                        </div>
                        <div id="btnShowPersonalDates" class="btn-group" role="group">
                            <a href="javascript:showPersonalDates()"  class="btn btn-default"><i class="fa fa-pencil"></i> Persönliche Termine einblenden</a>
                        </div>
                        <div id="btnHidePersonalDates" class="btn-group" role="group" hidden="">
                            <a href="javascript:hidePersonalDates()" class="btn btn-default"><i class="fa fa-pencil"></i> Persönliche Termine ausblenden</a>
                            <div class="btn btn-success"><i class="fa fa-group"></i> Teilnehmer</div>
                            <div class="btn btn-warning"><i class="fa fa-hourglass-half"></i> Warteliste</div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panelDetails" class="col-md-4" hidden>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Lade Details <span id="loading2"><i class="fa fa-spinner fa-spin text-muted"></i></span></h4>
                </div>
            </div>
        </div>
    </div>
</div>


@section styles
{
    <link href="~/Assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
}


@section scripts
{
        <script src="~/Assets/global/plugins/moment.min.js"></script>
        <script src="~/Assets/global/plugins/fullcalendar/fullcalendar.min.js"></script>
        <script src='~/Assets/global/plugins/fullcalendar/lang/de.js'></script>
        <script src="~/Assets/fillter/scripts/calendar.js"></script>

    <script>

        var myId;
        var showPDs = false;

        $(document).ready(function() {
            hidePersonalDates();
            showWeekCalendar();

        });

        function showPersonalDates() {
            $("#btnShowPersonalDates").hide();
            $("#btnHidePersonalDates").show();
            showPDs = true;
            refreshCalendar();
        }

        function hidePersonalDates() {
            $("#btnShowPersonalDates").show();
            $("#btnHidePersonalDates").hide();
            showPDs = false;
            refreshCalendar();
        }

        function showWeekCalendar() {
            $("#btnWeek").addClass("active");
            $("#btnDay").removeClass("active");
            $("#btnList").removeClass("active");

            $('#loading').show();
            var group = '@Model.SemesterGroup.Id';
            $('#calendar').html('');
            initWeekCalendar("calendar");

            $('#calendar').fullCalendar('removeEventSource', '@Url.Action("GroupWeekPlan", "Calendar")');
            $('#calendar').fullCalendar('addEventSource',
                {
                    url: '@Url.Action("GroupWeekPlan", "Calendar")',
                    type: 'POST',
                    data: {
                        semGroupId: group,
                        showPersonalDates: showPDs
                    },
                    success: function (data, success, xhr) {
                        $('#loading').hide();
                    },
                    error: function (data, type, ex) {
                        alert("Fehler beim laden der Daten." + ex);
                        $('#loading').hide();
                    }
                });

        }

        function showDayCalendar() {
            $("#btnWeek").removeClass("active");
            $("#btnDay").addClass("active");
            $("#btnList").removeClass("active");


            $('#loading').show();
            var group = '@Model.SemesterGroup.Id';
            $('#calendar').html('');
            initDayCalendar("calendar");

            $('#calendar').fullCalendar('removeEventSource', '@Url.Action("GroupDayPlan", "Calendar")');
            $('#calendar').fullCalendar('addEventSource',
                {
                    url: '@Url.Action("GroupDayPlan", "Calendar")',
                    type: 'POST',
                    data: {
                        semGroupId: group,
                        topicId: null,
                        showPersonalDates: showPDs
                    },
                    success: function (data, success, xhr) {
                        $('#loading').hide();
                    },
                    error: function (data, type, ex) {
                        alert("Fehler beim laden der Daten." + ex);
                        $('#loading').hide();
                    }
                });
        }


        function showList() {
            $("#btnWeek").removeClass("active");
            $("#btnDay").removeClass("active");
            $("#btnList").addClass("active");


            $('#loading').show();
            var group = '@Model.SemesterGroup.Id';
            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("CourseListForGroup", "Dictionary")',
                    data: {
                        semGroupId: group,
                        showPersonalDates: showPDs
                    },
                    success: function(data, success, xhr) {
                        $('#calendar').html(data);
                        $('#loading').hide();
                    },
                    error: function(data, type, ex) {
                        alert("Fehler beim laden der Daten." + ex);
                        $('#loading').hide();
                    }
                });

        }


        function onShowEventInfo(id) {
            $('#panelCalendar').removeClass('col-md-12');
            $('#panelCalendar').addClass('col-md-8');
            $("#panelDetails").html('<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>');
            $('#panelDetails').show();
            myId = id;

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("SelectCourse")',
                    data: {
                        Id: id
                    },
                    success: function(data, success, xhr) {
                        $("#panelDetails").html(data);
                    }
                });

        }

        function onCloseDetails() {
            $('#panelCalendar').removeClass('col-md-8');
            $('#panelCalendar').addClass('col-md-12');
            $('#panelDetails').html('');
            $('#panelDetails').hide();

            // update nur, wenn auch gebucht wurde
            //showCalendar();

            /* wäre schön, gehtaber nicht
             am Ende ist es das UpdateEvent, das die Anzeige nicht ändert
            //alert(myId);
            var event = $("#calendar").fullCalendar('clientEvents', myId)[0];
            alert(event.title);

            //event._borderColor = "#000";
            event.title = "Hallo";

            $("#calendar").fullcalendar('updateEvent', event);
            */
        }

        function onSubscribe(e) {
            //alert('#'+e);
            $('#bookingBox').addClass('disabled');
            $('#bookingBox').html('<i class="fa fa-circle-o-notch fa-spin fa-2x"></i>');

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("Subscribe")',
                    data: {
                        Id: e
                    },
                    success: function(data, success, xhr) {
                        $('#bookingBox').html(data);
                        $('#bookingBox').removeClass('disabled');
                        refreshCalendar();
                    }
                });

        }

        function refreshCalendar() {
            if ($("#btnDay").hasClass("active")) {
                showDayCalendar();
            }
            if ($("#btnWeek").hasClass("active")) {
                showWeekCalendar();
            }
            if ($("#btnList").hasClass("active")) {
                showList();
            }
        }


    </script>
    }
