@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.HomeViewModel

@{
    var containerType = "container-fluid";
    if (!Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutPublicNew.cshtml";
        containerType = "container";
    }

    ViewBag.Title = "Vorlesungsverzeichnis";
}


<div class="@containerType">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-book"></i> Vorlesungsverzeichnis nach Semestern</h4>
                </div>
                <div class="list-group">
                    @if (ViewBag.UserRight.User.MemberState == MemberState.Staff)
                    {
                        <div class="list-group-item">
                            <div class="btn-group" role="group">
                                <a href="@Url.Action("Create", "Course")" class="btn btn-default"><i class="fa fa-plus"></i> LV anlegen</a>
                            </div>
                        </div>
                    }

                    @foreach (var sem in Model.ActiveSemester)
                    {
                        if (sem.Organisers.Any())
                        {
                            <a href="@Url.Action("Semester", new {semId = sem.Semester.Id})" class="list-group-item">
                                <h5 class="list-group-item-heading"><strong>@sem.Semester.Name</strong></h5>
                                <p class="list-group-item-text">
                                    @foreach (var organiser in sem.Organisers.OrderBy(x => x.ShortName))
                                    {
                                        @Html.FacultyLabel(organiser)
                                    }

                                </p>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

