@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.SemesterActiveViewModel

@{
    ViewBag.Title = "Vorlesungsverzeichnis";
}


@section styles
{
    <link href="~/Assets/libs/fullcalendar/main.min.css" rel="stylesheet" />
}


<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dictionary")">Vorlesungsverzeichnis</a></li>
            @if (Model.Organiser != null)
            {
                <li class="breadcrumb-item"><a href="@Url.Action("Organiser", "Dictionary", new {semId=Model.Semester.Id, orgId=Model.Organiser.Id})">@Model.Organiser.ShortName</a></li>
            }
            @if (Model.Curriculum != null)
            {
                <li class="breadcrumb-item"><a href="@Url.Action("Curriculum", "Dictionary", new { semId = Model.Semester.Id, currId = Model.Curriculum.Id })">@Model.Curriculum.ShortName</a></li>
            }
            @if (Model.Organiser != null && Model.Curriculum != null)
            {
                <li class="breadcrumb-item"><a href="@Url.Action("Label", "Dictionary", new { semId = ViewBag.CurrentSemester.Id, orgId = Model.Organiser.Id, currId=Model.Curriculum.Id, labelId = Model.Label.Id })">@Model.Label.Name</a></li>
            }
            <li class="breadcrumb-item active" aria-current="page">
                <div class="btn-group">
                    @if (ViewBag.PrevSemester != null && Model.Organiser != null && Model.Curriculum != null)
                    {
                        <a href="@Url.Action("Label", "Dictionary", new {semId=ViewBag.PrevSemester.Id, orgId=Model.Organiser.Id, currId=Model.Curriculum.Id, labelId=Model.Label.Id})"><i class="bi bi-chevron-double-left"></i></a>
                    }
                    else
                    {
                        <a class="disabled" href="#"><i class="bi bi-chevron-double-left"></i></a>
                    }
                    <span class="ms-2 me-2">@ViewBag.CurrentSemester.Name</span>
                    @if (ViewBag.NextSemester != null && Model.Organiser != null && Model.Curriculum != null)
                    {
                        <a href="@Url.Action("Label", "Dictionary", new {semId=ViewBag.NextSemester.Id, orgId=Model.Organiser.Id, currId=Model.Curriculum.Id, labelId=Model.Label.Id})"><i class="bi bi-chevron-double-right"></i></a>
                    }
                    else
                    {
                        <a class="disabled" href="#"><i class="bi bi-chevron-double-right"></i></a>
                    }
                </div>
            </li>

        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="list-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group me-2" role="group" aria-label="First group">
                                        <a id="btnPrev" href="javascript:onPrev()" class="btn btn-outline-secondary btn-sm"><i class="bi bi-chevron-left"></i></a>
                                        <a id="btnNext" href="javascript:onNext()" class="btn btn-outline-secondary btn-sm"><i class="bi bi-chevron-right"></i></a>
                                    </div>
                                    <div class="btn-group me-2" role="group" aria-label="Second group">
                                        <a id="btnWeekend" href="javascript:toggleWeekend()" class="btn btn-outline-secondary btn-sm"><i class="bi bi-calendar-week"></i></a>
                                        <a id="btnWeekDay" href="javascript:toggleWeekDay()" class="btn btn-outline-secondary btn-sm"><i class="bi bi-calendar-day"></i></a>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Third group">
                                        <a id="btnPersonal" href="javascript:togglePersonal()" class="btn btn-outline-secondary btn-sm"><i class="bi bi-calendar2-heart"></i></a>
                                        <span id="loading" class="spinner-border"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="calendar"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="list-group">
                        @foreach (var summary in Model.Courses)
                        {
                            var show = !summary.Course.IsProjected || (ViewBag.UserRight.IsCurriculumAdmin || ViewBag.UserRight.Member != null);

                            if (show)
                            {
                                <a id="@summary.Course.Id.ToString()" class="list-group-item list-group-item-action" href="@Url.Action("Details", "Course", new { id = summary.Course.Id })">
                                    <div class="card-title">
                                        @summary.Course.ShortName
                                        @Html.LabelList(summary.Course)
                                    </div>
                                    <div class="card-text">@summary.Course.Name</div>
                                    <div class="row">
                                        <div class="col-md-8">@Html.DateList(summary.Dates)</div>
                                        <div class="col-md-4">@Html.LecturerList(summary.Lecturers, showLinks: false)</div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    @{
        var orgId2 = string.Empty;
        var currId2 = string.Empty;

        if (Model.Organiser != null)
        {
            orgId2 = Model.Organiser.Id.ToString();
        }
        if (Model.Curriculum != null)
        {
            currId2 = Model.Curriculum.Id.ToString();
        }

    }
    <!--
    <script src="~/Assets/global/plugins/moment.min.js"></script>
    -->
    <script src="~/Assets/libs/fullcalendar/main.min.js"></script>
    <script src="~/Assets/libs/fullcalendar/locales/de.js"></script>
    <script src="~/Assets/fillter/scripts/calendar.js"></script>

    <script>
        var myCalendar = null;
        var mySelection = "";
        var showWeekend = false;
        var showPersonal = false;
        var showWeekDay = true;
        var semId = "@Model.Semester.Id";
        var labelId = "@Model.Label.Id";
        var orgId = "@orgId2";
        var currId = "@currId2";


        $(document).ready(function() {
            showWeekDayCalendar();
            showWeekendDays();
            //showLabelDates();
        });

        function showWeekCalendar() {
            try {
                $('#loading').show();

                $('#calendar').html('');
                myCalendar = initDayCalendar("calendar");
                myCalendar.setOption("headerToolbar", false);

                $("#btnPrev").removeClass("disabled");
                $("#btnNext").removeClass("disabled");


                showLabelDates();

            } catch (err) {
                var strMessage =
                    "<div class=\"alert alert-danger\"><h4>Fehler beim Laden der Daten</h4>";
                strMessage += "<p>Grund: " + err + "</p>";
                strMessage += "<p>Abhilfe: Den Brwoser Cache leeren, z.B. mit der Tastenkombination CTRL + F5 bzw. Strg + F5</p>";
                strMessage += "</div>";

                $('#calendar').html(strMessage);
                $('#loading').hide();
            }

        }

        function showWeekDayCalendar() {
            try {

                $('#loading').show();

                $('#calendar').html('');
                myCalendar = initWeekCalendar("calendar");
                myCalendar.setOption("headerToolbar", false);

                $("#btnPrev").addClass("disabled");
                $("#btnNext").addClass("disabled");

                showLabelDates();

            } catch (err) {
                var strMessage =
                    "<div class=\"alert alert-danger\"><h4>Fehler beim Laden der Daten</h4>";
                strMessage += "<p>Grund: " + err + "</p>";
                strMessage += "<p>Abhilfe: Den Brwoser Cache leeren, z.B. mit der Tastenkombination CTRL + F5 bzw. Strg + F5</p>";
                strMessage += "</div>";

                $('#calendar').html(strMessage);
                $('#loading').hide();
            }
        }




        function onShowEventInfo(id) {
            if (mySelection !== "") {
                $("#" + mySelection).removeClass("active");
            }
            $("#" + id).addClass("active");
            mySelection = id;

            //myCalendar.setOption('hiddenDays', [6, 7]);

        }

        function onPrev() {
            myCalendar.prev();
        }

        function onNext() {
            myCalendar.next();
        }

        function toggleWeekend() {
            showWeekend = !showWeekend;
            showWeekendDays();
        }



        function togglePersonal() {
            showPersonal = !showPersonal;

            if (showPersonal) {
                $('#loading').show();
                $("#btnPersonal").addClass("active");
                showPersonalDates();
            } else {
                var source = myCalendar.getEventSourceById("personal");
                $("#btnPersonal").removeClass("active");
                if (source != null) {
                    source.remove();
                }
            }

        }


        function toggleWeekDay() {
            showWeekDay = !showWeekDay;

            if (showWeekDay) {
                showWeekDayCalendar();
                showWeekendDays();
                showPersonalDates();
                $("#btnWeekDay").addClass("active");
            } else {
                showWeekCalendar();
                showWeekendDays();
                showPersonalDates();
                $("#btnWeekDay").removeClass("active");
            }
        }

        function showWeekendDays() {
            myCalendar.setOption("weekends", showWeekend);
            if (showWeekend) {
                $("#btnWeekend").addClass("active");
            } else {
                $("#btnWeekend").removeClass("active");
            }
        }

        function showLabelDates() {
            if (showWeekDay) {
                myCalendar.addEventSource(
                    {
                        id: "courses",
                        url: '@Url.Action("LabelEventsWeekly", "Calendar")',
                        method: 'POST',
                        extraParams: {
                            semId: semId,
                            orgId: orgId,
                            labelId: labelId,
                            currId: currId,

                        },
                        success: function(data, success, xhr) {
                            $('#loading').hide();
                        },
                        failure: function(data, type, ex) {
                            var strMessage =
                                "<div class=\"alert alert-danger\"><h4>Fehler beim Laden der Daten</h4>";
                            strMessage += "<p>Grund: " + ex + data + type + "</p>";
                            strMessage += "</div>";

                            $('#calendar').html(strMessage);
                            //alert("Fehler beim laden der Daten." + ex);
                            $('#loading').hide();
                        }
                    }
                );
            } else {
                myCalendar.addEventSource(
                    {
                        id: "courses",
                        url: '@Url.Action("LabelEvents", "Calendar")',
                        method: 'POST',
                        extraParams: {
                            semId: semId,
                            orgId: orgId,
                            labelId: labelId,
                            currId: currId,

                        },
                        success: function(data, success, xhr) {
                            $('#loading').hide();
                        },
                        failure: function(data, type, ex) {
                            var strMessage =
                                "<div class=\"alert alert-danger\"><h4>Fehler beim Laden der Daten</h4>";
                            strMessage += "<p>Grund: " + ex + data + type + "</p>";
                            strMessage += "</div>";

                            $('#calendar').html(strMessage);
                            //alert("Fehler beim laden der Daten." + ex);
                            $('#loading').hide();
                        }
                    }
                );
            }
        }



        function showPersonalDates() {

            if (!showPersonal)
                return;

            if (showWeekDay) {
                myCalendar.addEventSource(
                    {
                        id: "personal",
                        url: '@Url.Action("PersonalPlanWeekly", "Calendar")',
                        method: 'POST',
                        extraParams: {
                            semId: semId,
                            showWaiting: true
                        },
                        success: function(data, success, xhr) {
                            $('#loading').hide();
                        },
                        failure: function(data, type, ex) {
                            var strMessage =
                                "<div class=\"alert alert-danger\"><h4>Fehler beim Laden der Daten</h4>";
                            strMessage += "<p>Grund: " + ex + data + type + "</p>";
                            strMessage += "</div>";

                            $('#calendar').html(strMessage);
                            //alert("Fehler beim laden der Daten." + ex);
                            $('#loading').hide();
                        }
                    }
                );

            } else {
                myCalendar.addEventSource(
                    {
                        id: "personal",
                        url: '@Url.Action("ActivityPlan", "Calendar")',
                        method: 'POST',
                        /*
                        extraParams: {
                            semId: semId,
                            showWaiting: true
                        },
                        */
                        success: function(data, success, xhr) {
                            $('#loading').hide();
                        },
                        failure: function(data, type, ex) {
                            var strMessage =
                                "<div class=\"alert alert-danger\"><h4>Fehler beim Laden der Daten</h4>";
                            strMessage += "<p>Grund: " + ex + data + type + "</p>";
                            strMessage += "</div>";

                            $('#calendar').html(strMessage);
                            //alert("Fehler beim laden der Daten." + ex);
                            $('#loading').hide();
                        }
                    }
                );
            }
        }


    </script>
}
