@using MyStik.TimeTable.Data
@model MyStik.TimeTable.Web.Models.SemesterActiveViewModel
@{
    var containerType = "container-fluid";
    if (!Request.IsAuthenticated)
    {
        containerType = "container";
    }

    ViewBag.Title = "Vorlesungsverzeichnis";
}



<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dictionary")">Vorlesungsverzeichnis</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Organiser", "Dictionary", new {semId=Model.Semester.Id, orgId=Model.Organiser.Id})">@Model.Organiser.ShortName</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <div class="btn-group">
                    @if (ViewBag.PrevSemester != null)
                    {
                        <a href="@Url.Action("Organiser", "Dictionary", new {semId=ViewBag.PrevSemester.Id, orgId=Model.Organiser.Id})"><i class="bi bi-chevron-double-left"></i></a>
                    }
                    else
                    {
                        <a class="disabled" href="#"><i class="bi bi-chevron-double-left"></i></a>
                    }
                    <span class="ms-2 me-2">@ViewBag.CurrentSemester.Name</span>
                    @if (ViewBag.NextSemester != null)
                    {
                        <a href="@Url.Action("Organiser", "Dictionary", new {semId=ViewBag.NextSemester.Id, orgId=Model.Organiser.Id})"><i class="bi bi-chevron-double-right"></i></a>
                    }
                    else
                    {
                        <a class="disabled" href="#"><i class="bi bi-chevron-double-right"></i></a>
                    }
                </div>
            </li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <div class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <span><i class="bi bi-mortarboard"></i></span>&nbsp;Studienangebote (Studiengänge, Zertifikate)
                    </button>
                    <!--
    <div class="btn-group w-100">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <span><i class="bi bi-mortarboard"></i></span>&nbsp;Studienangebote (Studiengänge, Zertifikate)
        </button>
        <button class="btn btn-outline-secondary" onclick="alert('Extra button clicked!')"><i class="bi bi-chevron-double-right"></i></button>
        <button class="btn btn-outline-secondary" onclick="alert('Extra button clicked!')"><i class="bi bi-chevron-double-right"></i></button>
        <button class="btn btn-outline-secondary" onclick="alert('Extra button clicked!')"><i class="bi bi-chevron-double-right"></i></button>
    </div>
        -->
                </div>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="list-group">
                        @foreach (var curr in Model.Curricula.OrderBy(x => x.Name).ThenBy(x => x.ShortName))
                        {
                            <a href="@Url.Action("Curriculum", new { semId = Model.Semester.Id, currId = curr.Id })" class="list-group-item list-group-item-action">
                                <strong>@curr.ShortName</strong>: @curr.Name
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span><i class="bi bi-ticket"></i></span>&nbsp;Wahlverfahren
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="list-group">
                        @foreach (var l in Model.Lotteries.OrderBy(x => x.Name))
                        {
                            if (l.IsActive)
                            {
                                <a class="list-group-item list-group-item-action" href="@Url.Action("Details", "Lottery", new { id = l.Id })">
                                    <div><strong>@l.Name</strong></div>
                                    @if (l.IsFixed)
                                    {
                                        if (l.IsActiveUntil.Value != null && l.IsActiveUntil.Value > DateTime.Now)
                                        {
                                            <div><small>Eintragung für Platzverlosung bis @l.IsActiveUntil.Value.ToShortDateString() @l.IsActiveUntil.Value.ToShortTimeString()</small></div>
                                        }
                                        else
                                        {
                                            <div><small>Aktuell keine Eintragung möglich</small></div>
                                        }
                                    }
                                    else
                                    {
                                        <div><small>Eintragung nach Windhundverfahren</small></div>
                                    }
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span><i class="bi bi-list"></i></span>&nbsp;Gesamtangebote
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" href="@Url.Action("Semester", "Courses", new { orgId = Model.Organiser.Id, semId = Model.Semester.Id })">
                            Gesamtangebot @Model.Organiser.ShortName
                        </a>
                        @{
                            var inst = Model.Organiser.Institution;
                            if (inst != null && inst.LabelSet != null)
                            {
                                foreach (var label in inst.LabelSet.ItemLabels.OrderBy(x => x.Name))
                                {
                                    <a class="list-group-item list-group-item-action" href="@Url.Action("Label", new { semId = Model.Semester.Id, orgId = Model.Organiser.Id, labelId = label.Id })">
                                        Hochschulweites Angebot: @label.Name
                                    </a>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



