@model MyStik.TimeTable.Web.Models.SemesterActiveViewModel
@using MyStik.TimeTable.Web.Helpers
@{
    var containerType = "container-fluid";
    if (!Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
        containerType = "container";
    }

    ViewBag.Title = "Vorlesungsverzeichnis";
}

<div class="row">
    <div class="col-md-12">
        <h4>
            <a href="@Url.Action("Index")">Vorlesungsverzeichnis</a> /
            @Model.Semester.Name
        </h4>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="list-group">
                @foreach (var org in Model.Organisers.OrderBy(x => x.ShortName))
                {
                    <a href="@Url.Action("Organiser", new {semId = Model.Semester.Id, orgId=org.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">@Html.FacultyLabel(org) @org.Name</h5>
                    </a>
                }
            </div>
        </div>
    </div>
</div>



