@model MyStik.TimeTable.Web.Models.SemesterActiveViewModel
@using MyStik.TimeTable.Web.Helpers
@{
    var containerType = "container-fluid";
    if (!Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutPublicNew.cshtml";
        containerType = "container";
    }

    ViewBag.Title = "Vorlesungsverzeichnis";
}

<div class="@containerType">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-book"></i>
                        <a href="@Url.Action("Index")">Vorlesungsverzeichnis</a> / 
                        @Model.Semester.Name
                    </h4>
                </div>
                <div class="list-group">
                    @foreach (var org in Model.Organisers.OrderBy(x => x.ShortName))
                    {
                        <a href="@Url.Action("Organiser", new {semId = Model.Semester.Id, orgId=org.Id})" class="list-group-item">
                            <h5 class="list-group-item-heading">@Html.FacultyLabel(org) @org.Name</h5>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


