@model ICollection<MyStik.TimeTable.Data.SemesterGroup>
@{
    ViewBag.Title = "Check";
}

<h2>Check</h2>
<table class="table">
    @foreach (var group in Model)
    {
        <tr>
            <td>@group.Id</td>
            @if (group.CurriculumGroup != null)
            {
                <td>@group.CurriculumGroup.Curriculum.ShortName</td>
                <td>@group.CurriculumGroup.Name</td>
                <td>@group.Semester.Name</td>
            }
            else
            {
                <td colspan="3">Gruppe ohne Zuordnung</td>
            }
            <td>@group.Subscriptions.Count</td>
            <td>@group.Activities.Count</td>
            <td>@group.OccurrenceGroups.Count</td>
        </tr>
    }


</table>

<a href="@Url.Action("RemoveDangelingGroups")">Löschen</a>

