@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.Data.CurriculumCriteria
@{
    ViewBag.Title = "Criteria";
}

@{
    var db = new TimeTableDbContext();
    var courseService = new CourseService();
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Kriterium @Model.Name <small>Studiengang @Model.Curriculum.ShortName</small></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.Name</h3>
                </div>
                <div class="panel-body">
                    <a href="@Url.Action("Details", "CurriculumCriteria", new {id = Model.Id})">Details ändern</a>
                    @if (Model.Option < 0)
                    {
                        <p>Alle Module müssen abgelegt werden.</p>
                    }
                    else if (Model.Option == 0)
                    {
                        <p>Es müssem mindestens @Model.MinECTS erreicht werden</p>
                    }
                    else
                    {
                        <p>Es müssen genau @Model.Option Module abgelegt werden</p>
                    }
                    <p>Akkredierte Module</p>
                    <a href="@Url.Action("SelectModule", new { currId = Model.Curriculum.Id, critId = Model.Id })">Modul akkreditieren</a>

                    @foreach (var accr in Model.Accreditations)
                    {
                        var link = string.Format("Modul {0} in Studiengruppe(n) {1}", accr.Module.ShortName, Html.GroupList(accr.Groups));
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@link</h3>
                            </div>
                            <div class="panel-body">
                                <a href="@Url.Action("LinkModule", new {accrId = accr.Id})">Studiengruppe verknüpfen</a>
                                <div>
                                </div>
                            </div>

                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Id</th>
                                        <th>Lehrformat</th>
                                        <th>Zugehörige Lehrangebote</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var moduleCourse in accr.Module.ModuleCourses)
                                    {
                                        var courses = db.Activities.OfType<Course>().Where(x => x.ShortName.Contains(moduleCourse.ExternalId)).ToList();

                                        <tr>
                                            <td>@moduleCourse.Name</td>
                                            <td>@moduleCourse.ExternalId</td>
                                            <td>@moduleCourse.CourseType</td>
                                            <td>
                                                @foreach (var course in courses)
                                                {
                                                    var c = courseService.GetCourseSummary(course);
                                                    var linkText = c.Course.Name + " (" + c.Course.ShortName + ")";   
                                                    <div>
                                                        @Html.ActionLink(linkText, "Index", "Course", new { id = c.Course.Id }, null)
                                                        @Html.GroupListExtended(c.Course.SemesterGroups)
                                                        @Html.DateList(c.Dates)
                                                        @Html.RoomList(c.Rooms)
                                                        @Html.LecturerList(c.Lecturers)
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>

</div>

