@model MyStik.TimeTable.Data.Curriculum
@{
    ViewBag.Title = Model.ShortName;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Studiengang @Model.ShortName (@Model.Name)</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title tabbable-line">
                    <div class="caption">
                        <span class="caption-subject bold"> Struktur / Aufbau </span>
                        <span class="caption-helper">nach Kriterien und Studiengruppen</span>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#portlet_tab2" data-toggle="tab"> Kriterien </a>
                        </li>
                        <li>
                            <a href="#portlet_tab1" data-toggle="tab"> Studiengruppen </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane" id="portlet_tab1">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Teilgruppen</th>
                                        <th>Module</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var group in Model.CurriculumGroups.OrderBy(g => g.Name))
                                    {
                                        <tr>
                                            <td>@group.Name</td>
                                            <td>
                                                @foreach (var capacityGroup in group.CapacityGroups)
                                                {
                                                    <div>
                                                        @capacityGroup.Name (@foreach (var alias in capacityGroup.Aliases)
                                                        {
                                                            @Html.Raw(alias.Name + ", ")
                                                        }
                                                        )
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane active" id="portlet_tab2">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Anzahl Module</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









