@model MyStik.TimeTable.Data.Curriculum
@{
    ViewBag.Title = Model.ShortName;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Studiengang @Model.ShortName (@Model.Name) - Gruppenadministration</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            @if (User.IsInRole("SysAdmin"))
            {
                using (Html.BeginForm("MoveGroup", null, FormMethod.Post, new { @class = "form", role = "form" }))
                {
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group">
                        <label for="srcGroupMove">Quelle:</label>
                        <input type="text" name="srcGroupMove" id="srcGroupMove" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="trgGroupMove">Ziel:</label>
                        <input type="text" name="trgGroupMove" id="trgGroupMove" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Move" class="btn btn-primary" />
                    </div>
                }


                using (Html.BeginForm("MergeGroup", null, FormMethod.Post, new { @class = "form", role = "form" }))
                {
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group">
                        <label for="srcGroup">Quelle:</label>
                        <input type="text" name="srcGroup" id="srcGroup" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="trgGroup">Ziel:</label>
                        <input type="text" name="trgGroup" id="trgGroup" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Merge" class="btn btn-primary" />
                    </div>
                }

                using (Html.BeginForm("DeleteGroup2", null, FormMethod.Post, new { @class = "form", role = "form" }))
                {
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group">
                        <label for="delGroup">Gruppe:</label>
                        <input type="text" name="delGroup" id="delGroup" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Delete" class="btn btn-primary" />
                    </div>
                }


            }
        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>SPO</th>
                            <th>Kap</th>
                            <th>WS</th>
                            <th>SS</th>
                            <th>Aliasse</th>
                            <th>Kapazität</th>
                            <th>Curriculum</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var group in Model.CurriculumGroups.OrderBy(g => g.Name))
                        {
                            var n = group.CapacityGroups.Count;

                            if (n > 0)
                            {
                                foreach (var capacityGroup in group.CapacityGroups)
                                {
                                    if (capacityGroup == group.CapacityGroups.First())
                                    {
                                        <tr>
                                            <td rowspan="@n">@group.IsSubscribable</td>
                                            <td rowspan="@n"><a href="@Url.Action("GroupDetails", new {id = group.Id})">@group.Name</a></td>
                                            <td>
                                                @if (User.IsInRole("SysAdmin"))
                                                {
                                                    <div>[@capacityGroup.Id]</div>
                                                }
                                                @capacityGroup.Name
                                            </td>
                                            <td>@capacityGroup.InWS</td>
                                            <td>@capacityGroup.InSS</td>
                                            <td>
                                                @foreach (var groupAlias in capacityGroup.Aliases)
                                                {
                                                    <div>@groupAlias.Name</div>
                                                }
                                            </td>
                                            <td>
                                                @foreach (var semGroup in capacityGroup.SemesterGroups)
                                                {
                                                    if (User.IsInRole("SysAdmin"))
                                                    {
                                                        <div>[@semGroup.Id]</div>
                                                    }
                                                    <div>@semGroup.Semester.Name: @semGroup.FullName (@semGroup.Subscriptions.Count | @semGroup.Activities.Count)</div>
                                                }
                                            </td>
                                            <td rowspan="@n">
                                                @foreach (var semGroup in group.SemesterGroups)
                                                {
                                                    if (semGroup.CapacityGroup == null)
                                                    {
                                                        if (User.IsInRole("SysAdmin"))
                                                        {
                                                            <div>[@semGroup.Id]</div>
                                                        }
                                                        <div>@semGroup.Semester.Name: @semGroup.FullName (@semGroup.Subscriptions.Count | @semGroup.Activities.Count)</div>
                                                    }
                                                }
                                            </td>
                                            <td rowspan="@n">
                                                @if (ViewBag.HasEditRights)
                                                {
                                                    <a class="text-primary"><i class="fa fa-edit"></i></a>
                                                    <a href="@Url.Action("DeleteGroup", new { id = group.Id })" class="text-danger"><i class="fa fa-trash-o"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                @if (User.IsInRole("SysAdmin"))
                                                {
                                                    <div>[@capacityGroup.Id]</div>
                                                }
                                                @capacityGroup.Name
                                            </td>
                                            <td>@capacityGroup.InWS</td>
                                            <td>@capacityGroup.InSS</td>
                                            <td>
                                                @foreach (var groupAlias in capacityGroup.Aliases)
                                                {
                                                    <div>@groupAlias.Name</div>
                                                }
                                            </td>
                                            <td>
                                                @foreach (var semGroup in capacityGroup.SemesterGroups)
                                                {
                                                    if (User.IsInRole("SysAdmin"))
                                                    {
                                                        <div>[@semGroup.Id]</div>
                                                    }
                                                    <div>@semGroup.Semester.Name: @semGroup.FullName (@semGroup.Subscriptions.Count | @semGroup.Activities.Count)</div>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>@group.IsSubscribable</td>
                                    <td><a href="@Url.Action("GroupDetails", new { id = group.Id })">@group.Name</a></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @foreach (var semGroup in group.SemesterGroups)
                                        {
                                            if (semGroup.CapacityGroup == null)
                                            {
                                                if (User.IsInRole("SysAdmin"))
                                                {
                                                    <div>[@semGroup.Id]</div>
                                                }
                                                <div>@semGroup.Semester.Name: @semGroup.FullName (@semGroup.Subscriptions.Count | @semGroup.Activities.Count)</div>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (ViewBag.HasEditRights)
                                        {
                                            <a class="text-primary"><i class="fa fa-edit"></i></a>
                                            <a href="@Url.Action("DeleteGroup", new { id = group.Id })" class="text-danger"><i class="fa fa-trash-o"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
