@model MyStik.TimeTable.Data.Curriculum
@{
    ViewBag.Title = Model.ShortName;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Studiengang @Model.ShortName (@Model.Name)</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <ul class="nav">
                            <li>
                                <a href="@Url.Action("Admin", "Curriculum", new {id = Model.Id})" class="btn btn-outline-primary"><i class="bi bi-chevron-left"></i> Zurück</a>
                            </li>
                            <li>
                                <a href="@Url.Action("CreateGroup", new {id = Model.Id})" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Neue Studiengruppe</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-10">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-calendar"></i>Studiengruppen
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Kapazitätsgruppe(n)</th>
                                        <th>WS</th>
                                        <th>SS</th>
                                        <th>Kap-Gruppe</th>
                                        <th>Stud-Gruppe</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var group in Model.CurriculumGroups.OrderBy(g => g.Name))
                                    {
                                        var n = group.CapacityGroups.Count;

                                        if (n > 0)
                                        {
                                            foreach (var capacityGroup in group.CapacityGroups)
                                            {
                                                if (capacityGroup == group.CapacityGroups.First())
                                                {
                                                    <tr>
                                                        <td rowspan="@n">
                                                            @group.Name
                                                        </td>
                                                        <td>
                                                            @if (string.IsNullOrEmpty(capacityGroup.Name))
                                                            {
                                                                <div>[@group.Name]</div>
                                                            }
                                                            else
                                                            {
                                                                @capacityGroup.Name
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (capacityGroup.InWS)
                                                            {
                                                                <i class="fa fa-check text-success"></i>
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (capacityGroup.InSS)
                                                            {
                                                                <i class="fa fa-check text-success"></i>
                                                            }

                                                        </td>
                                                        <td>
                                                            @if (ViewBag.HasEditRights)
                                                            {
                                                                <a href="@Url.Action("EditCapacityGroup", new {id = capacityGroup.Id})" class="btn btn-outline-primary"><i class="fas fa-edit"></i></a>
                                                                <a href="@Url.Action("DeleteCapacityGroup", new {id = capacityGroup.Id})" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                                                            }
                                                        </td>
                                                        <td rowspan="@n">
                                                            @if (ViewBag.HasEditRights)
                                                            {
                                                                <a href="@Url.Action("CreateCapacityGroup", new {id = group.Id})" class="btn btn-outline-primary"><i class="bi bi-folder-plus"></i> Neue Kap-Gruppe</a>
                                                                <a href="@Url.Action("EditCurriculumGroup", new {id = group.Id})" class="btn btn-outline-primary"><i class="fas fa-edit"></i></a>
                                                                <a href="@Url.Action("DeleteCurriculumGroup", new {id = group.Id})" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>
                                                            @capacityGroup.Name
                                                        </td>
                                                        <td>
                                                            @if (capacityGroup.InWS)
                                                            {
                                                                <i class="fa fa-check text-success"></i>
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (capacityGroup.InSS)
                                                            {
                                                                <i class="fa fa-check text-success"></i>
                                                            }

                                                        </td>
                                                        <td>
                                                            @if (ViewBag.HasEditRights)
                                                            {
                                                                <a href="@Url.Action("EditCapacityGroup", new {id = capacityGroup.Id})" class="btn btn-outline-primary"><i class="fas fa-edit"></i></a>
                                                                <a href="@Url.Action("DeleteCapacityGroup", new {id = capacityGroup.Id})" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>@group.IsSubscribable</td>
                                                <td>@group.Name</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    @if (ViewBag.HasEditRights)
                                                    {
                                                        <a class="text-primary"><i class="fa fa-edit"></i></a>
                                                        <a href="@Url.Action("DeleteCurriculumGroup", new {id = group.Id})" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
