@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Data.CurriculumGroup
@{
    ViewBag.Title = Model.Curriculum.ShortName + " - " + Model.Name;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Studiengruppe @Model.Curriculum.ShortName - @Model.Name</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <ul class="nav">
                            <li>
                                <a href="@Url.Action("CreateModule")"><i class="fa fa-plus"></i> Anlegen</a>
                            </li>
                            <li>
                                <a href="@Url.Action("EditCurriculumGroup", new {id=Model.Id})"><i class="fa fa-cog"></i> Einstellungen</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-10">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-calendar"></i>Module
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Modulbezeichung</th>
                                    <th>Modulverantwortliche(r)</th>
                                    <th>Kontakt</th>
                                    <th>Lehrveranstaltungen</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var module in Model.Modules)
                                {
                                    <tr>
                                        <td><a href="@Url.Action("ModuleDetails", new {id = module.Id})">@module.Name</a></td>
                                        @if (module.MV != null)
                                        { 
                                        <td>@module.MV.Name</td>
                                        }
                                        else
                                        {
                                            <td>unbekannt</td>
                                        }
                                        <td>
                                            <a href="mailto:" class="btn btn-default btn-xs"><i class="fa fa-envelope-o"></i> E-Mail senden</a>
                                        </td>
                                        <td>@module.ModuleCourses</td>
                                        <td>
                                            @if (ViewBag.HasEditRights)
                                            {

                                            }
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.UserRight.IsOrgMember && ViewBag.UserRight.User.MemberState == MemberState.Staff)
            {
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-calendar"></i>Semestergruppen
                        </div>
                        <div class="actions">
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-4">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Semester</th>
                                        <th>Name</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var group in Model.SemesterGroups.OrderBy(g => g.Semester.StartCourses).ThenBy(g => g.GroupName))
                                    {
                                        <tr>
                                            <td>
                                                @Ajax.ActionLink(group.Semester.Name, "CourseListByProgram", "Curriculum", new {semGroupId = group.Id, compact = true},
                                                    new AjaxOptions
                                                    {
                                                        HttpMethod = "Post",
                                                        InsertionMode = InsertionMode.Replace,
                                                        UpdateTargetId = "courseList"
                                                    })

                                            </td>
                                            <td>@group.FullName</td>
                                            <td>
                                                @if (ViewBag.HasEditRights)
                                                {

                                                }
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <div id="courseList"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>







