@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Helpers
@model ICollection<MyStik.TimeTable.Data.ActivityOrganiser>

@{
    var containerType = "container-fluid";
    if (!Request.IsAuthenticated)
    {
        // Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
        containerType = "container";
    }

    ViewBag.Title = "Studiengänge";

    var isMember = ViewBag.UserRight.IsOrgMember;

    var txtMenu = "alle Einrichtungen";
    ActivityOrganiser myOrg = null;
    if (Model.Count() == 1)
    {
        myOrg = Model.First();
        txtMenu = Model.First().Name;
    }
}


@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Campus", "University")">HM</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Curricula", "University")">Studienangebote</a></li>
                <li class="breadcrumb-item active" aria-current="page">@txtMenu</li>
            </ol>
        </nav>


        <div class="card">
            @if (ViewBag.UserRight.IsCurriculumAdmin && myOrg != null)
            {
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="btn-group">
                            <a href="@Url.Action("Create", new {id=myOrg.Id})" class="btn btn-outline-primary"><i class="bi-plus"></i> Studiengang anlegen</a>
                        </div>
                    </div>
                </div>
            }
            <table id="tabCurricula" class="table">
                <thead>
                    <tr>
                        <th>Bezeichnung </th>
                        <th>Abschluss</th>
                        <th>PKV</th>
                        <th>Version</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var org in Model.OrderBy(x => x.ShortName))
                    {
                        foreach (var curr in org.Curricula.OrderBy(x => x.Name))
                        {
                            var pk = curr.Organiser.Autonomy != null ?
                                curr.Organiser.Autonomy.Committees.FirstOrDefault(x => x.Name.Equals("PK") &&
                                                                                       x.Curriculum != null &&
                                                                                       x.Curriculum.Id == curr.Id) : null;

                            var pkv = pk != null ? pk.Members.FirstOrDefault(x => x.HasChair) : null;

                            var rowClass = "";
                            if (curr.IsDeprecated)
                            {
                                rowClass = "table-secondary";
                            }

                            var hasAreas = curr.Areas.Any();

                            if (isMember || (!isMember && !curr.IsDeprecated))
                            {
                                <tr class="@rowClass">
                                    <td>
                                        <a href="@Url.Action("Details", "Curriculum", new { id = curr.Id })">
                                            @curr.Name (@curr.ShortName)
                                        </a>
                                    </td>
                                    @if (curr.Degree != null)
                                    {
                                        <td>@curr.Degree.Name</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (pkv != null)
                                    {
                                        <td>@pkv.Member.FullName</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>@curr.Tag (@curr.Version)</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabCurricula').DataTable({
                "paging": false
            });
        })

    </script>
}