@using MyStik.TimeTable.Web.Helpers
@model ICollection<MyStik.TimeTable.Data.ActivityOrganiser>

@{
    var containerType = "container-fluid";
    if (!Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutPublicNew.cshtml";
        containerType = "container";
    }

    ViewBag.Title = "Studiengänge";
}


<div class="row" style="margin-top: 20px">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-award"></i> Studiengänge
                @if (ViewBag.UserRight.IsCurriculumAdmin)
                {
                    <a href="@Url.Action("Create")" class="btn btn-default">Studiengang anlegen</a>
                }
            </div>
            <div class="accordion" id="accordionCurricula">
                @foreach (var org in Model.OrderBy(x => x.ShortName))
                {
                    var headId = "h" + org.Id;
                    var collapseId = "c" + org.Id;

                    <div class="card">
                        <div class="card-header" id="@headId">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@collapseId" aria-expanded="true" aria-controls="@collapseId">
                                    @Html.FacultyLabel(org) @org.Name
                                </button>
                            </h2>
                        </div>

                        <div id="@collapseId" class="collapse" aria-labelledby="@headId" data-parent="#accordionCurricula">
                            <div class="card-body">
                                <div class="list-group">
                                    @foreach (var curr in org.Curricula.OrderBy(x => x.Name))
                                    {
                                        <a href="@Url.Action("Index", "Curriculum", new { id=curr.Id})" class="list-group-item  list-group-item-action">
                                            @curr.Name (@curr.ShortName)
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



