@using MyStik.TimeTable.Web.Helpers
@model List<IGrouping <MyStik.TimeTable.Data.ActivityOrganiser, MyStik.TimeTable.Data.Curriculum>>
@{
    ViewBag.Title = Resources.SubMenuStudiesCurricula;
    var i = 0;
}



<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Resources.AllCurriculas</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">            
            @foreach (var org in Model.Where(x => x.Key.IsVisible))
            {
                i++;
                var collapseName = "collapse" + i;
                var isIn = i == 1 ? "in" : "";
                    
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="@org.Key.Id">
                        <h5>
                            @Html.FacultyLabel(org.Key)
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@collapseName">
                                                    @org.Key.ShortName
                                                </a>
                                            </h5>
                    </div>
                    <div id="@collapseName" class="panel-collapse collapse @isIn" role="tabpanel">
                        <div class="list-group">
                            @foreach (var curr in org)
                            {
                                <a href="@Url.Action("Index", "Curriculum", new {id = curr.Id})" class="list-group-item">
                                    <h5 class="list-group-item-heading">@curr.Name (@curr.ShortName)</h5>
                                </a>
                            }

                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</div>



