@model MyStik.TimeTable.Data.ModuleAccreditation
@{
    ViewBag.Title = "LinkModule";
}

<h2>Modul zu Studiengruppen zuordnen</h2>

<h4>@Model.Criteria.Curriculum.ShortName - @Model.Criteria.Name - @Model.Module.Name</h4>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Criteria.Curriculum.CurriculumGroups)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a href="@Url.Action("LinkGroup", new {accrId = Model.Id, groupId=item.Id})">zuordnen</a>
                </td>
            </tr>
        }

    </tbody>
</table>
