@model MyStik.TimeTable.Web.Models.ModuleViewModel
@{
    ViewBag.Title = "ModuleDetails";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Moduldetails</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <ul class="nav">
                            <li>
                                <a href="@Url.Action("EditModule")" class="btn btn-default">

                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>

                                    Bearbeiten

                                </a> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <div class="portlet light bordered">

                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">                                               
                                <table class="table table-striped">    
                                    <tbody>
                                        <tr>
                                            <td><strong>Modulbezeichnung:</strong></td>
                                            <td>@Model.Name</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Stundenplankürzel:</strong></td>
                                            <td>@Model.Shortcut</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Modulverantwortliche(r):</strong></td>
                                            <td>@Model.MV</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Dozent(in):</strong></td>
                                            <td>@Model.Dozent</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Sprache:</strong></td>
                                            <td>@Model.Language</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Zuordnung zum Curriculum:</strong></td>
                                            <td>@Model.Assignment</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Lehrform/SWS:</strong></td>
                                            <td>@Model.SWS</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Arbeitsaufwand:</strong></td>
                                            <td>@Model.Work</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Kreditpunkte:</strong></td>
                                            <td>@Model.Credits</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Voraussetzungen:</strong></td>
                                            <td>@Model.Requirements</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Lernziele/Kompetenzen:</strong></td>
                                            <td>@Model.Skills</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Inhalt:</strong></td>
                                            <td>@Model.Description</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Verbindliche Lehrinhalte:</strong></td>
                                            <td>@Model.Topic</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Studien-/Prüfungsleistung:</strong></td>
                                            <td>@Model.Leistungen</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Literatur:</strong></td>
                                            <td>@Model.Books</td>
                                        </tr>
                                    </tbody>
                                </table>                           
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>