@model MyStik.TimeTable.Web.Models.OrganiserViewModel

@{
    ViewBag.Title = "Studiengänge";
}


<div class="row" style="margin-top: 20px">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-award"></i> Studiengänge @Model.Organiser.Name (@Model.Organiser.ShortName)
            </div>
            <div class="list-group">
                @*
                    @if (ViewBag.UserRights.User.MemberState == MemberState.Staff && ViewBag.UserRights.IsCurriculumAdmin)
                    {
                        <div class="list-group-item">
                            <div class="btn-group" role="group">
                                <a href="@Url.Action("Today", "OrganiserMembers")" class="btn btn-default"><i class="fa fa-coffee"></i> Heute da</a>
                                <a href="@Url.Action("List", "OrganiserMembers")" class="btn btn-default"><i class="fa fa-cogs"></i> Verwaltung</a>
                                <a href="@Url.Action("Index", "OrganiserMembers")" class="btn btn-default"><i class="fa fa-cogs"></i> Alte Adminseite</a>
                            </div>
                        </div>
                    }
                *@
                @foreach (var curr in Model.Organiser.Curricula.OrderBy(x => x.Name))
                {
                    <a href="@Url.Action("Index", "Curriculum", new { id=curr.Id})" class="list-group-item  list-group-item-action">
                        @curr.Name (@curr.ShortName)
                    </a>
                }
            </div>
        </div>
    </div>
</div>
