@model MyStik.TimeTable.Web.Models.DashboardViewModel

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-microphone"></i>
            <span class="caption-subject bold uppercase"> Meine Studienpläne</span>
        </div>
        <div class="actions">
            <a href="@Url.Action("Index", "CoursePlan")" class="btn btn-default btn-sm">
                <i class="fa fa-calendar"></i>
            </a>

            <!-- Button trigger modal-->
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
                <i class="glyphicon glyphicon-question-sign"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
        </div>
                        <div class="modal-body">
                            <img src="@Url.Content("~/Assets/fillter/img/Gauge.png")" alt="Bild konnte nicht geladen werden" width="240" height="240"> </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @{
        var sumIst = 0; //Summe aller ECTS der bisher (zum Ende des Vorsemesters) zugeordneten (später bestandenen) Module
        var sumSoll = 0; // Summe aller ECTS nach Plan zum Ende des aktuellen Semesters
        if (Model.CoursePlan != null)
        {
            sumIst = Model.CoursePlan.Modules.Sum(x => x.Module.ECTS);
            sumSoll = Model.CoursePlan.CurriculumModules.Sum(x => x.Module.ECTS);
        }
        
        if (sumIst == 0)
        {
            sumIst = 1;
        }

        /*
        var aktSem = 2;
        var aktSemECTS = 0;
        
        aktSemECTS = Model.CoursePlan.CurriculumModules.Sum(x => x.Module.ECTS);
        */

        var data_theme = "DarkGreen-LightGreen";

        if ((sumSoll - sumIst) > 35)
        {
            data_theme = "DarkRed-LightRed";
        }
    }

    <div class="portlet-body">
        @if (Model.CoursePlan != null)
        {
        <div class="row">

            <div class="GaugeMeter"
                 data-percent="0"
                 data-text=" /"
                 data-label="210 CP"
                 data-used="@sumIst"
                 data-total="210"
                 data-prepend="@sumIst"
                 data-append="@sumSoll"
                 data-size="150"
                 data-width="11"
                 data-style="Arch"
                 data-color="null"
                 data-back="null"
                 data-theme="@data_theme"
                 data-animate_gauge_colors="1"
                 data-animate_text_colors="1"
                 data-label_color="null"
                 data-stripe="null">
            </div>


        </div>
        <!-- ERSTER TAB VON RECHTS -->

            <div class="row">
                <a href="@Url.Action("Details", "CoursePlan", new {id = Model.CoursePlan.Plan.Id})" class="btn btn-default btn-block">P L A N U N G</a>
            </div>
            
            <div class="row">
                <a href="@Url.Action("Overview", "CoursePlan")" class="btn btn-default btn-block">Was steht dieses Semester an?</a>
            </div>
        }
        else
        {
            <h4>Kein Studienplan vorhanden</h4>
        }

    </div>
</div>





@section styles
{


}

