@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.DashboardViewModel

@{
    var hasPreviousActivities = Model.PreviousSemester != null && Model.MyNextActivities.Any();

}
<div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <span class="caption-subject bold"> Meine Aktivitäten</span>
        </div>
        <ul class="nav nav-tabs">
            <li>
                <a href="#portlet_tab3" data-toggle="tab"> Module </a>
            </li>
            @if (hasPreviousActivities)
        {
            <li>
                <a href="#portlet_tab2" data-toggle="tab">@Model.PreviousSemester.Name</a>
            </li>
    }
            <li class="active">
                <a href="#portlet_tab1" data-toggle="tab">@Model.Semester.Name</a>
            </li>
        </ul>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <div class="tab-pane active" id="portlet_tab1">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Bezeichnung</th>
                        <th>Gruppen</th>
                        <th><i class="fa fa-calendar"></i></th>
                        <th><i class="fa fa-university"></i></th>
                        <th><i class="fa fa-user"></i></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var act in Model.MyActivities)
                    {
                        <tr>
                            <td>
                                @if (act.NextDate != null && act.NextDate.Summary.Date.Begin.Date == DateTime.Today)
                                {
                                    <i class="fa fa-exclamation text-danger"></i>
                                }
                            </td>
                            <td>
                                @if (string.IsNullOrEmpty(act.Activity.Name))
                                {
                                    @Html.ActionLink(
                                        "N.N.",
                                        "Admin", act.Controller, new { id = act.Id }, null)
                                }
                                else
                                {
                                    @Html.ActionLink(
                                        act.Activity.Name,
                                        "Admin", act.Controller, new { id = act.Id }, null)
                                }

                            </td>
                            <td>@Html.GroupList(act.Activity.SemesterGroups)</td>
                            @if (act.NextDate != null)
                            {
                                <td>@Html.TimeSpanWithDate(act.NextDate.Summary.Date)</td>
                                <td>@Html.RoomList(act.NextDate.Summary.Date.Rooms)</td>
                            }
                            else
                            {
                                <td>kein Termin mehr</td>
                                <td></td>
                            }
                            <td>@act.Subscriptions.Count</td>
                            <td>
                                <a href="@Url.Action("CustomOccurrenceMail", "Mailing", new {id = act.Summary.Activity.Occurrence.Id})">
                                    <i class="fa fa-envelope-o"></i>
                                </a>
                            </td>
                        </tr>

                    }
                    @if (Model.OfficeHour != null)
                    {
                        if (Model.OfficeHour.ByAgreement)
                        {
                            <tr>
                                <td></td>
                                <td>
                                    <a href="@Url.Action("OfficeHour", "Lecturer")">Sprechstunde</a>
                                </td>
                                <td colspan="3">Sprechstunde nach Vereinbarung</td>
                                <td></td>
                            </tr>

                        }
                        else
                        {
                            if (Model.NextOfficeHourDate.Date == null)
                            {
                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="@Url.Action("OfficeHour", "Lecturer")">Sprechstunde</a>
                                    </td>
                                    <td colspan="3">Kein weiterer Termin</td>
                                    <td></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="@Url.Action("OfficeHour", "Lecturer")">Sprechstunde</a>
                                    </td>
                                    <td></td>
                                    <td>@Html.TimeSpanWithDate(Model.NextOfficeHourDate.Date)</td>
                                    @if (Model.NextOfficeHourDate.CurrentSlots.Any(m => m.Member != null))
                                    {
                                        <td>
                                            @foreach (var slot in Model.NextOfficeHourDate.CurrentSlots)
                                            {
                                                if (slot.Member != null)
                                                {
                                                    <div>
                                                        @slot.From.ToString(@"hh\:mm"):
                                                        <a href="mailto:@slot.Member.User.Email">@slot.Member.User.FirstName @slot.Member.User.LastName</a>
                                                    </div>
                                                }
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td>Keine Eintragungen!</td>
                                    }
                                    <td>@Model.NextOfficeHourDate.CurrentSlots.Count</td>
                                    <td>
                                        <a href="@Url.Action("OfficeHourDate", "Print", new {id = Model.NextOfficeHourDate.Date.Occurrence.Id})"
                                           onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=0,resizable=1');return false;"><i class="fa fa-print"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    }

                    @foreach (var act in Model.MyCurrentExams)
                    {
                        <tr>
                            <td>
                            </td>
                            <td>
                                @Html.ActionLink(
                                    act.Activity.Name,
                                    "Admin", "Thesis", new { id = act.Id }, null)
                            </td>
                            <td>@Html.GroupList(act.Activity.SemesterGroups)</td>
                            <td></td>
                            <td></td>
                            <td>@act.Subscriptions.Count</td>
                            <td></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            @if (hasPreviousActivities)
            {
                <div class="tab-pane" id="portlet_tab2">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Bezeichnung</th>
                            <th>Gruppen</th>
                            <th><i class="fa fa-calendar"></i></th>
                            <th><i class="fa fa-university"></i></th>
                            <th><i class="fa fa-user"></i></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var act in Model.MyNextActivities)
                        {
                            <tr>
                                <td>
                                    @if (act.NextDate != null && act.NextDate.Summary.Date.Begin.Date == DateTime.Today)
                                    {
                                        <i class="fa fa-exclamation text-danger"></i>
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink(
                                        act.Activity.Name,
                                        "Admin", act.Controller, new { id = act.Id }, null)
                                </td>
                                <td>@Html.GroupList(act.Activity.SemesterGroups)</td>
                                @if (act.NextDate != null)
                                {
                                    <td>@Html.TimeSpanWithDate(act.NextDate.Summary.Date)</td>
                                    <td>@Html.RoomList(act.NextDate.Summary.Date.Rooms)</td>
                                }
                                else
                                {
                                    <td>kein Termin mehr</td>
                                    <td></td>
                                }
                                <td>@act.Subscriptions.Count</td>
                                <td>
                                    <a href="@Url.Action("CustomOccurrenceMail", "Mailing", new {id = act.Summary.Activity.Occurrence.Id})">
                                        <i class="fa fa-envelope-o"></i>
                                    </a>
                                </td>
                            </tr>

                        }
                        @if (Model.OfficeHour != null)
                        {
                            if (Model.OfficeHour.ByAgreement)
                            {
                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="@Url.Action("OfficeHour", "Lecturer")">Sprechstunde</a>
                                    </td>
                                    <td colspan="3">Sprechstunde nach Vereinbarung</td>
                                    <td></td>
                                </tr>

                            }
                            else
                            {
                                if (Model.NextOfficeHourDate.Date == null)
                                {
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a href="@Url.Action("OfficeHour", "Lecturer")">Sprechstunde</a>
                                        </td>
                                        <td colspan="3">Kein weiterer Termin</td>
                                        <td></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td></td>
                                        <td>
                                            <a href="@Url.Action("OfficeHour", "Lecturer")">Sprechstunde</a>
                                        </td>
                                        <td></td>
                                        <td>@Html.TimeSpanWithDate(Model.NextOfficeHourDate.Date)</td>
                                        @if (Model.NextOfficeHourDate.CurrentSlots.Any(m => m.Member != null))
                                        {
                                            <td>
                                                @foreach (var slot in Model.NextOfficeHourDate.CurrentSlots)
                                                {
                                                    if (slot.Member != null)
                                                    {
                                                        <div>
                                                            @slot.From.ToString(@"hh\:mm"):
                                                            <a href="mailto:@slot.Member.User.Email">@slot.Member.User.FirstName @slot.Member.User.LastName</a>
                                                        </div>
                                                    }
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td>Keine Eintragungen!</td>
                                        }
                                        <td>@Model.NextOfficeHourDate.CurrentSlots.Count</td>
                                        <td>
                                            <a href="@Url.Action("OfficeHourDate", "Print", new {id = Model.NextOfficeHourDate.Date.Occurrence.Id})"
                                               onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=0,resizable=1');return false;"><i class="fa fa-print"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                        }



                        </tbody>
                    </table>
                </div>
            }
        <div class="tab-pane" id="portlet_tab3">
            @if (Model.MyModules != null && Model.MyModules.Any())
            {
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var module in Model.MyModules)
                    {
                        <tr>
                            <td><a href="@Url.Action("Details", "Module", new {id = module.Id})">@module.Name</a></td>
                        </tr>
  
                    }
                    </tbody>
                </table>
            }
    @*
    <a href="@Url.Action("Create", "Module")" class="btn btn-primary"><i class="fa fa-plus"></i> Modul anlegen</a>
    *@
        </div>
        </div>
    </div>
</div>




