@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.DashboardViewModel


@{
    var now = DateTime.Now;
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <i class="fa fa-film"></i> Was läuft jetzt?
        </h4>
    </div>
    @if (Model.NowPlayingDates != null && Model.NowPlayingDates.Any())
    {
        <div class="list-group">
            <a href="@Url.Action("Today", "Activity")" class="list-group-item list-group-item-info">
                <h5 class="list-group-item-heading">Tagesprogramm</h5>
                <p class="list-group-item-text">Alle Veranstaltungen des heutigen Tages</p>
            </a>

            @foreach (var date in Model.NowPlayingDates)
            {
                var txtCancelled = "";
                if (date.Occurrence.IsCanceled)
                {
                    txtCancelled = "list-group-item-danger";
                }
                <a href="@Url.Action("Details", "Course", new {id=date.Activity.Id})" class="list-group-item @txtCancelled">
                    <div class="list-group-item-heading">@date.Activity.Name (@date.Activity.ShortName)</div>
                    <div class="list-group-item-text">
                        <ul class="fa-ul">
                            <li><i class="fa fa-li fa-clock-o"></i>@Html.TimeSpan(date)</li>
                            <li><i class="fa fa-li fa-user-md"></i>@Html.LecturerList(date.Hosts, false)</li>
                            <li><i class="fa fa-li fa-building"></i>@Html.RoomList(date.Rooms, false)</li>
                        </ul>
                        
                    </div> 
                </a>
            }
        </div>
    }
    else
    {
        <div class="panel-body">
            <h4>Keine Einträge</h4>
        </div>

    }
</div>




