@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.SemesterActivityModel

<div class="panel panel-default">
    <div class="panel-heading">
        <h4><i class="fa fa-pencil"></i> Meine Aktivitäten (@Model.Semester.Name)</h4>        
    </div>
    <div class="list-group">
        @foreach (var act in Model.MyCourses)
        {
            <div class="list-group-item">
                <h5 class="list-group-item-heading">
                    <a href="@Url.Action("Admin", "Course", new {id=act.Id})">@act.Activity.Name (@act.Activity.ShortName)</a>
                </h5>
            </div>
        }
        @if (Model.MyOfficeHour != null)
        {
            <div class="list-group-item">
                <h5 class="list-group-item-heading">
                    <a href="@Url.Action("OfficeHour", "Lecturer", new {id = Model.Semester.Id})">Sprechstunde</a>
                </h5>
            </div>
        }
        else
        {
            <div class="list-group-item">
                <h5 class="list-group-item-heading">
                    Keine Sprechstunde angeboten
                </h5>
            </div>
        }
    </div>
</div>


