@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.TeachingOverviewModel

<div class="card mb-3">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-start">
            <h5 class="card-title">@Model.CurrentSemester.Semester.Name</h5>
            <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("PersonalPlanWeekly", "Activity", new { id = Model.CurrentSemester.Semester.Id })"><i class="bi bi-calendar-week"></i></a>
                <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("Index", "Dictionary")" data-bs-title="Vorlesungsverzeichnis"><i class="bi bi-collection-play"></i></a>
                <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("Index", "ScriptShop")"><i class="bi bi-file-pdf"></i></a>
                @*<a class="btn btn-sm btn-outline-secondary" href="@Url.Action("Index", "Lottery")"><i class="bi bi-ticket"></i></a>*@
                <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("Subscriptions", "OfficeHour")"><i class="bi bi-question-octagon"></i></a>
            </div>
            <div class="btn-group">
                @if (Model.PrevSemester != null)
                {
                    <a class="btn btn-sm btn-outline-secondary" href="javascript:onSemesterChanged('@Model.PrevSemester.Id')"><i class="bi bi-chevron-double-left"></i></a>
                }
                @if (Model.NextSemester != null)
                {
                    <a class="btn btn-sm btn-outline-secondary" href="javascript:onSemesterChanged('@Model.NextSemester.Id')"><i class="bi bi-chevron-double-right"></i></a>
                }
            </div>
        </div>
    </div>

    <div class="list-group">
        @foreach (var summary in Model.CurrentSemester.Courses)
        {
            <a class="list-group-item list-group-item-action" href="@Url.Action("Details", "Course", new { id = summary.Course.Id })">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="card-title">
                        @summary.Course.Name
                    </div>
                    <div>
                        @if (summary.Subscription != null)
                        {
                            if (summary.Subscription.OnWaitingList)
                            {
                                <span><i class="bi bi-hourglass"></i></span>
                            }
                            else
                            {
                                <span><i class="bi bi-people"></i></span>
                            }
                        }
                        @if (Model.Members.Any())
                        {
                            <span class="badge bg-secondary">
                                <i class="bi bi-people"></i>
                                @summary.Course.Occurrence.Subscriptions.Count
                            </span>
                            if (summary.CurrentDate != null)
                            {
                                <span class="badge bg-danger">
                                    <i class="bi bi-calendar"></i>
                                    @summary.CurrentDate.Begin.ToShortDateString()
                                </span>

                            }
                            else
                            {
                                <span class="badge bg-success">
                                    <i class="bi bi-check"></i>
                                </span>
                            }
                        }
                    </div>
                </div>
            </a>
        }

        @foreach (var oh in Model.CurrentSemester.OfficeHours)
        {
            if (oh.HasSubscription)
            {
                <a class="list-group-item list-group-item-action" href="@Url.Action("SubscriptionDetails", "OfficeHour", new { id = oh.Date.Id })">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="card-title">
                            @oh.OfficeHour.Name
                        </div>

                        <div>
                            @if (oh.Date != null)
                            {
                                <span class="badge bg-secondary">
                                    <i class="bi bi-calendar"></i>
                                    @Html.TimeSpanWithDate(oh.Date)
                                </span>
                            }
                            else
                            {
                                if (oh.OfficeHour.ByAgreement)
                                {
                                }
                                else
                                {
                                    <span class="badge bg-success">
                                        <i class="bi bi-check"></i>
                                    </span>
                                }
                            }

                        </div>
                    </div>
                </a>
            }
            else
            {
                <a class="list-group-item list-group-item-action" href="@Url.Action("OfficeHour", "Lecturer", new { id = oh.OfficeHour.Id })">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="card-title">
                        @oh.OfficeHour.Name
                    </div>

                    <div>
                        @if (oh.Date != null)
                        {
                            <span class="badge bg-secondary">
                                <i class="bi bi-calendar"></i>
                                @Html.TimeSpanWithDate(oh.Date)
                            </span>
                        }
                        else
                        {
                            if (oh.OfficeHour.ByAgreement)
                            {
                            }
                            else
                            {
                                <span class="badge bg-success">
                                    <i class="bi bi-check"></i>
                                </span>
                            }
                        }

                    </div>
                </div>
                </a>
            }
        }

    </div>
</div>
