@model MyStik.TimeTable.Web.Models.TeachingOverviewModel

<div class="card mb-3">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-start">
            <h5 class="card-title">Semester @Model.CurrentSemester.Semester.Name</h5>
            <div class="dropdown">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi-dash"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="@Url.Action("PersonalPlanWeekly", "Activity", new { id = Model.CurrentSemester.Semester.Id })">Wochenkalender</a></li>
                    <li><a class="dropdown-item" href="@Url.Action("Semester", "Dictionary", new { semId = Model.CurrentSemester.Semester.Id })">Vorlesungsverzeichnis</a></li>
                    <li><a class="dropdown-item" href="@Url.Action("Index", "Lottery", new { id = Model.CurrentSemester.Semester.Id })">Wahlverfahren</a></li>
                    @*
                        <li><a class="dropdown-item" href="#">Veranstaltungskalender</a></li>
                        <li><a class="dropdown-item" href="#">Stundenplaner</a></li>
                    *@
                </ul>
            </div>
        </div>
    </div>

    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="@Url.Action("Courses", new {id=Model.CurrentSemester.Semester.Id})">
            Lehrveranstaltungen
        </a>
        <a class="list-group-item list-group-item-action disabled" href="#">
            Sprechstunden
        </a>
        <a class="list-group-item list-group-item-action disabled" href="#">
            Prüfungen
        </a>
    </div>
    <div class="card-body">
        <a href="javascript:onSemesterChanged('@Model.PrevSemester.Id')" class="card-link">@Model.PrevSemester.Name</a>
        <a href="javascript:onSemesterChanged('@Model.NextSemester.Id')" class="card-link">@Model.NextSemester.Name</a>
    </div>
</div>
