@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.DashboardStudentViewModel
@{
    ViewBag.Title = Resources.MenuDashboard;
}

<div class="container-fluid">

    <div class="row" style="margin-top: 20px">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-clock-o"></i> Aktuelles</h4>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <h5 class="list-group-item-heading">Wahlverfahren</h5>
                    </div>
                    @if (Model.Lotteries.Any())
                    {
                        foreach (var lottery in Model.Lotteries)
                        {

                            <a href="@Url.Action("Details", "Lottery", new {id=lottery.Id})" class="list-group-item">
                                <h5 class="list-group-item-heading">
                                    @lottery.Name
                                </h5>
                                @if (!lottery.IsFixed)
                                {
                                    <ul class="fa-ul">
                                        <li><i class="fa fa-li fa-info-circle"></i>Beginn des Eintragungszeitraums: @lottery.IsActiveFrom.Value</li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="fa-ul">
                                        <li><i class="fa fa-li fa-info-circle"></i>Zeitraum für Eintragungen: @Html.TimeSpanWithDate(lottery.IsActiveFrom.Value, lottery.IsActiveUntil.Value)</li>
                                    </ul>
                                }
                            </a>
                        }
                    }
                    else
                    {
                        <div class="list-group-item">
                            <ul class="fa-ul">
                                <li><i class="fa fa-li fa-info-circle"></i>Aktuell keine aktiven Wahlverfahren in meinem Studiengang @Model.Student.Curriculum.ShortName</li>
                            </ul>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Mein Studium <small>(<a href="@Url.Action("Curricula", "Subscription")">@Model.Student.Curriculum.ShortName @Model.Student.FirstSemester.Name</a>)</small></h4>
                </div>
                <div class="list-group">
                    <a class="list-group-item" href="@Url.Action("Index", "Activity")">
                        <h5 class="list-group-item-heading"><i class="fa fa-calendar"></i> Kalender</h5>
                        <div class="list-group-item-text">Tageskalender mit allen Eintragungen</div>
                    </a>
                    <a class="list-group-item" href="@Url.Action("PersonalPlanWeekly", "Activity", new {id = Model.Semester.Id})">
                        <h5 class="list-group-item-heading"><i class="fa fa-pencil"></i> Stundenplan (@Model.Semester.Name)</h5>
                        <div class="list-group-item-text">Wochenübersicht, Terminlisten und Planungswerkzeuge</div>
                    </a>
                    <a href="@Url.Action("Subscriptions", "OfficeHour")" class="list-group-item">
                        <h5 class="list-group-item-heading"><i class="fa fa-user-md"></i> Sprechstundenbuchung</h5>
                        <div class="list-group-item-text">Meine Sprechstundentermine, Sprechstundenangebote</div>
                    </a>
                    <a href="@Url.Action("Overview", "Advertisements")" class="list-group-item">
                        <h5 class="list-group-item-heading"><i class="fa fa-window-maximize"></i> Digitaler Schaukasten</h5>
                        <div class="list-group-item-text">Ausschreibungen für Praktika, Stipendien, Auslandsaufenthalte, Abschlussarbeiten, SHKs, Tutortäigkeiten und mehr</div>
                    </a>
                    <div class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-legal"></i> Wichtige Seiten der HM
                        </h5>
                        <ul class="fa-ul">
                            <li><i class="fa fa-li fa-external-link"></i><a href="https://www.hm.edu/studierende/mein_studium/verlauf/termine.de.html" target="_blank">Prüfungsanmeldung, Rückmeldung und mehr</a></li>
                            <li><i class="fa fa-li fa-external-link"></i><a href="https://www.gs.hm.edu/fk13zwischenseiten/1vorlage/Semesteruebersicht.de.html" target="_blank">AW-Fächer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Meine Fakultät (@Model.Student.Curriculum.Organiser.ShortName)</h4>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("Organiser", "Event", new {semId = Model.Semester.Id, orgId = Model.Student.Curriculum.Organiser.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading"><i class="fa fa-microphone"></i> Veranstaltungen</h5>
                        <div class="list-group-item-text">Informationen, Vorträge und mehr</div>
                    </a>
                    <a href="@Url.Action("Index", "Union")" class="list-group-item">
                        <h5 class="list-group-item-heading"><i class="fa fa-group"></i> Studentische Aktivitäten</h5>
                        <div class="list-group-item-text">Alles rund um die Fachschaft</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



