@model MyStik.TimeTable.Web.Models.DashboardViewModel
@{
    ViewBag.Title = "Startseite";
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="@Url.Action("Index", "Reservation")">
                <div class="dashboard-stat fillter-rooms">
                    <div class="visual">
                        <i class="fa fa-bed"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            Raumreservierungen
                        </div>
                        <div class="desc">Sitzungen, etc.</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="@Url.Action("Index", "Courses")">
                <div class="dashboard-stat fillter-study">
                    <div class="visual">
                        <i class="fa fa-sitemap"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            Lehrangebot
                        </div>
                        <div class="desc">Studiengänge, Wahlverfahren</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="@Url.Action("Index", "Events")">
                <div class="dashboard-stat fillter-events">
                    <div class="visual">
                        <i class="fa fa-music"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            Veranstaltungen
                        </div>
                        <div class="desc">Vorträge, Informationen, etc.</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="@Url.Action("PersonalPlan", "Activity")">
                <div class="dashboard-stat fillter-lecturer">
                    <div class="visual">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            Mein Kalender
                        </div>
                        <div class="desc">Alle meine Termine</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-search"></i> Ressourcen
                    </h4>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("Rooms", "Organiser")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-building-o"></i> Räume
                        </h5>
                        <div class="list-group-item-text">Liste aller Räume, Raumbelegungen und Suche nach freien Räumen.</div>
                    </a>
                    <a href="@Url.Action("Index", "OrganiserMembers")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-user-md"></i> Lehrende
                        </h5>
                        <div class="list-group-item-text">Liste aller Lehrenden mit Stundenplänen.</div>
                    </a>
                    <a href="@Url.Action("Index", "Students")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-user-o"></i> Studierende & Alumni
                        </h5>
                        <div class="list-group-item-text">Suche nach Studierenden</div>
                    </a>
                    <a href="@Url.Action("Index", "Thesis")" class="list-group-item">
                        <span class="badge badge-success">neu</span>
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-book"></i> Abschlussarbeiten
                        </h5>
                        <div class="list-group-item-text">Laufende Abschlussarbeiten</div>
                    </a>
                    <a href="@Url.Action("Index", "Archive")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-archive"></i> Archiv
                        </h5>
                        <div class="list-group-item-text">Abgeschlossene Seminar-, Projekt- und Abschlussarbeiten</div>
                    </a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-bullhorn"></i> Kommunikation
                    </h4>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("Index", "Mailing")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-envelope"></i> Mailverteiler
                        </h5>
                        <div class="list-group-item-text">Versand von E-Mails an alle Studierenden oder Auswahl von Gruppen, z.B. Erstsemester</div>
                    </a>
                    <a href="@Url.Action("Newsletter", "Organiser")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-newspaper-o"></i> Newsletter
                        </h5>
                        <div class="list-group-item-text">Versand von Nachrichten über spezielle Newsletter</div>
                    </a>
                    <a href="@Url.Action("Index", "Advertisements")" class="list-group-item">
                        <span class="badge badge-success">neu</span>
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-bullhorn"></i> Ausschreibungen
                        </h5>
                        <div class="list-group-item-text">Alles mit Bezug zu Praxissemester, Abschlussarbeit, Auslandsaufenthalt und Förderungen (z.B. Stipendien)</div>
                    </a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-cogs"></i> Verwaltung
                    </h4>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("Admins", "Organiser")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-legal"></i> Rechte & Rollen
                        </h5>
                    </a>
                    <a href="@Url.Action("PersonalProfile", "OrganiserMembers")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-user-circle-o"></i> Mein Profil
                        </h5>
                    </a>
                    <a href="@Url.Action("Index", "Teaching")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-cube"></i> Meine Lehre
                        </h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @if (Model.NextSemester != null)
            {
                @Html.Partial("_PortletActivities", Model.NextSemesterActivities)
            }
            @Html.Partial("_PortletActivities", Model.ThisSemesterActivities)
            @if (Model.PreviousSemester != null)
            {
                @Html.Partial("_PortletActivitiesCompact", Model.PreviousSemesterActivities)
            }
            @Html.Partial("_PortletHistory")
        </div>
        <div class="col-md-3">
            @Html.Partial("_PortletCurrentCompact", Model)
        </div>
    </div>
</div>



