@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.DashboardStudentViewModel
@{
    ViewBag.Title = Resources.MenuDashboard;
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("PersonalPlan", "Activity")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-3x fa-calendar"></i></h4>
                    <h5>Mein Kalender</h5>
                </a>
                <div class="btn-group btn-group-justified">
                    <a href="@Url.Action("PersonalPlanToday", "Activity")" class="btn btn-default">Heute</a>
                    <a href="@Url.Action("PersonalPlanTomorrow", "Activity")" class="btn btn-default">Morgen</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Semester", "Planer")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-3x fa-map-o"></i></h4>
                    <h5>Mein Stundenplan</h5>
                </a>
                <div class="btn-group btn-group-justified">
                    <a href="@Url.Action("Courses", "Planer", new {id=Model.Semester.Id})" class="btn btn-default">@Model.Semester.Name</a>
                    <a href="@Url.Action("Courses", "Planer", new {id=Model.NextSemester.Id})" class="btn btn-default">@Model.NextSemester.Name</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Curricula", "Subscription")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-3x fa-graduation-cap"></i></h4>
                    <h5>Mein Studium</h5>
                </a>
                <div class="btn-group btn-group-justified">
                    <a href="" class="btn btn-default">Praxissemester</a>
                    <a href="" class="btn btn-default">Abschlussarbeit</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="" class="btn btn-default btn-block">
                    <h4><i class="fa fa-3x fa-user-md"></i></h4>
                    <h5>Meine Ansprechpartner</h5>
                </a>
                <div class="btn-group btn-group-justified">
                    <a href="@Url.Action("Subscriptions", "OfficeHour")" class="btn btn-default">Sprechstunden</a>
                    <a href="" class="btn btn-default">XXX</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Index", "Dictionary")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-3x fa-book"></i></h4>
                    <h5>Vorlesungsverzeichnis</h5>
                </a>
                <div class="btn-group btn-group-justified">
                    <a href="@Url.Action("Organiser", "Dictionary", new {orgId=Model.Organiser.Id, semId=Model.Semester.Id})" class="btn btn-default">@Model.Semester.Name</a>
                    <a href="@Url.Action("Organiser", "Dictionary", new {orgId=Model.Organiser.Id, semId=Model.NextSemester.Id})" class="btn btn-default">@Model.NextSemester.Name</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Index", "Event")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-3x fa-bullhorn"></i></h4>
                    <h5>Veranstaltungen</h5>
                </a>
                <div class="btn-group btn-group-justified">
                    <a href="" class="btn btn-default">Heute</a>
                    <a href="" class="btn btn-default">Morgen</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Overview", "Advertisements")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-3x fa-window-maximize"></i></h4>
                    <h5>Schaukasten</h5>
                </a>
                <div class="btn-group btn-group-justified">
                    <a href="https://jobs.hm.edu" target="_blank" class="btn btn-default">Jobbörse HM</a>
                    <a href="" class="btn btn-default">XXX</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Index", "Newsletter")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-3x fa-envelope-o"></i></h4>
                    <h5>Newsletter</h5>
                </a>
                <div class="btn-group btn-group-justified">
                    <a href="" class="btn btn-default">XXX</a>
                    <a href="" class="btn btn-default">XXX</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Index", "Union")" class="btn btn-default btn-block">
                        <h4><i class="fa fa-3x fa-handshake-o"></i></h4>
                    <h5>Meine Fachschaft</h5>
                </a>
                <div class="btn-group btn-group-justified">
                    <a href="" class="btn btn-default">XXX</a>
                    <a href="" class="btn btn-default">XXX</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="https://hm.edu/studierende/index.de.html" target="_blank" class="btn btn-default btn-block">
                        <h4><i class="fa fa-3x fa-legal"></i></h4>
                    <h5>Meine Hochschule</h5>
                </a>
                <div class="btn-group btn-group-justified">
                    <a href="https://www.hm.edu/studierende/mein_studium/verlauf/termine.de.html" target="_blank" class="btn btn-default">Fristen & Termine</a>
                    <a href="https://www.hm.edu/studierende/mein_studium/recht/verordnungen_satzungen.de.html" target="_blank" class="btn btn-default">SPOs & Studienpläne</a>
                </div>
            </div>
        </div>
    </div>
</div>













