@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.DashboardViewModel
@{
    ViewBag.Title = "Meine Termine";
}

@section styles
{

}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-hm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Das Wichtigste im @Model.Semester.Name auf einen Blick</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row" id="sortable_portlets">
                <div class="col-md-4 column sortable">
                    <div id="portletCourses">
                        @Html.Partial("_PortletCourses", Model)
                    </div>
                    <div id="portletOfficHour">
                        @Html.Partial("_PortletOfficeHour", Model)
                    </div>
                    <!-- empty sortable porlet required for each columns! -->
                    <div class="portlet portlet-sortable-empty">
                    </div>
                </div>
            <div class="col-md-4 column sortable">
                @if (Model.Member != null)
                {
                    <div id="portletFaculty">
                        @Html.Partial("_PortletFaculty", Model)
                    </div>
                }
                <div id="portletSemester">
                    @Html.Partial("_PortletSemester", Model)
                </div>
                <!-- empty sortable porlet required for each columns! -->
                <div class="portlet portlet-sortable-empty">
                </div>
            </div>
                <div class="col-md-4 column sortable">
                    <div id="portletCurrent">
                        @Html.Partial("_PortletCurrent", Model)
                    </div>
                    <!-- empty sortable porlet required for each columns! -->
                    <div class="portlet portlet-sortable-empty">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Assets/admin/pages/scripts/portlet-draggable.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        PortletDraggable.init();
    });

    function onCurriculumChanged() {

        var prog = $('#Curriculum option:selected').val();

        $.ajax(
        {
            type: 'POST',
            url: '@Url.Action("GroupList", "Dashboard")',
            data: {
                currId: prog
            },
            success: function (data, success, xhr) {
                $('#CurrGroup').html(data);
            }
        });
    }


</script>


}
