@model MyStik.TimeTable.Web.Models.DashboardViewModel
@{
    ViewBag.Title = "Meine Termine";
}

@section styles
{

}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">
                Status Gast
            </h3>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_PortletStudentUpgrade", Model)
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            Alle Sprechstunden im @Model.Semester.Name
                        </div>
                        <div class="actions">
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="list-group">
                            @foreach (var oh in Model.OfficeHours.OrderBy(x => x.Owners.First().Member.Name))
                            {
                                var lec = oh.Owners.First().Member;

                                if (oh.ByAgreement)
                                {
                                    var txt = "Sprechstunde nach Vereinbarung";
                                    if (!string.IsNullOrEmpty(oh.Description))
                                    {
                                        txt = oh.Description;
                                    }
                                    <a href="@Url.Action("Member", "Organiser", new {id = lec.Id})" class="list-group-item">
                                        <span class="badge">@txt</span>
                                        @lec.Name (@lec.ShortName)
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Member", "Organiser", new {id=lec.Id})" class="list-group-item">
                                        <span class="badge">Sprechstunde mit Terminen</span>
                                        @lec.Name (@lec.ShortName)
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
</div>


@section scripts{
}
