
@{
    Layout = "~/Views/Shared/_LayoutDashboardSidebar.cshtml";
    ViewBag.Title = "Startseite";
}

<div class="row">
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Meine Agenda</h5>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <a href="#"><</a>
                    <div>Datepicker</div>
                    <a href="#">></a>
                </div>
            </div>
            <div class="card-body">
                <a href="@Url.Action("PersonalPlan", "Activity")" class="card-link">Tageskalender</a>
                <a href="@Url.Action("PersonalPlan", "Activity")" class="card-link">Wochenkalender</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Meine Lehrveranstaltungen</h5>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                </div>
            </div>
            <div class="card-body">
                <a href="@Url.Action("PersonalPlan", "Activity")" class="card-link">Senesrer zurück</a>
                <a href="@Url.Action("PersonalPlan", "Activity")" class="card-link">Semester vor</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Meine Prüfungen</h5>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                </div>
            </div>
            <div class="card-body">
                <a href="@Url.Action("PersonalPlan", "Activity")" class="card-link">Senesrer zurück</a>
                <a href="@Url.Action("PersonalPlan", "Activity")" class="card-link">Semester vor</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Mein Studium</h5>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    Aktuell:
                </div>
                <div class="list-group-item">
                    Abschlussarbeit
                </div>
            </div>
            <div class="card-body">
                <a href="@Url.Action("PersonalPlan", "Activity")" class="card-link">Studienbuch</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Meine Ansprechpartner:innen</h5>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    Dozent:innen
                </div>
                <div class="list-group-item">
                    Themenbereiche
                </div>
            </div>
            <div class="card-body">
                <a href="@Url.Action("PersonalPlan", "Activity")" class="card-link">FK09</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Meine Module</h5>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    Modul 1
                </div>
                <div class="list-group-item">
                    Modul 2
                </div>
            </div>
            <div class="card-body">
                <a href="@Url.Action("PersonalPlan", "Activity")" class="card-link">LUFV</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Meine Abschlussarbeiten</h5>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    Aktuell:
                </div>
                <div class="list-group-item">
                    Abschlussarbeit
                </div>
            </div>
            <div class="card-body">
                <a href="@Url.Action("PersonalPlan", "Activity")" class="card-link">Laufende</a>
                <a href="@Url.Action("PersonalPlan", "Activity")" class="card-link">Abgerechnete</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Meine Ressourcen</h5>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    Virtuelle Räume
                </div>
                <div class="list-group-item">
                    Schaukasten
                </div>
            </div>
            <div class="card-body">
                <a href="@Url.Action("PersonalPlan", "Activity")" class="card-link">FK09</a>
                <a href="@Url.Action("PersonalPlan", "Activity")" class="card-link">FK10</a>
            </div>
        </div>
    </div>
</div>


