@model MyStik.TimeTable.Web.Controllers.AlumniContactDataModel
@{
    ViewBag.Title = "Einladung";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Eingabe Kontaktdaten als Alumni</h5>
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.Id)
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div><strong>Persönliche Daten</strong></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", disabled = "" } })
                                <label for="Email">E-Mail Adresse</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                <label for="Code">Zugangscode</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-floating mb-3">
                                <select id="Gender" name="Gender" class="form-select slot-option">
                                    <option selected value="">(ohne)</option>
                                    <option value="Frau">Frau</option>
                                    <option value="Herr">Herr</option>
                                </select>
                                <label for="Gender">Anrede</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                <label for="Title">akad. Titel (heute)</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                <label for="FirstName">Vorname</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                <label for="LastName">Nachname</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div><strong>Angaben zum letzten Studienabschluss</strong></div>
                        </div>
                    </div>
                    if (ViewBag.Curriculum == null)
                    {
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-floating mb-2">
                                    <select id="Degee" name="Degree" class="form-select" id="floatingSelect">
                                        <option value="Bachelor" selected>Bachelor</option>
                                        <option value="Master">Master</option>
                                        <option value="Promotion">Promotion</option>
                                    </select>
                                    <label for="Degee">Abschluss</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-2">
                                    <select id="FacultyId" name="FacultyId" class="form-select slot-option">
                                        @foreach (var org in ViewBag.Organisers)
                                        {
                                            <option value="@org.Id">@org.Name</option>
                                        }
                                    </select>
                                    <label for="FacultyId">Fakultät</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-floating mb-2">
                                    <select id="Semester" name="Semester" class="form-select" id="floatingSelect">
                                        <option value="WiSe" selected>Wintersenester</option>
                                        <option value="SoSe">Sommersemester</option>
                                    </select>
                                    <label for="floatingSelect">Semester</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-floating mb-2">
                                    <select id="Year" name="Year" class="form-select" id="floatingSelect">
                                        @foreach (var y in ViewBag.Years)
                                        {
                                            <option value="@y">@y</option>
                                        }
                                    </select>
                                    <label for="Year">Jahr</label>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {

                    }
                    <div class="row">
                        <div class="form-check">
                            <input type="checkbox" id="DatenschutzGelesen" name="DatenschutzGelesen" value="zugestimmt" required>
                            <label for="DatenschutzGelesen" class="form-check-label">Die Hinweise zum <a href="@Url.Action("PrivacyStatement", "Home")" title='' target="_blank">Datenschutz</a> habe ich gelesen!</label>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i> Daten speichern</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




@section scripts
{
    <script>

    </script>

}
