@model ICollection<MyStik.TimeTable.Web.Models.AlumniStatisticModel>
@{
    ViewBag.Title = "Alumni";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Alumni</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            @if (ViewBag.UserRight.IsOrgMember || ViewBag.UserRight.IsOrgAdmin)
            {
                <div class="row">
                    <div class="panel panel-default">
                        <ul class="nav">
                            <li>
                                <a href="@Url.Action("Invitation")"><i class="icon-present"></i> Einladen</a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
            @if (User.IsInRole("SysAdmin"))
            {
                <div class="row">
                    <div class="panel panel-default">
                        <ul class="nav">
                            <li>
                                <a href="@Url.Action("Delete")"><i class="fa fa-trash-o"></i> Löschen</a>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>

        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Statistik</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Studiengang</th>
                            <th>Aktuell Studentenzahl</th>
                            <th>Anzahl Alumni</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var curr in @Model)
                        {
                            <tr>
                                <td>@curr.Curriculum.ShortName</td>
                                <td>@curr.CurrentStudentCount</td>
                                <td>@curr.AlumniCount</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


