@model MyStik.TimeTable.Data.Alumnus
@{
    ViewBag.Title = "Alumni";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4>Vielen Dank für die Erfassung Ihrer Kontaktdaten</h4>
                <p>Wir freuen uns mit Ihnen in Verbindung zu bleiben. Wir haben folgende Angaben gespeichert</p>
                <ul>
                    <li>@Model.Gender @Model.Title @Model.FirstName @Model.LastName</li>
                    <li>@Model.Email</li>
                    <li>@Model.Degree (@Model.FinishingSemester)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

