@model ICollection<WIQuest.Web.Data.QuestLog>
@{
    ViewBag.Title = "Evaluation";
}


<div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@ViewBag.ResultMathe" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.ResultMathe%">
        Mathematik @ViewBag.ResultMathe%
    </div>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@ViewBag.ResultTech" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.ResultTech%">
        Technik @ViewBag.ResultTech%
    </div>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@ViewBag.ResultNatur" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.ResultNatur%">
        Naturwissenschaften @ViewBag.ResultNatur%
    </div>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@ViewBag.ResultWirt" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.ResultWirt%">
        Wirtschaft @ViewBag.ResultWirt%
    </div>

</div>
<br>
<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@ViewBag.Result" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.Result%">
        Gesamtergebnis @ViewBag.Result%
    </div>
</div>



<div class="container">
    <div class="col-md-2">
    </div>

    <div class="col-md-8">
        <br/>
        <p>
        Von @ViewBag.AnzahlFragen Fragen haben Sie @ViewBag.IsCorrect Fragen richtig beanwortet.
        <br/>


        @if (ViewBag.Result > 75)
        {
            <p> Über 75% richtig! </p>
        }
        else
        {
            if (ViewBag.Result < 50)
            {
                <p> Weniger als 50% richtig </p>
            }
            else
            {
                <p> Zwischen 50% und 75% richtig </p>

            }
        }





        <br/>
        <p>
        Ihre Ergebnisse im Detail
        <br/>

        <div class="col-md-12">
            <table class="table">
                <tbody>
                <tr>
                    <td><strong>Mathematik</strong></td>

                    @foreach (var questLog in Model
                        .Where(logEntry => logEntry.Question.Category.Name.Equals("Mathematik"))
                        .OrderBy(logEntry => logEntry.Question.Reihenfolge))
                    {
                        if (questLog.Answer != null)
                        {
                            if (questLog.Answer.IsCorrect)
                            {
                                <td><input type="button" class="btn btn-success" value="@questLog.Question.Reihenfolge"></td>
                            }
                            else
                            {
                                <td><input type="button" class="btn btn-danger" value="@questLog.Question.Reihenfolge"></td>
                            }
                        }
                        else
                        {
                            <td><input type="button" class="btn btn-warning" value="N"></td>
                        }
                    }

                </tr>

                <tr>
                    <td><strong>Technik</strong></td>

                    @foreach (var questLog in Model
                        .Where(logEntry => logEntry.Question.Category.Name.Equals("Technik"))
                        .OrderBy(logEntry => logEntry.Question.Reihenfolge))
                    {
                        if (questLog.Answer != null)
                        {
                            if (questLog.Answer.IsCorrect)
                            {
                                <td><input type="button" class="btn btn-success" value="@questLog.Question.Reihenfolge"></td>
                            }
                            else
                            {
                                <td><input type="button" class="btn btn-danger" value="@questLog.Question.Reihenfolge"></td>
                            }
                        }
                        else
                        {
                            <td><input type="button" class="btn btn-warning" value="N"></td>
                        }
                    }
                </tr>

                <tr>
                    <td><strong> Naturwissenschaften</strong></td>

                    @foreach (var questLog in Model
                        .Where(logEntry => logEntry.Question.Category.Name.Equals("Naturwissenschaften"))
                        .OrderBy(logEntry => logEntry.Question.Reihenfolge))
                    {
                        if (questLog.Answer != null)
                        {
                            if (questLog.Answer.IsCorrect)
                            {
                                <td><input type="button" class="btn btn-success" value="@questLog.Question.Reihenfolge"></td>
                            }
                            else
                            {
                                <td><input type="button" class="btn btn-danger" value="@questLog.Question.Reihenfolge"></td>
                            }
                        }
                        else
                        {
                            <td><input type="button" class="btn btn-warning" value="N"></td>
                        }
                    }

                </tr>
                <tr>
                    <td>
                        <strong>Wirtschaft</strong>
                    </td>

                    @foreach (var questLog in Model
                        .Where(logEntry => logEntry.Question.Category.Name.Equals("Wirtschaft"))
                        .OrderBy(logEntry => logEntry.Question.Reihenfolge))
                    {
                        if (questLog.Answer != null)
                        {
                            if (questLog.Answer.IsCorrect)
                            {
                                <td><input type="button" class="btn btn-success" value="@questLog.Question.Reihenfolge"></td>
                            }
                            else
                            {
                                <td><input type="button" class="btn btn-danger" value="@questLog.Question.Reihenfolge"></td>
                            }
                        }
                        else
                        {
                            <td><input type="button" class="btn btn-warning" value="N"></td>
                        }
                    }

                </tr>

                </tbody>
            </table>
        </div>


    </div>
    <div class="col-md-2">
    </div>
</div>

<div>
    <img src="@Url.Action("ShowChart", "Home", new {area = "Quest", id = Model.First().User.Id})"
         alt="Bild"
         style="height: auto; width: auto" />
    
</div>
@{
    Layout = "~/Areas/Quest/Views/Shared/_Evaluation_Layout.cshtml";
}
