@using MyStik.TimeTable.Web.Helpers
@model ICollection<MyStik.TimeTable.Web.Models.StudentViewModel>


    <table id="tabStud" class="table table-sm table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Nachname</th>
                <th>Vorname</th>
                <th>Studiengang</th>
                <th>Kohorte(n)</th>
                <th>Studienbeginn</th>
                <th>Status</th>
                <th>E-Mail</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr id="@user.Student.Id">
                @if (user.Student != null && user.Student.Curriculum != null)
                {
                    <td>@Html.FacultyLabel(user.Student.Curriculum.Organiser)</td>
                }
                else
                {
                    <td></td>

                }
                <td>
                    @user.User.LastName
                </td>
                <td>@user.User.FirstName</td>
                @if (user.Student != null)
                {
                    if (user.Student.Curriculum != null && user.Student.FirstSemester != null)
                    {
                        <td>@user.Student.Curriculum.ShortName</td>
                        <td>
                            @if (user.Student.LabelSet != null)
                            {
                                foreach (var label in user.Student.LabelSet.ItemLabels)
                                {
                                    <div>@label.Name</div>
                                }
                            }
                        </td>
                        <td>@user.Student.FirstSemester.Name</td>
                        if (user.Student.LastSemester != null)
                        {
                            <td>@user.Student.LastSemester.Name</td>
                        }
                        else
                        {
                            <td>aktiv</td>
                        }
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    }
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                }
                <td>@user.User.Email</td>
            </tr>
        }
        </tbody>

    </table>
