@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Models
@model ICollection<StudentStatisticsModel>
@{
    ViewBag.Title = "Studierende";
    var unions = (ICollection<ActivityOrganiser>) ViewBag.Unions;

    var i = 0;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Studierende</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-search"></i> Suche <span id="loading" hidden=""><i class="fa fa-spinner fa-spin text-muted"></i></span></h4>
                    @using (Ajax.BeginForm("Search", "Students", null,
                        new AjaxOptions
                        {
                            HttpMethod = "Post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "StudList",
                            LoadingElementId = "loading"
                        },
                        new {@class = "form-inline", role = "form"}))
                    {
                        <div class="form-group">
                            <input type="text" name="searchString" id="searchString" class="form-control" placeholder="Name / Vorname" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Suchen" class="btn btn-primary" />
                        </div>
                    }
                </div>
                <div class="panel-body">
                    <div id="StudList"></div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-group"></i> Gruppen</h4>
                </div>
                <div class="list-group">
                    <a class="list-group-item" href="@Url.Action("StartGroups")">
                        <div class="list-group-item-heading">
                            <h5><i class="fa fa-graduation-cap"></i> Nach Studiengang und Studienbeginn</h5>
                        </div>
                    </a>
                    <a class="list-group-item" href="@Url.Action("SemesterGroups")">
                        <div class="list-group-item-heading">
                            <h5><i class="fa fa-pencil"></i> Nach Kursbelegung in Semestergruppen</h5>
                        </div>
                    </a>
                    @*
        <a class="list-group-item" href="@Url.Action("Union")">
            <div class="list-group-item-heading">
                <h5>Fachschaft</h5>
            </div>
        </a>
                    *@
                    @if (ViewBag.UserRight.IsStudentAdmin)
                    {
                        <a class="list-group-item" href="@Url.Action("Invitation")">
                            <div class="list-group-item-heading">
                                <h5><i class="fa fa-user-plus"></i> Einladungen</h5>
                            </div>
                            <div class="list-group-item-text">
                                Einlesen von Listen, Benutzerkonten werden automatisch angelegt
                            </div>
                        </a>
                        <a class="list-group-item" href="@Url.Action("Invitation", "Cie")">
                            <div class="list-group-item-heading">
                                <h5><i class="fa fa-globe"></i> CIE Import</h5>
                            </div>
                            <div class="list-group-item-text">
                                Einlesen der Kurswahl von primuss / FK 13
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>







