@model MyStik.TimeTable.Web.Models.StudentsOrgViewModel

@{
    ViewBag.Title = "Studengangslisten";
    var i = 0;
    var nSem = Model.Semesters.Count;
}

<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h4>Studierende nach Studiengängen und Semester (@Model.Organiser.ShortName)</h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <a href="@Url.Action("Index", "Curricula", new {id = Model.Organiser.Id})" class="btn btn-outline-primary">
                        <i class="bi bi-chevron-left"></i> Zurück
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th colspan="1">Studiengang</th>
                    <th colspan="@nSem + 1">Aktive Studierende nach Semester</th>
                    <th colspan="2">Abgeschlossene</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Name</th>
                    @foreach (var sem in Model.Semesters)
                    {
                        <th>@sem.Name</th>
                    }
                    <th>älter</th>
                    <th>Gesamt</th>
                    <th>Alumnae</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var curr in Model.StudentsByCurriculum)
                {
                    var nActive = 0;
                    var nAll = @curr.Students.Count(x => x.LastSemester == null);
                    <tr>
                        <td>@curr.Curriculum.ShortName</td>
                        @if (curr.Curriculum.IsDeprecated)
                        {
                            <i class="fa fa-ban text-danger"></i>
                        }
                        @foreach (var sem in Model.Semesters)
                        {
                            var nStud = @curr.Students.Count(x => x.LastSemester == null && x.FirstSemester.Id == sem.Id);
                            nActive += nStud;
                            <td>
                                <a href="@Url.Action("CourseList", new {currId=curr.Curriculum.Id, semId = sem.Id})">@nStud</a>
                            </td>
                        }
                        @{
                            var nOld = nAll - nActive;
                        }
                        <td>@nOld</td>
                        <td>@curr.Students.Count(x => x.LastSemester != null)</td>
                        <td>@curr.Alumnae.Count</td>
                        @if (ViewBag.UserRight.IsStudentAdmin)
                        {
                            <td><a href="@Url.Action("List", new {id = curr.Curriculum.Id})" class="btn btn-outline-primary">Adressliste</a></td>
                            <td><a href="@Url.Action("Admin", new {id = curr.Curriculum.Id})" class="btn btn-outline-primary">Verwaltung</a></td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                        }
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>
</div>








