@model MyStik.TimeTable.Web.Models.StudentsOrgViewModel

@{
    ViewBag.Title = "Studengangslisten";
    var i = 0;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Studierende nach Studiengängen (@Model.Organiser.ShortName)</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-menu">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <a href="@Url.Action("Index")" class="btn btn-default">
                                <i class="fa fa-arrow-left"></i> Zurück
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Auswertung nach Studiengängen</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th colspan="2">Studiengang</th>
                                <th colspan="3">Studierende</th>
                                <th colspan="1">Alumnae</th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <th>Aktiv</th>
                                <th>Gesamt</th>
                                <th>Aktiv</th>
                                <th>Abgeschlossen</th>
                                <th>Gesamt</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var curr in Model.StudentsByCurriculum)
                        {
                            <tr>
                                <td>@curr.Curriculum.ShortName</td>
                                @if (curr.Curriculum.IsDeprecated)
                                {
                                    <td><i class="fa fa-ban text-danger"></i></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>@curr.Students.Count</td>
                                <td>@curr.Students.Count(x => x.LastSemester == null)</td>
                                <td>@curr.Students.Count(x => x.LastSemester != null)</td>
                                <td>@curr.Alumnae.Count</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>









