@model  MyStik.TimeTable.Web.Models.StudentSubscriptionModel

@{
    ViewBag.Title = "Subscribe";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-info-circle"></i> Eintragen</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                    <fieldset>
                        @Html.HiddenFor(m => m.Student.Id)
                        @Html.HiddenFor(m => m.User.Id)
                        <div class="form-group">
                            @Html.LabelFor(m => m.SemesterName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.SemesterName, new { @class = "form-control", placeholder = "Name des Semesters" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.CourseShortName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.CourseShortName, new { @class = "form-control", placeholder = "Kurzbezeichnung des Kurses" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Eintragen</button>
                            </div>
                        </div>
                    </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

