@model MyStik.TimeTable.Web.Models.OrganiserViewModel
@{
    // Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
    ViewBag.Title = "Semestergruppen " + Model.Organiser.ShortName;
}

@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables.net/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabGroups').DataTable(
                {
                    "paging": false
                }
            );
        });

    </script>
}

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    Semestergruppen der @Model.Organiser.ShortName im @Model.Semester.Name
                </h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        <a class="btn btn-outline-primary" href="@Url.Action("Index", "Semester", new {id=Model.Semester.Id})"> <i class="bi bi-chevron-left"></i><br />Zurück</a>
                        @if (ViewBag.UserRight.IsCourseAdmin)
                        {
                            <a class="btn btn-outline-primary text-center" href="@Url.Action("InitGroups", "Courses", new {id = Model.Semester.Id})"> <i class="bi bi-plus"></i><br />Gruppen anlegen</a>
                            <a class="btn btn-outline-primary text-center" href="@Url.Action("InitGroups", "Courses", new {id = Model.Semester.Id})"> <i class="bi bi-arrow-repeat"></i><br />Gruppen ergänzen</a>
                            <a class="btn btn-outline-primary text-center" href="@Url.Action("RemoveUnused", "Courses", new {id = Model.Semester.Id})"> <i class="bi bi-trash"></i><br />Alle ungenutzen Löschen</a>
                            <a class="btn btn-outline-danger text-center" href="@Url.Action("Analyse", "Courses")"> <i class="bi bi-radioactive"></i><br />Administration</a>
                        }
                    </div>
                </div>
            </div>
            <table id="tabGroups" class="table table-sm">
                <thead>
                    <tr>
                        <th>Bezeichnung</th>
                        <th>Studiengang</th>
                        <th>Studiengruppe</th>
                        <th>Kapazitätsgruppe</th>
                        <th>Anzahl LVs</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var semesterGroup in Model.SemesterGroups)
                    {
                    <tr>
                        <td>@semesterGroup.Group.FullName</td>
                        <td>@semesterGroup.Group.CapacityGroup.CurriculumGroup.Curriculum.ShortName</td>
                        <td>@semesterGroup.Group.CapacityGroup.CurriculumGroup.Name</td>
                        <td>@semesterGroup.Group.CapacityGroup.Name</td>
                            @if (semesterGroup.Group.Activities.Count > 0)
                            {
                                <td>
                                    <a href="@Url.Action("Group", "Dictionary", new {semId=Model.Semester.Id, groupId=semesterGroup.Group.CapacityGroup.Id})">@semesterGroup.Group.Activities.Count</a>
                                </td>
                            }
                            else
                            {
                                <td>ungenutzt</td>
                            }

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

@*

        <div class="panel panel-default">
            <div class="panel-body bg-fillter-study">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Semestergruppen von @Model.Organiser.ShortName im @Model.Semester.Name</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    @foreach (var group in Model.Groups)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>
                                    <i class="fa fa-users"></i> Semestergruppen für @group.Key.Name (@group.Key.ShortName)
                                </h4>
                            </div>
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Name</th>
                                        <th>Anzahl LVs</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var semGroup in group)
                                    {
                                        var iconName = semGroup.IsAvailable ? "fa-check text-success" : "fa-ban text-danger";
                                        <tr id="@semGroup.Id">
                                            <td><i class="fa @iconName"></i> </td>
                                            <td>@semGroup.FullName</td>
                                            <td>@semGroup.Activities.Count</td>
                                            <td>
                                                @Ajax.ActionButton("fa-trash-o", "Löschen", "DeleteGroup", "Courses",
                                                    new {id = semGroup.Id},
                                                    new AjaxOptions
                                                    {
                                                        HttpMethod = "Post",
                                                        InsertionMode = InsertionMode.Replace,
                                                        UpdateTargetId = semGroup.Id.ToString()
                                                    },
                                                    null)

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>


*@


