@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.OrganiserViewModel


@{
    ViewBag.Title = "Analyse";
}


@section styles
{
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/Jquery-ui/jquery-ui.min.css")" />
    <link href="@Url.Content("~/Assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
}



<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Alle manuell angelegten Lehrveranstaltungen
                </div>

                <table id="tabLV" class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Angelegt von</th>
                            <th># Termine</th>
                            <th>Erster</th>
                            <th>Letzter</th>
                            <th># Gruppen</th>
                            <th>Name</th>
                            <th>Kurzname</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var course in Model.Courses)
                        {
                        <tr>
                            <td>@course.Course.Owners.First().Member.FullName</td>
                            <td>@course.Course.Dates.Count</td>
                            @if (course.Course.Dates.Any())
                            {
                                <td>@course.Course.Dates.First().Begin.ToShortDateString()</td>
                                <td>@course.Course.Dates.Last().Begin.ToShortDateString()</td>
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                            }
                            <td>@Html.GroupListExtended(course.Course.SemesterGroups)</td>
                            @if (string.IsNullOrEmpty(course.Course.Name))
                            {
                                <td><a href="@Url.Action("Details", "Course", new {id = course.Course.Id})">[***Ohne Namen***]</a></td>

                            }
                            else
                            {
                                <td><a href="@Url.Action("Details", "Course", new {id = course.Course.Id})">@course.Course.Name</a></td>
                            }
                            <td>@course.Course.ShortName</td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script src="@Url.Content("~/Assets/global/scripts/datatable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/global/plugins/datatables/plugins/sorting/date-de.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabLV').DataTable({
                "paging": false,
                "columnDefs": [
                    {
                        "type": "de_datetime",
                        "targets": 2
                    }]
            });
        });
    </script>
}
