@using MyStik.TimeTable.Data
@model MyStik.TimeTable.Web.Models.OrganiserViewModel
@{
    ViewBag.Title = "Lehrveranstaltungen " + Model.Organiser.ShortName;
}


@section styles
{
    <link href="~/Assets/libs/fullcalendar/main.min.css" rel="stylesheet" />
}




<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="row">
            <div class="col-md-12">
                <h1>Lehrangebot von @Model.Organiser.ShortName im @Model.Semester.Name</h1>
            </div>
        </div>
    </div>
</div>

@{
    var nLV = 0;
    var nStud = 0;
    var nStud2 = 0;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-calendar"></i>
                        <span class="caption-subject bold uppercase"> Lehrangebot</span>
                        <span id="loading" hidden=""><i class="fa fa-spinner fa-spin text-muted"></i></span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-4">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>LVs</th>
                                        <th>Stud</th>
                                        <th>Stud</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var group in Model.SemesterGroups)
                                    {
                                        var lvCount = group.Group.Activities.OfType<Course>().Count();
                                        var grCount = group.Group.Subscriptions.Count;
                                        var subCount = group.UserIds.Count;
                                        nLV += lvCount;
                                        nStud += grCount;
                                        nStud2 += subCount;


                                        <tr id="@group.Group.Id">
                                            @if (group.Group.IsAvailable)
                                            {
                                                <td><i class="fa fa-check text-success"></i></td>
                                            }
                                            else
                                            {
                                                <td><i class="fa fa-ban text-danger"></i></td>
                                            }
                                            <td>@group.Group.FullName</td>
                                            <td>
                                                <a href="javascript:onShowGroup('@group.Group.Id')">@lvCount</a>
                                            </td>
                                            <td>
                                                <a href="javascript:onShowGroupStudents('@group.Group.Id')">@grCount</a>
                                            </td>
                                            <td>@subCount</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td></td>
                                        <td><strong>Total</strong></td>
                                        <td><strong>@nLV</strong></td>
                                        <td><strong>@nStud</strong></td>
                                        <td><strong>@nStud2</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-8">
                            <div id="calendar"></div>
                            <div id="courseList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script src="~/Assets/libs/fullcalendar/main.min.js"></script>
    <script src="~/Assets/libs/fullcalendar/locales/de.js"></script>
    <script src="~/Assets/fillter/scripts/calendar.js"></script>

    <script>

        $(document).ready(function() {
            initCalendar(false, false, true);
            $('#calendar').hide();
        });


        function onShowGroup(id) {

            $('#loading').show();
            $('#calendar').show();

            $('#calendar').fullCalendar('removeEventSource', '@Url.Action("CourseEventsByProgram", "Calendar")');
            $('#calendar').fullCalendar('addEventSource',
                {
                    url: '@Url.Action("CourseEventsByProgram", "Calendar")',
                    type: 'POST',
                    data: {
                        semGroupId: id,
                        topicId: null,
                        showPersonalDates: true
                    }
                });

            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("CourseListByProgram", "Curriculum")',
                    data: {
                        semGroupId: id,
                        topicId: null,
                        compact: true
                    },
                    success: function(data, success, xhr) {
                        $('#courseList').html(data);
                        $('#loading').hide();
                    },
                    error: function(data, type, ex) {
                        alert("Fehler beim laden der Daten." + ex);
                        $('#loading').hide();
                    }
                });

        }

        function onShowGroupStudents(id) {

            $('#loading').show();
            $('#calendar').hide();
            $('#courseList').html('');

            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("ListByGroup", "Organiser")',
                    data: {
                        semGroupId: id
                    },
                    success: function(data, success, xhr) {
                        $('#courseList').html(data);
                        $('#loading').hide();
                    },
                    error: function(data, type, ex) {
                        alert("Fehler beim laden der Daten." + ex);
                        $('#loading').hide();
                    }
                });

        }

    </script>

}








