@model MyStik.TimeTable.Web.Models.OrganiserViewModel


@{
    ViewBag.Title = "Semester  der " + Model.Organiser.ShortName;
}

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new {id = Model.Organiser.Id})">@Model.Organiser.ShortName</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lehrveranstaltungen</li>
        </ol>
    </nav>

    <div class="col-md-12">
        <div class="card">
            <div class="list-group">
                @foreach (var sem in Model.ActiveSemesters.OrderByDescending(x => x.EndCourses))
                {
                    <a class="list-group-item list-group-item-action" href="@Url.Action("Semester", "Courses", new { orgId = Model.Organiser.Id, semId = sem.Id })">
                        @sem.Name
                    </a>
                }
            </div>
        </div>
    </div>
</div>




