@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.OrganiserViewModel


@{
    ViewBag.Title = "Lehrangebot";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="row">
            <div class="col-md-12">
                <h1>Lehrangebot @Model.Organiser.ShortName</h1>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-calendar"></i> Semester
                    </h4>
                </div>
                <div class="list-group">
                    @foreach (var sem in Model.ActiveSemesters.OrderByDescending(x => x.EndCourses))
                    {
                        <a href="@Url.Action("Semester", "Courses", new {id = sem.Id})" class="list-group-item">
                            <h5 class="list-group-item-heading">@sem.Name</h5>
                        </a>
                    }
                </div>
            </div>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-book"></i> Studiengänge
                    </h4>
                </div>
                <div class="list-group">
                    @foreach (var curr in Model.Organiser.Curricula.OrderBy(x => x.Name))
                    {
                        <a href="@Url.Action("Index", "Curriculum", new {id = curr.Id})" class="list-group-item">
                            <h5 class="list-group-item-heading">@curr.Name (@curr.ShortName)</h5>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            @if (ViewBag.UserRight.User.MemberState == MemberState.Staff)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <i class="fa fa-sitemap"></i> Lehrveranstaltung anlegen
                        </h4>
                    </div>
                    <div class="list-group">
                        <a href="@Url.Action("CreateCourseWizard", "Course")" class="list-group-item">
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-fw fa-magic"></i> Schnelleinstieg
                            </h5>
                            <div class="list-group-item-text">Angabe von Titel und Beschreibung, die weiteren Details dann über die Verwaltungsseite.</div>
                        </a>
                        <a href="@Url.Action("CreateCourse", "Course")" class="list-group-item">
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-fw fa-hand-spock-o"></i> Generischer Dialog
                            </h5>
                            <div class="list-group-item-text">Größte Flexibilität, viele Einstellungen, komplexe Bedienung</div>
                        </a>
                    </div>
                </div>

                if (ViewBag.UserRight.IsCourseAdmin || ViewBag.UserRight.IsCurriculumAdmin)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>
                                <i class="fa fa-cogs"></i> Verwaltung
                            </h4>
                        </div>
                        <div class="list-group">

                            @if (ViewBag.UserRight.IsCourseAdmin)
                            {
                                <a href="@Url.Action("CreateSemester", "Courses")" class="list-group-item">
                                    <h5 class="list-group-item-heading">
                                        <i class="fa fa-calendar-plus-o"></i> Das nächste Semester anlegen
                                    </h5>
                                    <p class="list-group-item-text">Erzeugt alle Semestergruppen für das nächste Semester. Auf den Start- und Übersichtsseiten der Lehrenden wird das aktuelle Vorsemester dann nicht mehr angezeigt. Für die Studierenden ändert sich dadurch nichts.</p>
                                </a>
                                <a href="@Url.Action("Index", "Import")" class="list-group-item">
                                    <h5 class="list-group-item-heading">
                                        <i class="fa fa-upload"></i> Import Stundenpläne
                                    </h5>
                                    <p class="list-group-item-text">Einlesen von Textdateien in verschiedenen Formaten (UNTIS, JSON)</p>
                                </a>
                                <a href="@Url.Action("Analyse", "Courses")" class="list-group-item">
                                    <h5 class="list-group-item-heading">
                                        <i class="fa fa-cog"></i> Administration
                                    </h5>
                                    <p class="list-group-item-text">Low-Level Suche nach "frei fliegenden" Lehrveranstaltungen</p>
                                </a>
                            }
                            @if (ViewBag.UserRight.IsCurriculumAdmin)
                            {
                                <a href="@Url.Action("Create", "Curricula")" class="list-group-item">
                                    <h5 class="list-group-item-heading">
                                        <i class="fa fa-plus"></i> Studiengang anlegen
                                    </h5>
                                </a>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>







