@model MyStik.TimeTable.Web.Models.TeachingOverviewModel
@using System.Text
@using MyStik.TimeTable.Data
@using MyStik.TimeTable.DataServices
@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Services

@{
    ViewBag.Title = "Verantwortungsbereich";


    var semester = Model.CurrentSemester.Semester;
    var member = Model.Members.First();

    var db = new TimeTableDbContext();

    var catalogs = db.CurriculumModuleCatalogs.Where(x => x.CatalogResponsibilities.Any(r => r.Member.UserId.Equals(member.UserId))).ToList();

    var modules = db.CurriculumModules.Where(x => x.ModuleResponsibilities.Any(r => r.Member.UserId.Equals(member.UserId))).ToList();

    var dozCourses = db.Activities.OfType<Course>().Where(x => x.Semester.Id == semester.Id && x.Dates.Any(d => d.Hosts.Any(h => h.UserId.Equals(member.UserId)))).ToList();

    foreach (var catalog in catalogs)
    {
        foreach (var module in catalog.Modules.ToList())
        {
            var m = modules.FirstOrDefault(x => x.Id == module.Id);
            if (m == null)
            {
                modules.Add(module);
            }

            foreach (var subject in module.ModuleSubjects)
            {
                var courses = subject.SubjectTeachings.Where(x => x.Course.Semester.Id == semester.Id && x.Course.Organiser.Id == member.Organiser.Id).Select(x => x.Course).ToList();
                foreach (var course in courses)
                {
                    // ist das einer meiner Kurse
                    var c = dozCourses.FirstOrDefault(x => x.Id == course.Id);
                    if (c != null)
                    {
                        dozCourses.Remove(c);
                    }
                }
            }
        }
    }

    var semesterService = new SemesterService();
    var todaySemester = semesterService.GetSemester(DateTime.Today);
    var planingSemester = semesterService.GetNextSemester(todaySemester);
    var courseSemester = Model.CurrentSemester.Semester;

    var prevSemester = semesterService.GetPreviousSemester(courseSemester);
    var nextSemester = semesterService.GetNextSemester(courseSemester);

    var courseService = new CourseService();

}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="card-title">
                            Modulbereich <strong>@Model.CurrentSemester.Semester.Name</strong>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @foreach (var mmb in Model.Members)
                        {
                            <div>@mmb.ShortName | @mmb.Organiser.ShortName</div>
                        }
                    </div>
                    <div class="col-md-6">
                        <div class="alert alert-info">
                            Hier werden alle Module angezeigt für die Katalog- oder Modulverantwortung besteht. Für jedes Modul / Fach werden die Lehrangebote angezeigt.
                        </div>
                    </div>
                </div>

            </div>
            <div class="list-group">
                <div class="list-group-item">
                    @if (ViewBag.MemberId == null)
                    {
                        <div class="btn-group">
                            <a href="@Url.Action("Responsibility", "Courses", new { id = prevSemester.Id })" class="btn btn-outline-primary"><< @prevSemester.Name</a>
                            @if (planingSemester.Id == courseSemester.Id)
                            {
                                <a href="@Url.Action("Responsibility", "Courses", new { id = nextSemester.Id })" class="btn btn-outline-primary disabled">>> @nextSemester.Name</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Responsibility", "Courses", new { id = nextSemester.Id })" class="btn btn-outline-primary">>> @nextSemester.Name</a>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="btn-group">
                            <a href="@Url.Action("Responsibility", "Courses", new { id = prevSemester.Id, memberId = ViewBag.MemberId })" class="btn btn-outline-primary"><< @prevSemester.Name</a>
                            <a href="@Url.Action("Responsibility", "Courses", new { id = nextSemester.Id, memberId = ViewBag.MemberId })" class="btn btn-outline-primary">>> @nextSemester.Name</a>
                        </div>
                    }
                    <div class="btn-group">
                        <a href="@Url.Action("CreateCoursePortal", "Course", new { orgId = member.Organiser.Id })" class="btn btn-outline-primary">Lehrveranstaltung ohne Bezug zu Modul anlegen</a>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <theed>
                    <tr>
                        <th>Katalog-ID</th>
                        <th>Modul-ID</th>
                        <th>Modul</th>
                        <th>Kurse</th>
                    </tr>
                </theed>
                <tbody>
                    @foreach (var module in modules)
                    {
                        foreach (var subject in module.ModuleSubjects)
                        {
                            var courses = subject.SubjectTeachings.Where(x => x.Course.Semester.Id == semester.Id && x.Course.Organiser.Id == member.Organiser.Id).Select(x => x.Course).ToList();

                            <tr>
                                <td>@module.Catalog.Tag</td>
                                <td>@module.Tag</td>
                                <td>@module.Name</td>
                                <td>
                                    @if (courses.Any())
                                    {
                                        foreach (var course in courses)
                                        {
                                            var summary = courseService.GetCourseSummary(course);

                                            var sb = new StringBuilder();
                                            foreach (var accr in subject.SubjectAccreditations)
                                            {
                                                sb.AppendFormat("{0} {1} | ", accr.Slot.AreaOption.Area.Curriculum.ShortName, accr.Slot.Tag);
                                            }

                                            if (module.ModuleSubjects.Count > 1)
                                            {
                                                <div>
                                                    @sb.ToString() (@subject.Name):
                                                    <a href="@Url.Action("Details", "Course", new { id = course.Id })">@course.ShortName @course.Name</a> | @Html.LecturerList(summary.Lecturers)
                                                </div>
                                            }
                                            else
                                            {
                                                <div>
                                                    @sb.ToString():
                                                    <a href="@Url.Action("Details", "Course", new { id = course.Id })">@course.ShortName @course.Name</a> | @Html.LecturerList(summary.Lecturers)
                                                </div>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <div>keine verknüpften Lehrveranstaltungen</div>
                                    }
                                </td>
                            @*
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Planungsaktion
                                        </button>
                                        <ul class="dropdown-menu">
                                            @if (courseSemester.StartCourses < todaySemester.StartCourses)
                                            {
                                                <li><h6 class="dropdown-header">Kurs kopieren</h6></li>
                                                // das Semester des Kurses liegt in der Vergangenheit
                                                // ins tagesaktuelle Semester kopieren
                                                <li><a class="dropdown-item" href="@Url.Action("Copy", "CurriculumModule", new { moduleId = module.Id, sourceSemId = courseSemester.Id, destSemId = todaySemester.Id, backSemId = courseSemester.Id })">ins aktuelle Semester <strong>@todaySemester.Name</strong> kopieren</a></li>
                                                // ins planungssemester kopieren
                                                <li><a class="dropdown-item" href="@Url.Action("Copy", "CurriculumModule", new { moduleId = module.Id, sourceSemId = courseSemester.Id, destSemId = planingSemester.Id, backSemId = courseSemester.Id })">ins Planungssemester <strong>@planingSemester.Name</strong> kopieren</a></li>
                                            }
                                            else if (courseSemester.StartCourses > todaySemester.StartCourses)
                                            {
                                                // das Semester des Kurses liegt in der Zukunft
                                                // ins planungssemester kopieren
                                                <li><h6 class="dropdown-header">Übernehmen aus</h6></li>
                                                <li><a class="dropdown-item" href="@Url.Action("Copy", "CurriculumModule", new { moduleId = module.Id, sourceSemId = ViewBag.PrevSemester.Id, destSemId = Model.CurrentSemester.Semester.Id, backSemId = Model.CurrentSemester.Semester.Id })">@ViewBag.PrevSemester.Name (letztes Semester)</a></li>
                                                <li><a class="dropdown-item" href="@Url.Action("Copy", "CurriculumModule", new { moduleId = module.Id, sourceSemId = ViewBag.YearSemester.Id, destSemId = Model.CurrentSemester.Semester.Id, backSemId = Model.CurrentSemester.Semester.Id })">@ViewBag.YearSemester.Name (vorletzes Semester)</a></li>
                                            }
                                            else
                                            {
                                                <li><h6 class="dropdown-header">Kurs kopieren</h6></li>
                                                // das Semester des Kurses ist das tagesaktuelle Semeater
                                                // im aktuellen Semester kopieren
                                                <li><a class="dropdown-item" href="@Url.Action("Copy", "CurriculumModule", new { moduleId = module.Id, sourceSemId = courseSemester.Id, destSemId = todaySemester.Id, backSemId = courseSemester.Id })">Eine Kopie für das aktuelle Semester <strong>@todaySemester.Name</strong> erstellen</a></li>
                                                // ins planungssemester kopieren
                                                <li><a class="dropdown-item" href="@Url.Action("Copy", "CurriculumModule", new { moduleId = module.Id, sourceSemId = courseSemester.Id, destSemId = planingSemester.Id, backSemId = courseSemester.Id })">ins Planungssemester <strong>@planingSemester.Name</strong> kopieren</a></li>
                                            }

                                            @if (courseSemester.EndCourses > todaySemester.StartCourses)
                                            {
                                                <li><h6 class="dropdown-header">Neuen Kurs für das aktuelle Semester <strong>@Model.CurrentSemester.Semester.Name</strong> erzeugen</h6></li>

                                                if (subject.SubjectAccreditations.Any())
                                                {
                                                    foreach (var subjectAccreditation in subject.SubjectAccreditations)
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("CreateCourseSubject", "Course", new { subjectId = subject.Id, semId = Model.CurrentSemester.Semester.Id, orgId = subjectAccreditation.Slot.AreaOption.Area.Curriculum.Organiser.Id })" class="dropdown-item">
                                                                @subject.Name (@subject.TeachingFormat.Tag): in @subjectAccreditation.Slot.AreaOption.Area.Curriculum.ShortName
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="@Url.Action("CreateCourseSubject", "Course", new { subjectId = subject.Id, semId = Model.CurrentSemester.Semester.Id, orgId = subject.Module.Catalog.Organiser.Id })" class="dropdown-item">
                                                            @subject.Name (@subject.TeachingFormat.Tag): OHNE Studiengang
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </td>
                                *@
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

