@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.OrganiserViewModel
@{
                /**/

                Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
                ViewBag.Title = "Lehrangebot";
                var isAvailable = Model.Semester.Groups.Any(x => x.CapacityGroup.CurriculumGroup.Curriculum.Organiser.Id == Model.Organiser.Id && x.IsAvailable);
}

@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $('#tabCourses').DataTable({
                "paging": false
            });
        });
    </script>
}


<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4>
                @if (Model.PreviousSemester != null)
                {
                    <a href="@Url.Action("Semester", new {id=Model.PreviousSemester.Id})" class="btn btn-outline-secondary btn-sm"><small><< @Model.PreviousSemester.Name</small></a>
                }
                Lehrangebot der @Model.Organiser.ShortName im @Model.Semester.Name
                @if (Model.NextSemester != null)
                {
                    <a href="@Url.Action("Semester", new {id=Model.NextSemester.Id})" class="btn btn-outline-secondary btn-sm"><small>@Model.NextSemester.Name >></small></a>
                }
            </h4>
            <div class="alert alert-info">
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li><i class="bi-door-open text-success"></i>: Semestergruppen für Studierende sichtbar</li>
                            <li><i class="bi-door-closed text-danger"></i>: Semestergruppen für Studierende verborgen</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li><i class="bi-unlock text-success"></i>: Lehrende können Änderungen vornehmen</li>
                            <li><i class="bi-lock text-danger"></i>: Lehrende können keine Änderungen vornehmen</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li><i class="bi-pen-fill text-success"></i>: Studierende können sich eintragen</li>
                            <li><i class="bi-pen-fill text-danger"></i>: Studierende können sich nicht eintragen</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <div class="btn-group">
                    <a class="btn btn-outline-primary text-center" href="@Url.Action("Organiser", "Dictionary", new {semId = Model.Semester.Id, orgId=Model.Organiser.Id})"> <i class="fas fa-pen"></i><br />Vorlesungsverzeichnis</a>
                    <a class="btn btn-outline-primary text-center" href="@Url.Action("Create", "Course")"><i class="bi-folder-plus fa-fw"></i><br />Lehrveranstaltung anlegen</a>
                    @if (ViewBag.UserRight.IsCourseAdmin)
                    {
                        <a class="btn btn-outline-primary text-center" href="@Url.Action("Reports", "Courses", new {id = Model.Semester.Id})"> <i class="fas fa-download"></i><br />Semesterberichte</a>
                    }
                </div>
            </div>
        </div>
        <table id="tabCourses" class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <th>Status</th>
                <th>Kurzname</th>
                <th>Titel</th>
                <th>Gruppe(n)</th>
                <th>Raumangabe(n)</th>
                <th>Lehrende</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.Courses)
                {
                    var linkName = c.Course.ShortName ?? "Kein Kurzname";
                    <tr>
                        <td>
                            @if (c.Course.SemesterGroups.Any(x => x.IsAvailable))
                            {
                                <i class="bi-door-open text-success"></i>
                            }
                            else
                            {
                                <i class="bi-door-closed text-danger"></i>
                            }
                            @if (c.Course.IsInternal)
                            {
                                <i class="bi-lock text-danger"></i>
                            }
                            else
                            {
                                <i class="bi-unlock text-success"></i>
                            }
                            @if (!c.Course.Occurrence.IsAvailable)
                            {
                                <i class="bi-pen-fill text-danger"></i>
                            }
                            else
                            {
                                <i class="bi-pen-fill text-success"></i>
                            }
                        </td>
                        <td>
                            @Html.ActionLink(linkName, "Index", "Course", new { id = c.Course.Id }, null)
                        </td>
                        <td>
                            @c.Course.Name
                        </td>
                        <td>
                            @Html.GroupList(c.Course.SemesterGroups, true)
                        </td>
                        <td>
                            @Html.RoomList(c.Rooms)
                        </td>
                        <td>
                            @Html.LecturerList(c.Lecturers)
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>

