@model MyStik.TimeTable.Web.Models.OrganiserViewModel
@{
    ViewBag.Title = "Semester";
    var isAvailable = Model.Semester.Groups.Any(x => x.CapacityGroup.CurriculumGroup.Curriculum.Organiser.Id == Model.Organiser.Id && x.IsAvailable);
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="row">
            <div class="col-md-12">
                <h1>Lehrangebot 
                    @Model.Organiser.ShortName im 
                    @Model.Semester.Name 
                    @if (isAvailable)
                    {
                        <small>(veröffentlicht)</small>
                    }
                </h1>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-list"></i> Übersichten und Listen</h4>
                </div>
                <div class="list-group">
                    @if (Request.IsLocal)
                    {
                        <a href="@Url.Action("Schedule", "Courses", new {id = Model.Semester.Id})" class="list-group-item">
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-fw fa-book"></i> Stundenpläne
                            </h5>
                            <p class="list-group-item-text">Anzeige der Wochenpläne (druckbar)</p>
                        </a>
                        <a href="@Url.Action("Calendar", "Courses", new {id = Model.Semester.Id})" class="list-group-item">
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-fw fa-calendar"></i> Kalender
                            </h5>
                            <p class="list-group-item-text">Anzeige als Tageskalender</p>
                        </a>
                    }
                    <a href="@Url.Action("Groups", "Courses", new {id = Model.Semester.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-group"></i> Semestergruppen
                        </h5>
                        <p class="list-group-item-text">Anzeige der Gruppen</p>
                    </a>
                    <a href="@Url.Action("Organiser", "Dictionary", new {semId = Model.Semester.Id, orgId=Model.Organiser.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-book"></i> Vorlesungsverzeichnis
                        </h5>
                        <p class="list-group-item-text">Für alle Studienangebote</p>
                    </a>
                    <a href="@Url.Action("List", "Courses", new {id = Model.Semester.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-list"></i> Datentabelle
                        </h5>
                        <p class="list-group-item-text">Suchen und Sortieren nach Stichwörten, Lehrenden, Räume und Zeiten</p>
                    </a>
                    <a href="@Url.Action("SemesterReport", "Courses", new {id = Model.Semester.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-download"></i> Semesterbericht
                        </h5>
                        <p class="list-group-item-text">Download einer .csv Datei mit wichtigsten Informationen</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-gamepad"></i> Prozesse</h4>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("Index", "Lottery", new {id = Model.Semester.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-random"></i> Wahlverfahren
                        </h5>
                        <p class="list-group-item-text">
                            <ul>
                                @foreach (var lottery in Model.ActiveLotteries)
                                {
                                    <li>@lottery.Name</li>
                                }
                            </ul>
                        </p>
                    </a>
                    <a href="@Url.Action("Index", "Cie", new {id = Model.Semester.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-random"></i> Courses in English
                        </h5>
                        <div class="list-group-item-text">
                            Zugang zum hochschulweiten CIE-Programm
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            @if (ViewBag.UserRight.IsCourseAdmin)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-cogs"></i> Verwaltung</h4>
                    </div>
                    <div class="list-group">
                        <a href="@Url.Action("Admin", "Courses", new {id = Model.Semester.Id})" class="list-group-item">
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-fw fa-bullhorn"></i> Freigabe
                            </h5>
                            <p class="list-group-item-text">Freischalten, Zurückziehen der Semestergruppen</p>
                        </a>
                        <a href="@Url.Action("AdminGroups", "Courses", new {id = Model.Semester.Id})" class="list-group-item">
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-fw fa-wrench"></i> Semestergruppen
                            </h5>
                            <p class="list-group-item-text">Anlegen und Löschen</p>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


