
@{
    ViewBag.Title = "Digitaler Schaukasten";
}

<div class="container-fluid">

    <div class="row" style="margin-top: 20px">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-window-maximize"></i> Digitaler Schaukasten</h4>
                </div>
                <div class="list-group">
                    <a class="list-group-item" href="@Url.Action("Internship", "Advertisements")">
                        <h5 class="list-group-item-heading"><i class="fa fa-wrench"></i> praktisches Studiensemester</h5>
                    </a>
                    <a class="list-group-item" href="@Url.Action("Thesis", "Advertisements")">
                        <h5 class="list-group-item-heading"><i class="fa fa-graduation-cap"></i> Abschussarbeiten</h5>
                    </a>
                    <a class="list-group-item" href="@Url.Action("Tutor", "Advertisements")">
                        <h5 class="list-group-item-heading"><i class="fa fa-flask"></i> SHKs & Tutoren</h5>
                    </a>
                    <a class="list-group-item" href="@Url.Action("WorkingStudent", "Advertisements")">
                        <h5 class="list-group-item-heading"><i class="fa fa-industry"></i> Werkstudententätigkeiten</h5>
                    </a>
                    <a class="list-group-item" href="@Url.Action("Advancement", "Advertisements")">
                        <h5 class="list-group-item-heading"><i class="fa fa-money"></i> Stipendien</h5>
                    </a>
                    <a class="list-group-item" href="@Url.Action("Abroad", "Advertisements")">
                        <h5 class="list-group-item-heading"><i class="fa fa-globe"></i> Auslandsaufenthalt</h5>
                    </a>
                    <a class="list-group-item" href="@Url.Action("Competition", "Advertisements")">
                        <h5 class="list-group-item-heading"><i class="fa fa-trophy"></i> Studentische Wettbewerbe</h5>
                    </a>
                    <a class="list-group-item" href="https://jobs.hm.edu/" target="_blank">
                        <h5 class="list-group-item-heading"><i class="fa fa-external-link"></i> Jobportal der HM</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


