@model WIQuest.Web.Data.QuestionAnswer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuestionAnswer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCorrect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCorrect)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
