@model WIQuest.Web.Areas.Quest.Models.QuizQuestionViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Quest/Views/Shared/_Question_Section.cshtml";
    
}

<!--
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group pull-right">
            <button id="btnBack" class="btn btn-default" onclick="prevQuestion()">zurück</button>
            <button id="btnForward" class="btn btn-default" onclick="nextQuestion()">weiter</button>
        </div>
        <h4>Huhu</h4>
    </div>
    <div class="panel-body">
        <div id="questionArea">
    -->        
            @Html.Partial("_Question", Model)
<!--
        </div>
    </div>
</div>
    -->



@section scripts {
    <script>
        $(document).ready(function () {
            checkButtonState();
        });



    function nextQuestion() {

        // alle radio buttons auf der Seite
        //var list = $("#answerArea > p input[type='radio']").get();
        //var n = list.length;

        // Anzahl der selektierten Radiobuttons
        var list2 = $("#answerArea > p input[type='radio']:checked").get();
        var n2 = list2.length;

        var qid = $("#Question_Id").val();
        var uid = $("#User_Id").val();

        if (n2 == 1) {

            var aid = list2[0].value;

            $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("NextQuestion", "Quiz")',
                    data: {
                        questionId: qid,
                        userId: uid,
                        answerId: aid
                        },
                    success: function (data, success, xhr) {
                        $('#questionArea').html(data);
                        $('#loading').hide();
                        checkButtonState();
                    },
                    error: function (data, type, ex) {
                        alert("Fehler beim laden der Daten." + ex);
                        $('#loading').hide();
                    }
            });
        }
        else if (n2 == 0) {
            // nicht beantwortet
            $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("NextQuestion", "Quiz")',
                data: {
                    questionId: qid,
                    userId: uid,
                    answerId: null
                },
                success: function (data, success, xhr) {
                    $('#questionArea').html(data);
                    $('#loading').hide();
                    checkButtonState();
                },
                error: function (data, type, ex) {
                    alert("Fehler beim laden der Daten." + ex);
                    $('#loading').hide();
                }
            });
        }
    }

        function prevQuestion() {

            // alle radio buttons auf der Seite
            //var list = $("#answerArea > p input[type='radio']").get();
            //var n = list.length;

            // Anzahl der selektierten Radiobuttons
            var list2 = $("#answerArea > p input[type='radio']:checked").get();
            var n2 = list2.length;

            var qid = $("#Question_Id").val();
            var uid = $("#User_Id").val();

            if (n2 == 1) {

                var aid = list2[0].value;

                $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("PreviousQuestion", "Quiz")',
                    data: {
                        questionId: qid,
                        userId: uid,
                        answerId: aid
                    },
                    success: function (data, success, xhr) {
                        $('#questionArea').html(data);
                        $('#loading').hide();
                        checkButtonState();
                    },
                    error: function (data, type, ex) {
                        alert("Fehler beim laden der Daten." + ex);
                        $('#loading').hide();
                    }
                });
            }
            else if (n2 == 0) {
                // nicht beantwortet
                $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("PreviousQuestion", "Quiz")',
                    data: {
                        questionId: qid,
                        userId: uid,
                        answerId: null
                    },
                    success: function (data, success, xhr) {
                        $('#questionArea').html(data);
                        $('#loading').hide();
                        checkButtonState();
                    },
                    error: function (data, type, ex) {
                        alert("Fehler beim laden der Daten." + ex);
                        $('#loading').hide();
                    }
                });
            }
        }



        function checkButtonState() {


            $('#btnBack').attr('disabled', false);
            $('#btnForward').attr('disabled', false);

            if ($('#IsFirstQuestion').val() == "True") {
                $('#btnBack').attr('disabled', true);
            }
        }


    </script>
}

