@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Data.Reservation

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Zeitraum</th>
            <th>Räume</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var date in Model.Dates.OrderBy(x => x.Begin))
        {
            <tr id ="@date.Id">
                <td>@date.Begin.ToShortDateString()</td>
                <td>@Html.TimeSpan(date)</td>
                <td>@Html.RoomList(date.Rooms)</td>
                <td>
                    @if (ViewBag.UserRight.IsRoomAdmin)
                    {
                        @Ajax.ActionButton("fa-trash-o", "", "DeleteReservationDate", null, new {id = date.Id},
                            new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = date.Id.ToString()
                            },
                            new {@class = "btn btn-default btn-xs"})
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
