@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Data.Reservation
@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Raumreservierung @Model.Name</h4>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="btn-group" role="group">
                            <a href="@Url.Action("Index", "Reservation")" class="btn btn-outline-primary"><i class="bi-chevron-left"></i> zurück</a>
                            @if (ViewBag.UserRight.IsRoomAdmin)
                            {
                                <a href="@Url.Action("CreateDate", new {id = Model.Id})" class="btn btn-outline-primary"><i class="bi-file-plus"></i> Neuen Termin anlegen</a>
                                <a class="btn btn-outline-danger" id="delete" href="@Url.Action("DeleteReservation", new {id = Model.Id})"><i class="bi-trash"></i> Reservierung löschen</a>
                            }
                        </div>
                    </div>
                </div>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Beginn</th>
                        <th>Ende</th>
                        <th>Beschreibung</th>
                        <th>Lehrende</th>
                        <th>Räume</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var date in Model.Dates.OrderBy(x => x.Begin))
                    {
                        <tr>
                            @if (ViewBag.UserRight.IsRoomAdmin)
                            {

                                <td><a href="@Url.Action("MoveDate", new {id = date.Id})">@date.Begin.Date.ToShortDateString()</a></td>
                            }
                            else
                            {
                                <td>@date.Begin.Date.ToShortDateString()</td>

                            }
                            <td>@date.Begin.ToString("HH:mm")</td>
                            <td>@date.End.ToString("HH:mm")</td>
                            <td>@Html.Raw(date.Description)</td>
                            <td>@Html.LecturerList(date.Hosts)</td>
                            <td>@Html.RoomList(date.Rooms)</td>
                            <td>
                                @if (ViewBag.UserRight.IsRoomAdmin)
                                {
                                    <a class="btn btn-outline-danger" id="delete" href="@Url.Action("DeleteReservationDate", new {id = date.Id})"><i class="bi-trash"></i> löschen</a>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




