@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Data.Reservation
@{
    ViewBag.Title = "Details";
}

    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new {id = Model.Organiser.Id})">@Model.Organiser.ShortName</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Reservation", new {id = Model.Organiser.Id})">Raumreservierungen</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
                </ol>
            </nav>

            <div class="card">
                @if (ViewBag.UserRight.IsRoomAdmin)
                {
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="btn-group" role="group">
                                <a href="@Url.Action("Index", new { id = Model.Organiser.Id })" class="btn btn-outline-primary"><i class="bi bi-chevron-left"></i> Zurück</a>
                    <a href="@Url.Action("CreateDate", new { id = Model.Id, orgId = Model.Organiser.Id })" class="btn btn-outline-primary"><i class="bi bi-file-plus"></i> Neuen Termin anlegen</a>
                    <a class="btn btn-outline-danger" id="delete" href="@Url.Action("DeleteReservation", new { id = Model.Id })"><i class="bi bi-trash"></i> Reservierung löschen</a>
                            </div>
                        </div>
                    </div>
                }
                <table class="table">
                    <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Beginn</th>
                        <th>Ende</th>
                        <th>Beschreibung</th>
                        <th>Lehrende</th>
                        <th>Räume</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var date in Model.Dates.OrderBy(x => x.Begin))
                    {
                        <tr>
                            @if (ViewBag.UserRight.IsRoomAdmin)
                            {

                                <td><a href="@Url.Action("MoveDate", new { id = date.Id })">@date.Begin.Date.ToShortDateString()</a></td>
                            }
                            else
                            {
                                <td>@date.Begin.Date.ToShortDateString()</td>

                            }
                            <td>@date.Begin.ToString("HH:mm")</td>
                            <td>@date.End.ToString("HH:mm")</td>
                            <td>@Html.Raw(date.Description)</td>
                            <td>@Html.LecturerList(date.Hosts)</td>
                            <td>@Html.RoomList(date.Rooms)</td>
                            <td>
                                @if (ViewBag.UserRight.IsRoomAdmin)
                                {
                                    <a class="btn btn-outline-danger" id="delete" href="@Url.Action("DeleteReservationDate", new { id = date.Id })"><i class="bi bi-trash"></i> löschen</a>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>




