@using MyStik.TimeTable.Web.Helpers
@model ICollection<MyStik.TimeTable.Web.Models.ReservationViewModel>
@{
    ViewBag.Title = "Raumreservierungen";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-rooms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Alle Raumreservierungen</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (ViewBag.UserRight.IsOrgAdmin)
                    {
                        @Html.ActionLink("Reservierung anlegen", "CreateReservation")
                    }
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Beschreibung</th>
                            <th>Angelegt von</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var res in Model)
                        {
                            <tr>
                                <td>@res.Reservation.Name</td>
                                <td>@Html.Raw(res.Reservation.Description)</td>
                                @if (res.Owner != null)
                                {
                                    <td>@res.Owner.FirstName @res.Owner.LastName</td>
                                }
                                else
                                {
                                    <td>unbekannt</td>
                                }
                                <td>
                                    @if (ViewBag.UserRight.IsOrgAdmin)
                                    {
                                        @Html.ActionButton("fa-trash-o", "", "DeleteReservation", null, new {id = res.Reservation.Id}, new {@class = "btn btn-default btn-xs"})
                                    }
                                    @Ajax.ActionButton("fa-calendar", " >", "DateList", null, new {id = res.Reservation.Id},
                                        new AjaxOptions
                                        {
                                            HttpMethod = "Post",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "dateList"
                                        },
                                        new {@class = "btn btn-default btn-xs"})
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div id="dateList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
