@model MyStik.TimeTable.Web.Models.StudyPlanViewModel
@using MyStik.TimeTable.Data


@{
    ViewBag.Title = "Studienplan";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                
                <div class="row">
                    <div class="col-4">
                        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link" href="#@Model.Curriculum.Id">Allgemeines</a>
                                <a class="nav-link" href="#item-2">Struktur</a>
                                <nav class="nav nav-pills flex-column">
                                    @foreach (var area in Model.Curriculum.Areas)
                                    {
                                        <a class="nav-link ms-3 my-1" href="#@area.Id">@area.Name</a>
                                    }
                                </nav>
                                <a class="nav-link" href="#item-3">Module</a>
                                <nav class="nav nav-pills flex-column">
                                    @foreach (var module in Model.Modules)
                                    {
                                        <a class="nav-link ms-3 my-1" href="#@module.Id">@module.Tag @module.Name</a>
                                    }
                                </nav>
                            </nav>
                        </nav>
                    </div>

                    <div class="col-8">
                        <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                            <div id="@Model.Curriculum.Id">
                                <h2>Hochschule München</h2>
                                <h3>Studienplan @Model.Curriculum.Name</h3>
                                <h5>
                                    Stand:

                                    @if (ViewBag.PrevSemester != null)
                                    {
                                        <a href="@Url.Action("Doc", "StudyPlan", new { id=Model.Curriculum.ShortName, semId=ViewBag.PrevSemester.Id})"><i class="bi bi-chevron-double-left"></i></a>
                                    }
                                    else
                                    {
                                        <a class="disabled" href="#"><i class="bi bi-chevron-double-left"></i></a>
                                    }
                                    <span class="ms-2 me-2">@ViewBag.CurrentSemester.Name</span>
                                    @if (ViewBag.NextSemester != null)
                                    {
                                        <a href="@Url.Action("Doc", "StudyPlan", new { id=Model.Curriculum.ShortName, semId=ViewBag.NextSemester.Id})"><i class="bi bi-chevron-double-right"></i></a>
                                    }
                                    else
                                    {
                                        <a class="disabled" href="#"><i class="bi bi-chevron-double-right"></i></a>
                                    }
                                    <span><a href="@Url.Action("StudyPlan", "Print", new {currId = Model.Curriculum.Id, semId=Model.Semester.Id})" target="_blank" class="btn btn-sm btn-outline-primary"><i class="bi bi-printer"></i></a></span>
                                </h5>
                                @if (string.IsNullOrEmpty(Model.Curriculum.Description))
                                {
                                }
                                else
                                {
                                    <p>@Model.Curriculum.Description</p>
                                }
                            </div>
                            <div id="item-2">
                                <h4>Struktur nach Themenbereichen</h4>
                                @foreach (var area in Model.Curriculum.Areas)
                                {
                                    <div id="@area.Id">
                                        <h5>@area.Name</h5>
                                        @if (string.IsNullOrEmpty(area.Description))
                                        {
                                        }
                                        else
                                        {
                                            <p>@area.Description</p>
                                        }

                                        @if (area.Options.Count == 1)
                                        {
                                            foreach (var option in area.Options)
                                            {
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Titel</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        @foreach (var slot in option.Slots)
                                                        {

                                                            foreach (var module in slot.SubjectAccreditations)
                                                            {
                                                                <tr>
                                                                    <td>@module.Subject.Module.Tag</td>
                                                                    <td>
                                                                        <a href="#@module.Subject.Module.Id">@module.Subject.Module.Name</a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                        </tbody>
                                                    </table>
                                            }

                                        }
                                        else
                                        {
                                            foreach (var option in area.Options)
                                            {
                                                <h6><strong>@option.Name</strong></h6>
                                                if (string.IsNullOrEmpty(option.Description))
                                                {
                                                }
                                                else
                                                {
                                                    <p>@option.Description</p>
                                                }
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Titel</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    @foreach (var slot in option.Slots)
                                                    {

                                                        foreach (var module in slot.SubjectAccreditations)
                                                        {
                                                            <tr>
                                                                <td>@module.Subject.Module.Tag</td>
                                                                <td>
                                                                    <a href="#@module.Subject.Module.Id">@module.Subject.Module.Name</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    </tbody>
                                                </table>

                                            }

                                        }

                                    </div>
                                }


                            </div>
                            <div id="item-3">
                                <h4>Module</h4>
                                @foreach (var module in Model.Modules)
                                {
                                    var desc = module.Descriptions.Where(x => x.Semester.Id == Model.Semester.Id && x.ChangeLog != null).OrderByDescending(x => x.ChangeLog.LastEdited).FirstOrDefault();
                                    if (desc != null)
                                    {
                                        <div id="@module.Id">
                                            @Html.Partial("_PrintCurriculumModule", desc)
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>


