@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.UserAdminViewModel


<td><a href="@Url.Action("Student", new {id=Model.User.Id})">@Model.User.LastName</a></td>
<td>@Model.User.FirstName</td>
<td>
    @if (!string.IsNullOrEmpty(Model.User.Email))
    {
        <a href="mailto:@Model.User.Email"> @Model.User.Email</a>
        <div>(@Model.User.UserName)</div>
        @*<div>[@Model.User.Id]</div>*@
    }
</td>
<td>
    @switch (Model.User.MemberState)
    {
        case MemberState.Student:
            <i class="fa fa-graduation-cap"></i>
            break;
        case MemberState.Staff:
            <i class="fa fa-university text-primary"></i>
            break;
        case MemberState.Guest:
            <i class="fa fa-globe text-warning"></i>
            break;
    }
</td>
<td>@Model.User.Registered</td>
<td>@Model.User.LastLogin</td>
<td>
    @if (!Model.User.IsApproved)
    {
        <i class="fa fa-ban text-danger"></i>
    }
    else
    {
        <i class="fa fa-check text-success"></i>
    }
</td>
<td>
    @if (!Model.User.EmailConfirmed)
    {
        <i class="fa fa-ban text-danger"></i>
    }
    else
    {
        <i class="fa fa-check text-success"></i>
    }
</td>
<td>@Model.User.Approved</td>
<td>@Model.User.ExpiryDate</td>

<td>
    @if (User.IsInRole("SysAdmin"))
    {
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi-gear"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    @Ajax.ActionButton("fa-graduation-cap", "Student", "MakeStudent", "User",
                        new {id = Model.User.Id},
                        new AjaxOptions
                        {
                            HttpMethod = "Post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = Model.User.Id
                        },
                        null)
                </li>
                <li>
                    @Ajax.ActionButton("fa-university", "Staff", "MakeStaff", "User",
                        new {id = Model.User.Id},
                        new AjaxOptions
                        {
                            HttpMethod = "Post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = Model.User.Id
                        },
                        null)
                </li>
                <li>
                    @Ajax.ActionButton("fa-user", "Gast", "MakeGuest", "User",
                        new {id = Model.User.Id},
                        new AjaxOptions
                        {
                            HttpMethod = "Post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = Model.User.Id
                        },
                        null)
                </li>
                <li>
                    @Ajax.ActionButton("fa-wrench", "RepairUser", "RepairUser", "User",
                        new { id = Model.User.Id },
                        new AjaxOptions
                        {
                            HttpMethod = "Post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = Model.User.Id
                        },
                        null)
                </li>
                <li>
                    @Ajax.ActionButton("fa-trash-o", "Löschen", "DeleteUser", "User",
                        new {id = Model.User.Id},
                        new AjaxOptions
                        {
                            HttpMethod = "Post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = Model.User.Id
                        },
                        null)
                </li>
                <li>
                    <a href="@Url.Action("ChangeUserName", new {id=Model.User.Id})">Benutzernamen ändern</a>
                </li>
            </ul>
        </div>
    }
</td>



