@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.UserAdminViewModel


<td><a href="@Url.Action("Student", new {id=Model.User.Id})">@Model.User.LastName</a></td>
<td>@Model.User.FirstName</td>
@if (!string.IsNullOrEmpty(Model.User.Email))
{
    <td>
        <a href="mailto:@Model.User.Email"> @Model.User.Email</a>
        @if (Model.User.EmailConfirmed)
        {
            <span>
                <i class="bi bi-envelope-check text-success"></i>
            </span>
        }
        else
        {
            <div>
                <i class="bi bi-envelope-x text-danger"></i> (@Model.User.Submitted)
            </div>
            <div>@Model.User.Remark</div>
        }
    </td>
}
else
{
    <td><i class="bi bi-envelope-exclamation text-danger"></i></td>
}
<td>
    @switch (Model.User.MemberState)
    {
        case MemberState.Student:
            foreach (var student in Model.Students)
            {
                if (student.Curriculum != null)
                {
                    <div><i class="bi bi-mortarboard-fill text-success"></i> @student.Curriculum.ShortName</div>
                }
                else
                {
                    <div><i class="bi bi-mortarboard text-danger"></i> N.N.</div>
                }
            }
            break;
        case MemberState.Staff:
            <div><i class="bi bi-building text-success"></i></div>
            foreach (var m in Model.Members)
            {
                <div>@m.Organiser.ShortName</div>
            }
            break;
        case MemberState.Guest:
            <i class="bi bi-globe text-warning"></i>
            break;
    }
</td>
<td>@Model.User.Registered</td>
<td>@Model.User.LastLogin</td>
@if (Model.User.IsApproved)
{
    <td>
        @Model.User.UserName
        <span>
            <i class="bi bi-check-circle text-success"></i>
        </span>
    </td>
}
else
{
    <td>
        @Model.User.UserName
        <span>
            <i class="bi bi-x-circle text-danger"></i>
        </span>
    </td>
}

@if (Model.User.Logins.Any())
{
    <td>
        @foreach (var login in Model.User.Logins.ToList())
        {
            <div>@login.LoginProvider</div>
        }
    </td>
}
else
{
    <td>
    </td>
}
<td>@Model.User.ExpiryDate</td>

<td>
    @if (User.IsInRole("SysAdmin"))
    {
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-gear"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    @Ajax.ActionButton("bi bi-mortarboard", "Student", "MakeStudent", "User",
                        new { id = Model.User.Id },
                        new AjaxOptions
                        {
                            HttpMethod = "Post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = Model.User.Id
                        },
                        null)
                </li>
                <li>
                    @Ajax.ActionButton("bi bi-building", "Staff", "MakeStaff", "User",
                        new { id = Model.User.Id },
                        new AjaxOptions
                        {
                            HttpMethod = "Post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = Model.User.Id
                        },
                        null)
                </li>
                <li>
                    @Ajax.ActionButton("bi bi-person", "Gast", "MakeGuest", "User",
                        new { id = Model.User.Id },
                        new AjaxOptions
                        {
                            HttpMethod = "Post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = Model.User.Id
                        },
                        null)
                </li>
                <li>
                    @Ajax.ActionButton("bi bi-wrench", "RepairUser", "RepairUser", "User",
                        new { id = Model.User.Id },
                        new AjaxOptions
                        {
                            HttpMethod = "Post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = Model.User.Id
                        },
                        null)
                </li>
                <li>
                    @Ajax.ActionButton("bi bi-trash", "Löschen", "DeleteUser", "User",
                        new { id = Model.User.Id },
                        new AjaxOptions
                        {
                            HttpMethod = "Post",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = Model.User.Id
                        },
                        null)
                </li>
                <li>
                    <a href="@Url.Action("ChangeUserName", new {id=Model.User.Id})"><i class="bi bi-person-fill-gear"></i> Benutzernamen ändern</a>
                </li>
            </ul>
        </div>
    }
</td>



