@model MyStik.TimeTable.Web.Models.UserManageViewModel
@{
    ViewBag.Title = "ChangeUserName";
}

<h2>ChangeUserName</h2>

<p>Benutzername: @Model.User.UserName</p>
<p>E-Mail: @Model.User.Email</p>


@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.User.Id)
        <div class="form-group">
            @Html.LabelFor(m => m.EMail, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.EMail, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Senden" class="btn btn-default" />
            </div>
        </div>
    </fieldset>
}




