@model ICollection<MyStik.TimeTable.Web.Models.UserAdminViewModel>
@{
    ViewBag.Title = "Index";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Benutzerkonten</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="list-group">
                        <div class="list-group-item">
                            @using (Ajax.BeginForm("Search", "User", null,
                                        new AjaxOptions
                                        {
                                            HttpMethod = "Post",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "userTable"
                                        },
                                        new { @class = "form", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label for="searchString">Suche nach:</label>
                                    <input type="text" name="searchString" id="searchString" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Suchen" class="btn btn-primary" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="list-group">
                        <div class="list-group-item">
                            @Ajax.ActionLink("Zuletzt registriert", "LatestRegistrations", null, new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "userTable",
                                LoadingElementId = "loading"
                            }, null)
                        </div>
                        <div class="list-group-item">
                            @Ajax.ActionLink("Heue angemeldet", "TodayLoggedIn", null, new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "userTable",
                                LoadingElementId = "loading"
                            }, null)
                        </div>
                        <div class="list-group-item">
                            @Ajax.ActionLink("Ungültige (\"Gäste\")", "GuestAccounts", null, new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "userTable",
                                LoadingElementId = "loading"
                            }, null)
                        </div>



                        <div class="list-group-item">
                            @Ajax.ActionLink("Duplikate", "Doubles", null, new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "userTable",
                                LoadingElementId = "loading"
                            }, null)
                        </div>


                        <div class="list-group-item">
                            @Ajax.ActionLink("Inaktive (90 Tage)", "InactiveUser", null, new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "userTable",
                                LoadingElementId = "loading"
                            }, null)
                        </div>

                        <div class="list-group-item">
                            @Ajax.ActionLink("Nie angemeldet", "NeverLoggedIn", null, new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "userTable",
                                LoadingElementId = "loading"
                            }, null)
                        </div>

                        <div class="list-group-item">
                            @Ajax.ActionLink("Unbestätigte E-Mail Adressen", "Pending", null, new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "userTable",
                                LoadingElementId = "loading"
                            }, null)
                        </div>

                        <div class="list-group-item">
                            @Ajax.ActionLink("Konten mit Verfallsdatum", "Expired", null, new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "userTable",
                                LoadingElementId = "loading"
                            }, null)
                        </div>
                        <div class="list-group-item">
                            @Ajax.ActionLink("Altlasten", "ColdCases", null, new AjaxOptions
                            {
                                HttpMethod = "Post",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "userTable",
                                LoadingElementId = "loading"
                            }, null)
                        </div>
                    </div>
                </div>
            </div>

            @*
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <ul class="nav">
                                <li><a href="@Url.Action("ConfirmAll")">Alle aktivieren</a></li>
                                <li><a href="@Url.Action("Jobs")">Hintergrundjobs</a></li>
                                    <a href="@Url.Action("Statistics")">Statistiken</a>
                            </ul>
                        </div>
                    </div>
                </div>
            *@
            <div class="row">
                <div class="col-md-12">
                    <a href="@Url.Action("DeleteColdCases")" class="btn btn-danger"><i class="bi bi-trash"></i> Aufräumen</a>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="card">
                <div id="loading" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div id="userTable">
                    @Html.Partial("_UserList", Model)
                </div>
            </div>
        </div>
    </div>
</div>


