@using MyStik.TimeTable.Web.Models

@{
    ViewBag.Title = "Statistiken";

    var db = new ApplicationDbContext();

    var d365 = DateTime.Today.AddDays(-365);
    var d180 = DateTime.Today.AddDays(-180);
    var d090 = DateTime.Today.AddDays(-90);

}

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-outline-primary" href="@Url.Action("CheckInactive")">Check Inaktive</a>
    </div>
</div>

<div class="row">
    <dic class="col-md-12">
        <ul>
            <li>Gesamt: @db.Users.Count()</li>
            <li>Expired und nie angemeldet: @db.Users.Count(x => x.ExpiryDate != null && x.LastLogin == null)</li>
            <li>Expired und angemeldet: @db.Users.Count(x => x.ExpiryDate != null && x.LastLogin != null)</li>
            <li>Älter 365 Tage: @db.Users.Count(x => x.LastLogin.HasValue && x.LastLogin < d365)</li>
            <li>Älter 180 Tage: @db.Users.Count(x => x.LastLogin.HasValue && x.LastLogin < d180)</li>
            <li>Älter  90 Tage: @db.Users.Count(x => x.LastLogin.HasValue && x.LastLogin < d090)</li>
        </ul>
    </dic>
</div>

@if (ViewBag.IsBulkDelete)
{
    <a href="@Url.Action("StopClear")" class="btn btn-outline-primary"><i class="bi bi-stop-circle"></i> Löschprozess beenden</a>
}
else
{
    <a href="@Url.Action("StartClear")" class="btn btn-outline-primary"><i class="bi bi-stopwatch"></i> Löschprozess starten</a>
}

