@model MyStik.TimeTable.Web.Models.UserAdminViewModel
@{
    ViewBag.Title = "Student";
}


<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@Model.User.FullName</h4>
                @if (Model.Students.Any())
                {
                    foreach (var student in Model.Students)
                    {
                        <p>@student.Curriculum.ShortName - @student.FirstSemester.Name</p>
                        <a href="@Url.Action("DeleteStudent", new {id=student.Id})" class="btn btn-danger"><i class="bi bi-trash"></i> Studenteneintrag Löschen</a>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <a href="@Url.Action("DeleteClaims", new { id = Model.User.Id })" class="btn btn-danger">Claims löschen</a>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var c in Model.User.Claims)
                {
                    <tr>
                        <td>@c.ClaimType</td>
                        <td>@c.ClaimValue</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>


