@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.LoginViewModel

@{
    // Layout = "~/Views/Shared/_LayoutDashboardSidebar.cshtml";
    ViewBag.Title = Resources.LoginTab;
}

<div class="container" style="margin-top: 80px">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>@Resources.LoginHeading</h4>
                </div>
                <div class="card-body">
                    @*
                    <div class="alert alert-danger">
                        <p>Aktuell läuft der Testbetrieb für die Nutzung des HM User-Accounts. Sollte es zu unerwarteten Schwierigkeiten kommen, wird die Integration wieder deaktiviert.</p>
                        <p>In diesem Zuge eingerichtete Verknüpfungen bleiben bestehen.</p>
                        <p>Ein Login mit bestehen NINE Accounts ist immer möglich.</p>
                    </div>
                        *@
                    @*
        <div class="alert alert-info">
            <p>In Kürze wird es möglich sein, sich bei NINE zusätzlich zum bestehenden NINE Benutzerkonto mit dem HM Account anzumelden.
                Alle, die diese Möglichkeit nutzen möchten, können unter der Funktion "Mein Benutzerkonto" die Verknüpfung mit dem HM Account anlegen.</p>
            <p>Wer sich weiterhin mit dem NINE Account anmelden möchte, muss dazu in Zukunft zwingend über die <a href="https://nine.hm.edu">Startseite</a> gehen, um zu dieser Login-Seite zu gelangen.</p>
            <p>Wer interne Seiten, z.B. das Dashboard als Favorit gespeichert hat bzw. verwendet wird immer auf der Seite für den HM Account landen (der ist leider dominant).</p>
        </div>
                    *@

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })


                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope fa-fw"></i></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Resources.EmailPlaceholder })
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon2"><i class="fas fa-key fa-fw"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Resources.PasswordPlaceholder })
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-primary btn-block">
                                @Resources.LoginButton <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    }
                    <hr/>
                    <ul class="fa-ul mt-2">
                        <li><i class="fas fa-question fa-li text-primary"></i>@Html.ActionLink(Resources.ForgotPasswordLink, "ForgotPassword")</li>
                        <li><i class="fas fa-pen fa-li text-primary"></i>@Html.ActionLink(Resources.RegisterLink, "Register")</li>
                    </ul>
                    <hr/>
                    <div class="form-group">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



