@model MyStik.TimeTable.Web.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LayoutPublicNew.cshtml";
    ViewBag.Title = Resources.RegisterTabHeading;
}

<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"> @Resources.RegisterHeading </h4>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info ">
                        <strong>Wichtige Information für Studierende:</strong>
                        <ul>
                            <li>Grundsätzlich ist eine Registrierung mit einer beliebigen E-Mail Adresse möglich. Die Verwendung der HM-Adresse wird empfohlen.</li>
                            <li>Prüfen Sie in disem Fall zuerst, ob Ihr HM-Postfach bereits eingerichtet ist und Sie über den <a href="https://xmail.mwn.de" target="_blank"><strong>OWA</strong></a> darauf zugreifen können.</li>
                        </ul>
                        <strong>Anforderungen an ein sicheres Passwort:</strong>
                        <ul>
                            <li>Mindestens 8 Zeichen</li>
                            <li>Jeweils mindestens 1 Großbuchstabe, 1 Kleinbuchstabe, 1 Ziffer, 1 Sonderzeichen</li>
                            <li><strong>Beispiel:</strong> Pas1234?</li>
                        </ul>
                    </div>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, Resources.RegisterValidationSummaryMessage, new { @class = "alert alert-danger" })
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Resources.RegisterEmailPlaceholder })
                            </div>
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Resources.RegisterPasswordPlaceholder })
                            </div>
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Resources.RegisterPasswordAgainPlaceholder })
                            </div>
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-fw"></i></span>
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = Resources.RegisterFirstNamePlaceholder })
                            </div>
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-fw"></i></span>
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = Resources.RegisterLastNamePlaceholder })
                            </div>
                            @Html.ValidationMessageFor(m => m.LastName)
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="checkbox" id="DatenschutzGelesen" name="DatenschutzGelesen" value="zugestimmt" required><label for="DatenschutzGelesen">Die Hinweise zum <a href="@Url.Action("PrivacyStatement", "Home")" title='' target="_blank">Datenschutz</a> habe ich gelesen!</label>
                            </div>
                            @Html.ValidationMessageFor(m => m.DatenschutzGelesen)
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">
                                @Resources.RegisterSubmitButton
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

