@model MyStik.TimeTable.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Passwort zurücksetzen";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Passwort zurücksetzen</h4>
            </div>
            <div class="card-body">

                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                    <div class="row mb-3">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-envelope fa-fw"></i></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-Mail Adresse eingeben" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <div class="row mb-3">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-key fa-fw"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Neues Passwort eingeben" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="row mb-3">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-key fa-fw"></i></span>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Passwortwiederholung eingeben" })
                        </div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-10">
                            <button type="submit" class="btn btn-outline-primary pull-right">
                                Passwort zurücksetzen <i class="fa fa-arrow-circle-o-right"></i>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


