@model MyStik.TimeTable.Web.Models.PersonViewModel
@{
    ViewBag.Title = "Visitenkarte";

    var mainMember = Model.Members.FirstOrDefault();
}

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Campus", "University")">HM</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Card", "Person", new {memberId = mainMember.Id})">@Model.FullName</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <div class="btn-group">
                    @if (ViewBag.PrevSemester != null)
                    {
                        <a href="@Url.Action("Card", "Person", new {memberId = mainMember.Id, semId=ViewBag.PrevSemester.Id})"><i class="bi bi-chevron-double-left"></i></a>
                    }
                    else
                    {
                        <a class="disabled" href="#"><i class="bi bi-chevron-double-left"></i></a>
                    }
                    <span class="ms-2 me-2">@ViewBag.CurrentSemester.Name</span>
                    @if (ViewBag.NextSemester != null)
                    {
                        <a href="@Url.Action("Card", "Person", new {memberId = mainMember.Id, semId=ViewBag.NextSemester.Id})"><i class="bi bi-chevron-double-right"></i></a>
                    }
                    else
                    {
                        <a class="disabled" href="#"><i class="bi bi-chevron-double-right"></i></a>
                    }
                </div>
            </li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="card">
            @if (Model.User != null)
            {
                if (Model.User.BinaryData == null || Model.User.BinaryData.Length == 0)
                {
                    <div>
                        <i class="bi bi-person-bounding-box"></i>
                    </div>
                }
                else
                {
                    <img src="@Url.Action("GetProfileImage", new { id = Model.User.Id })" class="card-img-top" />
                }
            }
            else
            {
                <div>
                    <i class="bi bi-person-exclamation"></i> Kein Benutzerkonto
                </div>
            }

        <div class="card-body">
            @if (Model.User != null)
            {
                <h5 class="card-title">@Model.FullName</h5>
                @*
                <h6 class="card-subtitle mb-2 text-body-secondary">subtext</h6>
                    *@
                <div class="btn-group">
                    @if (!string.IsNullOrEmpty(mainMember.UrlProfile))
                    {
                        <a class="btn btn-outline-primary" href="@mainMember.UrlProfile" target="_blank">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    }
                    <a class="btn btn-outline-primary" href="@Url.Action("Calendar", "Organiser", new { id = mainMember.Id })">
                        <i class="bi bi-calendar"></i>
                    </a>
                </div>
            }

            @*
            @if (ViewBag.IsSelf == true)
            {
                <hr />
                <div class="btn-group">
                    <a class="btn btn-outline-primary" href="@Url.Action("Index", "UserProfile")">
                        <i class="bi bi-person-gear"></i>
                    </a>
                    <a class="btn btn-outline-primary" href="@Url.Action("Link", "Person")">
                        <i class="bi bi-link"></i>
                    </a>
                </div>
            }
                *@
        </div>
        </div>
    </div>
    <div class="col-md-10 col-sm-8 col-xs-6">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lehrveranstaltungen</h5>
                        <ul>
                            @if (Model.User != null)
                            {

                                foreach (var course in Model.Courses)
                                {
                                    <li><a href="@Url.Action("Details", "Course", new { id = course.Id })">@course.Name</a></li>
                                }
                            }
                        </ul>
                        <h5>Sprechstunden</h5>
                        <ul>
                        @if (Model.User != null)
                        {

                            foreach (var course in Model.OfficeHours)
                            {
                                if (course.ByAgreement)
                                {
                                    <li>@course.Semester.Name: <a href="@Url.Action("Details", "OfficeHour", new { id = course.Id })">@course.Name</a> (<i>nach Vereinbarung</i>)</li>
                                }
                                else
                                {
                                    if (course.Dates.Any(x => x.End >= DateTime.Today))
                                    {
                                        <li>@course.Semester.Name: <a href="@Url.Action("Details", "OfficeHour", new { id = course.Id })">@course.Name</a></li>
                                    }
                                }
                            }
                        }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Module</h5>
                        <ul>
                            @if (Model.User != null)
                            {
                                foreach (var course in Model.Modules)
                                {
                                    <li>
                                        <a href="@Url.Action("Details", "ModuleDescription", new { id = course.Id })">
                                            @course.Name
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="list-group">
                        @if (Model.User != null)
                        {
                            foreach (var member in Model.Members.OrderBy(x => x.Organiser.ShortName).ToList())
                            {
                                <div class="list-group-item">
                                    <a href="@Url.Action("Faculty", "University", new { id = member.Organiser.Id })">@member.Organiser.ShortName</a>
                                    @if (ViewBag.IsSelf == true)
                                    {
                                        if (string.IsNullOrEmpty(member.ApiKey))
                                        {
                                            <a href="@Url.Action("GenerateApiKey", "OrganiserMembers", new { memberId = member.Id })" class="btn btn-outline-primary">api key erzeugen</a>
                                        }
                                        else
                                        {
                                            <div>@member.ApiKey (@member.ApiKeyValidUntil.Value.ToShortDateString())</div>
                                            <a href="@Url.Action("GenerateApiKey", "OrganiserMembers", new { memberId = member.Id })" class="btn btn-outline-primary">api key aktualisieren</a>
                                        }
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            <div>Kein Member</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

