@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.UserProfileViewModel

<table id="UserDevicesTable" class="table table-condensed">
    <thead>
        <tr>
            <th>Gerätename</th>
            <th>OS</th>
            <th>Notifications Aktiviert</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (UserDeviceViewModel device in Model.UserDevices)
        {
            <tr>
                <td>
                    @device.DeviceName
                </td>
                <td>
                    @device.DeviceType
                </td>
                <td>
                    @if (device.Activated)
                    {
                        <input id="@device.Id" type="checkbox" onclick="toggleDateCheck(this)" checked />
                    }
                    else
                    {
                        <input id="@device.Id" type="checkbox" onclick="toggleDateCheck(this)" />
                    }

                </td>
                <td>
                    <a href="@Url.Action("DeleteDevice", new {id=device.Id})" class="btn btn-danger">Löschen</a>
                </td>
            </tr>
        }
    </tbody>
</table>

