@model ICollection<MyStik.TimeTable.Data.ScriptDocument>
@{
    ViewBag.Title = "Meine Skripte";
}


@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/moment/moment.js")" type="module"></script>
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/libs/datatables/plugins/sorting/datetime-moment.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $('#tabCourses').DataTable({
                "paging": false
            });
        });
    </script>
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Meine Skripte</h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        <a class="btn btn-outline-primary text-center" href="@Url.Action("Create")"><i class="bi bi-folder-plus"></i><br />Neues Skript</a>
                    </div>
                </div>
            </div>
            <table id="tabCourses" class="table">
                <thead>
                    <tr>
                        <th>Titel</th>
                        <th>Version</th>
                        <th>Publiziert seit</th>
                        <th>Anzahl Kurse | Publikationen</th>
                        <th>Anzahl Bestellungen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var doc in Model)
                    {
                    <tr>
                        <td><a href="@Url.Action("Details", new {id = doc.Id})">@doc.Title</a></td>
                        <td>@doc.Version</td>
                        <td>@doc.Created.ToShortDateString()</td>
                        <td>@doc.Publishings.Count</td>
                        <td>@doc.Orders.Count</td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

