@model MyStik.TimeTable.Web.Models.ThesisStateModel
@{
    ViewBag.Title = "Antrag auf Anmeldung";
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <h4 class="panel-heading">
                    <i class="fa fa-file-o"></i> Antrag auf Anmeldung einer Abschlussarbeit
                </h4>
                <div class="panel-body">
                    @using (Html.BeginForm("Approve", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }
                        ))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(m => m.Thesis.Id)
                        <div class="form-group">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-8">
                                <p class="form-control-static">@Model.User.FullName</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">EMail</label>
                            <div class="col-md-8">
                                <p class="form-control-static">@Model.User.Email</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Studiengang</label>
                            <div class="col-md-8">
                                <p class="form-control-static">@Model.Student.Curriculum.Name (@Model.Student.Curriculum.ShortName)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Matrikelnummer</label>
                            <div class="col-md-8">
                                <p class="form-control-static">@Model.Student.Number</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Antrag von</label>
                            <div class="col-md-8">
                                <p class="form-control-static">@Model.Thesis.RequestDate.ToString()</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Voraussetzungen erfüllt</button>
                                <a href="@Url.Action("Deny", new {id=Model.Thesis.Id})" class="btn btn-danger"><i class="fa fa-ban"></i> Antrag ablehnen</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
