@model MyStik.TimeTable.Web.Models.ThesisCreateModel
@{
    ViewBag.Title = "Create";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Abschlussarbeit anmelden</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-10">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <fieldset>
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(m => m.Title, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Title)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Lecturer, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Lecturer, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Lecturer)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Start, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-2">
                            @Html.TextBoxFor(model => model.Start, new { @class = "form-control datepicker" })

                            @Html.ValidationMessageFor(m => m.Start)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.End, new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-2">
                            @Html.TextBoxFor(model => model.End, new { @class = "form-control datepicker" })
                            @Html.ValidationMessageFor(m => m.End)
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10">
                            <input type="submit" value="Arbeit anmelden" class="btn btn-success" />
                        </div>
                    </div>
                </fieldset>
            }

        </div>
    </div>
</div>







