@using System.Web.Mvc.Html
@model MyStik.TimeTable.Web.Models.CourseCreateModel2
@{
    ViewBag.Title = "Lehrveranstaltung anlegen";
}

@section styles
{
<link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/Jquery-ui/jquery-ui.min.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")" />


}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Neues Betreuungsangebot für Abschlussarbeiten anlegen</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

<div class="row">
<div class="col-md-12">
<div class="portlet light bordered">
<div class="portlet-title">
    <div class="caption">
        <i class="fa fa-calendar"></i>
        <span class="caption-subject bold uppercase"> Angaben für neues Betreuungsangebot</span>
    </div>
</div>
<div class="portlet-body">
<div class="form-horizontal">
<div class="form-group">
    <label class="col-sm-3 control-label" for="SemesterId">Semester</label>
    <div class="col-sm-9">
        @Html.DropDownListFor(m => m.SemesterId, (IEnumerable<SelectListItem>) ViewBag.Semester, new {@class = "form-control  input-sm"})
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="OrganiserId">Fakultät</label>
    <div class="col-sm-9">
        @Html.DropDownListFor(m => m.OrganiserId, (IEnumerable<SelectListItem>) ViewBag.Organiser, new {@class = "form-control  input-sm", onchange = "onOrganiserChanged()"})
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="CurriculumId">Studiengang</label>
    <div class="col-sm-9">
        @if (ViewBag.Curricula != null)
        {
            @Html.DropDownListFor(m => m.CurriculumId, (IEnumerable<SelectListItem>) ViewBag.Curricula, new {@class = "form-control  input-sm", onchange = "onCurriculumChanged()"})
        }
        else
        {
            <p>Keine Stundenplandaten</p>
        }
    </div>
</div>



<div class="form-group">
    <label class="col-sm-3 control-label" for="Name">Name</label>
    <div class="col-sm-9">
        <input type="text" class="form-control  input-sm" id="Name" name="name" placeholder="Bezeichnung der Lehrveranstaltung" value="Betreuung Abschlussarbeiten" disabled=""/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label" for="ShortName">Kurzname</label>
    <div class="col-sm-9">
        <input type="text" class="form-control  input-sm" id="ShortName" name="shortName" placeholder="Kurzbezeichnung" value="AA" disabled=""/>
    </div>
</div>



<div class="form-group">
    <label class="col-sm-3 control-label" for="GroupTable">Semestergruppe(n)</label>
    <div class="col-sm-9">
        <div id="GroupTable">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Studiengruppe</th>
                    <th>Kapazitätsgruppe</th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        @if (ViewBag.CurrGroups != null)
                        {
                            @Html.DropDownListFor(m => m.CurrGroupId, (IEnumerable<SelectListItem>) ViewBag.CurrGroups, new {@class = "form-control  input-sm", onchange = "onCurriculumGroupChanged()"})
                        }
                    </th>
                    <th>
                        @if (ViewBag.CapGroups != null)
                        {
                            @Html.DropDownListFor(m => m.CapGroupId, (IEnumerable<SelectListItem>) ViewBag.CapGroups, new {@class = "form-control  input-sm"})
                        }
                    </th>
                    <th>
                        <button class="btn btn-primary btn-sm" onclick="addGroup()"><i class="fa fa-plus-circle"></i></button>
                    </th>
                </tr>
                </thead>
                <tbody id="groupList"></tbody>
            </table>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        <button class="btn btn-default" onclick="createCourse()"><i class="fa fa-save"></i> Angebot anlegen</button>
        <span id="loading"><i class="fa fa-spinner fa-spin text-muted"></i></span>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
    <div class="row">
<div class="col-md-12">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-calendar"></i>
                <span class="caption-subject bold uppercase"> Zuletzt von mir angelegte Angebote</span>
            </div>
        </div>
        <div class="portlet-body">
            <div id="CourseTable">
                <div>
                    <i class="fa fa-spinner fa-spin text-muted"></i>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>




@section Scripts {

    <script>

        function onOrganiserChanged() {
            var org = $("#OrganiserId option:selected").val();

            $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("CurriculaList", "Curriculum")',
                data: {
                    orgId: org,
                    activeOnly: false
                },
                success: function(data, success, xhr) {
                    $('#CurriculumId').html(data);
                    onCurriculumChanged();
                }
            });
        }

        function onCurriculumChanged() {
            var currId = $("#CurriculumId option:selected").val();

            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("CurriculumGroupSelectList", "Curriculum")',
                    data: {
                        currId: currId
                    },
                    success: function (data, success, xhr) {
                        $('#CurrGroupId').html(data);
                        onCurriculumGroupChanged();
                    }
                });

            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("CurriculumChapterSelectList", "Curriculum")',
                    data: {
                        currId: currId
                    },
                    success: function (data, success, xhr) {
                        $('#ChapterId').html(data);
                        onCurriculumGroupChanged();
                    }
                });

        }

        function onCurriculumGroupChanged() {
            var currGroupId = $("#CurrGroupId option:selected").val();

            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("CapacityGroupSelectList", "Curriculum")',
                    data: {
                        currGroupId: currGroupId
                    },
                    success: function (data, success, xhr) {
                        $('#CapGroupId').html(data);
                    }
                });
        }

        function onCurriculumChapterChanged() {
            var chapterId = $("#ChapterId option:selected").val();

            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("CurriculumTopicSelectList", "Curriculum")',
                    data: {
                        chapterId: chapterId
                    },
                    success: function (data, success, xhr) {
                        $('#TopicId').html(data);
                    }
                });
        }







        function addGroup() {
            var capGroupId = $("#CapGroupId option:selected").val();

            var currGroupText = $("#CurrGroupId option:selected").text();
            var capGroupText = $("#CapGroupId option:selected").text();

            $("#groupList").append("<tr id=\""
                + capGroupId + "\"><td>"
                + currGroupText + "</td><td>"
                + capGroupText + "</td><td><button class=\"btn btn-default btn-sm\" onclick=\"deleteRow('"
                + capGroupId + "');\"><i class=\"fa fa-trash-o\"></i></button></td></tr>");
        }



        $(document).ready(function () {
            $("#loading").hide();



            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("GetMyThesisList")',
                success: function (data, success, xhr) {
                    $("#CourseTable").html(data);
                }
            });

        });

        function deleteRow(id) {
            $("#" + id).remove();
        }



        function createCourse() {

            $("#loading").show();

            var semId = $("#SemesterId option:selected").val();
            var courseName = $("#Name").val();
            var courseShortName = $("#ShortName").val();
            var groupList = new Array();

            var list = $("#GroupTable > table > tbody > tr").get();
            var n = list.length;
            if (n > 0) {
                for (var i = 0; i < n; i++) {
                    groupList[i] = list[i].id;
                }
            }


            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("CreateThesis")',
                data: {
                    SemesterId: semId,
                    ShortName: courseShortName,
                    Name: courseName,
                    GroupIds: groupList,
                },
                success: function(data, success, xhr) {
                    $("#CourseList").append(data);
                    $("#loading").hide();

                    $("#Name").val("");
                    $("#ShortName").val("");

                    // jetzt noch Eingaben löschen oder nicht
                    $("#groupList").html("");
                }
            });
        }


    </script>
}
