
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Abschlussarbeiten <small>im Aufbau [DEMO]</small></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <p>Hier entsteht eine Seite für alles rund um das Thema Abschlussarbeiten</p>
            @*
    <a href="@Url.Action("Create", "ThesisFeedback")" class="btn btn-primary btn-lg">
        Feedback anlegen
    </a>
    <a href="@Url.Action("Create", "ThesisWorkflow")" class="btn btn-primary btn-lg">
        Arbeit anmelden
    </a>
    <a href="@Url.Action("Accept", "ThesisWorkflow")" class="btn btn-primary btn-lg">
        Als Prüfer will ich eine Anmeldungbearbeiten
    </a>
    <a href="@Url.Action("Search", "ThesisAnnouncements")" class="btn btn-primary btn-lg">
        Arbeit suchen
    </a>
    <a href="@Url.Action("Create", "ThesisAnnouncements")" class="btn btn-primary btn-lg">
        Ausschreibung anlegen
    </a>
    <a href="@Url.Action("Filter", "ThesisAnnouncements")" class="btn btn-primary btn-lg">
        Ergebnisse auswerten
    </a>
            *@
           </div>
        </div>
    </div>
</div>







