@model MyStik.TimeTable.Web.Models.ThesisStateModel
@{
    ViewBag.Title = "Abschlussarbeit";
}

@section styles
{
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/Jquery-ui/jquery-ui.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")" />
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <h4 class="panel-heading">
                    <i class="fa fa-file-o"></i> Anmeldung meiner Abschlussarbeit
                </h4>
                <div class="panel-body">
                    
                    <div class="alert alert-info">
                        <strong>Wichtige Hinweise:</strong>
                        <ul>
                            <li>Über das Anmeldedatum legen Sie automatisch das Abgabedatum fest.</li>
                            <li>Die Bearbeitungsdauer für Abschlussarbeiten in Ihrem Studiengang <strong>@Model.Thesis.Student.Curriculum.ShortName</strong> beträgt <strong>@Model.GetWorkingPeriod() Monate</strong>.</li>
                        </ul>
                    </div>
                    


                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form form-horizontal" }))
                    {
                        @Html.ValidationSummary(false)
                        @Html.HiddenFor(m => m.Thesis.Id)
                        <div class="form-group">
                            <label for="IssueDate" class="col-sm-3 control-label">Datum der Anmeldung (muss in der Zukunft liegen)</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.IssueDate, new { @class = "form-control datepicker" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> speichern</button>
                                <a href="@Url.Action("MyWork")" class="btn btn-default">Abbrechen</a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js")"></script>


    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker({
                orientation: "left",
                autoclose: true,
                format: "dd.mm.yyyy",
                weekStart: 1,
                calendarWeeks: true,
                language: "de"
            });
        });
    </script>
}
