@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.ThesisStateModel
@{
    ViewBag.Title = "Abschlussarbeit";
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Meine Abschlussarbeit im Studiengang @Model.Student.Curriculum.ShortName</h4>
                </div>
                <div class="list-group">
                    <div class="list-group-item list-group-item-info">
                        <h5>Wichtiger Hinweis:</h5>
                        <p>Diese Seite dient zu meiner Information. Sie ist als Checkliste gedacht.</p>
                    </div>
                    @{
                        var isNameOk = !string.IsNullOrEmpty(Model.User.FirstName) && !string.IsNullOrEmpty(Model.User.LastName);
                        var isStudOk = !string.IsNullOrEmpty(Model.Student.Number);

                        var isOk = isNameOk && isStudOk;

                        var mediaStyle = isOk ? "fa-check text-success" : "fa-exclamation-triangle text-danger";
                    }
                    <div class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-5x @mediaStyle"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Allgemeine Angaben</h4>
                                <ul class="fa-ul">
                                    @if (isNameOk)
                                    {
                                        <li><i class="fa fa-user fa-li"></i>@Model.User.FullName <a href="@Url.Action("Index", "UserProfile")" class="btn btn-default btn-xs">ändern</a></li>

                                    }
                                    else
                                    {
                                        <li><i class="fa fa-user fa-li"></i><a href="@Url.Action("Index", "UserProfile")" class="btn btn-danger btn-xs">ergänzen</a></li>
                                    }
                                    @if (isStudOk)
                                    {
                                        <li><i class="fa fa-barcode fa-li"></i>Matrikelnummer: @Model.Student.Number <a href="@Url.Action("ChangeNumber", "Subscription", new {id=Model.Student.Id})" class="btn btn-default btn-xs">ändern</a></li>
                                    }
                                    else
                                    {
                                        <li><i class="fa fa-barcode fa-li"></i>Matrikelnummer fehlt <a href="@Url.Action("ChangeNumber", "Subscription", new {id=Model.Student.Id})" class="btn btn-danger btn-xs">ergänzen</a></li>
                                    }
                                </ul>

                            </div>
                        </div>
                    </div>

                    @{
                        isOk = Model.ConditionRequest == RequestState.Accepted;

                        mediaStyle = isOk ? "fa-check text-success" : "fa-exclamation-triangle text-danger";
                    }

                    <div class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-5x @mediaStyle"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Prüfung der Voraussetzungen</h4>
                                @if (Model.ConditionRequest == RequestState.None)
                                {
                                    <p>Durch einen Blick in primuss kann ich erkennen, ob ich die Voraussetzungen erfüllt habe.</p>
                                    <a href="@Url.Action("Request")" class="btn btn-primary">Voraussetzungen prüfen lassen</a>
                                    <a href="@Url.Action("Check")" class="btn btn-primary">Voraussetzungen selber prüfen</a>
                                }
                                else if (Model.ConditionRequest == RequestState.InProgress)
                                {
                                    <ul class="fa-ul">
                                        <li><i class="fa fa-li fa-calendar"></i>Habe am @Model.Thesis.RequestDate.Value.ToShortDateString() den Antrag auf Prüfung der Voraussetzungen gestellt. Der Antrag wird noch bearbeitet.</li>
                                    </ul>
                                    <a href="@Url.Action("Check")" class="btn btn-primary">Voraussetzungen selber prüfen</a>
                                }
                                else if (Model.ConditionRequest == RequestState.Accepted)
                                {
                                    if (Model.Thesis.RequestAuthority != null)
                                    {
                                        <ul class="fa-ul">
                                            <li><i class="fa fa-li fa-calendar"></i>Habe am @Model.Thesis.RequestDate den Antrag auf Prüfung der Voraussetzungen gestellt.</li>
                                            <li><i class="fa fa-li fa-calendar-check-o"></i>Ich habe die Voraussetzungen erfüllt (bestätigt am @Model.Thesis.RequestDate.Value.ToShortDateString() von @Model.Thesis.RequestAuthority.FullName)</li>
                                        </ul>
                                    }
                                    else
                                    {
                                        <p>Habe die Prüfung der Voraussetzungen selbst durchgeführt.</p>
                                    }

                                }
                                else if (Model.ConditionRequest == RequestState.Rejected)
                                {
                                    <ul class="fa-ul">
                                        <li><i class="fa fa-li fa-calendar"></i>Habe am @Model.Thesis.RequestDate den Antrag auf Prüfung der Voraussetzungen gestellt.</li>
                                        <li><i class="fa fa-li fa-calendar-times-o"></i>Der Antrag wurde abgelehnt (am @Model.Thesis.RequestDate.Value.ToShortDateString() von @Model.Thesis.RequestAuthority.FullName)</li>
                                        <li><i class="fa fa-li fa-ban text-danger"></i>Es fehlt die folgende(n) Voraussetzung(en): @Model.Thesis.RequestMessage</li>
                                    </ul>
                                    <a href="@Url.Action("Request")" class="btn btn-primary">Voraussetzungen nochmals prüfen lassen</a>
                                    <a href="@Url.Action("Check")" class="btn btn-primary">Voraussetzungen selber prüfen</a>
                                }


                            </div>
                        </div>
                    </div>
                    
                    @if (Model.Thesis != null)
                    {

                        isOk = !string.IsNullOrEmpty(Model.Thesis.TitleDe) && !string.IsNullOrEmpty(Model.Thesis.TitleEn);

                        mediaStyle = isOk ? "fa-check text-success" : "fa-exclamation-triangle text-danger";

                        <div class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-5x @mediaStyle"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Festlegung des Themas</h4>
                                    <ul class="fa-ul">
                                        <li><i class="fa fa-calendar fa-li"></i>de: "@Model.Thesis.TitleDe" </li>
                                        <li><i class="fa fa-barcode fa-li"></i>en: "@Model.Thesis.TitleEn" </li>
                                    </ul>
                                    @if (Model.Thesis.DeliveryDate == null)
                                    {
                                        <a href="@Url.Action("ChangeTitle", new {id = Model.Thesis.Id})" class="btn btn-primary">Thema festlegen / ändern</a>
                                    }
                                </div>
                            </div>
                        </div>


                        isOk = Model.Thesis.Supervisors.Any(x => x.AcceptanceDate != null);

                        mediaStyle = isOk ? "fa-check text-success" : "fa-exclamation-triangle text-danger";


                        <div class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-5x @mediaStyle"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Auswahl der BetreuerInnen</h4>
                                    <ul class="fa-ul">
                                        @foreach (var s in Model.Thesis.Supervisors)
                                        {
                                            if (s.AcceptanceDate != null)
                                            {
                                                <li><i class="fa fa-user-md fa-li"></i>@s.Member.FullName (zugesagt am: @s.AcceptanceDate.Value.ToShortDateString())</li>
                                            }
                                            else
                                            {
                                                <li><i class="fa fa-user-md fa-li"></i>@s.Member.FullName (keine Antwort) <a href="@Url.Action("RemoveSupervisor", new {id=s.Id})" class="btn btn-default btn-xs">absagen</a></li>
                                            }

                                        }
                                    </ul>
                                    @if (!isOk)
                                    {
                                        <a href="@Url.Action("RequestSupervision", new {id=Model.Thesis.Id})" class="btn btn-primary">BetreuerIn anfragen</a>
                                    }
                                </div>
                            </div>
                        </div>

                        // Ausgegeben
                        var isIssued = Model.Thesis.IssueDate != null;
                        var daysToExpiry = 0;

                        if (Model.Thesis.GradeDate != null)
                        {
                            mediaStyle = "fa-check text-success";
                        }
                        else
                        {
                            if (isIssued)
                            {
                                var diff = Model.Thesis.ExpirationDate.Value.Date - DateTime.Today;
                                daysToExpiry = diff.Days;
                                if (daysToExpiry <= 14)
                                {
                                    mediaStyle = "fa-exclamation-triangle text-danger";
                                }
                                else
                                {
                                    mediaStyle = "fa-cog";
                                }
                            }
                            else
                            {
                                mediaStyle = "fa-exclamation-triangle text-danger";
                            }
                        }


                        <div class="list-group-item">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-5x @mediaStyle"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Anmeldung / Abgabe</h4>
                                    @if (isIssued)
                                    {
                                        if (Model.Thesis.DeliveryDate == null)
                                        {
                                            <ul class="fa-ul">
                                                <li><i class="fa fa-calendar fa-li"></i>Angemeldet am: @Model.Thesis.IssueDate.Value.Date.ToShortDateString()</li>
                                                <li><i class="fa fa-calendar fa-li"></i>Abgabe bis: @Model.Thesis.ExpirationDate.Value.Date.ToShortDateString()</li>
                                                <li><i class="fa fa-li fa-cog"></i>Noch @daysToExpiry Tage bis zur Abgabe</li>
                                            </ul>
                                        }
                                        else
                                        {
                                            <ul class="fa-ul">
                                                <li><i class="fa fa-calendar fa-li"></i>Angemeldet am: @Model.Thesis.IssueDate.Value.Date.ToShortDateString()</li>
                                                <li><i class="fa fa-calendar fa-li"></i>Abgegeben am: @Model.Thesis.DeliveryDate.Value.Date.ToShortDateString()</li>
                                                @if (Model.Thesis.GradeDate != null)
                                                {
                                                    <li><i class="fa fa-calendar fa-li"></i>Note gemledet am: @Model.Thesis.GradeDate.Value.Date.ToShortDateString()</li>
                                                }
                                            </ul>

                                        }
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Issue")" class="btn btn-primary">Anmelden</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

