@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.ThesisStateModel
@{
    ViewBag.Title = "Abschlussarbeit";
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Meine Abschlussarbeit im Studiengang @Model.Student.Curriculum.ShortName</h4>
                </div>
                <div class="list-group">
                    @if (Model.ConditionRequest == RequestState.None)
                    {
                        <a href="@Url.Action("Request")" class="list-group-item">
                            <h5 class="list-group-item-heading">Antrag auf Anmeldung</h5>
                            <div class="list-group-item-text">
                                <ul class="fa-ul">
                                    <li><i class="fa fa-li fa-question-circle"></i>Es wird überprüft, ob ich alle Voraussetzungen für die Anmeldung/Ausgabe einer Abschlussarbeit nach der für mich gültigen SPO erfüllt habe.</li>
                                    <li><i class="fa fa-li fa-clock-o"></i>Die Prüfung erfolgt manuell. Es ist mit einer Bearbeitungszeit von mehren Tagen ggf. Wochen zu rechnen.</li>
                                    <li><i class="fa fa-li fa-envelope-o"></i>Sobald das Ergebnis vorliegt, werde ich per E-Mail benachtrichtigt.</li>
                                </ul>
                            </div>
                        </a>
                    }
                    else if (Model.ConditionRequest == RequestState.InProgress)
                    {
                        <div class="list-group-item">
                            <h5 class="list-group-item-heading">Antrag auf Anmeldung <i class="fa fa-cog fa-spin text-primary"></i></h5>
                            <div class="list-group-item-text">
                                <ul class="fa-ul">
                                    <li><i class="fa fa-li fa-info-circle"></i>Mein Antrag vom @Model.Thesis.RequestDate wird noch bearbeitet.</li>
                                    <li><i class="fa fa-li fa-envelope-o"></i>Sobald das Ergebnis vorliegt, werde ich per E-Mail benachtrichtigt.</li>
                                </ul>
                            </div>
                        </div>

                    }
                    else if (Model.ConditionRequest == RequestState.Accepted)
                    {
                        <div class="list-group-item">
                            <h5 class="list-group-item-heading">Antrag auf Anmeldung <i class="fa fa-check text-success"></i></h5>
                            <div class="list-group-item-text">
                                <ul class="fa-ul">
                                    <li><i class="fa fa-li fa-info-circle"></i>Der Antrag wurde am @Model.Thesis.RequestDate.Value von @Model.Thesis.RequestAuthority.FullName genehmigt.</li>
                                </ul>
                            </div>
                        </div>
                    }

                    @if (Model.ConditionRequest == RequestState.None)
                    {

                        <div class="list-group-item disabled">
                            <h5 class="list-group-item-heading">Antrag auf Betreuung</h5>
                            <div class="list-group-item-text">
                                <ul class="fa-ul">
                                    <li><i class="fa fa-li fa-exclamation"></i>Es muss zuerst der Antrag auf Anmeldung gestellt werden.</li>
                                </ul>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (Model.SupervisionRequest == RequestState.None || Model.SupervisionRequest == RequestState.Rejected)
                        {
                            <a href="@Url.Action("Supervision", new {id = Model.Thesis.Id})" class="list-group-item">
                                <h5 class="list-group-item-heading">Antrag auf Betreuung</h5>
                                <div class="list-group-item-text">
                                    <ul class="fa-ul">
                                        <li><i class="fa fa-li fa-question-circle"></i>Im Antrag gebe ich den geplanten Titel und den Beginn der Bearbeitung an.</li>
                                        <li><i class="fa fa-li fa-envelope-o"></i>Sobald das Ergebnis vorliegt, werde ich per E-Mail benachtrichtigt.</li>
                                    </ul>
                                </div>
                            </a>
                        }
                        else if (Model.SupervisionRequest == RequestState.InProgress)
                        {
                            <div class="list-group-item">
                                <h5 class="list-group-item-heading">Antrag auf Anmeldung <i class="fa fa-cog fa-spin text-primary"></i></h5>
                                <div class="list-group-item-text">
                                    <ul class="fa-ul">
                                        <li><i class="fa fa-li fa-info-circle"></i>Bisher noch keine Antwort</li>
                                    </ul>
                                    <p>Angefragt wurden</p>
                                    <ul class="fa-ul">
                                        @foreach (var supervisor in Model.Thesis.Supervisors)
                                        {
                                            if (supervisor.AcceptanceDate.HasValue)
                                            {
                                                <li><i class="fa fa-check text-success"></i>@supervisor.Member.FullName am @supervisor.AcceptanceDate.Value.ToShortDateString()</li>
                                            }
                                            else
                                            {
                                                <li><i class="fa fa-question text-danger"></i>@supervisor.Member.FullName keine Antwort</li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                        else // Accepted
                        {
                            <div class="list-group-item">
                                <h5 class="list-group-item-heading">Antrag auf Betreuung <i class="fa fa-check text-success"></i></h5>
                                <div class="list-group-item-text">
                                    <ul class="fa-ul">
                                        <li><i class="fa fa-li fa-info-circle"></i>Der Antrag auf Betreuung wurde angenommen.</li>
                                    </ul>
                                    <p>Meine Betreuer sind</p>
                                    <ul class="fa-ul">
                                        @foreach (var supervisor in Model.Thesis.Supervisors)
                                        {
                                            if (supervisor.AcceptanceDate.HasValue)
                                            {
                                                <li><i class="fa fa-check text-success"></i>@supervisor.Member.FullName am @supervisor.AcceptanceDate.Value.ToShortDateString()</li>
                                            }
                                            else
                                            {
                                                <li><i class="fa fa-question text-danger"></i>@supervisor.Member.FullName keine Antwort</li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
