@model MyStik.TimeTable.Web.Models.ThesisStateModel
@{
    ViewBag.Title = "Abschlussarbeit";
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css")" />
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Geplanter Bearbeitungszeitraum = Datum der Anmeldung</h5>
            </div>
            <div class="card-body">
                
                <div class="row">
                    <div class="col-md-6">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false)
                            @Html.HiddenFor(m => m.Thesis.Id)
                            <div class="row">
                                <label for="IssueDate" class="col-md-6 col-form-label">Datum der Anmeldung = Beginn des Bearbeitungszeitraums:</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.IssueDate, new { @class = "form-control datepicker" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                    <div>
                                        Die Bearbeitungsdauer für Abschlussarbeiten in Ihrem Studiengang <strong>@Model.Thesis.Student.Curriculum.ShortName</strong> beträgt <strong>@Model.GetWorkingPeriod() Monate</strong>.
                                    </div>
                                </div>
                            </div>


                            <div class="form-group mt-3">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> speichern</button>
                                    <a href="@Url.Action("Index")" class="btn btn-default">Abbrechen</a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                        <div class="alert alert-info">
                            <strong>Wichtiger Hinweis:</strong>
                            <p>Erfolgt bis zum hier angegebenen Datum keine Änderung am Bearbeitungszeitraum, so wird die Arbeit automatisch angemeldet.</p>
                        </div>
                    </div>
                </div>
              

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/fillter/scripts/datepicker.js")"></script>


    <script>
    $(document).ready(function () {
        initDatePicker("datepicker", "@ViewBag.Culture.DateTimeFormat.ShortDatePattern", "@ViewBag.Culture.Name");
    });
    </script>
}
