@model MyStik.TimeTable.Web.Models.ThesisDetailModel
@{
    ViewBag.Title = "Antrag auf Anmeldung";
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <h4 class="panel-heading">
                    <i class="fa fa-file-text-o"></i> Antrag zur Prüfung der Voraussetzungen
                </h4>
                <div class="panel-body">
                    <div class="alert alert-info">
                        <h5>Hinweise</h5>
                        <ul>
                            <li>Vor der Anmeldung der Abschlussarbeit sollte überprüft werden, ob die Voraussetzungen nach SPO erfüllt sind.</li>
                            <li>Die Angabe der Matrikelnummer ist für die Durchführung der Prüfung durch das Prüfungsamt erforderlich.</li>
                            <li>Über das Ergebnis der Antragsprüfung werde ich automtaisch per E-Mail informiert.</li>
                        </ul>
                    </div>
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }
                        ))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-8">
                                <p class="form-control-static">@Model.User.FullName</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">EMail</label>
                            <div class="col-md-8">
                                <p class="form-control-static">@Model.User.Email</p>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Student.Number, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Student.Number, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-question-circle-o"></i> Antrag stellen</button>
                                <a href="@Url.Action("Index")" class="btn btn-default">Abbrechen</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
