@model ICollection<MyStik.TimeTable.Web.Models.InternshipStateModel>

@{
    ViewBag.Title = "Praxissemester";
}

@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Angekündigte Praxissemester - Prüfung der Voraussetzungen</h4>
                </div>
                <table id="tabThesis" class="table table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Vorname</th>
                            <th>Matr.-Nr.</th>
                            <th>SG</th>
                            <th>Datum Anfrage</th>
                            <th>Datum Antwort</th>
                            <th>Status</th>
                            <th>Bemerkung Prüfungsamt</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var thesis in Model)
                        {

                            <tr id="@thesis.Internship.Id">
                                <td></td>
                                @if (thesis.User != null)
                                {
                                    <td>@thesis.User.LastName</td>
                                    <td>@thesis.User.FirstName</td>
                                }
                                else
                                {
                                    <td>kein Benutzerkonto</td>
                                    <td></td>
                                }
                                <td>@thesis.Student.Number</td>
                                <td>@thesis.Student.Curriculum.ShortName</td>
                                @if (thesis.Internship.RequestDate != null)
                                {
                                    <td>@thesis.Internship.RequestDate.Value.ToShortDateString()</td>
                                }
                                else
                                {
                                    <td>Fehler - kein Anfragedatum</td>
                                }

                                @if (thesis.Internship.ResponseDate.HasValue)
                                {
                                    <td>@thesis.Internship.ResponseDate.Value.ToShortDateString()</td>
                                    if (thesis.Internship.IsPassed.HasValue)
                                    {
                                        if (thesis.Internship.IsPassed.Value)
                                        {
                                            if (thesis.Internship.RequestAuthority != null)
                                            {
                                                <td>Voraussetzungen erfüllt - geprüft von (@thesis.Internship.RequestAuthority.FullName)</td>
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>Voraussetzungen erfüllt - Eigenauskunft</td>
                                                <td></td>
                                            }
                                        }
                                        else
                                        {
                                            <td>Voraussetzungen nicht erfüllt</td>
                                            <td>@thesis.Internship.RequestMessage</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Altfall: Studierende wollte Voraussetzungen prüfen lassen</td>
                                        <td></td>
                                    }
                                }
                                else
                                {
                                    <td></td>
                                    <td>Fehler - kein Antwortdatum</td>
                                    <td></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function() {
            var t = $('#tabThesis').DataTable({
                "paging": false,
                "columnDefs": [{
                        "searchable": false,
                        "orderable": false,
                        "targets": 0
                    },
                    {
                        "type": "de_date",
                        "targets": [5, 6]
                    }],
                "order": [[1, 'asc']]
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            t.on('click',
                'tr',
                function() {
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                    } else {
                        t.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');

                        var id = $(this).attr('id');
                        if (id != null) {
                            window.location.href = "@Url.Action("Approval", "InternshipAdmin")/" + id;
                        }
                    }
                });

        });
    </script>
}
