@model ICollection<MyStik.TimeTable.Data.ActivityDate>
@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Data


@if (Model.Any())
{
    <div>
        <table id="tabDates" class="table table-sm">
            <thead>
                <tr>
                    <th>Beginn</th>
                    <th>Ende</th>
                    <th>Ort(e)</th>
                    <th>Bezeichnung</th>
                    <th>Lehrende</th>
                    <th>Kohorten</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var date in Model)
                {
                    if (date.Occurrence != null)
                    {
                        if (date.Activity is PersonalDate)
                        {

                        }
                        else
                        {

                            if (date.Occurrence.IsCanceled)
                            {
                                <tr class="danger">
                                    <td>@date.Begin.ToString("HH:mm")</td>
                                    <td>@date.End.ToString("HH:mm")</td>
                                    <td>abgesagt</td>
                                    @if (date.Activity is Course)
                                    {
                                        <td><a href="@Url.Action("Details", "Course", new { id = date.Activity.Id })">@date.Activity.Name (@date.Activity.ShortName)</a></td>
                                    }
                                    else
                                    {
                                        <td>@date.Activity.Name</td>
                                    }
                                    <td>@Html.LecturerList(date.Hosts, true)</td>
                                    <td></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@date.Begin.ToString("HH:mm")</td>
                                    <td>@date.End.ToString("HH:mm")</td>
                                    @if (date.VirtualRooms.Any())
                                    {
                                        <td>
                                            @Html.RoomList(date.Rooms, true, false)
                                            @Html.RoomList(date.VirtualRooms, true, false)
                                        </td>
                                    }
                                    else
                                    {
                                        <td>@Html.RoomList(date.Rooms, true, false)</td>
                                    }
                                    @if (date.Activity is Course)
                                    {
                                        <td><a href="@Url.Action("Details", "Course", new { id = date.Activity.Id })">@date.Activity.Name (@date.Activity.ShortName)</a></td>
                                    }
                                    else
                                    {
                                        <td>@date.Activity.Name</td>
                                    }
                                    <td>@Html.LecturerList(date.Hosts, true)</td>
                                    <td></td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
            <tr>
                <td>@date.Begin.ToString("HH:mm")</td>
                <td>@date.End.ToString("HH:mm")</td>
                <td>@Html.RoomList(date.Rooms, true, false)</td>
                <td>@date.Activity.Name</td>
                <td>@Html.LecturerList(date.Hosts, true)</td>
                <td></td>
            </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="panel-body">

        <h1 class="text-success">keine Veranstaltungen</h1>
    </div>
}

