@model ICollection<MyStik.TimeTable.Data.ActivityDate>
@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Data


@if (Model.Any())
{
    <div class="infoscreen">
        <table id="tabDates" class="table table-striped">
            <thead>
                <tr>
                    <th>Beginn</th>
                    <th>Ende</th>
                    <th>Raum</th>
                    <th>Dozent</th>
                    <th>Kurs</th>
                    <th>Bezeichnung</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var date in Model)
                {
                    if (date.Occurrence != null)
                    {
                        if (date.Occurrence.IsCanceled)
                        {
                            <tr class="danger">
                                <td>@date.Begin.ToString("HH:mm")</td>
                                <td>@date.End.ToString("HH:mm")</td>
                                <td>abgesagt</td>
                                <td>@Html.LecturerList(date.Hosts, true)</td>
                                <td>@date.Activity.ShortName</td>
                                @if (date.Activity is Course)
                                {
                                    <td><a href="@Url.Action("Details", "Course", new {id = date.Activity.Id})">@date.Activity.Name (@date.Activity.ShortName)</a></td>
                                }
                                else
                                {
                                    <td>@date.Activity.Name</td>
                                }
                            </tr>
                        }
                        else
                        {
            <tr>
                <td>@date.Begin.ToString("HH:mm")</td>
                <td>@date.End.ToString("HH:mm")</td>
                <td>@Html.RoomList(date.Rooms, true, false)</td>
                <td>@Html.LecturerList(date.Hosts, true)</td>
                <td>@date.Activity.ShortName</td>
                @if (date.Activity is Course)
                {
                    <td><a href="@Url.Action("Details", "Course", new {id = date.Activity.Id})">@date.Activity.Name (@date.Activity.ShortName)</a></td>
                }
                else
                {
                    <td>@date.Activity.Name</td>
                }

            </tr>
                        }
                    }
                    else
                    {
            <tr>
                <td>@date.Begin.ToString("HH:mm")</td>
                <td>@date.End.ToString("HH:mm")</td>
                <td>@Html.RoomList(date.Rooms, true, false)</td>
                <td>@Html.LecturerList(date.Hosts, true)</td>
                <td>@date.Activity.ShortName</td>
                <td>@date.Activity.Name</td>
            </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="panel-body">

        <h1 class="text-success">keine Veranstaltungen</h1>
    </div>
}

