@{
    ViewBag.Title = "Tagesplan";
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" />
    <link href="~/Assets/libs/fullcalendar/main.min.css" rel="stylesheet" />
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-rooms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Tagesplan @ViewBag.Organiser.ShortName
                        <span id="loading" hidden=""><i class="fa fa-spinner fa-spin text-muted"></i></span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-calendar"></i>
                        <span class="caption-subject bold uppercase"> Tagesplan</span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div id="calendar" class="has-toolbar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {

        <script src="~/Assets/libs/fullcalendar/main.min.js"></script>
        <script src="~/Assets/libs/fullcalendar/locales/de.js"></script>
        <script src="~/Assets/fillter/scripts/calendar.js"></script>
        <script type="text/javascript" src="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>

        <script type="text/javascript">

    $(document).ready(function() {
        $('#loading').hide();

        var myCalendar = initAdminCalendar();

        myCalendar.defaultView = 'agendaDay';

        myCalendar.addEventSource(
            {
                url: '@Url.Action("DailyRota", "Calendar")',
                method: 'POST',
                extraParams: {
                    semGroupId: group,
                    topicId: null,
                    showPersonalDates: showPDs
                },
                success: function (data, success, xhr) {
                    $('#loading').hide();
                },
                failure: function (data, type, ex) {
                    alert("Fehler beim laden der Daten." + ex);
                    $('#loading').hide();
                }
            }
        );


        @*
                $('#calendar').fullCalendar({
                    defaultView: 'agendaDay'
                });


                $('#calendar').fullCalendar('removeEvents');

                $('#calendar').fullCalendar('addEventSource',
                {
                    url: '@Url.Action("DailyRota", "Calendar")',
                    type: 'POST'
                });
            *@
            });


        </script>
    }
