@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.AgendaViewModel

@foreach (var day in Model.Days)
{
    <div class="list-group-item list-group-item-primary"><strong>@day.Title</strong></div>

    if (day.Activities.Any())
    {
            foreach (var act in day.Activities)
            {
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-2 text-center">@act.Begin.ToShortTimeString()<br>@act.End.ToShortTimeString()</div>
                        <div class="col-6">
                            @if (act.Date.Activity is OfficeHour)
                            {
                                <div>
                                    @act.Date.Activity.Name @act.Date.Activity.ShortName
                                </div>
                            }
                            else if (act.Date.Activity is Course)
                            {
                                <a href="@Url.Action("Details", "Course", new {id = act.Date.Activity.Id})">
                                    @act.Date.Activity.Name
                                </a>
                                <div><strong>@act.Date.Title</strong></div>
                                <div>@act.Date.Occurrence.Information</div>
                            }
                            else
                            {
                                <div>
                                    @act.Date.Activity.Name
                                </div>
                            }
                        </div>
                        <div class="col-4">
                            @if (act.Slot == null)
                            {
                                @Html.RoomList(act.Date.Rooms)
                            }
                        </div>
                    </div>
                </div>
            }
    }
    else
    {
        <div class="list-group-item"><i>Keine Termine</i></div>    
    }
}
