@model MyStik.TimeTable.Data.ActivityOrganiser
@{
    ViewBag.Title = "Tagesplan";
}
@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" />
}




<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    Raumbelegungen @Model.ShortName
                    <span id="loading" hidden=""><i class="fa fa-spinner fa-spin text-muted"></i></span>
                </h4>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-2">
                            <label for="myDate">Datum</label>
                            <input type="text" id="myDate" class="form-control datepicker" placeholder="Datum auswählen..." value="@DateTime.Today.ToShortDateString()">
                        </div>
                        <div class="col-2">
                            @if (ViewBag.UserRight.IsRoomAdmin)
                            {
                                <a href="javascript:getRoomData();" class="btn btn-outline-primary">
                                    <i class="fa fa-download"></i> .csv Datei
                                </a>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div id="roomPlan"></div>
        </div>
    </div>
</div>



@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/fillter/scripts/datepicker.js")"></script>

    <script>

    $(function() {

        loadPlan4Today();


        $('.datepicker').datepicker({
            orientation: "right",
            autoclose: true,
            format: "@ViewBag.Culture.DateTimeFormat.ShortDatePattern",
            weekStart: 1,
            calendarWeeks: true,
            language: "@ViewBag.Culture.Name"
        });
        $('.datepicker').datepicker()
            .on('changeDate',
                function(e) {

                    $("#loading").show();

                    var x = $('#myDate').val();
                    var orgId = "@Model.Id.ToString()";

                    $.ajax(
                    {
                        type: "POST",
                        url: '@Url.Action("RoomPlan")',
                        data: {
                            date: x,
                            orgId: orgId
                        },
                        success: function(data, success, xhr) {
                            $("#roomPlan").html(data);
                            $("#loading").hide();
                        }
                    });

                });
    });

    function loadPlan4Today() {
        $("#loading").show();
        $.ajax(
        {
            type: "POST",
            url: '@Url.Action("RoomPlan")',
                data: {
                    date: null
                },
                success: function(data, success, xhr) {
                    $("#roomPlan").html(data);
                    $("#loading").hide();
                }
            });

        }

        function getRoomData() {
            var x = $('#myDate').val();

            var url = '@Url.Action("RoomPlanData")';
            var key = 'date';
            var data = x;

            var form = $('<form></form>').attr('action', url).attr('method', 'post');
            // Add the one key/value
            form.append($("<input></input>").attr('type', 'hidden').attr('name', key).attr('value', data));
            //send request
            form.appendTo('body').submit().remove();
        }

    </script>
}