@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.DashboardViewModel

@{
    ViewBag.Title = "Tagesplan";
    var now = DateTime.Now;
}


<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <h4 class="panel-heading">
                    <i class="fa fa-film"></i> Was läuft heute wann und wo?
                </h4>
                @if (Model.NowPlayingDates != null && Model.NowPlayingDates.Any())
                {
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Zeitraum</th>
                            <th>Raum</th>
                            <th>Name</th>
                            <th>Dozent</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var date in Model.NowPlayingDates)
                        {
                            var iconName = "fa fa-check text-warning";
                            if (date.Begin > now)
                            {
                                iconName = "fa fa-clock-o text-info";
                            }
                            if (date.Occurrence.IsCanceled)
                            {
                                <tr class="danger">
                                    <td><i class="@iconName"></i></td>
                                    <td>@Html.TimeSpan(date)</td>
                                    <td>abgesagt</td>
                                    <td>@date.Activity.Name</td>
                                    <td>@Html.LecturerList(date.Hosts, false)</td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td><i class="@iconName"></i></td>
                                    <td>@Html.TimeSpan(date)</td>
                                    <td>@Html.RoomList(date.Rooms, false, false)</td>
                                    <td>@date.Activity.Name</td>
                                    <td>@Html.LecturerList(date.Hosts, false)</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="panel-body">
                        <h4>Keine Einträge</h4>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




