@model MyStik.TimeTable.Web.Models.ActivityPlanModel

@{
    ViewBag.Title = Resources.MyCalendar;
}

@section styles
{
    <link href="~/Assets/libs/fullcalendar/main.min.css" rel="stylesheet" />
}

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi-grid"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">@Resources.MyCalendar</li>
        </ol>
    </nav>


    <div id="panelCalendar" class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    <i class="bi-calendar"></i>
                    @Resources.MyCalendar
                    <span id="loading"><i class="spinner-border text-muted"></i></span>
                </h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="panelDetails" class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Lade Details <span id="loading2"><i class="spinner-border text-muted"></i></span></h4>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="~/Assets/libs/fullcalendar/main.min.js"></script>
    <script src="~/Assets/libs/fullcalendar/locales/de.js"></script>
    <script src="~/Assets/fillter/scripts/calendar.js"></script>

    <script type="text/javascript">

        var myId;
        var myCalendar = null;


        $(document).ready(function() {
            $("#panelDetails").hide();
            showDayCalendar();

        });

        function showDayCalendar() {
            try {

                $('#loading').show();

                myCalendar = initDayCalendar("calendar");

                myCalendar.addEventSource(
                    {
                        url: '@Url.Action("ActivityPlan", "Calendar")',
                        method: 'POST',
                        extraParams: {
                        },
                        success: function (data, success, xhr) {
                            $('#loading').hide();
                        },
                        failure: function (data, type, ex) {
                            alert("Fehler beim laden der Daten." + ex);
                            $('#loading').hide();
                        }
                    }
                );
            } catch (err) {
                var strMessage =
                    "<div class=\"alert alert-danger\"><h4>Fehler beim Laden der Daten</h4>";
                strMessage += "<p>Grund: " + err + "</p>";
                strMessage += "<p>Abhilfe: Den Brwoser Cache leeren, z.B. mit der Tastenkombination CTRL + F5 bzw. Strg + F5</p>";
                strMessage += "</div>";

                $('#calendar').html(strMessage);
                $('#loading').hide();
            }


        }


        function onShowEventInfo(id) {
            $('#panelCalendar').removeClass('col-md-12');
            $('#panelCalendar').addClass('col-md-8');
            $("#panelDetails").html('<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>');
            $('#panelDetails').show();
            myCalendar.updateSize();

            myId = id;

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("SelectCourse", "Dictionary")',
                    data: {
                        Id: id
                    },
                    success: function(data, success, xhr) {
                        $("#panelDetails").html(data);
                    }
                });

        }

        function onCloseDetails() {
            $('#panelCalendar').removeClass('col-md-8');
            $('#panelCalendar').addClass('col-md-12');
            $('#panelDetails').html('');
            $('#panelDetails').hide();

            // update nur, wenn auch gebucht wurde
            //showCalendar();

            /* wäre schön, gehtaber nicht
             am Ende ist es das UpdateEvent, das die Anzeige nicht ändert
            //alert(myId);
            var event = $("#calendar").fullCalendar('clientEvents', myId)[0];
            alert(event.title);

            //event._borderColor = "#000";
            event.title = "Hallo";

            $("#calendar").fullcalendar('updateEvent', event);
            */
        }

        function onSubscribe(e) {
            //alert('#'+e);
            $('#bookingBox').addClass('disabled');
            $('#bookingBox').html('<i class="fa fa-circle-o-notch fa-spin fa-2x"></i>');

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("Subscribe", "Dictionary")',
                    data: {
                        Id: e
                    },
                    success: function(data, success, xhr) {
                        $('#bookingBox').html(data);
                        $('#bookingBox').removeClass('disabled');
                        refreshCalendar();
                    }
                });

        }

        function refreshCalendar() {
            showDayCalendar();
        }


    </script>
}
