@model ICollection<MyStik.TimeTable.Data.ActivityDate>

@{
    ViewBag.Title = "Tagesprogramm";
}
@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" />
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new { id = ViewBag.Organiser.Id })">@ViewBag.Organiser.ShortName</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tagesprogramm</li>
            </ol>
        </nav>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div>
                    <label for="myDate">Datum</label>
                    <input type="text" id="myDate" class="form-control datepicker" onchange="onDateChanged(value)" placeholder="Datum auswählen..." value="@DateTime.Today.ToString(ViewBag.Culture.DateTimeFormat.ShortDatePattern)">
                    <span id="loading" hidden=""><i class="fa fa-spinner fa-spin text-muted"></i></span>
                </div>
            </div>
            <div id="roomPlan"></div>
        </div>
    </div>
</div>




@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/fillter/scripts/datepicker.js")"></script>
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>

        document.addEventListener('DOMContentLoaded',
            function() {
                initDatePickerTopLeft("datepicker", "@ViewBag.Culture.DateTimeFormat.ShortDatePattern", "@ViewBag.Culture.Name");
                onDateChanged("@DateTime.Today.ToString(ViewBag.Culture.DateTimeFormat.ShortDatePattern)");
            });

        function onDateChanged(value) {
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("Programm")',
                    data: {
                        date: value,
                        orgId: "@ViewBag.Organiser.Id.ToString()"
                    },
                    success: function(data, success, xhr) {
                        $("#roomPlan").html(data);
                        initTable();
                        $("#loading").hide();
                    }
                });

        }

        function initTable() {
            var t = $('#tabDates').DataTable({
                "paging": false
            });
        }

    </script>
}
