@model ICollection<MyStik.TimeTable.Data.ActivityDate>

@{
    ViewBag.Title = "Tagesprogramm";
}
@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" />
}


<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        Tagesprogramm @ViewBag.Organiser.ShortName
                        <span id="loading" hidden=""><i class="fa fa-spinner fa-spin text-muted"></i></span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-menu">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="myDate">Datum</label>
                            <input type="text" id="myDate" class="form-control datepicker" placeholder="Datum auswählen..." value="@DateTime.Today.ToShortDateString()">
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("AdminPlan", "Activity")" class="btn btn-default">
                                <i class="fa fa-calendar"></i> Als Kalender
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Alle Aktivitäten</h4>
                </div>
                <div id="roomPlan"></div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js")"></script>

    <script>

        $(function() {

            loadPlan4Today();


            $('.datepicker').datepicker({
                orientation: "right",
                autoclose: true,
                format: "dd.mm.yyyy",
                weekStart: 1,
                calendarWeeks: true,
                language: "de"
            });
            $('.datepicker').datepicker()
                .on('changeDate',
                    function(e) {

                        $("#loading").show();

                        var x = $('#myDate').val();

                        $.ajax(
                            {
                                type: "POST",
                                url: '@Url.Action("Programm")',
                                data: {
                                    date: x,
                                    orgId: "@ViewBag.Organiser.Id.ToString()"
                                },
                                success: function(data, success, xhr) {
                                    $("#roomPlan").html(data);
                                    $("#loading").hide();
                                }
                            });

                    });
        });

        function loadPlan4Today() {
            $("#loading").show();
            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("Programm")',
                    data: {
                        date: null
                    },
                    success: function(data, success, xhr) {
                        $("#roomPlan").html(data);
                        $("#loading").hide();
                    }
                });

        }


    </script>
}
