@model MyStik.TimeTable.Web.Models.ThesisSupervisionModel
@{
    ViewBag.Title = "Antrag auf Betreuung";
}


@section styles
{
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/Jquery-ui/jquery-ui.min.css")" />
}


<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <h4 class="panel-heading">
                    <i class="fa fa-file-o"></i> Bestimmung von Betreuung einer Abschlussarbeit
                </h4>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="DozTable">Betreuende(r) / Lehrende(r)</label>
                            <div class="col-sm-9">
                                <div id="DozTable">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th>Fakultät</th>
                                                <th>Name</th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    @Html.DropDownListFor(m => m.OrganiserId, (IEnumerable<SelectListItem>)ViewBag.Organiser, new { @class = "form-control  input-sm" })
                                                </th>
                                                <th>
                                                    <input type="text" class="form-control  input-sm" id="DozId">
                                                </th>
                                                <th>Nachnamen angeben (ohne Titel). Es erscheint eine Namensliste. Eintrag auswählen.
                                                </th>
                                            </tr>

                                        </thead>
                                        <tbody id="dozList"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button class="btn btn-primary" onclick="createSupervision()"><i class="fa fa-question-circle-o"></i> Anfragen versenden</button>
                                <a href="@Url.Action("Index")" class="btn btn-default">Abbrechen</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>

    <script>

        $(document).ready(function () {
            $("#loading").hide();

            $('#DozId').autocomplete({
                source: function(request, response) {
                    var org = $("#OrganiserId option:selected").val();

                    $.ajax({
                        url: '@Url.Action("LecturerList", "Curriculum")',
                        type: 'POST',
                        //dataType: "json",

                        data: {
                            orgId: org,
                            name: request.term
                        },

                        success: function(data, success, xhr) {
                            response($.map(data, function(item) {

                                return {
                                    text: item.id,
                                    label: item.name + " (" + item.shortname + ")",
                                    value: item.name + " (" + item.shortname + ")"
                                };
                            }));

                        },

                        error: function(data) { alert(data); },
                    });

                },
                select: function(event, ui) {

                    var orgText = $("#OrganiserId2 option:selected").text();


                    $("#dozList").append("<tr id=\""
                        + ui.item.text + "\"><td>"
                        + orgText + "</td><td>"
                        + ui.item.value + "</td><td><button class=\"btn btn-default btn-sm\" onclick=\"deleteRow('"
                        + ui.item.text + "');\"><i class=\"fa fa-trash-o\"></i></button></td></tr>");

                },
            });
        });

        function deleteRow(id) {
            $("#" + id).remove();
        }

        function createSupervision() {

            $("#loading").show();

            var dozList = new Array();


            var list = $("#DozTable > table > tbody > tr").get();
            n = list.length;

            if (n > 1) {
                alert("nur eine Person auswählen");
                return;
            }


            if (n > 0) {
                for (var i = 0; i < n; i++) {
                    dozList[i] = list[i].id;
                }
            }

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("AddSupervisors")',
                    data: {
                        id: '@Model.Thesis.Id',
                    DozIds: dozList
                },
                    success: function (data, success, xhr) {
                        window.location = data.url;
                }
            });
        }

    </script>
}
