@using Microsoft.AspNet.Identity
@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Services
<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta content="de" http-equiv="Content-Language">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nine | Infoscreen</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/jquery/jquery-ui.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/bootstrap-icons/font/bootstrap-icons.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/fontawesome/css/all.min.css")" />
    @RenderSection("styles", required: false)
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/Assets/fillter/img/favicon.ico")" />

</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
   

    <script type="text/javascript" src="@Url.Content("~/Assets/libs/jquery/jquery.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/jquery/jquery-ui.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap/js/bootstrap.bundle.min.js")"></script>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
    $(function() {});
    </script>
</body>
</html>
