@model MyStik.TimeTable.Data.Lottery
@{
    ViewBag.Title = "Budgets";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Punktebudgets für @Model.Name</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-menu">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <a href="@Url.Action("Details", new {id=Model.Id})" class="btn btn-default">
                                <i class="fa fa-arrow-left"></i> Zurück
                            </a>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("AddBudget", new {id = Model.Id})" class="btn btn-default">
                                <i class="fa fa-plus"></i> Neues Budget
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-money"></i>
                            <span class="caption-subject bold uppercase"> Verfügbare Punktebudgets</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Beschreibung</th>
                                <th><i class="fa fa-unlock"></i>/<i class="fa fa-lock"></i></th>
                                <th>Größe (Punkte)</th>
                                <th>Dämpfungsfaktor</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var budget in Model.Budgets)
                            {
                                <tr>
                                    <td>@budget.Name</td>
                                    <td>@Html.Raw(budget.Description)</td>
                                    <td>@budget.IsRestricted</td>
                                    <td>@budget.Size</td>
                                    <td>@budget.Fraction</td>
                                    <td>
                                        <a href="@Url.Action("EditBudget", new {id = budget.Id})" class="btn btn-default"><i class="fa fa-pencil"></i> Ändern</a>
                                        <a href="@Url.Action("DeleteBudget", new {id = budget.Id})" class="btn btn-danger"><i class="fa fa-trash-o"></i> Löschen</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
