@model MyStik.TimeTable.Web.Models.LotteryCreateModel
@{
    ViewBag.Title = "Platzverlosung anlegen";
}

@section styles
{
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/Jquery-ui/jquery-ui.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")" />


}




<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Platzverlosung anlegen</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-random"></i>
                        <span class="caption-subject bold uppercase"> Angaben für Platzverlosung</span>
                    </div>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form-horizontal", role = "form"}
                        ))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new {@class = "col-sm-4 control-label"})
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.JobId, new {@class = "col-sm-4 control-label"})
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.JobId, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.MaxConfirm, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.MaxConfirm, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstDrawing, new {@class = "col-sm-4 control-label"})
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.FirstDrawing, new {@class = "form-control datepicker"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LastDrawing, new {@class = "col-sm-4 control-label"})
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.LastDrawing, new {@class = "form-control datepicker"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DrawingTime, new {@class = "col-sm-4 control-label"})
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.DrawingTime, new {@class = "form-control timepicker timepicker-24"})
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <input type="submit" value="Anlegen" class="btn btn-primary"/>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js")"></script>

    <script>


        $(document).ready(function () {
            $('.datepicker').datepicker({
                orientation: "left",
                autoclose: true,
                format: "dd.mm.yyyy",
                weekStart: 1,
                calendarWeeks: true,
                language: "de"
            });

            $('.timepicker-24').timepicker({
                autoclose: true,
                minuteStep: 15,
                showSeconds: false,
                showMeridian: false
            });

            $('.timepicker').parent('.input-group').on('click', '.input-group-btn', function(e) {
                e.preventDefault();
                $(this).parent('.input-group').find('.timepicker').timepicker('showWidget');
            });

        });

    </script>
}


