@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.LotteryCreateModel
@{
    ViewBag.Title = "Wahlverfahren";
}

@section styles
{
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/Jquery-ui/jquery-ui.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")" />
}


<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <h4 class="panel-heading">
                    <i class="fa fa-cog"></i> Einstellungen für das Verfahrens der Platzvergabe für das Wahlverfahren "@Model.Name"
                </h4>
                <div class="panel-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }
                        ))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(m => m.LotteryId)
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Vergabeverfahren</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio-list">
                                            <label>
                                                @Html.RadioButtonFor(m => m.ProcessType, 1)
                                                Windhundverfahren:
                                            </label>
                                            <ul>
                                                <li>Eintragungen werden nach zeitlicher Reihenfolge berücksichtigt.</li>
                                                <li>Eintragungen erfolgen jeweils unmittelbar auf die Teilnehmer- oder Wartelliste</li>
                                                <li>KEIN Aufnahmeverfahren</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio-list">
                                            <label>
                                                @Html.RadioButtonFor(m => m.ProcessType, 2)
                                                Platzverlosung:
                                            </label>
                                            <ul>
                                                <li>Alle Eintragungen landen auf den jeweiligen Wartelisten.</li>
                                                <li>Studierende priorisieren ihre Auswahl und geben an, wie viele Plätze sie benötigen.</li>
                                                <li>Platzvergabe durch Losverfahren.</li>
                                                <li>Pechvogelregel: etwas anders akzeptieren oder "leer" ausgehen</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Beginn des Eintragungszeitraums</h5>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsAvailableFrom, new { @class = "col-md-6 control-label" })
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(model => model.IsAvailableFrom, new { @class = "form-control datepicker" })
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(model => model.IsAvailableFromTime, new { @class = "form-control timepicker timepicker-24" })
                                    </div>
                                </div>
                                <div class="alert alert-info">
                                    <ul>
                                        <li>Beim Windhundverfahren gibt es kein explizites Ende des Eintragungszeitraums, da die Eintragungen nach Zeitstempel berücksichtigt werden.</li>
                                        <li>Bei der Platzverlosung markiert das Ende des Eintragungszeitraums den Beginn der Platzvergabe.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5>Anzahl der Lehrveranstaltungen, die Studierende auswählen können</h5>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.MinSubscription, new { @class = "col-md-6 control-label" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(m => m.MinSubscription, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.MaxSubscription, new { @class = "col-md-6 control-label" })
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(m => m.MaxSubscription, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Sonstiges</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.CheckBoxFor(item => item.AllowManualSubscription)
                                        @Html.LabelFor(item => item.AllowManualSubscription, new { @class = "control-label" })
                                        <ul>
                                            <li>Lehrende können Studierende jederzeit von der Warteliste auf die Teilnehmerliste übenehmen.</li>
                                            <li>Bei Windhundverfahren können alle Eintragungen übernommen werden.</li>
                                            <li>Bei Platzverlosungen können nur "Prio 1" Eintragungen übernommen werden.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.CheckBoxFor(item => item.LoIneeded)
                                        @Html.LabelFor(item => item.LoIneeded, new { @class = "control-label" })
                                        <ul>
                                            <li>Studierende können Motivationsschreiben erstellen.</li>
                                            <li>Als Unterstützung für Lehrenden bei der Voreinschreibung gedacht.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.CheckBoxFor(item => item.UseJinx)
                                        @Html.LabelFor(item => item.UseJinx, new { @class = "control-label" })
                                        <ul>
                                            <li>An: Studierende können Pechvogelregel wählen</li>
                                            <li>Aus: Pechvogelregel kommt generell nicht zur Anwendung</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.CheckBoxFor(item => item.UseLock)
                                        @Html.LabelFor(item => item.UseLock, new { @class = "control-label" })
                                        <ul>
                                            <li>An: Studierende können zugeloste Plätze nicht zurückgeben</li>
                                            <li>Aus: Studierende können zueloste Plätze zurückgeben, d.h. ihre Wahl nachträglich ändern.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Speichern</button>
                                        <a href="@Url.Action("Details", new {id=Model.Lottery.Id})" class="btn btn-default">Abbrechen</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js")"></script>

    <script>


        $(document).ready(function () {
            $('.datepicker').datepicker({
                orientation: "left",
                autoclose: true,
                format: "dd.mm.yyyy",
                weekStart: 1,
                calendarWeeks: true,
                language: "de"
            });

            $('.timepicker-24').timepicker({
                autoclose: true,
                minuteStep: 15,
                showSeconds: false,
                showMeridian: false
            });

            $('.timepicker').parent('.input-group').on('click', '.input-group-btn', function (e) {
                e.preventDefault();
                $(this).parent('.input-group').find('.timepicker').timepicker('showWidget');
            });

        });

    </script>
}


