@model MyStik.TimeTable.Web.Models.LotteryCreateModel
@{
    ViewBag.Title = "Ändern";
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.css")" />
}



    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Allgemeine Einstellungen für das Wahlverfahren "@Model.Name"</h5>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }
))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(m => m.LotteryId)
                        <div class="row mb-3">
                            @Html.LabelFor(m => m.Name, new { @class = "col-md-4 col-form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row mb-3">
                            @Html.LabelFor(m => m.Description, new { @class = "col-sm-4 col-form-label" })
                            <div class="col-sm-8">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 10 })
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i> Speichern</button>
                                <a href="@Url.Action("Details", new {id=Model.Lottery.Id})" class="btn btn-outline-secondary"><i class="bi bi-x"></i> Abbrechen</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>




@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $("#Description").cleditor();
        });

    </script>
}


