@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.Data.Course
@{
    ViewBag.Title = "Lostopf";
    var userService = new UserInfoService();
    var i = 0;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Losttopf von @Model.Name (@Model.ShortName)</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-random"></i>
                                <span class="caption-subject bold uppercase"> Eintragungen</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="CourseTable">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Zeit</th>
                                            <th>Priorität</th>
                                            <th>Runde</th>
                                            <th>Punkte</th>
                                            <th>Einsätze</th>
                                        </tr>
                                    </thead>
                                    <tbody id="activityTable">
                                        @foreach (var subscription in Model.Occurrence.Subscriptions.OrderByDescending(x => (x.LapCount + x.Bets.Sum(y => y.Amount))))
                                        {
                                            var userName = userService.GetUserName(subscription.UserId);
                                            i++;
                                        <tr>
                                            <td>@i</td>
                                            <td>@Html.SubscriptionLabel(subscription)</td>
                                            <td>@userName</td>
                                            <td>@subscription.TimeStamp</td>
                                            <td>@subscription.Priority</td>
                                            <td>@subscription.LapCount</td>
                                            <td>@subscription.Bets.Sum(x => x.Amount)</td>
                                            <td>
                                                @foreach (var bet in subscription.Bets)
        {
                                        <div>@bet.Amount (@bet.Id) <a href="@Url.Action("RemoveBet", new {id=bet.Id})">Löschen</a> </div>
}
                                            </td>
                                        </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
