@using MyStik.TimeTable.Data
@model MyStik.TimeTable.Web.Models.LotterySemesterSummaryModel
@{
    ViewBag.Title = "Wahlverfahren";
}



<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Lottery")">Wahlverrfahren</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Organiser", "Lottery", new {semId=Model.Semester.Id, orgId=Model.Organiser.Id})">@Model.Organiser.ShortName</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <div class="btn-group">
                    @if (ViewBag.PrevSemester != null)
                    {
                        <a href="@Url.Action("Organiser", "Lottery", new {semId=ViewBag.PrevSemester.Id, orgId=Model.Organiser.Id})"><i class="bi bi-chevron-double-left"></i></a>
                    }
                    else
                    {
                        <a class="disabled" href="#"><i class="bi bi-chevron-double-left"></i></a>
                    }
                    <span class="ms-2 me-2">@ViewBag.CurrentSemester.Name</span>
                    @if (ViewBag.NextSemester != null)
                    {
                        <a href="@Url.Action("Organiser", "Lottery", new {semId=ViewBag.NextSemester.Id, orgId=Model.Organiser.Id})"><i class="bi bi-chevron-double-right"></i></a>
                    }
                    else
                    {
                        <a class="disabled" href="#"><i class="bi bi-chevron-double-right"></i></a>
                    }
                </div>
            </li>
        </ol>
    </nav>
</div>
<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="list-group">
                @if (ViewBag.UserRight.IsOrgMember)
                {
                    <div class="list-group-item">

                        <a class="btn btn-outline-primary" href="@Url.Action("Admin", new { id = Model.Semester.Id, orgId = Model.Organiser.Id })"><i class="bi bi-gear"></i> Verwaltung</a>
                    </div>
                }
                @if (Model.Lottery.Any(l => l.IsActive))
                {
                    foreach (var l in Model.Lottery.Where(l => l.IsActive).OrderByDescending(x => x.IsActiveFrom))
                    {
                        // Annahme: Windhuind
                        var txt = string.Format("Windhundverfahren ab {0}", l.IsActiveFrom.Value.ToShortDateString());
                        if (l.IsFixed)
                        {
                            txt = string.Format("Platzverlorsung {0} - {1}", l.IsActiveFrom.Value.ToShortDateString(), l.IsActiveUntil.Value.ToShortDateString());
                        }

                        <a class="list-group-item list-group-item-action" href="@Url.Action("Details", new { id = l.Id })">
                            <strong>@l.Name</strong>
                            <small>@txt</small>
                            @*
                            <small>@l.IsActiveFrom.Value.ToShortDateString() - @l.IsActiveUntil.Value.ToShortDateString()</small>
                            *@
                        </a>
                    }
                }
                else
                {
                    <div class="list-group-item">
                        <div>Derzeit sind keine Wahlverfahren verfügbar.</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



