@using MyStik.TimeTable.Web.Services
@model ICollection<MyStik.TimeTable.Data.OccurrenceSubscription>
@{
    ViewBag.Title = "Repair";
    var userService = new UserInfoService();
    var actService = new ActivityService();
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Repair</h2>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Überflüssige Eintragungen</h4>
                    </div>

                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Subscription</th>
                            <th>Kurs</th>
                            <th>zeit</th>
                            <th>Benutzer</th>
                            <th>Prio</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var subscription in Model)
                        {
                            var course = actService.GetSummary(subscription.Occurrence);
                            var user = userService.GetUser(subscription.UserId);
                            <tr>
                                <td>@subscription.Id</td>
                                <td>@course.Activity.Name (@course.Activity.ShortName)</td>
                                <td>@subscription.TimeStamp</td>
                                <td>@user.FullName</td>
                                <td>@subscription.Priority</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>

