@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.Data.LotteryDrawing
@{
    ViewBag.Title = "Report";
    var occService = new ActivityService();
    var userService = new UserInfoService();
}


<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Auswertung Platzverlosung @Model.Lottery.Name am @Model.Start</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="@Url.Action("DeleteReport", new {id = Model.Id})">Löschen</a>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @Html.Raw(Model.Message)
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @foreach (var course in Model.OccurrenceDrawings)
            {
                var activity = occService.GetSummary(course.Occurrence.Id);

                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-random"></i>
                                    <span class="caption-subject bold uppercase"> @activity.Name (@activity.Activity.ShortName)</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="alert alert-info">
                                    <h5>Gruppen</h5>
                                    <ul>
                                        @foreach (var g in course.Occurrence.Groups)
                                        {
                                            <li>@Html.GroupList(g.SemesterGroups)</li>
                                        }
                                    </ul>
                                    <h5>Infos</h5>
                                    <ul>
                                        @if (course.Occurrence.UseGroups)
                                        {
                                            <li>Gruppeninfo wird verwendet</li>
                                        }
                                        else
                                        {
                                            <li>Der Studiengang muss passen</li>

                                        }
                                        @if (course.Occurrence.UseExactFit)
                                        {
                                            <li>Exakte Übereinstimmung gefordert</li>
                                        }
                                    </ul>
                                </div>
                                <table class="table table-sm">
                                    <thead>
                                    <tr>
                                        <th>Eintragung</th>
                                        <th>Status vor</th>
                                        <th>Runde vor</th>
                                        <th>Status nach</th>
                                        <th>Runde nach</th>
                                        <th>Bemerkung</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var subscriptionDrawing in course.SubscriptionDrawings)
                                    {
                                        var user = userService.GetUserName(subscriptionDrawing.Subscription.UserId);
                                        <tr>
                                            <td>@user</td>
                                            <td>@subscriptionDrawing.StateBeforeDrawing</td>
                                            <td>@subscriptionDrawing.LapCountBeforeDrawing</td>
                                            <td>@subscriptionDrawing.StateAfterDrawing</td>
                                            <td>@subscriptionDrawing.LapCountAfterDrawing</td>
                                            <td>@Html.Raw(subscriptionDrawing.Remark)</td>
                                        </tr>

                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
