@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.LotteryLotPotModel
@{
    ViewBag.Title = "Platzverlosung für " + Model.Lottery.Name;
}

<div class="row">
    <div class="col-md-12">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new {id = Model.Lottery.Organiser.Id})">@Model.Lottery.Organiser.ShortName</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Lottery", new {id = Model.Lottery.Semester.Id})">Wahlverfahren</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Details", "Lottery", new {id = Model.Lottery.Id})">@Model.Lottery.Name</a></li>
                <li class="breadcrumb-item active" aria-current="page">Zusammensetzung</li>
            </ol>
        </nav>

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    Wahlverfahren "@Model.Lottery.Name" - Zusammensetzung
                </h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-floating mb-3">
                                @Html.DropDownListFor(m => m.SemesterId, (IEnumerable<SelectListItem>)ViewBag.Semester, new { @class = "form-select" })
                                <label for="SemesterId">Semester auswählen</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-floating mb-3">
                                @Html.DropDownListFor(m => m.OrganiserId, (IEnumerable<SelectListItem>)ViewBag.Organiser, new { @class = "form-select", onchange = "onOrganiserChanged()" })
                                <label for="OrganiserId">Fakultät auswählen</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input name="searchText" id="searchText" type="text" class="form-control" onkeydown="onEnter()"  placeholder="Teil aus Name oder Kurzname der Lehrveranstaltung">
                                <label for="searchText">Suchbegriff (Teil aus Name oder Kurzname der Lehrveranstaltung)</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-outline-primary" type="submit" id="button-addon2" onclick="search()"><i class="bi bi-search"></i> Suchen</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="CourseTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Bezeichnung</th>
                            <th>Gruppen</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="activityTable">
                        @foreach (var activity in Model.PotElements)
                        {
                            <tr id="@activity.ActivitySummary.Activity.Occurrence.Id">
                                <td>Bestand</td>
                                <td>@activity.ActivitySummary.Activity.Name (@activity.ActivitySummary.Activity.ShortName)</td>
                                <td>@Html.GroupList(activity.ActivitySummary.Activity.SemesterGroups)</td>
                                <td><button class="btn btn-outline-danger btn-sm" onclick="deleteRow('@activity.ActivitySummary.Activity.Occurrence.Id');"><i class="bi bi-trash"></i></button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-body">
                <button class="btn btn-primary" onclick="saveLotPot()"><i class="fa fa-save"></i> speichern</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        function deleteRow(id) {
            $("#" + id).remove();
        }

        function saveLotPot() {
            var groupList = new Array();

            var list = $("#CourseTable > table > tbody > tr").get();
            var n = list.length;
            if (n > 0) {
                for (var i = 0; i < n; i++) {
                    groupList[i] = list[i].id;
                }
            }

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("ChangeLotPot")',
                data: {
                    LotteryId: "@Model.LotteryId",
                    CourseIds: groupList
                },
                success: function(data, success, xhr) {
                    window.location.replace("@Url.Action("Details", new {id=Model.Lottery.Id})");
                }
            });

        }

        function onEnter() {
            if (event.key === 'Enter') {
                search();
            }
        }

        function search() {
            var groupId = $('#searchText').val();
            var semId = $("#SemesterId option:selected").val();
            var orgId = $("#OrganiserId option:selected").val();

            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("Search")',
                    data: {
                        searchText: groupId,
                        semId: semId,
                        orgId: orgId
                    },
                    success: function (data, success, xhr) {
                        $('#activityTable').append(data);
                    }
                });

        }

    </script>
}



