@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.DataServices.Lottery.DrawingService
@{
    ViewBag.Title = "Status " + Model.Lottery.Name;
    var userService = new UserInfoService();
}


@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabStudents').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel'
                ],
                "paging": false,
                "order": [[1, 'asc']]
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

        });
    </script>
}


<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
                @if (Model.Lottery.Organiser != null)
                {
                    <li class="breadcrumb-item"><a href="@Url.Action("Organiser", "Lottery", new { orgId = Model.Lottery.Organiser.Id })">@Model.Lottery.Organiser.ShortName</a></li>
                }
                @if (Model.Lottery.Semester != null)
                {
                    <li class="breadcrumb-item"><a href="@Url.Action("Organiser", "Lottery", new { semId = Model.Lottery.Semester.Id, orgId = Model.Lottery.Organiser.Id })">@Model.Lottery.Semester.Name</a></li>
                }
                <li class="breadcrumb-item"><a href="@Url.Action("Details", "Lottery", new { id = Model.Lottery.Id })">@Model.Lottery.Name</a></li>
                <li class="breadcrumb-item active" aria-current="page">Teilnehmende</li>
            </ol>
        </nav>
    </div>
</div>



    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <table id="tabStudents" class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nachname</th>
                            <th>Vorname</th>
                            <th>Studiengang</th>
                            <th>Kohorte(n)</th>
                            <th>Studienbeginn</th>
                            <th>TZ/VZ</th>
                            <th><i class="bi bi-people"></i></th>
                            <th><i class="bi bi-hourglass-split"></i></th>
                            <th>Kommentar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var game in Model.Games)
                        {
                            var user = game.Student != null ? userService.GetUser(game.Student.UserId) : userService.GetUser(game.UserId);

                            foreach (var seat in game.Seats)
                            {
                                <tr>
                                    <td></td>
                                    @if (user != null)
                                    {
                                        <td>@user.LastName</td>
                                        <td>@user.FirstName</td>
                                    }
                                    else
                                    {
                                        <td>unbekannt</td>
                                        <td>kein Benutzerkonto vorhanden</td>
                                    }
                                    @if (game.Student != null)
                                    {
                                        <td>@game.Student.Curriculum.ShortName</td>

                                        <td>
                                            @if (game.Student.LabelSet != null)
                                            {
                                                foreach (var label in game.Student.LabelSet.ItemLabels)
                                                {
                                                    <div>@label.Name</div>
                                                }
                                            }
                                        </td>


                                        <td>@game.Student.FirstSemester.Name</td>
                                        if (game.Student.IsPartTime)
                                        {
                                            <td>TZ</td>
                                        }
                                        else
                                        {
                                            <td>VZ</td>
                                        }

                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    }
                                    <td>
                                        @seat.Course.ShortName (@seat.Subscription.Priority)
                                    </td>
                                    <td></td>
                                    <td>@Html.Raw(seat.Subscription.HostRemark)</td>
                                </tr>
                            }

                            foreach (var lot in game.Lots)
                            {
                    <tr>
                        <td></td>
                        @if (user != null)
                        {
                            <td>@user.LastName</td>
                            <td>@user.FirstName</td>
                        }
                        else
                        {
                            <td>unbekannt</td>
                            <td>kein Benutzerkonto vorhanden</td>
                        }
                        @if (game.Student != null)
                        {
                            <td>@game.Student.Curriculum.ShortName</td>
                            <td>
                                @if (game.Student.LabelSet != null)
                                {
                                    foreach (var label in game.Student.LabelSet.ItemLabels)
                                    {
                                        <div>@label.Name</div>
                                    }
                                }
                            </td>
                            <td>@game.Student.FirstSemester.Name</td>
                            if (game.Student.IsPartTime)
                            {
                                <td>TZ</td>
                            }
                            else
                            {
                                <td>VZ</td>
                            }

                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                        <td></td>
                        <td>
                            @lot.Course.ShortName  (@lot.Subscription.Priority)
                        </td>
                        <td>@Html.Raw(lot.Subscription.HostRemark)</td>
                    </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

