@using System.Globalization
@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.DataServices.Lottery.DrawingService
@{
    ViewBag.Title = "Status " + Model.Lottery.Name;
    var userService = new UserInfoService();
}



@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabStudents').DataTable({
                "paging": false
            });
        });
    </script>
}



<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Wahlverfahren @Model.Lottery.Name  - Studierende</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-menu">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <a href="@Url.Action("Details", new {id=Model.Lottery.Id})" class="btn btn-default">
                                <i class="fa fa-arrow-left"></i> Zurück
                            </a>
                            <a href="@Url.Action("RawData", new {id=Model.Lottery.Id})" class="btn btn-default">
                                <i class="fa fa-download"></i> Rohdaten
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Liste der Studierenden</h4>
                </div>


                <table id="tabStudents" class="table table-condensed">
                    <thead>
                        <tr>
                            <th rowspan="2">Name</th>
                            <th rowspan="2"><i class="fa fa-book"></i></th>
                            <th rowspan="2"><i class="fa fa-anchor"></i></th>
                            <th rowspan="2"><i class="fa fa-calendar-plus-o"></i></th>
                            <th rowspan="2"><i class="fa fa-bed text-primary"></i></th>
                            <th rowspan="2"><i class="fa fa-frown-o text-primary"></i></th>
                            <th rowspan="2">Vor Losdurchgang bereits vorhandene Plätze</th>
                            <th colspan="@Model.Lottery.MaxSubscription">Lose des Losdurchgangs (nach Priorität)</th>
                        </tr>
                        <tr>
                            @for (var i = 0; i <= Model.Lottery.MaxSubscription; i++)
                            {
                                <th>@i</th>
                            }
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var student in Model.Games)
                        {
                            var seats = student.Seats.Count(x => !x.Subscription.OnWaitingList);
                            var user = student.Student != null ? userService.GetUser(student.Student.UserId) : userService.GetUser(student.UserId);

                        <tr>
                            @if (student.Student == null)
                            {
                                <td colspan="4">@user.FullName</td>
                            }
                            else
                            {
                                if (user == null)
                                {
                                    <td>Kein Benutzerkonto</td>
                                }
                                else
                                {
                                    <td>@user.FullName</td>
                                }
                                <td>@student.Student.Curriculum.ShortName</td>
                                if (student.Student.IsPartTime)
                                {
                                    <td>TZ</td>
                                }
                                else
                                {
                                    <td>VZ</td>
                                }
                                <td>@student.Student.FirstSemester.Name</td>
                            }

                            @if (student.LotteryGame != null)
                            {

                                if (seats < student.CoursesWanted)
                                {
                                    <td class="warning">@student.CoursesWanted</td>
                                }
                                else if (seats > student.CoursesWanted)
                                {
                                    <td class="danger">@student.CoursesWanted</td>
                                }
                                else
                                {
                                    <td class="success">@student.CoursesWanted</td>
                                }

                                if (student.AcceptDefault)
                                {
                                    <td><i class="fa fa-random"></i></td>
                                }
                                else
                                {
                                    <td><i class="fa fa-times text-danger"></i></td>
                                }
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                            }

                            <td>
                                @foreach (var seat in student.Seats)
                                {

                                    <div>
                                        @seat.Course.ShortName
                                        <ul class="fa-ul">
                                            <li><i class="fa fa-li fa-clock-o"></i>@seat.Subscription.TimeStamp</li>
                                            <li><i class="fa fa-li fa-exclamation-circle"></i>Priorität: @seat.Priority</li>
                                            @if (!string.IsNullOrEmpty(seat.Subscription.HostRemark))
                                            {
                                                <li><i class="fa fa-li fa-file-text"></i>@Html.Raw(seat.Subscription.HostRemark)</li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </td>

                            @for (var i = 0; i <= Model.Lottery.MaxSubscription; i++)
                            {
                                var lots = student.Lots.Where(x => x.Priority == i).ToList();

                                <td>
                                    @foreach (var lot in lots)
                                    {
                                        var txtClass = "bg-info text-dark";
                                        if (lot.IsTouched)
                                        {
                                            if (lot.Subscription.OnWaitingList)
                                            {
                                                txtClass = "bg-warning text-darf";
                                            }
                                            else
                                            {
                                                txtClass = "bg-success text-white";
                                            }
                                        }
                                        <div class="@txtClass">
                                            @lot.Course.ShortName
                                            <ul class="fa-ul">
                                                <li><i class="fa fa-li fa-clock-o"></i>@lot.Subscription.TimeStamp</li>
                                                @if (!string.IsNullOrEmpty(lot.Subscription.HostRemark))
                                                {
                                                    <li><i class="fa fa-li fa-file-text"></i>@Html.Raw(lot.Subscription.HostRemark)</li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>
                             }
                        </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>