@model MyStik.TimeTable.Web.Models.ThesisMailModel

@{
    Layout = "~/Views/Mail/_UserTemplate.cshtml";
}


<p>
    Die Note Ihrer Abschlussarbeit wurde von @Model.ActionUser.FirstName @Model.ActionUser.LastName am
    @Model.Thesis.GradeDate.Value.ToShortDateString() ans Prüfungsamt gemeldet.<br />
    Bitte berücksichtigen Sie, dass mit dieser Meldung die Note noch nicht eingetragen ist und damit noch nicht im Notenblatt enthalten ist.
</p>

@if (Model.Thesis.Student.Curriculum.Organiser.ShortName.Equals("FK 09"))
{
    <h5>Alum-NINE</h5>
    <p>Wollen Sie auch nach dem Abschluss Ihres Studiums mit Ihrer Hochschule und Fakultät in Kontakt bleiben, z.B. für die Einladung zur Absolventenverabschiedung?</p>
    <a href="@Url.Action("StayConnected", "Alumni", new { id = Model.Thesis.Student.Id }, Request.Url.Scheme)">Zur Anmeldung als Alumni</a>

    <h5>Teilnahme an der Alumnibefragung</h5>
    if (Model.Thesis.Student.Curriculum.ShortName.Equals("WI"))
    {
        <a href="https://evasys.cc.hm.edu/evasys/online.php?p=bachelor09a">Alumnibefragung für Bachelor WI</a>
    }
    if (Model.Thesis.Student.Curriculum.ShortName.Equals("AU"))
    {
        <a href="https://evasys.cc.hm.edu/evasys/online.php?p=bachelor09a">Alumnibefragung für Bachelor AU</a>
    }
    if (Model.Thesis.Student.Curriculum.ShortName.Equals("LM"))
    {
        <a href="https://evasys.cc.hm.edu/evasys/online.php?p=bachelor09a">Alumnibefragung für Bachelor LM</a>
    }
    if (Model.Thesis.Student.Curriculum.ShortName.Equals("WIM"))
    {
        <a href="https://evasys.cc.hm.edu/evasys/online.php?p=master09a">Alumnibefragung für konsekutiven Master WI</a>
    }
    if (Model.Thesis.Student.Curriculum.ShortName.Equals("MBA"))
    {
        <a href="https://evasys.cc.hm.edu/evasys/online.php?p=mbaeng09a">Alumnibefragung für MBA</a>
    }
}


@if (Model.Thesis.Student.Curriculum.Organiser.ShortName.Equals("FK 10"))
{
    <p>
        Wir würden uns freuen, mit Ihnen in Kontakt zu bleiben!
        Im Alumni-Newsletter erhalten Sie ein bis zwei Mal pro Semester Neuigkeiten aus der Fakultät und Infos zu Veranstaltungen und weiteren Vernetzungsmöglichkeiten: Zur <a href="https://tinyurl.com/fk10alumni">Anmeldung </a>
    </p>

    <h5>Alum-NINE</h5>
    <p>Wollen Sie auch nach dem Abschluss Ihres Studiums mit Ihrer Hochschule und Fakultät in Kontakt bleiben, z.B. für die Einladung zur Absolventenverabschiedung?</p>
    <a href="@Url.Action("StayConnected", "Alumni", new { id = Model.Thesis.Student.Id }, Request.Url.Scheme)">Zur Anmeldung als Alumni</a>
}