@model ICollection<MyStik.TimeTable.Web.Models.UserAdminViewModel>
@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@{
    ViewBag.Title = "Benutzerverwaltung";
}

<h4>Benutzerverwaltung</h4>

<div class="row">
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Account</th>
                <th>Name</th>
                <th>E-Mail</th>
                <th></th>
                <th>Member</th>    
                <th>Curr</th>
                <th>Grp</th>
                <th>#</th>
                <th>Registriert</th>
                <th>Letztes Login</th>
                <th>Ablauf</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ var i = 0;}
            @foreach (var user in Model)
            {
                i++;
                var rowState = string.Empty;
                if (user.User.ExpiryDate.HasValue)
                {
                    rowState = "warning";
                }
                if (!user.User.IsApproved || (user.User.ExpiryDate.HasValue && user.User.ExpiryDate.Value <= DateTime.Today))
                {
                    rowState = "danger";
                }
                
                <tr class="@rowState">
                    <td>@i</td>
                    <td>@user.User.UserName</td>
                    <td>@user.User.LastName @user.User.FirstName</td>
                    <td>
                        @if (user.User.EmailValidated.HasValue)
                        {
                            if (user.User.EmailValidated.Value)
                            {
                                <i class="fa fa-check text-success"></i>@Html.Raw(" (" + user.User.Approved + ") ")
                            }
                            else
                            {
                                <i class="fa fa-exclamation text-danger"></i>
                            }
                        }
                        else
                        {
                            <i class="fa fa-question text-warning"></i>
                        }
                        <a href="mailto:@user.User.Email"> @user.User.Email</a> 
                    </td>
                    <td>
                        @switch (user.User.MemberState)
                        {
                            case MemberState.Student:
                                <i class="fa fa-graduation-cap"></i>
                                break;
                            case MemberState.Staff:
                                <i class="fa fa-university text-info"></i>
                                break;
                            case MemberState.Guest:
                            <i class="fa fa-user text-info"></i>
                                break;
                        }
                        @if (user.User.LikeEMails)
                        {
                            <i class="fa fa-envelope-o text-success"></i>
                        }
                    </td>
                    <td>
                        @foreach (var member in user.Members)
                        {
                            if (member.Organiser != null)
                            {
                                @Html.ActionLink(member.Organiser.ShortName, "Members", "Organiser", new {id = member.Organiser.Id}, null)
                                if (member != user.Members.Last())
                                {
                                    @Html.Raw(", ")
                                }
                            }
                            else
                            {
                                @Html.Raw("Fehler!")
                            }
                        }
                    </td>
                    <td>@user.User.Curriculum</td>
                    <td>@user.User.Group</td>
                    <td>@Html.ActionLink(user.SubscriptionCount.ToString(), "Subscriptions", "User", new { id = user.User.Id}, null )</td>
                    <td>@user.User.Registered</td>
                    <td>@user.User.LastLogin</td>
                    @if (user.User.ExpiryDate.HasValue)
                    {
                        <td>@user.User.ExpiryDate.Value.Date.ToShortDateString()</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>
                        @if (User.IsInRole("SysAdmin"))
                        {
                            @Html.ActionButton("fa-graduation-cap", "", "MakeStudent", "User", new { id = user.User.Id }, new { @class = "btn btn-default btn-sm" })
                            @Html.ActionButton("fa-university", "", "MakeStaff", "User", new { id = user.User.Id }, new { @class = "btn btn-default btn-sm" })
                            @Html.ActionButton("fa-user", "", "MakeGuest", "User", new { id = user.User.Id }, new { @class = "btn btn-default btn-sm" })
                            @Html.ActionButton("fa-trash-o text-danger", "", "DeleteUser", "User", new {id = user.User.Id}, new {@class = "btn btn-default btn-sm"})
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
