@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Areas.InfoScreen.Models.InfoscreenModel

<input id="tokenPanelRight" type="hidden" name="tokenPanelRight" value="@ViewBag.Token">

<div>
    <h4>demnächst beginnt...</h4>
    @if (Model.UpcomingDates.Any())
    {
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Zeitraum</th>
                    <th>Raum</th>
                    <th>Veranstaltung</th>
                    <th>Personen</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var date in Model.UpcomingDates)
                {
                    if (date.Occurrence.IsCanceled)
                    {
                        <tr class="danger">
                            <td>@Html.TimeSpan(date)</td>
                            <td>abgesagt</td>
                            <td>@date.Activity.Name</td>
                            <td>@Html.LecturerList(date.Hosts, false)</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@Html.TimeSpan(date)</td>
                            <td>@Html.RoomList(date.Rooms, false, false)</td>
                            <td>@date.Activity.Name</td>
                            <td>@Html.LecturerList(date.Hosts, false)</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h1 class="text-success">...heute nix mehr</h1>
    }
</div>



