@model CalenderEventViewModel
@using System.Text
@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models

<div>
    <!--HIER HAT DER PROF "MOBILE ANSICHT" ALS ÜBERSCHRIFT GESCHRIEBEN!!-->
    <strong>
        @Html.ActionLink(Model.Summary.ShortName, Model.Summary.Action, Model.Summary.Controller, new { id = Model.Summary.Id }, null)
    </strong>


</div>
<div>

    @foreach (var l in Model.Summary.Date.Hosts)
    {
        @Html.ActionLink(l.Name, "Member", "Organiser", new { orgId = l.Organiser.ShortName, shortName = l.ShortName }, null)
        if (l != Model.Summary.Date.Hosts.Last())
        {
            @Html.Raw(", ")
        }
    }

    @{
        var dt = Model.Summary.Date.End - Model.Summary.Date.Begin;
        if (dt.TotalMinutes < 60)
        {
            @Html.Raw(" @")
            foreach (var r in Model.Summary.Date.Rooms)
            {
                @Html.ActionLink(r.Number, "Index", "Room", new { id = r.Id }, null)
                if (r != Model.Summary.Date.Rooms.Last())
                {
                    @Html.Raw(", ")
                }
            }
        }
    }
</div>
@{
    if (dt.TotalMinutes >= 60)
    {
        @Html.Raw("<div>")
        foreach (var r in Model.Summary.Date.Rooms)
        {
            @Html.ActionLink(r.Number, "Index", "Room", new { id = r.Id }, null)
            if (r != Model.Summary.Date.Rooms.Last())
            {
                @Html.Raw(", ")
            }
        }
        @Html.Raw("</div>")
    }
}
