@using MyStik.TimeTable.Web.Helpers
@model ICollection<MyStik.TimeTable.Web.Models.CourseSummaryModel>

<table class="table table-sm">
    <thead>
    <tr>
        <th>Bezeichnung</th>
        <th>Gruppe(n)</th>
        <th>Zeit(en)</th>
        <th>Raum</th>
        <th>Lehrende</th>
        <th>TN</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var c in Model)
    {
        var linkText = c.Course.Name + " (" + c.Course.ShortName + ")";
        <tr>
            <td>
                @Html.ActionLink(linkText, "Index", "Course", new {id = c.Course.Id}, null)
            </td>
            <td>
                @Html.GroupList(c.Course.SemesterGroups)
            </td>
            <td>
                @Html.DateList(c.Dates)
            </td>
            <td>
                @Html.RoomList(c.Rooms)
            </td>
            <td>
                @Html.LecturerList(c.Lecturers)
            </td>
            <td>
                @c.Course.Occurrence.Subscriptions.Count
            </td>
        </tr>
    }

    </tbody>
</table>

<div class="alert alert-info">
    <strong>Legende</strong>
    <p>TN: Anzahl der aller Eintragungen, unabhängig vom Status (Teilnehmer, Warteliste)</p>
    <p>Fit: Anzahl der Eintragungen, bei denen die vom Studierenden angegebene Semestergruppe identisch zur aktuell angezeigten Liste ist.</p>

</div>

