@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.CourseSummaryModel

@{
    var linkDates = string.Format("dates{0}", Model.Course.Id);
}

<div class="list-group-item">
    @{
        var nConflicts = Model.ConflictingDates.Count(x => x.Value.Any());
    }
    @if (@nConflicts > 0)
    {
        <span class="badge badge-danger">@nConflicts Terminkollisionen</span>
    }
    else
    {
        <span class="badge badge-success">Keine Terminkollisionen</span>
    }
    <h5 class="list-group-item-heading">
        <a href="#@linkDates" data-toggle="collapse">Termine</a>
    </h5>
    <div class="list-group collapse" id="@linkDates">
        @foreach (var date in Model.ConflictingDates.OrderBy(x => x.Key.Begin))
        {
            if (date.Value.Any())
            {
                <div class="list-group-item list-group-item-danger">
                    @Html.TimeSpanWithDate(date.Key)
                    <ul class="fa-ul">
                        <li><i class="fa fa-li fa-university"></i>@Html.RoomList(date.Key.Rooms, false, false), @Html.RoomList(date.Key.VirtualRooms, showLinks: true)</li>
                        <li><i class="fa fa-li fa-user-md"></i>@Html.LecturerList(date.Key.Hosts, false)</li>
                        @if (!string.IsNullOrEmpty(date.Key.Title))
                        {
                            <li><i class="fa fa-li fa-info-circle"></i><strong>@date.Key.Title</strong></li>
                        }
                        @foreach (var cd in date.Value)
                        {
                            <li><i class="fa fa-li fa-flash"></i>@Html.TimeSpan(cd): @cd.Activity.Name (@cd.Activity.ShortName)</li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="list-group-item">
                    <ul class="fa-ul">
                        <li><i class="fa fa-li fa-calendar"></i>@Html.TimeSpanWithDate(date.Key)</li> 
                        <li><i class="fa fa-li fa-university"></i>@Html.RoomList(date.Key.Rooms, false, false), @Html.RoomList(date.Key.VirtualRooms, showLinks:true)</li>
                        <li><i class="fa fa-li fa-user-md"></i>@Html.LecturerList(date.Key.Hosts, false)</li>
                        @if (!string.IsNullOrEmpty(date.Key.Title))
                        {
                            <li>
                                <i class="fa fa-li fa-info-circle"></i><strong>@date.Key.Title</strong>
                                @if (!string.IsNullOrEmpty(date.Key.Description))
                                {
                                    <br/>
                                    @date.Key.Description
                                }
                            </li>
                        }
                    </ul>
                </div>

            }
        }
    </div>

</div>
