@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.HomeViewModel
<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta content="de" http-equiv="Content-Language">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NINE | @ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/font-awesome/css/font-awesome.min.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/bootstrap/css/bootstrap.min.css")" />
    <link rel="shortcut icon" type="image/svg" href="@Url.Content("~/Assets/fillter/img/logo.svg")" />
</head>
<body>
<nav class="navbar navbar-default" style="margin-bottom: 0px;border: 0px; background-color: #e1e1e1" ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">NINE</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@Url.Action("Index", "Dashboard")" class="btn btn-primary" style="color: white"><i class="fa fa-sign-in"></i> Anmelden</a></li>
        </ul>
    </div><!-- /.container-fluid -->
</nav>
    @RenderBody()
<footer style="background-color: #595f64;margin-top: 80px;padding-bottom: 200px;padding-top:40px; color:white">
    <div class="container">
        <div class="col-md-3">
            <h4>Open Source</h4>
            <ul class="list-unstyled">
                <li><a href="https://acceleratex.org" style="color:white">AccelerateX</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Dokumentation</h4>
            <ul class="list-unstyled">
                @foreach (var fac in Model.Faculties)
                {
                    <li><a href="@fac.Organiser.SupportUrl" style="color:white">@fac.Organiser.Name</a></li>
                }
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Support</h4>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Contact", "Home")" style="color:white">Kontakt</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Allgemeines</h4>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("PrivacyStatement", "Home")" style="color:white">Datenschutz</a></li>
                <li><a href="@Resources.ImprintHyperlink" style="color:white">@Resources.ImprintLink</a></li>
            </ul>
        </div>
    </div>
</footer>
@Scripts.Render("~/bundles/jquery")
<script src="@Url.Content("~/Assets/global/plugins/bootstrap/js/bootstrap.min.js")"></script>
</body>
</html>
