@using Microsoft.AspNet.Identity
@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Services
<!DOCTYPE html>
<html lang="de-DE" data-bs-theme="light" id="mainElement">
<head>
    <script>
        let themeName = "light";
        if (localStorage.getItem("grapevine.theme") === null) {
            localStorage.setItem("grapevine.theme", themeName.toString());
        } else {
            themeName = localStorage.getItem("grapevine.theme");
        }
        const element = document.getElementById("mainElement");
        element.setAttribute("data-bs-theme", themeName);
    </script>
    <meta content="de" http-equiv="Content-Language">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grapevine | @ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/jquery/jquery-ui.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/bootstrap-icons/font/bootstrap-icons.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/fontawesome/css/all.min.css")" />
    @*
        <link rel="stylesheet" href="@Url.Content("~/Assets/areas/admin/styles.css")" />
    *@
    @RenderSection("styles", required: false)
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/Assets/img/cap/broadcast.ico")" />

    @*
        @if (!Request.IsLocal)
        {
            <!-- Matomo -->
            <script type="text/javascript">
                var _paq = window._paq = window._paq || [];
                /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function () {
                    var u = "//shortcut.wi.hm.edu/analytics/";
                    _paq.push(['setTrackerUrl', u + 'matomo.php']);
                    _paq.push(['setSiteId', '1']);
                    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                    g.type = 'text/javascript'; g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
                })();
            </script>
            <!-- End Matomo Code -->
        }
        style="background-color: #ffffff"

        style="background-color: #3c4146;"
    *@
</head>
<body>
    @{
        var userService = new UserInfoService();
        var user = userService.GetUser(User.Identity.GetUserId());
    }
    

<nav class="navbar fixed-top navbar-expand-lg bg-secondary">
    <div class="container-fluid">
        <a class="btn btn-outline-light" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" aria-label="Main menu"><i class="bi bi-list"></i></a>

        @if (Request.IsAuthenticated && ViewBag.IsGuest == null)
        {
            <form class="d-flex" action="@Url.Action("Index", "Search")">
                <input class="form-control me-2" type="search" name="searchText" placeholder="@Resources.SearchString..." aria-label="Search">
                @*
        <button class="btn btn-outline-light" type="submit"><i class="fas fa-search"></i></button>
                *@
            </form>
        }
        <ul class="navbar-nav">
            @if (Request.IsAuthenticated)
            {
                <li class="nav-item dropdown">
                    <div class="btn-group">
                        <a class="nav-link dropdown-toggle text-center text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-sun"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="javascript:onSetTheme('light')" aria-label="light mode"><i class="bi bi-sun"></i></a></li>
                            <li><a class="dropdown-item" href="javascript:onSetTheme('dark')" aria-label="dark mode"><i class="bi bi-moon-stars-fill"></i></a></li>
                        </ul>
                        <a class="nav-link dropdown-toggle text-center text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-person"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

                            <li>
                                <a class="dropdown-item" href="@Url.Action("Index", "Manage")">
                                    <i class="´bi bi-person-check"></i> @Resources.MyUserProfile
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://acceleratex-org.github.io/NINE/" target="_blank"><i class="bi bi-question-circle"></i> Dokumenation</a>
                            </li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="bi bi-door-closed"></i> @Resources.LogOut</a></li>
                        </ul>
                    </div>
                </li>
                @*
                <li class="nav-item">
                    <div class="btn-group">
                        <a class="nav-link dropdown-toggle text-center text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-sun"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="javascript:onSetTheme('light')"><i class="bi bi-sun"></i></a></li>
                            <li><a class="dropdown-item" href="javascript:onSetTheme('dark')"><i class="bi bi-moon-stars-fill"></i></a></li>
                        </ul>
                        <a aria-label="Logout" href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-outline-light"><i class="bi bi-door-closed"></i></a>
                    </div>
                </li>
                    *@
            }
            else
            {
                @*
                <li class="nav-item">
                    <a href="@Url.Action("Login", "Account")" class="btn btn-outline-light"><i class="bi bi-door-open"></i> @Resources.LoginButton</a>
                </li>
                *@
            }
        </ul>
    </div>
</nav>
    
<div class="container-fluid" style="margin-top:60px">
    @RenderBody()
</div>


<div class="container-fluid">
    <footer class="row mt-3">
        <div class="col">
            <div class="d-flex flex-row mb-3">
                <a class="p-2" href="https://github.com/AccelerateX-org">HMster @Html.AssemblyVersion()</a>
                <a class="p-2" href="@Url.Action("TermsOfUse", "Home")">@Resources.TermsOfUse</a>
                <a class="p-2" href="@Url.Action("Imprint", "Home")">@Resources.ImprintLink</a>

                <a class="p-2" href="@Url.Action("SetCulture", "Home", new {culture = "de"})">
                    <img alt="Language de" aria-label="Switch to language de" src="~/Assets/img/flags/de.png" />
                </a>
                <a class="p-2" href="@Url.Action("SetCulture", "Home", new {culture = "en"})">
                    <img alt="Language en" aria-label="Switch to language en" src="~/Assets/img/flags/gb.png" />
                </a>
            </div>
        </div>
    </footer>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"><i class="bi bi-broadcast"></i> HM<i>ster</i> Grapevine</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="list-group">
        @if (Request.IsAuthenticated)
        {
            @*
            <div class="list-group-item list-group-item-secondary">@user.FullName</div>
            <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Dashboard")">
                <i class="bi bi-grid"></i> Mein Dashboard
            </a>
            <a class="list-group-item list-group-item-action" href="@Url.Action("Curricula", "Subscription")">
                <i class="´bi bi-book"></i> Mein Studienbuch
            </a>
            <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Manage")">
                <i class="´bi bi-person-check"></i> @Resources.MyUserProfile
            </a>
            *@

            <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Dictionary")" aria-label="Vorlesungen">
                <i class="bi bi-collection-play"></i> Lehrveranstaltungen
            </a>
            <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "OfficeHour")" aria-label="Sprechstunden">
                <i class="bi bi-person-lines-fill"></i> Personen
            </a>
            <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Rooms")" aria-label="Räume">
                <i class="bi bi-building"></i> Räume
            </a>
            <a class="list-group-item list-group-item-action" href="@Url.Action("Curricula", "University")" aria-label="Studienangebote">
                <i class="bi bi-award"></i> Studienangebote
            </a>

        }
        else
        {
            <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Home")">
                <i class="bi bi-house"></i> Startseite
            </a>
            <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "University")">
                <i class="bi bi-building"></i> Campus
            </a>
            <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Home", new { @area = "Gym" })">
                <i class="bi bi-controller"></i> Gym
            </a>
        }
        @*
        <a class="list-group-item list-group-item-action" href="@Url.Action("PersonalMessage", "Notification")"><i class="bi bi-send"></i> Send me a notification</a>
        <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "UserProfile")"><i class="bi bi-gear"></i> @Resources.MySettings</a>
        *@


    </div>
</div>


    @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }



    <script type="text/javascript" src="@Url.Content("~/Assets/libs/jquery/jquery.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/jquery/jquery-ui.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap/js/bootstrap.bundle.min.js")"></script>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        //var themeName = "light";

    $(function() {

        /*
        if (localStorage.getItem("grapevine.theme") === null) {
            themeName = "light";
            localStorage.setItem("grapevine.theme", themeName.toString());
        } else {
            themeName = localStorage.getItem("grapevine.theme");
        }

        updateTheme();
        */

        if (document.cookie.indexOf("cookieNotification") < 0) {
            $('#cookie-consent').slideDown('slow');
        }
        $('#consent').on('click',
            function() {
                document.cookie = "cookieNotification=yes; max-age=" + (5 * 365 * 24 * 60 * 60);
                $('#cookie-consent').slideUp('slow');
            });
        $('#learn-more').on('click',
            function() {
                location.href = '@Url.Action("TermsOfUse", "Home")';
            });
    });

        function onSetTheme(theme) {
            theme = theme;
            localStorage.setItem("grapevine.theme", theme.toString());

            const element = document.getElementById("mainElement");
            element.setAttribute("data-bs-theme", theme);
            //updateTheme();
        }

        function updateTheme() {
            const element = document.getElementById("mainElement");
            element.setAttribute("data-bs-theme", themeName);

        }

    </script>
    @if (!Request.IsLocal)
    {
        <script type="text/javascript" src="https://acceleratex.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-l2el80/b/2/7ebd7d8b8f8cafb14c7b0966803e5701/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=de-DE&collectorId=a0e7d8dc"></script>
    }
</body>
</html>
