@using Microsoft.AspNet.Identity
@using MyStik.TimeTable.Web.Helpers
<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta content="de" http-equiv="Content-Language">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nine | @ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/font-awesome/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/uniform/css/uniform.default.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" />
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/css/components.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/css/plugins.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/admin/layout/css/layout.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/admin/layout/css/themes/fillter.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/admin/layout/css/custom.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/fillter/css/fillter.css")" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" type="image/svg" href="@Url.Content("~/Assets/fillter/img/logo_nine.svg")" />
</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <i class="fa fa-home"></i>
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <!--
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
                -->
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <form class="navbar-form navbar-left" role="search" action="@Url.Action("Index", "Search")">
                    <div class="form-group">
                        <input name="searchText" type="text" class="form-control" placeholder="@Resources.SearchString...">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </form>
                <ul class="nav navbar-nav pull-right">


                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge badge-default" id="AnzahlNeue" style="display: none">

                            </span>
                        </a>
                        <ul id="NotificationList" class="dropdown-menu"></ul>
                    </li>

                    <!-- END NOTIFICATION DROPDOWN -->

                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="fa fa-user-circle"></i>
                            <span class="username username-hide-on-mobile">
                                @User.Identity.GetUserName()
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="@Url.Action("Index", "UserProfile")">
                                    <i class="fa fa-fw fa-cogs"></i> @Resources.MySettings
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Manage")">
                                    <i class="fa fa-fw fa-user-secret"></i> @Resources.MyUserProfile
                                </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="fa fa-fw fa-power-off"></i> @Resources.LogOut
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>

    <!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content" style="margin-left: 0px">
            @RenderBody()
        </div>
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN QUICK SIDEBAR -->
    <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
    <div class="page-quick-sidebar-wrapper">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 414px;">
            <div id="agenda" class="page-quick-sidebar">
            </div>
        </div>
    </div>
    <!-- END QUICK SIDEBAR -->
</div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            <div class="pull-left">
                <ul class="list-inline">
                    <li><a href="https://acceleratex.org/">nine @Html.AssemblyVersion()</a></li>
                    <li><a href="@Url.Action("TermsOfUse", "Home")">@Resources.TermsOfUse</a></li>
                    <li><a href="@Url.Action("Imprint", "Home")">@Resources.ImprintLink</a></li>
                </ul>
            </div>
            <div class="pull-right">
                <ul class="list-inline">
                    <li>
                        <a href="@Url.Action("SetCulture", "Home", new {culture = "de"})">
                            <img src="~/Assets/global/img/flags/de.png" />
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("SetCulture", "Home", new {culture = "en"})">
                            <img src="~/Assets/global/img/flags/gb.png" />
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("SetCulture", "Home", new {culture = "fr"})">
                            <img src="~/Assets/global/img/flags/fr.png" />
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("SetCulture", "Home", new {culture = "es"})">
                            <img src="~/Assets/global/img/flags/es.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Assets/global/plugins/respond.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/excanvas.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/jquery-migrate.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/jquery-ui/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/jquery.blockui.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/jquery.cokie.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/uniform/jquery.uniform.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")"></script>
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Assets/global/scripts/metronic.js")"></script>
    <script src="@Url.Content("~/Assets/admin/layout/scripts/layout.js")"></script>
    <script src="@Url.Content("~/Assets/admin/layout/scripts/quick-sidebar.js")"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            // Layout.init(); // init layout
            // QuickSidebar.init(); // init quick sidebar

            // Inhalt Quicksidebar laden
            $.ajax({
                type: "POST",
                url: "@Url.Action("Agenda", "Activity")",
                success: function (data) {
                    $("#agenda").html(data);
                }
            });

            var menuId = "@ViewBag.MenuId";
            if (menuId != null) {
                $("#" + menuId).addClass("active");
            }

            $("#AnzahlNeue").hide();
            //$("#NotificationList").hide();

            // Inhalt für die NotificationList laden
            
                $.ajax({
                  type: "POST",
                  data: { userId: "@User.Identity.GetUserId()" },
                  url: "@Url.Action("GetNotificationList", "Dashboard")",
                    success: function (data) {                        

                        //$("#NotificationList").show();
                        $("#NotificationList").html(data);

                        var n = $("#AnzahlNeueNotifications").text();

                        // welches Element ist das, was den slimscroll bekommen soll?
                        // init aufrufen
                        //Metronic.initSlimScroll('.scroller');
                        $('#notificationScroller').slimScroll({
                            color: '#444444',
                            height: '250px',
                            alwaysVisible: true,
                            size: '7px'
                        });

                        if (n > 0) {
                            $("#AnzahlNeue").show();
                            $("#AnzahlNeue").html($("#AnzahlNeueNotifications").text());
                        }
                  }
        });
        

        });

        function MarkAsRead(ChangeId) {
            $.ajax({
                    type: "POST",
                data: { userId: "@User.Identity.GetUserId()", changeId: ChangeId },
                    url: "@Url.Action("MarkAsRead", "Dashboard")",
                    success: function (data) {
                        $("#NotificationList").html(data);

                        var n = $("#AnzahlNeueNotifications").text();

                        $('#notificationScroller').slimScroll({
                            color: '#444444',
                            height: '250px',
                            alwaysVisible: true,
                            size: '7px'
                        });

                        if (n > 0) {
                            $("#AnzahlNeue").show();
                            $("#AnzahlNeue").html($("#AnzahlNeueNotifications").text());
                        }
                        else {
                            $("#AnzahlNeue").hide();
                        }
                    }
            });
         }

    </script>

    @if (!Request.IsLocal)
    {
        <!-- Matomo -->
        <script type="text/javascript">
            var _paq = _paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//shortcut.wi.hm.edu/analytics/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '2']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->
    }


@if (!Request.IsLocal)
{
    <script type="text/javascript" src="https://acceleratex.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-l2el80/b/2/7ebd7d8b8f8cafb14c7b0966803e5701/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=de-DE&collectorId=a0e7d8dc"></script>
}

</body>
</html>

