@using MyStik.TimeTable.Web.Helpers
<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta content="de" http-equiv="Content-Language">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nine | @ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/font-awesome/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/bootstrap/css/bootstrap.min.css")" />
    @RenderSection("styles", required: false)
    <link rel="shortcut icon" type="image/svg" href="@Url.Content("~/Assets/fillter/img/logo_nine.svg")" />
</head>
<body>
    <div id="cookie-consent" class="bg-warning" hidden="">
        <div class="container">
            <div style="margin-top: 10px; margin-bottom: 10px">
                <span>Wir verwenden Cookies, um Inhalte und Anzeigen zu personalisieren.</span>
                <button class="btn btn-xs btn-default" id="consent">Hinweis nicht mehr anzeigen</button> <button class="btn btn-xs btn-default" id="learn-more">Weitere Informationen</button>
            </div>
        </div>
    </div>
<nav class="navbar navbar-default" style="margin-bottom: 0px; border: 0px; background-color: #595f64">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" style="color: white" href="@Url.Action("Index", "Home")">
                nine
            </a>
        </div>
        @RenderSection("login", required: false)
    </div><!-- /.container-fluid -->
</nav>
    @RenderBody()
    <div class="container">
        <div class="page-footer">
            <div class="page-footer-inner">
                <div class="pull-left">
                    <ul class="list-inline">
                        <li><a href="https://acceleratex.org/">nine @Html.AssemblyVersion()</a></li>
                        <li><a href="@Url.Action("Index", "Home", new {@area="Lab"})">Lab</a></li>
                        <li><a href="@Url.Action("TermsOfUse", "Home")">Nutzungsbedingungen</a></li>
                        <li><a href="@Url.Action("Imprint", "Home")">@Resources.ImprintLink</a></li>
                    </ul>
                </div>
                <div class="pull-right">
                    <ul class="list-inline">
                        <li>
                            <a href="@Url.Action("SetCulture", "Home", new {culture = "de"})">
                                <img src="~/Assets/global/img/flags/de.png" />
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SetCulture", "Home", new {culture = "en"})">
                                <img src="~/Assets/global/img/flags/gb.png" />
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SetCulture", "Home", new {culture = "fr"})">
                                <img src="~/Assets/global/img/flags/fr.png" />
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SetCulture", "Home", new {culture = "es"})">
                                <img src="~/Assets/global/img/flags/es.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Assets/global/plugins/bootstrap/js/bootstrap.min.js")"></script>
    @RenderSection("scripts", required: false)

<script type="text/javascript">
    $(function() {
        if (document.cookie.indexOf("cookieNotification") < 0) {
            $('#cookie-consent').slideDown('slow');
        }
        $('#consent').on('click',
            function() {
                document.cookie = "cookieNotification=yes; max-age=" + (5 * 365 * 24 * 60 * 60);
                $('#cookie-consent').slideUp('slow');
            });
        $('#learn-more').on('click',
            function() {
                location.href = '@Url.Action("TermsOfUse", "Home")';
            });
    });
</script>
@if (!Request.IsLocal)
{
    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//shortcut.wi.hm.edu/analytics/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '2']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
}

</body>
</html>
