<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta content="de" http-equiv="Content-Language">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NINE | @ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/font-awesome/css/font-awesome.min.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/uniform/css/uniform.default.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" />
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/css/components.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/global/css/plugins.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/admin/layout/css/layout.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/admin/layout/css/themes/fillter.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/admin/layout/css/custom.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/fillter/css/fillter.css")" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" type="image/svg" href="@Url.Content("~/Assets/fillter/img/logo.svg")" />
</head>
<body class="page-full-width page-container-bg-solid">
<!-- BEGIN HEADER -->
    <!-- END HEADER -->
        <div class="clearfix">
    </div>

    <!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div style="padding-top: 50px">
            @RenderBody()
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                    <ul class="list-inline">
                        <li><a href="http://acceleratex.org">&copy; @DateTime.Now.Year AccelerateX</a></li>
                        <li>@Html.ActionLink(Resources.ContactLink, "Contact", "Home")</li>
                        <li><a href="@Url.Action("PrivacyStatement", "Home")">@Resources.PrivacyLink</a></li>
                        <li><a href="@Resources.ImprintHyperlink">@Resources.ImprintLink</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- END CONTENT -->
    <!-- BEGIN QUICK SIDEBAR -->
    <!-- END QUICK SIDEBAR -->
</div>

    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <!-- END FOOTER -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Assets/global/plugins/respond.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/excanvas.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/jquery-migrate.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/jquery-ui/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/jquery.blockui.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/jquery.cokie.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/uniform/jquery.uniform.min.js")"></script>
    <script src="@Url.Content("~/Assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")"></script>
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Assets/global/scripts/metronic.js")"></script>
    <script src="@Url.Content("~/Assets/admin/layout/scripts/layout.js")"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
        });

        $('form[data-async=true]').on('submit', function (event) {
            var $form = $(this);
            var $target = $($form.attr('data-target'));

            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(),

                success: function (data, status) {
                    $target.html(data);
                }
            });

            event.preventDefault();
        });
    </script>

    @if (!Request.IsLocal)
    {
        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function () {
                var u = "//analytics.it09.de/piwik/";
                _paq.push(['setTrackerUrl', u + 'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                g.type = 'text/javascript';
                g.async = true;
                g.defer = true;
                g.src = u + 'piwik.js';
                s.parentNode.insertBefore(g, s);
            })();
        </script>
        <noscript>
            <p>
                <img src="//analytics.it09.de/piwik/piwik.php?idsite=1" style="border: 0;" alt="" />
            </p>
        </noscript>
        <!-- End Piwik Code -->
    }
</body>
</html>
