@model MyStik.TimeTable.Web.Models.ModuleSemesterView

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notenmeldung Abschlussarbeit</title>
    <style>
        body {
            font-family: Helvetica,Arial,Sans-Serif;
            font-size: 11px;
            line-height: 1.4;
        }

        table, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        td {
            padding: 3px;
        }
    </style>
</head>

<body>
    <h1>Studienplan @Model.Curriculum.Name</h1>
    <h2>Beschreibung</h2>
    <p>@Model.Curriculum.Description</p>
    <h2>Themenbereiche</h2>
    @foreach (var area in Model.Curriculum.Areas)
    {
        <h3>@area.Name</h3>
        <p>@area.Description</p>

        foreach (var option in area.Options)
        {
            <h4>@option.Name</h4>
            <p>@option.Description</p>

            foreach (var slot in option.Slots)
            {
                <h5>@slot.Name</h5>
                <p>@slot.Description</p>

                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Titel</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var module in slot.ModuleAccreditations)
                        {
                            <tr>
                                <td>@module.Module.Tag</td>
                                <td>@module.Module.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    }
    <h3>Module</h3>
    @foreach (var module in Model.Modules)
    {
        var desc = module.Descriptions.Where(x => x.Semester.Id == Model.Semester.Id && x.ChangeLog != null).OrderByDescending(x => x.ChangeLog.Created).FirstOrDefault();

        <h4>@module.Tag: @module.Name</h4>

        <table>
            <tr>
                <td>
                    <div>
                        Name
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        @module.Name
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        Katalog-Nummer
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        @module.FullTag
                    </div>
                </td>
            </tr>
            @foreach (var accr in module.Accreditations)
            {
                <tr>
                    <td rowspan="3">
                        <div>
                            Zgehörigkeit zu Curriculum
                        </div>
                    </td>
                    <td colspan="2">
                        <div>
                            <div>@accr.Slot.AreaOption.Area.Curriculum.Name</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Fachsemester
                        </div>
                    </td>
                    <td>
                        <div>
                            <div>@accr.Slot.Semester</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Leistungspunkte
                        </div>
                    </td>
                    <td>
                        <div>
                            <div>@accr.Slot.ECTS ECTS</div>
                        </div>
                    </td>
                </tr>
            }
            @foreach (var subject in module.ModuleSubjects)
            {
                <tr>
                    <td rowspan="3">
                        <div>
                            Fach
                        </div>
                    </td>
                    <td>
                        <div>
                            Name
                        </div>
                    </td>
                    <td>
                        <div>
                            @subject.Name
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Aufwand
                        </div>
                    </td>
                    <td>
                        <div>
                            @subject.SWS SWS
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Lehrform
                        </div>
                    </td>
                    <td>
                        <div>
                            @subject.CourseType.ToString()
                        </div>
                    </td>
                </tr>
            }
            @foreach (var exam in module.ExaminationOptions)
            {
                <tr>
                    <td>
                        <div>
                            Prüfungsform
                        </div>
                    </td>
                    <td colspan="2">
                        <div>
                            @exam.FullName
                        </div>
                    </td>
                </tr>
            }
            @foreach (var lecturer in module.ModuleResponsibilities)
            {
                <tr>
                    <td>
                        <div>
                            Lehrende
                        </div>
                    </td>
                    <td colspan="2">
                        <div>
                            @lecturer.Member.FullName
                        </div>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    <div>
                        Voraussetzungen
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        @module.Prerequisites
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        Verwendbarkeit
                    </div>
                </td>
                <td colspan="2">
                    <div>
                        @module.Applicableness
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div>Semester @Model.Semester.Name</div>
                </td>
            </tr>
            <tr>
                <td>
                    Inhalt / Lernziele
                </td>
                <td colspan="2">
                    @if (desc != null)
                    {
                        <div>@Html.Raw(desc.Description)</div>
                    }
                    else
                    {
                        <div>Keine Beschreibung vorhanden</div>
                    }
                </td>
            </tr>
            @foreach (var accr in module.Accreditations)
            {
                foreach (var exam in accr.ExaminationDescriptions.Where(x => x.Semester.Id == Model.Semester.Id))
                {
                    <tr>
                        <td rowspan="6">
                            <div>
                                Prüfungsangebote
                            </div>
                        </td>
                        <td colspan="2">
                            <div>
                                <div>@accr.Slot.AreaOption.Area.Curriculum.Name</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                Erstprüfer:in
                            </div>
                        </td>
                        <td>
                            @if (exam.FirstExminer != null)
                            {
                                <div>@exam.FirstExminer.FullName</div>

                            }
                            else
                            {
                                <div>Nicht festgelegt</div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                Zweitprüfer:in
                            </div>
                        </td>
                        <td>
                            @if (exam.SecondExaminer != null)
                            {
                                <div>@exam.SecondExaminer.FullName</div>

                            }
                            else
                            {
                                <div>Nicht festgelegt</div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                Prüfungsform
                            </div>
                        </td>
                        <td>
                            @if (exam.ExaminationOption != null)
                            {
                                <div>@exam.ExaminationOption.FullName</div>

                            }
                            else
                            {
                                <div>Nicht festgelegt</div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                Details zur Prüfung
                            </div>
                        </td>
                        <td>
                            <div>
                                <div>@exam.Conditions</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                Hilfsmittel
                            </div>
                        </td>
                        <td>
                            <div>
                                <div>@exam.Utilities</div>
                            </div>
                        </td>
                    </tr>
                }
            }

        </table>


    }
</body>
</html>