@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.AssessmentOverviewModel
@{
    ViewBag.Title = "Aufnahmeverfahren";
}

@Html.Partial("_Watermark")

<div class="row" style="margin-top: 20px">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-poll"></i> Aufnahmeverfahren an der @Model.Organiser.Name (@Model.Organiser.ShortName)
            </div>
            <ul class="nav bg-light text-dark">
                <li class="nav-item">
                    <a class="nav-link text-center" href="@Url.Action("Index", "Dashboard")"><i class="fas fa-chevron-left fa-fw"></i><br />zurück</a>
                </li>
                @if (ViewBag.UserRight.Member.IsAdmin)
                {
                    <li class="nav-item">
                        <a class="nav-link text-center" href="@Url.Action("Create", new {id = Model.Organiser.Id})"><i class="bi bi-folder-plus fa-fw"></i><br />Anlegen</a>
                    </li>
                }
            </ul>
            <table class="table">
                <thead>
                    <tr>
                        <th>Bezeichnung</th>
                        <th>Studiengang</th>
                        <th>Kommittee</th>
                        <th>Ablauf</th>
                        <th>Teilnehmende</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var assessment in Model.Assessments)
                    {
                        <tr>
                            <td><a href="@Url.Action("Details", new {id=assessment.Id})">@assessment.Name</a></td>
                            <td>@assessment.Curriculum.Name (@assessment.Curriculum.ShortName)</td>
                            <td>
                                @foreach (var m in assessment.Committee.Members)
                                {
                                    <div>
                                        @m.Member.FullName
                                        @if (m.HasChair)
                                        {
                                            <i class=" fas fa-chair"></i>
                                        }
                                    </div>
                                }
                            </td>
                            <td>
                                @foreach (var stage in assessment.Stages.OrderBy(x => x.OpeningDateTime))
                                {
                                    <div>@Html.TimeSpanWithDate(stage.OpeningDateTime.Value, stage.ClosingDateTime.Value): @stage.Name</div>
                                }
                            </td>
                            <td>
                                @assessment.Candidatures.Count
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


