@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.Data.Assessment
@{
    ViewBag.Title = "Teilnehmde";
    var userInfoService = new UserInfoService();
    var totalByteCount = 0;

    var isAdmin = ViewBag.UserRight.Member.IsAdmin;
    var isCommittee = isAdmin || (ViewBag.Member != null);
    var hasChair = isAdmin || (ViewBag.Member != null && ViewBag.Member.HasChair);

}

@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables.net/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function() {
            var t = $('#tabCandidates').DataTable(
                {
                    "paging": false,
                    "order": [[1, 'asc']]
                }
            );

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

        });

    </script>
}


@Html.Partial("_Watermark")


<div class="row" style="margin-top: 20px">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-poll"></i> Teilnehmende am Aufnahmeverfahren für @Model.Name
            </div>
            <ul class="nav bg-light text-dark">
                <li class="nav-item">
                    <a class="nav-link text-center" href="@Url.Action("Details", new {id = Model.Id})"><i class="fas fa-chevron-left fa-fw"></i><br />zurück</a>
                </li>
            </ul>
            <table id="tabCandidates" class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Vorname</th>
                    <th>Kurzbiografie</th>
                    <th>Motivation</th>
                    @foreach (var stage in Model.Stages)
                    {
                        <th># Arbeiten in @stage.Name</th>
                    }
                    @if (isAdmin)
                    {
                        <th></th>
                    }
                </tr>
                </thead>
                <tbody>
                    @foreach (var candidate in Model.Candidatures)
                    {
                        var user = userInfoService.GetUser(candidate.UserId);
                        <tr>
                            <td></td>
                            @if (user != null)
                            {
                                <td><a href="@Url.Action("Candidate", new {id=candidate.Id})" target="_blank">@user.LastName</a></td>
                                <td>@user.FirstName</td>
                            }
                            else
                            {
                                <td>kein Benutzerkonto</td>
                                <td></td>
                            }

                            @if (string.IsNullOrEmpty(candidate.Characteristics))
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@candidate.Characteristics.Length</td>
                            }
                            @if (string.IsNullOrEmpty(candidate.Motivation))
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@candidate.Motivation.Length</td>
                            }

                            @foreach (var stage in Model.Stages)
                            {
                                var myStages = candidate.Stages.Where(x => x.AssessmentStage.Id == stage.Id).ToList();

                                if (myStages.Any())
                                {
                                    <td>
                                        @foreach (var s in myStages)
                                        {
                                            <div>@s.Material.Count</div>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @foreach (var s in candidate.Stages)
                                        {
                                            <div>@s.Material.Count (*@s.Candidature.Assessment.Name)</div>
                                        }
                                    </td>
                                }
                            }
                            @if (isAdmin)
                            {
                                <td><a href="@Url.Action("CandidateDetails", new {id=candidate.Id})" class="btn btn-outline-primary">Verwaltung</a></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>