@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.Data.Candidature
@{
    /**/

    ViewBag.Title = "Album";
    var userService = new UserInfoService();

    var user = userService.GetUser(Model.UserId);
}

@section styles
{
    <link href="@Url.Content("~/Assets/areas/album/c/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/areas/album/c/popup.css")" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="@Url.Content("~/Assets/areas/album/js/script.js")" type="text/javascript"></script>
}


@Html.Partial("_Watermark")

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@user.FullName</h4>
                <p id="loading">Bilder werden geladen – einen Augenblick bitte!</p>
                <div class="row">
                    <div class="col-5">
                        <h5 class="card-title">Kurzbiografie</h5>
                        <div class="card-text">
                            @Model.Characteristics
                        </div>
                        <button class="cardTextFormatieren">Format an/aus</button>
                    </div>
                    <div class="col-5">
                        <h5 class="card-title">Motivationsschreiben</h5>
                        <div class="card-text">
                            @Model.Motivation
                        </div>
                        <button class="cardTextFormatieren">Format an/aus</button>
                    </div>
                    <div class="col-2">
                        <h5 class="card-title">@user.FullName</h5>
                        <div class="card">
                            @if (user.BinaryData != null && user.BinaryData.Length > 0)
                            {
                                <img src="@Url.Action("GetProfileImage", new {id = Model.Id})" class="card-img-top"/>
                            }
                            else
                            {
                                <p>Kein Profilbild vorhanden</p>
                            }
                        </div>
                    </div>
                </div>
                @foreach (var stage in Model.Stages.OrderByDescending(x => x.AssessmentStage.ClosingDateTime))
                {
                    <div class="row">
                        <div class="col-12">
                            <h5 class="card-title">Eingereichte Unterlagen aus Stufe "@stage.AssessmentStage.Name"</h5>
                        </div>
                    </div>

                    <article class="galerie">
                        @if (stage.Material != null)
                        {
                            foreach (var m in stage.Material)
                            {
                                if (m.Storage != null)
                                {
                                    if (!m.Storage.FileType.Contains("pdf"))
                                    {
                                        <a href="@Url.Action("GetRessource", "Storage", new {id = m.Storage.Id})" title="@m.Storage.Name  - @m.Storage.Description">
                                            <li>
                                                <figure>
                                                    <img src="@Url.Action("GetRessource", "Storage", new {id = m.Storage.Id})" alt="">
                                                    <figcaption>@m.Storage.Name - @m.Storage.Description</figcaption>
                                                </figure>
                                            </li>
                                        </a>
                                    }
                                }
                                else
                                {
                                    <div>Bild fehlt</div>
                                }
                            }
                        }
                        else
                        {
                            <div>Kein Material vorhanden</div>
                        }
                    </article>


                    <article>
                        @if (stage.Material != null)
                        {
                            foreach (var m in stage.Material)
                            {
                                if (m.Storage != null)
                                {
                                    if (m.Storage.FileType.Contains("pdf"))
                                    {
                                        <a href="@Url.Action("GetRessource", "Storage", new {id = m.Storage.Id})" target="_blank">
                                            pdf-Datei
                                        </a>
                                    }
                                }
                                else
                                {
                                    <div>Bild fehlt</div>
                                }
                            }
                        }
                        else
                        {
                            <div>Kein Material vorhanden</div>
                        }

                    </article>


                }
            </div>
        </div>
    </div>
</div>

