@model MyStik.TimeTable.Data.Assessment
@{
    ViewBag.Title = "Auswahlverfahren";
}

@Html.Partial("_Watermark")


<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Details zum Auswahlverfahren @Model.Name</div>
            <ul class="nav bg-light text-dark">
                <li class="nav-item">
                    <a class="nav-link text-center" href="@Url.Action("Admin", new {id = Model.Curriculum.Id})"><i class="fas fa-chevron-left fa-fw"></i><br />zurück</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="@Url.Action("CreateStage", new {id = Model.Id})"><i class="fas fa-plus fa-fw"></i><br />Neue Stufe</a>
                </li>
            </ul>
            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Stufen</h5>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Bezeichnung</th>
                                    <th>Beginn</th>
                                    <th>Ende</th>
                                    <th>Veröffentlichung</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var s in Model.Stages)
                                {
                                    <tr>
                                        <td><a href="@Url.Action("EditStage", new {id=s.Id})">@s.Name</a></td>
                                        <td>@s.OpeningDateTime</td>
                                        <td>@s.ClosingDateTime</td>
                                        <td>@s.ReportingDateTime</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Kommittee</h5>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Rolle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var c in Model.Committee.Members)
                                {
                                    <tr>
                                        <td>@c.Member.FullName</td>
                                        @if (c.HasChair)
                                        {
                                            <td><i class=" fas fa-chair"></i> Vorsitz</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
