@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.Data.Assessment
@{
    ViewBag.Title = "Eignungsprüfung";
    var userInfoService = new UserInfoService();
    var totalByteCount = 0;
}

@Html.Partial("_Watermark")


<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <h4><i class="fas fa-poll"></i> Details zum Eignungsprüfung "@Model.Name"</h4>
        <div class="card">
            <ul class="nav bg-light text-dark">
                <li class="nav-item">
                    <a class="nav-link text-center" href="@Url.Action("Admin", new {id = Model.Curriculum.Id})"><i class="fas fa-chevron-left fa-fw"></i><br />zurück</a>
                </li>
                @if (ViewBag.UserRights.Member.IsAdmin)
                {
                    <li class="nav-item">
                        <a class="nav-link text-center" href="@Url.Action("CreateStage", new {id = Model.Id})"><i class="fas fa-plus fa-fw"></i><br/>Neue Stufe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="@Url.Action("CreateStage", new {id = Model.Id})"><i class="fas fa-search fa-fw"></i><br/>Bewerten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center text-danger" href="@Url.Action("Delete", new {id = Model.Id})"><i class="fas fa-trash-alt fa-fw"></i><br/>Löschen</a>
                    </li>
                }
            </ul>
        </div>
        
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Kommittee - Funktion noch unvollständig
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="fa-ul">
                            @foreach (var c in Model.Committee.Members)
                            {
                                if (c.HasChair)
                                {
                                    <li><i class="fas fa-li fa-chair"></i> @c.Member.FullName</li>
                                }
                                else
                                {
                                    <li><i class="fas fa-li fa-user"></i>@c.Member.FullName</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Zeitplan / Ablauf / Stufen
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body">
                                @foreach (var s in Model.Stages)
                                {
                                    <p>@s.Name</p>
                                    <ul class="fa-ul">
                                        <li>Zeitraum für Hochladen von Material: @s.OpeningDateTime - @s.ClosingDateTime</li>
                                        <li>Zeitpunkt Bekanntgabe Ergebnisse: @s.ReportingDateTime</li>
                                    </ul>
                                    if (ViewBag.UserRights.Member.IsAdmin)
                                    {

                                        <a href="@Url.Action("EditStage", new {id = s.Id})" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Ändern</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            TeilnehmerInnen
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Vorname</th>
                                @foreach (var stage in Model.Stages)
                                {
                                    <th>Anzahl Arbeiten in "@stage.Name"</th>
                                }
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var candidate in Model.Candidatures)
                            {
                                var user = userInfoService.GetUser(candidate.UserId);

                                if (user != null)
                                {
                                    <tr>
                                        <td><a href="@Url.Action("Candidate", new {id=candidate.Id})">@user.LastName</a></td>
                                        <td>@user.FirstName</td>

                                        @foreach (var stage in Model.Stages)
                                        {
                                            var mStage = candidate.Stages.FirstOrDefault(x => x.AssessmentStage.Id == stage.Id);

                                            if (mStage != null)
                                            {
                                                var byteCount = mStage.Material.Sum(x => x.Storage.BinaryData.Length) / 1000000;
                                                totalByteCount += byteCount;

                                                <td>@mStage.Material.Count (@byteCount MB)</td>
                                            }
                                            else
                                            {
                                                <td>#N/A</td>
                                            }
                                        }
                                    </tr>
                                }

                            }
                            </tbody>
                        </table>
                        <div class="card-body">
                            <h4>Speicherplatz gesamt: @totalByteCount MB</h4>
                            @if (ViewBag.UserRights.Member.IsAdmin)
                            {
                                <a class="btn btn-outline-danger" href="@Url.Action("ClearCandidates", new {id = Model.Id})"><i class="fas fa-trash-alt fa-fw"></i> Alle TeilnehmerInnen löschen</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
