@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.Data.Assessment
@{
    ViewBag.Title = "Aufnahmeverfahren";
    var userInfoService = new UserInfoService();
    var totalByteCount = 0;

    var isAdmin = ViewBag.UserRights.Member.IsAdmin;
    var isCommittee = isAdmin || (ViewBag.Member != null);
    var hasChair = isAdmin || (ViewBag.Member != null && ViewBag.Member.HasChair);
}

@Html.Partial("_Watermark")


<div class="row" style="margin-top: 20px">
    <div class="col-md-12">
        <h4><i class="fas fa-poll"></i> Details zur Aufnahmeverfahren "@Model.Name"</h4>
        <div class="card">
            <ul class="nav bg-light text-dark">
                <li class="nav-item">
                    <a class="nav-link text-center" href="@Url.Action("Admin", new {id = Model.Curriculum.Id})"><i class="fas fa-chevron-left fa-fw"></i><br />zurück</a>
                </li>
                @if (isCommittee)
                {
                    <li class="nav-item">
                        <a class="nav-link text-center" href="@Url.Action("Candidates", new {id = Model.Id})"><i class="fas fa-book fa-fw"></i><br />Mappen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="@Url.Action("Acceptance", new {id = Model.Id})"><i class="fas fa-check fa-fw"></i><br />Angenommene</a>
                    </li>
                    if (hasChair)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-center" href="@Url.Action("Edit", new {id = Model.Id})"><i class="fas fa-cog fa-fw"></i><br />Einstellungen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="@Url.Action("CreateStage", new {id = Model.Id})"><i class="bi-folder-plus fa-fw"></i><br />Stufe hinzufügen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="@Url.Action("DownloadCand", new {id = Model.Id})"><i class="fas fa-download fa-fw"></i><br />Download Liste</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="@Url.Action("UploadResults", new {id = Model.Id})"><i class="fas fa-upload fa-fw"></i><br />Upload Ergebnisse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="@Url.Action("UploadDates", new {id = Model.Id})"><i class="fas fa-upload fa-fw"></i><br />Upload Termine</a>
                        </li>
                    }
                }

                @if (isAdmin)
                {
                    <li class="nav-item">
                        <a class="nav-link text-center" href="@Url.Action("Export", new {id = Model.Id})"><i class="fas fa-file-archive fa-fw"></i><br />Material löschen</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-center text-danger" href="@Url.Action("ClearDates", new {id = Model.Id})"><i class="fas fa-calendar fa-fw"></i><br />Termine löschen</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-center text-danger" href="@Url.Action("Clear", new {id = Model.Id})"><i class="fas fa-trash-alt fa-fw"></i><br />Leeren</a>
                    </li>

                    @*
                    <li class="nav-item">
                        <a class="nav-link text-center" href="@Url.Action("Reset", new {id = Model.Id})"><i class="fas fa-recycle fa-fw"></i><br />Zurücksetzen</a>
                    </li>
                <li class="nav-item">
                <a class="nav-link text-center" href="@Url.Action("Candidates", new {id = Model.Id})"><i class="fas fa-gavel fa-fw"></i><br />Bewertung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" href="@Url.Action("CreateStage", new {id = Model.Id})"><i class="bi-folder-plus fa-fw"></i><br />Neue Stufe</a>
            </li>
                    *@
                    @*
                    *@
                }

            </ul>
        </div>
        
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Kommittee
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul class="fa-ul">
                            @foreach (var c in Model.Committee.Members)
                            {
                                var sIcon = "fa-user";
                                
                                if (c.HasChair)
                                {
                                    sIcon = "fa-chair";
                                }
                                
                            <li>
                                <i class="fas fa-li @sIcon"></i>@c.Member.FullName
                                @if (hasChair)
                                {
                                    if (c.HasChair)
                                    {
                                        <a class="btn btn-outline-danger" href="@Url.Action("RemoveChair", new {asid = Model.Id, cmid = c.Id})"><i class="fas fa-chair fa-fw"></i> Vorsitz entfernen</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-outline-primary" href="@Url.Action("AddChair", new {asid = Model.Id, cmid = c.Id})"><i class="fas fa-chair fa-fw"></i> Vorsitz geben</a>
                                    }
                                    <a class="btn btn-outline-danger" href="@Url.Action("DeleteMember", new {asid = Model.Id, cmid = c.Id})"><i class="fas fa-trash-alt fa-fw"></i> Mitglied entfernen</a>

                                }
                            </li>
                            }
                        </ul>
                        @if (hasChair)
                        {
                            <a class="btn btn-outline-primary" href="@Url.Action("AddMember", new {id = Model.Id})"><i class="bi-folder-plus fa-fw"></i> Mitglied hinzufügen</a>
                        }

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Zeitplan / Ablauf / Stufen
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    @foreach (var s in Model.Stages.OrderBy(x => x.OpeningDateTime))
                    {
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header">@Html.TimeSpanWithDate(s.OpeningDateTime.Value, s.ClosingDateTime.Value): @s.Name </div>
                                <div class="card-body">
                                    <div class="card-text">@s.Description</div>
                                    <div class="card-text">Upload möglich als @s.FileTypes</div>
                                    <div class="card-text">Bereitgestelltes Material</div>
                                    <ul class="fa-ul">
                                        @foreach (var m in s.Material)
                                        {
                                            <li>
                                                <i class="fa-li fas fa-file-pdf"></i>
                                                <a href="@Url.Action("ShowFile", "Advertisements", new {id = m.Storage.Id})" target="_blank">@m.Storage.Name</a>
                                            </li>
                                        }
                                    </ul>
                                    @if (hasChair)
                                    {

                                        <a href="@Url.Action("EditStage", new {id = s.Id})" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Ändern</a>
                                        <a href="@Url.Action("Stage", new {id = s.Id})" class="btn btn-outline-primary"><i class="fas fa-upload"></i> Material hochladen</a>
                                    }
                                    @if (isAdmin)
                                    {
                                        if (Model.Candidatures.Any(x => x.Stages.Any(y => y.AssessmentStage.Id == s.Id)))
                                        {
                                            <a href="#" class="btn btn-outline-danger disabled"><i class="fas fa-trash-alt"></i> Löschen</a>

                                        }
                                        else
                                        {
                                            <a href="@Url.Action("DeleteStage", new {id = s.Id})" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i> Löschen</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>


                    }
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Auswertungen / Statistiken zu TeilnehmerInnen
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li>Anzahl TeilnehmerInnen: @Model.Candidatures.Count</li>
                        </ul>
                    @*
                        @if (isAdmin)
                        {
                            <a class="btn btn-outline-danger" href="@Url.Action("ClearCandidates", new {id = Model.Id})"><i class="fas fa-trash-alt fa-fw"></i> Alle TeilnehmerInnen löschen</a>
                        }
                        *@
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
