@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.AssessmentOverviewModel
@{
    ViewBag.Title = "Eignungsprüfungen";
}

@Html.Partial("_Disclaimer")

@Html.Partial("_Watermark")


<div class="row" style="margin-top: 20px">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-poll"></i> Eignungsprüfung für Studiengang @Model.Curriculum.Name (@Model.Curriculum.ShortName)
            </div>
            <ul class="nav bg-light text-dark">
                <li class="nav-item">
                    <a class="nav-link text-center" href="@Url.Action("Index", "Curriculum", new {id = Model.Curriculum.Id})"><i class="fas fa-chevron-left fa-fw"></i><br />zurück</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="@Url.Action("Admin", new {id = Model.Curriculum.Id})"><i class="fas fa-cogs fa-fw"></i><br />Verwaltung</a>
                </li>
            </ul>
            @foreach (var assessment in Model.Assessments)
            {
                <div class="card md-3">
                    <div class="card-header">
                        @assessment.Name
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div>Abauf</div>
                                <ul>
                                    @foreach (var stage in assessment.Stages)
                                    {
                                        <li>@Html.TimeSpanWithDate(stage.OpeningDateTime.Value, stage.ClosingDateTime.Value): @stage.Name</li>
                                    }
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <p>@assessment.Description</p>
                                <a href="@Url.Action("Start", assessment.Id)" class="btn btn-outline-primary btn-sm">Teilnehmen</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


