@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Helpers
@model ICollection<MyStik.TimeTable.Data.Assessment>
@{
    ViewBag.Title = "Auswahlverfahren";
}


@Html.Partial("_Disclaimer")
@Html.Partial("_Watermark")

<div class="row" style="margin-top: 20px">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-poll"></i> Alle  aktuellen Auswahlverfahren
            </div>

            @foreach (var assessment in Model)
            {
                <div class="card md-3">
                    <div class="card-header">
                        @assessment.Name (@assessment.Curriculum.Name, @assessment.Curriculum.Organiser.Name)
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div>Abauf</div>
                                <ul>
                                    @foreach (var stage in assessment.Stages)
                                    {
                                        <li>@Html.TimeSpanWithDate(stage.OpeningDateTime.Value, stage.ClosingDateTime.Value): @stage.Name</li>
                                    }
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <p>@assessment.Description</p>
                                <a href="@Url.Action("Start", new {id=assessment.Id} )" class="btn btn-outline-primary btn-sm">Teilnehmen</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

