@model MyStik.TimeTable.Data.Assessment
@{
    ViewBag.Title = "Teilnahme an Eignungsprüfung";
}


@Html.Partial("_Disclaimer")
@Html.Partial("_Watermark")

<div class="row" style="margin-top: 20px">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-poll"></i> Meine Teilnahme an der Eignungsprüfung "@Model.Name"
            </div>

            <div class="card-body">
                <h5 class="card-title">Zusätzliche Nutzungsbedingungen und/oder FAQs</h5>
                <ul>
                    <li>Alle Angaben, Dateien werden ausschließlich zur Durchführung der Eignungsprüfung verwendet.</li>
                    <li>Nach Abschluss der Eignungsprüfung werden die Daten automatisch gelöscht.</li>
                </ul>

                <a href="@Url.Action("Create", "Candidature", new {id =@Model.Id})" class="btn btn-outline-primary">Teilnahme starten</a>
                <a href="@Url.Action("Index", "Assessment")" class="btn btn-outline-secondary">Abbrechen</a>
            </div>
        </div>
    </div>
</div>
