@model MyStik.TimeTable.Web.Models.SearchViewModel
@{
    ViewBag.Title = "Suche";
    ViewBag.ShowState = false;
    ViewBag.ShowFaculty = true;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-hm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Suchergebnisse für "@Model.SearchText"</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Lehrende</h4>
                </div>

                @Html.Partial("_LecturerListSummary", Model.Lecturers)
            </div>
        </div>
    </div>
    
    @if (Model.NextCourses.Any())
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Lehrveranstaltungen (@Model.NextSemester.Name)</h4>
                    </div>
                    @Html.Partial("_CourseListFit", Model.NextCourses)
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Lehrveranstaltungen (@Model.Semester.Name)</h4>
                </div>
                @Html.Partial("_CourseListFit", Model.Courses)
            </div>
        </div>
    </div>
</div>
