@model MyStik.TimeTable.Web.Models.SearchViewModel
@{
    ViewBag.Title = "Suche";
    ViewBag.ShowState = false;
    ViewBag.ShowFaculty = true;
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @if (Model.Organiser != null)
                    {
                        <h4><i class="fa fa-search"></i> Suchergebnisse für "@Model.SearchText" in @Model.Organiser.ShortName</h4>
                        <a class="btn btn-primary" href="@Url.Action("Index", "Search", new {searchText=Model.SearchText, isGlobal=true})">global suchen</a>

                    }
                    else
                    {
                        <h4><i class="fa fa-search"></i> Suchergebnisse für "@Model.SearchText" - global</h4>
                    }
                </div>
            </div>
            @if (Model.Lecturers.Any())
            {
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Lehrende</h4></div>
                    <div class="list-group">
                        @Html.Partial("_LecturerListSummary", Model.Lecturers)
                    </div>
                </div>
            }
            @if (Model.Rooms.Any())
            {
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Räume</h4></div>
                    <div class="list-group">
                        @foreach (var r in Model.Rooms)
                        {
                            <div class="list-group-item">
                                <h5 class="list-group-item-heading">
                                    <a href="@Url.Action("Details", "Room", new {id = r.Id})">@r.FullName</a>
                                </h5>
                            </div>
                        }
                    </div>
                </div>
            }
            @if (Model.NextCourses.Any())
            {
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Lehrveranstaltungen (@Model.NextSemester.Name)</h4></div>
                    <div class="list-group">
                        @Html.Partial("_CourseListFit", Model.NextCourses)
                    </div>
                </div>
            }
            @if (Model.Courses.Any())
            {
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Lehrveranstaltungen (@Model.Semester.Name)</h4></div>
                    <div class="list-group">
                        @Html.Partial("_CourseListFit", Model.Courses)
                    </div>
                </div>
            }
        </div>
    </div>
</div>




