@model MyStik.TimeTable.Web.Models.SemesterViewModel

@{
    ViewBag.Title = "Konflikte";
}


<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Campus", "University")">HM</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new {id=Model.Organiser.Id})">@Model.Organiser.ShortName</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Details", "Semester", new { semId=Model.Semester.Id, orgId=Model.Organiser.Id})">@Model.Semester.Name</a></li>
                <li class="breadcrumb-item active" aria-current="page">Konfliktbehebung</li>

            </ol>
        </nav>
    </div>
</div>


<div class="row">
            <div class="col-md-4">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Terminbereinigungen</h5>
                            </div>
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action" href="@Url.Action("Segments", "Conflicts", new { orgId = Model.Organiser.Id, semId = Model.Semester.Id })">
                                    <div><strong>Semesterabschnitte</strong></div>
                                    <div>Anzeige von Terminen, die außerhalb der Semesterabschnitte liegen</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Übersichten Konflikte - Tagesbasis</h5>
                            </div>
                            <div class="list-group">
                                <div class="list-group-item">
                                    <div><strong>Raumbelegungen</strong></div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="row">
                                                <a class="btn btn-outline-secondary" target="_blank" href="@Url.Action("Rooms", new { orgId = Model.Organiser.Id, semId = Model.Semester.Id })">
                                                    Datum
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="row">
                                                <a class="btn btn-outline-secondary" target="_blank" href="@Url.Action("RoomsByWeek", new { orgId = Model.Organiser.Id, semId = Model.Semester.Id })">
                                                    Mo - Fr
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item">
                                    <div><strong>Kohorten</strong></div>
                                    <div class="row">
                                        @foreach (var c in Model.Organiser.Curricula.Where(x => !x.IsDeprecated).OrderBy(x => x.ShortName))
                                        {
                                            <div class="col-3">
                                                <div class="row">
                                                    <a class="btn btn-outline-secondary" target="_blank" href="@Url.Action("Curriculum", new { semId = Model.Semester.Id, orgId = Model.Organiser.Id, currId = c.Id })">
                                                        @c.ShortName
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Übersicht Konflikte - Wochenbasis</h5>
                        </div>
                        <div class="list-group">
                            <a href="@Url.Action("Label", "Conflicts", new { orgId = Model.Organiser.Id, semId = Model.Semester.Id })" class="list-group-item list-group-item-action">
                                Kohorten
                            </a>
                            <a href="@Url.Action("Catalog", "Conflicts", new { orgId = Model.Organiser.Id, semId = Model.Semester.Id })" class="list-group-item list-group-item-action">
                                Modulkataloge
                            </a>
                        </div>
                    </div>
                </div>


</div>

