@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.OrganiserViewModel
@{
    ViewBag.Title = "Lehrangebot";


    var db = new TimeTableDbContext();

    if (Model.Organiser.ShortName == "MUC.HEALTH" &&
        (Model.Semester.Name == "WiSe 2025" || Model.Semester.Name == "SoSe 2026"))
    {
        var fk11 = db.Organisers.SingleOrDefault(x => x.ShortName.Equals("FK 11"));
        var mucHealth = db.Organisers.SingleOrDefault(x => x.ShortName.Equals("MUC.HEALTH"));

        if (fk11 != null && mucHealth != null)
        {
            foreach (var c in Model.Courses)
            {
                /*
                if (c.Course.Organiser.Id == fk11.Id)
                {

                    var cc = db.Activities.OfType<Course>().SingleOrDefault(x => x.Id == c.Course.Id);
                    cc.Organiser = mucHealth;
                    db.SaveChanges();

                }
                */

                if (c.Course.Organiser.Id == mucHealth.Id)
                {
                    foreach (var date in c.Course.Dates)
                    {
                        foreach (var lecturer in date.Hosts.ToList())
                        {
                            if (lecturer.Organiser.Id == fk11.Id && !string.IsNullOrEmpty(lecturer.UserId))
                            {
                                var correspondingLecturer = mucHealth.Members.FirstOrDefault(x => x.UserId.Equals(lecturer.UserId));
                                if (correspondingLecturer != null)
                                {
                                    var dd = db.ActivityDates.SingleOrDefault(x => x.Id == date.Id);
                                    var fk11Lecturer = db.Members.SingleOrDefault(x => x.Id == lecturer.Id);
                                    var mucHealthLecturer = db.Members.SingleOrDefault(x => x.Id == correspondingLecturer.Id);

                                    if (dd != null && fk11Lecturer != null && mucHealthLecturer != null)
                                    {
                                        dd.Hosts.Remove(fk11Lecturer);
                                        dd.Hosts.Add(mucHealthLecturer);
                                        db.SaveChanges();
                                    }
                                }

                            }
                        }
                    }
                }
            }

        }
    }

}

@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    @if (ViewBag.UserRight.IsCourseAdmin)
    {
        <script>
            $(document).ready(function() {
                $('#tabCourses').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'excel'
                    ],
                    "paging": false,
                    "order": [[2, 'asc']]
                });
            });

            function onTogglePublished(id) {
                var elem = $("#togglePublish");
                if (elem.hasClass("text-success")) {

                    $.ajax(
                        {
                            type: "POST",
                            url: '@Url.Action("TogglePublished", "Courses")',
                            data: {
                                id: id,
                                isPublished: false
                            },
                            success: function(data, success, xhr) {
                                elem.removeClass("text-success");
                                elem.removeClass("bi-check-square");

                                elem.addClass("text-danger");
                                elem.addClass("bi-x-square");
                            }
                        });


                } else {
                    $.ajax(
                        {
                            type: "POST",
                            url: '@Url.Action("TogglePublished", "Courses")',
                            data: {
                                id: id,
                                isPublished: true
                            },
                            success: function(data, success, xhr) {
                                elem.removeClass("text-danger");
                                elem.removeClass("bi-x-square");

                                elem.addClass("text-success");
                                elem.addClass("bi-check-square");
                            }
                        });


                }
            }

            function onToggleLocked(id) {
                var elem = $("#toggleLocked");
                if (elem.hasClass("text-success")) {

                    $.ajax(
                        {
                            type: "POST",
                            url: '@Url.Action("ToggleLocked", "Courses")',
                            data: {
                                id: id,
                                isLocked: true
                            },
                            success: function(data, success, xhr) {
                                elem.removeClass("text-success");
                                elem.removeClass("bi-unlock");

                                elem.addClass("text-danger");
                                elem.addClass("bi-lock");
                            }
                        });


                } else {
                    $.ajax(
                        {
                            type: "POST",
                            url: '@Url.Action("ToggleLocked", "Courses")',
                            data: {
                                id: id,
                                isLocked: false
                            },
                            success: function(data, success, xhr) {
                                elem.removeClass("text-danger");
                                elem.removeClass("bi-lock");

                                elem.addClass("text-success");
                                elem.addClass("bi-unlock");
                            }
                        });


                }
            }

            function onToggleSubscribable(id) {
                var elem = $("#toggleSubscribable");
                if (elem.hasClass("text-success")) {

                    $.ajax(
                        {
                            type: "POST",
                            url: '@Url.Action("ToggleSubscribable", "Courses")',
                            data: {
                                id: id,
                                isAvailable: false
                            },
                            success: function(data, success, xhr) {
                                elem.removeClass("text-success");

                                elem.addClass("text-danger");
                            }
                        });


                } else {
                    $.ajax(
                        {
                            type: "POST",
                            url: '@Url.Action("ToggleSubscribable", "Courses")',
                            data: {
                                id: id,
                                isAvailable: true
                            },
                            success: function(data, success, xhr) {
                                elem.removeClass("text-danger");

                                elem.addClass("text-success");
                            }
                        });


                }
            }

        </script>
    }
    else
    {
        <script>
            $(document).ready(function () {
                $('#tabCourses').DataTable({
                    "paging": false
                });
            });
        </script>
    }

}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Campus", "University")">HM</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new {id=Model.Organiser.Id})">@Model.Organiser.ShortName</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Details", "Semester", new {orgId=Model.Organiser.Id, semId=ViewBag.CurrentSemester.Id })">Semesterplanung</a></li>
                <li class="breadcrumb-item active" aria-current="page">Angebot</li>
                <li class="breadcrumb-item active" aria-current="page">
                    <div class="btn-group">
                        @if (ViewBag.PrevSemester != null)
                        {
                            <a href="@Url.Action("Courses", "Semester", new {semId=ViewBag.PrevSemester.Id, orgId=Model.Organiser.Id})"><i class="bi bi-chevron-double-left"></i></a>
                        }
                        else
                        {
                            <a class="disabled" href="#"><i class="bi bi-chevron-double-left"></i></a>
                        }
                        <span class="ms-2 me-2">@ViewBag.CurrentSemester.Name</span>
                        @if (ViewBag.NextSemester != null)
                        {
                            <a href="@Url.Action("Courses", "Semester", new {semId=ViewBag.NextSemester.Id, orgId=Model.Organiser.Id})"><i class="bi bi-chevron-double-right"></i></a>
                        }
                        else
                        {
                            <a class="disabled" href="#"><i class="bi bi-chevron-double-right"></i></a>
                        }
                    </div>
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="alert alert-info">
                    <div class="row">
                        <div class="col-md-4">
                            <ul>
                                <li><i class="bi bi-check-square text-success"></i>: Lehrveranstaltung sichtbar</li>
                                <li><i class="bi bi-x-square text-danger"></i>: Lehrveranstaltung im Planungsmodus</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li><i class="bi bi-unlock text-success"></i>: Lehrende können Änderungen vornehmen</li>
                                <li><i class="bi bi-lock text-danger"></i>: Lehrende können keine Änderungen vornehmen</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li><i class="bi bi-pen-fill text-success"></i>: Studierende können sich eintragen</li>
                                <li><i class="bi bi-pen-fill text-danger"></i>: Studierende können sich nicht eintragen</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <table id="tabCourses" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Anbieter</th>
                        <th>Kurzname</th>
                        <th>Titel</th>
                        <th>Kohorten</th>
                        <th>Abschnitt</th>
                        <th>Zeitraum</th>
                        <th>Raumangabe(n)</th>
                        <th>Lehrende</th>
                        <th>Platzkontingente</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model.Courses)
                    {
                        var show = !c.Course.IsProjected || (ViewBag.UserRight.IsCurriculumAdmin || ViewBag.UserRight.Member != null);

                        if (show)
                        {
                            var linkName = "Kein Kurzname";
                            if (!string.IsNullOrEmpty(c.Course.ShortName))
                            {
                                linkName = c.Course.ShortName;
                            }
                            <tr>
                                @if (ViewBag.UserRight.IsCourseAdmin && ViewBag.UserRight.Member.Organiser.Id == c.Course.Organiser.Id)
                                {
                                    <td>
                                        <div class="btn-group">
                                            @if (c.Course.IsProjected)
                                            {
                                                <a href="javascript:onTogglePublished('@c.Course.Id.ToString()')" class="btn btn-sm btn-outline-dark"><i id="togglePublish" class="bi bi-x-square text-danger"></i></a>
                                            }
                                            else
                                            {
                                                <a href="javascript:onTogglePublished('@c.Course.Id.ToString()')" class="btn btn-sm btn-outline-dark"><i id="togglePublish" class="bi bi-check-square text-success"></i></a>
                                            }
                                            @if (c.Course.IsInternal)
                                            {
                                                <a href="javascript:onToggleLocked('@c.Course.Id.ToString()')" class="btn btn-sm btn-outline-dark"><i id="toggleLocked" class="bi bi-lock text-danger"></i></a>
                                            }
                                            else
                                            {
                                                <a href="javascript:onToggleLocked('@c.Course.Id.ToString()')" class="btn btn-sm btn-outline-dark"><i id="toggleLocked" class="bi bi-unlock text-success"></i></a>
                                            }
                                            @if (c.Course.Occurrence != null)
                                            {
                                                if (!c.Course.Occurrence.IsAvailable)
                                                {
                                                    <a href="javascript:onToggleSubscribable('@c.Course.Occurrence.Id')" class="btn btn-sm btn-outline-dark"><i id="toggleSubscribable" class="bi bi-pen-fill text-danger"></i></a>
                                                }
                                                else
                                                {
                                                    <a href="javascript:onToggleSubscribable('@c.Course.Occurrence.Id')" class="btn btn-sm btn-outline-dark"><i id="toggleSubscribable" class="bi bi-pen-fill text-success"></i></a>
                                                }
                                            }
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @if (c.Course.IsProjected)
                                        {
                                            <i class="bi bi-x-square text-danger"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-check-square text-success"></i>
                                        }
                                        @if (c.Course.IsInternal)
                                        {
                                            <i class="bi bi-lock text-danger"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-unlock text-success"></i>
                                        }
                                        @if (c.Course.Occurrence != null)
                                        {
                                            if (!c.Course.Occurrence.IsAvailable)
                                            {
                                                <i class="bi bi-pen-fill text-danger"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-pen-fill text-success"></i>
                                            }
                                        }
                                    </td>
                                }
                                <td>@c.Course.Organiser.ShortName</td>
                                <td>
                                    @Html.ActionLink(linkName, "Index", "Course", new { id = c.Course.Id }, null)
                                    @if (c.Course.Occurrence == null)
                                    {
                                        <a href="@Url.Action("DeleteCourse", "Course", new {id = c.Course.Id})">Löschen</a>
                                    }
                                </td>
                                <td>
                                    @c.Course.Name
                                </td>
                                <td>
                                    @if (c.Course.LabelSet != null)
                                    {
                                        @Html.LabelList(c.Course)
                                    }
                                </td>
                                <td>
                                    @if (c.Course.Segment != null)
                                    {
                                        <div>@c.Course.Segment.Description</div>
                                    }
                                </td>
                                <td>
                                    @Html.DateList(c.Dates)
                                </td>
                                <td>
                                    @Html.RoomList(c.Rooms)
                                </td>
                                <td>
                                    @*
                                        @Html.LecturerList(c.Lecturers)
                                    *@
                                    @foreach (var l in c.Lecturers)
                                    {
                                        <div>@l.FullName | @l.Organiser.ShortName</div>
                                    }
                                </td>
                                <td>
                                    @if (c.Course.Occurrence != null)
                                    {
                                        if (c.Course.Occurrence.SeatQuotas.Any())
                                        {
                                            foreach (var quota in c.Course.Occurrence.SeatQuotas)
                                            {
                                                <div>@quota.Summary</div>
                                            }
                                        }
                                        else
                                        {
                                            if (c.Course.Occurrence.Capacity < 1)
                                            {
                                                <div>Offene Liste</div>
                                            }
                                            else
                                            {
                                                <div>Alte Systematik: @c.Course.Occurrence.Capacity Plätze</div>
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>


        </div>
    </div>

</div>
