
@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.SemesterViewModel

@{
    ViewBag.Title = "Zeitplan";

    var db = new TimeTableDbContext();
    var nCourses = db.Activities.OfType<Course>().Count(x => x.Organiser.Id == Model.Organiser.Id && x.Semester.Id == Model.Semester.Id);
    var nProjected = db.Activities.OfType<Course>().Count(x => x.Organiser.Id == Model.Organiser.Id && x.Semester.Id == Model.Semester.Id && x.IsProjected);
    var nInternal = db.Activities.OfType<Course>().Count(x => x.Organiser.Id == Model.Organiser.Id && x.Semester.Id == Model.Semester.Id && x.IsInternal);
    var nLocked = db.Activities.OfType<Course>().Count(x => x.Organiser.Id == Model.Organiser.Id && x.Semester.Id == Model.Semester.Id && !x.Occurrence.IsAvailable);

//    var courses = db.Activities.OfType<Course>().Where(x => x.Organiser.Id == Model.Organiser.Id && x.Semester.Id == Model.Semester.Id && x.Occurrence.Capacity > 0).ToList();
//    var currs = db.Curricula.Where(x => x.Organiser.Id == Model.Organiser.Id && x.LabelSet != null).ToList();

}


<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new {id=Model.Organiser.Id})">@Model.Organiser.ShortName</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Semester", new {id=Model.Organiser.Id})">Semesterplanung</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Semester.Name</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Ressourcenplanung</h5>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    Semesterabschnitte
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Raumbelegungen
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Einsatz
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Lehrveranstaltungsplanung</h5>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    Angebote über Kohorten
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Angebote über Modulkatalog
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Angebote über Studienplan
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Datenimport
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Prüfungsplanung</h5>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    Angebote
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Aufsichten
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Räume
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Studierende
                </a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <h4>Semester @Model.Semester.Name für @Model.Organiser.ShortName</h4>
                        <p>@Model.Semester.StartCourses.ToShortDateString() - @Model.Semester.EndCourses.ToShortDateString()</p>
                    </div>
                    <div class="col-md-4">
                        <div>
                            Anzahl Kurse: @nCourses
                        </div>
                        <div>
                            @nProjected im Planungsmodus <a class="btn btn-sm btn-outline-primary" href="@Url.Action("Lock", new { orgId = Model.Organiser.Id, semId = Model.Semester.Id, state = 1 })">an</a> <a class="btn btn-sm btn-outline-primary" href="@Url.Action("Lock", new { orgId = Model.Organiser.Id, semId = Model.Semester.Id, state = 2 })">aus</a>
                        </div>
                        <div>
                            @nInternal für Lehrende gesperrt <a class="btn btn-sm btn-outline-primary" href="@Url.Action("Lock", new { orgId = Model.Organiser.Id, semId = Model.Semester.Id, state = 3 })">sperren</a> <a class="btn btn-sm btn-outline-primary" href="@Url.Action("Lock", new { orgId = Model.Organiser.Id, semId = Model.Semester.Id, state = 4 })">freigeben</a>
                        </div>
                        <div>
                            @nLocked für Studierende gesperrt <a class="btn btn-sm btn-outline-primary" href="@Url.Action("Lock", new { orgId = Model.Organiser.Id, semId = Model.Semester.Id, state = 5 })">sperren</a> <a class="btn btn-sm btn-outline-primary" href="@Url.Action("Lock", new { orgId = Model.Organiser.Id, semId = Model.Semester.Id, state = 6 })">freigeben</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group">
                @if (ViewBag.UserRight.IsOrgAdmin)
                {
                    <div class="list-group-item">
                        <div class="btn-group">
                            <a href="@Url.Action("CreateDate", new { orgId = Model.Organiser.Id, semId = Model.Semester.Id })" class="btn btn-outline-primary"><i class="bi bi-plus"></i> Abschnitt hinzufügen</a>
                            <a href="@Url.Action("Index", "Import", new { orgId = Model.Organiser.Id, semId = Model.Semester.Id })" class="btn btn-outline-primary"><i class="bi bi-upload"></i> Daten importieren</a>
                        </div>
                    </div>
                }
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Zeitraum</th>
                    <th>Ebene</th>
                    <th>Art</th>
                    <th>Bezeichnung</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Semester.Dates.Where(x => x.Organiser == null || (x.Organiser.Id != null && x.Organiser.Id == Model.Organiser.Id)).OrderBy(x => x.From))
                {
                    <tr>
                        <td>@Html.TimeSpan(item)</td>
                        @if (item.Organiser == null)
                        {
                            <td>hochschulweit</td>
                        }
                        else
                        {
                            <td>fakultätsweit</td>
                        }
                        @if (item.HasCourses == false)
                        {
                            <td> <i>(Vorlesungsfrei)</i></td>
                        }
                        else
                        {
                            <td>mit Lehrveranstaltungen</td>
                        }
                        <td>@item.Description</td>

                        <td>
                            @if (item.Organiser != null && ViewBag.UserRight.IsOrgAdmin)
                            {
                                <a href="@Url.Action("EditDate", new { id = item.Id })" class="btn btn-outline-primary"><i class="bi bi-gear"></i> bearbeiten</a>
                                <a href="@Url.Action("DeleteDate", new { id = item.Id })" class="btn btn-outline-danger"><i class="bi bi-trash"></i> löschen</a>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>


@*
<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (var c in courses)
            {
                var label = c.LabelSet.ItemLabels.FirstOrDefault();
                if (label != null)
                {
                    var curr = currs.First(x => x.LabelSet.ItemLabels.Any(l => l.Id == label.Id));
                    if (curr != null)
                    {
                        if (c.Occurrence.SeatQuotas.Count == 0)
                        {
                            var quota = new SeatQuota
                            {
                                Curriculum = curr,
                                ItemLabelSet = new ItemLabelSet(),
                                MinCapacity = 0,
                                MaxCapacity = c.Occurrence.Capacity,
                                Occurrence = c.Occurrence
                            };

                            db.SeatQuotas.Add(quota);
                            db.ItemLabelSets.Add(quota.ItemLabelSet);
                            db.SaveChanges();

                            <li>@c.ShortName: @c.Occurrence.Capacity Plätze für SG @curr.ShortName</li>
                        }
                        else
                        {
                            <li>@c.ShortName: @c.Occurrence.Capacity in Kontingent</li>
                           
                        }
                    }
                    else
                    {
                        <li>@c.ShortName: Label, aber KEN Studiengang</li>
                    }
                }
                else
                {
                    <li>@c.ShortName: KEIN Label</li>
                }
            }
        </ul>
    </div>
</div>
    *@