@mmodel MyStik.TimeTable.Web.Models.SemesterDateViewModel
@{
    ViewBag.Title = "Abschnitt bearbeiten";
}
@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" />
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Abschnitt im Semester @ViewBag.Semester.Name für @ViewBag.Organiser.ShortName anlegen</h4>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    <fieldset>
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(m => m.DateId)

                        <div class="row">
                            <div class="col-4">Beschreibung</div>
                            <div class="col-8">
                                @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Name" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">Von</div>
                            <div class="col-8">
                                @Html.TextBoxFor(m => m.Start, new { @class = "form-control datepicker" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">Bis</div>
                            <div class="col-8">
                                @Html.TextBoxFor(m => m.End, new { @class = "form-control datepicker" })
                            </div>
                        </div>

                        <button type="submit" class="btn btn-outline-primary"><i class="bi-save"></i> Speichern</button>
                        <a class="btn btn-outline-secondary" href="@Url.Action("Details", new {orgId=ViewBag.Organiser.Id, semId=ViewBag.Semester.Id})"><i class="bi-x"></i> Abbrechen</a>
                    </fieldset>
                }

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/fillter/scripts/datepicker.js")"></script>

    <script>

        $(function () {
            initDatePicker("datepicker", "@ViewBag.Culture.DateTimeFormat.ShortDatePattern", "@ViewBag.Culture.Name");
        });

    </script>
}