@using System.Data.Entity.Core.Metadata.Edm
@model ICollection<MyStik.TimeTable.Web.Models.CourseDateInfoModel>


<table class="table table-condensed">
    <thead>
        <tr>
            <th>Zeitraum</th>
            <th>Titel</th>
            <th>Gruppen</th>
            <th>Raum</th>
            <th>Dozent</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Date.Begin.TimeOfDay.ToString(@"hh\:mm") - @item.Date.End.TimeOfDay.ToString(@"hh\:mm")                    
                </td>
                <td>
                    @{ var linkText = item.Course.Name + " (" + item.Course.ShortName + ")"; }
                    @Html.ActionLink(linkText, "Index", "Course", new {id = item.Course.Id}, null)
                </td>
                <td>
                    @foreach (var group in item.Course.SemesterGroups)
                    {
                        if (group.CurriculumGroup != null)
                        {
                            var label = group.CurriculumGroup.Curriculum.ShortName + " - " + group.CurriculumGroup.Name;
                            @Html.ActionLink(label, "Group", "Semester", new {id = group.Id}, null)
                            if (group != item.Course.SemesterGroups.Last())
                            {
                                @Html.Raw(", ")
                            }
                        }
                        else
                        {
                            var label = "Ohne Zuordnung";
                            <div class="text-danger"><strong>@Html.ActionLink(label, "Group", "Semester", new {id = group.Id}, null)</strong></div>
                        }
                    }
                </td>
                <td>
                    @foreach (var room in item.Date.Rooms)
                    {
                        @Html.ActionLink(room.Number, "Index", "Room", new {id = room.Id}, null)
                        if (room != item.Date.Rooms.Last())
                        {
                            @Html.Raw(", ")
                        }
                    }
                </td>
                <td>
                    @foreach (var lecturer in item.Date.Hosts)
                    {
                        linkText = lecturer.Name + " (" + lecturer.ShortName + ")";
                        @Html.ActionLink(linkText, "Member", "Organiser", new {orgId = lecturer.Organiser.ShortName, shortName = lecturer.ShortName}, null)
                        if (lecturer != item.Date.Hosts.Last())
                        {
                            @Html.Raw(", ")
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
