@model MyStik.TimeTable.Web.Models.CourseDateInfoModel
@{
    ViewBag.Title = "Details";
}

@Html.Partial("_CourseSummaryHeader", Model.Summary)

<div class="panel panel-default panel-menu">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <a href="@Url.Action("AdminNewDates", "Course", new {id=Model.Course.Id})" class="btn btn-default">
                                <i class="fa fa-arrow-left"></i> Zurück zur Terminliste
                            </a>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("CreateDate2", new {courseId = Model.Course.Id})" class="btn btn-default">
                                <i class="fa fa-plus-circle"></i> verschieben
                            </a>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("CreateDate2", new {courseId = Model.Course.Id})" class="btn btn-default">
                                <i class="fa fa-plus-circle"></i> absagen
                            </a>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("CreateDate2", new {courseId = Model.Course.Id})" class="btn btn-default">
                                <i class="fa fa-plus-circle"></i> Infos ändern
                            </a>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("CreateDate2", new {courseId = Model.Course.Id})" class="btn btn-default">
                                <i class="fa fa-plus-circle"></i> virtuelle Räume
                            </a>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("CreateDate2", new {courseId = Model.Course.Id})" class="btn btn-default">
                                <i class="fa fa-plus-circle"></i> vorheriger Termin
                            </a>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("CreateDate2", new {courseId = Model.Course.Id})" class="btn btn-default">
                                <i class="fa fa-plus-circle"></i> nächster Termin
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
