@model MyStik.TimeTable.Web.Models.OfficeHourCreateModel
@{
    ViewBag.Title = "Sprechstunde anlegen";
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css")" />
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Sprechstunde im Slot-System für @ViewBag.UserRight.User.UserName im @Model.Semester.Name anlegen</h4>
                </div>
                <div class="portlet-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, null))
                    {
                        <fieldset>
                            @Html.ValidationSummary()
                            @Html.HiddenFor(model => model.Type)
                            @Html.HiddenFor(model => model.Semester.Id)
                            @Html.HiddenFor(model => model.Member.Id)
                            <div class="row mb-1">
                                <label class="col-sm-4 form-label">Bezeichnung</label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label class="col-sm-4 form-label">Wochentag</label>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.DayOfWeek, (IEnumerable<SelectListItem>)ViewBag.WeekDays, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label class="col-sm-4 form-label">Beginn</label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.StartTime, new { @class = "form-control timepicker timepicker-24" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label class="col-sm-4 form-label">Ende</label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.EndTime, new { @class = "form-control timepicker timepicker-24" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(model => model.NewDateBegin, new { @class = "col-sm-4 form-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.NewDateBegin, new { @class = "form-control datepicker" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(model => model.NewDateEnd, new { @class = "col-sm-4 form-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.NewDateEnd, new { @class = "form-control datepicker" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(model => model.SlotDuration, new { @class = "col-sm-4 form-label" })
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.SlotDuration, (IEnumerable<SelectListItem>)ViewBag.SlotDurations, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(model => model.SpareSlots, new { @class = "col-sm-4 form-label" })
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.SpareSlots, (IEnumerable<SelectListItem>)ViewBag.SpareSlots, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label class="col-sm-4 form-label">Eintragung für Studierende bis</label>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.SubscriptionLimit, (IEnumerable<SelectListItem>)ViewBag.Limits, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label class="col-sm-4 form-label">Anzahl zukünftig buchbarer Slots</label>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.MaxFutureSlots, (IEnumerable<SelectListItem>)ViewBag.FutureSlotLimits, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                @Html.LabelFor(m => m.Description, new { @class = "col-sm-4 form-label" })
                                <div class="col-sm-6">
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Zusatztext, wird auf der Terminliste angezeigt", rows = "10" })
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="offset-4 col-md-6">
                                    <button type="submit" class="btn btn-outline-primary"><i class="bi-save"></i> Sprechstunde für Semester @Model.Semester.Name anlegen</button>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>






@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/fillter/scripts/datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.min.js")" type="text/javascript"></script>

    <script>
                $(function () {
                    $("#Description").cleditor();

                    $('#DozId').autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: '@Url.Action("LecturerList", "Curriculum")',
                                type: 'POST',
                                //dataType: "json",

                                data: {
                                    name: request.term
                                },

                                success: function (data, success, xhr) {
                                    response($.map(data, function (item) {

                                        return {
                                            label: item.name + ' (' + item.shortname + ')',
                                            value: item.shortname
                                        };
                                    }));

                                },

                                error: function (data) { alert(data); },
                            });

                        },
                    });

                    initDatePicker("datepicker", "@ViewBag.Culture.DateTimeFormat.ShortDatePattern", "@ViewBag.Culture.Name");


                    $('.timepicker-24').timepicker({
                        autoclose: true,
                        minuteStep: 15,
                        showSeconds: false,
                        showMeridian: false
                    });

                    $('.timepicker').parent('.input-group').on('click', '.input-group-btn', function (e) {
                        e.preventDefault();
                        $(this).parent('.input-group').find('.timepicker').timepicker('showWidget');
                    });

                    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
                        //e.target // newly activated tab
                        //e.relatedTarget // previous active tab

                        $("#Type").val(e.target.id);
                    });
                });


    </script>
}
