@model MyStik.TimeTable.Web.Models.OfficeHourCharacteristicModel
@{
    ViewBag.Title = "Sprechstunde";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Meine Sprechstundentermine im @Model.Semester.Name</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-calendar"></i>Terminliste
                    </h4>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Zeitraum</th>
                            <th>#</th>
                            <th></th>
                            <th>Name</th>
                            <th>Datum Eintragung</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var slot in Model.CurrentSlots)
                        {
                            <tr>
                                @if (slot.RowNo == 1)
                                {
                                    if (slot.ActivityDate.Occurrence.IsCanceled)
                                    {
                                        <td rowspan="@slot.RowCount"><del>@slot.Date.ToShortDateString()</del></td>
                                    }
                                    else
                                    {
                                        <td rowspan="@slot.RowCount">@slot.Date.ToShortDateString()</td>
                                    }
                                }
                                @if (slot.SubscriptionNo == 1)
                                {
                                    if (slot.ActivityDate.Occurrence.IsCanceled)
                                    {
                                        <td rowspan="@slot.SubscriptionCount"><del>@slot.From.ToString(@"hh\:mm") - @slot.Until.ToString(@"hh\:mm")</del></td>
                                        <td></td>
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td rowspan="@slot.SubscriptionCount">@slot.From.ToString(@"hh\:mm") - @slot.Until.ToString(@"hh\:mm")</td>
                                        if (slot.Occurrence.IsAvailable)
                                        {
                                            <td>@slot.Occurrence.Capacity</td>
                                            <td>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td>
                                            </td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                }
                                @if (slot.Member != null)
                                {
                                    <td><a href="mailto:@slot.Member.User.Email">@slot.Member.User.FirstName @slot.Member.User.LastName</a></td>
                                    <td>@slot.Member.Subscription.TimeStamp</td>
                                    <td></td>
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                }
                                @if (slot.RowNo == 1)
                                {
                                    <td rowspan="@slot.RowCount">
                                    </td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



