@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.OfficeHourSubscriptionViewModel
@{
    ViewBag.Title = "Sprechstunde";
    var now = DateTime.Now;
    var historicDates = Model.Dates.Where(x => x.Date.End <= now).OrderBy(x => x.Date.Begin).ToList();
    var futureDates = Model.Dates.Where(x => x.Date.End > now).OrderBy(x => x.Date.Begin).ToList();
    var maxFutureSubscriptions = 999;
    if (Model.OfficeHour.FutureSubscriptions.HasValue && Model.OfficeHour.FutureSubscriptions > 0)
    {
        maxFutureSubscriptions = Model.OfficeHour.FutureSubscriptions.Value;
    }
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>@Model.Host.Name - Sprechstundentermine im Semester @Model.Semester.Name</h4>
            </div>
            <div class="list-group">
                @if (!string.IsNullOrEmpty(Model.OfficeHour.Description))
                {
                    <div class="list-group-item">
                        @Html.Raw(Model.OfficeHour.Description)
                    </div>
                }
                @foreach (var date in futureDates)
                {
                    if (date.IsAvailable || (!date.IsAvailable && date.Subscription != null))
                    {
                        if (date.Subscription == null)
                        {
                            if (Model.FutureSubCount >= maxFutureSubscriptions)
                            {
                                <div class="list-group-item disabled">
                                    <div class="list-group-item-heading">
                                        <h5>@Html.TimeSpanWithDate(date.Date) - nicht verfügbar</h5>
                                    </div>
                                    <div class="list-group-item-text">
                                        <ul class="fa-ul">
                                            <li><i class="fa fa-li fa-exclamation-triangle text-warning"></i>Ich habe das Maximum an zukünftigen Eintragungen ausgeschöpft</li>
                                            @if (!string.IsNullOrEmpty(@date.Date.Title))
                                            {
                                                <li><i class="fa fa-li fa-info-circle text-primary"></i>@date.Date.Title</li>
                                            }
                                            @if (date.Date.Slots.Any())
                                            {
                                                <li><i class="fa fa-li fa-user"></i>Slotbuchung</li>
                                            }
                                            else
                                            {
                                                <li><i class="fa fa-li fa-group"></i>Offener Termin</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <a class="list-group-item" href="@Url.Action("SubscribeDate", new { id = date.Date.Id })">
                                    <div>
                                        <i class="bi bi-cart"></i>
                                        @Html.TimeSpanWithDate(date.Date)
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            if (date.IsCancelled)
                            {
                                <a class="list-group-item list-group-item-danger" href="@Url.Action("SubscriptionDetails", new { id = date.Date.Id })">
                                    <div class="list-group-item-heading">
                                        @if (date.Date.Slots.Any())
                                        {
                                            <h5>@Html.TimeSpanWithDate(date.Slot) - gebucht, ABGESAGT</h5>
                                        }
                                        else
                                        {
                                            <h5>@Html.TimeSpanWithDate(date.Date) - gebucht, ABGESAGT</h5>
                                        }
                                    </div>
                                    <div class="list-group-item-text">
                                        <ul class="fa-ul">
                                            @if (!string.IsNullOrEmpty(@date.Date.Title))
                                            {
                                                <li><i class="fa fa-li fa-info-circle text-primary"></i>@date.Date.Title</li>
                                            }
                                            @if (!string.IsNullOrEmpty(date.Subscription.SubscriberRemark))
                                            {
                                                <li><i class="fa fa-li fa-pencil"></i>Mein Anliegen: @date.Subscription.SubscriberRemark</li>

                                            }
                                        </ul>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a class="list-group-item list-group-item-info" href="@Url.Action("SubscriptionDetails", new { id = date.Date.Id })">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <i class="bi bi-cart-check text-success"></i>
                                            @if (date.Date.Slots.Any())
                                            {
                                                <h5>@Html.TimeSpanWithDate(date.Slot)</h5>
                                            }
                                            else
                                            {
                                                <h5>@Html.TimeSpanWithDate(date.Date)</h5>
                                            }
                                        </div>
                                        <div class="col-md-8">
                                            @if (!string.IsNullOrEmpty(@date.Date.Title))
                                            {
                                                <div>@date.Date.Title</div>
                                            }
                                            @if (!string.IsNullOrEmpty(date.Subscription.SubscriberRemark))
                                            {
                                                <div>Mein Anliegen: @date.Subscription.SubscriberRemark</div>
                                            }
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    }
                    else
                    {
                        var msg = "";
                        if (date.IsCancelled)
                        {
                            msg = "abgesagt";
                        }
                        if (date.IsFullyBooked)
                        {
                            msg = "ausgebucht";
                        }
                        if (date.IsExpired)
                        {
                            msg = "Die Frist für die Eintragung ist abgelaufen";
                        }

                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-md-4 text-danger">
                                    <i class="bi bi-cart-x"></i> @Html.TimeSpanWithDate(date.Date) - <stromg>@msg</stromg>
                                </div>
                                <div class="col-md-8">
                                    @if (!string.IsNullOrEmpty(@date.Date.Title))
                                    {
                                        <div>@date.Date.Title</div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@*
@if (ViewBag.userRight.IsMemberAdmin)
{
    <div class="panel panel-default panel-menu">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <div class="form-group">
                                <a href="@Url.Action("DateAdmin", new {id = Model.Host.Id, semId=Model.Semester.Id})" class="btn btn-default">
                                    <i class="fa fa-cog"></i> Admin
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
*@



