@model MyStik.TimeTable.Web.Models.OfficeHourDateSubscriptionViewModel
@using MyStik.TimeTable.Web.Helpers

@{
    ViewBag.Title = "Sprechstundentermin";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>@Model.Host.Name - Sprechstundentermin @Html.TimeSpanWithDate(Model.Date)</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    <fieldset>
                        @Html.ValidationSummary()
                        @Html.HiddenFor(model => model.Date.Id)
                        @Html.HiddenFor(model => model.Subscription.Id)
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Description, new { @class = "col-sm-4 form-label" })
                            <div class="col-sm-6">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Mein Anliegen", rows = "10" })
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="col-md-6">
                                <input type="submit" value="speichern" class="btn btn-outline-primary" />
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>


