@using MyStik.TimeTable.Web.Helpers
@model ICollection<MyStik.TimeTable.Web.Models.OfficeHourOverviewModel>
@{
    ViewBag.Title = "Semester";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="fas fa-user-md"></i>
                    Meine aktuellen Buchungen
                </h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        @if (ViewBag.Organiser != null)
                        {
                            <a class="btn btn-outline-primary text-center" href="@Url.Action("Organiser", "Lecturer", new {id = ViewBag.Organiser.Id})"><i class="bi-folder-plus fa-fw"></i><br />Neuen Termin buchen</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-primary text-center" href="@Url.Action("Index", "Lecturer")"><i class="bi-folder-plus fa-fw"></i><br />Neuen Termin buchen</a>
                        }
                    </div>
                </div>
            </div>

            <div class="list-group">
                @if (!Model.Any())
                {
                    <div class="list-group-item list-group-item-danger">
                        <h5>Keine zukünftigen Termine vorhanden</h5>
                    </div>
                }

                @foreach (var semester in Model)
                {
                    <div class="list-group-item list-group-item-dark">
                        <strong>@semester.Semester.Name</strong>
                    </div>

                    foreach (var ohDate in semester.OfficeHours.OrderBy(x => x.Lecturer.Name).ThenBy(x => x.Begin))
                    {
                        if (ohDate.Begin > DateTime.Now)
                        {
                            <a href="@Url.Action("SubscriptionDetails", "OfficeHour", new {id = ohDate.Date.Id})" class="list-group-item list-group-item-action">
                                <h5 class="list-group-item-heading">@ohDate.Lecturer.FullName</h5>
                                <div class="list-group-item-text">
                                    <ul class="fa-ul">
                                        <li><i class="fa fa-li fa-calendar"></i>@Html.TimeSpanWithDate(ohDate.Begin, ohDate.End)</li>
                                        @if (!string.IsNullOrEmpty(ohDate.Subscription.SubscriberRemark))
                                        {
                                            <li><i class="fa fa-li fa-user"></i>Mein Anliegen: @ohDate.Subscription.SubscriberRemark</li>
                                        }
                                    </ul>
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="list-group-item disabled">
                                <h5 class="list-group-item-heading">@ohDate.Lecturer.FullName</h5>
                                <div class="list-group-item-text">
                                    <ul class="fa-ul">
                                        <li><i class="fa fa-li fa-calendar"></i>@Html.TimeSpanWithDate(ohDate.Begin, ohDate.End)</li>
                                        @if (!string.IsNullOrEmpty(ohDate.Subscription.SubscriberRemark))
                                        {
                                            <li><i class="fa fa-li fa-info-circle"></i>@ohDate.Subscription.SubscriberRemark</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                }
            </div>

        </div>
    </div>
</div>




