@model MyStik.TimeTable.Web.Models.OfficeHourDateSubscriptionViewModel
@using MyStik.TimeTable.Web.Helpers

@{
    ViewBag.Title = "Sprechstundentermin";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                @if (Model.Slot != null)
                {
                    <h4>@Model.Host.Name - Sprechstundentermin Slot @Html.TimeSpanWithDate(Model.Slot)</h4>
                }
                else
                {
                    <h4>@Model.Host.Name - Sprechstundentermin @Html.TimeSpanWithDate(Model.Date)</h4>
                }
            </div>
            <div class="card-body">
                    <h4>Informationen zu meinem Sprechstundentermin</h4>
                    <h5>Mein Anliegen</h5>
                    <p>@Model.Subscription.SubscriberRemark</p>

                    <h5>Allgemeine Informationen zur Sprechstunde</h5>
                    <p>@Html.Raw(Model.Date.Activity.Description)</p>

                    <div class="btn-group" role="group">
                        <a href="@Url.Action("Subscriptions")" class="btn btn-outline-primary">
                            <i class="bi-arrow-left"></i>
                            Zurück zu meinen Buchungen
                        </a>
                        <a href="@Url.Action("EditDateSubscription", new {id = Model.Date.Id})" class="btn btn-outline-primary">
                            <i class="bi-pen"></i> Anliegen ändern
                        </a>
                        @if (Model.IsExpired)
                        {
                            <a href="" class="btn btn-outline-danger disabled">
                                <i class="bi-trash"></i>
                                Nach Ende der Eintragungsfrist ist kein Austragen mehr möglich
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("UnsubscribeDateSubscription", new {id = Model.Subscription.Id})" class="btn btn-outline-danger">
                                <i class="bi-trash"></i>
                                austragen
                            </a>

                        }
                    </div>
                </div>

            </div>
        </div>

    </div>

