@model MyStik.TimeTable.Web.Models.OfficeHourDateSubscriptionViewModel
@using MyStik.TimeTable.Web.Helpers

@{
    ViewBag.Title = "Sprechstundentermin";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>@Model.Host.Name - Sprechstundentermin @Html.TimeSpanWithDate(Model.Date)</h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    @Html.Raw(Model.Date.Activity.Description)
                </div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    <fieldset>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        @Html.HiddenFor(model => model.Date.Id)
                        @if (Model.Date.Slots.Any() && Model.AvailableSlots != null && Model.AvailableSlots.Any())
                        {
                            <div class="mb-3">
                                <label class="col-sm-4 form-label">Verfügbare Slots</label>
                                <div class="col-sm-6">
                                    <select name="SlotId" class="form-select">
                                        @foreach (var slot in Model.AvailableSlots)
                                        {
                                            if (!slot.Occurrence.Subscriptions.Any() && slot.Occurrence.IsAvailable)
                                            {
                                                <option value="@slot.Id">@Html.TimeSpan(slot)</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                        <div class="mb-3">
                            <label class="col-sm-4 form-label">Mein Anliegen (Angabe freiwillig)</label>
                            <div class="col-sm-6">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "z.B. Anrechnung, Frage zu Lehrveranstaltung", rows = "10" })
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="col-md-6">
                                <input type="submit" value="Verbindlich eintragen" class="btn btn-outline-primary" />
                            </div>
                        </div>
                    </fieldset>
                }


            </div>
        </div>
    </div>
</div>
