@using MyStik.TimeTable.Web.Models

@{
    ViewBag.Title = "Fachschaft";
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Öffentlicher Bereich</h4>
                </div>
                <div class="list-group">
                    <a class="list-group-item" href="@Url.Action("Organiser", "Event", new {semId=Model.Semester.Id, orgId=Model.Organiser.Id})">
                        <h5 class="list-group-item-heading"><i class="fa fa-calendar"></i> Veranstaltungen</h5>
                        <div class="list-group-item-text">Sitzungen, Treffen, Events</div>
                    </a>
                    @*@
                    <a class="list-group-item" href="@Url.Action("Newsletter", new {id=Model.Organiser.Id})">
                        <h5 class="list-group-item-heading"><i class="fa fa-envelope-o"></i> Newsletter</h5>
                        <div class="list-group-item-text">Nachrichtenverteiler zu verschiedenen Themen</div>
                    </a>
                    *@
                    @if (ViewBag.UnionUserRight.User.MemberState == MemberState.Student)
                    {
                        if (ViewBag.UnionUserRight.Member == null)
                        {
                            <a class="list-group-item" href="@Url.Action("GetMember", new {id = Model.Organiser.Id})">
                                <h5 class="list-group-item-heading"><i class="fa fa-pencil"></i> Eintragen</h5>
                                <div class="list-group-item-text">Zugang beantragen</div>
                            </a>
                        }
                        else
                        {
                            <a class="list-group-item" href="@Url.Action("WithdrawMember", new {id = ViewBag.UnionUserRight.Member.Id})">
                                <h5 class="list-group-item-heading"><i class="fa fa-times text-danger"></i> Austragen
                                </h5>
                                @if (ViewBag.UnionUserRight.Member.IsAssociated)
                                {
                                    <div class="list-group-item-text">Status: Zugang beantragt</div>
                                }
                            </a>

                        }
                    }
                </div>
            </div>
        </div>
        @if (ViewBag.UnionUserRight.IsOrgAdmin)
        {
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Interner Bereich</h4>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item" href="@Url.Action("CreateEvent", "Union")">
                            <h5 class="list-group-item-heading"><i class="fa fa-plus"></i> Veranstaltung anlegen</h5>
                        </a>
                    @*
                        <a class="list-group-item" href="@Url.Action("CreateNewsletter", "Union")">
                            <h5 class="list-group-item-heading"><i class="fa fa-plus"></i> Newsletter anlegen</h5>
                        </a>
                        *@
                    </div>
                </div>
            </div>
        }
            @if (ViewBag.FacultyUserRight.IsStudentAdmin || ViewBag.UnionUserRight.IsOrgAdmin)
            {
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Administrativer Bereich</h4>
                        </div>
                        <div class="list-group">
                            <a class="list-group-item" href="@Url.Action("Member", "Union", new {id=Model.Organiser.Id})">
                                <h5 class="list-group-item-heading"><i class="fa fa-users"></i> Mitgliederverwaltung</h5>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
</div>



