@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.RoomConflictViewModel
<div class="panel panel-danger">
    <div class="panel-heading">
        <h5>Konflikte für Raum @Model.Room.Number</h5>
    </div>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Benötigt</th>
            <th>Belegt durch</th>
            <th>Belegt von</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var conflictDate in Model.ConflictDates)
        {
            foreach (var conflict in conflictDate.Conflicts)
            {
                <tr>
                    <td>@Html.TimeSpanWithDate(conflictDate.Begin, conflictDate.End)</td>
                    <td>@conflict.Activity.Name (@conflict.Activity.ShortName)</td>
                    <td>@Html.TimeSpanWithDate(conflict)</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>


