@model ICollection<MyStik.TimeTable.Web.Models.RoomInfoModel>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list"></i> Übersicht 
                </div>
                <div class="actions">
                    <i class="fa fa-lock"></i> Belegung nur über die jeweiligen Raum-Admins möglich
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Nummer (Name)</th>
                        <th>@Resources.Description2 / Ausstattung</th>
                        <th>@Resources.NumberSeatsString</th>
                        <th>@Resources.RoomStatusString</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var room in Model)
                        {
                            <tr>
                                @if (room.NeedInternalConfirmation)
                                {
                                    <td>
                                        <i class="fa fa-lock"></i>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                    </td>
                                }
                                <td><a href="@Url.Action("Calendar", "Room", new {id = room.Room.Id})">@room.Room.FullName</a></td>
                                <td>@room.Room.Description</td>
                                <td>@room.Room.Capacity</td>
                                @if (room.CurrentDate != null)
                                {
                                    <td>@Resources.OccupiedByString (@room.CurrentDate.Activity.Name)</td>
                                }
                                else
                                {
                                    if (room.NextDate != null)
                                    {
                                        if (room.NextDate.Begin > DateTime.Today.AddDays(1))
                                        {
                                            <td>@Resources.FreeUntilEveningString</td>
                                        }
                                        else
                                        {
                                            <td>@Resources.FreeUntilString @room.NextDate.Begin.TimeOfDay.ToString("hh\\:mm")</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>@Resources.FreeUntilEveningString</td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


