@using MyStik.TimeTable.Web.Helpers
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Data.Room
@{
    ViewBag.Title = "Raumdetails";
}


@{
    var assignment = Model.Assignments.FirstOrDefault(x => x.Organiser.Id == ViewBag.Organiser.Id);
}

<div class="row">
    <div class="col-md-12">
        <h4>
            @Model.FullName <span id="loading"><i class="fa fa-spinner fa-spin text-muted"></i></span>
        </h4>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        <a href="@Url.Action("Organiser", "Rooms", new {id=ViewBag.Organiser.Id})" class="btn btn-outline-primary">
                            <i class="fa fa-arrow-left"></i> zurück
                        </a>
                        @if (ViewBag.UserRight.User.MemberState == MemberState.Staff)
                        {
                            <div class="form-group">
                                <a href="@Url.Action("DateList", new {id = Model.Id})" class="btn btn-default">
                                    <i class="fa fa-list"></i> Terminliste (aktuelles Semester)
                                </a>
                            </div>
                            <div class="form-group">
                                <a href="@Url.Action("DateListAll", new {id = Model.Id})" class="btn btn-default">
                                    <i class="fa fa-list"></i> Terminliste (alle)
                                </a>
                            </div>
                            <div class="form-group">
                                <a href="@Url.Action("Labels", "Room")" class="btn btn-default">
                                    <i class="fa fa-print"></i> Türschilder
                                </a>
                            </div>
                        }


                        @if (ViewBag.UserRight.IsRoomAdmin)
                        {
                            <div class="form-group">
                                <a href="@Url.Action("Delete", new {id = Model.Id})" class="btn btn-default">
                                    <i class="fa fa-gear"></i> Löschen
                                </a>
                            </div>
                            <div class="form-group">
                                <a href="@Url.Action("Edit", new {id = Model.Id})" class="btn btn-default">
                                    <i class="fa fa-gear"></i> Einstellungen
                                </a>
                            </div>
                            <div class="form-group">
                                <a href="@Url.Action("Rules", new {id = Model.Id})" class="btn btn-default">
                                    <i class="fa fa-legal"></i> Belegungsregeln
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <div class="list-group-item">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>



@section styles
{
    <link href="~/Assets/libs/fullcalendar/main.min.css" rel="stylesheet" />
}


@section scripts
{
    <!--
    <script src="~/Assets/global/plugins/moment.min.js"></script>
    -->
    <script src="~/Assets/libs/fullcalendar/main.min.js"></script>
    <script src="~/Assets/libs/fullcalendar/locales/de.js"></script>
    <script src="~/Assets/fillter/scripts/calendar.js"></script>

    <script type="text/javascript">

    $(document).ready(function () {
        $('#loading').hide();

        var myCalendar = initDayCalendar("calendar");

        myCalendar.addEventSource(
            {
                url: '@Url.Action("CourseEventsByRoom", "Calendar")',
                method: 'POST',
                extraParams: {
                    roomId: "@Model.Id",
                    showPersonalDates: false
                },
                success: function (data, success, xhr) {
                    $('#loading').hide();
                },
                failure: function (data, type, ex) {
                    alert("Fehler beim laden der Daten." + ex);
                    $('#loading').hide();
                }
            }
        );


        @*
            $('#calendar').fullCalendar('removeEvents');

            $('#calendar').fullCalendar('addEventSource',
                {
                    url: '@Url.Action("CourseEventsByRoom", "Calendar")',
                    type: 'POST',
                    data: {
                        roomId: "@Model.Id",
                        showPersonalDates: false
                    }
                });
            *@
        });

        function onShowEventInfo(id) {
            if (id != null) {
                window.location.href = "@Url.Action("Details", "Activity")/" + id;
            }

        }


    </script>
}
