@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Data.Room
@{
    ViewBag.Title = "Raumdetails";
}


@{
    var initialDay = string.Empty;
    if (!string.IsNullOrEmpty(ViewBag.Day))
    {
        initialDay = ViewBag.Day;
    }

    var members = ViewBag.Members as List<MyStik.TimeTable.Data.OrganiserMember>;
    var owners = ViewBag.Owners as List<MyStik.TimeTable.Data.ActivityOrganiser>;

    var isOwner = false;
    foreach (var m in members)
    {
        if (owners.Any(x => x.Id == m.Organiser.Id))
        {
            isOwner = true;
            break;
        }
    }
}

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Rooms")">Raumverzeichnis</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Number</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    @Model.FullName <span id="loading"><i class="fa fa-spinner fa-spin text-muted"></i></span>
                </h5>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        @if (members.Any())
                        {
                            <div class="form-group">
                                <a href="@Url.Action("DateList", new { id = Model.Id })" class="btn btn-default">
                                    <i class="fa fa-list"></i> Terminliste (aktuelles Semester)
                                </a>
                            </div>
                            <div class="form-group">
                                <a href="@Url.Action("DateListAll", new { id = Model.Id })" class="btn btn-default">
                                    <i class="fa fa-list"></i> Terminliste (alle)
                                </a>
                            </div>
                            <div class="form-group">
                                <a href="@Url.Action("Labels", "Room")" class="btn btn-default">
                                    <i class="fa fa-print"></i> Türschilder
                                </a>
                            </div>
                        }
                        @if (isOwner)
                        {
                            <div class="form-group">
                                <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-default">
                                    <i class="fa fa-gear"></i> Löschen
                                </a>
                            </div>
                            <div class="form-group">
                                <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-default">
                                    <i class="fa fa-gear"></i> Einstellungen
                                </a>
                            </div>
                            <div class="form-group">
                                <a href="@Url.Action("Rules", new { id = Model.Id })" class="btn btn-default">
                                    <i class="fa fa-legal"></i> Belegungsregeln
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            Beschreibung
                                        </div>
                                        <div class="col-md-8">
                                            @Model.Description
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Anzahl Plätze
                                        </div>
                                        <div class="col-md-8">
                                            @Model.Capacity
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12">
                                            Belegbar durch
                                        </div>
                                    </div>
                                    @foreach (var assign in Model.Assignments)
                                    {
                                        var ownerAssign = Model.Assignments.FirstOrDefault(x => x.IsOwner);

                                        if (ownerAssign != null)
                                        {
                                            <div class="row">
                                                <div class="col-md-4">
                                                    @assign.Organiser.ShortName
                                                </div>

                                                @if (assign.Id == ownerAssign.Id)
                                                {
                                                    <div class="col-md-2">
                                                        <i class="bi bi-building-exclamation text-secondary"></i>
                                                    </div>
                                                    <div class="col-md-2">
                                                        @if (ownerAssign.InternalNeedConfirmation)
                                                        {
                                                            <i class="bi bi-ticket text-danger"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="bi bi-check text-success"></i>
                                                        }
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-2">
                                                    </div>
                                                    <div class="col-md-2">
                                                        @if (ownerAssign.ExternalNeedConfirmation)
                                                        {
                                                            <i class="bi bi-ticket text-danger"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="bi bi-check text-success"></i>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="col-md-4">
                                                    @assign.Organiser.ShortName
                                                </div>
                                                <div class="col-md-8">
                                                    Nicht buchbar
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section styles
{
    <link href="~/Assets/libs/fullcalendar/main.min.css" rel="stylesheet" />
}


@section scripts
{
    <!--
    <script src="~/Assets/global/plugins/moment.min.js"></script>
    -->
    <script src="~/Assets/libs/fullcalendar/main.min.js"></script>
    <script src="~/Assets/libs/fullcalendar/locales/de.js"></script>
    <script src="~/Assets/fillter/scripts/calendar.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            $('#loading').hide();

            var myCalendar = initDayCalendar("calendar");
            //myCalendar.setOption("initialDate", "2024-04-22");
            var day = "@initialDay";
            if (day != "") {
                myCalendar.gotoDate(day);
            }


            myCalendar.addEventSource(
                {
                    url: '@Url.Action("CourseEventsByRoom", "Calendar")',
                    method: 'POST',
                    extraParams: {
                        roomId: "@Model.Id",
                        showPersonalDates: false
                    },
                    success: function(data, success, xhr) {
                        $('#loading').hide();
                    },
                    failure: function(data, type, ex) {
                        alert("Fehler beim laden der Daten." + ex);
                        $('#loading').hide();
                    }
                }
            );


            @*
            $('#calendar').fullCalendar('removeEvents');

            $('#calendar').fullCalendar('addEventSource',
                {
                    url: '@Url.Action("CourseEventsByRoom", "Calendar")',
                    type: 'POST',
                    data: {
                        roomId: "@Model.Id",
                        showPersonalDates: false
                    }
                });
            *@
        });

        function onShowEventInfo(id) {
            if (id != null) {
                window.location.href = "@Url.Action("Details", "Activity")/" + id;
            }

        }


    </script>
}
