@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Data.Room
@{
    ViewBag.Title = "Raumdetails";
}


@{
    var initialDay = string.Empty;
    if (!string.IsNullOrEmpty(ViewBag.Day))
    {
        initialDay = ViewBag.Day;
    }

    var members = ViewBag.Members as List<MyStik.TimeTable.Data.OrganiserMember>;
    var owners = ViewBag.Owners as List<MyStik.TimeTable.Data.ActivityOrganiser>;

    var isOwner = false;
    foreach (var m in members)
    {
        if (owners.Any(x => x.Id == m.Organiser.Id))
        {
            isOwner = true;
            break;
        }
    }
}

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a aria-label="Dashboard" href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
            <li class="breadcrumb-item"><a aria-label="Campus" href="@Url.Action("Campus", "University")">HM</a></li>
            <li class="breadcrumb-item"><a aria-label="Raumverzeichnis" href="@Url.Action("Index", "Rooms")">Raumverzeichnis</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.FullName</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-md-2">
        @if (members.Any())
        {
            <div class="card mb-3">
                <div class="list-group">
                    @if (members.Any())
                    {
                        @*
                        <a href="@Url.Action("DateList", new { id = Model.Id })" class="list-group-item list-group-item-action">
                            <i class="bi bi-list"></i> Terminliste (aktuelles Semester)
                        </a>
                        <a href="@Url.Action("DateListAll", new { id = Model.Id })" class="list-group-item list-group-item-action">
                            <i class="bi bi-list-columns"></i> Terminliste (alle)
                        </a>
                           *@
                        <a href="@Url.Action("Availabilities", new { id = Model.Id })" class="list-group-item list-group-item-action">
                            <i class="bi bi-unlock"></i> Verfügbarkeiten
                        </a>
                        <a href="@Url.Action("Rules", new { id = Model.Id })" class="list-group-item list-group-item-action">
                            <i class="bi bi-check-circle"></i> Belegungsregeln
                        </a>
                    }
                    @if (isOwner)
                    {

                        <a href="@Url.Action("Edit", new { id = Model.Id })" class="list-group-item list-group-item-action">
                            <i class="bi bi-gear"></i> Einstellungen
                        </a>
                    }
                </div>
            </div>
        }
    <div class="card mb-3">
        <img src="@Url.Action("GetQrCode", "Print", new {id = Model.Id})" class="card-img-top" alt="QR-Code für aktuelle Belegung"/>
    </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Beschreibung</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Model.Description
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        Anzahl Plätze
                    </div>
                    <div class="col-md-8">
                        @Model.Capacity
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        Buchbar durch
                    </div>
                    <div class="col-md-6">
                        @foreach (var assign in Model.Assignments)
                        {
                            if (assign.IsOwner)
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        @assign.Organiser.ShortName <i class="bi bi-building-exclamation text-primary"></i>
                                    </div>
                                    <div class="col-md-8">
                                        @if (Model.Availability != null)
                                        {
                                            var grids = Model.Availability.PlanningGrids.Where(g => g.Organiser.Id == assign.Organiser.Id).ToList();
                                            if (grids.Any())
                                            {
                                                foreach (var grid in grids)
                                                {
                                                    <div>@grid.State</div>
                                                }
                                            }
                                            else
                                            {
                                                <i class="bi bi-exclamation-triangle text-danger" title="Keine Verfügbarkeiten für diese Einrichtung hinterlegt"></i>
                                            }

                                        }
                                        else
                                        {
                                            <i class="bi bi-exclamation-triangle text-danger" title="Keine Verfügbarkeiten für diese Einrichtung hinterlegt"></i>
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        @assign.Organiser.ShortName
                                    </div>
                                    <div class="col-md-8">
                                        @if (Model.Availability != null)
                                        {
                                            var grids = Model.Availability.PlanningGrids.Where(g => g.Organiser.Id == assign.Organiser.Id).ToList();
                                            if (grids.Any())
                                            {
                                                foreach (var grid in grids)
                                                {
                                                    <div>@grid.State</div>
                                                }
                                            }
                                            else
                                            {
                                                <i class="bi bi-exclamation-triangle text-danger" title="Keine Verfügbarkeiten für diese Einrichtung hinterlegt"></i>
                                            }

                                        }
                                        else
                                        {
                                            <i class="bi bi-exclamation-triangle text-danger" title="Keine Verfügbarkeiten für diese Einrichtung hinterlegt"></i>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div id="calendar"></div>
        </div>
    </div>
</div>



@section styles
{
    <link href="~/Assets/libs/fullcalendar/main.min.css" rel="stylesheet" />
}


@section scripts
{
    <!--
    <script src="~/Assets/global/plugins/moment.min.js"></script>
    -->
    <script src="~/Assets/libs/fullcalendar/main.min.js"></script>
    <script src="~/Assets/libs/fullcalendar/locales/de.js"></script>
    <script src="~/Assets/fillter/scripts/calendar.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            $('#loading').hide();

            var myCalendar = initDayCalendar("calendar");
            //myCalendar.setOption("initialDate", "2024-04-22");
            var day = "@initialDay";
            if (day != "") {
                myCalendar.gotoDate(day);
            }


            myCalendar.addEventSource(
                {
                    url: '@Url.Action("CourseEventsByRoom", "Calendar")',
                    method: 'POST',
                    extraParams: {
                        roomId: "@Model.Id",
                        showPersonalDates: false
                    },
                    success: function(data, success, xhr) {
                        $('#loading').hide();
                    },
                    failure: function(data, type, ex) {
                        alert("Fehler beim laden der Daten." + ex);
                        $('#loading').hide();
                    }
                }
            );


            @*
            $('#calendar').fullCalendar('removeEvents');

            $('#calendar').fullCalendar('addEventSource',
                {
                    url: '@Url.Action("CourseEventsByRoom", "Calendar")',
                    type: 'POST',
                    data: {
                        roomId: "@Model.Id",
                        showPersonalDates: false
                    }
                });
            *@
        });

        function onShowEventInfo(id) {
            if (id != null) {
                window.location.href = "@Url.Action("Details", "Activity")/" + id;
            }

        }


    </script>
}
