@model MyStik.TimeTable.Data.CurriculumModuleCatalog


@{
    ViewBag.Title = "Modulekatalog";

    var itsMe = false;
    var userId = ViewBag.UserRight.User.Id;

    foreach (var kv in Model.CatalogResponsibilities)
    {
        if (!string.IsNullOrEmpty(kv.Member.UserId) && kv.Member.UserId.Equals(userId))
        {
            itsMe = true;
        }
    }

}


@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Modulkatalog @Model.Name</h4>
                <div class="row">
                    <div class="col-4">Katalogverantwortliche</div>
                    <div class="col-8">
                        @foreach (var r in Model.CatalogResponsibilities)
                        {
                            <div>@r.Member.FullName</div>
                        }
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        <a href="@Url.Action("Index", "Catalogs", new {id = Model.Organiser.Id} )" class="btn btn-outline-primary">
                            <i class="bi-chevron-compact-left"></i> Zurück
                        </a>
                        @if (ViewBag.UserRight.IsCurriculumAdmin || itsMe)
                        {
                            <a href="@Url.Action("Create","CurriculumModule", new {catalogId=Model.Id})" class="btn btn-outline-primary">
                                <i class="bi-plus"></i> Neues Modul anlegen
                            </a>
                            <a href="@Url.Action("EditGeneral", new {id=Model.Id})" class="btn btn-outline-primary">
                                <i class="bi-gear"></i> Allgemeine Angaben
                            </a>
                            <a href="@Url.Action("EditResponsibilities", new {id=Model.Id})" class="btn btn-outline-primary">
                                <i class="bi-people"></i> Katalogverantwortliche
                            </a>
                            <a href="@Url.Action("MoveModules", new {id=Model.Id})" class="btn btn-outline-primary">
                                <i class="bi-list-check"></i> Zusammensetzung
                            </a>
                            if (Model.Modules.Any())
                            {
                                <a href="@Url.Action("DeleteCatalog", "Catalogs", new { id = Model.Id })" class="btn btn-outline-danger disabled">
                                    <i class="bi-trash"></i> Katalog Löschen
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("DeleteCatalog", "Catalogs", new { id = Model.Id })" class="btn btn-outline-danger">
                                    <i class="bi-trash"></i> Katalog Löschen
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <table id="tabCatalogs" class="table">
                <thead>
                    <tr>
                        <th>Bezeichnung</th>
                        <th>Tag</th>
                        <th>Modulverantwortung</th>
                        <th>Fächer</th>
                        <th>Modulbeschreibungen</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var module in Model.Modules)
                        {
                            var iExamOption = 0;
                            var sem = module.Descriptions.GroupBy(x => x.Semester);

                            <tr>
                                <td>
                                    <a href="@Url.Action("Details", "ModuleDescription", new {id = module.Id})">
                                        @module.Name
                                    </a>
                                </td>
                                <td>@module.Catalog.Organiser.Tag::@module.Catalog.Tag::@module.Tag</td>
                                @if (module.ModuleResponsibilities.Any())
                                {
                                    <td>
                                        @foreach (var mv in module.ModuleResponsibilities)
                                        {
                                            <div>@mv.Member.FullName</div>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td>vakant</td>
                                }
                                <td>
                                    @foreach (var subject in module.ModuleSubjects)
                                    {
                                        <div>@subject.Tag (@subject.TeachingFormat.Tag)</div>
                                    }
                                </td>
                                <td>
                                    @foreach (var s in sem)
                                    {
                                       <div>@s.Key.Name</div>
                                       <ul>
                                           @foreach (var d in s)
                                           {
                                               if (!string.IsNullOrEmpty(d.Description))
                                               {
                                                   if (d.ChangeLog != null)
                                                   {
                                                       <li>@d.Description.Count() Zeichen (@d.ChangeLog.LastEdited)</li>
                                                   }
                                                   else
                                                   {
                                                       <li>@d.Description.Count() Zeichen (Kein ChangeLog)</li>
                                                   }
                                               }
                                           }
                                       </ul>
                                    }
                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabCatalogs').DataTable({
                "paging": false,
                "order": [[0, 'asc']]
            });
        });
    </script>
}