@model MyStik.TimeTable.Web.Models.CurriculumModuleCreateModel
@{
    ViewBag.Title = "Neues Modul";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Neues Modul anlegen</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.catalogId)
                    <div class="row">
                        <label for="Tag" class="col-sm-2 col-form-label">Tag (muss innerhalb der Organisation eindeutig sein)</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Tag, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <label for="Name" class="col-sm-2 col-form-label">Bezeichnung</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i> Speichern</button>
                            <a href="@Url.Action("Details",  new{id=Model.catalogId})" class="btn btn-outline-secondary">Abbrechen</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
