@model MyStik.TimeTable.Web.Models.OrganiserViewModel
@using MyStik.TimeTable.Data


@{
    ViewBag.Title = "Modulekataloge";

    var db = new TimeTableDbContext();

    /*
    foreach (var module in db.CurriculumModules.ToList())
    {
        foreach (var desc in module.Descriptions.ToList())
        {
            db.ModuleDescriptions.Remove(desc);
        }

        foreach (var option in module.ExaminationOptions.ToList())
        {
            foreach (var fraction in option.Fractions.ToList())
            {
                db.ExaminationFractions.Remove(fraction);
            }

            db.ExaminationOptions.Remove(option);
        }

        foreach (var subject in module.ModuleSubjects.ToList())
        {
            foreach (var opportunity in subject.Opportunities.ToList())
            {
                db.SubjectOpportunities.Remove(opportunity);
            }

            db.ModuleCourses.Remove(subject);
        }

        foreach (var accreditation in module.Accreditations.ToList())
        {
            db.Accreditations.Remove(accreditation);
        }

        var mappings = db.ModuleMappings.Where(x => x.Module.Id == module.Id).ToList();

        foreach (var mapping in mappings)
        {
            db.ModuleMappings.Remove(mapping);
        }


        db.CurriculumModules.Remove(module);
    }

    foreach (var teachingFormat in db.TeachingFormats.ToList())
    {
        db.TeachingFormats.Remove(teachingFormat);
    }

    foreach (var examinationForm in db.ExaminationForms.ToList())
    {
        db.ExaminationForms.Remove(examinationForm);
    }


    db.SaveChanges();
    */
}


@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Modulkataloge @Model.Organiser.ShortName</h4>
                <ul>
                    <li>Prüfungsformen: @db.ExaminationForms.Count()</li>
                    <li>Lehrformate: @db.TeachingFormats.Count()</li>
                </ul>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        @if (ViewBag.UserRight.IsCurriculumAdmin)
                        {

                            <a href="@Url.Action("Import", "Catalogs", new {id = Model.Organiser.Id})" class="btn btn-outline-primary">
                                <i class="bi-upload"></i> Import
                            </a>
                            <a href="@Url.Action("Delete", "Catalogs", new {id = Model.Organiser.Id})" class="btn btn-outline-danger">
                                <i class="bi-trash"></i> Löschen
                            </a>
                        }
                    </div>
                </div>
            </div>
            <table id="tabCatalogs" class="table">
                <thead>
                    <tr>
                        <th>Katalog Name</th>
                        <th>Katalog ID</th>
                        <th>Module Name</th>
                        <th>Module ID</th>
                        <th>Modulverantwortung</th>
                        <th>Fächer</th>
                        <th>Prüfungen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cat in Model.Organiser.ModuleCatalogs)
                    {
                        foreach (var module in cat.Modules)
                        {
                            var iExamOption = 0;
                            <tr>
                                <td>@cat.Name</td>
                                <td>@cat.Tag</td>
                                <td>
                                    <a href="@Url.Action("Details", "ModuleDescription", new {id = module.Id})">
                                        @module.Name
                                    </a>
                                </td>
                                <td>@module.Tag</td>
                                @if (module.ModuleResponsibilities.Any())
                                {
                                    <td>
                                        @foreach (var mv in module.ModuleResponsibilities)
                                        {
                                            <div>@mv.Member.FullName</div>
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td>vakant</td>
                                }
                                <td>
                                    @foreach (var subject in module.ModuleSubjects)
                                    {
                                        <div>@subject.Tag (@subject.TeachingFormat.Tag)</div>
                                    }
                                </td>
                                <td>
                                    @foreach (var exam in module.ExaminationOptions)
                                    {
                                        iExamOption++;
                                        <div>
                                            Option @iExamOption:
                                            @foreach (var fraction in exam.Fractions)
                                            {
                                                if (fraction.Form != null)
                                                {
                                                    var str = string.Format(" {0} ({1:P})", fraction.Form.ShortName, fraction.Weight);
                                                    if (fraction != exam.Fractions.Last())
                                                    {
                                                        str += " und";
                                                    }
                                                    @str
                                                }
                                                else
                                                {
                                                    var str = string.Format(" nix ({0:P})", fraction.Weight);
                                                    if (fraction != exam.Fractions.Last())
                                                    {
                                                        str += " und";
                                                    }
                                                    @str
                                                }
                                            }
                                        </div>
                                    }
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabCatalogs').DataTable({
                "paging": false,
                "order": [[0, 'asc']]
            });
        });
    </script>
}