@model MyStik.TimeTable.Web.Models.OrganiserViewModel
@using MyStik.TimeTable.Data


@{
    ViewBag.Title = "Modulekataloge";

    var db = new TimeTableDbContext();

    /*
    foreach (var module in db.CurriculumModules.ToList())
    {
        foreach (var desc in module.Descriptions.ToList())
        {
            db.ModuleDescriptions.Remove(desc);
        }

        foreach (var option in module.ExaminationOptions.ToList())
        {
            foreach (var fraction in option.Fractions.ToList())
            {
                db.ExaminationFractions.Remove(fraction);
            }

            db.ExaminationOptions.Remove(option);
        }

        foreach (var subject in module.ModuleSubjects.ToList())
        {
            foreach (var opportunity in subject.Opportunities.ToList())
            {
                db.SubjectOpportunities.Remove(opportunity);
            }

            db.ModuleCourses.Remove(subject);
        }

        foreach (var accreditation in module.Accreditations.ToList())
        {
            db.Accreditations.Remove(accreditation);
        }

        var mappings = db.ModuleMappings.Where(x => x.Module.Id == module.Id).ToList();

        foreach (var mapping in mappings)
        {
            db.ModuleMappings.Remove(mapping);
        }


        db.CurriculumModules.Remove(module);
    }

    foreach (var teachingFormat in db.TeachingFormats.ToList())
    {
        db.TeachingFormats.Remove(teachingFormat);
    }

    foreach (var examinationForm in db.ExaminationForms.ToList())
    {
        db.ExaminationForms.Remove(examinationForm);
    }


    db.SaveChanges();
    */
}


@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Modulkataloge @Model.Organiser.Name (@Model.Organiser.ShortName)</h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        <a href="@Url.Action("AllModules","Catalogs")" class="btn btn-outline-primary">
                            <i class="bi-list-columns"></i> Alle Module
                        </a>
                        @if (ViewBag.UserRight.IsCurriculumAdmin)
                        {
                            <a href="@Url.Action("CreateCatalog","Catalogs")" class="btn btn-outline-primary">
                                <i class="bi-plus"></i> Neuen Katalog anlegen
                            </a>
                            <a href="@Url.Action("Import", "Catalogs", new {id = Model.Organiser.Id})" class="btn btn-outline-primary">
                                <i class="bi-upload"></i> Import
                            </a>
                            <a href="@Url.Action("MoveModules")" class="btn btn-outline-primary">
                                <i class="bi-list-check"></i> Zusammensetzung
                            </a>

                            @*
            <a href="@Url.Action("DeleteAll", "Catalogs", new {id = Model.Organiser.Id})" class="btn btn-outline-danger">
                <i class="bi-trash"></i> Alle Löschen
            </a>
                            *@
                        }
                    </div>
                </div>
            </div>
            <table id="tabCatalogs" class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Tag</th>
                        <th>Beschreibung</th>
                        <th># Module</th>
                        <th># Modulbeschreibungen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cat in Model.Organiser.ModuleCatalogs)
                    {
                        <tr>
                            <td><a href="@Url.Action("Details", new {id = cat.Id})">@cat.Name</a></td>
                            <td>@cat.Organiser.Tag::@cat.Tag</td>
                            <td>@Html.Raw(cat.Description)</td>
                            <td>@cat.Modules.Count</td>
                            <td>@cat.Modules.Sum(x => x.Descriptions.Count(d => d.Description != null && d.Description.Count() > 0))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabCatalogs').DataTable({
                "paging": false,
                "order": [[0, 'asc']]
            });
        });
    </script>
}