@model MyStik.TimeTable.Web.Models.OrganiserViewModel
@using MyStik.TimeTable.Data


@{
    ViewBag.Title = "Modulekataloge";
}


@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new { id = Model.Organiser.Id })">@Model.Organiser.ShortName</a></li>
                <li class="breadcrumb-item active" aria-current="page">Modulkataloge</li>
            </ol>
        </nav>

        <div class="card">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        <a href="@Url.Action("AllModules", "Catalogs", new { id = Model.Organiser.Id })" class="btn btn-outline-primary">
                            <i class="bi-list-columns"></i> Alle Module
                        </a>
                        @if (ViewBag.UserRight.IsCurriculumAdmin)
                        {
                            <a href="@Url.Action("CreateCatalog", "Catalogs", new { id = Model.Organiser.Id })" class="btn btn-outline-primary">
                                <i class="bi-plus"></i> Neuen Katalog anlegen
                            </a>
                            <a href="@Url.Action("Import", "Catalogs", new { id = Model.Organiser.Id })" class="btn btn-outline-primary">
                                <i class="bi-upload"></i> Import
                            </a>
                            <a href="@Url.Action("Export", "Catalogs", new { id = Model.Organiser.Id })" class="btn btn-outline-primary">
                                <i class="bi-download"></i> Export
                            </a>
                            <a href="@Url.Action("MoveModules")" class="btn btn-outline-primary">
                                <i class="bi-list-check"></i> Zusammensetzung
                            </a>

                            @*
            <a href="@Url.Action("DeleteAll", "Catalogs", new {id = Model.Organiser.Id})" class="btn btn-outline-danger">
                <i class="bi-trash"></i> Alle Löschen
            </a>
                            *@
                        }
                    </div>
                </div>
            </div>
            <table id="tabCatalogs" class="table">
                <thead>
                    <tr>
                        <th>Tag</th>
                        <th>Name</th>
                        <th># Module</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cat in Model.Organiser.ModuleCatalogs)
                    {
                        <tr>
                            <td>@cat.Tag</td>
                            <td><a href="@Url.Action("Details", new { id = cat.Id })">@cat.Name</a></td>
                            <td>@cat.Modules.Count</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabCatalogs').DataTable({
                "paging": false,
                "order": [[0, 'asc']]
            });
        });
    </script>
}