@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Services
@model MyStik.TimeTable.Web.Models.CatalogPlanModel
@{
    ViewBag.Title = "Katalogplanung";

    @*
    var db = new TimeTableDbContext();
    var courseService = new CourseInfoService(Db);

    var allCourses = db.Activities.OfType<Course>()
        .Where(x => 
            x.Semester.Id == Model.Semester.Id && x.Organiser.Id == Model.Organiser.Id &&
            x.SubjectTeachings.Any(t => t.Subject.Module.Catalog.Id == Model.Catalog.Id))
        .ToList();

    var allLecturers = new List<OrganiserMember>();
    var allRooms = new List<Room>();
    var allLabels = new List<ItemLabel>();

    foreach (var course in allCourses)
    {
        var summary = courseService.GetCourseSummary(course);

        allLecturers.AddRange(summary.Lecturers);
        allRooms.AddRange(summary.Rooms);
        allLabels.AddRange(course.LabelSet.ItemLabels);
    }

    allLecturers = allLecturers.Distinct().ToList();
    allRooms = allRooms.Distinct().ToList();
    allLabels = allLabels.Distinct().ToList();
        *@
}


@section styles
{
    <link href="~/Assets/libs/fullcalendar/main.min.css" rel="stylesheet" />
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Planungssicht für Modulkatalog</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="selectOrg" onchange="onOrgChanged(this.value)">
                                <option selected value="@Model.Organiser.Id">@Model.Organiser.ShortName</option>
                            </select>
                            <label for="selectOrg">Einrichtung</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="selectSemster" onchange="onSemesterChanged(this.value)">
                                @foreach (var sem in ViewBag.Semester)
                                {
                                    if (sem.Id == Model.Semester.Id)
                                    {
                                        <option selected value="@sem.Id">@sem.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@sem.Id">@sem.Name</option>
                                    }
                                }
                            </select>
                            <label for="selectSemster">Semester</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="selectSection" onchange="onSectionChanged(this.value)">
                            </select>
                            <label for="selectSection">Abschnitt</label>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="selectCat" onchange="onCatalogChanged(this.value)">
                                @foreach (var cat in ViewBag.Catalogs)
                                {
                                    <option value="@cat.Id">@cat.Tag</option>
                                }
                            </select>
                            <label for="selectCat">Modulkatalog</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="selectCurr" onchange="onCurrChanged(this.value)">
                                <option selected value="">Alle Studiengänge</option>
                                @foreach (var curr in ViewBag.Curricula)
                                {
                                    <option value="@curr.Id">@curr.ShortName</option>
                                }
                            </select>
                            <label for="selectCurr">Studiengang</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group">
                            <a href="javascript:onPrev()" class="btn btn-outline-secondary btn-sm"><i class="bi bi-chevron-left"></i></a>
                            <a href="javascript:onNext()" class="btn btn-outline-secondary btn-sm"><i class="bi bi-chevron-right"></i></a>
                            <a href="javascript:toggleWeekend()" class="btn btn-outline-secondary btn-sm"><i class="bi bi-calendar-week"></i></a>
                        </div>
                    </div>
                </div>
                
                <div id="planGrid"></div>

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Assets/libs/fullcalendar/main.min.js"></script>
    <script src="~/Assets/libs/fullcalendar/locales/de.js"></script>
    <script src="~/Assets/fillter/scripts/calendar.js"></script>


    <script>
        var myCalendar = null;
        var mySelection = "";
        var showWeekend = true;
        var dozIds = [];
        var roomIds = [];
        var labelIds = [];

        $(function() {
            $("#loading").hide();

            onLoadPlaningGrid();

        });

        function onPrev() {
            myCalendar.prev();
        }
        function onNext() {
            myCalendar.next();
        }
        function toggleWeekend() {
            showWeekend = !showWeekend;
            myCalendar.setOption("weekends", showWeekend);
        }

        function toggleDoz(id) {
            if (dozIds.includes(id)) {
                $("#" + id).removeClass("active");
                i = dozIds.indexOf(id);
                dozIds.splice(i, 1);
            } else {
                $("#" + id).addClass("active");
                dozIds.push(id);
            }

            showWeekCalendar();
        }

        function toggleRoom(id) {
            if (roomIds.includes(id)) {
                $("#" + id).removeClass("active");
                i = roomIds.indexOf(id);
                roomIds.splice(i, 1);
            } else {
                $("#" + id).addClass("active");
                roomIds.push(id);
            }

            showWeekCalendar();
        }

        function toggleLabel(id) {
            if (labelIds.includes(id)) {
                $("#" + id).removeClass("active");
                i = labelIds.indexOf(id);
                labelIds.splice(i, 1);
            } else {
                $("#" + id).addClass("active");
                labelIds.push(id);
            }

            showWeekCalendar();
        }


        function showWeekCalendar() {
            try {
                $('#loading').show();
                // Definition der LVs, die angezeigt werden sollen
                // Basis
                // Semester && Abschnitt
                // Org && Catalog
                // Option: Studiengang als Filter
                // Overlays: null wenn kein Overlay, Liste wenn Overlay
                // dozIds
                // roomIds
                // labelIds
                var semId = $("#selectSemster").val();
                var catId = $("#selectCat").val();
                var currId = $("#selectCurr").val();

                $('#calendar').html('');
                myCalendar = initDayCalendar("calendar");

                myCalendar.setOption("headerToolbar", false);
                //myCalendar.setOption("slotDuration", "00:90:00");

                myCalendar.addEventSource(
                    {
                        url: '@Url.Action("CatalogEvents", "Calendar")',
                        method: 'POST',
                        extraParams: {
                            semId: semId,
                            catId: catId,
                            currId: currId,
                            dozIds: dozIds
                        },
                        success: function(data, success, xhr) {
                            $('#loading').hide();
                        },
                        failure: function(data, type, ex) {
                            strMessage =
                                "<div class=\"alert alert-danger\"><h4>Fehler beim Laden der Daten</h4>";
                            strMessage += "<p>Grund: " + ex + data + type + "</p>";
                            strMessage += "</div>";

                            $('#calendar').html(strMessage);
                            //alert("Fehler beim laden der Daten." + ex);
                            $('#loading').hide();
                        }
                    }
                );
            } catch (err) {
                var strMessage =
                    "<div class=\"alert alert-danger\"><h4>Fehler beim Laden der Daten</h4>";
                strMessage += "<p>Grund: " + err + "</p>";
                strMessage += "<p>Abhilfe: Den Brwoser Cache leeren, z.B. mit der Tastenkombination CTRL + F5 bzw. Strg + F5</p>";
                strMessage += "</div>";

                $('#calendar').html(strMessage);
                $('#loading').hide();
            }

        }


        function onLoadPlaningGrid() {
            var semId = $("#selectSemster").val();
            var catId = $("#selectCat").val();
            var currId = $("#selectCurr").val();
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("PlanByCatalog")',
                    data: {
                        semId: semId,
                        catId: catId,
                        currId: currId
                    },
                    success: function(data, success, xhr) {
                        $("#planGrid").html(data);
                        showWeekCalendar();
                        $("#loading").hide();
                    }
                });

        }



        function onSemesterChanged(value) {

            onLoadPlaningGrid();
        }

        function onCatalogChanged(value) {

            onLoadPlaningGrid();
        }

        function onCurrChanged(value) {

            onLoadPlaningGrid();
        }


    </script>
}
