@model MyStik.TimeTable.Web.Models.CatalogPlanModel
@{
    ViewBag.Title = "Plan";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Lehrveranstaltung planen</h4>
            </div>
            <div class="list-group">
                <div class="list-group-item list-group-item-light">
                    <h5>Organisatorische Zugehörigkeit</h5>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-2">Fakultät</div>
                        <div class="col-3">
                            <select class="form-select slot-option" id="selectOrg" onchange="onOrgChanged(this.value)">
                                <option selected value="@Model.Organiser.Id">@Model.Organiser.ShortName</option>
                            </select>
                        </div>
                        <div class="col-7">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">Semester</div>
                        <div class="col-3">
                            <select class="form-select slot-option" id="selectSeemster" onchange="onSemesterChanged(this.value)">
                                @foreach (var sem in ViewBag.Semester)
                                {
                                    if (sem.Id == Model.Semester.Id)
                                    {
                                        <option selected value="@sem.Id">@sem.Name</option>
                                    }
                                    else
                                    {
                                        <option value="sem.Id">@sem.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-7">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">Segment</div>
                        <div class="col-3">
                            <select class="form-select slot-option" id="selectSegment" onchange="onSemesterChanged(this.value)">
                                <option selected value="1">Standard</option>
                                <option selected value="1">Blockwoche 0</option>
                                <option selected value="1">Blockwoche 1</option>
                                <option selected value="1">Blockwoche 2</option>
                            </select>
                        </div>
                        <div class="col-7">05.10.2023 bis 08.01.2024
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">Dozent:in</div>
                        <div class="col-3">
                            <select class="form-select slot-option" id="selectDoz" onchange="onSemesterChanged(this.value)">
                            </select>
                        </div>
                        <div class="col-7">
                            <button type="button" class="btn btn-primary">
                                OHIN <span class="badge text-bg-secondary">4</span>
                                <span><i class="bi bi-x"></i></span>
                            </button>                        
                        </div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-light">
                    <h5>Inhalliche Zugehörigkeit</h5>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-2">Fakultät</div>
                        <div class="col-3">
                            <select class="form-select slot-option" id="selectOrg2" onchange="onOrg2Changed(this.value)">
                                @foreach (var org in ViewBag.Organisers)
                                {
                                    if (org.Id == Model.Organiser.Id)
                                    {
                                        <option selected value="@org.Id">@org.Name</option>
                                    }
                                    else
                                    {
                                        <option value="org.Id">@org.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-7">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">Modulkatalog</div>
                        <div class="col-3">
                            <select class="form-select slot-option" id="selectCat" onchange="onCatalogChanged(this.value)">
                                <option selected value="@Model.Catalog.Id">@Model.Catalog.Name</option>
                            </select>
                        </div>
                        <div class="col-7">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">Modul</div>
                        <div class="col-3">
                            <select class="form-select slot-option" id="selectModule" onchange="onCatalogChanged(this.value)">
                            </select>
                        </div>
                        <div class="col-7">BABW 5.3.2 / 6.3.2
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">Fach</div>
                        <div class="col-3">
                            <select class="form-select slot-option" id="selectSubject" onchange="onCatalogChanged(this.value)">
                            </select>
                        </div>
                        <div class="col-7">Bereits 4 Lehrveranstaltungen vorhanden
                        </div>
                    </div>
                </div>
                <div class="list-group-item list-group-item-light">
                    <h5>Kennzeichnung</h5>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-2">Kurzname | ID</div>
                        <div class="col-3">
                            <input class="form-control" type="text" />
                        </div>
                        <div class="col-7">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">Titel</div>
                        <div class="col-3">
                            <input class="form-control" type="text" />
                        </div>
                        <div class="col-7">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script>
        $(function() {
            $("#loading").hide();
        });


        function onOrg2Changed(value) {
            var orgId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("GetCatalogs")',
                    data: {
                        orgId: orgId
                    },
                    success: function(data, success, xhr) {
                        $("#selectCat").html(data);
                        $("#selectCat").change();
                        $("#loading").hide();
                    }
                });

        }

        function onCatalogChanged(value) {

            var catId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("GetModules")',
                    data: {
                        catId: catId,
                        side: "source"
                    },
                    success: function(data, success, xhr) {
                        $("#sourceModules").html(data);
                        $("#loading").hide();
                    }
                });

        }

        function onTargetOrgChanged(value) {
            var orgId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("GetCatalogs")',
                    data: {
                        orgId: orgId
                    },
                    success: function(data, success, xhr) {
                        $("#targetCat").html(data);
                        $("#targetCat").change();
                        $("#loading").hide();
                    }
                });

        }

        function onTargetCatChanged(value) {

            updateMoveState();
            var catId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("GetModules")',
                    data: {
                        catId: catId,
                        side: "target"
                    },
                    success: function(data, success, xhr) {
                        $("#targetModules").html(data);
                        $("#loading").hide();
                    }
                });
        }

        function updateMoveState() {
            var sourceCat = $('#sourceCat').val();
            var targetCat = $('#targetCat').val();

            if (targetCat === sourceCat) {
                $('#btnMove').addClass("disabled");
            } else {
                $('#btnMove').removeClass("disabled");
            }

        }


        function moveModules() {
            //var list = $("#sourceModules > ul > li > input[type='checkbox'][checked='checked']").get();
            var list = $("#sourceModuleList > li > input[type='checkbox']:checked").parent().get();
            var n = list.length;
            //alert(n);

            if (n > 0) {
                var moduleIdList = new Array();

                for (var i = 0; i < n; i++) {
                    moduleIdList[i] = list[i].id;

                    var listElemId = '#' + list[i].id;
                    //alert(listElemId);

                    var listElem = $(listElemId).remove();

                    listElem.addClass('disabled');

                    $('#targetModuleList').append(listElem);
                }

            }
        }

        function saveChanges() {
            // Zielkatalog
            var catId = $('#targetCat').val();

            // Liste der hinzugekommemen Module
            var list = $("#targetModuleList > li > input[type='checkbox']:checked").parent().get();
            var n = list.length;
            //alert(n);

            if (n > 0) {
                var moduleIdList = new Array();

                for (var i = 0; i < n; i++) {
                    moduleIdList[i] = list[i].id;
                }


                $.ajax(
                    {
                        type: "POST",
                        url: '@Url.Action("MoveModulesSave")',
                        data: {
                            catId: catId,
                            moduleIds: moduleIdList
                        },
                        success: function(data, success, xhr) {
                            window.location.replace("@Url.Action("Index")");
                            $("#loading").hide();
                        }
                    });

            }


        }


    </script>
}
