@model MyStik.TimeTable.Web.Models.IndexViewModel
@{
    ViewBag.Title = Resources.ManageProfileHeading;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-hm">
        <div class="row">
            <div class="col-md-12">
                <h1>@Resources.ManageProfileHeading</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i> @Resources.LocalUserAccountHeading
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="list-group">
                        @if (Model.HasPassword)
                        {
                            <a href="@Url.Action("ChangePassword")" class="list-group-item">
                                <i class="fa fa-key fa-fw"></i> @Resources.ChangePasswordButton
                            </a>
                            <a href="@Url.Action("ChangeEMail")" class="list-group-item">
                                <i class="fa fa-envelope fa-fw"></i> @Resources.ChangeEMailButton
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("SetPassword")" class="list-group-item">
                                <i class="fa fa-key fa-fw"></i> @Resources.SetPasswordButton
                            </a>
                        }
                        <a href="@Url.Action("DeleteAccount", "Account")" class="list-group-item">
                            <i class="fa fa-trash fa-fw"></i> @Resources.DeleteAccountButton
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i> @Resources.AvailableLoginServices
                    </div>
                    <div class="actions">
                    </div>
                </div>
                <div class="portlet-body">
                    @Model.Logins.Count [
                    @Html.ActionLink(Resources.ManageLoginsLink, "ManageLogins") ]
                </div>
            </div>
        </div>
    </div>
</div>

