@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Data.Semester

@{
    ViewBag.Title = "Zeitplan";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-he">
                <h1 class="card-ti">Detailinformationen zu Semester @Model.Name</h1>
                <h4 class="card-sub">
                    Vorlesungszeit von @Model.StartCourses.Date.ToShortDateString() bis @Model.EndCourses.Date.ToShortDateString()
                </h4>
            </div>
            <div class="list-group">
                <div class="list-group-it">
                    <a href="@Url.Action("Edit", "Semester", new { id = Model.Id })" class="btn btn-outline-secondary"><i class="bi bi-gear"></i> Einstellungen</a>
                    <a href="@Url.Action("CreateDate", "Semester", new { id = Model.Id })" class="btn btn-outline-secondary"><i class="bi bi-plus"></i> Neuer Termin</a>
                    <a href="@Url.Action("FillHolidays", "Semester", new { id = Model.Id })" class="btn btn-outline-secondary"><i class="bi bi-plus"></i> Vorlesungsfreie Zeiten</a>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Zeitraum</th>
                        <th>Ebene</th>
                        <th>Art</th>
                        <th>Bezeichnung</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Dates.OrderBy(x => x.From))
                    {
                        <tr>
                            <td>@Html.TimeSpan(item)</td>
                            @if (item.Organiser == null)
                            {
                                <td>hochschulweit</td>
                            }
                            else
                            {
                                <td>@item.Organiser.ShortName</td>
                            }
                            @if (item.HasCourses == false)
                            {
                                <td> <i>(Vorlesungsfrei)</i></td>
                            }
                            else
                            {
                                <td>mit Lehrveranstaltungen</td>
                            }
                            <td>@item.Description</td>
                            <td>
                                @Html.ActionButton("fa-pencil text-danger", "bearbeiten", "EditDate", "Semester", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                                @Html.ActionButton("fa-trash-o text-danger", "löschen", "DeleteDate", "Semester", new { id = item.Id }, new { @class = "btn btn-default btn-xs text-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>