@using System.Data.Entity
@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Helpers
@model ICollection<MyStik.TimeTable.Data.Semester>

@{
    ViewBag.Title = "Index";
    /*
    var db = new TimeTableDbContext();

    var lower = new DateTime(2010, 10, 1);
    var upper = new DateTime(2035, 3, 15);

    var oldSem = db.Semesters
        .Where(x => x.EndCourses < lower || x.StartCourses >= upper)
        .Include(semester => semester.Dates.Select(semesterDate => semesterDate.Organiser)).Include(semester1 => semester1.Groups)
        .OrderByDescending(x => x.StartCourses)
        .Take(500).ToList();

    foreach (var semester in oldSem)
    {
        foreach (var semesterDate in semester.Dates.ToList())
        {
            db.SemesterDates.Remove(semesterDate);
        }

        db.Semesters.Remove(semester);
    }

    db.SaveChanges();
    */
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Semester mit vorlesungsfreien Zeiten</h1>
            </div>
            <div class="list-group">
                <div class="list-group-i">
                    <a href="@Url.Action("Create")" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> Hinzufügen</a>
                </div>
            </div>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Vorlesungsbeginn</th>
                        <th>Vorlesungsende</th>
                        <th>Vorlesungsfreie Zeiten</th>
                        <th>Semestergruppen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var org in Model)
                    {
                        <tr>
                            <td><a href="@Url.Action("Details", new {id = org.Id})">@org.Name</a></td>
                            <td>@org.StartCourses</td>
                            <td>@org.EndCourses</td>
                            <td>
                                @foreach (var date in org.Dates.Where(x => x.Organiser == null))
                                {
                                    <div>@Html.TimeSpan(date): @date.Description</div>
                                }
                            </td>
                            <td>@org.Groups.Count</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



