@using MyStik.TimeTable.Web.Models
@model ICollection<MyStik.TimeTable.Web.Models.ThesisStateModel>

@{
    ViewBag.Title = "Abschlussarbeiten";
}

@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Angekündigte Abschlussarbeiten mit geprüften und erfüllten Voraussetzungen</h4>
                    <div>
                        Liste enthält alle Anträge, deren Prüfung positiv ausgefallen ist und die noch nicht angemeldet sind.
                    </div>
                </div>
                <table id="tabThesis" class="table table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Vorname</th>
                            <th>Matr.-Nr.</th>
                            <th>SG</th>
                            <th>Datum Anfrage</th>
                            <th>Datum Antwort</th>
                            <th>Status</th>
                            <th>Bemerkung Prüfungsamt</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var thesis in Model)
                        {

                            <tr id="@thesis.Thesis.Id">
                                <td></td>
                                @if (thesis.User != null)
                                {
                                    <td>@thesis.User.LastName</td>
                                    <td>@thesis.User.FirstName</td>
                                }
                                else
                                {
                                    <td>kein Benutzerkonto</td>
                                    <td></td>
                                }
                                <td>@thesis.Student.Number</td>
                                <td>@thesis.Student.Curriculum.ShortName</td>
                                @if (thesis.Thesis.RequestDate != null)
                                {
                                    <td>@thesis.Thesis.RequestDate.Value.ToShortDateString()</td>
                                }
                                else
                                {
                                    <td>Fehler - kein Anfragedatum</td>
                                }

                                @if (thesis.Thesis.ResponseDate.HasValue)
                                {
                                    <td>@thesis.Thesis.ResponseDate.Value.ToShortDateString()</td>
                                    if (thesis.Thesis.IsPassed.HasValue)
                                    {
                                        if (thesis.Thesis.IsPassed.Value)
                                        {
                                            if (thesis.Thesis.RequestAuthority != null)
                                            {
                                                <td>Voraussetzungen erfüllt - geprüft von (@thesis.Thesis.RequestAuthority.FullName)</td>
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>Voraussetzungen erfüllt - Eigenauskunft</td>
                                                <td></td>
                                            }
                                        }
                                        else
                                        {
                                            <td>Voraussetzungen nicht erfüllt</td>
                                            <td>@thesis.Thesis.RequestMessage</td>
                                        }
                                    }
                                    else
                                    {
                                        <td>Altfall: Studierende wollte Voraussetzungen prüfen lassen</td>
                                        <td></td>
                                    }
                                }
                                else
                                {
                                    <td></td>
                                    <td>Fehler - kein Antwortdatum</td>
                                    <td></td>
                                }


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabThesis').DataTable({
                "paging": false,
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                {
                    "type": "de_date",
                    "targets": [5, 6]
                }],
                "order": [[1, 'asc']]
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

        });
    </script>
}
