@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.ThesisStateModel
@{
    ViewBag.Title = "Abschlussarbeit";
}

<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Status Abschlussarbeit @Model.User.FullName</h4>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <a href="@Url.Action("Running")" class="btn btn-default"><i class="fa fa-arrow-left"></i> zurück</a>
                        <a href="mailto:@Model.User.Email" class="btn btn-default">E-Mail senden</a>
                        <a href="@Url.Action("Marking", new {id = Model.Thesis.Id})" class="btn btn-default">Notenmeldung anfordern</a>
                        @if (Model.Thesis.DeliveryDate != null)
                        {
                            if (Model.Thesis.GradeDate != null)
                             {
                                 <a href="@Url.Action("Marked", new {id = Model.Thesis.Id})" class="btn btn-success disabled">Note melden</a>
                                 <a href="@Url.Action("Archive", new {id = Model.Thesis.Id})" class="btn btn-success">Arbeit abgerechnet</a>
                             }
                            else
                            {
                                <a href="@Url.Action("Marked", new {id = Model.Thesis.Id})" class="btn btn-success">Note melden</a>
                                <a href="#" class="btn btn-success disabled">Arbeit abgerechnet</a>
                            }
                        }
                        else
                        {
                            <a href="#" class="btn btn-success disabled">Note melden</a>
                            <a href="#" class="btn btn-success disabled">Arbeit abgerechnet</a>
                        }
                        <a href="@Url.Action("Delete", new {id = Model.Thesis.Id})" class="btn btn-danger">Arbeit löschen</a>
                    </div>
                    @{
                        var isNameOk = !string.IsNullOrEmpty(Model.User.FirstName) && !string.IsNullOrEmpty(Model.User.LastName);
                        var isStudOk = !string.IsNullOrEmpty(Model.Student.Number);

                        var isOk = isNameOk && isStudOk;

                        var mediaStyle = isOk ? "fa-check text-success" : "fa-exclamation-triangle text-danger";
                    }
                    <div class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-5x @mediaStyle"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Allgemeine Angaben</h4>
                                <ul class="fa-ul">
                                    @if (isNameOk)
                                    {
                                        <li><i class="fa fa-user fa-li"></i>@Model.User.FullName</li>

                                    }
                                    else
                                    {
                                        <li><i class="fa fa-user fa-li"></i> Angabe unvollständig</li>
                                    }
                                    @if (isStudOk)
                                    {
                                        <li><i class="fa fa-barcode fa-li"></i>Matrikelnummer: @Model.Student.Number </li>
                                    }
                                    else
                                    {
                                        <li><i class="fa fa-barcode fa-li"></i>Matrikelnummer fehlt</li>
                                    }
                                </ul>

                            </div>
                        </div>
                    </div>

                    @{
                        isOk = Model.ConditionRequest == RequestState.Accepted;

                        mediaStyle = isOk ? "fa-check text-success" : "fa-exclamation-triangle text-danger";
                    }

                    <div class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-5x @mediaStyle"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Prüfung der Voraussetzungen</h4>
                                @if (Model.ConditionRequest == RequestState.None)
                                {
                                    <p>Voraussetzungen wurden nicht geprüft</p>
                                }
                                else if (Model.ConditionRequest == RequestState.InProgress)
                                {
                                    <ul class="fa-ul">
                                        <li><i class="fa fa-li fa-calendar"></i>Am @Model.Thesis.RequestDate.Value.ToShortDateString() wurde der Antrag auf Prüfung der Voraussetzungen gestellt.</li>
                                    </ul>
                                    <a href="@Url.Action("Approval", new {id = Model.Thesis.Id})" class="btn btn-primary">Antrag bearbeiten</a>
                                }
                                else if (Model.ConditionRequest == RequestState.Accepted)
                                {
                                    if (Model.Thesis.RequestAuthority != null)
                                    {

                                        <ul class="fa-ul">
                                            <li><i class="fa fa-li fa-calendar"></i>Am @Model.Thesis.RequestDate wurde der Antrag auf Prüfung der Voraussetzungen gestellt.</li>
                                            <li><i class="fa fa-li fa-calendar-check-o"></i>Die Voraussetzungen sind erfüllt (bestätigt am @Model.Thesis.RequestDate.Value.ToShortDateString() von @Model.Thesis.RequestAuthority.FullName)</li>
                                        </ul>
                                    }
                                    else
                                    {
                                        <p>Prüfung der Voraussetzungen wurde selbstständig durchgeführt.</p>
                                    }

                                }
                                else if (Model.ConditionRequest == RequestState.Rejected)
                                {
                                    <ul class="fa-ul">
                                        <li><i class="fa fa-li fa-calendar"></i>Am @Model.Thesis.RequestDate wurde der Antrag auf Prüfung der Voraussetzungen gestellt.</li>
                                        <li><i class="fa fa-li fa-calendar-times-o"></i>Der Antrag wurde abgelehnt (am @Model.Thesis.RequestDate.Value.ToShortDateString() von @Model.Thesis.RequestAuthority.FullName)</li>
                                        <li><i class="fa fa-li fa-ban text-danger"></i>Es fehlt die folgende(n) Voraussetzung(en): @Model.Thesis.RequestMessage</li>
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>

                    @{
                        isOk = !string.IsNullOrEmpty(Model.Thesis.TitleDe) && !string.IsNullOrEmpty(Model.Thesis.TitleEn);

                        mediaStyle = isOk ? "fa-check text-success" : "fa-exclamation-triangle text-danger";
                    }

                    <div class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-5x @mediaStyle"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Festlegung des Themas</h4>
                                <ul class="fa-ul">
                                    <li><i class="fa fa-calendar fa-li"></i>de: "@Model.Thesis.TitleDe"</li>
                                    <li><i class="fa fa-barcode fa-li"></i>en: "@Model.Thesis.TitleEn"</li>
                                </ul>
                                @if (Model.Thesis.GradeDate == null)
                                {
                                    <a href="@Url.Action("ChangeTitle", new {id = Model.Thesis.Id})" class="btn btn-primary">Titel korrigieren</a>
                                }
                            </div>
                        </div>
                    </div>

                    @{
                        isOk = Model.Thesis.Supervisors.Any(x => x.AcceptanceDate != null);

                        mediaStyle = isOk ? "fa-check text-success" : "fa-exclamation-triangle text-danger";
                    }

                    <div class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-5x @mediaStyle"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Auswahl der BetreuerInnen</h4>
                                <ul class="fa-ul">
                                    @foreach (var s in Model.Thesis.Supervisors)
                                    {
                                        if (s.AcceptanceDate != null)
                                        {
                                            <li>
                                                <i class="fa fa-user-md fa-li"></i>@s.Member.FullName (zugesagt am: @s.AcceptanceDate.Value.ToShortDateString()) 
                                                <a href="@Url.Action("RemoveSupervisor", new {id = s.Id})" class="btn btn-default btn-xs">entfernen</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <i class="fa fa-user-md fa-li"></i>@s.Member.FullName (keine Antwort) 
                                                <a href="@Url.Action("AssignSupervisor", new {id = s.Id})" class="btn btn-default btn-xs">bestätigen</a>
                                                <a href="@Url.Action("RemoveSupervisor", new {id = s.Id})" class="btn btn-default btn-xs">entfernen</a>
                                            </li>
                                        }

                                    }
                                </ul>
                                <a href="@Url.Action("AddSupervisors", new {id=Model.Thesis.Id})" class="btn btn-primary">BetreuerIn hinzufügen</a>
                            </div>
                        </div>
                    </div>

                    @{
                        // Ausgegeben
                        var isIssued = Model.Thesis.IssueDate != null;
                        var isDelivered = Model.Thesis.DeliveryDate != null;
                        var daysToExpiry = Model.DaysToExpire;

                        if (!isDelivered)
                        {
                            if (isIssued)
                            {
                                if (daysToExpiry <= 14)
                                {
                                    if (daysToExpiry < 0)
                                    {
                                        mediaStyle = "fa-exclamation-triangle text-danger";
                                    }
                                    else
                                    {
                                        mediaStyle = "fa-exclamation-triangle text-danger";
                                    }
                                }
                                else
                                {
                                    mediaStyle = "fa-cog";
                                }
                            }
                            else
                            {
                                mediaStyle = "fa-exclamation-triangle text-danger";
                            }
                        }
                        else
                        {
                            mediaStyle = "fa-check text-success";
                        }

                    }

                    <div class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-5x @mediaStyle"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Anmeldung / Abgabe</h4>
                                @if (isIssued)
                                {
                                    if (!isDelivered)
                                    {
                                        <ul class="fa-ul">
                                            <li><i class="fa fa-calendar fa-li"></i>Angemeldet am: @Model.Thesis.IssueDate.Value.Date.ToShortDateString()</li>
                                            <li><i class="fa fa-calendar fa-li"></i>Abgabe am: @Model.Thesis.ExpirationDate.Value.Date.ToShortDateString()</li>
                                            @if (daysToExpiry < 0)
                                            {
                                                <li><i class="fa fa-li fa-cog"></i>Abgabe überfällig</li>
                                            }
                                            else
                                            {
                                                if (Model.Thesis.RenewalDate != null)
                                                 {
                                                     <li><i class="fa fa-li fa-cog"></i>Noch @daysToExpiry Tage bis zur Abgabe (Abgabe verlängert)</li>
                                                 }
                                                 else
                                                 {
                                                     <li><i class="fa fa-li fa-cog"></i>Noch @daysToExpiry Tage bis zur Abgabe</li>
                                                 }
                                            }
                                        </ul>
                                        <a href="@Url.Action("Delivered", new {id = Model.Thesis.Id})" class="btn btn-primary">Abgabe erfassen</a>
                                        <a href="@Url.Action("Extend", new {id = Model.Thesis.Id})" class="btn btn-primary">Verlängerung erfassen</a>
                                    }
                                    else
                                    {
                                        <p>Arbeit wurde am @Model.Thesis.DeliveryDate.Value.ToShortDateString() abgegeben.</p>
                                        if (Model.Thesis.GradeDate == null)
                                        {

                                            <a href="@Url.Action("Storno", new {id = Model.Thesis.Id})" class="btn btn-danger">Abgabe stornieren</a>
                                        }
                                    }
                                }
                                else
                                {
                                    <p>Noch nicht angemeldet</p>
                                    <a href="@Url.Action("Issue", new {id=Model.Thesis.Id})" class="btn btn-primary">Anmelden</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

