
@{
    ViewBag.Title = "Abschlussarbeiten";
}



<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-lg-offset-2 col-md-12">
            <h4>Abschlussarbeiten @ViewBag.Organiser.ShortName</h4>
        </div>
    </div>
    
    <div class="row" style="margin-top: 10px">
        <div class="col-lg-offset-2 col-md-12">
            <h5>Workflow Schritte Prüfungsamt</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-sm-1 col-md-2 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Announced")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-2x fa-bullhorn"></i></h4>
                    <h5>angekündigt</h5>
                    <p>Unbearbeitete Anträge</p>
                </a>
            </div>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Approved")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-2x fa-search"></i></h4>
                    <h5>geprüft</h5>
                    <p>Voraussetzungen erfüllt</p>
                </a>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top: 10px">
        <div class="col-lg-offset-2 col-md-12">
            <h5>Workflow Schritte Studierende(r)</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-sm-1 col-md-2 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Plannend")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-2x fa-group"></i></h4>
                    <h5>in Planung</h5>
                    <p>Suche Betreuung etc.</p>
                </a>
            </div>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Issued")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-2x fa-legal"></i></h4>
                    <h5>angemeldet</h5>
                    <p>laufende und zukünftige</p>
                </a>
            </div>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Running")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-2x fa-cogs"></i></h4>
                    <h5>in Bearbeitung</h5>
                    <p>nur laufende</p>
                </a>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-lg-offset-2 col-md-12">
            <h5>Workflow Schritte PrüferIn</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-sm-1 col-md-2 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Done")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-2x fa-truck"></i></h4>
                    <h5>abgegebene Arbeiten</h5>
                    <p>derzeit in Bewertung</p>
                </a>
            </div>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Graduates")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-2x fa-graduation-cap"></i></h4>
                    <h5>abgeschlossene Arbeiten</h5>
                    <p>Noten wurden gemeldet</p>
                </a>
            </div>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Archived")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-2x fa-archive"></i></h4>
                    <h5>abgerechnete Arbeiten</h5>
                    <p>Archiv</p>
                </a>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-lg-offset-2 col-md-12">
            <h5>Auswertungen und Verwaltung</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-sm-1 col-md-2 col-lg-2">
            <div class="panel panel-default text-center">
                <a href="@Url.Action("Statistics")" class="btn btn-default btn-block">
                    <h4><i class="fa fa-2x fa-bar-chart"></i></h4>
                    <h5>Statistik</h5>
                </a>
            </div>
        </div>

    </div>
</div>












