@model MyStik.TimeTable.Data.ActivityOrganiser
@{
    ViewBag.Title = "Abschlussarbeiten";
}



<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Faculty", "University", new {id = Model.Id})">@Model.ShortName</a></li>
                <li class="breadcrumb-item active" aria-current="page">Abschlussarbeiten</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @if (ViewBag.UserRight.IsExamAdmin)
        {
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-dark">
                            <h5>Workflowschritte Prüfungsamt</h5>
                        </div>
                        <a href="@Url.Action("Announced", new {orgId = Model.Id})" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">angekündigt</h5>
                            </div>
                            <p class="mb-1">Studierende haben Arbeit angelegt und bitten um Überpfüung der Voraussetzungen</p>
                        </a>
                        <a href="@Url.Action("Approved", new {orgId = Model.Id})" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">geprüft</h5>
                            </div>
                            <p class="mb-1">Voraussetzungen geprüft oder durch Selbstauskunft</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-dark">
                            <h5>Workflowschritte Studierende</h5>
                        </div>
                        <a href="@Url.Action("Plannend", new {orgId = Model.Id})" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">geplant</h5>
                            </div>
                            <p class="mb-1">Studierende haben Betreuung angefragt, aber noch keine Bestätigung</p>
                        </a>
                        <a href="@Url.Action("Issued", new {orgId = Model.Id})" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">angemeldet</h5>
                            </div>
                            <p class="mb-1">Arbeiten sind angemeldet</p>
                        </a>
                        <a href="@Url.Action("ProlongRequests", new {orgId = Model.Id})" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Verlängerungsanträge</h5>
                            </div>
                            <p class="mb-1">Offene Anfragen an Betreuende</p>
                        </a>
                        <a href="@Url.Action("ProlongConfirmation", new {orgId = Model.Id})" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Verlängerungsanträge</h5>
                            </div>
                            <p class="mb-1">Offene Entscheidung durch PKVs</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-dark">
                            <h5>Workflowschritte Prüfende</h5>
                        </div>
                        <a href="@Url.Action("Done", new {orgId = Model.Id})" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">abgegeben</h5>
                            </div>
                            <p class="mb-1">derzeit in Bewertung</p>
                        </a>
                        <a href="@Url.Action("Graduates", new {orgId = Model.Id})" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">gemeldet</h5>
                            </div>
                            <p class="mb-1">Noten wurden gemeldet</p>
                        </a>
                        <a href="@Url.Action("Archived", new {orgId = Model.Id})" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">abgerechnet</h5>
                            </div>
                            <p class="mb-1">Archiv der Arbeiten</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-dark">
                            <h5>Workflowschritte Verwaltung</h5>
                        </div>
                        <a href="@Url.Action("All", new {orgId = Model.Id})" class="list-group-item list-group-item-primary list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Gesamtheit</h5>
                            </div>
                            <p class="mb-1">Alle Arbeiten, egal welcher Status - zum vereinfachten Suchen</p>
                        </a>
                        <a href="@Url.Action("Statistics", new {orgId = Model.Id})" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Auswertungen</h5>
                            </div>
                            <p class="mb-1">Statistiken</p>
                        </a>
                        <a href="@Url.Action("Advisors", new {id = Model.Id})" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Unternehmen</h5>
                            </div>
                            <p class="mb-1">Liste aller betreuenden Unternehmen</p>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

