@model IEnumerable<MyStik.TimeTable.Data.CurriculumCriteria>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinECTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxECTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Option)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Index", "ModuleAccreditation", new {id = item.Id})">@item.Name</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinECTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxECTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Option)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
