@model IEnumerable<WIQuest.Web.Data.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") @Html.ActionLink("Zurueck", "Index", "Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

        <th>
        @Html.DisplayNameFor(model => model.Uberschrift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Reihenfolge)
        </th>
        <th></th>
        <th>
            Vorschaubild
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Uberschrift)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reihenfolge)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Bild hochladen", "UploadImage", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
            @if (item.Image != null)
            {
                <div>
                    <img src="@Url.Action("ShowImage", "Image", new { area="", id = item.Image.Id})" alt="@item.Title" style="height: 150px; width: auto" />
                </div>
            }
        </td>
    </tr>
}

</table>
