@using MyStik.TimeTable.Web.Helpers
@model ICollection<MyStik.TimeTable.Web.Models.ModuleSemesterCourseModel>

@foreach (var course in Model)
{
    var rowId = course.CourseSummary.Course.Id + "--" + course.ModuleCourse.Id;

    <tr id="@rowId">
        <td>@course.ModuleCourse.Name</td>
        <td>@course.CourseSummary.Course.Name</td>
        <td>@course.CourseSummary.Course.ShortName</td>
        <td>@Html.GroupList(course.CourseSummary.Course.SemesterGroups)</td>
        <td>@Html.DateList(course.CourseSummary.Dates)</td>
        <td>
            @Html.RoomList(course.CourseSummary.Rooms)
        </td>
        <td>
            @Html.LecturerList(course.CourseSummary.Lecturers)
        </td>
        <td>@course.CourseSummary.Course.Occurrence.Subscriptions.Count(x => !x.OnWaitingList)</td>
        <td>@course.CourseSummary.Course.Occurrence.Subscriptions.Count(x => x.OnWaitingList)</td>
        <td><button class="btn btn-danger btn-sm" onclick="deleteRow('@rowId');"><i class="fas fa-trash"></i></button></td>
    </tr>
}

