@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.ModuleSemesterCoursesModel
@{
    ViewBag.Title = "Courses";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Lehrangebot für @Model.Module.Name (@Model.Module.ShortName / @Model.Module.ModuleId) im @Model.Semester.Name
            </div>
            <ul class="nav bg-light text-dark">
                <li class="nav-item">
                    <a class="nav-link text-center" href="@Url.Action("Details", new {id = Model.Module.Id})"><i class="fas fa-chevron-left fa-fw"></i><br />zurück</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="@Url.Action("Participants", new {moduleId = Model.Module.Id, semId = Model.Semester.Id})"><i class="fas fa-users fa-fw"></i><br />Teilnehmende</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" href="@Url.Action("Selection", new {moduleId = Model.Module.Id, semId = Model.Semester.Id})"><i class="fas fa-shopping-cart fa-fw"></i><br />Lehveranstaltungen aufnehmen / löschen</a>
                </li>
            </ul>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Lehrformat</th>
                    <th>Name</th>
                    <th>Kurzname</th>
                    <th>Gruppen</th>
                    <th>Wochentag(e)</th>
                    <th>Räume</th>
                    <th>Lehrende</th>
                    <th>TN</th>
                    <th>WL</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var course in Model.Courses)
                {
                    <tr>
                        <td>@course.ModuleSubject.Name</td>
                        <td>
                            <a href="@Url.Action("Details", "Course", new {id = course.CourseSummary.Course.Id})">@course.CourseSummary.Course.Name</a>
                        </td>
                        <td>@course.CourseSummary.Course.ShortName</td>
                        <td>@Html.GroupList(course.CourseSummary.Course.SemesterGroups)</td>
                        <td>@Html.DateList(course.CourseSummary.Dates)</td>
                        <td>
                            @Html.RoomList(course.CourseSummary.Rooms)
                        </td>
                        <td>
                            @Html.LecturerList(course.CourseSummary.Lecturers)
                        </td>
                        <td>@course.CourseSummary.Course.Occurrence.Subscriptions.Count(x => !x.OnWaitingList)</td>
                        <td>@course.CourseSummary.Course.Occurrence.Subscriptions.Count(x => x.OnWaitingList)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>



