@using System.Web.UI.WebControls
@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Models
@model MyStik.TimeTable.Web.Models.CurriculumModuleCreateModel
@{
    ViewBag.Title = "Neues Modul";


    var module = ViewBag.Module as CurriculumModule;
    var subjects = module.ModuleSubjects.Where(x => x.SubjectAccreditations.Any()).ToList();

    // nur der orgAdmin
    // der curradmin nur solanghe es keine Akkreditierungen gibt
    var isEditable = ViewBag.UserRight.IsOrgAdmin || (ViewBag.UserRight.IsCurriculumAdmin && !subjects.Any());


    /*
    var db = new TimeTableDbContext();
    var modules = db.CurriculumModules.Where(x => x.Descriptions.Any(y => !string.IsNullOrEmpty(y.DescriptionEn))).ToList();


    foreach (var m in modules)
    {
        var desc = m.Descriptions.Where(x => !string.IsNullOrEmpty(x.DescriptionEn)).OrderBy(x => x.Semester.StartCourses).First();
        var copy = m.Descriptions.Where(x => string.IsNullOrEmpty(x.DescriptionEn) && x.Semester.StartCourses > desc.Semester.StartCourses).ToList();

        foreach (var cp in copy)
        {
            cp.DescriptionEn = desc.DescriptionEn;
        }
    }

    db.SaveChanges();
    */

}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Modul ändern</h4>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-2">Historie</div>
                    <div class="col-md-8">
                        @foreach (var desc in module.Descriptions.OrderBy(x => x.Semester.StartCourses))
                        {
                            <div>
                                @desc.Semester.Name
                                @if (!string.IsNullOrEmpty(desc.Description))
                                {
                                    <span>de</span>
                                }
                                @if (!string.IsNullOrEmpty(desc.DescriptionEn))
                                {
                                    <span>en</span>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">Verwendung</div>
                    <div class="col-md-8">
                        @foreach (var subject in subjects)
                        {
                            foreach (var accreditation in subject.SubjectAccreditations)
                            {
                                <div>@accreditation.Slot.FullTag</div>
                            }
                        }
                    </div>
                </div>

                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.moduleId)
                    @Html.HiddenFor(m => m.catalogId)
                    if (!isEditable)
                    {
                        @Html.HiddenFor(m => m.Tag)
                        @Html.HiddenFor(m => m.Name)
                        @Html.HiddenFor(m => m.NameEn)
                    }

                    if (isEditable)
                    {
                        <div class="row">
                            <label for="Tag" class="col-sm-2 col-form-label">Tag (muss innerhalb des Katalogs eindeutig sein)</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Tag, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <label for="Name" class="col-sm-2 col-form-label">Bezeichnung <img src="~/Assets/img/flags/de.png" /></label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <label for="NameEn" class="col-sm-2 col-form-label">Bezeichnung (englisch) <img src="~/Assets/img/flags/gb.png" /></label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.NameEn, new { @class = "form-control" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="alert alert-info">
                                    @if (subjects.Any())
                                    {
                                        <div>Das Modul wird in mindestens einem Studiengang verwendet. Korrekturen o.ä. bedingen administrative Rechte auf Ebene der Einrichtung.</div>
                                    }
                                    @if (!(ViewBag.UserRight.IsCurriculumAdmin || ViewBag.UserRight.IsOrgAdmin))
                                    {
                                        <div>Die Änderung der Namen bedingt administrative Rechte auf Ebene der Studiengänge.</div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label for="Tag" class="col-sm-2 col-form-label">Tag (muss innerhalb des Katalogs eindeutig sein)</label>
                            <div class="col-sm-10">
                                @Model.Tag
                            </div>
                        </div>
                        <div class="row">
                            <label for="Name" class="col-sm-2 col-form-label">Bezeichnung <img src="~/Assets/img/flags/de.png" /></label>
                            <div class="col-sm-10">
                                @Model.Name
                            </div>
                        </div>
                        <div class="row">
                            <label for="NameEn" class="col-sm-2 col-form-label">Bezeichnung (englisch) <img src="~/Assets/img/flags/gb.png" /></label>
                            <div class="col-sm-10">
                                @Model.NameEn
                            </div>
                        </div>
                    }

                    <div class="row">
                        <label for="Prequisites" class="col-sm-2 col-form-label">Voraussetzungen</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.Prequisites, new { @class = "form-control", rows = 5 })
                        </div>
                    </div>
                    <div class="row">
                        <label for="Applicableness" class="col-sm-2 col-form-label">Anwendbarkeit</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.Applicableness, new { @class = "form-control", rows = 5 })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i> Speichern</button>
                            <a href="@Url.Action("Details", "ModuleDescription", new { id = Model.moduleId })" class="btn btn-outline-secondary">Abbrechen</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
