@using MyStik.TimeTable.DataServices
@using MyStik.TimeTable.Web.Models
@using MyStik.TimeTable.Web.Helpers

@{

    ViewBag.Title = "Startseite";
    Layout = "~/Views/Shared/_LayoutCAP.cshtml";

    var userDb = new ApplicationDbContext();
    var semesterService = new SemesterService();
    var semester = semesterService.GetSemester(DateTime.Today);

    var activeUserToday = userDb.Users.Count(x => x.LastLogin >= DateTime.Today);
    var activeUserSemester = semester != null ?  userDb.Users.Count(x => x.LastLogin >= semester.StartCourses) : 0;
    var activeUserTotal = userDb.Users.Count(x => x.LastLogin != null);

    var activeUserTodaySSO = userDb.Users.Count(x => x.LastLogin >= DateTime.Today && x.Logins.Any());
    var activeUserSemesterSSO = semester != null ? userDb.Users.Count(x => x.LastLogin >= semester.StartCourses && x.Logins.Any()) : 0;
    var activeUserTotalSSO = userDb.Users.Count(x => x.LastLogin != null && x.Logins.Any());

}

@section styles {
    <style>
        .text-hamster {
            color: #fc5555;
        }
    </style>
}

<div class="row justify-content-center">
    <div class="col col-12">
        <div class="card mt-4">
            <div class="card-body bg-dark text-white">
                <div class="row">
                    <div class="col-md-10">
                        @*
                            <div class="row">
                                <div class="col-md-12">
                                    <img alt="Logo HM" src="~/Assets/img/cap/HM_Logo_RGB.png" class="card-img-top" />

                                </div>
                            </div>
                        *@
                        <div class="row">
                            <div class="col-md-1 col-sm-4 col-xs-6">
                                <img alt="HMster Logo" src="~/Assets/img/cap/CAP_Hamster_bw_3.png" class="card-img-bottom bg-light-subtle" />
                            </div>
                            <div class="col-md-11 col-sm-8 col-xs-6">
                                <h1 class="card-title">Willkommen bei <span class="text-hamster">HM</span><i>ster</i><span class="text-secondary fs-4"> (sprich [ˈhamstɐ])</span></h1>
                                <p class="card-text mt-3">
                                    Hier findest Du verschiedene Lösungen rund um die Organisation von Studium und Lehre.<br />
                                    Ein <span class="fw-bolder">Campus Adventure Playground </span>powered by
                                    <a class="text-light" href="https://lucx.wi.hm.edu" aria-label="Weiter zur Webseite des Labors für menschzentrierte Innovation" target="_blank">
                                        LUCX
                                    </a>
                                    , enabled by
                                    <a class="text-light" href="https://acceleratex.org" aria-label="Weiter zur Webseite von AccelerateX" target="_blank">
                                        AX
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="@Url.Action("Login","Account")" aria-label="Anmelden" class="btn btn-outline-light float-end"><i class="bi bi-door-open"></i> Anmelden</a>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item bg-light">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="row">
                                <div class="col">
                                    <a href="@Url.Action("Campus", "University")" aria-label="Weiter zu grapevine (aka NINE)" class="list-group-item list-group-item-action bg-white" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h2 class="mb-1"><i class="bi bi-broadcast"></i> Grapevine</h2>
                                            <p><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-fill text-warning"></i><i class="bi bi-star-half text-warning"></i><i class="bi bi-star text-warning"></i></p>
                                        </div>
                                        <p class="mb-1">
                                            Alle wichtigen Information rund um Studium und Lehre:
                                            <ul>
                                                <li>Studienpläne</li>
                                                <li>Vorlesungsverzeichnisse</li>
                                                <li>Aufnahmeverfahren</li>
                                                <li>Wahlverfahren</li>
                                                <li>Persönliche Stundenpläne</li>
                                                <li>Sprechstunden</li>
                                                <li>Abschlussarbeiten</li>
                                            </ul>
                                        </p>
                                        <small>weiter >></small>
                                    </a>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                    <a href="@Url.Action("Index", "Swagger")" aria-label="Weiter zur Dokumentation der API" class="list-group-item list-group-item-action bg-white" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h2 class="mb-1"><i class="bi bi-braces"></i> Morgue</h2>
                                            <p>
                                                <i class="bi bi-star-fill text-warning"></i>
                                                <i class="bi bi-star-fill text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                            </p>
                                        </div>
                                        <p class="mb-1">
                                            For developers - create your own apps using the HMster API
                                        </p>
                                        <small>weiter >></small>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-8">
                            <div class="row gx-2 gy-2">
                                <div class="col-sm-6 col-lg-6">
                                    <a href="https://hm-cap.pages.gitlab.lrz.de/products/fillter/fillter.frontend" aria-label="Weiter zur Applikation fillter" target="_blank" class="list-group-item list-group-item-action bg-white" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h2 class="mb-1" style="color: #c2185b"><i class="bi bi-filter"></i> Fillter</h2>
                                            <p>
                                                <i class="bi bi-star-half text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                            </p>
                                        </div>
                                        <p class="mb-1">Nur die wirklich relevanten Nachrichten erhalten. Die App mit den <strong>Push-Notifications</strong>.</p>
                                        <small>weiter >> <i class="bi bi-box-arrow-up-right"></i></small>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-lg-6">
                                    <a href="https://hm-cap.pages.gitlab.lrz.de/products/gym/gym.frontend" aria-label="Weiter zur Applikation gym" target="_blank" class="list-group-item list-group-item-action bg-white" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h2 class="mb-1" style="color: #3f51b5"><i class="bi bi-book"></i> Gym</h2>
                                            <p>
                                                <i class="bi bi-star-fill text-warning"></i>
                                                <i class="bi bi-star-fill text-warning"></i>
                                                <i class="bi bi-star-half text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                            </p>
                                        </div>
                                        <p class="mb-1">Lernen in der S-Bahn. Die <strong>Quiz-App</strong> für Dein Studium.</p>
                                        <small>weiter >> <i class="bi bi-box-arrow-up-right"></i></small>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-lg-6">
                                    <a href="https://hm-cap.pages.gitlab.lrz.de/products/jotter/jotter.frontend" aria-label="Weiter zur Applikation jotter" target="_blank" class="list-group-item list-group-item-action bg-white" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h2 class="mb-1" style="color: #673ab7"><i class="bi bi-journal-check"></i> Jotter</h2>
                                            <p>
                                                <i class="bi bi-star-fill text-warning"></i>
                                                <i class="bi bi-star-fill text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                            </p>
                                        </div>
                                        <p class="mb-1">Den <strong>Studienfortschritt</strong> planen und sich vom Chatbot <strong><i class="bi bi-robot"></i> Buddy</strong> beraten lassen.</p>
                                        <small>weiter >> <i class="bi bi-box-arrow-up-right"></i></small>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-lg-6">
                                    <a href="https://hm-cap.pages.gitlab.lrz.de/products/tickler/tickler.frontend" aria-label="Weiter zur Applikation tickler" target="_blank" class="list-group-item list-group-item-action bg-white" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h2 class="mb-1" style="color: #c2185b"><i class="bi bi-calendar-check"></i> Tickler</h2>
                                            <p><i class="bi bi-star-half text-warning"></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i><i class="bi bi-star text-warning"></i></p>
                                        </div>
                                        <p class="mb-1">Den Kalender im Griff haben. Vorlesungen, Übungen, <strong>Lerngruppen und private Termine</strong>.</p>
                                        <small>weiter >> <i class="bi bi-box-arrow-up-right"></i></small>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-lg-6">
                                    <a href="https://hm-cap.pages.gitlab.lrz.de/products/gallery/gallery.frontend/browser/" aria-label="Weiter zur Applikation gallery" target="_blank" class="list-group-item list-group-item-action bg-white" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h2 class="mb-1" style="color: #add8e6"><i class="bi bi-images"></i> Gallery</h2>
                                            <p>
                                                <i class="bi bi-star-fill text-warning"></i>
                                                <i class="bi bi-star-half text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                            </p>
                                        </div>
                                        <p class="mb-1">Die eigenen Werke präsentieren. <strong>Portfolios hochladen und verwalten</strong>.</p>
                                        <small>weiter >> <i class="bi bi-box-arrow-up-right"></i></small>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-lg-6">
                                    <a href="#" class="list-group-item list-group-item-action bg-white disabled" aria-label="Weiter zur Applikation jorol" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h2 class="mb-1" style="color: #004f4f"><i class="bi bi-person-rolodex"></i> Jorol</h2>
                                            <p>
                                                <i class="bi bi-star text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                                <i class="bi bi-star text-warning"></i>
                                            </p>
                                        </div>
                                        <p class="mb-1"><i>In Vorbereitung:</i> Praktikumsplätze, Firmenkontakte und mehr.</p>
                                        <small>weiter >> <i class="bi bi-box-arrow-up-right"></i></small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="alert alert-danger">
                                <h2><i class="bi bi-wrench-adjustable-circle"></i> Hinweis</h2>
                                <p>
                                    Die hier verfügbaren Anwendungen sind Bestandteile studentischer Projekte und stehen grundsätzlich allen Einrichtungen der HM zur Verfügung.
                                    Aktuell stellen folgende Fakultäten Daten bereit und haben Ansprechpartner:innen vor Ort: FK01, FK05, FK09, FK10, FK11, FK12, MUC.DAI, MUC.HEALTH.
                                </p>
                                <p>Eine kleine Statistik zur Reichweite. Angabe der Personen, die sich im jeweiligen Zeitraum angemeldet haben. In Klammern dabei die Anzahl der Personen, die dafür den HM User Account nutzen:</p>
                                <ul>
                                    <li>heute @DateTime.Today.ToShortDateString(): @activeUserToday (@activeUserTodaySSO)</li>
                                    @if (semester != null)
                                    {
                                        <lI>bisher im @semester.Name: @activeUserSemester (@activeUserSemesterSSO)</lI>
                                    }
                                    <li>insgesamt: @activeUserTotal (@activeUserTotalSSO)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="list-group-item list-group-item-action bg-dark">
                    <div class="col">
                        <div class="d-flex flex-row mb-3">
                            <a class="p-2 text-white" href="https://github.com/AccelerateX-org">HMster @Html.AssemblyVersion()</a>
                            <a class="p-2 text-white" href="@Url.Action("TermsOfUse", "Home")">@Resources.TermsOfUse</a>
                            <a class="p-2 text-white" href="@Url.Action("Imprint", "Home")">@Resources.ImprintLink</a>

                            <a class="p-2 text-white" href="@Url.Action("SetCulture", "Home", new {culture = "de"})">
                                <img alt="Language de" aria-label="Switch to language de" src="~/Assets/img/flags/de.png" />
                            </a>
                            <a class="p-2 text-white" href="@Url.Action("SetCulture", "Home", new {culture = "en"})">
                                <img alt="Language en" aria-label="Switch to language en" src="~/Assets/img/flags/gb.png" />
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

