@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.HomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutPublicNew.cshtml";
    ViewBag.Title = "Willkommen";
}

<div class="container" style="margin-top: 20px">

    <div class="row">
        <div class="col-md-12">
            <h2>Willkommen bei nine</h2>
            <h4>Informationsportal rund um den Lehrbetrieb der Fakultäten 09. 10, 11, 12 und 13</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="https://shortcut.wi.hm.edu/apps/fillter/" target="_blank" class="list-group-item">
                <h4>Wieder verfügbar</h4>
                <img src="@Url.Content("~/Assets/fillter/img/logo_fillter.svg")" style="background-color: #080808; width: 60px; padding-bottom: 7px">
                <p>Die fillter App fürs Smartphone. Als <i>progressive web app</i> - ganz ohne App Stores</p>
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h4>Diese Informationen gibt es hier</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-2 text-center">
            <h4><i class="fa fa-calendar fa-3x"></i></h4>
            <div>
                Vorlesungsverzeichnis<br>
                Veranstaltungen
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 text-center">
            <h4><i class="fa fa-university fa-3x"></i></h4>
            <div>
                Raumbelegungen<br />
                Raumsuche
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 text-center">
            <h4><i class="fa fa-user-md fa-3x"></i></h4>
            <div>
                Sprechstunden<br />
                Ansprechpartner
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 text-center">
            <h4><i class="fa fa-group fa-3x"></i></h4>
            <div>
                Fachschaften<br />
                studentische Organisationen
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 text-center">
            <h4><i class="fa fa-envelope-o fa-3x"></i></h4>
            <div>
                Newsletter<br />
                Mailverteiler<br />
                Stellenanzeigen
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 text-center">
            <h4><i class="fa fa-graduation-cap fa-3x"></i></h4>
            <div>
                Persönliche Stundenplanung
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h4>Weitere Informationen rund um das Studium auf externen Seiten</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-2 text-center">
            <a href="https://www.hm.edu/studierende/mein_studium/verlauf/termine.de.html" target="_blank" class="list-group-item">
                <h4><i class="fa fa-clock-o fa-2x"></i></h4>
                <div>
                    Fristen<br>
                    Termine
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 text-center">
            <a href="https://www.hm.edu/studierende/mein_studium/verlauf/termine.de.html" target="_blank" class="list-group-item">
                <h4><i class="fa fa-legal fa-2x"></i></h4>
                <div>
                    Studien- &<br />
                    Prüfungsordnungen
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 text-center">
            <a href="https://bib.hm.edu/" target="_blank" class="list-group-item">
                <h4><i class="fa fa-book fa-2x"></i></h4>
                <div>
                    Bibliothek
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 text-center">
            <a href="https://moodle.hm.edu/" target="_blank" class="list-group-item">
                <h4><i class="fa fa-binoculars fa-2x"></i></h4>
                <div>
                    Moodle
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 text-center">
            <a href="https://mahara.hm.edu/" target="_blank" class="list-group-item">
                <h4><i class="fa fa-briefcase fa-2x"></i></h4>
                <div>
                    Mahara
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 text-center">
            <a href="https://jobs.hm.edu/" target="_blank" class="list-group-item">
                <h4><i class="fa fa-money fa-2x"></i></h4>
                <div>
                    Hochschul-Jobbörse
                </div>
            </a>
        </div>
    </div>
    <hr/>
</div>



@section login
{
    <form class="navbar-form navbar-right" role="search" action="@Url.Action("Login", "Account")" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input name="Email" type="text" class="form-control" placeholder = "@Resources.EmailPlaceholder">
        </div>
        <div class="form-group">
            <input name="Password" type="password" class="form-control" placeholder="@Resources.PasswordPlaceholder">
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> @Resources.LoginButton</button>
        <a href="@Url.Action("Register", "Account")" class="btn btn-info"><i class="fa fa-pencil"></i> @Resources.RegisterLink</a>
    </form>            
    
}
