@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.HomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutPublicNew.cshtml";
    ViewBag.Title = "Willkommen";
}

<div class="container" style="margin-top: 20px">

    <div class="row">
        <div class="col-md-12">
            <h2>Willkommen bei nine@shortcut</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Was ist NINE?</h4>
                </div>
                <div class="panel-body">
                    <p class="text-danger">NINE ist KEIN hochschulweites System. Anfragen an die zentrale IT sind daher zwecklos.</p>
                    <p>Alle Anfragen bitte direkt an <a href="https://www.wi.hm.edu/02_fakultaet/personen/professorinnen/hinz.de.html" target="_blank">Prof. Dr.-Ing.Olav Hinz</a> stellen.</p>
                    <p>NINE ist ein Softwaresystem für die Organisation des Lehrbetriebs einer Bildungseinrichtung.</p>
                    <p>NINE ist open source. <a href="https://github.com/AccelerateX-org/NINE" target="_blank"><i class="fa fa-github"></i></a>.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Was ist shortcut?</h4>
                </div>
                <div class="panel-body">
                    <p>shortcut ist ein langfristig angelegtes Lehrprojekt.</p>
                    <p>Im Rahmen von shortcut werden open source Lösungen für digitales Lehren und Lernen erdacht, entwickelt und erprobt, z.B. das hier gerade sichtbare "NINE-System".</p>
                    <p>Andere Projekte sind wiQuiz, eine LernApp für unterwegs, JoroL, eine virtuelle JobMesse auf Basis der Unreal Game Engine.</p>
                    <p>Weitere Infos zu shortcut gibt es <a href="https://shortcut.wi.hm.edu/portal/" target="_blank">hier</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Was ist fillter?</h4>
                </div>
                <div class="panel-body">
                    <img src="@Url.Content("~/Assets/fillter/img/logo_fillter.svg")" style="background-color: #080808; width: 40px; padding-bottom: 7px">
                    <p>fillter ist die App zu NINE.</p>
                    <p>fillter ist eine "Progressive Web App", kommt also ohne App-Stores aus und ist trotzdem "native".</p>
                    <p>Die App gibt es <a href="https://shortcut.wi.hm.edu/apps/fillter/" target="_blank">hier</a></p>
                </div>
            </div>
        </div>
    </div>
</div>



@section login
{
    <form class="navbar-form navbar-right" role="search" action="@Url.Action("Login", "Account")" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input name="Email" type="text" class="form-control" placeholder="@Resources.EmailPlaceholder">
        </div>
        <div class="form-group">
            <input name="Password" type="password" class="form-control" placeholder="@Resources.PasswordPlaceholder">
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> @Resources.LoginButton</button>
        <a href="@Url.Action("Register", "Account")" class="btn btn-info"><i class="fa fa-pencil"></i> @Resources.RegisterLink</a>
    </form>

}
