@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.HomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutPublicNew.cshtml";
    ViewBag.Title = "Willkommen";
}

<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-12">
            <h3>Willkommen bei nine</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-book"></i> Vorlesungsverzeichnisse</h4>
                        </div>
                        <div class="list-group">
                            @foreach (var sem in Model.ActiveSemester)
                            {
                                <a href="@Url.Action("Semester", new {id=sem.Semester.Id})" class="list-group-item">
                                    <h5 class="list-group-item-heading"><strong>@sem.Semester.Name</strong></h5>
                                    <p class="list-group-item-text">
                                        @foreach (var organiser in sem.Organisers.OrderBy(x => x.ShortName))
                                        {
                                            @Html.FacultyLabel(organiser)
                                        }

                                    </p>
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-link"></i> Ein paar wichtige Links (HM)</h4>
                        </div>
                        <div class="list-group">
                            <a class="list-group-item" href="https://www.hm.edu/studierende/mein_studium/verlauf/termine.de.html" target="_blank">Fristen und Termine</a>
                            <a class="list-group-item" href="https://moodle.hm.edu/" target="_blank">Moodle</a>
                            <a class="list-group-item" href="https://mahara.hm.edu/" target="_blank">Mahara</a>
                            <a class="list-group-item" href="https://bib.hm.edu/" target="_blank">Bibliothek</a>
                            <a class="list-group-item" href="http://jobs.hm.edu/" target="_blank">
                                <div class="list-group-item-heading">Hochschul-Jobbörse</div>
                            </a>
                            <a class="list-group-item" href="https://www.hm.edu/studierende/mein_studium/recht/verordnungen_satzungen.de.html" target="_blank">
                                <div class="list-group-item-heading">Studien- & Prüfungsordnungen</div>
                                <div class="list-group-item-text">Die Studienpläne finden sich auf den Webseiten der einzelnen Fakultäten / Studiengänge</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-info"></i> Ein paar Infos zum System</h4>
                        </div>
                        <div class="panel-body">
                            <ul class="fa-ul">
                                <li><i class="fa fa-li fa-user-o"></i>@Model.Students Studierende</li>
                                <li><i class="fa fa-li fa-user-md"></i>@Model.Lecturers Lehrende</li>
                                <li><i class="fa fa-li fa-book"></i>@Model.Curricula Studiengänge</li>
                                <li><i class="fa fa-li fa-building-o"></i>@Model.Rooms Räume</li>
                            </ul>
                        </div>
                    </div>
                </div>



            </div>
            <div class="row">
                <hr/>
                <div class="col-md-12">
                    <ul class="list-inline">
                        <li>
                            <img src="@Url.Content("~/Assets/fillter/img/logo_fillter.svg")" style="background-color: #080808; width: 40px; padding-bottom: 5px">
                        </li>
                        <li>
                            <a href='https://play.google.com/store/apps/details?id=de.fillter2&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                <img alt='Get it on Google Play'
                                     src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'
                                     style="height: 65px"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://itunes.apple.com/us/app/fillter/id1203686910">
                                <img alt="Get it on AppStore"
                                     src="@Url.Content("~/Assets/fillter/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg")"
                                     style="height: 45px"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
                </div>
            </div>
</div>


@section login
{
    <form class="navbar-form navbar-right" role="search" action="@Url.Action("Login", "Account")" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input name="Email" type="text" class="form-control" placeholder = "@Resources.EmailPlaceholder">
        </div>
        <div class="form-group">
            <input name="Password" type="password" class="form-control" placeholder="@Resources.PasswordPlaceholder">
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> @Resources.LoginButton</button>
        <a href="@Url.Action("Register", "Account")" class="btn btn-info"><i class="fa fa-pencil"></i> @Resources.RegisterLink</a>
    </form>            
    
}
