@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.HomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutPublicNew.cshtml";
    ViewBag.Title = "Willkommen";
}

<div class="container" style="margin-top: 20px">

    <div class="row">
        <div class="col-md-12">
            <h5 class="text-muted"><strong>n</strong>o <strong>i</strong>nformation <strong>n</strong>o <strong>e</strong>ducation</h5>
            <h3>Informationsdienste rund um Studium und Lehre</h3>
            <h5>Ein Studierenden- und Lehrprojekt<br/>hosted by <a href="https://shortcut.wi.hm.edu" target="_blank">shortcut</a><br/>powered by <a href="https://acceleratex.org" target="_blank">AccelerateX</a></h5>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-star"></i> Die wichtigsten Funktionen</h5>
                </div>
                <div class="panel-body">
                    <ul class="fa-ul">
                        <li><i class="fa fa-li fa-book"></i><a href="@Url.Action("Index", "Schedule")">Vorlesungsverzeichnisse</a>, Modulhandbücher</li>
                        <li><i class="fa fa-li fa-random"></i>Wahlverfahren</li>
                        <li><i class="fa fa-li fa-pencil"></i>Zusammenstellung des persönlichen Stundenplans</li>
                        <li><i class="fa fa-li fa-user-md"></i>Buchung von Sprechstundenterminen</li>
                        <li><i class="fa fa-li fa-industry"></i>Praxissemester, Abschlussarbeit, Alumni, Kontakte</li>
                        <li><i class="fa fa-li fa-tablet"></i><a href="https://shortcut.wi.hm.edu/apps/fillter/" target="_blank">Die fillter App</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-users"></i> Kooperationspartner</h5>
                </div>
                <div class="panel-body">
                    <ul class="fa-ul">
                        <li><i class="fa fa-li fa-file-text-o"></i>Fachkonzepte und fachliche Betreuung: Fakultäten 09, 10, 11, 12 und 13</li>
                        <li><i class="fa fa-li fa-server"></i>Technische Infrastruktur und technischer Betrieb: Fakultät 09</li>
                    </ul>
                    <p>Interesse geweckt? <a href="https://www.wi.hm.edu/02_fakultaet/personen/professorinnen/hinz.de.html" target="_blank">Kontakt aufnehmen</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-envelope"></i> Kontakt</h5>
                </div>
                <div class="panel-body">
                    <ul class="fa-ul">
                        <li><i class="fa fa-li fa-user-circle"></i> Ansprechpartner: <a href="https://www.wi.hm.edu/02_fakultaet/personen/professorinnen/hinz.de.html" target="_blank">Prof. Dr.-Ing.Olav Hinz</a></li>
                        <li><i class="fa fa-li fa-github"></i><a href="https://github.com/AccelerateX-org/NINE" target="_blank">nine ist open source.</a>.</li>
                    </ul>
                    <div class="alert alert-danger">
                        <p><strong>Wichtiger Hinweis:</strong><br/>nine ist KEIN hochschulweites System. Anfragen an die zentrale IT sind daher zwecklos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section login
{
    <form class="navbar-form navbar-right" role="search" action="@Url.Action("Login", "Account")" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input name="Email" type="text" class="form-control" placeholder="@Resources.EmailPlaceholder">
        </div>
        <div class="form-group">
            <input name="Password" type="password" class="form-control" placeholder="@Resources.PasswordPlaceholder">
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> @Resources.LoginButton</button>
        <a href="@Url.Action("Register", "Account")" class="btn btn-info"><i class="fa fa-pencil"></i> @Resources.RegisterLink</a>
    </form>

}

