@model MyStik.TimeTable.Web.Models.SupervisionAcceptModel
@{
    ViewBag.Title = "Anfrage bearbeiten";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Anfrage Betreuung Abschlussarbeit</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Anfrage von @Model.User.FullName (@Model.Curriculum.ShortName) <a href="mailto:@Model.User.Email" class="btn btn-default"><i class="fa fa-envelope"></i> E-Mail senden</a></h4>
                </div>
                <div class="panel-body">
                    <h5>Betreuungsangebot: @Model.Request.Supervision.Name</h5>
                    <p>@Html.Raw(Model.Request.Subscription.SubscriberRemark)</p>


                    <div class="alert alert-info">
                        <h5>Hinweise</h5>
                        <ul>
                            <li>Nach der Ausgabe des Themas werden alle Betreuungsanfragen automatisch gelöscht.</li>
                            <li>Das aktuelle Tagesdatum wird als Tag der Themenausgabe automatisch gespeichert.</li>
                            <li>Das Abgabedatum wird automatisch auf Basis des angegebenen Studiengangs ermittelt und automatisch gespeichert.</li>
                            <li>Die Prüfung etwaiger Vorbedingungen für die Ausgabe eines Themas ist kein Bestandteil von NINE.</li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-primary" href="@Url.Action("Issue", "Thesis", new {id=Model.Request.Subscription.Id})"><i class="fa fa-check"></i> Betreuung annehmen und Thema ausgeben</a>
                        <a class="btn btn-danger disabled" href="@Url.Action("RejectRequest", "Subscription")"><i class="fa fa-times"></i> Betreuung ablehnen</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Weitere parallel laufende Anfragen</h4>
                </div>
                <div class="list-group">

                </div>
            </div>
        </div>
    </div>
</div>
