@model MyStik.TimeTable.Web.Models.SupervisionRequestModel
@{
    ViewBag.Title = "Anfrage Betreuung";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Anfrage Betreuung Abschlussarbeit</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Meine Anfrage</h4>
                </div>
                <div class="panel-body">
                    <div class="alert alert-info">
                        <h4>@Model.Supervision.Name</h4>
                        <p>@Html.Raw(Model.Supervision.Description)</p>
                        <p>Betreuung: <strong>@Model.Supervision.Owners.First().Member.Name</strong></p>
                    </div>
                    <div class="alert alert-warning">
                        <h4>Meine Anfragetext</h4>
                        <p>@Html.Raw(Model.Subscription.SubscriberRemark)</p>
                    </div>
                    <div class="btn-group">
                        <a href="@Url.Action("Index", "Dashboard")" class="btn btn-default">zurück zur Startseite</a>
                        <a href="@Url.Action("EditRequest", new {id=Model.Subscription.Id})" class="btn btn-default">Anfrage ändern</a>
                        <a href="@Url.Action("WithdrawRequest", new {id=Model.Subscription.Id})" class="btn btn-danger">Anfrage zurückziehen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

