@model MyStik.TimeTable.Web.Models.OrganiserViewModel
@{
    ViewBag.Title = "Lehrende " + Model.Organiser.ShortName;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Lehrende @Model.Organiser.ShortName</h1>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-address-card-o"></i> Mitglieder <small>Alle, die der Fakultät angehören</small>
                    </h4>
                </div>
                <div class="list-group">
                    <a href="@Url.Action("List", "OrganiserMembers")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-list"></i> Als Datentabelle
                        </h5>
                        <p class="list-group-item-text">
                            Datentabelle zum Suchen
                        </p>
                    </a>
                    <a href="@Url.Action("Roles", "OrganiserMembers")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-user-md"></i> Nach Rollen
                        </h5>
                        <p class="list-group-item-text">
                            Profs, LBs, MAs, etc.
                        </p>
                    </a>
                    <a href="@Url.Action("Responsibilities", "OrganiserMembers")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-user-md"></i> Nach Verantwortungsbereichen
                        </h5>
                        <p class="list-group-item-text">
                            Ansprechpartner für Studierende, z.B. Praktikumsbetreuung, Studienfachberatung
                        </p>
                    </a>

                    <a href="@Url.Action("Today", "OrganiserMembers")" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-coffee"></i> Heute aktiv
                        </h5>
                        <p class="list-group-item-text">
                            Wen kann ich heute erreichen?
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-microphone"></i> Dozentinnen und Dozenten <small>Alle, die in Lehrveranstaltungen der Fakultät aktiv sind</small>
                    </h4>
                </div>
                <div class="list-group">
                    @if (Model.PreviousSemester != null)
                    {
                        <a href="@Url.Action("Active", "OrganiserMembers", new {id=Model.PreviousSemester.Id})" class="list-group-item">
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-fw fa-backward"></i> Letztes Semester (@Model.PreviousSemester.Name)
                            </h5>
                            <p class="list-group-item-text"></p>
                        </a>
                    }
                    <a href="@Url.Action("Active", "OrganiserMembers", new {id=Model.Semester.Id})" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            <i class="fa fa-fw fa-pause"></i> Aktuelles Semester (@Model.Semester.Name)
                        </h5>
                        <p class="list-group-item-text"></p>
                    </a>
                    @if (Model.NextSemester != null)
                    {
                        <a href="@Url.Action("Active", "OrganiserMembers", new {id = Model.NextSemester.Id})" class="list-group-item">
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-fw fa-forward"></i> Nächstes Semester (@Model.NextSemester.Name)
                            </h5>
                            <p class="list-group-item-text"></p>
                        </a>
                    }
                </div>
            </div>
        </div>

        @if (ViewBag.UserRight.IsMemberAdmin)
        {
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>
                            <i class="fa fa-cogs"></i> Verwaltung
                        </h4>
                    </div>
                    <div class="list-group">
                        <a href="@Url.Action("CreateMember", "Organiser")" class="list-group-item">
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-fw fa-plus"></i> Lehrenden anlegen
                            </h5>
                            <p class="list-group-item-text">

                            </p>
                        </a>
                        <a href="@Url.Action("MoveDates", "OrganiserMembers")" class="list-group-item">
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-fw fa-handshake-o"></i> Termine übertragen
                            </h5>
                            <p class="list-group-item-text">
                                Bei Ausfall, Organisation von "Importen"
                            </p>
                        </a>
                        <a href="@Url.Action("Manage", "OrganiserMembers")" class="list-group-item">
                            <h5 class="list-group-item-heading">
                                <i class="fa fa-fw fa-trash-o"></i> Bereinigen
                            </h5>
                            <p class="list-group-item-text">
                                Inaktive oder ausgeschiedene Lehrende löschen
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

