@model MyStik.TimeTable.Web.Models.OrganiserViewModel
@{
    ViewBag.Title = "Lehrende " + Model.Organiser.ShortName;
}

@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <h4>Lehrende in @Model.Organiser.ShortName</h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">

                        <a href="@Url.Action("Today")" class="btn btn-outline-primary">
                            <i class="fa fa-coffee"></i> heute da
                        </a>
                        <a href="@Url.Action("Active")" class="btn btn-outline-primary">
                            <i class="fa fa-microphone"></i> Aktiv im @Model.Semester.Name
                        </a>
                        @if (ViewBag.UserRight.IsMemberAdmin)
                        {
                            <a href="@Url.Action("CreateMember", "Organiser", new {id = Model.Organiser.Id})" class="btn btn-outline-primary">
                                <i class="fa fa-plus-circle"></i> Lehrenden anlegen
                            </a>
                        }
                    </div>
                </div>
            </div>


            <table id="tabMembers" class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th><i class="fa fa-user"></i></th>
                    <th>Titel</th>
                    <th>Vorname</th>
                    <th>Name</th>
                    <th>Rolle</th>
                    <th>ID</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Members)
                {
                    if (item.User != null)
                    {
                        <tr>
                            <td></td>
                            @if (item.IsDouble)
                            {
                                <td><i class="fa fa-check text-danger"></i><span hidden="">2</span>Doppelter Benutzername</td>
                            }
                            else
                            {
                                <td><i class="fa fa-check text-success"></i><span hidden="">1</span></td>
                            }
                            <td>@item.Member.Title</td>
                            <td>@item.User.FirstName</td>
                            <td><a href="@Url.Action("MemberAdmin", "Organiser", new {id=item.Member.Id})">  @item.User.LastName</a></td>
                            <td>@item.Member.Role</td>
                            <td>@item.Member.ShortName</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td><i class="fa fa-times text-danger"></i><span hidden="">0</span></td>
                            <td>@item.Member.Title</td>
                            <td><i>@item.Member.FirstName</i></td>
                            <td><a href="@Url.Action("MemberAdmin", "Organiser", new {id=item.Member.Id})">  @item.Member.Name</a></td>
                            <td>@item.Member.Role</td>
                            <td>@item.Member.ShortName</td>

                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        var t = $('#tabMembers').DataTable({
            "paging": false,
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "order": [[4, 'asc']]
        });

        t.on('order.dt search.dt', function () {
            t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    </script>
}
