@using MyStik.TimeTable.Web.Helpers
@model MyStik.TimeTable.Web.Models.OrganiserViewModel
@{
    ViewBag.Title = "Lehrende " + Model.Organiser.ShortName;
}

@section styles
{
    <link href="@Url.Content("~/Assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
}


<div class="panel panel-default">
    <div class="panel-body bg-fillter-lecturer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Lehrende @Model.Organiser.ShortName</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default panel-menu">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <a href="@Url.Action("Index")" class="btn btn-default">
                                <i class="fa fa-arrow-left"></i> zurück
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-user-o"></i> Wer ist heute in einer Lehrveranstaltung aktiv?  
                    </h4>
                </div>
                <div class="panel-body">
                    <table id="tabMembers" class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Kurzname</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Members)
                            {
                                <tr>
                                    <td>@item.Member.ShortName</td>
                                    @if (string.IsNullOrEmpty(item.Member.Name))
                                    {
                                        <td>
                                            @Html.ActionLink("N.N.", "MemberAdmin", "Organiser", new { id = item.Member.Id }, null)
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.ActionLink(item.Member.Name, "MemberAdmin", "Organiser", new { id = item.Member.Id }, null)
                                        </td>
                                    }
                                    <td>
                                        @if (ViewBag.UserRight.IsOrgMember)
                                        {
                                            <a href="@Url.Action("Calendar", "Lecturer", new {id = item.Member.Id})" class="btn btn-default btn-xs"><i class="fa fa-calendar-o"></i> Plan</a>

                                            if (ViewBag.UserRight.IsMemberAdmin)
                                            {
                                                @Html.ActionButton("fa-pencil text-primary", "Ändern", "EditMember", "Organiser", new { id = item.Member.Id }, new { @class = "btn btn-default btn-xs" })
                                                @Html.ActionButton("fa-trash-o text-danger", "Löschen", "DeleteMember", "Organiser", new { id = item.Member.Id }, new { @class = "btn btn-default btn-xs" })
                                            }
                                        }
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Assets/global/scripts/datatable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $('#tabMembers').DataTable();
        });
    </script>
}
