@using MyStik.TimeTable.Data
@using MyStik.TimeTable.Web.Models

@{
    ViewBag.Title = "Startseite";
}

@section styles
{
}

<div class="row" style="margin-bottom: 20px">
    <div class="col-sm-6 col-md-3">
        <div class="card border-secondary">
            <div class="card-body">
                <h5 class="card-title text-center">
                    <i class="fas fa-2x fa-calendar-alt"></i><br />
                    Infrastruktur
                </h5>
            </div>
            <div class="list-group">
                <a href="@Url.Action("Index", "Semester", new {area="Admin"})" class="list-group-item list-group-item-action">Semester</a>
                <a href="@Url.Action("Index", "Organiser", new {area="Admin"})" class="list-group-item list-group-item-action">Einrichtungen</a>
                <a href="@Url.Action("Index", "Room", new {area="Admin"})" class="list-group-item list-group-item-action">Räume</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card border-secondary">
            <div class="card-body">
                <h5 class="card-title text-center">
                    <i class="fas fa-2x fa-calendar-alt"></i><br />
                    System
                </h5>
            </div>
            <div class="list-group">
                <a href="@Url.Action("Index", "User", new {area="Admin"})" class="list-group-item list-group-item-action">Benutzer</a>
                <a href="@Url.Action("Index", "Hangfire", new {area=""})" class="list-group-item list-group-item-action">Jobverwaltung</a>
                <a href="@Url.Action("Index", "Logging", new {area="Admin"})" class="list-group-item list-group-item-action">Logs</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card border-secondary">
            <div class="card-body">
                <h5 class="card-title text-center">
                    <i class="fas fa-2x fa-calendar-alt"></i><br />
                    Datenpflege
                </h5>
            </div>
            <div class="list-group">
                <a href="@Url.Action("Index", "Change", new {area="Admin"})" class="list-group-item list-group-item-action">Änderungen</a>
                <a href="@Url.Action("Index", "OfficeHour", new {area=""})" class="list-group-item list-group-item-action">Sprechstunden</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card border-secondary">
            <div class="card-body">
                <h5 class="card-title text-center">
                    <i class="fas fa-2x fa-calendar-alt"></i><br />
                    Systemkonfiguration
                </h5>
            </div>
            <div class="list-group">
            </div>
        </div>
    </div>
</div>
