@model MyStik.TimeTable.Web.Models.SemesterImportModel
@{
    ViewBag.Title = "Upload";
}



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Import von Stundenplandaten aus Untis für @Model.Organiser.ShortName und Semester @Model.Semester.Name (@Model.BeginImport.ToShortDateString() - @Model.EndImport.ToShortDateString())</h4>
                <h5 class="card-title"><i class="bi bi-files"></i> Schritt 2 von 3: Auswahl Dateien</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        @using (Html.BeginForm("Upload", null, FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal"}))
                        {
                            <fieldset>
                                @Html.HiddenFor(m => m.OrganiserId)
                                @Html.HiddenFor(m => m.SemesterId)
                                @Html.HiddenFor(m => m.FirstDate)
                                @Html.HiddenFor(m => m.LastDate)
                                @Html.HiddenFor(m => m.BeginImport)
                                @Html.HiddenFor(m => m.EndImport)
                                @Html.HiddenFor(m => m.FirstDateYYYYMMDD)
                                @Html.HiddenFor(m => m.LastDateYYYYMMDD)
                                <div class="row">
                                    <label class="col-md-4 form-label">Unterricht (GPU001.TXT)</label>
                                    <div class="col-md-8">
                                        <div class="mb-3">
                                            <input class="form-control" type="file" name="Attachments" id="Attachment1">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-4 form-label">Unterricht (GPU002.TXT)</label>
                                    <div class="col-md-8">
                                        <input type="text" readonly class="form-control-plaintext" value="Muss nicht import werden">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-4 form-label">Klassen (GPU003.TXT)</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="file" name="Attachments" id="Attachment2">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-4 form-label">Dozenten (GPU004.TXT)</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="file" name="Attachments" id="Attachment3">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-4 form-label">Räume (GPU005.TXT)</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="file" name="Attachments" id="Attachment4">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-4 form-label">Fächer (GPU006.TXT)</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="file" name="Attachments" id="Attachment5">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-4 form-label">Zeitwünsche der Elemente (GPU016.TXT)</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="file" name="Attachments" id="Attachment6">
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <label class="col-md-4 form-label">Zuordnung Tage</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="file" name="AttachmentDays" id="Attachment7">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-4 form-label">Zuordnung Stunden</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="file" name="AttachmentHours" id="Attachment8">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-4 form-label">Zuordnung Semestergruppen</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="file" name="AttachmentGroups" id="Attachment9">
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="offset-4 col-md-8">
                                        <button type="submit" class="btn btn-outline-primary"><i class="bi bi-chevron-right"></i> Weiter</button>
                                    </div>
                                </div>
                            </fieldset>
                        }
                            
                    </div>
                    <div class="col-md-4">
                        <h4>Hinweise</h4>
                        <ul>
                            <li>Die Untis-Dateien müssen exakt so heissen, sonst kommt es zu Fehlern</li>
                            <li>Die Untis-Dateien müssen ";"-getrennt sein</li>
                            <li>Die CSV-Dateien können beliebige Namen haben, werden beim Upload umbenannt.</li>
                            <li>Die CSV-Dateien müssen ";"-getrennt sein</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




