@model MyStik.TimeTable.Data.CoursePlan
<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Studienplan ändern</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-university"></i>Auswahlmöglichkeiten
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">

                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <fieldset>
                        @Html.HiddenFor(m => m.Id)
                        <form class="form-horizontal">
                            @Html.HiddenFor(model => model.Id)
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name, new {@class = "col-sm-3 control-label"})
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Name, new {@class = "form-control", placeholder = "Name"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Description, new {@class = "col-sm-3 control-label"})
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.Description, new {@class = "form-control", placeholder = "Beschreibung"})
                                </div>
                            </div>
                            <div class="form-group">
                                        <label>
                                            @Html.CheckBoxFor(model => model.IsFavorit)
                                            Diesen Plan als Favoriten festlegen
                                        </label>
                                    </div>
                            <input type="submit" value="Bestätigen" class="btn btn-primary btn-lg btn-block"/>
                        </form>
                </fieldset>
                }

            </div>
        </div>
    </div>
</div>