@model MyStik.TimeTable.Data.Curriculum


<a href="@Url.Action("AddAlias", new {id = Model.Id})">Alias hinzufügen</a>

<table class="table table-condensed">
    <thead>
    <tr>
        <th>Aliasname (=GpUntis Name)</th>
        <th>Curriculumsgruppe [Semestergruppenzusatz]</th>
        <th></th>
    </tr>
    </thead>

    @foreach (var alias in Model.GroupAliases)
    {
        <tr>
            <td>@alias.Name</td>
            <td>
                @foreach (var tpl in alias.GroupTemplates)
                {
                    if (Model.CurriculumGroups.Count(g => g.Name.Equals(tpl.CurriculumGroupName)) == 1)
                    {
                        <div>@tpl.CurriculumGroupName [@tpl.SemesterGroupName]</div>
                    }
                    else
                    {
                        <div>Fehler bei: @tpl.CurriculumGroupName [@tpl.SemesterGroupName]</div>
                    }

                }
            </td>
            <td><a href="@Url.Action("AddTemplate", new {id = alias.Id})">Zuordnung hinzufügen</a></td>
        </tr>
    }

</table>