@using MyStik.TimeTable.Data
@model MyStik.TimeTable.Web.Models.CurriculumViewModel

@{
    var db = new TimeTableDbContext();
    var optionsSelected = new List<AreaOption>();

    foreach (var area in Model.Areas)
    {
        optionsSelected.Add(area.Option);
    }

    var allSlots = db.CurriculumSlots.Where(x =>
        x.AreaOption != null && x.AreaOption.Area.Curriculum.Id == Model.Curriculum.Id).ToList();

    var minSem = allSlots.Min(x => x.Semester);
    var maxSem = allSlots.Max(x => x.Semester);

    var allOptions = db.AreaOptions.Where(x => x.Area.Curriculum.Id == Model.Curriculum.Id).ToList();

    for (var s = minSem; s <= maxSem; s++)
    {
        var semSlots = allSlots.Where(x => x.Semester == s).ToList();
        <div class="row">
            <div class="col-md-2">
                <h5>Semester @s</h5>
            </div>
            <div class="col-md-10">
                @foreach (var slot in semSlots)
                {
                    var showSlot = false;
                    var inOptionArea = Model.Areas.Count(x => x.Area.Id == slot.AreaOption.Area.Id);

                    if (inOptionArea == 0)
                    {
                        showSlot = true;
                    }
                    else
                    {
                        var inSelectedOption = optionsSelected.Count(x => x.Id == slot.AreaOption.Id);
                        if (inSelectedOption > 0)
                        {
                            showSlot = true;
                        }
                    }
                    if (showSlot)
                    {
                        var w = (int)(slot.ECTS / 30 * 100);
                        <a class="btn btn-outline-secondary slot text-truncate" style="width: @w%" href="@Url.Action("SlotDetails", new { id = slot.Id })">
                            <strong>@slot.Tag</strong> <span class="badge bg-secondary">@slot.ModuleAccreditations.Count</span>
                            <br />
                            @if (slot.AreaOption.Area.Options.Count() > 1)
                            {
                                <small>@slot.Name (@slot.AreaOption.Tag)</small>
                            }
                            else
                            {
                                <small>@slot.Name</small>
                            }
                        </a>
                    }

                }
            </div>
        </div>
    }
}
