@model MyStik.TimeTable.Data.CurriculumSlot


    @foreach (var module in Model.ModuleAccreditations)
    {
            <div class="list-group-item">
                <div class="row">
                    <div class="col-md-10">
                        <a href="@Url.Action("Details", "ModuleDescription", new { id = module.Module.Id })">
                            <h5>
                                Modul: @module.Module.Name (@module.Module.Tag)
                            </h5>
                        </a>
                        <div class="row">
                            <div class="col-md-6">
                                @foreach (var subject in module.Module.ModuleSubjects)
                                {
                                    <div class="ms-3">@subject.Name (@subject.Tag) <span class="badge bg-secondary">@subject.TeachingFormat.Tag</span> <span class="badge bg-secondary">@subject.SWS SWS</span></div>
                                }

                            </div>
                            <div class="col-md-6">
                                @foreach (var option in module.Module.ExaminationOptions)
                                {
                                    <div class="ms-3">
                                        @option.Name:
                                        @foreach (var fraction in option.Fractions)
                                        {
                                            if (fraction.MinDuration > 0)
                                            {
                                                var str = string.Format("{0} {1} Minuten {2:P}. ", fraction.Form.ShortName, fraction.MinDuration, fraction.Weight);
                                                @str
                                            }
                                            else
                                            {
                                                var str = string.Format("{0} {1:P}. ", fraction.Form.ShortName, fraction.Weight);
                                                @str
                                            }
                                        }


                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.UserRight.IsCurriculumAdmin)
                    {
                        <div class="col-md-2">
                            <a class="btn btn-outline-danger" href="@Url.Action("DeleteAccredition", new { id = module.Id })">
                                <i class="bi-trash"></i> Löschen
                            </a>
                            <div>
                                Anzahl Prüfungsangebote: @module.ExaminationDescriptions.Count()
                                Anzahl Lehrangebote: @module.TeachingDescriptions.Count()
                            </div>
                        </div>
                    }
                    </div>
            </div>
    }

