@model MyStik.TimeTable.Data.CertificateSubject
@{
    ViewBag.Title = "Modul";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Teilmodul - @Model.Name</h1>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.UserRight.IsOrgMember)
{
    <div class="panel panel-default panel-menu">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            @if (ViewBag.UserRight.IsCurriculumAdmin)
                            {
                                <div class="form-group">
                                    <a href="@Url.Action("ModuleDetails", new {id = Model.CertificateModule.Id})" class="btn btn-default">
                                        <i class="fa fa-arrow-left"></i> Zurück
                                    </a>
                                </div>
                                <div class="form-group">
                                    <a href="@Url.Action("EditSubject", new {id = Model.Id})" class="btn btn-default">
                                        <i class="fa fa-cogs"></i> Einstellungen
                                    </a>
                                </div>
                                <div class="form-group">
                                    <a href="@Url.Action("DeleteSubject", new {id = Model.Id})" class="btn btn-danger">
                                        <i class="fa fa-trash"></i> Teilmodul löschen
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Akkreditierte Inhaltsmodule ("Fächer")</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Pflicht</th>
                                <th>Akkreditierte Inhaltsmodule</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var modul in Model.ContentModules)
                            {
                                <tr>
                                    <td><a href="@Url.Action("AdminContentModule", new {id=modul.Id})">@modul.Number</a></td>
                                    <td>@modul.IsMandatory</td>
                                    @if (modul.TeachingBuildingBlock != null)
                                    {
                                        <td>@modul.TeachingBuildingBlock.Name</td>
                                    }
                                    else
                                    {
                                        <td>Kein akkreditiertes Modul</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

