@model MyStik.TimeTable.Data.Curriculum
@{
    ViewBag.Title = "Studiengang";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">

                        <h4>Verwaltung Studiengang @Model.Name (@Model.ShortName)</h4>
                        <h5 class="card-subtitle">
                            <a href="@Url.Action("Index", "Curricula")">HM</a>
                            |
                            <a href="@Url.Action("Index", "Curricula", new { id = Model.Organiser.Id })">
                                @Model.Organiser.Name (@Model.Organiser.ShortName)
                            </a>
                        </h5>
                    </div>
                    <div class="col-md-2">
                        @if (ViewBag.UserRight.IsCurriculumAdmin)
                        {
                            <div class="d-md-flex justify-content-md-end">
                                <a href="@Url.Action("Details", new {id = Model.Id})" class="btn btn-outline-primary">
                                    <i class="bi-window"></i> Ansicht
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="list-group">
                            <div class="list-group-item list-group-item-dark">
                                <h5>Allgemeines</h5>
                            </div>
                            <a href="@Url.Action("Edit", "Curriculum", new {id = Model.Id})" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Einstellungen</h5>
                                </div>
                                <p class="mb-1">Bezeichnungen, Dauer Abschlussarbeit, Wird angeboten ja/nein</p>
                            </a>
                            <a href="@Url.Action("Labels", "Curriculum", new {id = Model.Id})" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Etiketten</h5>
                                </div>
                                <p class="mb-1">Aufkleber für Studiengruppen A, B, etc., Studienrichtungen, Sprache, Studienmodell usw.</p>
                            </a>
                            <a href="@Url.Action("GroupList", "Curricula", new { id = Model.Id })" class="list-group-item list-group-item-action list-group-item-warning" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Studien- und Kapazitätsgruppen</h5>
                                </div>
                                <p class="mb-1">VERALTET: Erstellung, Löschen. Sind die Grundlagen für die Semestergruppen. Die Daten werden beim Import der Datei "curriculum.csv" benötigt.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="list-group">
                            <div class="list-group-item list-group-item-dark">
                                <h5>Aufbau</h5>
                            </div>
                            <a href="@Url.Action("Areas", "Curriculum", new { id = Model.Id })" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Struktur nach Themengebieten</h5>
                                </div>
                                <p class="mb-1">Themengebiete mit Alternativangeboten.</p>
                            </a>
                        @*
                            <a href="@Url.Action("ImportMoveAccr", "Curriculum", new { id = Model.Id })" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">HACK: Move Slots</h5>
                                </div>
                                <p class="mb-1">Module von MABI nach MABW verschieben.</p>
                            </a>
                            *@
                            <a href="@Url.Action("ImportAccreditations", "Curriculum", new { id = Model.Id })" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Import Modulakkreditierungen</h5>
                                </div>
                                <p class="mb-1">Verknüpfung zwischen den Modulen der Modulkataloge und dem Modulplan.</p>
                            </a>
                            <a href="@Url.Action("Opportunities", "Curriculum", new { id = Model.Id })" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Import Lehrangebot eines Semesters</h5>
                                </div>
                                <p class="mb-1">Verknüpfung zwischen den importierten Lehrveranstaltungen und den Fächern eines Moduls.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="list-group">
                            <div class="list-group-item list-group-item-dark">
                                <h5>Listen</h5>
                            </div>
                            <a href="@Url.Action("Students", new {id = Model.Id})" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Studierende</h5>
                                </div>
                                <p class="mb-1">Liste aller Studierender (inkl. Alumni)</p>
                            </a>
                            <a href="@Url.Action("ExaminationList", "Curriculum", new { id = Model.Id })" class="list-group-item list-group-item-action disabled" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Prüfungsliste</h5>
                                </div>
                                <p class="mb-1">Liste für ein Semester alle Prüfungsangebote aller in diesem Studiengang akkreditierten Module auf.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


