@model MyStik.TimeTable.Data.Curriculum
@{
    ViewBag.Title = "Themengebiete";
}


@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Details", "Curriculum", new {id=Model.Id})">@Model.ShortName</a></li>
                <li class="breadcrumb-item active" aria-current="page">Themenbereiche</li>
            </ol>
        </nav>

        <div class="card">
            <div class="list-group">
                @if (ViewBag.UserRight.IsCurriculumAdmin)
                {

                    <div class="list-group-item">
                        <div class="btn-group">
                            <a href="@Url.Action("MoveSlots", "Curriculum", new { id = Model.Id })" class="btn btn-outline-primary">
                                <i class="bi bi-list-check"></i> Zusammensetzung
                            </a>
                            <a href="@Url.Action("CreateArea", "Curriculum", new { id = Model.Id })" class="btn btn-outline-primary">
                                <i class="bi bi-plus"></i> Neuer Themenbereich
                            </a>
                            <a href="@Url.Action("ImportAreas", "Curriculum", new { id = Model.Id })" class="btn btn-outline-primary">
                                <i class="bi bi-upload"></i> Import Struktur
                            </a>
                            <a href="@Url.Action("AllSlots", "Curriculum", new { id = Model.Id })" class="btn btn-outline-primary">
                                <i class="bi bi-list"></i> Alle Slots
                            </a>
                            <a href="@Url.Action("DeleteModulePlan", "Curriculum", new { id = Model.Id })" class="btn btn-outline-danger">
                                <i class="bi bi-trash"></i> Struktur Löschen
                            </a>
                        </div>
                    </div>
                }
                @foreach (var area in Model.Areas)
                {
                    <a href="@Url.Action("Area", new { id = area.Id })" class="list-group-item list-group-item-action">
                        <h5>@area.Tag | @area.Name</h5>
                        <p>@area.Description</p>
                        @if (area.Options.Count() > 1)
                        {
                            <p>Anzahl Wahlmöglichlkeiten: @area.Options.Count()</p>
                        }
                    </a>
                }
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabCatalogs').DataTable({
                "paging": false,
                "order": [[0, 'asc']]
            });
        });
    </script>
}
