@model MyStik.TimeTable.Data.Curriculum
@{
    ViewBag.Title = "Themengebiete";
}


@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Slotplan @Model.Name (@Model.ShortName)</h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        <a href="@Url.Action("Admin", "Curriculum", new { id = Model.Id })" class="btn btn-outline-primary">
                            <i class="bi-chevron-left"></i> zurück
                        </a>
                        @if (ViewBag.UserRight.IsCurriculumAdmin)
                        {
                            <a href="@Url.Action("CreateSlot", "Curriculum", new { id = Model.Id })" class="btn btn-outline-primary">
                                <i class="bi-plus"></i> Neuen Katalog anlegen
                            </a>
                            <a href="@Url.Action("ImportAreas", "Curriculum", new { id = Model.Id })" class="btn btn-outline-primary">
                                <i class="bi-upload"></i> Import
                            </a>
                            @*
                                <a href="@Url.Action("DeleteAll", "Catalogs", new {id = Model.Organiser.Id})" class="btn btn-outline-danger">
                                    <i class="bi-trash"></i> Alle Löschen
                                </a>
                            *@
                        }
                    </div>
                </div>
            </div>
            <table id="tabCatalogs" class="table">
                <thead>
                    <tr>
                        <th>Themengebiet</th>
                        <th>Alternative</th>
                        <th>Slot</th>
                        <th>Semester</th>
                        <th># Module</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var area in Model.Areas)
                    {
                        foreach (var areaOption in area.Options)
                        {
                            foreach (var slot in areaOption.Slots)
                            {
                                <tr>
                                    <td>@area.Tag</td>
                                    <td>@areaOption.Tag</td>
                                    <td>@slot.Tag</td>
                                    <td>@slot.Semester</td>
                                    <td>@slot.ModuleAccreditations.Count</td>
                                </tr>
                              
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabCatalogs').DataTable({
                "paging": false,
                "order": [[0, 'asc']]
            });
        });
    </script>
}
