@model MyStik.TimeTable.Web.Models.ModuleAssignViewModel
@{
    ViewBag.Title = "Modul auswählen";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Akkreditierung von Fächern für Slot</h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <a href="javascript:saveChanges()" class="btn btn-outline-primary">
                        <i class="bi bi-save"></i>  Änderungen übernehmen
                    </a>
                    <a href="@Url.Action("Slot", new {id=Model.Slot.Id})" class="btn btn-outline-secondary">
                        <i class="bi bi-x"></i> Abbrechen
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <h5>Aus diesem Katalog soll das Fach akkreditiert werden</h5>
                        <div class="row">
                            <div class="col-4">Einrichtung</div>
                            <div class="col-8">
                                <select class="form-select slot-option" id="sourceOrg" onchange="onSourceOrgChanged(this.value)">
                                    @foreach (var org in Model.Organisers)
                                    {
                                        <option selected value="@org.Id">@org.Name (@org.ShortName)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Katalog</div>
                            <div class="col-8">
                                <select class="form-select slot-option" id="sourceCat" onchange="onSourceCatChanged(this.value)">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Fächer</div>
                            <div class="col-8">
                                <div id="sourceModules"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="list-group">
                            <div class="list-group-item">
                                <a id="btnMove" href="javascript:moveModules()" class="btn btn-outline-secondary">>> übertragen</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <h5>An diesen Slot soll angefügrt werden</h5>
                        <div class="row">
                            <div class="col-4">Themengebiet</div>
                            <div class="col-8">@Model.Slot.AreaOption.Area.Tag
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Wahlmöglichkeit</div>
                            <div class="col-8">@Model.Slot.AreaOption.Tag
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Slot</div>
                            <div class="col-8">@Model.Slot.Tag
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">Fächer</div>
                            <div class="col-8">
                                <ul id="targetModuleList" class="list-group">
                                    @foreach (var module in Model.Slot.SubjectAccreditations)
                                    {
                                        <li id="@module.Subject.Id" class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="">
                                            <label class="form-check-label" for="@module.Subject.Id">@module.Subject.Module.Tag: @module.Subject.Module.Name (@module.Subject.Tag)</label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function() {
            $("#loading").hide();
            //var org = $("#targetOrg").val();
            //onTargetOrgChanged(org);

            var org = $("#sourceOrg").val();
            onSourceOrgChanged(org);
        });


        function onSourceOrgChanged(value) {
            var orgId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("GetCatalogs", "Catalogs")',
                    data: {
                        orgId: orgId
                    },
                    success: function(data, success, xhr) {
                        $("#sourceCat").html(data);
                        $("#sourceCat").change();
                        $("#loading").hide();
                    }
                });

        }

        function onSourceCatChanged(value) {

            updateMoveState();
            var catId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("GetSubjects", "Catalogs")',
                    data: {
                        catId: catId,
                        side: "source"
                    },
                    success: function(data, success, xhr) {
                        $("#sourceModules").html(data);
                        $("#loading").hide();
                    }
                });

        }

        function onTargetOrgChanged(value) {
            var orgId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("GetOptions")',
                    data: {
                        areaId: orgId
                    },
                    success: function(data, success, xhr) {
                        $("#targetCat").html(data);
                        $("#targetCat").change();
                        $("#loading").hide();
                    }
                });

        }

        function onTargetCatChanged(value) {

            updateMoveState();
            var catId = value;
            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("GetSlots")',
                    data: {
                        optionId: catId,
                        side: "target"
                    },
                    success: function(data, success, xhr) {
                        $("#targetModules").html(data);
                        $("#loading").hide();
                    }
                });
        }

        function updateMoveState() {
            var sourceCat = $('#sourceCat').val();
            var targetCat = $('#targetCat').val();

            if (targetCat === sourceCat) {
                $('#btnMove').addClass("disabled");
            } else {
                $('#btnMove').removeClass("disabled");
            }

        }


        function moveModules() {
            //var list = $("#sourceModules > ul > li > input[type='checkbox'][checked='checked']").get();
            var list = $("#sourceModuleList > li > input[type='checkbox']:checked").parent().get();
            var n = list.length;
            //alert(n);

            if (n > 0) {
                var moduleIdList = new Array();

                for (var i = 0; i < n; i++) {
                    moduleIdList[i] = list[i].id;

                    var listElemId = '#' + list[i].id;
                    //alert(listElemId);

                    var listElem = $(listElemId).remove();

                    listElem.addClass('disabled');

                    $('#targetModuleList').append(listElem);
                }

            }
        }

        function saveChanges() {
            // Zielkatalog
            var catId = "@Model.Slot.Id.ToString()";

            // Liste der hinzugekommemen Module
            var list = $("#targetModuleList > li > input[type='checkbox']:checked").parent().get();
            var n = list.length;
            //alert(n);

            if (n > 0) {
                var moduleIdList = new Array();

                for (var i = 0; i < n; i++) {
                    moduleIdList[i] = list[i].id;
                }


                $.ajax(
                    {
                        type: "POST",
                        url: '@Url.Action("AssignModulesSave")',
                        data: {
                            slotId: catId,
                            moduleIds: moduleIdList
                        },
                        success: function(data, success, xhr) {
                            window.location.replace("@Url.Action("Slot", new { id = Model.Slot.Id })");
                            $("#loading").hide();
                        }
                    });

            }


        }


    </script>
}
