@using MyStik.TimeTable.Data
@using MyStik.TimeTable.DataServices
@model MyStik.TimeTable.Web.Models.CurriculumViewModel

@{
    ViewBag.Title = "Modulplan";
    var showFilter = false;
    if (ViewBag.FilterLabels != null)
    {
        var numLabels = 0;
        foreach (var label in ViewBag.FilterLabels)
        {
            numLabels++;
        }
        if (numLabels > 0)
        {
            showFilter = true;
        }
    }

    var pk = Model.Curriculum.Organiser.Autonomy != null ?
        Model.Curriculum.Organiser.Autonomy.Committees.FirstOrDefault(x => x.Name.Equals("PK") &&
                                                                                   x.Curriculum != null &&
                                                                                   x.Curriculum.Id == Model.Curriculum.Id) : null;

    var pkv = pk != null ? pk.Members.FirstOrDefault(x => x.HasChair) : null;

    var db = new TimeTableDbContext();

}

@section styles
{
    <style>
        .slot {
            position: relative;
            display: inline-block;
            margin-top: 2px;
            margin-bottom: 2px;
            margin-right: 0px;
            margin-left: 0px;
        }
    </style>

}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="card-title">@Model.Curriculum.Name (@Model.Curriculum.ShortName | primuss-code: XXX)</h4>
                        <h5 class="card-subtitle">
                            <a href="@Url.Action("Index", "Curricula")">HM</a>
                            |
                            <a href="@Url.Action("Index", "Curricula", new {id = Model.Curriculum.Organiser.Id})">
                                @Model.Curriculum.Organiser.Name (@Model.Curriculum.Organiser.ShortName)
                            </a>
                        </h5>

                    </div>
                    <div class="col-md-2">
                        @if (ViewBag.UserRight.IsCurriculumAdmin)
                        {
                            <div class="d-md-flex justify-content-md-end">
                                <a href="@Url.Action("Admin", new {id = Model.Curriculum.Id})" class="btn btn-outline-primary">
                                    <i class="bi-gear"></i> Verwaltung
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        <div class="card-body">
            <h5>Allgemeine Informationen</h5>
            <div class="row">
                <div class="col-md-6">
                    @if (Model.Curriculum.Degree != null)
                    {
                        <div class="row">
                            <div class="col-4">
                                Abschluss
                            </div>
                            <div class="col-8">
                                @Model.Curriculum.Degree.Name
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-4">
                            ECTS
                        </div>
                        <div class="col-8">
                            @Model.Curriculum.EctsTarget
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Dokumente
                        </div>
                        <div class="col-8">
                            <a href="#">SPO</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Prüfungskommission
                        </div>
                        <div class="col-8">
                            @if (pkv != null)
                            {
                                @pkv.Member.FullName
                            }
                            else
                            {
                                <div>N.N.</div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <a href="#">Stundenplan @Model.Semester.Name</a>
                        </div>
                    </div>
                    @if (ViewBag.NextSemester != null)
                    {
                        <div class="row">
                            <div class="col-12">
                                <a href="#">Stundenplan @ViewBag.NextSemester.Name</a>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-12">
                            @if (Model.Assessments.Any())
                            {
                                <a href="@Url.Action("Index", "Assessment")" class="">
                                    Auswahlverfahren
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <h5>Aufbau</h5>
            @if (showFilter)
            {
                var i = 0;
                <div class="form-floating">
                    <select id="labelSelect" class="form-select" id="floatingSelect" aria-label="Floating label select example" onchange="onLabelSelected(this.value)">
                        @foreach (var label in ViewBag.FilterLabels)
                        {
                            i++;
                            if (i == 1)
                            {
                                <option selected value="@label.Name">@label.Name</option>
                            }
                            else
                            {
                                <option value="@label.Name">@label.Name</option>
                            }

                        }
                    </select>
                    <label for="floatingSelect">Filterkriterium</label>
                </div>
                <div id="loading" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div id="ModulePlan">

                </div>
            }
            else
            {
                @Html.Partial("_ModulePlan", Model)
            }
        </div>
        
        @if (Model.Curriculum.Areas.Any())
        {
            <div class="card-body">
                <h4 class="card-title">Nach Themengebieten</h4>
                <ul>
                    @{
                        var allSlots = db.CurriculumSlots.Where(x =>
                            x.AreaOption != null && x.AreaOption.Area.Curriculum.Id == Model.Curriculum.Id).ToList();

                        var minSem = allSlots.Min(x => x.Semester);
                        var maxSem = allSlots.Max(x => x.Semester);

                        var allOptions = db.AreaOptions.Where(x => x.Area.Curriculum.Id == Model.Curriculum.Id).ToList();

                        var allOptionTags = allOptions.Select(x => x.Tag).Distinct().ToList();

                        var allAreasWithOptions = Model.Curriculum.Areas.Where(x => x.Options.Count > 1).ToList();

                        var optionsSelected = new List<AreaOption>();
                        foreach (var area in allAreasWithOptions)
                        {
                            var optList = area.Options.ToList();
                            optList.Shuffle();
                            optionsSelected.Add(optList.First());
                        }


                        <h5>Alle Optionen</h5>
                        <ul>
                            @foreach (var opt in optionsSelected)
                            {
                                <li>@opt.Area.Tag::@opt.Tag</li>
                            }
                        </ul>

                        for (var s = minSem; s <= maxSem; s++)
                        {
                            var semSlots = allSlots.Where(x => x.Semester == s).ToList();
                            <div>
                                <h5>Semester @s</h5>
                                <ul>
                                    @foreach (var slot in semSlots)
                                    {
                                        var inOptionArea = allAreasWithOptions.Count(x => x.Id == slot.AreaOption.Area.Id);

                                        if (inOptionArea == 0)
                                        {
                                            <li>@slot.AreaOption.Area.Tag::@slot.AreaOption.Tag::@slot.Tag (gilt für alle) - @slot.ModuleAccreditations.Count() Akkreditierungen</li>
                                        }
                                        else
                                        {
                                            var inSelectedOption = optionsSelected.Count(x => x.Id == slot.AreaOption.Id);
                                            if (inSelectedOption > 0)
                                            {
                                                <li>@slot.AreaOption.Area.Tag::@slot.AreaOption.Tag::@slot.Tag (selektiert) - @slot.ModuleAccreditations.Count() Akkreditierungen</li>
                                            }
                                            else
                                            {
                                                <li>@slot.AreaOption.Area.Tag::@slot.AreaOption.Tag::@slot.Tag (nicht selektiert) - @slot.ModuleAccreditations.Count() Akkreditierungen</li>
                                            }
                                        }

                                    }
                                </ul>
                            </div>
                        }
                    }

                </ul>
            </div>
        }
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(function () {
            $("#loading").hide();

            var label = $("#labelSelect").val();
            if (label != null)  {
                onLabelSelected(label);
            }
        });


        function onLabelSelected(value) {

            var currId = "@Model.Curriculum.Id";
            var label = value;

            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("LoadModulePlan")',
                    data: {
                        currId: currId,
                        label: label
                    },
                    success: function (data, success, xhr) {
                        $("#ModulePlan").html(data);
                        $("#loading").hide();
                    }
                });

        }
    
    </script>
}
