@model MyStik.TimeTable.Data.Curriculum
@{
    ViewBag.Title = "Studiengang ändern";
}



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>@Model.Name (@Model.ShortName) - Grundeinstellungen</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.Id)
                    <div class="row">
                        <label for="Tag" class="col-sm-2 col-form-label">Tag (Fachlicher Schlüssel)</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Tag, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <label for="Name" class="col-sm-2 col-form-label">Bezeichnung</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <label for="ShortName" class="col-sm-2 col-form-label">Kurzbezeichnung (für Anzeigen)</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.ShortName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <label for="Description" class="col-sm-2 col-form-label">Beschreibung</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 5 })
                        </div>
                    </div>
                    <div class="row">
                        <label for="Version" class="col-sm-2 col-form-label">Fachsemester</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Version, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <label for="Name" class="col-sm-2 col-form-label">Bearbeitungsdauer Abschlussarbeit</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.ThesisDuration, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-2 col-sm-10">
                            @Html.CheckBoxFor(item => item.IsDeprecated)
                            <label for="IsDeprecated" class="control-label">Studiengang wird angeboten</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-outline-primary"><i class="bi-save"></i> Speichern</button>
                            <a href="@Url.Action("Admin",  new{id=Model.Id})" class="btn btn-outline-secondary">Abbrechen</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

