@model MyStik.TimeTable.Web.Models.CurriculumViewModel
@{
    ViewBag.Title = "Studiengang";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="bi bi-trophy"></i> Studiengang @Model.Curriculum.Name (@Model.Curriculum.ShortName)
                </h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        @if (ViewBag.UserRight.IsCurriculumAdmin)
                        {

                            <a href="@Url.Action("GroupList", "Curricula", new {id = Model.Curriculum.Id})" class="btn btn-outline-primary">
                                <i class="fas fa-fw fa-puzzle-piece"></i> Aufbau - Studiengruppen
                            </a>
                            <a href="@Url.Action("Students", new {id = Model.Curriculum.Id})" class="btn btn-outline-primary">
                                <i class="fas fa-fw fa-users"></i> Studierende
                            </a>
                            <a href="@Url.Action("Edit", "Curriculum", new {id = Model.Curriculum.Id})" class="btn btn-outline-primary">
                                <i class="fa fa-fw fa-cog"></i> Allgemeine Einstellungen
                            </a>
                        }
                    </div>
                </div>
            </div>

            <div class="list-group-item">
                <div class="row">
                    <div class="col-4">
                        Anbieter
                    </div>
                    <div class="col-8">
                        <a href="#">@Model.Curriculum.Organiser.Name (@Model.Curriculum.Organiser.ShortName)</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        Abschluss
                    </div>
                    <div class="col-8">
                        Bachelor, Master oder Zertifikat
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        ECTS
                    </div>
                    <div class="col-8">
                        210
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        SPO
                    </div>
                    <div class="col-8">
                        <a href="#">Link zur HM Seite</a>
                    </div>
                </div>

            </div>
            <a href="@Url.Action("ModulePlan", "Curriculum", new {id = Model.Curriculum.Id})" class="list-group-item  list-group-item-action">
                <i class="bi bi-map"></i> Modulplan
            </a>
            <a href="#" class="list-group-item  list-group-item-action disabled">
                <i class="bi bi-bookshelf"></i> Modulhandbuch @Model.Semester.Name
            </a>
            <a href="@Url.Action("Curriculum", "Dictionary", new {semId = Model.Semester.Id, currId = Model.Curriculum.Id})" class="list-group-item  list-group-item-action">
                <i class="bi bi-mic"></i> Vorlesungsverzeichnis @Model.Semester.Name
            </a>
            <a href="#" class="list-group-item  list-group-item-action disabled">
                <i class="bi bi-mortarboard"></i> Prüfungen @Model.Semester.Name
            </a>
            <a href="#" class="list-group-item  list-group-item-action disabled">
                <i class="bi bi-people"></i> Prüfungskommission
            </a>

            @if (Model.Assessments.Any())
            {
                <a href="@Url.Action("Index", "Assessment")" class="list-group-item  list-group-item-action">
                    <i class="fas fa-fw fa-poll"></i> Auswahlverfahren
                </a>
            }

        </div>
    </div>
</div>


