@model MyStik.TimeTable.Web.Models.CurriculumViewModel

@{
    ViewBag.Title = "Modulplan";
}

@section styles
{
    <style>
        .slot {
            position: relative;
            display: inline-block;
            height: 50px;
            margin-top: 2px;
            margin-bottom: 2px;
            margin-right: 0px;
            margin-left: 0px;
        }
    </style>

}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    <i class="bi-trophy"></i> Studiengang @Model.Curriculum.Name (@Model.Curriculum.ShortName)
                </h4>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        <a href="@Url.Action("Index", "Curriculum", new {id = Model.Curriculum.Id})" class="btn btn-outline-primary">
                            <i class="bi-chevron-left"></i> Zurück
                        </a>
                        @if (ViewBag.UserRight.IsCurriculumAdmin)
                        {

                            <a href="@Url.Action("Import", "Curriculum", new {id = Model.Curriculum.Id})" class="btn btn-outline-primary">
                                <i class="bi-upload"></i> Import
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"><i class="bi-diagram-3"></i></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"><i class="bi-table"></i></button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        @foreach (var sec in Model.Curriculum.Sections)
                        {
                            <div class="row">
                                <div class="col-2">
                                    @sec.Name
                                </div>
                                <div class="col-10">
                                    <div style="width: 100%">
                                        @foreach (var slot in sec.Slots)
                                        {
                                            var w = (int)(slot.ECTS / 32 * 100);

                                            <div class="slot alert alert-dark" style="width: @w%">
                                                <div>@slot.Tag</div>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>ECTS</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var sec in Model.Curriculum.Sections)
                            {
                                foreach (var slot in sec.Slots)
                                {
                                    <tr>
                                        <td>@sec.Order</td>
                                        <td>@slot.Tag</td>
                                        <td>@slot.ECTS</td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

