@model MyStik.TimeTable.Data.CertificateModule
@{
    ViewBag.Title = "Modul";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Modul - @Model.Name</h1>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.UserRight.IsOrgMember)
{
    <div class="panel panel-default panel-menu">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            @if (ViewBag.UserRight.IsCurriculumAdmin)
                            {
                                <div class="form-group">
                                    <a href="@Url.Action("Admin", new {id = Model.Curriculum.Id})" class="btn btn-default">
                                        <i class="fa fa-arrow-left"></i> Zurück
                                    </a>
                                </div>
                                <div class="form-group">
                                    <a href="@Url.Action("EditModule", new {id = Model.Id})" class="btn btn-default">
                                        <i class="fa fa-cogs"></i> Ändern
                                    </a>
                                </div>
                                <div class="form-group">
                                    <a href="@Url.Action("CreateSubject", new {id = Model.Id})" class="btn btn-default">
                                        <i class="fa fa-plus"></i> Teilmodul anlegen
                                    </a>
                                </div>
                                <div class="form-group">
                                    <a href="@Url.Action("DeleteModule", new {id = Model.Id})" class="btn btn-danger">
                                        <i class="fa fa-trash"></i> Modul löschen
                                    </a>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-cube"></i> Teilmodule
                    </h4>
                </div>
                <div class="list-group">
                    @foreach (var subject in Model.Subjects)
                    {
                        <a href="@Url.Action("AdminSubject", new {id=subject.Id})" class="list-group-item">
                            <div class="list-group-item-heading">
                                <h5>@subject.Name</h5>
                            </div>
                        </a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
