@model MyStik.TimeTable.Data.AreaOption
@{
    ViewBag.Title = "Wahlmöglichkeit";
}


@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}


<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Details", "Curriculum", new {id=Model.Area.Curriculum.Id})">@Model.Area.Curriculum.ShortName</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Areas", "Curriculum", new {id=Model.Area.Curriculum.Id})">Themenbereiche</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Area", "Curriculum", new {id=Model.Area.Id})">@Model.Area.Name (@Model.Area.Tag)</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Name (@Model.Tag)</li>
            </ol>
        </nav>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Allgemeine Informationen</h5>
                        <div class="row">
                            <div class="col-4">
                                Anzahl Modulslots
                            </div>
                            <div class="col-8">
                                @Model.Slots.Count
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>Beschreibung</h5>
                        <div class="row">
                            <div class="col-12">
                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-group">
                @if (ViewBag.UserRight.IsCurriculumAdmin)
                {

                    <div class="list-group-item">
                        <div class="btn-group">
                            <a href="@Url.Action("EditOption", "Curriculum", new { id = Model.Id })" class="btn btn-outline-primary">
                                <i class="bi-gear"></i> Ändern
                            </a>
                            <a href="@Url.Action("CreateSlot", "Curriculum", new { id = Model.Id })" class="btn btn-outline-primary">
                                <i class="bi-plus"></i> Neuer Slot
                            </a>
                            @if (Model.Slots.Any())
                            {
                            <div class="btn btn-outline-danger disabled">
                                <i class="bi-trash"></i> Wahlmöglichkeit löschen
                            </div>
                            }
                            else
                            {
                            <a href="@Url.Action("DeleteOption", "Curriculum", new { id = Model.Id })" class="btn btn-outline-danger">
                                <i class="bi-trash"></i> Wahlmöglichkeit löschen
                            </a>

                            }
                        </div>
                    </div>
                }
                @foreach (var slot in Model.Slots)
                {
                    <a href="@Url.Action("Slot", new { id = slot.Id })" class="list-group-item list-group-item-action">
                        <h5>@slot.Name (@slot.Tag)</h5>
                        <p>@slot.Description</p>
                    </a>
                }
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabCatalogs').DataTable({
                "paging": false,
                "order": [[0, 'asc']]
            });
        });
    </script>
}
