@model MyStik.TimeTable.Web.Models.GroupSelectionViewModel
@{
    ViewBag.Title = "Studienprogeamme";
}

@section styles
{
    @Styles.Render("~/Content/fullcalendar/css")
    @Styles.Render("~/Content/themes/base/css")
}

<h2>Studienangebote <span id="loading"><i class="fa fa-spinner fa-spin text-muted"></i></span></h2>

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(m => m.Faculty)
            @Html.DropDownListFor(model => model.Faculty, (IEnumerable<SelectListItem>)ViewBag.Faculties, new { @class = "form-control", disabled="" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(m => m.Semester)
            @Html.DropDownListFor(model => model.Semester, (IEnumerable<SelectListItem>)ViewBag.Semesters, new { @class = "form-control", disabled = "" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(m => m.Curriculum)
            @Html.DropDownListFor(model => model.Curriculum, (IEnumerable<SelectListItem>)ViewBag.Curricula, new { @class = "form-control", onchange = "onCurriculumChanged()" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.LabelFor(m => m.Group)
            @Html.DropDownListFor(model => model.Group, (IEnumerable<SelectListItem>)ViewBag.Groups, new { @class = "form-control", onchange = "onGroupChanged()" })
        </div>
    </div>
    <div id="DisplayOptionBox" class="col-md-2">
        <div class="form-group">
            <label for="displayId">Anzeige als</label>
            <div class="btn-group" id="displayId">
                <button type="button" class="btn btn-default active" id="displayCalendar" onclick=" switchDisplay(true) "><i class="fa fa-calendar"></i></button>
                <button type="button" class="btn btn-default" id="displayTable" onclick=" switchDisplay(false) "><i class=" fa fa-table"></i></button>
            </div>
        </div>
    </div>
    <div id="PersonalDateOptionBox" class="col-md-2">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input id="displayPersonalDates" type="checkbox" value="" onclick="togglePersonalDateDisplay()">
                    Persönliche Termine anzeigen
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="CourseList"></div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/fullcalendar")

    <script type="text/javascript">

        function switchDisplay(showCalendar) {
            if (showCalendar == true) {
                $('#displayCalendar').addClass('active');
                $('#displayTable').removeClass('active');
                initCalendar();
            } else {
                $('#displayCalendar').removeClass('active');
                $('#displayTable').addClass('active');
                $('#CourseList').fullCalendar('destroy');
            }
            onGroupChanged();
        }

        function togglePersonalDateDisplay() {
            onGroupChanged();
        }


        function onCurriculumChanged() {

            var prog = $('#Curriculum option:selected').val();

            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("GroupList")',
                    data: {
                        currId: prog,
                    },
                    success: function(data, success, xhr) {
                        $('#Group').html(data);
                        onGroupChanged();
                    }
                });
            if ($('#displayCalendar').hasClass('active')) {
                $('#CourseList').fullCalendar('removeEvents');
            } else {
                $('#CourseList').html('');
            }

        }

        function onGroupChanged() {
            var group = $('#Group option:selected').val();

            var personalDates = ($('#displayPersonalDates').attr('checked') == 'checked');

            if ($('#displayCalendar').hasClass('active')) {

                $('#CourseList').fullCalendar('removeEventSource', '@Url.Action("CourseEventsByProgram", "Calendar")');

                $('#CourseList').fullCalendar('addEventSource',
                    {
                        url: '@Url.Action("CourseEventsByProgram", "Calendar")',
                        type: 'POST',
                        data: {
                            semGroupId: group,
                            showPersonalDates: personalDates,
                        },
                    });
            } else {
                $('#CourseList').html('');
                $('#loading').show();
                $.ajax(
                    {
                        type: 'POST',
                        url: '@Url.Action("CourseListByProgram")',
                        data: {
                            semGroupId: group
                        },
                        success: function(data, success, xhr) {
                            $('#CourseList').html(data);
                            $('#loading').hide();
                        },
                        error: function (data, type, ex) {
                            alert("Fehler beim laden der Daten." + ex);
                            $('#loading').hide();
                        },
                    });
            }
        }

        $(document).ready(function() {

            //$('#DisplayOptionBox').hide();
            $('#loading').hide();
            // page is now ready, initialize the calendar...
            if ($('#displayCalendar').hasClass('active'))
                initCalendar();

           onCurriculumChanged();
        });

    </script>
}