@using System.Net.Configuration
@using RazorEngine.Compilation
@model MyStik.TimeTable.Data.CurriculumSlot
@{
    ViewBag.Title = "Slot";

    var showFilter = false;
    if (ViewBag.FilterLabels != null)
    {
        var numLabels = 0;
        foreach (var label in ViewBag.FilterLabels)
        {
            numLabels++;
        }
        if (numLabels > 0)
        {
            showFilter = true;
        }
    }

}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">SPO-Slot @Model.Tag: @Model.Name <span class="badge bg-secondary">@Model.ECTS ECTS</span></h4>
                <h5 class="card-subtitle">
                    <a href="@Url.Action("Details", "Curriculum", new {id = Model.CurriculumSection.Curriculum.Id})">
                        @Model.CurriculumSection.Curriculum.Name (@Model.CurriculumSection.Curriculum.ShortName)
                    </a> |
                    @Model.CurriculumSection.Name
                </h5>
            </div>
            @if (showFilter)
            {
                var i = 0;
                <div class="form-floating">
                    <select id="labelSelect" class="form-select" id="floatingSelect" aria-label="Floating label select example" onchange="onLabelSelected(this.value)">
                        @foreach (var label in ViewBag.FilterLabels)
                        {
                            i++;
                            if (i == 1)
                            {
                                <option selected value="@label.Name">@label.Name</option>
                            }
                            else
                            {
                                <option value="@label.Name">@label.Name</option>
                            }

                        }
                    </select>
                    <label for="floatingSelect">Filterkriterium</label>
                </div>
                <div id="loading" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div id="ModuleList">

                </div>
            }
            else
            {
                @Html.Partial("_ModuleList", Model)
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $("#loading").hide();

            var label = $("#labelSelect").val();
            if (labe != null) {
                onLabelSelected(label);
            }
        });


        function onLabelSelected(value) {

            var slotId = "@Model.Id";
            var label = value;

            $("#loading").show();

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("LoadModuleList")',
                    data: {
                        slotId: slotId,
                        label: label
                    },
                    success: function (data, success, xhr) {
                        $("#ModuleList").html(data);
                        $("#loading").hide();
                    }
                });

        }

    </script>
}
