@model MyStik.TimeTable.Data.CurriculumSlot
@{
    ViewBag.Title = "Slot";

}

@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}



<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Details", "Curriculum", new {id=Model.AreaOption.Area.Curriculum.Id})">@Model.AreaOption.Area.Curriculum.ShortName</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Areas", "Curriculum", new {id=Model.AreaOption.Area.Curriculum.Id})">Themenbereiche</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Area", "Curriculum", new {id=Model.AreaOption.Area.Id})">@Model.AreaOption.Area.Name (@Model.AreaOption.Area.Tag)</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Option", "Curriculum", new {id=Model.AreaOption.Id})">@Model.AreaOption.Area.Name (@Model.AreaOption.Tag)</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Tag</li>
            </ol>
        </nav>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Modul-Slot: @Model.Tag @Model.Name</h5>
                        <div class="row">
                            <div class="col-4">
                                Fachsemester
                            </div>
                            <div class="col-8">
                                @Model.Semester
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                ECTS
                            </div>
                            <div class="col-8">
                                @Model.ECTS
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>Beschreibung</h5>
                        <div class="row">
                            <div class="col-12">
                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group">
                @if (ViewBag.UserRight.IsCurriculumAdmin)
                {
                    <div class="list-group-item">
                        <div class="btn-group">
                                <a href="@Url.Action("EditSlot", "Curriculum", new { id = Model.Id })" class="btn btn-outline-primary">
                                    <i class="bi-gear"></i> Ändern
                                </a>
                                <a href="@Url.Action("AssignModules", "Curriculum", new { id = Model.Id })" class="btn btn-outline-primary">
                                    <i class="bi-list-columns"></i> Module akkreditieren
                                </a>
                                @if (Model.ModuleAccreditations.Any())
                                {
                                    <div class="btn btn-outline-danger disabled">
                                        <i class="bi-trash"></i> Slot löschen
                                    </div>
                                }
                                else
                                {
                                    <a href="@Url.Action("DeleteSlot", "Curriculum", new { id = Model.Id })" class="btn btn-outline-danger">
                                        <i class="bi-trash"></i> Slot löschen
                                    </a>
                                }
                        </div>
                    </div>
                }
                <div class="list-group-item">
                    <h5>Akkreditierte Module</h5>
                </div>
                    <table id="tabModules" class="table">
                        <thead>
                            <tr>
                                <th>Katalog-ID</th>
                                <th>Modul-ID</th>
                                <th>Modul-Titel</th>
                                @if (ViewBag.UserRight.IsCurriculumAdmin)
                                {
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var module in Model.ModuleAccreditations)
                            {
                                <tr>
                                    <td>@module.Module.Catalog.Tag</td>
                                    <td><a href="@Url.Action("Details", "ModuleDescription", new { id = module.Module.Id })">@module.Module.Tag</a></td>
                                    <td><a href="@Url.Action("Details", "ModuleDescription", new { id = module.Module.Id })">@module.Module.Name</a></td>
                                    @if (ViewBag.UserRight.IsCurriculumAdmin)
                                    {
                                        <td>
                                            <a class="btn btn-outline-danger" href="@Url.Action("DeleteAccredition", new { id = module.Id })">
                                                <i class="bi-x"></i> Entfernen
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabModules').DataTable({
                "paging": false
            });
        });
    </script>

}
