@using System.Net.Configuration
@using RazorEngine.Compilation
@model MyStik.TimeTable.Data.CurriculumSlot
@{
    ViewBag.Title = "Slot";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">SPO-Slot @Model.Tag: @Model.Name <span class="badge bg-secondary">@Model.ECTS ECTS</span></h4>
                <h5 class="card-subtitle">
                    <a href="@Url.Action("Details", "Curriculum", new {id = Model.CurriculumSection.Curriculum.Id})">
                        @Model.CurriculumSection.Curriculum.Name (@Model.CurriculumSection.Curriculum.ShortName)
                    </a> |
                    @Model.CurriculumSection.Name
                </h5>
            </div>
            <div class="list-group">
                @foreach (var module in Model.ModuleAccreditations)
                {
                    <a class="list-group-item list-group-item-action"
                       href="@Url.Action("Details", "ModuleDescription", new { id = module.Module.Id })">
                        <h5>
                            Modul: @module.Module.Name (@module.Module.Tag)
                        </h5>
                        @foreach (var subject in module.Module.ModuleSubjects)
                        {
                            <div class="ms-3">@subject.Name (@subject.Tag) <span class="badge bg-secondary">@subject.TeachingFormat.Tag</span> <span class="badge bg-secondary">@subject.SWS SWS</span></div>
                        }
                    </a>
                }
            </div>
           
        </div>
    </div>
</div>
