@using System.Net.Configuration
@using RazorEngine.Compilation
@model MyStik.TimeTable.Data.CurriculumSlot
@{
    ViewBag.Title = "Slot";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="btn-group">
                        <a href="@Url.Action("ModulePlan", "Curriculum", new {id = Model.CurriculumSection.Curriculum.Id})" class="btn btn-outline-primary">
                            <i class="bi-chevron-left"></i> Zurück
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">SPO-Slot @Model.Tag: @Model.Name <span class="badge bg-secondary">@Model.ECTS ECTS</span></h4>
                <h5 class="card-subtitle">@Model.CurriculumSection.Name | @Model.CurriculumSection.Curriculum.Name (@Model.CurriculumSection.Curriculum.ShortName)</h5>
            </div>
            <div class="list-group">
                @foreach (var module in Model.ModuleAccreditations)
                {
                    <div class="list-group-item">
                        <h5>
                            Modul: @module.Module.Name (@module.Module.Tag)
                        </h5>
                        @foreach (var subject in module.Module.ModuleSubjects)
                        {
                            <div class="ms-3">@subject.Name (@subject.Tag)  <span class="badge bg-secondary">@subject.TeachingFormat.Tag</span>  <span class="badge bg-secondary">@subject.SWS SWS</span></div>
                        }
                        <a class="btn btn-outline-secondary mt-3" href="@Url.Action("Details", "ModuleDescription", new {
                                                                       modId = module.Module.Id,
                                                                       semId = ViewBag.CurrentSemester.Id,
                                                                       slotId = Model.Id
                                                                   })">
                            <i class="bi-book"></i> Modulbeschreibung @ViewBag.CurrentSemester.Name
                        </a>
                    </div>
                }
            </div>
           
        </div>
    </div>
</div>
