@using MyStik.TimeTable.Data
@model MyStik.TimeTable.Data.CurriculumSlot
@{
    ViewBag.Title = "Slot";

    var db = new TimeTableDbContext();
    var tf = db.TeachingFormats.ToList();
}

@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}



<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Details", "Curriculum", new {id=Model.AreaOption.Area.Curriculum.Id})">@Model.AreaOption.Area.Curriculum.ShortName</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Areas", "Curriculum", new {id=Model.AreaOption.Area.Curriculum.Id})">Themenbereiche</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Area", "Curriculum", new {id=Model.AreaOption.Area.Id})">@Model.AreaOption.Area.Name (@Model.AreaOption.Area.Tag)</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Option", "Curriculum", new {id=Model.AreaOption.Id})">@Model.AreaOption.Name (@Model.AreaOption.Tag)</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Tag</li>
            </ol>
        </nav>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Modul-Slot: @Model.Tag @Model.Name</h5>
                        <div class="row">
                            <div class="col-4">
                                Fachsemester
                            </div>
                            <div class="col-8">
                                @Model.Semester
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                ECTS
                            </div>
                            <div class="col-8">
                                @Model.ECTS
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>Beschreibung</h5>
                        <div class="row">
                            <div class="col-12">
                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group">
                @if (ViewBag.UserRight.IsCurriculumAdmin)
                {
                    <div class="list-group-item">
                        <div class="btn-group">
                        @*
                            <a href="@Url.Action("CreateModule", "Curriculum", new { id = Model.Id })" class="btn btn-outline-primary">
                                <i class="bi bi-plus"></i> Modul anlegen
                            </a>
                            *@
                            <a href="@Url.Action("AssignModules", "Curriculum", new { id = Model.Id })" class="btn btn-outline-primary">
                                <i class="bi bi-list-columns"></i> Fächer akkreditieren
                            </a>
                        </div>
                        <div class="btn-group">
                            <a href="@Url.Action("EditSlot", "Curriculum", new { id = Model.Id })" class="btn btn-outline-primary">
                                <i class="bi bi-gear"></i> Slot ändern
                            </a>
                            @if (Model.SubjectAccreditations.Any())
                            {
                                <div class="btn btn-outline-danger disabled">
                                    <i class="bi bi-trash"></i> Slot löschen
                                </div>
                            }
                            else
                            {
                                <a href="@Url.Action("DeleteSlot", "Curriculum", new { id = Model.Id })" class="btn btn-outline-danger">
                                    <i class="bi bi-trash"></i> Slot löschen
                                </a>
                            }
                        </div>
                    </div>
                }
                <div class="list-group-item">
                    <h5>Akkreditierte Module / Fächer</h5>
                </div>
                    <table id="tabModules" class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titel</th>
                                @foreach (var t in tf)
                                {
                                    <th>@t.Tag</th>
                                }
                                @if (ViewBag.UserRight.IsCurriculumAdmin)
                                {
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var module in Model.SubjectAccreditations.Select(x => x.Subject.Module).Distinct().ToList())
                            {
                                <tr>
                                    <td>@module.Tag</td>
                                    <td><a href="@Url.Action("Latest", "ModuleDescription", new { id = module.Id })">@module.Name</a></td>
                                    @foreach (var t in tf)
                                    {
                                        var subjects = module.ModuleSubjects.Where(x => x.TeachingFormat.Id == t.Id).ToList();

                                        if (subjects.Any())
                                        {
                                            if (subjects.Count == 1)
                                            {
                                                <td>@subjects.Sum(x => x.SWS)</td>
                                            }
                                            else
                                            {
                                                <td>@subjects.Sum(x => x.SWS) SWS in @subjects.Count Fächern </td>
                                            }
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    @if (ViewBag.UserRight.IsCurriculumAdmin)
                                    {
                                        <td>
                                            <a class="btn btn-outline-danger" href="@Url.Action("DeleteAccredition", new { id = module.Id })">
                                                <i class="bi bi-x"></i> Entfernen
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabModules').DataTable({
                "paging": false
            });
        });
    </script>

}
