@model MyStik.TimeTable.Data.Curriculum
@{
    ViewBag.Title = "Aufbau";
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-study">
        <div class="row">
            <div class="col-md-12">
                <h1>Aufbau @Model.Name</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    @foreach (var package in Model.Packages)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>@package.Name</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            @foreach (var option in package.Options)
                            {
                                <div class="col-md-4">
                                    <div class="list-group">
                                        @if (!string.IsNullOrEmpty(option.Name))
                                        {
                                            <div class="list-group-item list-group-item-info">
                                                <div class="list-group-item-heading">
                                                    <h5>@option.Name</h5>
                                                </div>
                                            </div>
                                        }

                                        @foreach (var req in option.Requirements)
                                        {
                                            <a href="@Url.Action("Requirement", new {id=req.Id})" class="list-group-item">
                                                @if (req.Criterias.Count == 1)
                                                {
                                                    <span class="badge badge-info">@req.Criterias.First().Term. Semester</span>
                                                }
                                                <span class="badge badge-danger">@req.ECTS ECTS</span>
                                                <div class="list-group-item-heading">
                                                    <p>@req.Name</p>
                                                </div>
                                                @if (req.Criterias.Count > 1)
                                                {
                                                    <div class="list-group-item-text">
                                                        <ul>
                                                            @foreach (var crit in req.Criterias)
                                                            {
                                                                <li>@crit.Name<span class="badge badge-info">@crit.Term. Semester</span></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                            </a>
                                        }
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

