@model MyStik.TimeTable.Web.Models.CurriculumSubscriptionViewModel
@{
    ViewBag.Title = "Angabe des Studiengangs";
}


    <div class="row"">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fa fa-graduation-cap"></i> Studiengang beginnen</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("StartCurriculumConfirm", null, FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                        <fieldset>
                            <div class="mb-3 row">
                                @Html.LabelFor(model => model.OrgId, new { @class = "col-sm-4 col-form-label" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.OrgId, (IEnumerable<SelectListItem>)ViewBag.Faculties, new { @class = "form-select", onchange = "onFacultyChanged()" })
                                </div>
                            </div>
                            <div id="currLoading" class="mb-3 row">
                                <span><i class="fas fa-spinner fa-spin fa-2x"></i></span>
                            </div>
                            <div id="currBox" class="mb-3 row">
                                @Html.LabelFor(model => model.CurrId, new { @class = "col-sm-4 col-form-label" })
                                <div id="selectCurr" class="col-sm-8">
                                    @Html.DropDownListFor(model => model.CurrId, (IEnumerable<SelectListItem>)ViewBag.Curricula, new { @class = "form-select", onchange = "onCurriculumChanged()" })
                                </div>
                            </div>
                            <div id="semBox" class="mb-3 row">
                                @Html.LabelFor(model => model.SemId, new { @class = "col-sm-4 col-form-label" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(model => model.SemId, (IEnumerable<SelectListItem>)ViewBag.Semesters, new { @class = "form-select", onchange = "onSemesterChanged()" })
                                </div>
                            </div>
                            @*
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Zusatzinformationen</label>
                            <div class="col-sm-4">
                                @Html.CheckBoxFor(item => item.IsPartTime)
                                @Html.LabelFor(item => item.IsPartTime, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-4">
                                @Html.CheckBoxFor(item => item.IsDual)
                                @Html.LabelFor(item => item.IsDual, new { @class = "control-label" })
                            </div>
                        </div>
                            *@
                            <div class="row">
                                <div class="d-grid gap-2 d-md-block">
                                    <button id="btnSave" type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i> Speichern</button>
                                    <a href="@Url.Action("Curricula")" class="btn btn-outline-secondary">Abbrechen</a>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>


@section scripts
{

    <script type="text/javascript">

        $(document).ready(function() {
            //onFacultyChanged();
            $('#currBox').hide();
            $('#semBox').hide();
            $('#currLoading').hide();
            $('#btnSave').prop("disabled", true);

        });


        function onFacultyChanged() {
            var prog = $('#OrgId option:selected').val();
            $('#btnSave').prop("disabled", true);
            $('#currLoading').show();
            $('#currBox').hide();
            $('#semBox').hide();

            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("CurriculaList2", "Curriculum")',
                    data: {
                        orgId: prog
                    },
                    success: function(data, success, xhr) {
                        $('#CurrId').html(data);
                        $('#currLoading').hide();
                        $('#currBox').show();
                    }
                });
        }

        function onCurriculumChanged() {
            $('#semBox').show();
        }

        function onSemesterChanged() {
            $('#btnSave').prop("disabled", false);
        }

    </script>
}


