@model MyStik.TimeTable.Web.Models.CurriculumSubscriptionViewModel
@{
    ViewBag.Title = "Angabe des Studiengangs";
}


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fa fa-graduation-cap"></i> Studiengang beginnen / Start curriculum</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("StartCurriculumConfirm", null, FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                    <fieldset>
                        <div class="mb-3 row">
                            <label class="col-sm-4 col-form-label" for="OrgId">Fakultät / Department</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.OrgId, (IEnumerable<SelectListItem>)ViewBag.Faculties, new { @class = "form-select", onchange = "onFacultyChanged()" })
                            </div>
                        </div>
                        <div id="currLoading" class="mb-3 row">
                            <span><i class="fas fa-spinner fa-spin fa-2x"></i></span>
                        </div>
                        <div id="currBox" class="mb-3 row">
                            <label class="col-sm-4 col-form-label" for="CurrId">Studiengang / Curricukum</label>
                            <div id="selectCurr" class="col-sm-8">
                                @Html.DropDownListFor(model => model.CurrId, (IEnumerable<SelectListItem>)ViewBag.Curricula, new { @class = "form-select", onchange = "onCurriculumChanged()" })
                            </div>
                        </div>
                        <div id="semBox" class="mb-3 row">
                            <label class="col-sm-4 col-form-label" for="SemId">Semester Studienbeginn / Semester begin of study</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.SemId, (IEnumerable<SelectListItem>)ViewBag.Semesters, new { @class = "form-select", onchange = "onSemesterChanged()" })
                            </div>
                        </div>
                        <div id="propBox" class="mb-3 row">
                            <label class="col-sm-4 col-form-label">Ich studiere in ... / My model of study ...</label>
                            <div class="col-sm-8">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="IsFullTime" id="IsFullTime" value="True" checked>
                                    <label class="form-check-label" for="IsFullTime">
                                        ... Vollzeit / Full time
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="IsFullTime" id="IsPartTime" value="False">
                                    <label class="form-check-label" for="IsPartTime">
                                        ... Teilzeit / Part time
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div id="cieBox" class="mb-3 row">
                            <label class="col-sm-4 col-form-label">International guest students only...</label>
                            <div class="col-sm-8">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="IsIncomer" id="isNone" value="False" checked>
                                    <label class="form-check-label" for="isNone">
                                        ... I am here just for fun
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="IsIncomer" id="IsCIE" value="True">
                                    <label class="form-check-label" for="IsCIE">
                                        ... I am enrolled in Courses in Englisch (CIE)
                                    </label>
                                </div>
                            </div>
                        </div>

                        @*
        <div class="form-group">
            <label class="col-sm-4 control-label">Zusatzinformationen</label>
            <div class="col-sm-4">
                @Html.CheckBoxFor(item => item.IsPartTime)
                @Html.LabelFor(item => item.IsPartTime, new { @class = "control-label" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                @Html.CheckBoxFor(item => item.IsDual)
                @Html.LabelFor(item => item.IsDual, new { @class = "control-label" })
            </div>
        </div>
                        *@
                        <div class="row">
                            <div class="d-grid gap-2 d-md-block">
                                <button id="btnSave" type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i> Speichern / Save</button>
                                <a href="@Url.Action("Curricula")" class="btn btn-outline-secondary">Abbrechen / Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>


@section scripts
{

    <script type="text/javascript">

        $(document).ready(function() {
            //onFacultyChanged();
            $('#currBox').hide();
            $('#semBox').hide();
            $('#propBox').hide();
            $('#cieBox').hide();
            $('#currLoading').hide();
            $('#btnSave').prop("disabled", true);

        });


        function onFacultyChanged() {
            var prog = $('#OrgId option:selected').val();
            $('#btnSave').prop("disabled", true);
            $('#currLoading').show();
            $('#currBox').hide();
            $('#semBox').hide();
            $('#propBox').hide();
            $('#cieBox').hide();

            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("CurriculaList4", "Curriculum")',
                    data: {
                        orgId: prog
                    },
                    success: function(data, success, xhr) {
                        $('#CurrId').html(data);
                        $('#currLoading').hide();
                        $('#currBox').show();
                    }
                });
        }

        function onCurriculumChanged() {
            $('#semBox').show();
            $('#propBox').show();
            $('#cieBox').show();
        }

        function onSemesterChanged() {
            $('#btnSave').prop("disabled", false);
        }

    </script>
}


