@model MyStik.TimeTable.Web.Models.CurriculumSubscriptionViewModel
@{
    ViewBag.Title = "Angabe des Studiengangs";
}


<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-graduation-cap"></i> Studiengang ändern</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("ChangeCurriculum", null, FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    <fieldset>
                        @Html.HiddenFor(model => model.Student.Id)
                        <div class="form-group">
                            @Html.LabelFor(model => model.OrgId, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.OrgId, (IEnumerable<SelectListItem>)ViewBag.Faculties, new { @class = "form-control", onchange = "onFacultyChanged()" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurrId, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.CurrId, (IEnumerable<SelectListItem>)ViewBag.Curricula, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SemId, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.SemId, (IEnumerable<SelectListItem>)ViewBag.Semesters, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Zusatzinformationen</label>
                            <div class="col-sm-4">
                                @Html.CheckBoxFor(item => item.IsPartTime)
                                @Html.LabelFor(item => item.IsPartTime, new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-4">
                                @Html.CheckBoxFor(item => item.IsDual)
                                @Html.LabelFor(item => item.IsDual, new { @class = "control-label" })
                            </div>
                        </div>
                        <button type="submit" class="col-sm-offset-4 btn btn-primary"><i class="fa fa-save"></i> Speichern</button>
                        <a href="@Url.Action("Curricula")" class="btn btn-default">Abbrechen</a>
                    </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{

    <script type="text/javascript">

        $(document).ready(function () {
        });


        function onFacultyChanged() {
            var prog = $('#OrgId option:selected').val();

            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("CurriculaList2", "Curriculum")',
                    data: {
                        orgId: prog
                    },
                    success: function (data, success, xhr) {
                        $('#CurrId').html(data);
                    }
                });
        }

    </script>
}


