@model ICollection<MyStik.TimeTable.Web.Models.AlumniViewModel>
@{
    ViewBag.Title = "Studiengänge";
}


<div class="container-fluid">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-graduation-cap"></i> Meine Studiengänge</h4>
                </div>
                
                @if (!Model.Any())
                {
                    <div class="alert alert-info">
                        <h5>Hinweis</h5>
                        <p>Das hier ist nicht primuss. Es gibt auch keine Verbindung zu primuss. Aus diesem Grund muss hier jede(r) den eigenen Studiengang angegeben.
                            Anschliesend stehen alle Funktionen zur Verfügung, z.B. für das Zusammenstellen des persönlichen Stundenplans oder das Buchen von Sprechstundenterminen.</p>
                    </div>
                }

                <div class="list-group">
                    <div class="list-group-item">
                        <a href="@Url.Action("StartCurriculum")" class="btn btn-danger">Neuen Studiengang beginnen</a>
                    </div>
                    @foreach (var student in Model.OrderByDescending(x => x.Student.FirstSemester.StartCourses))
                    {
                        if (student.Student.LastSemester == null)
                        {
                            <div class="list-group-item">
                                <h5 class="list-group-item-heading">
                                    seit @student.Student.FirstSemester.Name: @student.Student.Curriculum.Name
                                </h5>
                                <div class="list-group-item-text">
                                    <ul class="fa-ul">
                                        <li><i class="fa fa-li fa-clock-o"></i>angelegt am: @student.Student.Created</li>
                                        <li><i class="fa fa-li fa-university"></i>@student.Student.Curriculum.Organiser.Name (@student.Student.Curriculum.Organiser.ShortName)</li>
                                        @if (!string.IsNullOrEmpty(student.Student.Number))
                                        {
                                            <li><i class="fa fa-li fa-barcode"></i>Matrikelnummer: @student.Student.Number</li>
                                        }
                                        else
                                        {
                                            <li><i class="fa fa-li fa-barcode"></i>keine Matrikelnummer angegeben</li>
                                        }
                                        @if (student.Student.IsPartTime)
                                        {
                                            <li><i class="fa fa-li fa-code-fork"></i>in Teilzeit</li>
                                        }
                                        @if (student.Student.IsDual)
                                        {
                                            <li><i class="fa fa-li fa-industry"></i>als duales Studium</li>
                                        }
                                    </ul>
                                </div>
                                <div>
                                    <a href="@Url.Action("ChangeNumber", new {id = student.Student.Id})" class="btn btn-default">Matrikelnummer ändern</a>
                                    <a href="@Url.Action("ChangeCurriculum", new {id = student.Student.Id})" class="btn btn-default">Studiengang ändern</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="list-group-item">
                                <h5 class="list-group-item-heading">
                                    @student.Student.FirstSemester.Name bis @student.Student.LastSemester.Name: @student.Student.Curriculum.Name
                                </h5>
                                <div class="list-group-item-text">
                                    <ul class="fa-ul">
                                        <li><i class="fa fa-li fa-clock-o"></i>angelegt am: @student.Student.Created</li>
                                        <li><i class="fa fa-li fa-university"></i>@student.Student.Curriculum.Organiser.Name (@student.Student.Curriculum.Organiser.ShortName)</li>
                                        @if (!string.IsNullOrEmpty(student.Student.Number))
                                        {
                                            <li><i class="fa fa-li fa-barcode"></i>Matrikelnummer: @student.Student.Number</li>
                                        }
                                        else
                                        {
                                            <li><i class="fa fa-li fa-barcode"></i>keine Matrikelnummer angegeben</li>
                                        }
                                        @if (student.Student.IsPartTime)
                                        {
                                            <li><i class="fa fa-li fa-code-fork"></i>in Teilzeit</li>
                                        }
                                        @if (student.Student.IsDual)
                                        {
                                            <li><i class="fa fa-li fa-industry"></i>als duales Studium</li>
                                        }
                                        @if (student.Alumni != null)
                                        {
                                            <li><i class="fa fa-li fa-graduation-cap"></i>Bin Alumni dieses Studiengangs</li>
                                        }
                                        else
                                        {
                                            <li><i class="fa fa-li fa-graduation-cap"></i>Bin kein Alumni dieses Studiengangs</li>
                                        }
                                    </ul>
                                </div>
                                <div>
                                    @if (student.Student.LastSemester != null)
                                    {
                                        if (student.Alumni == null)
                                        {
                                            <a href="@Url.Action("Accept", "Alumni", new {id = student.Student.Id})" class="btn btn-default">Alumni werden</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Deny", "Alumni", new {id = student.Alumni.Id})" class="btn btn-default">Alumni löschen</a>
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

