@using System.Collections.Immutable
@using MyStik.TimeTable.Data
@model ICollection<MyStik.TimeTable.Web.Models.AlumniViewModel>
@{
    ViewBag.Title = "Studienbuch";
    var allStudents = Model.OrderBy(x => x.Student.FirstSemester.StartCourses).ToList();

    var db = new TimeTableDbContext();
}


<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")"><i class="bi bi-grid"></i></a></li>
            </ol>
        </nav>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Mein virtuelles Studienbuch / My virtual record of study</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    @foreach (var student in allStudents)
                    {
                        var admins = student.Student.Curriculum.Organiser.Members.Where(x => x.IsStudentAdmin).ToList();

                        var theses = db.Theses.Where(x => x.Student.Id == student.Student.Id).ToList();

                        var isActive = student.Student.LastSemester == null;
                        var cardBordeer = "";
                        var cardText = "text-muted";
                        if (isActive)
                        {
                            cardBordeer = "border-primary";
                            cardText = "";
                        }
                        <div class="col">
                            <div class="card @cardBordeer @cardText">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        @student.Student.Curriculum.Name (@student.Student.Curriculum.ShortName)
                                    </h5>
                                    <h6 class="card-subtitle mb-3">@student.Student.Curriculum.Organiser.Name (@student.Student.Curriculum.Organiser.ShortName)</h6>
                                    <div class="row mb-1">
                                        <div class="col-6">
                                            <div><i class="bi bi-upc"></i> Zeitraum:</div>
                                        </div>
                                        <div class="col-6">
                                            @if (isActive)
                                            {
                                                <div>seit @student.Student.FirstSemester.Name</div>
                                            }
                                            else
                                            {
                                                <div>von @student.Student.FirstSemester.Name bis @student.Student.LastSemester.Name</div>

                                            }
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-6">
                                            <div><i class="bi bi-gear-wide-connected"></i> Umfang:</div>
                                        </div>
                                        @if (student.Student.IsPartTime)
                                        {
                                            <div class="col-6">Teilzeit</div>
                                        }
                                        else
                                        {
                                            <div class="col-6">Vollzeit</div>
                                        }
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-6">
                                            <div><i class="bi bi-upc"></i> Matrikelnummer:</div>
                                        </div>
                                        <div class="col-6"> @student.Student.Number</div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-6">
                                            <div><i class="bi bi-mortarboard"></i> Abschlussarbeit(en):</div>
                                        </div>
                                        @if (theses.Any())
                                        {
                                            <div class="col-6">
                                                @foreach (var t in theses)
                                                {
                                                    if (string.IsNullOrEmpty(t.TitleDe))
                                                    {
                                                        <div><a href="@Url.Action("Index", "Thesis", new { id = t.Id })">ohne Titel</a></div>
                                                    }
                                                    else
                                                    {
                                                        <div><a href="@Url.Action("Index", "Thesis", new { id = t.Id })">@t.TitleDe</a></div>
                                                    }
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-6">Keine</div>
                                        }
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-6">
                                            <div><i class="bi bi-tags"></i> Kohorten:</div>
                                        </div>
                                        <div class="col-6">
                                            @if (student.Student.LabelSet != null && student.Student.LabelSet.ItemLabels.Any())
                                            {
                                                foreach (var label in student.Student.LabelSet.ItemLabels)
                                                {
                                                    <div>@label.Name</div>
                                                }
                                            }
                                            else
                                            {
                                                <div>Keine Angaben</div>
                                            }
                                        </div>
                                    </div>

                                    @if (isActive)
                                    {
                                        <a href="@Url.Action("ChangeNumber", new {id = student.Student.Id})" class="btn btn-outline-primary">Matrikelnummer ändern</a>
                                        @*
            <a href="@Url.Action("ChangeLabel", new {id = student.Student.Id})" class="btn btn-outline-primary">Kohorten ändern</a>
            <a href="@Url.Action("LeaveCurriculum", new {id = student.Student.Id})" class="btn btn-outline-danger">Studium beenden</a>
                                        *@
                                    }
                                    else
                                    {
                                        if (student.Alumni == null)
                                        {
                                            <a href="@Url.Action("Accept", "Alumni", new {id = student.Student.Id})" class="btn btn-outline-primary">Alumni werden</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Deny", "Alumni", new {id = student.Alumni.Id})" class="btn btn-outline-primary">Alumni löschen</a>
                                        }
                                    }
                                    <hr />
                                    <div class="row">
                                        <div class="alert alert-info">
                                            <p>Die hier aufgeführten Daten habe ich selber eingegeben. 
                                                Bei Unstimmigkeiten mit anderen Systemen wie primuss wende ich mich an die mir bekannten Ansprechpartner:innen meines Studienangebots.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <a href="@Url.Action("StartCurriculum")" class="btn btn-outline-primary">Neuen Studiengang beginnen / Select Curriculum</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

