@model ICollection<MyStik.TimeTable.Web.Models.SemesterSubscriptionOverviewModel>
@{
    ViewBag.Title = "Studiensemester";
}
<div class="panel panel-default">
    <div class="panel-body bg-fillter-hm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Meine Semestergruppen</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="fa fa-graduation-cap"></i>
                        <span class="caption-subject bold">Historie</span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="note note-danger">
                        <p>
                            <strong>Hinweis:</strong>
                        </p>
                        <p>Die Angabe einer Semestergruppe ist erforderlich, um sich ein Lehrveranstaltungen eintragen zu können.</p>
                        <p>Grund: aus organisatorischen Gründen muss sichergestellt sein, dass sich nur aktive Studierende in Lehrveranstaltungen eintragen.</p>
                    </div>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>Semester</th>
                            <th>Studiengang</th>
                            <th>Gruppe</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var sub in Model)
                        {
                            <tr>
                                <td>@sub.Semester.Name</td>
                                @if (sub.Group != null)
                                {
                                    <td>@sub.Group.CapacityGroup.CurriculumGroup.Curriculum.Name</td>
                                    <td>@sub.Group.GroupName</td>
                                    <td><a href="@Url.Action("UnSubscribe", new {id = sub.Semester.Id})" class="btn btn-default"><i class="fa fa-times"></i> Austragen</a></td>
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                    <td><a href="@Url.Action("Subscribe", new {id = sub.Semester.Id})" class="btn btn-default"><i class="fa fa-pencil"></i> Eintragen</a></td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





