@model MyStik.TimeTable.Web.Controllers.NotificationModel
@{
    ViewBag.Title = "PersonalMessage";
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css")" />
}


<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm(null, null, FormMethod.Post))
        {
            <div class="card">
                <div class="col-md-12 bg-secondary">
                    Standardfelder
                </div>
                <div class="row">
                    <div class="col-4">Titel</div>
                    <div class="col-8">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Titel" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">Nachrcht</div>
                    <div class="col-8">
                        @Html.TextBoxFor(m => m.Message, new { @class = "form-control", placeholder = "Nachricht" })
                    </div>
                </div>
                <div class="col-md-12 bg-secondary">
                    Benutzerdefinierte Felder
                </div>
                <div class="row">
                    <div class="col-4">Kategorie</div>
                    <div class="col-8">
                        @Html.TextBoxFor(m => m.Category, new { @class = "form-control", placeholder = "Kategorie" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">Autor</div>
                    <div class="col-8">
                        @Html.TextBoxFor(m => m.Author, new { @class = "form-control", placeholder = "Name des Autors" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">Dozent</div>
                    <div class="col-8">
                        @Html.TextBoxFor(m => m.Lecturer, new { @class = "form-control", placeholder = "Name des Dozenten" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">Raum</div>
                    <div class="col-8">
                        @Html.TextBoxFor(m => m.Room, new { @class = "form-control", placeholder = "Raum" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">Ursprüngliches Datum</div>
                    <div class="col-4">
                        @Html.TextBoxFor(m => m.originDate, new { @class = "form-control datepicker" })
                    </div>
                    <div class="col-4">
                        @Html.TextBoxFor(m => m.originTime, new { @class = "form-control timepicker timepicker-24" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">Neues Datum</div>
                    <div class="col-4">
                        @Html.TextBoxFor(m => m.newDate, new { @class = "form-control datepicker" })
                    </div>
                    <div class="col-4">
                        @Html.TextBoxFor(m => m.newTime, new { @class = "form-control timepicker timepicker-24" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">Datum der Änderung</div>
                    <div class="col-4">
                        @Html.TextBoxFor(m => m.changeDate, new { @class = "form-control datepicker" })
                    </div>
                    <div class="col-4">
                        @Html.TextBoxFor(m => m.changeTime, new { @class = "form-control timepicker timepicker-24" })
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-primary"><i class="bi-send"></i> Nachricht an die eigenen Geräte senden</button>
                <a class="btn btn-outline-secondary" href="@Url.Action("Index", "Dashboard")"><i class="bi-x"></i> Abbrechen</a>

            </div>
        }
    </div>
</div>

@section Scripts {

    <script type="text/javascript" src="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/fillter/scripts/datepicker.js")"></script>

    <script>

    var isInit = true;

    $(function() {

        $(document).ready(function() {
            initDatePicker("datepicker", "@ViewBag.Culture.DateTimeFormat.ShortDatePattern", "@ViewBag.Culture.Name");
        });

        $('.timepicker-24').timepicker({
            autoclose: true,
            minuteStep: 15,
            showSeconds: false,
            showMeridian: false
        });

        $('.timepicker').parent('.input-group').on('click', '.input-group-btn', function(e) {
            e.preventDefault();
            $(this).parent('.input-group').find('.timepicker').timepicker('showWidget');
        });

    });


    </script>


}

