@model MyStik.TimeTable.Web.Models.OccurrenceMailingModel


@{
                /**/

                ViewBag.Title = "Curriculum";
}


@section styles
{
    <link href="@Styles.Url("~/Assets/global/plugins/cleditor/jquery.cleditor.css")" rel="stylesheet" type="text/css" />

}



<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>E-Mail an Studierende eines Studiengangs</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="alert alert-warning">
                                <h5>Wichtige Information zum Mailversand:</h5>
                                <p>
                                    Bisher erfolgte der Versand von E-Mails unter Verwendung der HM-Mailserver.
                                    Damit konnte der aktuelle Benutzer als Absender der Mail eingetragen werden.
                                </p>
                                <p>
                                    Derzeit wird das Benachrichtigungssystem unter Berücksichtigung von
                                    Daten- und Urheberschutz grundlegend neu aufgebaut, z.B. um Push-Benachrichtigungen zu realisieren.
                                    Als erste Änderung werden ab sofort alle E-Mails als „Systemnachricht“ versendet. Absender ist folgende E-Mail Adresse: @ViewBag.SystemMail
                                </p>
                                <p>
                                    Es wird pro Empfänger eine separate E-Mail in folgender Form versendet:<br />
                                    <i>
                                        Sehr geehrte(r) [Vorname] [Nachname],<br />
                                        <a href="mailto:@ViewBag.UserRight.User.Email">@ViewBag.UserRight.User.FirstName @ViewBag.UserRight.User.LastName</a> hat Ihnen folgende Nachricht gesendet:<br />
                                        [Betreff]<br />
                                        [Nachricht]
                                    </i>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="alert alert-info">
                                <h5>Wichtige Hinweise zur Liste der Empfänger:</h5>
                                <p>Studierende müssen zu ihren aktuellen Studiengang das Semester angeben, in dem sie das Studium begonnen haben. Das entspricht dann in der Regel dem "Studiensemester".</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @using (Html.BeginForm("Curricula", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                            {
                                @Html.ValidationSummary(true)
                                <fieldset>
                                    @Html.ValidationSummary()
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CurrId, new { @class = "col-sm-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.CurrId, (IEnumerable<SelectListItem>)ViewBag.Curricula, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Subject, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Body, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(m => m.Body, new { @class = "form-control", rows = "10" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-4 col-md-8">
                                            <div class="checkbox">
                                                <label>
                                                    @Html.CheckBoxFor(m => m.IsImportant)
                                                    Diese Nachricht als <strong>"WICHTIG FÜR DAS STUDIUM"</strong> an alle Studierenden senden. <br />
                                                    Die individuellen Einstellungen im Benutzerprofil der Studierenden zur Steuerung der Benachrichtungen werden nicht berücksichtigt.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Anhänge</label>
                                        <div class="col-md-8">
                                            <div>
                                                <input type="file" name="Attachments" id="Attachment1" />
                                            </div>
                                            <div>
                                                <input type="file" name="Attachments" id="Attachment2" />
                                            </div>
                                            <div>
                                                <input type="file" name="Attachments" id="Attachment3" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-4 col-md-8">
                                            <input type="submit" value="Senden" class="btn btn-default" />
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts
{
    <script src="@Url.Content("~/Assets/global/plugins/cleditor/jquery.cleditor.min.js")" type="text/javascript"></script>

    <script>
        jQuery(document).ready(function () {
            $("#Body").cleditor();
        });
    </script>
}


