@model MyStik.TimeTable.Web.Models.OccurrenceMailingModel
@{
    ViewBag.Title = "Mail Teilnehmerliste";

    var onWaitingList = Model.Occurrence.Subscriptions.Count(x => x.OnWaitingList == true);
}

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.css")" />

}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Benachrichtung an Teilnehmende einer (Lehr-)Veranstaltung</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="alert alert-info">
                            <h5>Hinweise zum Mailversand</h5>
                            <p>
                                Es wird pro Empfänger eine separate E-Mail in folgender Form versendet:<br />
                                <i>
                                    Sehr geehrte(r) [Vorname] [Nachname],<br />
                                    <a href="mailto:@ViewBag.UserRight.User.Email">@ViewBag.UserRight.User.FirstName @ViewBag.UserRight.User.LastName</a> hat Ihnen folgende Nachricht gesendet:<br />
                                    [Betreff]<br />
                                    [Nachricht]
                                </i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.ValidationSummary(true)
                            <fieldset>
                                @Html.ValidationSummary()
                                @Html.HiddenFor(m => m.OccurrenceId)
                                <h5>Reichweite</h5>
                                <div class="mb-3">
                                    @Html.CheckBoxFor(item => item.UseParticipients, new { @class = "form-check-input" })
                                    <label class="form-check-label" for="UseParticipients">
                                        Status: Teilnehmer (@Model.Occurrence.Subscriptions.Count(x => x.OnWaitingList == false))
                                    </label>

                                </div>
                                <div class="mb-3">
                                    @Html.CheckBoxFor(item => item.UseWaitingList, new { @class = "form-check-input" })
                                    <label class="form-check-label" for="UseWaitingList">
                                        Status: Warteliste (@onWaitingList)
                                    </label>
                                    @if (onWaitingList > 0 && !Model.UseWaitingList)
                                    {
                                        <div class="alert alert-danger">
                                            <strong>Hinweis:</strong> Es sind Einträge auf der Warteliste vorhanden.
                                        </div>
                                    }
                                </div>
                                <div class="mb-3">
                                    @Html.LabelFor(m => m.Subject, new { @class = "col-md-2 form-label" })
                                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                                </div>
                                <div class="mb-3">
                                    @Html.LabelFor(m => m.Body, new { @class = "col-md-2 form-label" })
                                        @Html.TextAreaFor(m => m.Body, new { @class = "form-control", rows = "10" })
                                </div>
                                <div class="mb-3">
                                    <label class="col-md-2 form-label">Anhänge</label>
                                    <div class="col-md-10">
                                        <div>
                                            <input type="file" name="Attachments" id="Attachment1" />
                                        </div>
                                        <div>
                                            <input type="file" name="Attachments" id="Attachment2" />
                                        </div>
                                        <div>
                                            <input type="file" name="Attachments" id="Attachment3" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="col-md-10">
                                        <input type="submit" value="Senden" class="btn btn-outline-primary" />
                                    </div>
                                </div>
                            </fieldset>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.min.js")"></script>

    <script>
        jQuery(document).ready(function () {
            $("#Body").cleditor();
        });
    </script>
}
