@{
    ViewBag.Title = "Mailing";
    var orgName = ViewBag.Organiser.ShortName;
}

<div class="panel panel-default">
    <div class="panel-body bg-fillter-events">
        <div class="row">
            <div class="col-md-12">
                <h1>Mailing für @orgName</h1>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    E-Mail Verteiler "Alle Studierenden"
                </div>
                <div class="panel-body">
                    <h4>Hinweise</h4>
                    <p>Die Mail geht an</p>
                    <ul>
                        <li>Benutzer mit Status "Student", die sich im aktuellen Semester in einer Semestergruppe der @orgName eingetragen haben.</li>
                        <li>Benutzer mit Status "Staff" der @orgName</li>
                    </ul>
                    <p><strong>Wichtig:</strong> Es erhalten nur jene Benutzer eine E-Mail, die dies in ihrem Benutzerprofil aktiviert haben.</p>

                    <a href="@Url.Action("AllStudents")" class="btn btn-lg btn-primary"><i class="fa fa-envelope fa-2x"></i> Alle Studierenden (@orgName)</a>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    E-Mail Verteiler "Semestergruppen"
                </div>
                <div class="panel-body">
                    <h4>Hinweise</h4>
                    <p>Die Mail geht an</p>
                    <ul>
                        <li>Benutzer mit Status "Student", die sich in den ausgewählten Semestergruppe der @orgName eingetragen haben.</li>
                        <li>Im nächsten Schritt können Semestergruppen auch vergangener Semester ausgwählt werden.</li>
                    </ul>
                    <p><strong>Wichtig:</strong> Es erhalten nur jene Benutzer eine E-Mail, die dies in ihrem Benutzerprofil aktiviert haben.</p>

                    <a href="@Url.Action("StudentGroup")" class="btn btn-lg btn-primary"><i class="fa fa-envelope fa-2x"></i> Gruppe von Studierenden (@orgName)</a>

                </div>
            </div>
        </div>
    </div>
</div>

    @*
    <div class="col-md-6">
        <div class="panel panel-default ">
            <div class="panel-heading"><i class="fa fa-download"></i> Adresslisten (@ViewBag.Semester.Name)
            </div>

            @if (ViewBag.UserRight.User.MemberState != MemberState.Staff)
            {
                <div class="alert alert-dangerer">
                    <h4><i class="fa fa-ban"></i> Nicht verfügbar</h4>
                </div>

            }
            else
            {
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Studiengang</th>
                        <th>Liste</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in ViewBag.Curricula)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@Html.ActionLink("Alle Studierenden", "AdressList", new {id = item.Id})</td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </div>
    *@
    </div>
</div>


