@model MyStik.TimeTable.Web.Models.SemesterViewModel

@{
    ViewBag.Title = "Auswahl Kohorten";
}


@section styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.css")" />

}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Versand von Mails an Kohorten von @Model.Organiser.ShortName</h5>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    @Html.DropDownListFor(model => model.Semester, (IEnumerable<SelectListItem>)ViewBag.SemesterList, new { @class = "form-control", onchange = "onSemesterChanged()" })
                </div>
            </div>
            <div id="selectBody" class="card-body">
                <div id="semProfile"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Assets/libs/cleditor/jquery.cleditor.min.js")" type="text/javascript"></script>

    <script>
        var semesterId = "";
        var orgId = '@Model.Organiser.Id.ToString()';

        $(document).ready(function () {
            onSemesterChanged();
        });


        function onSemesterChanged() {
            semesterId = $('#Semester option:selected').val();

            $('#semProfile').html('');
            $('#loading').show();
            $.ajax(
                {
                    type: 'POST',
                    url: '@Url.Action("GroupList")',
                    data: {
                        semId: semesterId,
                        orgId: orgId
                    },
                    success: function (data, success, xhr) {
                        $('#semProfile').html(data);
                        $('#loading').hide();
                    },
                    error: function (data, type, ex) {
                        alert("Fehler beim laden der Daten." + ex);
                        $('#loading').hide();
                    }
                });
        }



        function toggleDateCheck(elem) {
            // das elem ist das HTML-Element
            // aus dem mache ich ein jQuery Element
            // dann erst kann ich die DOM Eigenschaft über attr ändern
            // damit sie später auch wieder über jQuery ausgewertet werden kann
            $("#" + elem.id).attr("checked", elem.checked);

            var list = $("#groupTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
            var n = list.length;

            if (n === 0) {
                $("#btnNext").addClass("disabled");
            } else {
                $("#btnNext").removeClass('disabled')
            }
        }


        function onSend() {
            var list = $("#groupTable > table > tbody > tr input[type='checkbox'][checked='checked']").get();
            var n = list.length;
            var groupList = new Array();
            var i;
            for (i = 0; i < n; i++) {
                groupList[i] = list[i].id;
            }


            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("StudentGroupSelect")',
                    data: {
                        semId: semesterId,
                        orgId: orgId,
                        GroupIds: groupList
                    },
                    success: function (data, success, xhr) {
                        $("#selectBody").html(data);
                        $("#Body").cleditor();
                    }
                });
        }


    </script>
}
