@model MyStik.TimeTable.Data.ActivityOrganiser

@{
    ViewBag.Title = "Create";
}

<div class="page-header">
    <h1>
        Veranstalter anlegen
    </h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ShortName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ShortName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ShortName)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.IsFaculty) Fakultät (oder zentrale Einrichtung)
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="IsStudent" id="IsStudent"> studentische Einrichtung
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Speichern</button>
                            <a href="@Url.Action("Index")" class="btn btn-default"> Abbrechen</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

