@using MyStik.TimeTable.Data
@model MyStik.TimeTable.Web.Models.StudyPlanViewModel

@{
    ViewBag.Title = "Studienplan";
}

@section styles
{
    <link href="@Url.Content("~/Assets/libs/datatables/dataTables.min.css")" rel="stylesheet" type="text/css" />
}



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Prüfungsplan @Model.Curriculum.Name (@Model.Curriculum.ShortName)</h4>
                <h5 class="card-subtitle">@Model.Semester.Name</h5>
                <div class="alert alert-danger"><strong>Wichtiger Hinweis:</strong> Diese Anzeige hier ist experimenteller Natur. Dies ist keine offizielle Liste.</div>
            </div>
            <div class="list-group">
                    <div class="list-group-item">
                        <div class="btn-group">
                            <a href="@Url.Action("Details", "Curriculum", new { id = Model.Curriculum.Id })" class="btn btn-outline-primary">
                                <i class="bi-chevron-left"></i> Studiengang
                            </a>
                        </div>
                    </div>
            </div>

            <table id="tabModules" class="table">
                <thead>
                    <tr>
                        <th>Slot</th>
                        <th>Modul</th>
                        <th>Modultitel</th>
                        <th>n LVs</th>
                        <th>Prüfungsform</th>
                        <th>Prüfer:innen</th>
                        <th>Details</th>
                        <th>Hilfsmittel</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var module in Model.Modules)
                    {
                        var accr = module.Accreditations.FirstOrDefault(x => x.Slot.AreaOption.Area.Curriculum.Id == Model.Curriculum.Id);
                        var exams = accr.ExaminationDescriptions.Where(x => x.Semester.Id == Model.Semester.Id).ToList();
                        var teachings = accr.TeachingDescriptions.Where(x => x.Semester.Id == Model.Semester.Id).ToList();

                        if (exams.Any())
                        {
                            foreach (var exam in exams)
                            {
                                <tr>
                                    <td><a href="@Url.Action("Slot", "Curriculum", new { id = accr.Slot.Id })">@accr.Slot.Tag</a></td>
                                    <td><a href="@Url.Action("Details", "ModuleDescription", new { id = accr.Module.Id })">@accr.Module.Tag</a></td>
                                    <td><a href="@Url.Action("Details", "ModuleDescription", new { id = accr.Module.Id })">@accr.Module.Name</a></td>
                                    <td>@teachings.Count</td>
                                    <td>@exam.ExaminationOption.OptionName</td>
                                    <td>
                                        @if (exam.FirstExminer != null)
                                        {
                                            <div>@exam.FirstExminer.FullName</div>
                                        }
                                        @if (exam.SecondExaminer != null)
                                        {
                                            <div>@exam.SecondExaminer.FullName</div>
                                        }
                                    </td>
                                    <td>@Html.Raw(exam.Conditions)</td>
                                    <td>@Html.Raw(exam.Utilities)</td>
                                </tr>
                            }
                        }
                        else
                        {
                <tr>
                    <td><a href="@Url.Action("Slot", "Curriculum", new { id = accr.Slot.Id })">@accr.Slot.Tag</a></td>
                    <td><a href="@Url.Action("Details", "ModuleDescription", new { id = accr.Module.Id })">@accr.Module.Tag</a></td>
                    <td><a href="@Url.Action("Details", "ModuleDescription", new { id = accr.Module.Id })">@accr.Module.Name</a></td>
                    <td>@teachings.Count</td>
                    <td>#NV</td>
                    <td>#NV</td>
                    <td></td>
                    <td></td>
                </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Assets/libs/datatables/dataTables.min.js")" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var t = $('#tabModules').DataTable({
                "paging": false,
                "order": [[0, 'asc']]
            });
        });
    </script>
}